<div class="ngdialog ngdialog-theme-default notifyOverlay" id="maitenancePage">
	<div class="ngdialog-overlay"></div>
	<div class="ngdialog-content" ng-cloak>
		<h2 ng-if="isMaintenanceMode" translate-cloak translate="COMMON.NOTIFY.SERVER_MAITENANCE"></h2>
	</div>
</div>

<div class="ngdialog ngdialog-theme-default notifyOverlay" id="criticalError">
	<div class="ngdialog-overlay"></div>
	<div class="ngdialog-content" ng-cloak>
		<h2 translate-cloak translate="COMMON.NOTIFY.CRITICAL_APP_ERROR"></h2>
	</div>
</div>

<div class="offline-dialog" id="offlineNotify" ng-class="{display: isOfflineMode}" ng-cloak>
	<div class="content flex flex-center flex-divided-large" ng-cloak>
		<div class="remove-p-margins" translate="COMMON.NOTIFY.YOU_ARE_OFFLINE"></div>
		<button class="button dont-disable" ng-click="checkOnlineState()">
			<span translate="COMMON.ACTION_RELOAD"></span>
			<i class="fa fa-spinner fa-spin" ng-if="offlineHealthCheckInProgress"></i>
		</button>
	</div>
</div>

<div loading ng-if="initFinished" class="globalLoading" show="globalLoading" delayed="1000"></div>

<div class="off-canvas-wrap" test-beacon="off-canvas-wrapper">
	<div class="fixed off-canvas-fixed">
		<navigation ng-if="initFinished"></navigation>
		<!-- <a class="exit-off-canvas js-off-canvas-overlay is-overlay-fixed" ng-click='toggleSidebar(false)'></a> -->
		<a class="exit-off-canvas" ng-click='toggleSidebar(false)'></a>
	</div>

	<div id="language-panel" style="display: none">
		<ul class="styled-list flag-list" ng-controller="LanguageChangeCtrl as languageChange">
			<li class="list-item" ng-if="languageChange.currentLanguage != 'cs'">
				<a ng-click="languageChange.switchLang('cs')">
					<i class="flag flag-cs"></i>
					<span translate="LANGUAGE.CZECH"></span>
				</a>
			</li>
			<li class="list-item" ng-if="languageChange.currentLanguage != 'en'">
				<a ng-click="languageChange.switchLang('en')">
					<i class="flag flag-en"></i>
					<span translate="LANGUAGE.ENGLISH"></span>
				</a>
			</li>
			<li class="list-item" ng-if="languageChange.currentLanguage != 'sk'">
				<a ng-click="languageChange.switchLang('sk')">
					<i class="flag flag-sk"></i>
					<span translate="LANGUAGE.SLOVAK"></span>
				</a>
			</li>
		</ul>
	</div>

	<div class="inner-wrap">
		<section id="homepage-hero">
			<div id="notify-offset-container"></div>
			<div class="all-visible max-width">
				<div ui-view class="main-container"></div>
				<div ng-click="top(); mixpanelTrackMoveToTop()" class="move2top show-for-scrolled show-for-large">
					<span ng-bind-html="topArrowText.top"></span>
					<span class="fa fa-caret-square-o-up"></span>
					<span ng-bind-html="topArrowText.bottom" ng-if="topArrowText.top"></span>
				</div>
			</div>
		</section>
	</div>
	
	<hearth-footer></hearth-footer>
</div>