@charset "UTF-8";
/* =======================================================================*
 * Main website template .SCSS source styles.                             *
 *                                                                        *
 * by Codevels (info@codevels.com), 2014                                  *
 * =======================================================================*/
/* ===== INCLUDES & IMPORTS ========================== */
/* =======================================================================*
 * Universal mixin and library .SCSS source styles.                       *
 *                                                                        *
 * by Codevels (info@codevels.com), 2014                                  *
 * =======================================================================*/
/* ===== INCLUDES & IMPORTS ========================== */
/* ===== GENERAL SETTINGS ============================ */
/* Pre-defined font families */
/* ===== MIX-INS/LIBRARIES ========================== */
/* SIZING & POSITIONING */
/* = Block object centralizer.
 * $height-margin   ~ top & bottom margins of the block.
 * $height          ~ height of the block.
 ============================================================== */
/* = Size of an element definition.
   $w ~ width of an element.
   $h ~ height of an element.
=============================================================== */
/* = Sets element positioning to absolute and positions it.
   $l   ~ Dimension of the left position.
   $t   ~ Dimension of the top position.
   $r   ~ Dimension of the right position.
   $n   ~ Dimension of the bottom position.
=============================================================== */
/* = Sets element as fixed.
   $z-index  ~ Z axis index (higher means more visible).
=============================================================== */
/* = Sets element positioning to relative and positions it to 
     shift the element.
   $top     ~ Dimension of the top position
=============================================================== */
/* FONTS, TYPOGRAPHY & THEIR APPEARANCE */
/* = Adds new font available to use on the web
   $url     ~ Font file including suffix
   $name    ~ Name of this font
=============================================================== */
/* = Simple text shadow.
   $color       ~ color of the shadow (default: #000)
   $distance    ~ ditance from the text
   $spread      ~ spread of the shadow
   $opacity     ~ shadows' opacity from 0 to 1 (default: 0.5)
=============================================================== */
/* = Full settings of the text. 
   $color       ~ Colour of the text ( default: inherit )
   $family      ~ Whole font family including backup/system fonts ( default: inherit )
   $size        ~ Size of the font ( default: default size )
   $lines       ~ Height of the text line, absolute or relative to size ( default: normal )
   $weight      ~ Weight of the font, ie.: bold ( default: normal )
   $style       ~ Style of the font, ie.: italic ( default: normal )
=============================================================== */
/* = Custom text parameters.
   $color       ~ Colour of the text.
   $family      ~ Whole font family including backup/system fonts.
   $size        ~ Size of the font.
   $lines       ~ Height of the text line, absolute or relative to size.
   $weight      ~ Weight of the font, ie.: bold.
   $decoration  ~ Font decoration, ie.: underline.
   $style       ~ Style of the font, ie.: italic.
=============================================================== */
/* IMAGES & ICONS */
/* = Provides access to vector/font-based icons Font Awesome. 
 * $size    ~ Size of the icon
 * $color   ~ Icon's color
=============================================================== */
/* = Picture for background element.
   $url             ~ picture's URI.
   $bg-settings     ~ other background settings (default: no-repeat).
=============================================================== */
/* = Image-only for a background element.
   $url             ~ image's URI.
=============================================================== */
/* = Picture for background element.
 * $url             ~ picture's URI.
 * $$bg-settings    ~ other background settings (default: no-repeat).
=============================================================== */
/* = Custom image for a unordered list bullet point.
   $url             ~ custom image's URI.
=============================================================== */
/* = Turns element into image, sets up size and uncached URL.
 * $img-name    ~ Name of the image, including image type suffix.
=============================================================== */
/* = Set-ups size according to the real size of the image.
   $img-name    ~ Name of the image, including image type suffix.
=============================================================== */
/* = Turns element into mobile-optimized image, sets up size and uncached URL.
     Oposed to mixin img, there are additional cross-browser settings.
   $img-name    ~ Name of the image, including image type suffix.
=============================================================== */
/* = Adds cross-browser background image attributes. Mostly used to  
     deal with mobile browsers' background image incompatibility issues.
=============================================================== */
/* = Adds cross-browser cover. Mostly used to deal with mobile 
     browsers' CSS background image incompatibility issues.
=============================================================== */
/* BOX APPEREANCE */
/* = Creates triangle-like shape, mostly used as a dropdown button's icon.
   $size            ~ Approximate size of the triangle's base.
   $color           ~ Color of the triangle.
   $direction       ~ In which direction should be the triangle pointing.
=============================================================== */
/* = Creates triangle-like shape, mostly used as a dropdown button's icon.
   $color           ~ Color of the triangle.
   $direction       ~ In which direction should be the triangle pointing.
=============================================================== */
/* = Adds hover (+ focus & click) effects to the given element.
   $color           ~ Text color after hover/focus/click.
   $text-decoration ~ Which type of text-decoration should be 
                      for text after hovering/focusing/clicking.
   $selector        ~ Can add optional tag.
   $content         ~ More options can be specified using {} after mixin call.
=============================================================== */
/* = Rounds the corners of the box.
   $radius  ~ Radius of rounded corner in pxs (default: default 
              size of the template settings. )
=============================================================== */
/* = Simple linear gradient, from top to bottom, 2 colours.
   $s-color     ~ starting color, on the top of the gradient
   $e-color     ~ ending color, on the bottom of the gradient
   $bg-color    ~ backward compatibility. Do NOT use
=============================================================== */
/* = Simple element shadow.
   $color   ~ color of the shadow (default: #000)
   $size    ~ size of the shadow
   $opacity ~ shadows' opacity from 0 to 1 (default: 0.5)
=============================================================== */
/* VISUAL EFFECTS */
/* = Item's transition.
   $params   ~ Style, duration and animation effect.
 =============================================================== */
/* BOX-MODEL */
/* = Creates an object form non-positionable pseudo-element 
     (Typically being used for :before and :after).
   $position    ~ Position. Must be non-static to work.
   $display     ~ Display. Must be non-inline to work.
   $content     ~ ASCII textual content. Must be non-NULL to work.
=============================================================== */
/* FORMS & INPUTS */
/* = Color of the text inside input 'placeholder'
   $text-color   ~ Placeholder's text color
   $opacity      ~ Opacity of the text (default: 1)
 =============================================================== */
/* = Hack for overriding Chrome auto-complete layout force overlay.
   $background   ~ Background color
   $color        ~ Color of the text (default: inherit)
   $box-shadows  ~ Additional inset or outter shadows (default: none)
 =============================================================== */
/* = Backface visiblity across all major browsers
   $backface-visibility   ~ Attribute of parameter backface visibility.
 =============================================================== */
/* line 5, ../../../../../../home/ploski-tp/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../home/ploski-tp/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../home/ploski-tp/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../home/ploski-tp/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../home/ploski-tp/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../home/ploski-tp/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../home/ploski-tp/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../home/ploski-tp/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../home/ploski-tp/.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* =======================================================================*
 * Global variables and layout settings, .SCSS source styles.             *
 *                                                                        *
 * by Codevels (info@codevels.com), 2014                                  *
 * =======================================================================*/
/* ===== VARIABLES ==================================== */
/* Dimensions */
/* Colours */
/* Font weights */
/* Project-related Mixins */
/* ===== PROJECT-BASED MIXINS ========================= */
/* ===== BASIC (DEFAULT) STYLES ======================= */
/* line 92, ../../app/sass/app/_vars.scss */
html, body {
  height: 100%;
}

/* line 94, ../../app/sass/app/_vars.scss */
body {
  font-family: "Open Sans", "Helvetica", "Arial", "sans-serif";
  font-size: 16px;
  color: #231f20;
  font-size: 16px;
  line-height: 25px;
}

/* line 102, ../../app/sass/app/_vars.scss */
* {
  box-sizing: border-box;
}

/* line 105, ../../app/sass/app/_vars.scss */
a, input[type="submit"], a:before, a > img {
  color: inherit;
  outline: none !important;
  text-decoration: none;
}

/* line 113, ../../app/sass/app/_vars.scss */
.face, .face > img, .menu > li > a, .links a {
  transition: all 0.35s ease;
}

/* =======================================================================*
 * Custom fonts .SCSS source styles.                                      *
 *                                                                        *
 * by Codevels (info@codevels.com), 2014                                  *
 * =======================================================================*/
/* ===== INCLUDES & IMPORTS ========================== */
/* Importing Font Awesome */
/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts//fontawesome-webfont.eot?v=4.2.0");
  src: url("../fonts//fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts//fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts//fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts//fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================================*
 * UI items used across whole website, SCSS source styles.                *
 *                                                                        *
 * by Codevels (info@codevels.com), 2014                                  *
 * =======================================================================*/
/* ===== ICONS & IMAGES ========================== */
/* line 10, ../../app/sass/app/_globals.scss */
.ico {
  font-size: 40px;
}
/* line 15, ../../app/sass/app/_globals.scss */
.ico:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 18, ../../app/sass/app/_globals.scss */
.ico.fb:before {
  content: "";
}
/* line 19, ../../app/sass/app/_globals.scss */
.ico.tw:before {
  content: "";
}
/* line 20, ../../app/sass/app/_globals.scss */
.ico.yt:before {
  content: "";
}
/* line 21, ../../app/sass/app/_globals.scss */
.ico.insta:before {
  content: "";
}
/* line 22, ../../app/sass/app/_globals.scss */
.ico.mail:before {
  content: "";
}

/* ===== BUTTONS ================================= */
/* line 29, ../../app/sass/app/_globals.scss */
.content .btn {
  color: #FFF;
  background-color: #369edb;
  border-color: #1fb1e8;
  padding: 12px 30px;
  font-size: 15px;
  line-height: 1;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  white-space: nowrap;
}
/* line 11, ../../app/sass/vendors/bootstrap/mixins/_buttons.scss */
.content .btn:hover, .content .btn:focus, .content .btn.focus, .content .btn:active, .content .btn.active, .open > .content .btn.dropdown-toggle {
  color: #FFF;
  background-color: #2283bc;
  border-color: #138ab7;
}
/* line 21, ../../app/sass/vendors/bootstrap/mixins/_buttons.scss */
.content .btn:active, .content .btn.active, .open > .content .btn.dropdown-toggle {
  background-image: none;
}
/* line 29, ../../app/sass/vendors/bootstrap/mixins/_buttons.scss */
.content .btn.disabled, .content .btn.disabled:hover, .content .btn.disabled:focus, .content .btn.disabled.focus, .content .btn.disabled:active, .content .btn.disabled.active, .content .btn[disabled], .content .btn[disabled]:hover, .content .btn[disabled]:focus, .content .btn[disabled].focus, .content .btn[disabled]:active, .content .btn[disabled].active, fieldset[disabled] .content .btn, fieldset[disabled] .content .btn:hover, fieldset[disabled] .content .btn:focus, fieldset[disabled] .content .btn.focus, fieldset[disabled] .content .btn:active, fieldset[disabled] .content .btn.active {
  background-color: #369edb;
  border-color: #1fb1e8;
}
/* line 40, ../../app/sass/vendors/bootstrap/mixins/_buttons.scss */
.content .btn .badge {
  color: #369edb;
  background-color: #FFF;
}
/* line 373, ../../app/sass/libs/_base.scss */
.content .btn:hover, .content .btn:active, .content .btn:focus {
  color: #fff;
  background: #6eb9e5;
}

/* line 46, ../../app/sass/app/_globals.scss */
.btn-close {
  font-weight: 800;
  font-size: 50px;
  opacity: .6;
}
/* line 373, ../../app/sass/libs/_base.scss */
.btn-close:hover, .btn-close:active, .btn-close:focus {
  opacity: 1;
}

/* =======================================================================*
 * Site's dynamic content and static pages, .SCSS source styles.          *
 *                                                                        *
 * by Codevels (info@codevels.com), 2014                                  *
 * =======================================================================*/
/* ===== LANDING PAGE ============================ */
/* line 11, ../../app/sass/app/_pages.scss */
.subpage {
  overflow: hidden;
  margin: 60px 0;
}
/* line 14, ../../app/sass/vendors/bootstrap/mixins/_clearfix.scss */
.subpage:before, .subpage:after {
  content: " ";
  display: table;
}
/* line 19, ../../app/sass/vendors/bootstrap/mixins/_clearfix.scss */
.subpage:after {
  clear: both;
}
/* line 17, ../../app/sass/app/_pages.scss */
.subpage h2 {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 700;
}
/* line 24, ../../app/sass/app/_pages.scss */
.subpage p {
  margin-bottom: 20px;
}
/* line 25, ../../app/sass/app/_pages.scss */
.subpage .btns {
  text-align: center;
  margin-top: 30px;
}
/* line 27, ../../app/sass/app/_pages.scss */
.subpage .pic {
  margin: 10px 0;
}
/* line 32, ../../app/sass/app/_pages.scss */
.subpage .subpage-pic {
  float: left;
}
/* line 39, ../../app/sass/app/_pages.scss */
.subpage:after {
  position: relative;
  display: block;
  content: " ";
  width: 980px;
  height: 23px;
  background: url('/img/subpage-delim.png');
  margin-top: 60px;
}
/* line 48, ../../app/sass/app/_pages.scss */
.subpage:last-child:after {
  display: none;
}

/* line 56, ../../app/sass/app/_pages.scss */
.illustrations {
  text-align: center;
  margin-bottom: 40px;
}
/* line 61, ../../app/sass/app/_pages.scss */
.illustrations > li {
  display: inline-block;
  margin: 10px 0;
}
/* line 66, ../../app/sass/app/_pages.scss */
.illustrations > li > strong {
  font-weight: 600;
}
/* line 69, ../../app/sass/app/_pages.scss */
.illustrations > li, .illustrations .pic {
  width: 180px;
}
/* line 71, ../../app/sass/app/_pages.scss */
.illustrations .pic {
  margin-bottom: 10px;
}

/* line 75, ../../app/sass/app/_pages.scss */
.people {
  text-align: center;
}

/* line 80, ../../app/sass/app/_pages.scss */
.person {
  display: inline-block;
  vertical-align: top;
  margin: 40px 0;
  padding: 0 30px;
  width: 49%;
}
/* line 89, ../../app/sass/app/_pages.scss */
.person .portrait {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
/* line 95, ../../app/sass/app/_pages.scss */
.person .name, .person .occupation {
  font-weight: 600;
}
/* line 97, ../../app/sass/app/_pages.scss */
.person .name {
  font-size: 28px;
  margin-bottom: 10px;
}
/* line 103, ../../app/sass/app/_pages.scss */
.person .name:after {
  position: relative;
  display: block;
  content: " ";
  width: 400px;
  height: 4px;
  background: url('/img/person-delim.png');
  margin-top: 10px;
}
/* line 111, ../../app/sass/app/_pages.scss */
.person .occupation {
  font-size: 18px;
  line-height: 1.25;
  height: 50px;
}
/* line 118, ../../app/sass/app/_pages.scss */
.person blockquote {
  line-height: 1.5;
}

/* line 125, ../../app/sass/app/_pages.scss */
.social-pane {
  float: right;
  width: 500px;
  height: 600px;
}
/* line 130, ../../app/sass/app/_pages.scss */
.social-pane iframe {
  width: 100%;
}

/* line 134, ../../app/sass/app/_pages.scss */
.news-list {
  float: left;
  width: 400px;
}

/* line 140, ../../app/sass/app/_pages.scss */
.social-pane, .news-list {
  margin-bottom: 40px;
}

/* line 143, ../../app/sass/app/_pages.scss */
.news-overview {
  overflow: hidden;
  border-bottom: 1px solid #ecebdf;
  margin: 5px 0;
  padding: 10px 0;
}
/* line 150, ../../app/sass/app/_pages.scss */
.news-overview:last-child {
  border-bottom: 0;
}
/* line 152, ../../app/sass/app/_pages.scss */
.news-overview > header {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 156, ../../app/sass/app/_pages.scss */
.news-overview > header a {
  color: #333;
}
/* line 157, ../../app/sass/app/_pages.scss */
.news-overview > header > time {
  float: right;
  color: #383838;
  font-size: 15px;
  margin-left: 12px;
}
/* line 164, ../../app/sass/app/_pages.scss */
.news-overview > header > time:before {
  position: relative;
  display: inline-block;
  content: " ";
  position: relative;
  top: 2px;
  margin-right: 7px;
  width: 14px;
  height: 15px;
  background: url('/img/ico-clock.png');
}
/* line 173, ../../app/sass/app/_pages.scss */
.news-overview > header > h3 {
  font-size: 18px;
  font-weight: 600;
}
/* line 181, ../../app/sass/app/_pages.scss */
.news-overview .abstract {
  line-height: 1.5;
}
/* line 185, ../../app/sass/app/_pages.scss */
.news-overview .abstract > p {
  margin-bottom: 8px;
}
/* line 188, ../../app/sass/app/_pages.scss */
.news-overview .btns {
  text-align: right;
  margin-bottom: 20px;
}
/* line 195, ../../app/sass/app/_pages.scss */
.news-overview .more {
  color: #1fb1e8;
  text-decoration: underline;
  font-weight: 600;
}
/* line 373, ../../app/sass/libs/_base.scss */
.news-overview .more:hover, .news-overview .more:active, .news-overview .more:focus {
  color: #1491c0;
  text-decoration: none;
}

/* line 206, ../../app/sass/app/_pages.scss */
.gallery {
  text-align: center;
  margin-bottom: 20px;
}

/* line 214, ../../app/sass/app/_pages.scss */
#subpage-about .values {
  clear: both;
}
/* line 216, ../../app/sass/app/_pages.scss */
#subpage-about .values .values-list {
  float: right;
  width: 20%;
  margin-top: 2.5rem;
}
/* line 220, ../../app/sass/app/_pages.scss */
#subpage-about .values .values-list li {
  list-style-type: none;
  font-weight: bold;
  margin-bottom: .3rem;
}
/* line 226, ../../app/sass/app/_pages.scss */
#subpage-about .values .values-image {
  float: left;
}
/* line 228, ../../app/sass/app/_pages.scss */
#subpage-about .values .values-image img {
  max-width: 700px;
}

/* ===== STORIES ================================= */
/* Single story page */
/* line 243, ../../app/sass/app/_pages.scss */
.story > header {
  z-index: 9999;
  top: 0;
  height: 120px;
  position: absolute;
}
/* line 251, ../../app/sass/app/_pages.scss */
.story img.logo {
  margin-left: 30px;
  width: 250px;
  height: auto;
}
/* line 258, ../../app/sass/app/_pages.scss */
.story .btn-close {
  line-height: 1.4;
  font-size: 30px;
  margin: 0 60px;
  float: right;
}

/* line 267, ../../app/sass/app/_pages.scss */
.story-bg {
  background: url("../img/story-bg.jpg") repeat;
  z-index: 0;
  position: absolute;
  background-position: 0px 0px;
  animation: animatedBackground 80s linear infinite;
  -webkit-animation: animatedBackground 80s linear infinite;
  width: 5700px;
  height: 1800px;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -300px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -300px 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* line 294, ../../app/sass/app/_pages.scss */
.story-board {
  z-index: 99;
  height: 100%;
}

/* line 301, ../../app/sass/app/_pages.scss */
.story-page {
  position: relative;
  float: left;
  width: 1200px;
  height: 800px;
  margin-right: 0;
}
/* line 311, ../../app/sass/app/_pages.scss */
.story-page:last-child {
  margin-right: 0;
}
/* line 313, ../../app/sass/app/_pages.scss */
.story-page .left, .story-page .right {
  overflow: hidden;
  height: 100%;
  position: relative;
  float: left;
  width: 50%;
}
/* line 322, ../../app/sass/app/_pages.scss */
.story-page .left {
  text-align: right;
}
/* line 326, ../../app/sass/app/_pages.scss */
.story-page .left > h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 30px 0;
  padding-left: 25px;
}
/* line 333, ../../app/sass/app/_pages.scss */
.story-page .left .story-content {
  padding-left: 25px;
  margin-right: 45px;
}
/* line 339, ../../app/sass/app/_pages.scss */
.story-page .left .pic-container {
  right: 0;
}
/* line 344, ../../app/sass/app/_pages.scss */
.story-page .face {
  position: absolute;
  left: 0;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-top: -95px;
  margin-left: -215px;
}
/* line 352, ../../app/sass/app/_pages.scss */
.story-page .item {
  position: absolute;
  left: 0;
  margin-top: 40px;
  margin-left: -120px;
}
/* line 364, ../../app/sass/app/_pages.scss */
.story-page .received {
  width: 300px;
  height: 139px;
}
/* line 369, ../../app/sass/app/_pages.scss */
.story-page > .story-content {
  text-align: center;
}
/* line 372, ../../app/sass/app/_pages.scss */
.story-page > .story-content .about {
  position: relative;
  width: 30%;
  text-align: left;
  margin: 3% 45px 0 30%;
  padding-left: 60px;
}
/* line 382, ../../app/sass/app/_pages.scss */
.story-page .btn-cta {
  margin: 35px 0;
  font-size: 30px;
  padding: 20px 65px;
}
/* line 389, ../../app/sass/app/_pages.scss */
.story-page .right {
  text-align: left;
}
/* line 394, ../../app/sass/app/_pages.scss */
.story-page .right .story-content {
  margin-left: 45px;
}
/* line 395, ../../app/sass/app/_pages.scss */
.story-page .right .pic-container {
  left: 0;
}
/* line 397, ../../app/sass/app/_pages.scss */
.story-page .right > h1 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 0 30px 0;
  padding-right: 25px;
}
/* line 406, ../../app/sass/app/_pages.scss */
.story-page .pic-container {
  overflow: hidden;
  position: absolute;
  top: 50%;
  display: block;
  margin-top: -360px;
  width: 900px;
  height: 900px;
}
/* line 414, ../../app/sass/app/_pages.scss */
.story-page .pic-container > img {
  width: 900px;
  height: 900px;
  border-radius: 50%;
}
/* line 421, ../../app/sass/app/_pages.scss */
.story-page h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.2;
}
/* line 428, ../../app/sass/app/_pages.scss */
.story-page h2, .story-page .about {
  font-size: 16px;
  margin-right: 11%;
}
/* line 434, ../../app/sass/app/_pages.scss */
.story-page h2 {
  margin-bottom: 25px;
  text-align: right;
  font-weight: 700;
}
/* line 441, ../../app/sass/app/_pages.scss */
.story-page .about {
  text-align: center;
  border-radius: 25px;
  padding: 20px;
}
/* line 448, ../../app/sass/app/_pages.scss */
.story-page .orange-border {
  border: 3px solid #fa5800;
}
/* line 454, ../../app/sass/app/_pages.scss */
.story-page .next-button {
  margin-top: 20px;
}
/* line 459, ../../app/sass/app/_pages.scss */
.story-page .btn-more, .story-page .btn-bottom-continue, .story-page .btn-continue {
  position: absolute;
  right: 0px;
  bottom: 0;
  margin: 0 5% 0 0;
  padding: 20px 25px 2% 25px;
  font-size: 20px;
  font-weight: 700;
  background: #fa5800;
  color: #ffc9ac;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
/* line 373, ../../app/sass/libs/_base.scss */
.story-page .btn-more:hover, .story-page .btn-bottom-continue:hover, .story-page .btn-continue:hover, .story-page .btn-more:active, .story-page .btn-bottom-continue:active, .story-page .btn-continue:active, .story-page .btn-more:focus, .story-page .btn-bottom-continue:focus, .story-page .btn-continue:focus {
  color: #FFF;
}
/* line 473, ../../app/sass/app/_pages.scss */
.story-page .btn-bottom-continue {
  position: absolute;
  right: 220px;
  bottom: 0;
}
/* line 479, ../../app/sass/app/_pages.scss */
.story-page .btn-continue {
  border-radius: 8px;
  position: relative;
  top: 50px;
  padding: 15px;
}

/* line 492, ../../app/sass/app/_pages.scss */
.story-content {
  position: relative;
  top: 20%;
}
/* line 497, ../../app/sass/app/_pages.scss */
.story-content h1 {
  margin-bottom: 5px;
  border-bottom: 3px solid #fa5800;
}

/* line 507, ../../app/sass/app/_pages.scss */
.story-page .animated {
  transition: all 1s linear;
  visibility: hidden;
}
/* line 511, ../../app/sass/app/_pages.scss */
.story-page .animated.from-right {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}
/* line 515, ../../app/sass/app/_pages.scss */
.story-page .animated.from-left {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}
/* line 519, ../../app/sass/app/_pages.scss */
.story-page .animated.from-top {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
}
/* line 523, ../../app/sass/app/_pages.scss */
.story-page .animated.from-bottom {
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
}
/* line 530, ../../app/sass/app/_pages.scss */
.story-page.active .animated {
  visibility: inherit;
}
/* line 533, ../../app/sass/app/_pages.scss */
.story-page.active .animated.from-right, .story-page.active .animated.from-left {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
/* line 537, ../../app/sass/app/_pages.scss */
.story-page.active .animated.from-top, .story-page.active .animated.from-bottom {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/* ===== OVERALL LAYOUT ============================= */
/* line 43, ../../app/sass/style.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  width: 980px;
}
/* line 14, ../../app/sass/vendors/bootstrap/mixins/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 19, ../../app/sass/vendors/bootstrap/mixins/_clearfix.scss */
.container:after {
  clear: both;
}

/* line 52, ../../app/sass/style.scss */
body > header {
  min-width: 980px;
  min-height: 500px;
  background-color: #98b56b;
  background: url("../img/cover2.jpg"), linear-gradient(to right, #9a814c 0%, #9a814c 38%, #b7c97e 51%, #77965a 64%, #77965a 100%);
  background-position: center top;
  background-repeat: no-repeat;
}
/* line 60, ../../app/sass/style.scss */
body > header > div.header-content {
  background: url("../img/dots-and-lines.png") no-repeat center 43%;
}
/* line 65, ../../app/sass/style.scss */
body > footer {
  padding: 35px 0;
  background: rgba(208, 207, 197, 0.6);
  min-width: 980px;
}
/* line 75, ../../app/sass/style.scss */
body.story > header, body.story .body {
  background: transparent;
}
/* line 79, ../../app/sass/style.scss */
body.stickify-down {
  padding-bottom: 50px;
}
/* line 83, ../../app/sass/style.scss */
body.stickify-down .sticky-panel {
  bottom: 0;
  position: fixed;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) -1px 0 14px;
}
/* line 93, ../../app/sass/style.scss */
body.stickify-up {
  padding-top: 50px;
}
/* line 97, ../../app/sass/style.scss */
body.stickify-up .sticky-panel {
  top: 0;
  z-index: 99999;
  position: fixed;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 1px 0 8px;
}

/* english version */
/* line 109, ../../app/sass/style.scss */
body.lang-en header > div.header-content {
  background: none;
}
/* line 112, ../../app/sass/style.scss */
body.lang-en .face-deck {
  position: relative;
  top: 30px;
  width: 100%;
  height: 460px;
  margin: 0 auto;
  text-align: center;
}
/* line 119, ../../app/sass/style.scss */
body.lang-en .face-deck .face-en {
  vertical-align: top;
  display: inline-block;
  margin-right: 20px;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  box-sizing: content-box;
  border: 10px solid #fff;
}
/* line 128, ../../app/sass/style.scss */
body.lang-en .face-deck .face-en img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
/* line 133, ../../app/sass/style.scss */
body.lang-en .face-deck .face-en > div {
  opacity: 0;
  color: #fff;
  font-size: 21px;
  transition: all .2s ease-out;
  top: -357px;
  display: block;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  padding: 130px 40px;
  background: #446142;
  position: relative;
}
/* line 146, ../../app/sass/style.scss */
body.lang-en .face-deck .face-en > div > span {
  display: block;
}
/* line 151, ../../app/sass/style.scss */
body.lang-en .face-deck .face-en:hover > div {
  opacity: .8;
}

/* ===== HEADER & INTRODUCTION ====================== */
/* line 166, ../../app/sass/style.scss */
.logo-strip {
  padding: 15px 0 5px;
  border-bottom: 5px solid #fa5800;
}
/* line 171, ../../app/sass/style.scss */
.logo-strip .logo {
  width: 321px;
  height: 56px;
}

/* line 179, ../../app/sass/style.scss */
.strip-btns {
  text-align: right;
}
/* line 183, ../../app/sass/style.scss */
.strip-btns .btn {
  position: relative;
  top: -2px;
  float: right;
  display: inline-block;
  padding: 5px 30px 8px;
  margin: 0px 20px;
  background: #fa5800;
  color: #EAEAEA;
  font-size: 29px;
  line-height: 1.3;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 373, ../../app/sass/libs/_base.scss */
.strip-btns .btn:hover, .strip-btns .btn:active, .strip-btns .btn:focus {
  color: #FFF;
}

/* line 200, ../../app/sass/style.scss */
.flag {
  display: block;
  font-size: 29px;
  line-height: 1.3;
  width: 32px;
  height: 23px;
  margin: 6.5px;
  background-repeat: no-repeat;
}
/* line 208, ../../app/sass/style.scss */
.flag.flag-en {
  background: url(../img/flag-english.svg);
  background-size: 32px 23px;
}
/* line 212, ../../app/sass/style.scss */
.flag.flag-cs {
  background: url(../img/flag-czech.svg);
  background-size: 32px 23px;
}

/* line 220, ../../app/sass/style.scss */
.intro {
  text-align: center;
}
/* line 14, ../../app/sass/vendors/bootstrap/mixins/_clearfix.scss */
.intro:before, .intro:after {
  content: " ";
  display: table;
}
/* line 19, ../../app/sass/vendors/bootstrap/mixins/_clearfix.scss */
.intro:after {
  clear: both;
}

/* line 234, ../../app/sass/style.scss */
.face-deck {
  position: relative;
  top: 30px;
  width: 70%;
  height: 460px;
  margin: 0 auto;
  text-align: center;
}
/* line 242, ../../app/sass/style.scss */
.face-deck .face {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 7px solid #FFF;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/* line 255, ../../app/sass/style.scss */
.face-deck .face > img {
  display: inline-block;
  width: 190px;
  height: 190px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/* line 373, ../../app/sass/libs/_base.scss */
.face-deck .face:hover, .face-deck .face:active, .face-deck .face:focus {
  width: 200px !important;
  height: 200px !important;
  box-shadow: #FFF 0 0 45px !important;
  margin-top: -5px;
  margin-left: -5px;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
/* line 273, ../../app/sass/style.scss */
.face-deck .face:hover > img, .face-deck .face:active > img, .face-deck .face:focus > img {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  width: 200px !important;
  height: 200px !important;
}
/* line 279, ../../app/sass/style.scss */
.face-deck .face.first {
  left: -25%;
  top: 200px;
}
/* line 280, ../../app/sass/style.scss */
.face-deck .face.second {
  left: 250px;
  top: -20px;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
/* line 280, ../../app/sass/style.scss */
.face-deck .face.second > img {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
/* line 281, ../../app/sass/style.scss */
.face-deck .face.third {
  left: 90%;
  top: 275px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
/* line 281, ../../app/sass/style.scss */
.face-deck .face.third > img {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: none;
  }
  10% {
    box-shadow: #FFF 0 0 40px;
  }
  20% {
    box-shadow: none;
  }
}

@keyframes pulse {
  0% {
    box-shadow: none;
  }
  10% {
    box-shadow: #FFF 0 0 40px;
  }
  20% {
    box-shadow: none;
  }
}
@-webkit-keyframes pulseImg {
  0% {
    width: 190px;
    height: 190px;
    margin: 0;
  }
  10% {
    width: 200px;
    height: 200px;
    margin-top: -5px;
    margin-left: -5px;
  }
  20% {
    width: 190px;
    height: 190px;
    margin: 0;
  }
}
@keyframes pulseImg {
  0% {
    width: 190px;
    height: 190px;
    margin: 0;
  }
  10% {
    width: 200px;
    height: 200px;
    margin-top: -5px;
    margin-left: -5px;
  }
  20% {
    width: 190px;
    height: 190px;
    margin: 0;
  }
}
/* line 301, ../../app/sass/style.scss */
.claim-container {
  position: relative;
  top: 30px;
}

/* line 306, ../../app/sass/style.scss */
.headline {
  text-transform: uppercase;
  color: #1c1c1b;
  font-size: 60px;
  line-height: normal;
  font-weight: 700;
  color: #446142;
}

/* line 313, ../../app/sass/style.scss */
.claim {
  font-size: 25px;
  color: #333;
}

/* line 316, ../../app/sass/style.scss */
.btn-cta {
  display: inline-block;
  padding: 25px 150px;
  margin: 50px 0 70px;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
  background: #369edb;
  background-color: #369edb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2OWVkYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2OTJkMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: linear-gradient(#369edb, #2692d2);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 3px 5px;
  color: #FFF;
  font-size: 30px;
  line-height: normal;
  font-weight: 700;
}
/* line 373, ../../app/sass/libs/_base.scss */
.btn-cta:hover, .btn-cta:active, .btn-cta:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
  background-color: #389fdb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2OWVkYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhYTBkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: linear-gradient(#369edb, #3aa0dc);
}

/* ===== STICKY PANEL & MAIN MENU =================== */
/* line 339, ../../app/sass/style.scss */
.sticky-panel {
  background: #fa5800;
  padding: 0 40px;
  min-width: 980px;
  height: 50px;
}
/* line 14, ../../app/sass/vendors/bootstrap/mixins/_clearfix.scss */
.sticky-panel:before, .sticky-panel:after {
  content: " ";
  display: table;
}
/* line 19, ../../app/sass/vendors/bootstrap/mixins/_clearfix.scss */
.sticky-panel:after {
  clear: both;
}
/* line 347, ../../app/sass/style.scss */
.sticky-panel .logo-container {
  display: inline-block;
  line-height: 50px;
  opacity: 0;
}
/* line 354, ../../app/sass/style.scss */
.sticky-panel .logo {
  vertical-align: sub;
  display: inline-block;
  line-height: 50px;
  width: 149px;
  height: 26px;
}
/* line 362, ../../app/sass/style.scss */
.sticky-panel .menu-container {
  float: right;
}

/* Main menu */
/* line 366, ../../app/sass/style.scss */
.menu {
  height: 50px;
  line-height: 50px;
  text-align: right;
}
/* line 373, ../../app/sass/style.scss */
.menu > li {
  display: inline-block;
  color: #ffc9ac;
}
/* line 378, ../../app/sass/style.scss */
.menu > li:before {
  position: static;
  display: inline-block;
  content: "|";
  margin: 0 8px 0 12px;
}
/* line 385, ../../app/sass/style.scss */
.menu > li.active a {
  color: #FFF;
}
/* line 390, ../../app/sass/style.scss */
.menu > li:first-child:before {
  display: none;
}
/* line 392, ../../app/sass/style.scss */
.menu > li > a {
  color: inherit;
  font-size: 18px;
  line-height: normal;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.15) 0 0 4px;
}
/* line 373, ../../app/sass/libs/_base.scss */
.menu > li > a:hover, .menu > li > a:active, .menu > li > a:focus {
  color: #FFF;
}

/* ===== CONTENT ==================================== */
/* Body & content */
/* line 406, ../../app/sass/style.scss */
.body {
  background: url("../img/bg.jpg") no-repeat top center;
  background-color: #faf8eb;
  min-height: 667px;
  min-width: 980px;
}

/* line 419, ../../app/sass/style.scss */
.content p > strong {
  font-weight: 700;
}

/* ===== FOOTER ===================================== */
/* line 427, ../../app/sass/style.scss */
.links {
  float: left;
}
/* line 431, ../../app/sass/style.scss */
.links > li {
  display: inline-block;
  font-weight: 700;
  color: #838176;
}
/* line 373, ../../app/sass/libs/_base.scss */
.links > li > a:hover, .links > li > a:active, .links > li > a:focus {
  color: #333;
}
/* line 446, ../../app/sass/style.scss */
.links.text {
  float: left;
  padding: 7px 0;
}
/* line 451, ../../app/sass/style.scss */
.links.text > li {
  margin: 0 8px;
}
/* line 453, ../../app/sass/style.scss */
.links.text > li:after {
  position: static;
  display: inline-block;
  content: "|";
  margin-left: 16px;
}
/* line 459, ../../app/sass/style.scss */
.links.text > li:last-child:after {
  display: none;
}
/* line 463, ../../app/sass/style.scss */
.links.icons {
  float: right;
}
/* line 467, ../../app/sass/style.scss */
.links.icons > li {
  margin: 0 12px;
}

/* ===== OVERRIDES (MUST BE AT THE END) ============= */
