.page-not-found {
	margin-top: 4em;
	h1 {
		color: color(1);
		font-size: 1.5rem;
	}
	h2 {
		font-size: 2rem;
		border-top: 1px dotted #ccc;
		border-bottom: 1px dotted #ccc;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	big {
		font-size: 10rem;
		display: block;
		line-height: 4rem;
	}
	.button-flat {
		font-weight: bold;
		border: 0;
		&.blue {
			background: color(5);
			background: linear-gradient(180deg, lighten(color(5), 10%) 30%, color(5) 70%);
			&:hover {
				background: darken(color(5), 20%);
			}
			i {
				display: inline-block;
				margin-right: 10px;
			}
			margin:1.25rem;
			margin-left: 0px;
			margin-right: 0px;
		}
		padding: {
			top: 10px;
			bottom: 10px;
		}
	}
}
