.author-selector {
    margin-right:$ui-grid-size;
    width:100%;
    display:block;
    .avatar {
        margin:3*$ui-small-grid-size;
        margin-left:0;
    }
    select {
        width:80%;
        max-width:400px;
        outline:none;
        border-radius: $global-radius;
        height:$ui-input-height;
        line-height:$ui-text-font-size;
        padding:0 15px;
        font-weight:600;
        -moz-appearance:none;

        &:focus {
            border:1px solid color(5);
        }
        &:disabled {
            background-color: #ddd !important;
        }
    }
}
