.author-selector {
    margin-right:$local-grid-size;
    
    .avatar-small { 
        position:relative;
        top:2 * $local-small-grid-size;
        margin-right:2*$local-small-grid-size;
        img {
            width:6*$local-small-grid-size;
            height:6*$local-small-grid-size; 
        }
        *:before {
            width:6*$local-small-grid-size;
            height:6*$local-small-grid-size;
            box-shadow:none !important;
        }
    }

    select {
        width:60*$local-small-grid-size;
        outline:none;
        border-radius: $global-radius;
        height:$local-input-height;
        line-height:$local-text-font-size;
        padding:0 15px;
        font-weight:600;
        -moz-appearance:none;

        &:focus {
            border:1px solid color(5);
        }
        &:disabled {
            background-color: #ddd !important;
        }
    }
}