.authorSelector {
	display: inline-block;
	
	.avatar, .avatar img {
		height: 30px;
		width: 30px;
	}	
	select {
		display: inline-block;
	    margin-left: 10px;
	    margin-bottom: 0px;
	    padding-right: 20px;
	    position: relative;
	    top: -15px;
	    width: auto;
	}
}