$mini-avatar-size: 24px;
$small-avatar-size: 40px;
$normal-avatar-size: 80px;
$medium-avatar-size: 150px;
$large-avatar-size: 295px;

.avatar {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	background-size: cover;

	.avatar-image{
		display: block;
		border-radius: 50%;
		background-size: cover;
	}
	&.purify-edges > .avatar-image{
		box-shadow: 0 0 0 1px #fff;
	}
	/** == Shade & height == */
	.avatar-image::before {
	    content: '';
	    display: block;
	    padding-top: 100%;
		border-radius: 50%;
		box-shadow: -3px 3px 6px rgba(0,0,0,.5) inset;
	}

	/** == Default avatars == */
	&.avatar-user{
		background-image: url('../images/no-avatar.jpg');
	}
	&.avatar-community{
		background-image: url('../images/no-cm-avatar.jpg');
	}


	/** == Size definitions == */
	&.avatar-mini {
		width: $mini-avatar-size;

		&.move-bot {
			top: 6px;
		}
	}
	&.avatar-small{
		width: $small-avatar-size;
	}
	&.avatar-normal{
		width: $normal-avatar-size;
	}
	&.avatar-medium{
		width: $medium-avatar-size;
	}
	&.avatar-large{
		width: $large-avatar-size;
	}
	&.margin-right {
		margin-right: 10px;
	}

	@media #{$small-down}{
		&.small-avatar-small{
			width: $small-avatar-size !important;
		}
	}
}