// bubble parent should ALWAYS have a position: relative/absolute/fixed set,
// so that the bubble is displayed correctly
//
//	best results should be achieved by placing the markup in a following way:
//
//	tag.position-relative // wrapper around an el for which we want to show the bubble
//		div(bubble-placeholder='xyz')
//		tag // the element for which the bubble is designated
//
// default position is bottom-left
.bubble-notification{
	position: absolute;
	display: block;
	min-width: 200px;
	max-width: 370px;
	top: calc(100% + 6px); right: -$size-tiny;
	padding: $size-small;
	font-size: 95%;
	text-align: left;
	line-height: 1.4;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 10px 4px rgba(0,0,0,.3);
	white-space: normal;
	cursor: pointer;
	z-index: 999;

	&:after {
		content: '';
		position: absolute;
		right: $size-medium;
		bottom: 100%;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-bottom: 6px solid #fff;
	}

	[data-bubble="close"] {
		font-size: 16px;
		line-height: 1.2;
		opacity: .6;
	}
	[data-bubble="close"]:hover,
	[data-bubble="close"]:focus {
		opacity: 1;
	}

	&.position-bottom-right {
		right: inherit; left: -$size-small;

		&:after {
			right: inherit;
			left: $size-medium;
		}
	}

	@media #{$small-down} {
		max-width: 200px;
	}

}