// bubble parent should ALWAYS have a position: relative/absolute/fixed set,
// so that the bubble is displayed correctly
//
//	best results should be achieved by placing the markup in a following way:
//
//	tag.position-relative // wrapper around an el for which we want to show the bubble
//		div(bubble-placeholder='xyz')
//		tag // the element for which the bubble is designated
//
// default position is bottom-left
bubble{
	position: absolute;
	display: block;
	min-width: 200px;
	max-width: 370px;
	top: 100%; right: -$size-small;
	padding: $size-medium;
	line-height: 1.4;
	background: #fff;
	border-radius: $global-radius;
	box-shadow: $ui-box-shadow;
	z-index: 999;

	&:after {
		content: '';
		position: absolute;
		right: $size-medium;
		bottom: 100%;
		width: 0;
		height: 0;
		border: 8px solid transparent;
		border-bottom: 8px solid #fff;
	}

	// not-finished
	// &.position-right {
	// 	right: inherit; left: -$size-small;
	// }

	@media #{$medium-down} {
		max-width: 200px;
	}

	.tooltip {
		padding: 25px;
		font-size: 14px;
		line-height: 1.5em;
		color: white;
		white-space: normal;

	}
}