.button {
	min-width: 30 * $ui-small-grid-size;
	padding: 0px $ui-grid-size;
	margin: 0;
	font-weight: 600;
	height: $ui-button-height;
	line-height: $ui-button-height;
	text-align: center;
	font-size: $ui-text-font-size;
	border: none;
	border-radius: $global-radius;
	background: color(5);
	transition: all .3s;
	cursor: pointer;
	outline: none;
	&:hover {
		background-color: lighten(color(5), abs($button-function-factor));
	}
	&:focus,
	&:active {
		background-color: darken(color(5), abs($button-function-factor));
	}

	@media #{$large-up} {
		height: $ui-input-height;
		line-height: $ui-input-height;
	}
}

.button2 {
	border-radius: $global-radius;
	border-color: color(5);
	transition: border-color .3s, background-color .3s;
	background-color: color(5);
	border: 2px solid color(5);
	cursor: pointer;
	color: white;
	padding: 1em 1.5em;
	&:hover {
		background-color: darken(color(5), abs($button-function-factor));
		border-color: darken(color(5), abs($button-function-factor));
		color: white;
	}
}

.button-icon {
	background-color: transparent;
	color: color(5);
	border-width: 0px;
	margin-bottom: 0px;
	padding: 0px;
	&:hover,
	&:focus,
	{
		background-color: transparent;
		color: color(5);
	}
}

.button-send {
	display: inline-block;
	min-width: initial !important;
	color: white;
	border: none;
	border-radius: $global-radius;
	font-weight: bold;
	/*font-size: 1.2rem;*/
	/*margin: 0 0 1.25rem;*/
	/*padding: 0.5rem 2rem;*/
	background-color: $colorSecondary;
	transition: background-color 300ms ease-out 0s;
	cursor: pointer;
	opacity: 1;
	&:hover,
	&:focus {
		background-color: darken($colorSecondary, abs($button-function-factor));
	}
	@extend .button;
}

a.button-send {
	&:hover,
	&:focus {
		color: white;
		background-color: darken($colorSecondary, abs($button-function-factor));
	}
}

button.no-vertical-padding {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.button.background-need {
	&:hover {
		background-color: lighten($colorNeed, abs($button-function-factor));
	}
	&:focus,
	&:active {
		background-color: darken($colorNeed, abs($button-function-factor));
	}
}

.button.background-offer {
	background-color: color(2);
	&:hover {
		background-color: lighten($colorOffer, abs($button-function-factor));
	}
	&:focus,
	&:active {
		background-color: darken($colorOffer, abs($button-function-factor));
	}
}
