.checkbox {
    .fa {
        position: relative;
        top: $fontSize /2;
        color: color(3);
        font-size: 2 * $fontSize;
        width: $fontSize;
        margin: {
            right: $fontSize;
        };
        &:before {

        text-shadow: 0 0 2px darken(color(4), 30%);
        }
    }
    margin: {
        bottom: $fontSize / 2;
    };
}