.checkbox {
    margin: {
        bottom: $fontSize / 2;
    };
    height: 3em;
    padding: {
        top: 0.8em;
        left: 4em;
    }
    background-image: inline-image("filter/checkbox-off.svg");
    &.on {
        font-weight: bold;
        background-image: inline-image("filter/checkbox-on.svg");
    }
    &.radio {
        background-image: inline-image("filter/radio-off.svg");
        &.on {
             font-weight: bold;
            background-image: inline-image("filter/radio-on.svg");
        }
    }
}