.community-edit {

    input {
        margin: {
            bottom: 0;
        };
    }

    .image-upload { 
        margin-top:0 !important;
    }
}

.community-settings {
    @extend .common-profile-settings;
}