.communities {
    margin: 0 auto;
    padding:0;
    .avatar {
        margin-left:3*$ui-small-grid-size;
    }
    h5 {
        font-size:$global-font-size;
    }

    .community-list-add-form {
        transition: opacity 0.4s ease-in-out;
    }

    .community-list {
        .community-item {
            @extend .large-12, .columns, .item;
            padding:4*$ui-small-grid-size;
            float:none;
            word-wrap: break-word;
            margin-bottom:3*$ui-small-grid-size;
            .content {
                margin-left:5*$ui-grid-size;
            }
            p {
                margin-bottom: 0;
            }
        }
        &.small {
            clear: both;
            .community-item {
                @extend .item;
                float:left;
                padding:4*$ui-small-grid-size;
                height:11.5rem;
                overflow:hidden;
                margin-left:$ui-small-grid-size;
                margin-right:$ui-small-grid-size;
                max-width:49.4%;
                .content {
                    height: 10.6rem;
                    overflow: hidden;
                    word-wrap: break-word;
                }
                padding-bottom:1rem;
                &:nth-child(2n) {
                    margin-right:0;
                }
                &:nth-child(2n-1) {
                    margin-left:0;
                }
                .fadeout {
                    position: relative; 
                    bottom: 4rem;
                    height: 4rem;
                    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0% ,rgba(255,255,255,1) 70%);
                } 
            }
        }
    }

    // RESPONSIVE //
    @media #{$small-only} {
        .community-list.small .community-item {
            &:nth-child(2n), &:nth-child(2n-1) {
                margin-left:0;
                margin-right:0;
            }
        }
    }
}
