.community-edit {
    .change-admin {
        select {
            width: unset;
            min-width: 120px;
        }
    }

    input {
        margin: {
            bottom: 0;
        };
    }

    .pass-admin-select {
        position: relative;
        top: 2px;
    }

    .image-upload { 
        margin-top:0 !important;
    }
}

.community-settings {
    @extend .common-profile-settings;
}