.community-edit {
	input {
		margin: {
			bottom: 0;
		}
		;
	}
	.image-upload {
		margin-top: 0 !important;
	}
}

.community-settings {
	@extend .common-profile-settings;
}


#communityForm section.who textarea, 
#communityForm section .interests-input textarea {
	min-height:70px;
	height:70px;
}