.community-view {
    max-width:960px;
    padding-bottom: 100px;
    
    .profile-photo {
        background-image: inline-image("no-cm-avatar.png") !important;

    }
    margin: {
        left: auto;
        right: auto;
        top:-40px; // hack, remove when whole site is updated
    }

    .avatar {
        overflow: hidden;
    }
    .button-flat {
        font-weight:bold;
        border:0;
        &.blue {
            background:color(5);
            i {
                display:inline-block;
                margin-right:10px;
            }
            &:hover {
                background:darken(color(5), 20%);
            }
            margin:1.25rem;
        }
        padding: {
            top:10px;
            bottom:10px;
        }
    }

    .clearfix {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .gift-receive {
        font-size:170%;
        color:color(1);
    }
    .gift-give {
        font-size:170%;
        color:color(2);
    }    
    a {
        color:color(5);
    }
    
    .community-listings {
        @extend .clearfix, .profile-listings;
        .applications {
            @extend .box, .community-applications-list;
        }
    }
}


.community-applications-list {
    .application {
        @extend .clearfix;
        margin-bottom:5px;
        padding: {
            top:10px;
            bottom:0px;
            left:20px;
            right:20px;
        }
        background:lighten(color(5), 45%);
        small {
            font-size:0.85rem;
            line-height:125%;
        }
        .avatar {
            left:0;
            width:80px;
            height:80px;
            margin: {
                top:0px;
                left:10px;
                right:10px;
                bottom:20px;
            }
            float:left;
            &::before {
                width:80px;
                height:80px;
            }
            img {
                border-radius: 50%;
            }
        }
        .applications-text {
            font-size:1.2rem;
            line-height:125%;
            margin: {
                top:10px;
                bottom:10px;
                left:110px; 
            }
            .applications-from {
                display:inline-block;
                margin-top:10px;
            }
            a {
                color:darken(color(3), 20%);
                &:hover {
                    color:color(5);
                }
            }
        }
        .applications-buttons {
            @extend .community-applications-buttons;
        }
        .date {
            float:right;
        }
    }
    .buttons {
        clear:both;
    }
    button {
        margin: {
            left:auto;
            right:auto;
        }
    }
}

.community-applications-buttons {
    float:right;
    margin-top:-4rem;
    a {
        @extend .clearfix;
        font-size:2em;
        border:2px solid color(5);
        border-radius:50%;
        margin:.5rem;
        padding:.5rem;
        width:3.2rem;
        height:3.2rem;
        text-align:center;
        display:inline-block;
        &.yes:hover {
            color:color(2);
            border-color:color(2);
        }
        &.no:hover {
            border-color:color(1);
            color:color(1);
        }
    }
}

.mine-community {
    .others {
        display: none;
    }
}

.others-community {
    .mine {
        display: none;
    }
}
