.communities {
    width: 960px; /* ==== set general width === */
    margin: 0px auto;

    .community-list-add-form {
        @extend .clearfix;
        transition: opacity 0.4s ease-in-out;

        .community-edit {
            margin-bottom: 20px;
        }
    }

    .community-list {
        @extend .row, .clearfix;
        .community-item {
            @extend .large-12, .columns;
            margin:0;
            padding:0;            
            margin-left:auto;
            margin-right:auto;
            float:none;
            .photo {
                float:left;
                margin:2rem;
                .avatar {
                    left:initial;
                    margin-left:0;
                }
            }
            .content {
                margin-left:9rem;
            }
            section {
                margin:1rem;
            }
        }
        &.small {
            .community-item {
                @extend .large-6, .columns;
                margin:0;
                padding:0;
                section {
                    height:8.5rem;
                    overflow:hidden;
                    margin:1rem;
                }
            }
        }
    }
}
