.create-ad {
    .create-ad-textarea {
        @media mobile {
            height: emCalc(12 * $grid-size);
        }
        @media #{$small} {
            height: $profile-image-size;
        }
        &.focused {
            padding-top: 16px;
            @media #{$small} {
                height: emCalc(15 * $grid-size);
            }
        }
    }
    input.what {
        @include border-top-right-radius(none);
        @include border-top-right-radius;
        display: inline-block;
    }
}