.create-ad-select {
    line-height: 34px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 110px;
    padding: 5px;
    background-color: nth($color, 4);
    font-size: 17px;
    border: 1px solid $body-border-color;
    height: 48px;
    @include border-top-left-radius;
    z-index: 1001;
    padding-left: 1em;
    .switch-dropdown {
        width: 105px;
        background-color: nth($color, 4);
        border: 1px solid $body-border-color;
        span {
            margin: 3px;
        }
    }
}