@media #{$large-up} {
	nav {
		.dropdown-container {
			position: relative;
			display: inline-block;
		}
		.dropdown:before {
			-moz-border-bottom-colors: none;
			-moz-border-left-colors: none;
			-moz-border-right-colors: none;
			-moz-border-top-colors: none;
			border-color: transparent transparent white;
			border-image: none;
			border-style: inset inset solid;
			border-width: 6px;
			content: "";
			display: block;
			height: 0;
			left: 20px;
			position: absolute;
			top: -10px;
			width: 0;
			z-index: 99;
		}
		.dropdown:after {
			-moz-border-bottom-colors: none;
			-moz-border-left-colors: none;
			-moz-border-right-colors: none;
			-moz-border-top-colors: none;
			border-color: transparent transparent #7c766a;
			border-image: none;
			border-style: inset inset solid;
			border-width: 7px;
			content: "";
			display: block;
			height: 0;
			left: 19px;
			position: absolute;
			top: -12px;
			width: 0;
			z-index: 98;
		}
		.dropdown {
			display: none;
			@include box-shadow(0 0px 2px 1px rgba(black, 0.2));
			position: absolute;
			left: 0px;
			background: none repeat scroll 0 0 white;
			border: 1px solid #7c766a;
			font-size: $ui-text-font-size;
			list-style: none;
			margin-left: 0;
			z-index: 99;
			width: 200px;
			&>li {
				text-align: left !important;
				&:hover:not(.no-hover) {
					background-color: color(1);
					a {
						color: color(4);
					}
				}
				.no-hover {
					color: #7c766a;
				}
			}
			a,
			&>li>span {
				color: #7c766a;
				display: block;
				padding: 0.5rem;
				text-align: left;
				outline: 0 !important;
			}
			.divider {
				border: {
					top: 1px solid lighten(color(3), 40%);
				}
			}
		}
	}
}

.top-bar.expanded {
	.back {
		display: none;
	}
	transition: max-height 2s ease-in;
	a {
		font-size: 0.95rem;
	}
	nav .dropdown {
		position: static !important;
		width: 100%;
		height: unset;
	}
}


.action-dropdown:hover {
	color: $colorSecondary !important;
}
.actions-dropdown {
	position: absolute;
	top: calc(100% + 5px);
	right: $size-tiny;
	min-width: 12.5rem;
	min-height: 2.5rem;
	padding: $size-tiny 0;
	list-style: none;
	background: #fff;
	box-shadow: 0 0 .5rem 0 rgba(100, 100, 100, 0.3);
	border-radius: $global-radius;
	z-index: 1000;

	hr {
		height: 0;
		margin-top: $ui-small-grid-size;
		margin-bottom: $ui-small-grid-size;
		border: none;
		border-bottom: 1px solid lighten($ui-color-lighter, 15%);
	}
	b {
		font-weight: $ui-text-weight-bolder;
	}
	li > a {
		position: relative;
		display: block;
		padding: $size-tiny $size-medium;
		color: $colorSecondary;

		&:hover {
			background-color: $colorLightGray;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: -7px;
		right: 13px;
		width: $size-medium;
		height: $size-medium;
		transform: rotate(45deg);
		box-shadow: -2px -2px 4px 0px rgba(100, 100, 100, 0.2);
		background: white;
	}
}