.editAd {
    input, textarea {
        margin-bottom: 0;
    }
    .charsleft {
        text-align: right;
        margin: {
            bottom: 0.5em;
            right: $global-radius;
        }
        ;
        font-size: 0.8em;
    }
    textarea {
        height: 250px;
    }
    a {
        color: color(5);
    }
    .alert-box {
        border-radius: $global-radius $global-radius 0 0;
        margin: {
            left: $global-radius;
            right: $global-radius;
            bottom: 0;
        };
    }
    .row {
        margin: {
            bottom: 1em;
        }
    }
}