.editAd {
    input,
    textarea {
        margin-bottom: 0;
    }
    .charsleft {
        text-align: right;
        margin: {
            bottom: 0.5em;
            right: $global-radius;
        };
        font-size: 0.8em;
    }
    textarea {
        height: 250px;
    }
    .fa-tags,
    .fa-clock-o,
    .fa-map-marker {
        color: nth($color, 5);
    }
    .alert-box {
        border-radius: $global-radius $global-radius 0 0;
        margin: {
            left: $global-radius;
            right: $global-radius;
            bottom: 0;
        };
    }
}