.fancybox-wrap {
	z-index: 100000 !important;
}

.fancybox-overlay {
	z-index: 99999 !important;
}

// overriden image paths from "jquery.fancybox.css"
// all has to be !important, or the fancybox css should be placed before app css

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../vendor/fancybox/source/fancybox_sprite.png') !important;
}

#fancybox-loading div {
	background: url('../vendor/fancybox/source/fancybox_loading.gif') center center no-repeat !important;
}

.fancybox-nav {
	background: transparent url('../vendor/fancybox/source/blank.gif') !important; /* helps IE */
}

.fancybox-overlay {
	background: url('../vendor/fancybox/source/.png') !important;
}


/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../vendor/fancybox/source/fancybox_sprite@2x.png') !important;
	}

	#fancybox-loading div {
		background-image: url('../vendor/fancybox/source/fancybox_loading@2x.gif') !important;
	}
}