.filter {
    input.text-input {
        width: 100%;
        margin-bottom: 0;
    }
   
    header {
        background-color: darken(white, 5%);
        text-align: center;
        padding: $fontSize / 2;
        font-weight: bold;
        color: lighten(color(3), 20%);
        font-size: rem-calc(14);
        margin: {
            bottom: $fontSize ;
        };
    }
    .bars {
        margin: 0;
        .columns {
            padding: {
                left: 1px;
                right: 1px;
            };
            &:first-child header {
                border:{
                    top-left-radius: 8px;
                    bottom-left-radius: 8px;
                }
            }
            &:last-child header {
                border:{
                    top-right-radius: 8px;
                    bottom-right-radius: 8px;
                }
            }
        }
    }
    input[type=range] {
        width: 100%;
        cursor: pointer;
        outline: none;
    }
    tags-input .host  {
        margin: {
top:1em;
            bottom: 2em;
            }
    }
}