.filter {
    input.text-input {
        width: 100%;
        margin-bottom: 0;
    }
    .columns {
        padding: 1em;
    }
    header {
        background-color: darken(color(4), 20%);
        text-align: center;
        padding: 0.5em;
    }
}