/** Foundation improvements */
.top-bar-section {
    .dropdown {
        @include box-shadow(0 1px 2px 1px rgba(black, 0.3));
        @include border-bottom-radius;
        overflow: hidden;
    }
}
