.fulltext {
	header {
		text-align: center;
		margin:3*$ui-small-grid-size;
		margin-bottom:$ui-grid-size;
	}
	.searchInProgress {
		opacity: 0.3;
		transition: opacity .3s ease-out;
		-moz-transition: opacity .3s ease-out;
		-webkit-transition: opacity .3s ease-out;
		-o-transition: opacity .3s ease-out;
	}
	.filter {

		dt {
			color: color(3);
			text-transform: none;
			margin:$ui-small-grid-size 0;
			margin-right:3*$ui-small-grid-size;
			line-height:200%;
		}
		dd {
			margin: 3px (3*$ui-small-grid-size / 2);
			a {
				display:inline-block;
				font-weight: bold;
				border: 1px solid color(5);
				border-radius: $global-radius;
				padding: {
					left: $fontSize;
					right: $fontSize;
				}
				b {
					background-color: lighten(color(5), 20%);
					padding: {
						left: 0.5em;
						right: 0.5em;
					}
					border-radius: $global-radius / 2;
					position: relative;
					top: -3px;
					left: 6px;
					font-size: 9px;
					color: white;
					z-index: 5;
				}
			}
			&.active {
				overflow: visible;
				position: relative;
				a { background-color: color(5); }
				&:after {
					content: '';
					background-color: color(5);
					height: 0.5em;
					width: 0.5em;
					position: absolute;
					bottom: -(0.5em / 2);
					left: 70%;
					transform: rotate(67deg) skew(45deg);
				}
			}
		}
	}
	.search-item {
		margin: {
			bottom: 2* $fontSize;
		}

		em {
			font-weight: 700;
			font-style: normal;
		}

		.title {
			font-size: rem-calc(22);
			margin: 0;

			a {
				color: color(5);
				text-decoration: underline;
				font-weight: 600;
				&:hover {
					color: darken( color(5), 20%);
				}
			}
		}
		p {
			margin: {
				top: $fontSize/2;
				bottom: $fontSize/2;
			}
		}
		.fa {
			color: lighten(color(3), 30%);
			margin: {
				right: 0.25em;
			}
			font-size: rem-calc(22);
			&:before {
				position: relative;
				top: 3px;
			}
		}
		.breadcrumb {
			font-size: rem-count(6);
			color: lighten(color(3), 10%);
			a {
				color: lighten(color(3), 10%);
				&:hover {
					color: darken(color(3), 10%);
					text-decoration: underline;
				}
			}
		}
	}
}



@media #{$medium-down} {
	.fulltext {
		.filter {
			dt {
				width: 100%;
			}
		}
	}
}
