.info-box {
	position: relative;

	.user-info {
		position: absolute;
		left: 100%;
		color: $colorDarkGray;
		z-index: 1000;

		.user-info-inner-wrapper {
			position: relative;
			left: 0px;

			width: 500px;
			min-height: 2.8rem;
			padding: $size-medium;
			border: 2px solid $colorPrimary;
			border-radius: $global-radius;
			box-shadow: $defaultShadow;
			background-color: white;
		}
		/* additional positioning */
		&.on-profile {
			.user-info-inner-wrapper {
				left: 20px;
			}
			&.placement-left {
				left: -500px;
			}
		}
		&.on-item-detail {
			.user-info-inner-wrapper {
				left: inherit;
			}
		}
		/* /additional positioning */

		.loading-bar {
			margin-bottom: 1.8rem;
		}
		.inner {
			.social a.fa {
				color: $colorSecondary;
				font-size: 20px;
				line-height: 20px;
			}
			.count_accomplished {
				color: $colorPrimary;
				text-align: center;

				// TODO kamil - too broad a usage to refactor atm. Remove when possible though.
				// conflicting CSS - .profile-listings-v1 .box p
				p {
					margin: 0 0 $size-small 0 !important;
				}
				// /kamil
			}
			.author-about {
				color: black;
				font-weight: bold;
				text-align: center;
				margin-bottom: $size-big;
			}
		}
	}
}
