
.ngdialog-invite-box {
	@extend .ngdialog-theme-default;
	.ngdialog-content {
		margin-top:240px !important;
		margin-left:320px !important;
	}
}
.invite-box {
	text-align: left;
    min-width: 600px;
	
	h2 {
	    font-size: 20px;
		text-align: left;
	    padding: 10px;
	    padding-top: 0px;
	}
	ul {
	   	list-style: none;
    	text-align: center;
    	margin-top:3rem;
    	margin-bottom:3rem;

    	li {
    		padding:.5rem;
    		display: inline;
    		text-align: center;
    	}
	}

	.social {
		text-align:center;
		padding:10px;
		padding-bottom:1rem;
		li {
			a {
				display: inline-block;
				i {
					border: 2px solid color(5);
					padding: 5px;
					font-size:150%;
					line-height:150%;
					margin-left:10px !important; /* uff, ugly! but because in @social is redefined */
					margin-right:10px !important;
					display: block;

				    border-radius: 50%;
				    height: 2em;
				    width: 2em;
				    text-align: center;
				    transition: color 1s ease 0s, background-color 1s ease 0s, text-shadow 1s ease 0s;
				}
				&:hover {
					i {
						background:lighten(color(5), 20%);
						color: white;
	                    text-shadow: 0 -1px 1px darken(color(5), 15%);
					}
				}
			}
		}
	}

	.emailForm {
		padding: 10px 20px 20px 50px;

		label {
			display: block;

		}

		textarea {
			resize: none;
			min-height: 100px;
		}

		input {
			max-width: 80%
		}

		.toggle-form {
		    font-size: 30px;
		    left: 10px;
		    position: absolute;
		    top: 40px;
		    cursor: pointer;
		    
		    &:hover {
		    	opacity: 0.7;
		    }
		}
	}
}