.ngdialog-invite-box {
	@extend .ngdialog-theme-default;
	.ngdialog-content {
		margin: auto;
		margin-top: 15%;
	}
}
/*
@media #{$large-up} {
	.ngdialog-invite-box .ngdialog-content {
		margin-left: 335px !important;
		margin-top: 240px !important;
	}
	.invite-box {
		min-width: 600px;
	}
}
*/
.invite-box {
	ul {
		list-style: none;
		text-align: center;
		margin-top: 3rem;
		margin-bottom: 2rem;
		margin-left: 0;
		li {
			padding: .5rem;
			display: inline;
			text-align: center;
		}
	}
	.social {
		text-align: center;

		ul {
			display: inline-block;

			li {
				a {
					display: inline-block;
					text-align: center;
					padding: $ui-small-grid-size;
					i {
						border: 2px solid color(5);
						padding: 5px;
						font-size: 150%;
						line-height: 150%;
						margin-left: 10px !important;
						/* uff, ugly! but because in @social is redefined */
						margin-right: 10px !important;
						display: block;
						border-radius: 50%;
						height: 2em;
						width: 2em;
						text-align: center;
						transition: color 1s ease 0s, background-color 1s ease 0s, text-shadow 1s ease 0s;
					}
					&:hover {
						i {
							background: lighten(color(5), 20%);
							color: white;
							text-shadow: 0 -1px 1px darken(color(5), 15%);
						}
					}
				}
			}
		}
	}
	.emailForm {
		label {
			margin: 10px 0;
		}
		.error {
			margin-top: 10px;
		}
	}
}
