.itemEdit {
    width: 800px;
    padding: 15px;
    text-align: left;
    textarea {
        height: 85px;
        resize: vertical;
        line-height: 1.33 !important;
        -webkit-transition: height 0.2s;
        -moz-transition: height 0.2s;
        transition: height 0.2s;
    }
    .need-offer-selector {
        top: 5px;
    }
    .checkbox {
        color: #1fb1e8;
        padding-top: 0px;
        height: auto;
        padding-left: 0px;
        .fa {
            margin-left: 0px;
            color: #1fb1e8;
            font-size: 24px;
            width: 21px;
        }
        span {
            margin-left: 0px;
            position: relative;
            top: -2px;
        }
    }
    .tags {
        input {
            padding: {
                left: 0;
            };
        }
    }
    .date {
        margin-bottom: 15px;
        input {
            padding-left: 20px;
            padding-right: 20px;
            width: 124px;
            margin-bottom: 0px !important;
            margin-right: 10px;
            display: inline-block;
        }
        .checkbox {
            position: relative;
            top: 2px;
        }
    }
    .locations {
        .remove {
            top: 6px !important;
        }
        .controll {
            position: relative;
            top: -8px;
            a {
                font-size: 16px;
                display: block;
                float: left;
                margin-top: -3px;
            }
        }
    }
    .files {
        & > div {
            text-align: left;
        }
        ul.fileList {
            display: block;
            margin-bottom: 25px;
            text-align: left;
            width: 100%;
            margin-left: 0px;
          
            li {
                margin-right: 10px;
                margin-top: 10px;
                width: 146px;
                height: 105px;
                display: inline-block;
                float: left;
                border-radius: $global-radius;
                
                &:nth-child(5n) {
                    margin-right: 0px;
                }
                &:nth-child(1) {
                    margin-right: 10px;
                }
            }
            
            li.file-upload {
                border: 2px dashed #ccc;
                color: rgb(31,176,231);
                font-size: 35px;

                &:hover {
                    opacity: 0.7;
                }

                div {
                    text-align: center;
                    span {
                        position: relative;
                        top: 20px;
                    }
                }

                input {
                    margin: 0px;
                    width: 135px;
                    height: 100px;
                }
            }
            li.active {
                position: relative;
                vertical-align: middle;
                overflow: hidden;
                img {
                    position: absolute;
                    left: -100%;
                    right: -100%;
                    top: -100%;
                    bottom: -100%;
                    margin: auto;
                    width: auto;
                    height: auto;
                    &.landscape {
                        height: 100%;
                        width: auto;
                        max-width: initial;
                    }
                    &.portrait {
                        width: 100%;
                    }
                }
                a {
                    position: absolute;
                    font-size: 26px;
                    display: none;
                    z-index: 200;
                    right: 0px;
                    left: 0px;
                    top: 25px;
                    color: rgb(85,85,85);
                }
                .overlay {
                    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
                    background-color: white;
                    position: absolute;
                    opacity: 0.6;
                    top: 0px;
                    left: 0px;
                    z-index: 2;
                    right: 0px;
                    bottom: 0px;
                    display: none;
                }
                &:hover {
                    .overlay {
                        display: block;
                    }
                    a {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .lock {
        margin-top: 10px;
        ul {
            margin-left: 0px;
            li {
                list-style: none;
                display: inline-block;
            }
        }
        & > a {
            width: 100% !important;
            span {
                margin-right: 5px;
            }
        }
    }
    .charsleft {
        text-align: right;
        margin: {
            bottom: 0;
            right: $global-radius;
        };
        font-size: 0.8em;
    }
    .row {
        margin: {
            bottom: $fontSize / 2;
        };
    }
    .bottom {
        .deleteLink {
            color: red;
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 30px;
            font-size: 20px;
        }
        .pauseLink {
            text-transform: uppercase;
            margin-right: 30px;
            font-size: 20px;
            width: 130px;
        }
        a {
            position: relative;
            top: 12px;
            &.close {
                margin-left: 20px;
            }
        }
    }
    .messageBox {
        position: relative;
        top: -10px;
        background-color: #eee;
        color: #4d4d4d;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.itemReply {
    .mail {
        span {
            color: #1fb1e8;
            font-weight: bold;
            display: block;
            margin-bottom: 10px;
        }
    }
}