.post-detail {

    .green {
        color: color(2);
    }

    .red {
        color: color(1);
    }

    header {
        font-size: 0.8em;
        text-align: right;

        span {
            margin-left: 1em;
        }

        .date,
        .locations {
            display: inline-block;
        }
    }

    h1 {
        font-size: 2rem;
        
        span {
            margin-right: 5px;
        }
    }

    .post-author {
        position: relative;
        top: -10px;
        border-left: 1px solid black;
        h2 {
            font-size: 1.25rem;
        }
    }

    footer {
        height: 64px;
        background-color: color(4);
        padding: {
            left: 2rem;
            right: 1rem;
            top: .5rem;
            bottom: .5rem;
        };
        font-size:.9rem;
        span {
            &.margin {
                display: inline-block;
                margin-top: 15px;
            }
        }
        .share {
            font-size: 1.8em;
            float: right;
            margin: {
                top: .7rem;
            };
            color: color(5);
        }
        .controll-buttons {
            color: #1fb1e8;
            display: inline-block;
            float: right;
            font-size: 25px;
            position: relative;
            right: 10px;
            top: 8px;
            div {
                margin-left: 10px;
                cursor: pointer;
            }
            .fa-times {
                font-size: 30px;
            }
        }
        .spam {
            font-size: 1.5em;
            float: right;
            margin: {
                top: .7rem;
            };
            opacity: 0.3;
            display: inline-block;
            margin-left: 0.1em;
            color: black;
            width: 2em;
            padding-top: 0.05em;
            text-align: center;
            &:hover {
                color: black;
                opacity: 0.2;
            }
        }
        .remove-button {
            display: inline-block;
            margin: {
                right: 1em;
            };
        }
        .footer-container {
            margin-top: $fontSize;
        }
        button {
            margin: {
                right: 2 * $fontSize;
                bottom: 0;
            };
            padding: {
                top: $fontSize / 2;
                bottom: $fontSize / 2;
                left: 2 * $fontSize;
                right: 2 * $fontSize;
            };
            min-width: 10 * $fontSize;
            transition: background-color .5s, border-color .5s, color .5s;
            &.main {
                background-color: white;
                color: darken(color(1), 10%);
                border-color: lighten(color(1), 20%);
                &:hover:not([disabled]) {
                    background-color: lighten(color(1), 30%);
                    color: darken(color(1), 10%);
                    border-color: color(1);
                }
            }
            &.main.secondary {
                background-color: white;
                color: darken(color(2), 10%);
                border-color: lighten(color(2), 20%);
                &:hover:not([disabled]) {
                    background-color: lighten(color(2), 30%);
                    color: darken(color(2), 10%);
                    border-color: color(2);
                }
            }
            &[disabled] {
                border-color: transparent;
            }
        }
        small {
            font-size: rem;
        }
    }
}

.inactive {
    opacity: 0.55;
}

.photo {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    .avatar {
        width: $imageSize;
        height: $imageSize;
        overflow: hidden;
        margin: {
            left: -$imageSize / 2;
        };
        &:before {
            width: $imageSize;
            height: $imageSize;
        }
    }
    div.name {
        margin: {
            top: $fontSize;
        };
        text-shadow: 0px 0px 1px gray;
        color: #383838;
        word-wrap: break-word;
    }
 
    &:hover {
        .user-info {
            display: block;
        }
    }
}

.timeline {
    background-color: lighten(color(3), 40%);
    opacity: 0.5;
    margin: {
        top: $fontSize;
        bottom: $fontSize;
        left: auto;
        right: auto;
    };
    width: 5px;
    border-radius: 5px;
}

.karma {
    height: 5px;
    width: $imageSize + 30px;
    margin: {
        top: $fontSize / 4;
        bottom: $fontSize / 2;
        left: auto;
        right: auto;
    };
    background: linear-gradient(to bottom, rgba(white, 0.8) 0%, transparent 50%, transparent 100%), linear-gradient(to right, darken(color(5), 30%) 0%, darken(color(5), 30%) 80%, color(5) 100%);
    &.empty {
        background: linear-gradient(to bottom, rgba(white, 0.8) 0%, transparent 50%, transparent 100%), lighten(color(3), 20%);
        .positive {
            display: none;
        }
    }
    .positive {
        height: 5px;
        background: linear-gradient(to bottom, rgba(white, 0.8) 0%, transparent 50%, transparent 100%), linear-gradient(to left, darken(color(2), 10%) 0%, color(2) 80%, lighten(color(2), 5%) 100%);
    }
}
