$size: 30px;
$border: $size / 10;
$arrowTop: 30px;
$imageSize: 80px;

.photo {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    .avatar {
        width: $imageSize;
        height: $imageSize;
        margin: {
            left: -$imageSize / 2;
        };
        &:before {
            width: $imageSize;
            height: $imageSize;
        }
    }
    div.name {
        margin: {
            top: $fontSize;
        };
        text-shadow: 0px 0px 1px gray;
        color: #383838;
    }
    .user-info {
        background-color: white;
        border: 2px solid color(1);
        position: absolute;
        color: #9F9F9F;
        top: 0;
        left: 150px;
        display: none;
        z-index: 1000;
        min-width: 500px;
        font-weight: normal;
        padding: 1em;
        text-align: left;
        border-radius: $global-radius;
        font-size: rem-calc(18);
        box-shadow: $defaultShadow;
        .fa {
            color: color(1);
            margin-right: 10px;
            text-align: center;
            width: 18px;
        }
        div {
            margin: {
                bottom: 0.8em;
            };
        }
        .summary {
            margin-left: 2em;
        }

        .count_accomplished {
            color: color(1);
            text-align: center;
            margin-bottom: 20px
        }

        .social {
            a {
                font-size: 20px;
                color: color(5);
            }
        }

        .profil-link {
            font-weight: 600;
            position: relative;
            top: 8px;
            a {
                color: color(5);
            }
        }

        .links {
            margin-top: 10px;
            height: 18px;
            .fa {

                font-size: 20px;
                margin-right: 3px;
            }
        }

        .author-about {
            color: black;
            border-top: 1px solid color(1);
            font-weight: bold;
            position: relative;
            text-align: center;
            top: 13px;
            div {
                background-color: white;
                display: inline-block;
                padding-left: 8px;
                padding-right: 8px;
                position: relative;
                top: -12px;
            }
        }
    }
    &:hover {
        .user-info {
            display: block;
        }
    }
}

.timeline {
    background-color: lighten(color(3), 40%);
    opacity: 0.5;
    margin: {
        top: $fontSize;
        bottom: $fontSize;
        left: auto;
        right: auto;
    };
    width: 5px;
    border-radius: 5px;

}

.karma {
    height: 5px;
    width: $imageSize;
    margin: {
        top: $fontSize / 4;
        bottom: $fontSize / 2;
        left: auto;
        right: auto;
    };
    background: linear-gradient(to bottom, rgba(white, 0.8) 0%, transparent 50%, transparent 100%), linear-gradient(to right, darken(color(5), 30%) 0%, darken(color(5), 30%) 80%, color(5) 100%);
    
    &.empty {
        background: linear-gradient(to bottom, rgba(white, 0.8) 0%, transparent 50%, transparent 100%), lighten(color(3), 20%);
        .positive {
            display: none;
        }
    }
    .positive {
        height: 5px;
        background: linear-gradient(to bottom, rgba(white, 0.8) 0%, transparent 50%, transparent 100%), linear-gradient(to left, darken(color(2), 10%) 0%, color(2) 80%, lighten(color(2), 5%) 100%);
    }
}

.item {
    background-color: white;
    min-height: 150px;
    position: relative;
    margin: auto;
    box-shadow: $defaultShadow;
    border-radius: $global-radius;
    margin: {
        bottom: $fontSize;
    };
    header {
        text-align: right;
        font-size: 0.8em;
        span {
            margin: {
                left: 2em;
            };
            .fa {
                margin: {
                    right: $fontSize / 2;
                };
            }
        }
        .content {
            text-align: left;
            div {
                margin: {
                    bottom: 0.5em;
                };
            }
        }
    }
    footer {
        border-radius: 0 0 $global-radius $global-radius;
        background-color: color(4);
        padding: {
            left: sqrt(2) * $size;
            right: $fontSize;
            top: $fontSize / 2;
            bottom: $fontSize / 2;
        };
        .share {
            font-size: 1.8em;
            float: right;
            margin: {
                top: rem-calc(10);
            };
            color: color(5);
        }
        .spam {
            font-size: 1.5em;
            float: right;
            margin: {
                top: rem-calc(10);
            };
            opacity: 0.3;
            display: inline-block;
            margin-left: 0.1em;
            color: black;
            height: 2em;
            width: 2em;
            padding-top: 0.05em;
            text-align: center;
            //@include transition(opacity 0.5s);
            &:hover {
                color: black;
                opacity: 0.2;
            }
//            &.fa-flag {
                //&:hover {
                //}
  //          }
        }
        .remove-button {
            display: inline-block;
            margin: {
                right: 1em;
            };
        }
        .footer-container {
            margin-top: $fontSize;
        }
        button {
            margin: {
                right: 2 * $fontSize;
                bottom: 0;
            };
            padding: {
                top: $fontSize / 2;
                bottom: $fontSize / 2;
                left: 2 * $fontSize;
                right: 2 * $fontSize;
            };
            min-width: 10 * $fontSize;
            transition: background-color 1s, border-color 1s;
            &.main {
                background-color: lighten(color(1), 45%);
                color: color(1);
                border-color: lighten(color(1), 20%);
                &:hover:not([disabled]) {
                    background-color: lighten(color(1), 25%);
                    text-shadow: -1px -1px 2px white, 1px 1px 2px white;
                    border-color: color(1);
                }
            }
            &.main.secondary {
                background-color: lighten(color(2), 50%);
                color: color(2);
                border-color: lighten(color(2), 20%);
                &:hover:not([disabled]) {
                    background-color: lighten(color(2), 25%);
                    text-shadow: -1px -1px 2px white, 1px 1px 2px white;
                    border-color: color(2);
                }
            }
            &[disabled] {
                border-color: transparent;
            }
        }
    }
    .alert-box {
        margin: 0em;
        margin: {
            bottom: $fontSize;
        };
    }
    form {
        .alert-box {
            margin: {
                left: $fontSize;
                right: $fontSize;
                bottom: 0;
                top: 0;
            };
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .reply-box {
        .columns {
            padding: {
                bottom: $fontSize;
            };
        }
        textarea {
            height: 180px;
            margin-bottom: $fontSize / 2;
        }
        button {
            margin: 0;
        }
        form {
            margin: {
                top: $fontSize;
            };
        }
    }
    .content {
        margin: {
            left: sqrt(2) * $size;
        };
        padding: {
            top: $fontSize;
            right: $fontSize;
            bottom: $fontSize;
        };
        h1 {
            font-size: 1.2em;
            font-weight: bold;
            span {
                position: relative;
                z-index: 50;
                left: -$size / 2;
                font-size: 0.8em;
            }
        }
        .text-container {
            margin-bottom: $fontSize;
            .expandable {
                max-height: 5em;
                transition: max-height, 0.8s;
                overflow: hidden;
                p {
                    text-align: justify;
                    hyphens: auto;
                    margin: {
                        bottom: 0;
                    };
                }
                &.expanded {
                    max-height: 100em;
                }
            }
        }
        .attachments {
            img {
                max-width: 96px;
                max-height: 96px;
            }
        }
    }
    .share {
        position: relative;
        right: 10px;
        width: $fontSize;
        &:hover {
            .fa-share-square-o {
                color: lighten(desaturate(color(5), 100%), 20%);
            }
            .sharing {
                max-width: 300px;
            }
        }
        .sharing {
            max-width: 0;
            overflow: hidden;
            position: absolute;
            right: 2.5em;
            top: -0.2em;
            font-size: 0.5em;
            padding: {
                bottom: 1em;
            };
            @include transition(max-width 2s ease);
            div {
                text-align: right;
                white-space: nowrap;
                margin-right: 0.5em;
                span,
                a {
                    display: inline-block;
                    margin-left: 0.5em;
                    color: lighten(color(5), 30%);
                    height: 2em;
                    width: 2em;
                    padding-top: 0.5em;
                    text-align: center;
                    background-color: color(5);
                    border-radius: 50%;
                    text-shadow: 0 -1px 1px darken(color(5), 15%);
                    @include transition(color 1s);
                    @include transition(background-color 0.8s);
                    &:hover {
                        color: white;
                        background-color: darken(color(5), abs($button-function-factor));
                    }
                }
            }
        }
    }
    .overlap {
        background-color: white;
        height: 2.3 * $size;
        width: $size;
        position: absolute;
        top: $arrowTop - 15px;
        left: 0;
        z-index: 10;
    }
    & .arrowbox {
        z-index: 9;
        position: absolute;
        border-radius: $border;
        background-color: white;
        box-shadow: $defaultShadow;
    }
    & .arrow {
        height: $size + 30px;
        width: $size;
        overflow: hidden;
        position: absolute;
        z-index: 20;
        &:after {
            z-index: 5;
            content: "";
            position: absolute;
            top: 2 * $border;
            height: $size;
            width: $size;
            @include rotate(45deg);
        }
    }
    &.need {
        h1 {
            span {
                color: color(1);
            }
        }
        & .arrowbox {
            height: $size;
            width: $size;
            left: $border - $size / 2;
            top: $arrowTop;
            @include rotate(45deg);
            -webkit-transform-origin: 50% 50%;
        }
        & .arrow {
            left: -$size + 2 * $border + 5px;
            top: $arrowTop - 2 * $border;
            &:after {
                left: $size / 2;
                background-color: color(1);
            }
        }
    }
    &.offer {
        h1 {
            span {
                color: color(2);
            }
        }
        & .arrowbox {
            height: round(sqrt(2) * $size) + 4 * $border;
            width: $size;
            left: -$size / 2;
            top: $arrowTop - round(sqrt(2) * $size) + $size + $border;
            border-radius: $global-radius;
        }
        & .arrow {
            left: -$size / 2 + 2 * $border;
            top: $arrowTop - round(sqrt(2) * $size) + $size + 3 * $border;
            &:after {
                left: -$size / 2;
                background-color: color(2);
            }
        }
    }
}

#confirm-delete, #confirm-report {
    button {
        padding: {
            top: 0.25em;
            bottom: 0.25em;
        };
        margin: {
            bottom: 0;
        };
    }
    .link-button {
        margin: {
            top: 0.5em;
        };
    }
}


.tagList {
    list-style: none;
    margin-left: 0px;

    li {
        border: 1px solid #C2C2C2;
        border-radius: 8px;
        padding: 1px;
        padding-left: 7px;
        font-size: 13px;
        padding-right: 7px;
        display: inline-block;
        margin-right: 6px;
        margin-bottom: 5px;
        text-transform: capitalize;
        
        &:hover {
            cursor: pointer;
            background-color: #7AD0F1;
            border-color: #7AD0F1;
            color: white;
        }
    }
}

