$size: 30px;
$border: $size / 10;
$arrowTop: 25px;
$imageSize: 80px;

.user {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
   
    div.name {
        margin: {
            top: 1rem;
        };
        text-shadow: 0px 0px 1px gray;
        color: #383838;
        word-wrap: break-word;
    }
    .user-info {
        background-color: white;
        border: 2px solid color(1);
        position: absolute;
        color: #9F9F9F;
        top: 0;
        left: 150px;
        display: none;
        z-index: 1000;
        min-width: 500px;
        font-weight: normal;
        padding: 1em;
        text-align: left;
        border-radius: $global-radius;
        font-size: rem-calc(18);
        box-shadow: $defaultShadow;
        .fa {
            color: color(1);
            margin-right: 10px;
            text-align: center;
            width: 18px;
        }
        div {
            margin: {
                bottom: 0.8em;
            };
        }
        .summary {
            margin-left: 2em;
        }
        .count_accomplished {
            color: color(1);
            text-align: center;
            margin-bottom: 20px;
        }
        .social {
            a {
                font-size: 20px;
                color: color(5);
            }
        }
        .profil-link {
            font-weight: 600;
            position: relative;
            top: 8px;
            a {
                color: color(5);
            }
        }
        .links {
            margin-top: 10px;
            height: 18px;
            .fa {
                font-size: 20px;
                margin-right: 3px;
            }
        }
        .author-about {
            color: black;
            border-top: 1px solid color(1);
            font-weight: bold;
            position: relative;
            text-align: center;
            top: 13px;
            div {
                background-color: white;
                display: inline-block;
                padding-left: 8px;
                padding-right: 8px;
                position: relative;
                top: -12px;
            }
        }
    }
    &:hover {
        .user-info {
            display: block;
        }
    }
}

.timeline {
    background-color: lighten(color(3), 40%);
    opacity: 0.5;
    margin: {
        top: $fontSize;
        bottom: $fontSize;
        left: auto;
        right: auto;
    };
    width: 5px;
    border-radius: 5px;
}

.karma {
    height: 5px;
    width: $imageSize + 30px;
    margin: {
        top: $fontSize / 4;
        bottom: $fontSize / 2;
        left: auto;
        right: auto;
    };
    background: linear-gradient(to bottom, rgba(white, 0.8) 0%, transparent 50%, transparent 100%), linear-gradient(to right, darken(color(5), 30%) 0%, darken(color(5), 30%) 80%, color(5) 100%);
    &.empty {
        background: linear-gradient(to bottom, rgba(white, 0.8) 0%, transparent 50%, transparent 100%), lighten(color(3), 20%);
        .positive {
            display: none;
        }
    }
    .positive {
        height: 5px;
        background: linear-gradient(to bottom, rgba(white, 0.8) 0%, transparent 50%, transparent 100%), linear-gradient(to left, darken(color(2), 10%) 0%, color(2) 80%, lighten(color(2), 5%) 100%);
    }
}

.item {
    background-color: white;
    min-height: 100px;
    position: relative;
    margin: auto;
    box-shadow: $defaultShadow;
    border-radius: $global-radius;
    margin: {
        bottom: 2rem;
    };
    header {
        margin-bottom: 8px;
        text-align: right;
        font-size: 0.8em;
        .fa {
            margin: {
                right:.4rem;
            };
        }
        .date {
            display: inline-block;
        }
        span {
            margin: {
                left: 1em;
            };
        }
        a {
            &.open {
                visibility: hidden;
            }
        }
        .locations {
            display: inline-block;
            position: relative;
            span {
                margin-left: 0px;
            }
        }
        .content {
            text-align: left;
            div {
                margin: {
                    bottom: 0.5em;
                };
            }
        }
        .location-dropdown {
            margin-left: 0;
            margin-right: 0;
            left: -7px !important;
            top: -11px !important;
            width: 110%;
            background-color: white;
            border: 1px solid #e3e3e3;
            border-radius: 10px;
            padding: 10px;
            padding-right: 0px;
            padding-left: 0px;
            position: absolute;
            display: none;
            z-index: 5;
            div {
                margin-bottom: 20px;
                .fa {}
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
    footer {
        height: 64px;
        border-radius: 0 0 $global-radius $global-radius;
        background-color: color(4);
        padding: {
            left: 2rem;
            right: 1rem;
            top: .5rem;
            bottom: .5rem;
        };
        font-size:.9rem;
        span {
            &.margin {
                display: inline-block;
                margin-top: 15px;
            }
        }
        .share {
            font-size: 1.8em;
            float: right;
            margin: {
                top: .7rem;
            };
            color: color(5);
        }
        .controll-buttons {
            color: #1fb1e8;
            display: inline-block;
            float: right;
            font-size: 25px;
            position: relative;
            right: 10px;
            top: 8px;
            div {
                margin-left: 10px;
                cursor: pointer;
            }
            .fa-times {
                font-size: 30px;
            }
        }
        .spam {
            font-size: 1.5em;
            float: right;
            margin: {
                top: .7rem;
            };
            opacity: 0.3;
            display: inline-block;
            margin-left: 0.1em;
            color: black;
            width: 2em;
            padding-top: 0.05em;
            text-align: center;
            &:hover {
                color: black;
                opacity: 0.2;
            }
        }
        .remove-button {
            display: inline-block;
            margin: {
                right: 1em;
            };
        }
        .footer-container {
            margin-top: $fontSize;
        }
        button {
            margin: {
                right: 2 * $fontSize;
                bottom: 0;
            };
            padding: {
                top: $fontSize / 2;
                bottom: $fontSize / 2;
                left: 2 * $fontSize;
                right: 2 * $fontSize;
            };
            min-width: 10 * $fontSize;
            transition: background-color .5s, border-color .5s, color .5s;
            &.main {
                background-color: white;
                color: darken(color(1), 10%);
                border-color: lighten(color(1), 20%);
                &:hover:not([disabled]) {
                    background-color: lighten(color(1), 30%);
                    color: darken(color(1), 10%);
                    border-color: color(1);
                }
            }
            &.main.offer {
                background-color: white;
                color: darken(color(2), 10%);
                border-color: lighten(color(2), 20%);
                &:hover {
                    background-color: lighten(color(2), 30%);
                    color: darken(color(2), 10%);
                    border-color: color(2);
                }
            }
        }
        small {
            font-size: rem;
        }
    }
    .show-more {
        margin-top: 25px;
        color: #20B1EA;
        font-weight: bold;
        display: inline-block;
        float: right;
        position: relative;
        top: 5px;
        span {
            &:last-child {
                display: none;
            }
        }
        &.expanded {
            span:first-child {
                display: none;
            }
            span:last-child {
                display: inline-block;
            }
        }
    }
    .alert-box {
        margin: 0em;
        margin: {
            bottom: $fontSize;
        };
    }
    form {
        .alert-box {
            margin: {
                left: $fontSize;
                right: $fontSize;
                bottom: 0;
                top: 0;
            };
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .reply-box {
        .columns {
            padding: {
                bottom: $fontSize;
            };
        }
        textarea {
            height: 180px;
            margin-bottom: $fontSize / 2;
        }
        button {
            margin: 0;
        }
        form {
            margin: {
                top: $fontSize;
            };
        }
    }
    .content {
        margin: {
            left: sqrt(2) * $size;
        };
        padding: {
            top: $fontSize;
            right: $fontSize;
            bottom: $fontSize;
        };
        h1 {
            position: relative;
            top: -5px;
            font-size: 1.2em;
            font-weight: bold;
            word-wrap: break-word;
            span {
                position: relative;
                z-index: 50;
                left: -$size / 2;
                font-size: 0.8em;
            }
            div {
                display: inline;
            }
            a {
                color: black;
                &:hover {
                    color: black;
                    text-decoration: underline;
                }
            }
        }
        .text-container {
            .expandable {
                max-height: 5em;
                overflow: hidden;
                p {
                    text-align: justify;
                    hyphens: auto;
                    margin: {
                        bottom: 0;
                    };
                }
                &.expanded {
                    /* max-height: 100em; */
                }
            }
        }
        small {
            font-size: .8rem;
        }
        .attachments {
            margin-bottom: 5px;
            padding-left:50px;
            img {
                max-width: 185px;
                max-height: 185px;
                margin-right: 20px;
                margin-top: $fontSize;
                border-radius: 10px;
            }

            .expandable {
                max-height: 205px;
                overflow: hidden;
                .lazyLoad {
                    display: none;
                }
            }
        }
        .tags {
            width: 76%;
            float: left;
        }
    }
    .share {
        position: relative;
        display: inline-block;
        &:hover {
            .fa-share-square-o {
                color: lighten(desaturate(color(5), 100%), 20%);
            }
            .sharing {
                max-width: 300px;
            }
        }
        &:first-child {
            float: right;
        }
        .sharing {
            float: left;
            max-width: 0;
            overflow: hidden;
            font-size: 0.5em;
            position: absolute;
            right: 30px;
            top: 0;
            z-index: 10;
            height: 33px;
            background-color: color(4);
            padding-left: 5px;
            a {
                &:first-child {
                    margin-left: 0px;
                }
            }
            @include transition(max-width .5s ease);
            div {
                text-align: right;
                white-space: nowrap;
                margin-right: 0.5em;
                span,
                a {
                    display: inline-block;
                    margin-left: 0.5em;
                    color: lighten(color(5), 30%);
                    height: 2em;
                    width: 2em;
                    padding-top: 0.5em;
                    text-align: center;
                    background-color: color(5);
                    border-radius: 50%;
                    text-shadow: 0 -1px 1px darken(color(5), 15%);
                    @include transition(color .5s);
                    @include transition(background-color 0.5s);
                    &:hover {
                        color: white;
                        background-color: darken(color(5), abs($button-function-factor));
                    }
                }
            }
        }
    }
    .arrow-move {
        position: relative;
        top: 7px;
    }
    .overlap {
        background-color: white;
        height: 2.3 * $size;
        width: $size;
        position: absolute;
        top: $arrowTop - 15px;
        left: 0;
        z-index: 10;
    }
    & .arrowbox {
        z-index: 9;
        position: absolute;
        border-radius: $border;
        background-color: white;
        box-shadow: $defaultShadow;
    }
    & .arrow {
        height: $size + 30px;
        width: $size;
        overflow: hidden;
        position: absolute;
        z-index: 20;
        &:after {
            z-index: 5;
            content: "";
            position: absolute;
            top: 2 * $border;
            height: $size;
            width: $size;
            @include rotate(45deg);
        }
    }
    &.need {
        h1 {
            span {
                color: color(1);
            }
        }
        & .arrowbox {
            height: $size;
            width: $size;
            left: $border - $size / 2;
            top: $arrowTop;
            @include rotate(45deg);
            -webkit-transform-origin: 50% 50%;
        }
        & .arrow {
            left: -$size + 2 * $border + 5px;
            top: $arrowTop - 2 * $border;
            &:after {
                left: $size / 2;
                background-color: color(1);
            }
        }
    }
    &.offer {
        h1 {
            span {
                color: color(2);
            }
        }
        & .arrowbox {
            height: round(sqrt(2) * $size) + 4 * $border;
            width: $size;
            left: -$size / 2;
            top: $arrowTop - round(sqrt(2) * $size) + $size + $border;
            border-radius: $global-radius;
        }
        & .arrow {
            left: -$size / 2 + 2 * $border;
            top: $arrowTop - round(sqrt(2) * $size) + $size + 3 * $border;
            &:after {
                left: -$size / 2;
                background-color: color(2);
            }
        }
    }
    &.rating-received {
        & .arrowbox {
            height: $size;
            width: $size;
            left: $border - $size / 2;
            top: $arrowTop;
            @include rotate(45deg);
            -webkit-transform-origin: 50% 50%;
        }
        &.positive, &.positive > .overlap, &.positive > .arrowbox {
            background: lighten(color(2), 45%);
        }
        &.negative, &.negative > .overlap, &.negative > .arrowbox {
            background: lighten(color(5), 45%);
        }
    }
}

#confirm-delete, #confirm-report {
    button {
        padding: {
            top: 0.25em;
            bottom: 0.25em;
        };
        margin: {
            bottom: 0;
        };
    }
    .link-button {
        margin: {
            top: 0.5em;
        };
    }
}

.tags {
    .tagList {
        list-style: none;
        margin: {
            bottom: 0px;
            left: 0px;
            top: $fontSize;
        };
        li {
            border: 1px solid #C2C2C2;
            border-radius: 8px;
            padding: 1px;
            padding-left: 7px;
            font-size: 13px;
            padding-right: 7px;
            display: inline-block;
            margin-right: 6px;
            margin-bottom: 2px;
            margin-top: 2px;
            text-transform: capitalize;
        }
    }
}

.tagsActive {
    li {
        &.active,
        &:hover {
            cursor: pointer;
            background-color: #7AD0F1;
            border-color: #7AD0F1;
            color: white;
        }
    }
}

.mineItem {
    .avatar:before,
    .item,
    .arrowbox {
        border: 2px solid #f95800;
    }
    .share {
        color: #f95800 !important;
        a {
            text-shadow: none !important;
            background-color: #f95800 !important;
            color: lighten(#f95800, 50%) !important;
            &:hover {
                color: white !important;
                background-color: darken(#f95800, 20%) !important;
            }
        }
    }
    .controll-buttons {
        div {
            color: #f95800 !important;
            @include transition(color 0.5s);
            &:hover {
                color: darken(#f95800, 20%) !important;
            }
        }
    }
}

.wish-list {
    article.mine {
        .item,
        .arrowbox {
            border: 2px solid #f95800;
        }
    }
}


.post {
    &.hidden-init {
        display: none;
    }
    &.inactive {
        opacity: 0.55;
        .share {
            display: none;
        }
    }
}

// an exception for ignored <p> in <span> (as a by-product of a translation method)
button>span.ng-binding>p, h2>span.ng-binding>p {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: inherit;
    
}