#item-detail .row .row {
	margin-left: 0;
	margin-right: 0;
}

#item-detail .ad-detail-column.columns,
#item-detail .ad-detail-column .columns {
	padding-left: 0;
	padding-right: 0;
}

.market article.post-on-market .ad-detail-column .columns {
	padding-left: 0;
	padding-right: 0;
}

#item-detail,
.market article.post-on-market,
.profile-view article.post-on-market,
.community-view article.post-on-market {
	.box {
		padding: $ui-grid-size;
		box-shadow: $ui-box-shadow;
	}
	.item-status-bar {
		background: red;
		color: white;
		border-radius: $global-radius;
		margin: 0 0 3*$ui-small-grid-size;
		padding: $ui-small-grid-size $ui-grid-size;
		font-weight: 600;
	}
	.ad-author-column {
		&>div {
			display: inline-block;
			max-width: 12rem;
		}
		@media #{$large-up} {
			&:before {
				content: "";
				display: block;
				position: absolute;
				background: image-url("delimiter.png");
				opacity: .5;
				background-position: 0 0;
				width: 40px;
				height: 500px;
				background-size: 20px 500px;
				background-position: 20px 0px;
				background-repeat: no-repeat;
			}
		}
		h2 {
			font-size: $ui-text-font-size;
			text-align: center;
			font-weight: bold;
		}
		.avatar {
			a::before,
			img {
				width: 150px;
				height: 150px;
				box-shadow: none;
			}
		}
		.box {
			box-shadow: none;
			background: none;
			width:100%;
			padding:0;
			margin:0;
			.line {
				overflow-x: hidden;
				word-wrap: break-word;
				div.descr {
					clear: both;
					line-height: 130%;
					margin-top: 10px;
					margin-bottom: 10px;
					margin-left: 27px;
					.fa {
						float: left;
						margin-left: -27px;
						margin-top: 2px;
					}
				}
			}
			.descr .fa {
				width: 8px;
				color: color(1);
				margin-right: 3 * $ui-small-grid-size;
			}
			.social {
				font-size: 1.5rem;
				text-align: right;
				margin-top: 4px;
				margin-bottom: $ui-small-grid-size;
				padding-right: $ui-small-grid-size;
				.fa {
					color: color(5);
					margin: 1px;
				}
				.link {
					i {
						font-size: 21px;
						height: 20px;
						margin-left: 0;
						width: 19px;
					}
				}
			}
			.reg-date {
				font-size: 14px;
			}
		}
		.profile-link {
			line-height: 2rem;
		}
	}
	.ad-detail-column {
		margin-bottom: 3*$ui-small-grid-size;
		padding: 0;
		header {
			margin-bottom: 1em;
			div.columns {
				line-height: 23px;
			}
			h1 {
				font-size: $ui-title-font-size;
				font-weight: 700;
				word-wrap: break-word;
				margin: 0;
				margin-right: 3 * $ui-small-grid-size;
				display: inline;
			}
			.ad-flag-container>a {
				color: color(3);
				margin-left: 20px;
				padding:5px;
				position:relative;
				right:-5px;
			}
			.validity-warning {
				margin-right: 3 * $ui-small-grid-size;
				white-space: nowrap;
			}
		}
		h4 {
			font-size: $ui-text-font-size;
			font-weight: 600;
		}
		.text-container {
			a {
				color: color(5);
				font-weight: 600;
			}
			p {
				font-size: $ui-text-font-size;
				word-wrap: break-word;
			}
			.text-expand-link {
				display: inline-block;
			}
		}
		ul.address {
			margin-left: 0;
			li {
				list-style-type: none;
				font-size: $ui-text-font-size;
			}
		}
		.address-unlimited {
			margin-bottom: 3*$ui-small-grid-size;
		}
		footer {
			background: color(4);
			min-height: 74px;
			box-sizing: border-box;
			position: relative;
			top: $ui-grid-size;
			border-bottom-right-radius: $global-radius;
			border-bottom-left-radius: $global-radius;
			margin: {
				left: -1 * $ui-grid-size;
				right: -1 * $ui-grid-size;
				top: -1 * $ui-grid-size;
			}
			padding: {
				top: 15px;
				left: $ui-grid-size;
				right: $ui-grid-size;
			}

			.sharing,
			.sharing-trigger {
				height: $ui-button-height;
				line-height: $ui-button-height - 10px;
			}

			.sharing-trigger a {
				width: $ui-grid-size;
				height: $ui-grid-size;
				margin-top: 16px;
				color: color(3);

				&:before {
					width: $ui-grid-size;
					height: $ui-grid-size;
					line-height: 14px;
					font-size: 20px;
				}
				&:hover {
					color: lighten(color(3), 20%);
				}
			}

			.sharing a {
				color: color(4);
				background: color(3);
				border-radius: 50%;
				font-size: 15px;
				width: $ui-grid-size;
				height: $ui-grid-size;
				margin: $ui-small-grid-size / 2;
				line-height: 14px;
				transition: all .2s ease-out;
				&.fa-envelope {
					font-size: 13px;
					line-height: 16px;
					&:before {
						top: 5px;
					}
				}
				&.fa-facebook:before {
					left: 7px;
				}
				&:before {
					position: relative;
					top: 6px;
					left: 6px;
				}
				&:hover {
					background: color(5);
				}
				&:active,
				&:focus {
					background: darken(color(5), 10%);
				}
			}
			
			.post-edit-buttons-container {
				font-size: 22px; // @@TODO
				padding: $ui-small-grid-size;
				margin-top: -2px;
				a {
					color: color(3);
					margin-right: $ui-small-grid-size;
					&:hover {
						color: lighten(color(3), 10%);
					}
					&:active,
					&:focus {
						color: darken(color(3), 10%);
					}
				}
			}
			.reply-count-container .reply-info-link {
				color: color(3);
				text-decoration: underline;
				margin-left: 3*$ui-small-grid-size;
				&:hover {
					color: color(5);
				}
			}
			.reply-button-container,
			.reply-count-container {
				height: $ui-button-height;
				line-height: $ui-button-height;
				margin-right: 3 * $ui-small-grid-size;
				div {
					margin-left: $ui-grid-size / 5;
				}
			}
			.reply-button-container {
				button {
					color: lighten(color(4), 10%);
					p {
						margin: 0;
						font-size: $ui-text-font-size;
					}
				}
			}

			@media #{$large-up} {
				min-height: 60px;
				padding-top: 8px;
			}
		}
		.post-replies {
			margin-top: $ui-grid-size;
			h4 {
				position: relative;
				top: -2 * $ui-small-grid-size;
			}
			.reply-item {
				margin: {
					left: -1 * $ui-grid-size;
					right: -1 * $ui-grid-size;
					top: 2 * $ui-small-grid-size;
				}
				padding: $ui-grid-size;
				padding-bottom: 0;
				background: #ebf5f7; // light blue, should be defined as lighten base
				h4 {
					margin: 0px 0px 10px 0px;
				}
				.user {
					text-align: left;
					.avatar {
						margin-right: 1.25rem;
						//margin-top: -2 * $ui-small-grid-size; 
						a::before,
						img {
							width: 60px;
							height: 60px;
							box-shadow: none;
						}
					}
				}
/*				.content {
					margin-left: -3 * $ui-small-grid-size;
				}*/
				.reply-author {
					font-weight: 600;
				}
				.reply-contact p {
					margin-top: 0;
					margin-bottom: 3*$ui-small-grid-size;
					text-align: right;
					font-size: small;
				}
				.text-container p {
					margin-top: 2 * $ui-small-grid-size;
					margin-bottom: 3 * $ui-small-grid-size;
				}
			}
			.no-result, .no-result p {
				margin-bottom: 0;
			}
		}
		.carousel {
			margin: $ui-grid-size 0;
			.flexslider {
				margin: 0;
				box-shadow: none;
				border: 0;
				.slides img {
					width: auto;
					max-height: 5*$ui-grid-size;
					margin: 0 auto;
				}
			}
		}
		.map-expand-toggle {
			float: right;
			a {
				color: color(5);
			}
		}
		.map-container {
			margin-bottom: 3 * $ui-small-grid-size;
		}
	}
	*[data-item-type="need"],
	*[data-item-type="false"] {
		color: color(1);
	}
	*[data-item-type="offer"],
	*[data-item-type="true"] {
		color: color(2);
	}
	button[data-item-type="need"],
	button[data-item-type="false"] {
		background: color(1);
		&:hover {
			background: lighten(color(1), 10%);
		}
		&:focus,
		&:active {
			background: darken(color(1), 10%);
		}
	}
	button[data-item-type="offer"],
	button[data-item-type="true"] {
		background: color(2);
		&:hover {
			background: lighten(color(2), 10%);
		}
		&:focus,
		&:active {
			background: darken(color(2), 10%);
		}
	}
}

.lemmon-slider {
	position: relative;
	.container {
		overflow: hidden;
		width: 100%;
		height: 120px;
		margin-bottom: 25px;
		ul {
			height: 120px;
			margin: 0;
			padding: 0;
			li {
				float: left;
				margin: 0 5px 0 0;
				list-style: none;
			}
		}
	}
	.controll {
		position: absolute;
		top: 0px;
		width: 100%;
		display: none; // hide them first and show only if we show slider too
		a {
			color: rgba(0, 0, 0, 0.8) !important;
			background: none repeat scroll 0 0 white;
			cursor: pointer;
			display: block;
			font-size: 26px;
			width: $ui-grid-size;
			height: 2* $ui-grid-size;
			opacity: 0.8;
			overflow: hidden;
			padding-left: 2px;
			padding-right: 0;
			padding-top: 11px;
			position: absolute;
			text-decoration: none;
			top: 30px;
			vertical-align: middle;
			z-index: 10;
			&:hover {
				opacity: 1;
			}
			&.prev-page {
				left: 0px;
				border-top-right-radius: $global-radius;
				border-bottom-right-radius: $global-radius;
			}
			&.next-page {
				right: 0px;
				border-top-left-radius: $global-radius;
				border-bottom-left-radius: $global-radius;
				right: 0px;
				text-align: right;
			}
		}
	}
}
