.itemEdit {
    width: 800px;
    padding: 15px;
    text-align: left;
    .head {
        text-align: center;
        h2 {
            font-weight: normal;
            font-size: 25px;
            text-align: center;
            span {
                padding-left: 20px;
            }
        }
    }
    hr {
        border: 1px solid #bbb8b1;
        margin-bottom: 22px;
    }
    input, textarea {
        border: 1px solid #d7d7d7 !important;
        background: transparent !important;

        -webkit-box-shadow:inset 0 0 5px #d7d7d7 !important;
           -moz-box-shadow:inset 0 0 5px #d7d7d7 !important;
                box-shadow:inset 0 0 5px #d7d7d7 !important;
    }
    label {
        font-size: 16px;
        display: inline-block;
        .fa {
            margin-right: 4px;
        }
    }
    textarea {
        height: 150px;
        resize: vertical;
    }
    a {
        color: color(5);
    }
    .name {
        position: relative;
        top: 4px;
        margin-left: 170px;
        width: 78%;
    }
    .tags {
    }
    .date {
        margin-bottom: 15px;
        input {
            padding-left: 20px;
            padding-right: 20px;
            width: 115px;
            margin-bottom: 0px !important;
        }
    }
    .files {
      & > div {
        width: 50%;
        text-align: center;
      }
    }

    .lock {
      & > a {
        width: 50%;
        text-align: center;
        margin-bottom: 25px;
      }
    }
    .charsleft {
        text-align: right;
        margin: {
            bottom: 0;
            right: $global-radius;
        };
        font-size: 0.8em;
    }
    .alert-box {
        border-radius: $global-radius $global-radius 0 0;
        margin: {
            left: $global-radius;
            right: $global-radius;
            bottom: 0;
        };
    }
    .row {
        margin: {
            bottom: $fontSize/2;
        }
    }
}