.location-map {
	height: 250px;
	clear: both;
}

.pac-container {
    //google maps search field - list
    z-index: 99999 !important;
    top: 100px;
}

.gmnoprint img {
    max-width: none;
}

.locations  {
	input {
		cursor: pointer;
		margin:  {
			bottom: rem-calc(18 / 2);
		} 
	}

	.row {
		.locInput {
			width: 94%;
			position: relative;
		}
		.mapIcon {
		    font-size: 14px;
		    padding-left: 10px;
		    position: relative;
		    text-align: center;
		    top: 5px;
		    i {
		    	position: relative;
	    	    display: block;
			    font-size: 27px;
			    line-height: 16px;
		    	span {
				    bottom: -4px;
				    font-size: 17px;
				    position: absolute;
				    right: -5px;
		    	}
		    }
		    &.selected {
		    	a {
		    		color: #F95901;
		    	}
		    }
		}
	}
	.controll {
		position: relative;
		top: -8px;
	}
}
