
.pac-container {
	//google maps search field - list
	z-index: 99999 !important;
	top: 100px;
}

.gmnoprint img {
	max-width: none;
}

.location-picker  {
	.map-container {
		height: 250px;
		clear: both;
		margin-top:10px;
	}

	.map-controll {
		padding-top:15px;
	}
	.location-input {

		.map-icon {
			margin-right:25px;
			i span {
				position:relative;
				top:10px;
				right:10px;
				font-size:5px;
			}
		}
		&.disabled {
			.tags {
				background-color: #DDD !important;
			}
		}
	}


}
