.location-map {
	height: 250px;
	clear: both;
}

.pac-container {
    //google maps search field - list
    z-index: 99999 !important;
    top: 100px;
}

.gmnoprint img {
    max-width: none;
}

.location-picker  {
	.location-input {

		&.disabled {
			.tags {
				background-color: #DDD !important;
			}
	
			.mapIcon {
				a {
					&:hover {
						opacity: 1;
						cursor: default;
						color: inherit;
					}
				
					color: #939393 !important;
				}
			}
		}
	}

	.controll {
		.checkbox {
			padding-top: 0px;
		}
	}

	.mapIcon {
		z-index: 10;
	    font-size: 14px;
	    padding-left: 10px;
	    position: relative;
	    text-align: center;
	    top: 5px;
	    i {
	    	position: relative;
    	    display: block;
		    font-size: 27px;
	    	margin-bottom: 3px;
		    line-height: 16px;
	    	span {
			    bottom: -6px;
			    font-size: 17px;
			    position: absolute;
			    right: 0px;
	    	}
	    }
	    &.selected {
	    	a {
	    		color: #F95901;
	    	}
	    }
	}
}
