#maitenancePage {
  
  display: none;
  
  .ngdialog-content {
    background-color: transparent;
    height: 100px;
    margin:15% auto;
    margin-top: -50px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: 50%;

    h2 {
      color: white;
    }
  }
}

