.map {
    .map-canvas {
        height: 400px;
        img {
            max-width: inherit;
        }
        display: block;
        border-radius: $global-radius;
        border: 1px solid darken(color(4), 20%);
        margin: {
            bottom: 1em;
        };
    }
    .marker-tooltip {
        text-align: left;
        cursor: pointer;
        .content {
            margin: {
                left: 3.7em;
            };
        }
        img {
            border-radius: $global-radius;
            width: 3em;
            float: left;
        }
    }
}