.messages {
    table {
        background-color: white;
        width: 100%;
        tr {
            td {
                padding: 1em;
                font-weight: bold;
                cursor: pointer;
                &:first-child {
                    width: 2em;
                }
                &:nth-child(2) {
                    width: 2em;
                }
            }
            &:hover {
                background-color: darken(nth($color, 5), 20%);
            }
        }
        tr.read {
            td {
                font-weight: normal;
            }
        }
    }
    .icon {
        background-color: nth($color, 3);
        color: nth($color, 5);
        padding: 0.5em;
        @include border-radius(50%);
    }
    .top-bar {
        height: 40px;
        .top-bar-section li a:not(.button) {
            line-height: 40px;
        }
        input {
            margin-top: 0px;
            margin-left: 8px;
            margin-right: 0px;
        }
    }
    .menu {
        li {
            @include transition(color, 0.8s);
            &:hover {
                color: nth($color, 1);
                cursor: pointer;
            }
        }
    }
}