.messages {
	.conversations {
		overflow: hidden;
		height: 100%;
		padding-right: 5px;
		position: relative;
		width: 326px;

		&::after {
			background: image-url("messages_left_side_shade.png");
			background-position: center bottom;
			width: 100%;
			position: absolute;
			bottom: 0px;
			left: 0px;
			content: "";
			height: 30px;

		}

		.scroll-content {
			padding-right: 15px;
		}

		.scroll-element_size {
		    background-color: #eeeeee;
		    border-radius: 5px;
		    left: -9px;
		    top: -2px !important;
		    width: 6px;
		    opacity: 0;
		    transition: opacity 0.2s linear 0s;
		}

		.scroll-x {
			display: none !important;
		}

		&:hover .scroll-element_size {
			opacity: 1;
		}

		&>div {
			height: 100%;
		}
		.border-bottom,
		.conversation {
			border-bottom: 1px solid #CCC;
			&.active-bottom {
				border-bottom-color: orange;
			}
		}

		.conversation {
			cursor: pointer;
			padding: 10px;
			padding-left: 0px;

			h5 {
				margin:0px;
				position: relative;
				top: -5px;
			}

			&.active {
				h5 {
					color: orange;
				}
				border-bottom-color: orange;
			}
		}
		.conversation-unreaded {
			background-color: #AAA;
		}

		.avatars {
			float: left;
			margin-right: 10px;
			
			avatar {
				position: default;
				margin-right: 5px;
			}
		}

		.conversation-info {
			margin-left: 60px;

			i {
				margin-right: 10px;
				float: right;
			}
		}
	}

	.conversation-detail-container {
		width: 634px;
		height: 100%;
		
		&>div {
			position: relative;
			height: 100%;
		}
		
		.conversation-detail {
			position: absolute;
			bottom: 0px;
			width: 100%;

			.message-head {
				h5 {
					position: relative;
					top: -5px;
				}
				.avatar {
					margin-right: 10px;
				}

				h4 {
					position: relative;
					top: 5px;
				}
			}


			.messages-container {
			}
			.message-reply {
				textarea {
				    resize: none;
				}
			}
		}
	}
}