.messages {
	.files-upload {
		padding: 5px 0;

		a {
			color: $colorBlue;
		}

		#file {
			display: none;
		}

		.files {
			position: relative;

			.loading {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				text-align: center;
				background: white;
				opacity: .75;
				width: 96px;
				z-index: 100;

				i {
					position: absolute;
					margin: -14px 0 0 -14px;
					top: 50%;
					left: 50%;
				}
			}

			.file-preview {
				border: 1px dashed #999;
				border-radius: 8px;
				text-align: center;
				max-width: 96px;
				min-width: 96px;
				margin: 5px 0;
				padding: 10px;

				.file-name {
					margin: 0;
					font-size: 11px;
					color: #999;
				}

				i {
					font-size: 14px;
					color: $colorBlue;
					margin-bottom: 10px;
				}

				&.image {
					border: none;
					padding: 0;

					#file-preview {
						border-radius: 8px;
					}
				}
			}
		}
	}

	.bottom {
		margin-top: 10px;
	}

	.first-message {
		.bottom .action-link {
			display: none;
		}
	}
	.messages-top {
		input,
		select {
			width: 240px;
			display: inline-block;
			display: inline-block;
			background-color: white;
		}
		select {
			width: 340px;
			float: left;
		}
		.search {
			.slide-show {
				float: left;
				overflow: hidden;
				max-width: 0px !important;
				transition: max-width 1s;
				&.width-auto {
					max-width: 1000px !important;;
				}
			}
			display: inline-block;
			margin-left: 30px;
			height: 30px;
		}
		button {
			width: 30px;
			height: 30px;
			font-size: 20px;
			outline: none;
		}
		@media #{$small-only} {
			.button-send,
			select.messages-filter {
				width: 100%
			}
		}
	}
	.conversations {
		overflow: hidden;
		height: 100%;
		padding-right: 5px;
		position: relative;
		width: 355px;
		.nano-content {
			outline: none !important;
			.no-result {
				margin: 20px;
				margin-left: 0px;
				img {
					height: 200px;
				}
			}
		}
		.shadow-bottom::after {
			background: image-url("messages_left_side_shade.png");
			background-repeat: no-repeat;
			background-position: center bottom;
			width: 100%;
			position: absolute !important;
			bottom: 0px;
			left: 0px;
			content: "";
			height: 30px;
		}
		& > div {
			height: 100%;
		}
		.border-bottom,
		.conversation {
			border-bottom: 1px solid #CCC;
			&.active-bottom {
				border-bottom-color: color(1);
			}
		}
		.conversation {
			display: flex;
			cursor: pointer;
			padding: 10px;
			padding-left: 0px;
			&.unreaded {
				h2 {
					color: #1da8db;
				}
			}
			.conversation-info {
				margin-top: 7px;
				float: left;
				width: 100%;
				i {
					float: right;
					font-size: 13px;
					color: #999;
					margin-right: $ui-small-grid-size;
				}
				.unreaded-count {
					background-color: #1da8db;
					border-radius: 50%;
					display: inline-block;
					height: 14px;
					width: 14px;
					position: relative;
					bottom: 2px;
					float: right;
				}
				@media #{$small-only} {
					width: 100%;
				}
			}
			h2 {
				float: left;
				margin: 0px;
				position: relative;
				font-size: 14px;
				top: -5px;
			}
			p {
				color: #555;
				font-size: 12px;
				height: 35px;
				line-height: 16px;
				margin-bottom: 5px;
				word-wrap: break-word;
				overflow: hidden;
			}
			&.active {
				background-color: rgba(251, 127, 59, 0.10);
				h2 {
					color: color(1);
				}
				p {
					color: black;
				}
				border-bottom-color: color(1);
				.unreaded-count {
				}
			}
		}
		.avatars {
			float: left;
			margin-right: 10px;
			margin-left: 10px;
			min-width: 80px;
			max-width: 80px;

			avatar {
				position: default;
				margin-right: 5px;
			}
			.avatar {
				float: left!important;
			}
			.avatar-no-participants {
				background-color: #DDD;
				margin: 0px auto;
				width: 50px;
				height: 50px;
				margin-top: 20px;
				border-radius: 50%;
			}
			.avatar-participants-count {
				background-color: #dddddd;
				border-radius: 50%;
				float: left;
				font-weight: bold;
				height: 40px;
				padding-top: 12px;
				text-align: center;
				width: 40px;
			}
		}
	}
	.conversation-detail-container {
		width: 570px;
		padding: 20px;
		//max-height: 100%;
		& > div {
			position: relative;
			height: 100%;
		}
		.conversation-detail {
			a {
				color: color(5);
				&:hover {
					color: lighten(color(5), 10);
				}
			}
			.conversation-detail-top {
				padding-bottom: 15px;
				padding-right: 10px;
				.conversation-title {
					max-width: 540px;
					line-height: 18px;
					display: inline-block;
					& > a {
						padding-bottom: 5px;
					}
				}
				.post_link {
					color: inherit;
					text-decoration: underline;
					&:hover {
						color: #777;
					}
				}
				hr {
					margin-top: 10px;
				}
				.conversation-participants {
					min-height: 40px;
					max-height: 145px;
					overflow-x: hidden;
					overflow-y: auto;
					.loading {
						font-size: 20px;
						position: relative;
						top: 14px;
						height: auto;
					}
					&.nano {
						height: 145px !important;
						.nano-content {
							margin-right: 0px !important;
						}
					}
					ul {
						list-style: none;
						margin: 0px;
						li {
							display: block;
							float: left;
							width: 33%;
							padding-bottom: 5px;
							padding-top: 5px;
							font-size: 14px;
							a.avatar {
								float: left;
								position: static;
							}
						}
					}
				}
			}
			.message-head {
				font-size: 14px;
				&.owner-name {
					.avatar {
						position: relative;
						top: 15px;
					}
					h5 > div {
						color: #999;
						font-size: 12px;
					}
				}
				.avatar {
					margin-right: 10px;
				}
				h5 {
					font-weight: 600;
					font-size: 14px;
					position: relative;
					top: 5px;
				}
				& > span {
					margin-right: 5px;
					color: #999;
					position: relative;
					top: 10px;
				}
			}
			p {
				margin-top: 0px;
				margin-bottom: 15px;
				margin-left: 33px;
				word-wrap: break-word;
			}
			.conversation-actions-dropdown {
				position: absolute;
				right: -16px;
				top: 30px;
				width: 200px;
				border-radius: $global-radius;
				z-index: 90;
				padding: 15px;
				padding-top: 5px;
				min-height: 40px;
				box-shadow: 0px 0px 6px 0px rgba(100, 100, 100, 0.3);
				background: white;
				hr {
					border: none;
					height: 0;
					border-bottom: 1px solid lighten($ui-color-lighter, 15%);
					margin-top: $ui-small-grid-size;
					margin-bottom: $ui-small-grid-size;
				}
				b {
					font-weight: $ui-text-weight-bolder;
				}
				a {
					display: block;
					margin-top: 10px;
					font-weight: 600;
				}
				&:after {
					content: ' ';
					position: absolute;
					top: -7px;
					right: 3*$ui-small-grid-size;
					transform: rotate(45deg);
					box-shadow: -2px -2px 4px 0px rgba(100, 100, 100, 0.2);
					width: 15px;
					height: 15px;
					background: white;
				}
			}
			.messages-container {
				display: none;
				.nano-content {
					max-height: 100%;
					article {
						max-width: 600px;
						margin-top: 10px;
						margin-right: 10px;

						p {
							font-size: 14px;
						}
					}
					.system-message p {
						text-align: center;
						color: #999;
					}
				}
				&.shadow-top::after {
					background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #ffffff 70%) repeat scroll 0 0 rgba(0, 0, 0, 0);
					position: absolute !important;
					top: 0px;
					left: 0px;
					width: 100%;
					content: "";
					height: 30px;
				}
			}
			.message-reply {
				width: 100%;
				min-height: 118px;
				padding-top: 10px;
				padding-right: 10px;
				.author-info {
					font-weight: bold;
					margin-bottom: 10px;
					.avatar {
						margin-right: 5px;
						margin-left: 8px;
						top: 7px;
					}
					span {
						color: #999;
					}
				}
				textarea {
					transition: none;
					max-height: 140px;
					resize: none;
				}
			}
		}
		.no-result img.responsive-height {
			max-height: 50%;
			max-height: 50vh;
		}
	}
}

.nano > .nano-pane {
	z-index: 10;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1) !important;
}

.nano-content {
	//	right: -50px !important; /* when zoomed out, there is a little bit of native scrollbar */
}

.modal.new-message {
	label {
		width: 100%;
	}
	.bottom {
		margin-top: 0px;
	}
	.recipient label {
		margin-bottom: 0px;
	}
}
