$topBarHeight: 40px;
$topBarLabelSize: $ui-smaller-font-size;
$topBarImageSize: 1.8em;

.left-off-canvas-menu {
	a {
		border-bottom: 0px !important;
		&.active {
			font-weight: bold;
			color: white;
			background-color: $colorOrange;
		}
	}

	.log-info{
		padding: 1rem 0.6666666667rem;
		font-weight: bold !important;
		white-space: nowrap;
		font-size: 1.2rem;

		.avatar{
			margin-right: .5rem;
			vertical-align: top;
		}
		a{
			display: block;
			white-space: nowrap;

			.ellipsed-username{
				width: calc(100% - 60px);
				overflow: hidden;
				text-overflow: ellipsis;
				vertical-align: bottom;
			}
		}
		a,
		a:hover{
			padding: 0 !important;
			background: transparent !important;
		}
		a:hover{
			color: #fff !important;
		}
	}

	.socials span {
		margin-right: 2px;
	}

	.off-canvas-list {
		.first {
			border-top: none;
		}

		i {
			&.fa {
				width: 24px;
			}
		}

		.messages-icon {
			margin-left: 6px;
    		margin-right: 5px;
		}
	}
}

.exit-off-canvas {
	box-shadow: -4px 0 4px rgba(0, 0, 0, 0.3), 4px 0 4px rgba(0, 0, 0, 0.5);
}
.header {
	width:100vw;
	box-shadow: 0 2px 2px rgba(black, 0.3);
	min-height: 72px;
	background-color: $colorOrange;
}

.mobile-top-search-bar-container {
	//box-shadow: 0 4px 2px -2px rgba(100, 100, 100, 0.5);
	padding-bottom: 15px;
	//transition: all .3s ease-in-out;
	padding-right: 1rem;
	z-index: 99;
	max-height:120px;

	.logo {
		display: inline-block;
	}
	.button {
		white-space: nowrap;
		padding-top: 5px;
		padding-bottom: 5px;
		height: auto;
		left: 1rem;
	}
	.search-submit {
		border: 0;
		color: initial;
		background: initial;
		padding: 0;
		margin: 0;
	}
	.search {
		text-align: center;
		& > div > * {
			display: inline-block;
		}
		select {
			width: auto;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			border-right: 0px;
			display: block;
			float: left;
			margin: 0;
		}
		.middle {
			overflow: hidden;
			display: block;
			input {
				width: 100%;
				display: block;
				background-color: white;
				border-top-left-radius: 0em;
				border-bottom-left-radius: 0em;
				margin: 0;
			}
		}
		.fa-search {
			float: right;
			font-size: 30px;
			margin-top: 2px;
			margin-left: 12px;
			cursor: pointer;
		}
	}
}

.tab-bar {
	padding-top: 15px;
	padding-bottom: 15px;
	height: inherit !important;

	&.tab-bar-closed {
		.menu-icon {
			display: inline-block;
			text-indent: 0px;
			position: relative;
			top: -1px;
			left: 13px;
		}
	}
	.header-right,
	span {
		float: right;
		margin-right: 10px;
		letter-spacing: 5px;
		font-size: 29px;
		cursor: pointer;
		i {
			cursor: pointer;
			&.active {
				color: #FFD166;
			}
		}
	}
	.fa-bars {
		font-size: 30px;
		position: relative;
		top: 10px;
		left: -10px;
	}
	i:hover {
		color: #DDD;
	}
}

@media #{$medium-down} {
	#unreaded-messages-counter {
		.alert {
			font-weight: bold;
			font-size: 15px;
		}
	}
	.small-search {
		padding: 0px;
		text-align: center;
		a.button {
			height: 2.3125rem;
			line-height: 2.3125rem;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 14px;
			background-color: #4CCBDE;
			border-radius: 4px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			color: white;
			left: 0px;
			min-width: unset;
			&:hover {
				background-color: darken(#4CCBDE, 20%);
			}
		}
		.search-button-container {
			position: relative;
			float: right;
			.search-filters {
				position: absolute;
				top: 36px;
				left: -150px;
				z-index: 10;
				ul {
					background-color: white;
					border: 1px solid #DDD;
					width: 150px;
					text-align: left;
					margin-left: 0px;
					list-style: none;
					li {
						padding: 10px;
						padding-left: 20px;
						cursor: pointer;
						&:hover {
							background-color: #EEE;
						}
						&.active {
							font-weight: bold;
						}
					}
				}
			}
		}
		.desktop-search-input-container {
			overflow: hidden;
			display: block;
			position: relative;
			input {
				width: 100%;
				display: block;
				border-top-right-radius: 0em;
				border-bottom-right-radius: 0em;
				margin: 0;
				padding-right: 45px;
				border: unset !important;
				box-shadow: unset !important;
			}
			.search-icons {
				cursor: pointer;
				color: #9B9B9B;
				position: absolute;
				top: 7px;
				right: 15px;
				i {
					&.fa-sort-desc {
						position: relative;
						font-size: 20px;
						top: -2px;
						margin-left: 0px;
					}
				}
			}
		}
	}
}

@media #{$large-up} {
	.header {
		min-height: inherit;
	}
	nav.top-bar {
		margin: 0 auto;
		padding: 6px;
		max-width:$webWidth;

		.dropdown-container a{

		}

		section.bar-columns {
			padding:0;

			&.logo-column {
				float:left;
				width:20%;
				margin-top:5px;
				margin-left:5px;
			}
			&.searchbox-column {
				float:left;
				width:28%;
				position:relative;

				.search-input-submit-icon {
					position: absolute;
					right: -5px;
					top: 12px;
					color: color(1);
					cursor: pointer;
				}
			}
			&.icons-column {
				float:right;
				width:50%;
				text-align: right;
				padding-right:15px;

				.header-item{
					& .fa{
						position: relative;
						font-size: 25px;
						top: -3px;
					}
					& .fa.icon-community {
						left: -7px;
					}
				}
				& .header-item,
				& .header-item > i{
					color: lighten(color(1), 25%);
					transition: color 1s, text-shadow 2s;
				}
				.avatar-image{
					transition: opacity 1s;
					box-shadow: 0 0 0px 2px lighten(color(1), 25%);
				}
				&>*{
					display: inline-block;
					text-align: center;
					label {
						color: lighten(color(1), 25%);
						transition: color 1s, text-shadow 2s;
						line-height: 1;
						font-size: 13px;
					}
					margin: {
						left: 4px;
						right: 4px;
					}
					&.active,
					&:hover {
						color: lighten(color(1), 50%) !important;

						label {
							color: lighten(color(1), 50%);
						}
						.avatar-image{
							opacity: 1;
							box-shadow: 0 0 0px 2px lighten(color(1), 25%), 0 0 5px white;
						}
					}
				}
				.top-bar-messages {
					display: inline-block;
					.messages-icon::after {
						color: #ffa97a;
						left: 0;
						right: 0;
						top: -7px;
						position: absolute;
						z-index: -1;
						font-size: 30px;
					}
					& > a:hover .messages-icon::after,
					& > a.active .messages-icon::after {
						color: lighten(color(1), 50%);
					}
					.messages-icon {
						background: none;
						color: #fa5800;
						font-weight: bold;
						position: relative;
						z-index: 1;
						height: 30px;
						width: 30px;
						top: 5px;
						display: inline-block;
					}
				}
				.avatar {
					img {
						width: 25px;
						height: 25px;
					}
				}
				.top-bar-separator {
					width: 40px;
					height: 40px;
					display: inline-block;
				}
			}
		}
	}
}
#navigation {
	& .dropdown {
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
		left: 6px;
		.fa {
			width: $fontSize;
		}
		& a {
			display: block;
			text-align: left;
			color: #7c766a;
		}
		& a:hover {
			color: #fff;
		}

		.social-menu {
			margin-left: 4px;
			list-style: none;

			li {
				width: 37px;
				margin-top: -10px;
				font-size: 2rem;
				display: inline-block;
				margin-right: 8px;

				a {
					&:hover,
					&:hover > .fa{
						color: #fa5800 !important;
					}
				}
			}
		}
	}
	.user-dropdown {
		p.heading {
			text-align: left;
			padding-left: 5px;
			margin-bottom: 0px;
			color: #7c766a;
		}
		.fa {
			margin-right: 5px;
		}
		.user-switch-item {
			padding-top: 7px;
			padding-bottom: 6px;
		}
		.user-switch-item {
			margin-left: 10px;
		}
	}

	.user-switch-item {
		.avatar {
			margin-right: 5px;
			vertical-align: middle;
		}
	}
}

#language-panel{
	position: relative;
	top: 72px;
	padding: $size-medium;
	background: #fff;
	border-bottom: #ddd;
	box-shadow: 0 .05rem .5rem 0 rgba(0,0,0,.4);

	z-index: 1000;
}

.messages-icon::after {
	content: "";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	transition: color 1s, text-shadow 2s;
}

/* @kamil - temporary workaround against breaking of navigation on screens smaller than 370px */
@media only screen and (max-width: 370px){
	#language-bar-mobile{
		display: none !important;
	}
}
/* /kamil */