#navigation { height:$ui-navbar-height;}

.top-bar,
.left-off-canvas-menu {
    a.active {
        font-weight: bold;
    }
}

.left-off-canvas-menu {

    .socials span {
        margin-right: 2px;
    }
}

.tab-bar-closed {
    .menu-icon{
        display: inline-block;
        margin-right: 20px;
        text-indent: 1.1875rem;
        position: relative;
        top: -1px;
    }
}


.orange-bar {
    background-color: color(1);
    box-shadow: 0 4px 2px -2px rgba(100, 100, 100, 0.5);
    padding:10px 0;

    .logo {
        display: inline-block;
    }

    .button {
        white-space: nowrap;
        padding-top: 5px;
        padding-bottom: 5px;
        height:auto;
        left:1rem;
    }

    .search-submit {
        border:0;
        color:initial;
        background:initial;
        padding:0;
        margin:0;
    }

    .search {
        text-align: center;
        &>div>* {
            display: inline-block;
        }

        select {
            width: auto;

            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-right: 0px;
            display: block;
            float: left;
            margin:0;
        }

        .middle {
            overflow: hidden;
            display: block;

            input {
                width: 100%;
                
                display: block;
                background-color: white;
                border-top-left-radius: 0em;
                border-bottom-left-radius: 0em;
                margin:0;
            }
        }


        .fa-search {
            float: right;
            font-size: 30px;
            margin-top: 2px;
            margin-left: 12px;
            cursor: pointer;
        }
    }
}

.top-bar ul > li.has-dropdown .dropdown:before {
    display: none;
}

.top-bar ul > li.has-dropdown .dropdown:after {
    display: none;
}

.top-bar-section {
    .dropdown {
        min-width: 168px;
    }
    .no-hover:hover {
        background-color: white;
        span {
            background-color: white;
        }
    }

    .social-menu {
        li {
            display: inline-block;
            width: auto !important;;
        }
    }


}

.tab-bar {
    
    .fa-bars {
        font-size: 30px;
        position: relative;
        top: 10px;
        left: -10px;
    }
}

@media #{$large-up} {
    .top-bar {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: 50;
    }
    .orange-bar {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 40px;
        z-index: 40;
    }

}

#unreaded-messages-counter {
    .alert {
        
        font-weight: bold;
        font-size: 15px;
    }
}