$topBarHeight: rem-calc(40);
$topBarLabelSize: rem-calc($ui-smaller-font-size);
$topBarImageSize: 1.8em;

.left-off-canvas-menu {
	a {
		border-bottom: 0px !important;
		&.active {
			font-weight: bold;
			color: white;
			background-color: $colorOrange;
		}
	}

	.socials span {
		margin-right: 2px;
	}

	.off-canvas-list {
		.first {
			border-top: none;
		}
	}
}

.exit-off-canvas {
	box-shadow: -4px 0 4px rgba(0, 0, 0, 0.3), 4px 0 4px rgba(0, 0, 0, 0.5);
}


nav {
    z-index: 99;
}

.orange-bar {
	background-color: color(1);
	box-shadow: 0 4px 2px -2px rgba(100, 100, 100, 0.5);
	padding-bottom: 15px;
	transition: max-height .3s ease-in-out;
	.logo {
		display: inline-block;
	}
	.button {
		white-space: nowrap;
		padding-top: 5px;
		padding-bottom: 5px;
		height: auto;
		left: 1rem;
	}
	.search-submit {
		border: 0;
		color: initial;
		background: initial;
		padding: 0;
		margin: 0;
	}
	.search {
		text-align: center;
		&>div>* {
			display: inline-block;
		}
		select {
			width: auto;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			border-right: 0px;
			display: block;
			float: left;
			margin: 0;
		}
		.middle {
			overflow: hidden;
			display: block;
			input {
				width: 100%;
				display: block;
				background-color: white;
				border-top-left-radius: 0em;
				border-bottom-left-radius: 0em;
				margin: 0;
			}
		}
		.fa-search {
			float: right;
			font-size: 30px;
			margin-top: 2px;
			margin-left: 12px;
			cursor: pointer;
		}
	}
}

.tab-bar {
	padding-top: 15px;
	padding-bottom: 15px;
	height: inherit !important;
	&.tab-bar-closed {
		.menu-icon {
			display: inline-block;
			margin-right: 12px;
			text-indent: 0px;
			position: relative;
			top: -1px;
			left: 25px;
		}
	}
	span {
		float: right;
		margin-right: 10px;
		letter-spacing: 5px;
		font-size: 29px;
		cursor: pointer;
		i {
			cursor: pointer;
			&.active {
				color: #FFD166;
			}
		}
	}
	.fa-bars {
		font-size: 30px;
		position: relative;
		top: 10px;
		left: -10px;
	}
	i:hover {
		color: #DDD;
	}
}

@media #{$medium-down} {

	#unreaded-messages-counter {
		.alert {
			font-weight: bold;
			font-size: 15px;
		}
	}
	.small-search {
		padding: 0px;
		text-align: center;
		a.button {
			height: 2.3125rem;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 14px;
			background-color: #4CCBDE;
			border-radius: 4px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			color: white;
			left: 0px;
			padding-top: 4px;
			min-width: unset;
			&:hover {
				background-color: darken(#4CCBDE, 20%);
			}
		}
		.search-controll {
			position: relative;
			float: right;
			.search-filters {
				position: absolute;
				top: 36px;
				left: -150px;
				z-index: 10;
				ul {
					background-color: white;
					border: 1px solid #DDD;
					width: 150px;
					text-align: left;
					margin-left: 0px;
					list-style: none;
					li {
						padding: 10px;
						padding-left: 20px;
						cursor: pointer;
						&:hover {
							background-color: #EEE;
						}
						&.active {
							font-weight: bold;
						}
					}
				}
			}
		}
		.middle {
			overflow: hidden;
			display: block;
			position: relative;
			input {
				width: 100%;
				display: block;
				border-top-right-radius: 0em;
				border-bottom-right-radius: 0em;
				margin: 0;
				padding-right: 45px;
				border: unset !important;
				box-shadow: unset !important;
			}
			.search-icons {
				cursor: pointer;
				color: #9B9B9B;
				position: absolute;
				top: 7px;
				right: 15px;
				i {
					&.fa-sort-desc {
						position: relative;
						font-size: 20px;
						top: -2px;
						margin-left: 0px;
					}
				}
			}
		}
	}
}

@media #{$large-up} {
	nav {
		width: 100%;
	    left: 0;
	    position: fixed;
	    top: 0;
		box-shadow: 0 2px 2px rgba(black, 0.3);
		background-color: color(1);
		padding: $fontSize / 2;
	}
	nav>.navigation {
		margin: auto;
		max-width: 960px;
		.row {
			margin: 0px auto !important;
		}
		.fa.icon-community {
			position: relative;
			top: -3px;
			left: -7px;
		}
		.fa.icon-marketplace,
		.fa.fa-question-circle,
		.fa.fa-sign-in {
			position: relative;
			top: -3px;
		}
		.columns {
			&.icons {
				text-align: right;
			}
			>.separator {
				width: $topBarHeight;
				height: $topBarHeight;
				display: inline-block;
			}
			> a,
			>span>a {
				display: inline-block;
				color: lighten(color(1), 25%);
				text-align: center;
				transition: color 1s, text-shadow 2s;
				label {
					color: lighten(color(1), 25%);
					transition: color 1s, text-shadow 2s;
					line-height: 1;
					font-size: $topBarLabelSize;
				}
				margin: {
					left: $fontSize / 2;
					right: $fontSize / 2;
				}
				.fa {
					font-size: $topBarHeight - $topBarLabelSize;
				}
				.img {
					opacity: 0.8;
					overflow: hidden;
					transition: opacity 1s;
					border: 2px solid lighten(color(1), 25%);
					img {
						border-radius: 50%;
					}
				}
				&.active,
				&:hover {
					color: lighten(color(1), 50%);
					.fa {
						text-shadow: 0 0 5px white;
					}
					label {
						color: lighten(color(1), 50%);
					}
					.img {
						opacity: 1;
						box-shadow: 0 0 5px white;
					}
				}
				&.logo {
					display: block;
					height: $topBarHeight !important;
					margin: {
						bottom: 0;
						right: 0;
						top: 3px;
						left: -32px;
					}
				}
			}
		}
		.dropdown {
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
			left: 6px;
			.fa {
				width: $fontSize;
			}

			.social-menu {
				margin-left: 4px;
				list-style: none;

				li {
					width: 37px;
					margin-top: -10px;
					font-size: 2rem;
					display: inline-block;
					margin-right: 8px;

					a {
						&:hover {
							color: #fa5800;
						}
					}
				}
			}
		}
		.avatar {
			position: static;
			margin: 0px;
			img {
				width: 25px;
				height: 25px;
			}
		}
		.user-dropdown {
			p.heading {
				text-align: left;
				padding-left: 5px;
				margin-bottom: 0px;
				color: #7c766a;
			}
			.fa {
				margin-right: 5px;
			}
			.user-switch-item {
				padding-top: 6px;
				padding-bottom: 3px;
			}
			.avatar {
				margin-right: 5px;
			}
			span.name {
				position: relative;
				top: -6px;
			}
			.user-switch-item {
				margin-left: 10px;
			}
		}
		.search-button {
			position: absolute;
			right: .8rem;
			top: 12px;
			color: color(1);
			cursor: pointer;
		}
		.top-bar-messages {
			.messages-icon::after {
				color: #ffa97a;
				content: "ïµ";
				font-family: FontAwesome;
				font-size: 30px;
				font-style: normal;
				font-weight: normal;
				left: 0;
				right: 0;
				top: -7px;
				position: absolute;
				text-decoration: inherit;
				z-index: -1;
				transition: color 1s, text-shadow 2s;
			}
			&>a:hover .messages-icon::after,
			&>a.active .messages-icon::after {
				color: lighten(color(1), 50%);
			}
			.messages-icon {
				background: none;
				color: #fa5800;
				font-weight: bold;
				position: relative;
				height: 30px;
				width: 30px;
				top: 5px;
				display: inline-block;
			}
		}
	}
}
