.need-offer-selector {
    display: inline-block;
    float: left;
    margin: 0.25em;
    margin-left: 10px;
    position: relative;
    top: 8px;
    input {
        margin-right: 5px;
        position: relative;
        top: 4px;
    }
}
