tags-input *,
*:before,
*:after {
    box-sizing: border-box;
}

tags-input .host {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    .host:active {
        outline: none;
    }
    .tags {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        padding: 1px;
        overflow: hidden;
        word-wrap: break-word;
        cursor: text;
        background-color: white;
        border: 1px solid darkgray;
        box-shadow: 1px 1px 1px 0 lightgray inset;
        border-radius: $global-radius;
        outline: none;
        &.focused {
            outline: none;
            box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
        }
        .tag-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        .tag-item {
            margin: 2px;
            padding: 0 5px;
            display: inline-block;
            float: left;
            height: 26px;
            line-height: 25px;
            border: 1px solid darken(nth($color, 5), 20%);
            border-radius: $global-radius;
            background: nth($color, 5);
            color: nth($color, 4);
            background: linear-gradient(to bottom, lighten(nth($color, 5), 20%) 0%, nth($color, 5) 47%, nth($color, 5) 100%);
            &.selected {
                background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
            }
            .remove-button {
                margin: 0 0 0 5px;
                padding: 0;
                border: none;
                background: none;
                cursor: pointer;
                vertical-align: middle;
                font: bold 16px Arial, sans-serif;
                color: #585858;
            }
            .remove-button:active {
                color: red;
            }
        }
        .input {
            border: 0;
            outline: none;
            margin: 2px;
            padding: 0;
            padding-left: 5px;
            float: left;
            height: 26px;
            &.invalid-tag {
                color: red;
            }
            &::-ms-clear {
                display: none;
            }
        }
    }
    ng-invalid .tags {
        box-shadow: 0 0 3px 1px nth($color, 1);
    }
    .autocomplete {
        margin-top: 5px;
        position: absolute;
        padding: 5px 0;
        z-index: 999;
        width: 100%;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        .suggestion-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        .suggestion-item {
            padding: 5px 10px;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: black;
            background-color: white;
            &.selected {
                color: white;
                background-color: #0097cf;
            }
            &.selected em {
                color: white;
                background-color: #0097cf;
            }
            em {
                font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: black;
                background-color: white;
            }
        }
    }
}