.profile-common {
    .error {
        color: red;
    }
    header {
        .user-basic {
            @extend .columns;
            padding: 0;
            margin-left: 1rem;
            margin-right: -1rem;
            h1 {
                overflow: hidden;
                line-height: 1.5;
                text-shadow: 1px 1px 8px rgba(50, 50, 50, 0.3);
                a {
                    color: darken(color(3), 40%);
                }
            }
            div.short-about {
                margin-left: 30px;
                margin-top:15px;
                margin-bottom:15px;
                word-wrap: break-word;
                line-height: 1.5;
                .fa {
                    display: inline-block;
                    margin-right: 10px;
                    color: color(1);
                    margin-left:-27px;
                    float:left;
                }
            }
        }
        .button-bar {
            font-size: 1rem;
            margin-left: 1rem;
            max-width: 41%;
            float: right;
            padding-left: 0px;
            padding-right: 0px;
        }
        .highlights {
            @extend .columns;
            display: block;
            min-height: 320px;
            padding: 1rem;
            
            .avatar {
                box-shadow: 1px 0 16px 0 #fff;
                margin-right: 25px;
            }

            .bubble {
                @extend .columns;

                display: table;
                position: relative;
                border-radius: 50%;
                border: none;
                background: color(3);
                padding: 20px;
                text-align: center;
                color: color(4);
                box-shadow: inset 0px -1px 50px 30px rgba(50, 50, 50, 0.75);
                text-shadow: 0px 0px 13px rgba(50, 50, 50, 1);
                margin: 7px;

                &>span {
                    display: table-cell;
                    vertical-align: middle;
                }

                b, strong {
                    font-size: 26px;
                    font-weight: bold;
                    display: inline-block;
                    margin-bottom: 5px;
                }
               
                hr {
                    margin: 10px;

                    &.orange {
                        border-color: lighten(color(1), 40);
                    }
                    
                    &.blue {
                        border-color: lighten(color(5), 30);
                    }
                }
                
                &.vertical-center {
                    display: table;
                    span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

                &.move-down {
                    top: 60px;
                }

                &.active,
                &:hover {
                    background: mix(darken(color(1), 20%), darken(color(3), 10%));
                    border: 10px solid lighten(color(1), 20%);
                    box-shadow: none;
                    padding: 10px;
                }

                &.large {
                    @extend .large-2;
                    width: 160px;
                    height: 160px;
                }
                &.small {
                    @extend .large-3;
                    width: 120px;
                    height: 120px;
                }
                &.medium {
                    @extend .large-3;
                    width: 150px;
                    height: 150px;
                }
            }

            .shadow {
                background-image: url("../images/profile_shadow_small.png");
                background-position: center bottom 5px;
                background-repeat: no-repeat;
                display: inline-block;
                float: left;
                height: 240px;

                &.large {
                    background-image: image-url("profile_shadow_large.png");
                    background-position: center bottom 0px;
                }
            }

            .karma-bar {
                @extend .large-8, .columns, .pull-right;

                padding: 0;
                width: 600px;

                height: 25px;
                background-color: #7c766a;
                border-radius: $global-radius;
                box-shadow: inset 0px 0px 10px 0px rgba(30, 30, 30, 0.3);
                
                text-shadow: 1px 1px 8px rgba(50, 50, 50, 0.5);
                position: relative;
                top: 0.5em;
                right: 0px;
                float: right;

                color: color(4);

                .bar:first-child {
                    border-top-left-radius: $global-radius;
                    border-bottom-left-radius: $global-radius;
                }
                .bar:last-child {
                    border-top-right-radius: $global-radius;
                    border-bottom-right-radius: $global-radius;
                }

                .empty {
                    display: block;
                    text-align: center;
                    margin-top: 4px;
                }

                .full {
                    max-width: 100% !important;
                }

                .positive, .negative {
                    
                    height: 25px;
                    display: inline-block;
                    float: left;
                    min-width: 70px;
                    max-width: 530px;

                    /*
                    padding: {
                        left: 1rem;
                        right: 1rem;
                        top: .4rem;
                        bottom: .4rem;
                    };
                    */
                    color: color(4);
                    font-weight: bold;
                    box-shadow: inset 0px 0px 10px 0px rgba(30, 30, 30, 0.3);
                    white-space: nowrap;
                    span {
                        position: relative;
                        top: 4px;
                    }
                }
                .positive {
                    background: #58af08;
                    background: linear-gradient(210deg, #58af08, #b5f561);
                    text-align: right;
                    .fa {
                        display: inline-block;
                        margin-left: 5px;
                    }
                    span {
                        margin-right: 10px;
                    }
                }
                .negative {
                    background: #275f80;
                    background: linear-gradient(30deg, #275f80, #4ca5c7);
                    position: relative;
                    overflow: hidden;

                    img {
                        display: inline-block;
                        left: -20px;
                        margin-right: 5px;
                        max-height: 16px;
                        position: absolute;
                        top: 3px;
                    }
                    span {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
    .clearfix {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .gift-receive {
        font-size: 170%;
        color: color(1);
    }
    .gift-give {
        font-size: 170%;
        color: color(2);
    }
    a {
        color: color(5);
    }
        
    .ratings-received {
        .revert-changes {
            position: relative;
            top: 20px;
        }

        .author-selector {
            float:left;
        }


        .checkbox {
            @extend .ui-checkbox;
        }

        button {
            &.positive {
                background-color: #58af08;
            }
        }
        .profile-edit-common {
            h3 {
                position: relative;
                top: -20px;
            }
        }
    }
    .rating-form {
        @extend .item-box-forms;
        overflow: visible !important;
        margin: auto;
        h5 { font-weight:600; }
        label {
            margin-bottom: 15px;
            font-size:$ui-text-font-size;
            margin-right: $ui-grid-size;
        }
        textarea {
            min-height: 120px;
        }
        .need-offer-selector {
            display: inline-block;
            margin-top: 12px;
        }
    }
}


.profile-listings {
    @extend .clearfix;
    .grey {
        color: darken(color(4), 30%);
    }
    .box {
        background: lighten(color(4), 10%);
        padding: 0;
        border-radius: $global-radius;
        box-shadow: -1px 3px 8px 0px rgba(150, 150, 150, 0.44);
        margin-bottom: 15px;
        overflow: hidden;
        h3 {
            font-size: 120%;
            color: color(3);
            margin: 0;
            padding: {
                left: 20px;
                top: 10px;
                bottom: 10px;
                right: 20px;
            };
        }
        .buttons {
            text-align: center;
        }
        p {
            margin: {
                left: 20px;
                right: 20px;
                top: 10px;
            };
        }
    }
    .left-pane {
        @extend .large-7, .columns;
        .messages {
            @extend .box;
            text-align: center;
            font-size: 130%;
            border: 2px solid color(5);
            padding: {
                left: 30px;
                top: 20px;
                right: 30px;
                bottom: 20px;
            };
            .fa {
                color: color(5);
                border-radius: 50%;
                border: 2px solid lighten(color(5), 30%);
                padding: 8px;
                display: inline-block;
                margin-right: 15px;
            }
        }
        .ratings {
            @extend .box;
            .rating {
                @extend .clearfix;
                margin-bottom: 5px;
                padding: {
                    top: 20px;
                    bottom: 20px;
                    left: 20px;
                    right: 20px;
                };
                &.positive {
                    background: lighten(color(2), 45%);
                }
                &.negative {
                    background: lighten(color(5), 45%);
                }
                small {
                    font-size: 0.85rem;
                    line-height: 125%;
                }
                .rating-text {
                    font-size: 1.2rem;
                    line-height: 125%;
                    margin: {
                        top: 10px;
                        bottom: 10px;
                        left: 100px;
                    };
                    .rating-from {
                        display: inline-block;
                        margin-top: 10px;
                    }
                }
                .date {
                    float: right;
                }
            }
        }
        .ads {
            @extend .box;
            a.create-ad-sign {
                float: right;
                display: block;
                width: 20px;
                height: 20px;
                margin-top: 5px;
                transition: all 0.5s ease 0s;

                &:hover {
                    color: darken(color(5), 20%);
                }
            }
            .ad {
                font-size: 110%;
                font-weight: bold;
                margin: {
                    left: 30px;
                    right: 15px;
                    top: 10px;
                };
                & > span {
                    vertical-align: super;
                }
                .ad-controls {
                    color: color(5);
                    cursor: pointer;
                    float: right;
                    .fa {
                        padding-left: 10px;
                    }

                    transition: all 0.5s ease 0s;
                
                    .fa:hover {
                        color: darken(color(5), 20%);
                    }
                }
            }
        }
    }
    .right-pane {
        @extend .large-5, .columns;
        padding: 0;
        float: right;
        .user-about {
            @extend .box;
            .line {
                margin-left: 20px;
                margin-right: 20px;
                div.descr {
                    word-wrap: break-word;
                    margin-top: $ui-small-grid-size;
                    margin-bottom: $ui-small-grid-size;
                    margin-left: 27px;
                    line-height: 140%;
                    clear:both;
                    .fa {
                        margin-left: -27px;
                        float:left;
                        margin-top:3px;
                    }
                }
            }
            .descr {
                .fa {
                    width: 8px;
                    color: color(1);
                    margin-right: 15px;
                }
            }
            .social {
                font-size: 1.5rem;
                text-align: right;
                margin-top: 4px;
                margin-bottom: 5px;
                padding-right: 5px;
                .fa {
                    color: color(5);
                    margin: 1px;
                }
                .fa:hover {
                    opacity: 0.7;
                }
                .link {
                    i {
                        font-size: 21px;
                        height: 20px;
                        margin-left: 0;
                        width: 19px;
                    }
                }
            }
            .reg-date {
                font-size: 14px;
            }
        }
        .activities {
            @extend .box;
            h4 {
                margin-left: 30px;
                font-size: 1.2rem;
                font-weight: bold;
                position: relative;
                background-color: white;
            }
            .activity {
                margin-left: 30px;
                margin-top: 10px;
                margin-bottom: 10px;
                position: relative;
                background-color: white;
                .avatar {
                    margin: 5px 10px;
                }
                .activity-text {
                    @extend .clearfix;
                    padding-right: 20px;
                    /* padding-top:10px; */
                    display: table-cell;
                    height: 55px;;
                    max-width: 300px;
                    word-wrap: break-word;
                    
                    vertical-align: middle;

                    p {
                        margin: 0px !important;
                    }
                }
            }
            .timeline-container {
                overflow: hidden;
                position: relative;
                padding-right: 20px;
                margin-bottom: 10px;
                padding-bottom: 1px;
                h4 {
                    margin-top: 0;
                    text-transform: uppercase;
                }
                .profile-timeline {
                    position: absolute;
                    left: 60px;
                    top: 0px;
                    bottom: 0px;
                    height: 100%;
                    background-color: #cacaca;
                    width: 5px;
                    margin-top: -20px;
                }
            }
        }
    }
}

.bottom-tabs {
    @extend .large-12, .columns, .clearfix;
    text-align: center;
    border-bottom: 4px solid color(1);
    padding-bottom: 2px;
    font-weight: bold;
    margin: {
        top: 30px;
        bottom: 30px;
    };
    h2 {
        color: #F95800;
        font-size: 28px;
        font-weight: bold;
    }
    ul {
        @include inline-list;
        li>a {
            background: darken(color(4), 30%);
            color: lighten(color(4), 20%);
            border-top: 2px solid darken(color(4), 20%);
            text-shadow: 1px 1px 8px rgba(50, 50, 50, 0.3);
            min-width: 250px;
            font-size: 1.1rem;
            padding: {
                left: 30px;
                right: 30px;
                top: 5px;
                bottom: 5px;
            };
            margin: {
                left: 5px;
                right: 5px;
                top: 5px;
            };
            border-top-left-radius: $global-radius / 2;
            border-top-right-radius: $global-radius / 2;
            &:hover {
                border-top: 2px solid darken(color(4), 30%);
                background: darken(color(4), 40%);
            }
            &.selected {
                background: color(1);
                border-top: 2px solid lighten(color(1), 20%);
            }
        }
    }
}

.people-listing {
    @extend .clearfix;
    .person {
        height: 115px;
        word-wrap: break-word;
        @extend .large-4, .columns;
        padding:0;

        .info-avatar {
            display:block;
            float: left;
            padding-left:15px;
            padding-right:15px;
        }
        .avatar {
            margin-top: 20px;

        }
        a {
            color: darken(color(3), 20%);
            &:hover {
                color: color(5);
            }
        }
        .name {
            margin-left: 110px;
        }
        h4 {
            line-height: 28px;
            margin-top: 30px;
        }
    }
}

.ads-listing {
    .large-10 {
        float: unset;
        margin: 0px auto;
        .columns {
            padding-left:0;
            padding-right:0;
        }
    }
    & > article.hiddenAvatar > section {
        @extend .large-centered;
    }
    h3 {
        text-align: center;
        margin: 20px;
    }
}

.profile-button {
    background-color: color(5);
    border-color: color(5);
    top: 0;
    vertical-align: bottom;
    padding: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 0;
    font-weight: bold;
    margin: 0;
    margin-left: .5rem;
    margin-right: .5rem;
    transition: .5s;
    border-radius: $global-radius;
    .fa {
        display: inline-block;
        margin-right: 10px;
    }
    &:hover, &:focus, &:visited {
        background: darken(color(5), 20%);
        border-color: darken(color(5), 20%);
    }
    &.button-red {
        background: color(1);
        border-color: color(1);
        color: white;
        &:hover {
            background: darken(color(1), 20%);
            border-color: darken(color(1), 20%);
        }
    }

    &.solid {
        opacity: 0.99;
    }

    &.outline {
        color: color(5);
        opacity: .8;
        background: white;
        border-width: 2px;
        border-style: solid;
        &.tall {
            padding: {
                top: 8px;
                bottom: 8px;
            };
        }
        &:hover {
            color: darken(color(5), 20%);
        }
    }
    &.tall {
        height: 60px;
        padding: {
            top: 10px;
            bottom: 10px;
        };
    }
    &.spacy {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    &.big-margin {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
    &.centered {
        margin-left: auto;
        margin-right: auto;
    }
    &.no-wrap {
        white-space: nowrap;
    }
    &.without-icon-text .fa {
        margin: 0;
    }
}

.reply-list {
    .reply {
        margin-bottom: 20px;

        .user .name {
            margin-top: 0.4rem;
        }
        
        p {
            font-size: 14px;
        }
        .ad-date {
            display: inline-block;
        }
        .ad-date::first-letter {
            text-transform: uppercase;
        }
    }
}