$medium-avatar-size: 80px;
.profile-view {
    max-width:960px;
    padding-bottom: 100px;
    margin: {
        left: auto;
        right: auto;
        top:-40px; // moved whole page a little bit up to avoid blank space on top
    }


    .medium-avatar {
        .avatar {
            left:0;
            width:$medium-avatar-size;
            height:$medium-avatar-size;
            margin: {
                top:20px;
                left:0px;
                right:20px;
                bottom:0px;
            }
            float:left;
            &::before {
                width:$medium-avatar-size;
                height:$medium-avatar-size;
            }
            img {
                border-radius: 50%;
                background:color(4);
            }
        }
    }


    .people-listing {
        @extend .clearfix;
        a {
            color:darken(color(3), 20%);
            &:hover {
                color:color(5);
            }
        }
        .person {
            @extend .large-4, .columns, .medium-avatar;
            min-height:110px;
            .name {
                margin-left:100px;
            }
            h4 {
                margin-top:30px;
            }
        }       
    }

    .ads-listing {
        .large-10 {
            float: unset;
            margin: 0px auto;
        }
        &>article>section {
            @extend .large-centered;
        }
        h3 {
            text-align:center;
            margin:20px;
        }
    }

    .inactive {
        article {
            opacity: 0.55;
        }
    }

    .community-listing {
        @extend .clearfix, .medium-avatar;
        clear:both;
        .community {
            @extend .large-10, .large-centered, .clearfix;
            margin: {
                bottom: 5px;
                left:auto;
                right:auto;
            }
            padding: {
                top:20px;
                bottom:20px;
                left:20px;
                right:20px;
            }
            background:lighten(color(5), 45%);
            small {
                font-size:0.85rem;
                float: right;
                line-height:125%;
                a {
                    color: black;
                    opacity: 0.7;
                    &.admin {
                        opacity: 1;
                        color: #F95800;
                    }
                }
            }
            .avatar {
                margin-top:0;
            }
            .community-text {
                font-size:1.2rem;
                line-height:125%;
                margin: {
                    top:10px;
                    bottom:10px;
                    left:100px; 
                }
                .rating-from {
                    display:inline-block;
                    margin-top:10px;
                }
            }
        }
    }
    .rating-listing {
        @extend .clearfix;
        clear:both;
        .rating {
            @extend .large-10, .large-centered, .clearfix, .medium-avatar;
            margin: {
                bottom: 5px;
                left:auto;
                right:auto;
            }
            padding: {
                top:20px;
                bottom:20px;
                left:20px;
                right:20px;
            }
            background:lighten(color(5), 45%);
            small {
                font-size:0.85rem;
                line-height:125%;
            }
            .avatar {
                margin-top:0;
            }
            .rating-text {
                font-size:1.2rem;
                line-height:125%;
                margin: {
                    top:15px;
                    bottom:10px;
                    left:100px; 
                }
                .rating-from {
                    display:inline-block;
                    margin-top:10px;
                }
            }
            .date {
                float:right;
            }
        }
    }
}

.mine-profile {
    .others {
        display: none;
    }
}

.others-profile {
    .mine {
        display: none;
    }
}
