$medium-avatar-size: 80px;

.profile-view {
    max-width: 960px;
    padding-bottom: 100px;
    margin: {
        left: auto;
        right: auto;
        margin-top: -30px;
    };

    h1 {
        display: inline;
    }

    .profile-listings {
        padding-top: 20px;
    }
    .ratings-received {
        .score-select {
            position: relative;
            top: -15px;
            p {
                left: 20px;
                position: relative;
                top: 8px;
            }
            .need-offer-selector .button {
                &.left.pressed {
                    background-color: color(2);
                    //positive
               
                }
                &.right.pressed {
                    background-color: color(5);
                    //negative
               
                }
            }
        }
        .profile-edit-common {
            h3 {
                position: relative;
                top: -20px;
            }
        }
    }
    .medium-avatar {
        .avatar {
            left: 0;
            width: $medium-avatar-size;
            height: $medium-avatar-size;
            margin: {
                top: 20px;
                left: 0px;
                right: 20px;
                bottom: 0px;
            };
            float: left;
            &::before {
                width: $medium-avatar-size;
                height: $medium-avatar-size;
            }
            img {
                border-radius: 50%;
                background: color(4);
            }
        }
    }
    .community-listing {
        @extend .clearfix, .medium-avatar;
        clear: both;
        .community {
            @extend .large-10, .large-centered, .clearfix;
            margin: {
                bottom: 5px;
                left: auto;
                right: auto;
            };
            padding: {
                top: 20px;
                bottom: 20px;
                left: 20px;
                right: 20px;
            };
            background: lighten(color(5), 45%);
            small {
                font-size: 0.85rem;
                float: right;
                line-height: 125%;
                a {
                    color: black;
                    opacity: 0.7;
                    &.admin {
                        opacity: 1;
                        color: #F95800;
                    }
                }
            }
            .avatar {
                margin-top: 0;
            }
            .community-text {
                font-size: 1.2rem;
                line-height: 125%;
                margin: {
                    top: 10px;
                    bottom: 10px;
                    left: 100px;
                };
                .rating-from {
                    display: inline-block;
                    margin-top: 10px;
                }
            }
        }
    }
    .user-rating-link {
        margin: auto;
    }
    .rate-user-text {
        margin-bottom: 20px;
    }
    .user-rating-form {
        overflow: visible !important;
        margin: auto;
        .item {
            margin-top: 5px;
        }
        label {
            margin-bottom: 15px;
        }
        textarea {
            min-height: 120px;
        }
        .moveUp {
            position: relative;
            span {
                position: absolute;
                top: -30px;
            }
        }
    }
}

.mine-profile {
    .others {
        display: none;
    }
}

.others-profile {
    .mine {
        display: none;
    }
}

.rating-listing {
    .rating-received-bar {
        min-height: 50px;
        text-align: center;
    }
    .rating-item {
        margin-top: 0rem;
        margin-bottom: 1rem;
        .date {
            font-size: .8rem;
        }
    }
}

.ratings-given {
    .photo {
        margin-top: 5px;
    }
}

