.progress {
    position: relative;
    margin: {
        top: 1em;
        bottom: 1em;
    };
    overflow: hidden;
    padding: 0;
    @include border-radius;
    .meter {
        @include transition(width 1s);
        @include border-radius(0 !important);
    }
    .text {
        white-space: nowrap;
        color: color(4);
        position: absolute;
        @include text-shadow(1px 1px 2px $progress-bar-border-color, -1px -1px 2px $progress-bar-border-color, -1px 1px 2px $progress-bar-border-color, 1px -1px 2px $progress-bar-border-color);
        margin: {
            margin-left: 1em;
        };
        width: 100%;
        position: absolute;
        background-color: transparent;
        text-align: center;
        line-height: 1.6em;
    }
}