.profile-edit {
    h1 {
        font-size: 1em;
        color: $a-color;
        font-weight: bold;
        margin: {
            top: 1em;
            bottom: 0;
        };
        &:first-child {
            margin: {
                top: 0;
            };
        }
    }
    input {
        margin: {
            bottom: 0;
        };
    }
    em {
        font-size: 0.7em;
        font-style: normal;
    }
}