.profile-view {
    max-width: $webWidth;
    padding-bottom: 100px;
    margin: {
        left: auto;
        right: auto;
        margin-top: -30px;
    };

    h1 {
        display: inline;
    }

    .profile-listings {
        padding-top: 20px;
    }
    
    .ratings-received {
        .revert-changes {
            position: relative;
            top: 20px;
        }
        
        .profile-edit-common {
            h3 {
                position: relative;
                top: -20px;
            }
        }
    }

    .community-listing {
        @extend .clearfix;
        clear: both;
        .community {
            @extend .large-10, .large-centered, .clearfix;
            margin: {
                bottom: 5px;
                left: auto;
                right: auto;
            };
            padding: {
                top: 20px;
                bottom: 20px;
                left: 20px;
                right: 20px;
            };
            background: lighten(color(5), 45%);
            small {
                font-size: 0.85rem;
                float: right;
                line-height: 125%;
                a {
                    color: black;
                    opacity: 0.7;
                    &.admin {
                        opacity: 1;
                        color: #F95800;
                    }
                }
            }
            .community-text {
                font-size: 1.2rem;
                line-height: 125%;
                margin: {
                    top: 10px;
                    bottom: 10px;
                    left: 100px;
                };
                .rating-from {
                    display: inline-block;
                    margin-top: 10px;
                }
            }
        }
    }
    .user-rating-link {
        margin: auto;
    }
    .rate-user-text {
        margin-bottom: 20px;
    }
}

#received-rating-form {
    margin-bottom:$ui-grid-size;
}

.mine-profile {
    .others {
        display: none;
    }
}

.others-profile {
    .mine {
        display: none;
    }
}

.item.rating-received {
    position:relative;
    &:after {
        content: ' ';
        position: absolute;
        left:-13px;
        top:26px;
        transform:rotate(45deg);
        box-shadow: -2px 2px 4px rgba(100, 100, 100, 0.2);
        width: 25px;
        height: 25px;
        background:white;

        // RESPONSIVE //
        @media #{$small-only} {
          display:none;
        } 
    }
}

.rating-listing {

    .rating-received-bar {
        min-height: 50px;
        text-align: center;
    }

    .rating-call-to-action {
        margin-bottom:$ui-grid-size;
        padding-left: 3*$ui-small-grid-size;
        padding-right: 3*$ui-small-grid-size;
    }

    .text-container {
        p {
            margin-bottom: 10px;
            line-height: 1.4;
        }
    }
    
    .reply-form-link {
        font-size: 13px;
        font-weight: bold;
        margin-top: 5px;
    }

    .item {
        position: relative;
        small {
            font-size:smaller;
        }
    }
    .item, .item:after {
        transition:background 1.5s ease-out;
    }

    .rating-item {
        margin-top: 0rem;
        margin-bottom: $ui-grid-size;
        
        i {
            position: relative;
            right: 4px;
            line-height: 1.4;
        }

        i.icon-rating-positive:before {
          font-weight: bold;
        }

        .text-container {
            margin-top: 10px;
        }
        
        .date {
            font-size: .8rem;
        }

         // RESPONSIVE //
        @media #{$small-only} {
            .rating-score,.rating-relation {
              margin: $ui-small-grid-size 3 * $ui-small-grid-size;
              display:inline-block;
            }
            .rating-score { 
              display:inline;
              line-height:230%;
            }
        }
    }

    .blink-rating {
        .item {
            transition:background .5s ease-out;
            background:#FFB697;
            &:after {
                transition:background .5s ease-out;
                background:#FFB697;
            }
        }
    }
}
