.profile-edit {
	section {
		&.languages {
			position: relative;
			margin-left: 70px;

			.autocomplete {
				max-height: 240px;
				overflow-y: scroll;
			}
		}
	}
	.webs {
		.web-item {
			position: relative;
			.fa-times-circle {
				position: absolute;
				top: 5px;
				right: 5px;
			}
		}
	}
	.revert-changes {
		color: #3FACED;
		font-weight: bold;
		position: relative;
		top: 20px;
		.fa {
			margin-right: 5px;
		}
	}
	.down-error {
		display: inline-block;
		margin-top: 15px;
		margin-right: 15px;
	}
}

.profile-settings {
	@extend .common-profile-settings;
	.language-select {
		width: initial !important;
		min-width: 200px;
	}
	.configure-notifications {
		.checkbox {
			padding-left: 0px;
		}
		.button-send {
			margin-bottom: 0px;
		}
	}
}
