
// foundation breakpoint for larger screens 
@media #{$medium-up} { 

	.web-width {
		width: 940px;
	}
	body .main-container {
		min-width:960px;
		max-width:960px;
	}
	.max-web-width {
		max-width: 960px;
	}

	#navigation {
		margin: 0 auto;
	}
}


// small screens only
<<<<<<< Updated upstream
@media #{$small-only} { 
	#notify-top {
		width: unset !important;
=======
@media #{$small-only} {

	.off-canvas-wrap {
		overflow-y:auto;
>>>>>>> Stashed changes
	}

	.profile-view {
		max-width: unset !important;
	}
	.web-width {
		width: unset !important;
		width: 100%;
	}
	.main-container {
		min-width: unset !important;
		width: 100%;
		padding:0 2*$ui-small-grid-size;
	}

	.market .avatar {
		& > div,span,a {
			img {
				max-width: $small-avatar-size;
				max-height: $small-avatar-size;
			}
			&::before {
				max-width: $small-avatar-size;
				max-height: $small-avatar-size;
			}
		}
	}
	.communities .community-list.small .community-item {
		max-width:100%;
	}

	.small-margin-bottom {
		margin-bottom:3*$ui-small-grid-size;
	}

	.messages .conversations {
		width:100%;
		.nano-content {	right: 0 !important;}
		.nano-content-inner { width: 100% !important; }
	}

	.messages .conversation-detail-container {
		width:100%;
		position:absolute;
		.conversation-detail .messages-container article.message {
			width:unset;
		}
	}
	.messages.message-detail-displayed .messages-top { display:none; }

	.messages .messages-add .bottom { margin-bottom:$ui-grid-size; }
}


.padding-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.all-visible {
	float: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.off-canvas-wrap, .off-canvas-wrap > .inner-wrap {
  min-height: 100vh;
}
