.v-m-small {
  @media #{$small-only} {
    display: flex;
    align-items: center;
  }
}

body {
  .main-container {
    //margin-top: auto!important;
  }
}

._market {
  ._filter {
    background: #fafafa;

    ._filterbar-wrap {
      ._filterbar-header {
        padding: 1em 0;
      }

      .filter-container {
        transition: all .3s ease-in;
        opacity: 1;
        max-height: 800px;
      }

      .animated-hidden {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
      }

      @media #{$large-up} {
        .filter-container {
          max-height: none;
        }

        .animated-hidden {
          opacity: 1;
          max-height: none;
          overflow: auto;
        }
      }
    }
  }

  ._item {
    padding: 1em 0;
    border-bottom: 1px solid white;
    position: relative;

    .action-dropdown {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;

      a {
        height: 2em;
        text-align: center;
        line-height: 2em;
        padding-right: 2*$ui-small-grid-size;
      }
    }

    .more-actions-dropdown {
      position: absolute;
      display: none;
      right: 0;
      top: 2em;
      z-index: 1000;
      padding: 2*$ui-small-grid-size;
      box-shadow: 0px 0px 6px 0px rgba(100, 100, 100, 0.3);
      background: white;
      hr {
        border: none;
        height: 0;
        border-bottom: 1px solid lighten($ui-color-lighter, 15%);
        margin-top: $ui-small-grid-size;
        margin-bottom: $ui-small-grid-size;
      }
      b {
        font-weight: $ui-text-weight-bolder;
      }
      a {
        color: color(5);
      }
      &:after {
        content: ' ';
        position: absolute;
        top: -0.5em;
        right: 2*$ui-small-grid-size;
        transform: rotate(45deg);
        box-shadow: -2px -2px 4px 0px rgba(100, 100, 100, 0.2);
        width: 1em;
        height: 1em;
        background: white;
      }
    }

    ._avatar {
      ._photo {
        img {
          border-radius: 50%;
          max-width: 100%;
          margin-bottom: 1em;
        }
      }

      ._name {
        text-align: center;

        a {
          color: black;
        }
      }
    }

    ._karma {
      .karma {
        width: 100%;
      }
    }

    ._time {
      padding-right: 2em;
    }

    ._content {
      ._title {
        h2 {
          font-size: rem-calc(16);
          font-weight: 700;

          a {
            color: black;
          }
        }
      }
    }

    ._reply-info {
      padding: .5em 0;
      color: grey;
    }

    &.need {
      background-color: lighten(color(1), 50%);

      ._content {
        ._title {
          h2 {
            a {
              span {
                color: color(1);
              }
            }
          }
        }
      }
    }

    &.offer {
      background-color: lighten(color(2), 50%);

      ._content {
        ._title {
          h2 {
            a {
              span {
                color: color(2);
              }
            }
          }
        }
      }
    }
  }
}
