// foundation breakpoint for large screens 
@media #{$large-up} {
	.main-container {
		max-width: 960px;
		padding: 0 10px;
		margin-top: 80px !important;
	}
	#navigation {
		margin: 0 auto;
	}
}

// medium screens only
@media #{$medium-only} {
	.messages .conversations {
		width: 100%;
	}
	.messages .conversation-detail-container {
		width: 97%;
		min-height:80vh;
		position: absolute;
		left: 2*$ui-small-grid-size;
		top: $ui-navbar-height;
		z-index:123;
		.conversation-detail .messages-container article.message {
			max-width: unset;
		}
	}
	.messages .messages-add .bottom {
		margin-bottom: $ui-grid-size;
	}

	.market {
		padding: 0 2*$ui-small-grid-size;
		padding-left:0;
	}
}

// small screens only
@media #{$medium-down} {
	.main-container.with-search-bar {
		margin-top: 149px !important;
		transition: margin .4s  cubic-bezier(.58,.02,.53,1); // cubic bezier because of jQuery-like swing animation
	}

	.main-container {
		margin-top: 99px !important;
		min-width: initial !important;
		width: 100%;
		padding: 0 10px;
		transition: max-height,margin .4s  cubic-bezier(.58,.02,.53,1);
	}
}
@media #{$small-down} {
	.off-canvas-wrap {
		overflow-y: auto;
	}
	.profile-view {
		max-width: unset !important;
	}
	.web-width {
		width: unset !important;
		width: 100%;
	}
	
	.market .avatar {
		& > div,
		span,
		a {
			img {
				max-width: $small-avatar-size;
				max-height: $small-avatar-size;
			}
			&::before {
				max-width: $small-avatar-size;
				max-height: $small-avatar-size;
			}
		}
	}
	.communities .community-list.small .community-item {
		max-width: 100%;
	}
	.small-margin-bottom {
		margin-bottom: 3*$ui-small-grid-size;
	}
	.messages .conversations {
		width: 100%;
	}
	.messages .conversation-detail-container {
		width: 96%;
		min-height:80vh;
		position: absolute;
		left: 2*$ui-small-grid-size;
		top: $ui-navbar-height;
		z-index:123;
		.conversation-detail .messages-container article.message {
			max-width: unset;
		}
	}
	.messages .messages-add .bottom {
		margin-bottom: $ui-grid-size;
	}
}

.padding-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.all-visible {
	float: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.off-canvas-fixed {
	transition: transform 500ms ease;
	z-index:29999;
}

.move-right > .off-canvas-fixed {
	height: 100%;
	transform: translate3d(15.625rem, 0, 0);
}
.left-off-canvas-menu {
	-webkit-transform: none;
	transform: none;
	margin-left: -15.625rem;
	height: 100vh;
}

.off-canvas-wrap,
.off-canvas-wrap > .inner-wrap {
	min-height: 100vh;
	overflow-y:hidden;
}
.fixed { position:fixed; }


@media (min-width: 50.063em){
	.medium-display-table{display: table; width: 100%; word-break: break-all; word-break: break-word;}
	.medium-display-table-row{display: table-row;}
	.medium-display-table-row.cells-padded > .medium-display-table-cell:first-child:last-child,
	.medium-display-table-row.cells-padded > .medium-display-table-cell:last-child{padding-right: 0;}
	.medium-display-table-row.cells-padded > .medium-display-table-cell{padding-right: 1.25rem;}
	.medium-display-table-cell{display: table-cell; vertical-align: top;}
	.medium-display-table-cell.addon{width: 1%;}
	.medium-display-table-cell.cell-text-right{text-align: right;}
	.medium-display-table-cell.nowrap-addon{width: 1%; white-space: nowrap;}

	.form-table .medium-display-table-cell{padding-bottom: .625rem;}
	.form-table .medium-display-table-cell:first-child{text-align: right;}
}