// foundation breakpoint for large screens 
@media #{$large-up} {
	body .main-container {
		min-width: 960px;
		max-width: 960px;
		padding: 0 3*$ui-small-grid-size;
	}
	#navigation {
		margin: 0 auto;
	}
	.main-container {
		margin-top: 80px !important;
	}
}

// medium screens only
@media #{$medium-only} {
	.messages .conversations {
		width: 100%;
		.nano-content {
			right: 0 !important;
		}
		.nano-content-inner {
			width: 100% !important;
		}
	}
	.messages .conversation-detail-container {
		width: 97%;
		min-height:80vh;
		position: absolute;
		left: 2*$ui-small-grid-size;
		top: $ui-navbar-height;
		.conversation-detail .messages-container article.message {
			width: unset;
		}
	}
	.messages .messages-add .bottom {
		margin-bottom: $ui-grid-size;
	}

	.market {
		padding: 0 2*$ui-small-grid-size;
	}
}

// small screens only
@media #{$medium-down} {
	.main-container {
		margin-top: 99px !important;
		min-width: unset !important;
		width: 100%;
		padding: 0 2*$ui-small-grid-size;
	}
}
@media #{$small-only} {
	.off-canvas-wrap {
		overflow-y: auto;
	}
	.profile-view {
		max-width: unset !important;
	}
	.web-width {
		width: unset !important;
		width: 100%;
	}

	.market {
		padding: 0 $ui-small-grid-size;
	}
	
	.market .avatar {
		& > div,
		span,
		a {
			img {
				max-width: $small-avatar-size;
				max-height: $small-avatar-size;
			}
			&::before {
				max-width: $small-avatar-size;
				max-height: $small-avatar-size;
			}
		}
	}
	.communities .community-list.small .community-item {
		max-width: 100%;
	}
	.small-margin-bottom {
		margin-bottom: 3*$ui-small-grid-size;
	}
	.messages .conversations {
		width: 100%;
		.nano-content {
			right: 0 !important;
		}
		.nano-content-inner {
			width: 100% !important;
		}
	}
	.messages .conversation-detail-container {
		width: 96%;
		min-height:80vh;
		position: absolute;
		left: 2*$ui-small-grid-size;
		top: $ui-navbar-height;
		.conversation-detail .messages-container article.message {
			width: unset;
		}
	}
	.messages .messages-add .bottom {
		margin-bottom: $ui-grid-size;
	}
}

.padding-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.all-visible {
	float: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.off-canvas-wrap,
.off-canvas-wrap > .inner-wrap {
	min-height: 100vh;
	overflow-y:hidden;
}
