
@import "foundation/functions";

$radius: true;
$global-radius: 8px;
$base-font-size: 95%;

$base-line-height: 150%;
$body-bg: color(4);
$body-font-color: lighten(black, 22%);
$body-font-family: "Open Sans", "Geneva", "Tahoma", sans-serif;
$global-font-size: 14px;

$primary-color: color(1);
$secondary-color: color(2);


$button-function-factor: -20%;

$button-border-width: 2px;
$button-border-style: solid;  $button-radius: $global-radius;


$ui-title-font-size: 16px;
$ui-text-font-size: 14px;
$ui-text-weight-bolder: 600;
$ui-small-grid-size: 5px;
$ui-grid-size: 5 * $ui-small-grid-size;
$ui-border-style: 1px solid #e3e3e3; 
$ui-input-border-style: 1px solid #ddd;
$ui-input-text-color: #333;
$ui-color-disabled: #999;
$ui-color-lighter: #999;
$ui-input-height: 30px;
$ui-input-error-color: #ea122a;
$ui-box-shadow: 0px 0px 5px rgba(100,100,100,.5);
