.social {
	text-align:right;
	white-space: nowrap;
	a {
		font-size: 1em;
		width: 2em;
		text-align: center;
		display: inline-block;
		@include border-radius(50%);
		@include transition(color 1s, background-color 1s);
		color: lighten(nth($color, 1), 35%) !important;
		background-color: darken(nth($color, 1), 8%);
		padding: 0.5em;
		&:hover {
			background-color: nth($color, 1);
			color:white  !important;
		}
	}
}