.social {
	text-align:right;
	a {
		font-size: 1.5em;
		width: 1.25em;
		display: inline-block;
		color: lighten(nth($color, 1), 20%) !important;
		&:hover {
			color: nth($color, 1) !important;
		}
	}
}