.terms-container {
     .terms {
        padding: $reveal-modal-padding;
        margin: {
            top: 1em;
             bottom: 1em;
        };
        ol {
            margin-left: 1.25em;
            p, dt, dd {
                margin-top: 0;
                margin-bottom: 0;
            }
            li {
                list-style-type: decimal;
                ol li {
                    list-style-type: lower-alpha;
                }
            }
        }
        @include border-radius($global-radius);
        background-color: $body-alt-bg;
        border: 1px solid $body-border-color;
    }
   
}
