.ngdialog-tutorial {
    
    .ngdialog-content {

        width: 650px !important;

        hr {
            margin-bottom: 0px;
        }
        .controlls {
            .fa {
                color: #c5c6c7;
                position: absolute;
                cursor: pointer;
                &:hover {
                    color: darken(#c5c6c7, 20%);
                    transition: color 1s ease 0s;
                }
            }
            .fa-angle-left,
            .fa-angle-right {
                font-size: 100px;
                padding: 10px;
            }
            .fa-angle-left {
                left: 0px;
                top: 300px;
            }
            .fa-angle-right {
                right: 0px;
                top: 300px;
            }
            .close {
                z-index: 1000;
                cursor: pointer;
                font-size: 30px;
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }

        .tutorial {

            .opening {
                padding: 4rem;
                padding-top: 7rem;

                button {
                    background-color: #1fb1e8;
                    border: 2px solid #1fb1e8;
                    border-radius: 8px;
                    color: white;
                    padding-left: 3.2em;
                    padding-right: 3.2em;
                    transition: border-color 1s ease 0s, background-color 1s ease 0s;
                    &:hover {
                        background-color: darken(#1fb1e8, 20%);
                    }
                }
            }
        }

        .tutorial {
            overflow: hidden;
            padding: 0px;

            .flexslider {
                min-height: 590px;

                box-shadow: none;
                margin: auto;
                background-color: inherit;
                border-width: 0px;
                position: relative;
                padding: {
                    bottom: 20px;
                };
                
                .flex-viewport {
                    width: 550px;
                    margin: auto;
                }
                .rn-carousel-container {
                    margin: 0px auto;
                }
                
                ol {
                    list-style: none;
                    display: inline-block;
                    margin: auto;
                    position: absolute;
                    bottom: 425px;
                    left: 0px;
                    li {
                        display: inline-block;
                        a {
                            background-color: lightgray;
                            box-shadow: none;
                            width: 13px;
                            height: 13px;
                            &.flex-active {
                                background-color: color(1);
                                box-shadow: 0 0 4px color(1);
                            }
                        }
                    }
                }

                .slider-image {
                    width: 500px;
                    text-align: center;
                    padding-bottom: 10px;

                    img {
                        width: 500px;
                    }
                }
                .slider-item {
                    width: 550px !important;
                    min-width: 550px !important;
                    padding-left: 25px;
                    padding-right: 25px;
                    text-align: left;
                    header {
                        margin: {
                            top: 42px;
                            bottom: 50px;
                        };
                        i {
                            border-right: 2px solid color(1);
                            color: color(1);
                            display: inline-block;
                            float: left;
                            font-size: 80px;
                            padding-bottom: 5px;
                            padding-right: 20px;
                            padding-top: 5px;
                            margin-left: 5px;
                            margin-right: 10px;
                        }
                        p {
                            display: inline-block;
                            float: right;
                            font-size: 25px;
                            line-height: 1.1;
                            /* margin-left: 20px; */
                            text-align: left;
                            width: 370px;
                            margin-bottom: 0px;
                        }
                    }
                }
            }

        }

        footer {
            background-color: #f4f4f4;
            border-radius: 0 0 8px 8px;
            height: 40px;
            padding: 0.5625rem 1.125rem 0.5625rem 0.5625rem;
        }
    }
}