@import "mixins/pallette-color";
//@import "variables";

/* COLOR SETTINGS */
/* declaration - these should only be used in the assignment below */
$color: #fa5800, #a7bd1d, #7c766a, #f4f4f4, #1fb1e8, #26AF34;
$colorOrange: color(1);
$colorGreen: color(2);
$color_darkGray: color(3);
$color_lightGray: color(4);
$colorBlue: color(5);
$color_greenAlt: color(6);
$color_lightBlue: #ebf5f7;

/* assignment */
$colorOffer: $colorGreen;
$colorNeed: $colorOrange;

$colorPrimary: $colorOrange;
$colorSecondary: $colorBlue;
$colorTertiary: $colorGreen;
$colorQuaternary: $color_lightBlue;

$colorDarkGray: $color_darkGray;
$colorLightGray: $color_lightGray;

$colorSuccess: $color_greenAlt;
/* /COLOR SETTINGS */

$FontAwesomePath: "../../fonts" !default;
$defaultShadow: 1px 1px 6px gray;
$webWidth: 960px;
@import "settings";
$fontSize: rem-calc(14);
@import "compass";
// import Compass mixins

/*@import "compass/reset";
@import "compass/layout/stretching";
@import "compass/layout/grid-background";
@import "compass/utilities/general/min";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/font-face";
@import "compass/css3/shared";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/typography/links/link-colors";*/

// import parts of Foundation framework
@import "font-awesome";
@import "foundation/components/grid",
//  "foundation/components/accordion",
"foundation/components/alert-boxes",
"foundation/components/block-grid",
//  "foundation/components/breadcrumbs",
"foundation/components/button-groups",
"foundation/components/buttons",
"foundation/components/clearing",
"foundation/components/dropdown",
//  "foundation/components/dropdown-buttons",
//  "foundation/components/flex-video",
"foundation/components/forms",
"foundation/components/inline-lists",
//  "foundation/components/joyride",
//  "foundation/components/keystrokes",
"foundation/components/labels",
//  "foundation/components/magellan",
"foundation/components/orbit",
//  "foundation/components/pagination",
//  "foundation/components/panels",
//  "foundation/components/pricing-tables",
"foundation/components/progress-bars",
"foundation/components/range-slider",
//  "foundation/components/reveal",
//  "foundation/components/side-nav",
//  "foundation/components/split-buttons",
"foundation/components/sub-nav",
"foundation/components/switch",
"foundation/components/tables",
//  "foundation/components/tabs",
"foundation/components/thumbs",
//	"foundation/components/tooltips",
//	"foundation/components/top-bar",
//	"foundation/components/type",
"foundation/components/offcanvas",
"foundation/components/visibility";
@import "mixins/social";
@import "avatar";
@import "navigation";
@import "forms";
@import "item";
@import "infoBox";
@import "itemEdit";
@import "authorSelector";
@import "removePostFromCommunity";
@import "tipsy";
@import "common";
@import "buttons";
@import "htmlSlider";
@import "tutorial";
@import "userForms";
@import "messages";
@import "maitenancePage";
@import "angularLoadingBar";
@import "filterbar";
@import "filterStatus";
@import "filter";
@import "needOfferSelector";
@import "ngTagsInput";
@import "uiSelect";
@import "foundationDatepicker";
@import "locations";
@import "checkbox";
@import "map";
@import "fulltext";
@import "itemDetail";
@import "modal";
@import "inviteBox";
@import "profileCommon";
@import "profile";
@import "profileEditCommon";
@import "profileEdit";
@import "emailSharing";
@import "communities";
@import "communityProfile";
@import "communityEdit";
@import "404";
@import "terms";
@import "notify";
@import "dropdown";
@import "market";
@import "marketplaceBanner";
@import "responzivity";
@import "components";
@import "fancyBox";
@import "flags";
@import "v2Style";
@import "bubble";

/*temp until css refactor*/
@import "languageSelection";
/* /temp */

//@import "fileViewer";
//@import "bubble";
body {
	background-image: inline-image("bg.png");
	background-color: #faf8eb;
	background-repeat: no-repeat;
	background-position: 50% top;
	.main-container {
		display: block;
		margin: auto;
		//margin-top: 3em;
		margin-bottom: 2em;
//		&>div:not(._market) {
//			margin-top: 3*$ui-small-grid-size;
//		}
	}
	font-family: $body-font-family;
	font-size: 87.5%;
	-webkit-text-size-adjust: 87.5%; // for mobile
}
.no-scroll{
	overflow-y: hidden;
}
a.no-link,
a.no-link:hover{
	padding: 0 !important;
	text-decoration: none !important;
	background: transparent !important;
	cursor: default !important;
}

@import "hearthIcons";
meta.foundation-data-attribute-namespace {
	font-family: false;
}

img.blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	filter: url(/app/images/blur.svg#blur);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

.vis-hidden {
	visibility: hidden;
}

.hide {
	display: none;
}

.text-in-input {
	position: relative;
	.fa {
		position: absolute;
		top: 0.783rem;
		right: 0.5rem;
		cursor: pointer;
		padding-left: 10px;
		padding-right: 10px;
		&:hover {
			opacity: 0.7;
		}
	}
}

.capital {
	* {
		text-transform: capitalize;
	}
}

.margin-top {
	margin-top: 10px;
}

.alert-box {
	transition-property: none;
	&.error {
		color: white;
	}
}

.main-container{
	line-height: 1.3;
}

.loading {
	@extend .clearfix;
	position: relative;
	font-size: 2rem;
	opacity: 0.7;
	/* height: 40px; */
	.fa {
		margin-right: 0.5rem;
	}
}
