@import "mixins/pallette-color";

//@import "variables";

$color: #fa5800, #a7bd1d, #7c766a, #f4f4f4, #1fb1e8;
$FontAwesomePath: "../../fonts" !default;
$defaultShadow: 1px 1px 6px gray;
$webWidth: 960px;


@import "settings";

$fontSize: rem-calc(18);

@import "compass";
// import Compass mixins
/*@import "compass/reset";
@import "compass/layout/stretching";
@import "compass/layout/grid-background";
@import "compass/utilities/general/min";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/font-face";
@import "compass/css3/shared";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/typography/links/link-colors";*/

// import parts of Foundation framework


@import "font-awesome";
@import
  "foundation/components/grid",
  "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/inline-lists",
  "foundation/components/joyride",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/magellan",
  "foundation/components/orbit",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/range-slider",
  "foundation/components/reveal",
  "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/tables",
  "foundation/components/tabs",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/offcanvas",
  "foundation/components/visibility";

@import "mixins/social";

@import "navigation";
@import "forms";
@import "item";
@import "itemEdit";
@import "common";
@import "buttons";
@import "tutorial";

@import "angular-loading-bar";
@import "filterbar";
@import "filter-status";
@import "filter";
@import "needOfferSelector";
@import "ng-tags-input";
@import "foundation-datepicker";
@import "locations";
@import "checkbox";
@import "map";
@import "fulltext";
@import "itemDetail";
@import "modal";
@import "profileCommon";
@import "profile";
@import "profile-edit";
@import "communities";
@import "community-profile";
@import "community-edit";

body {
    background-image: inline-image("bg.png");
    background-repeat: no-repeat;
    background-position: 50% top;
    background-attachment:fixed;
    .main-container {
        display: block;
        margin: 0px auto;
        position: relative;
        .scrolled & {
            top: 6em;
        }
        top: 8em;
    }
}

// ============ Odstraneni responzivity ======
#all {
}

/*
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";

//@import "foundation/components/forms";
//@import "foundation/components/custom-forms";
@import "foundation/components/button-groups";
@import "foundation/components/dropdown-buttons";

//@import "foundation/components/split-buttons";
//@import "foundation/components/flex-video";
//@import "foundation/components/section";
@import "foundation/components/top-bar";

//@import "foundation/components/orbit";
@import "foundation/components/reveal";

//@import "foundation/components/joyride";
//@import "foundation/components/clearing";
@import "foundation/components/alert-boxes";

//@import "foundation/components/breadcrumbs";
//@import "foundation/components/keystrokes";
//@import "foundation/components/labels";
@import "foundation/components/inline-lists";

//@import "foundation/components/pagination";
//@import "foundation/components/panels";
//@import "foundation/components/pricing-tables";
@import "foundation/components/progress-bars";

//@import "foundation/components/side-nav";
@import "foundation/components/sub-nav";

//@import "foundation/components/switch";
//@import "foundation/components/magellan";
//@import "foundation/components/tables";
//@import "foundation/components/thumbs";
//@import "foundation/components/tooltips";
@import "foundation/components/dropdown";




/*@import "foundation-improvements";
@import "hearth-icons";

@import "mixins/social";
@import "progress";
*/

@include font-face("Signika", font-files("Signika-Light.woff", "Signika-Light.ttf", "Signika-Light.svg#signikalight"), "Signika-Light.eot", 300);

@include font-face("Signika", font-files("Signika-Semibold.woff", "Signika-Semibold.ttf", "Signika-Semibold.svg#signikasemibold"), "Signika-Semibold.eot", bold);

@include font-face("SourceSansPro", font-files("sourcesanspro-400.woff"), null, normal);

@include font-face("SourceSansPro", font-files("sourcesanspro-700.woff"), null, bold);

meta.foundation-data-attribute-namespace {
    font-family: false;
}



/*@function emCalc($pxWidth, $base: $em-base) {
    @return $pxWidth / $base * 1em;
}

@import "mixins/round";

$left-bar-width: 150px;
$topbar-height: 70px;
$listing-image-size: emCalc(50px);
$slider-width: 320px;
$slider-tab-width: 320px / 3;
$menu-item-width-multiplier: 9;

@include social;
#sendInvitationForm {
    @include social(3em, left);
}

//XXX reverts default Foundation behavior
h1, h2, h3, h4, h5, h6 {
    line-height: $header-line-height;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

textarea {
    max-width: 100%;
    height: auto;
}

// styles for medium screen
// @todo separate into own file and keep dependencies
// from: http://stackoverflow.com/questions/17592251/can-you-set-medium-columns-on-zurb-foundation-4/17599690#17599690
@media #{$small} and (max-width: 1024px) {
    @for $i from 1 through $total-columns {
        .medium#{-$i} {
            @include grid-column($columns: $i, $collapse: null, $float: false);
        }
    }
    @for $i from 0 through $total-columns - 1 {
        .row .medium-offset-#{$i} {
            @include grid-column($offset: $i, $collapse: null, $float: false);
        }
    }
    @for $i from 1 through $total-columns - 1 {
        .push#{-$i} {
            @include grid-column($push: $i, $collapse: null, $float: false);
        }
        .pull#{-$i} {
            @include grid-column($pull: $i, $collapse: null, $float: false);
        }
    }
    .column.medium-centered,
    .columns.medium-centered {
        @include grid-column($center: true, $collapse: null, $float: false);
    }
    .column.medium-uncentered,
    .columns.medium-uncentered {
        margin-#{$default-float}: 0;
        margin-#{$opposite-direction}: 0;
        float: $default-float !important;
    }
    .column.medium-uncentered.opposite,
    .columns.medium-uncentered.opposite {
        float: $opposite-direction !important;
    }
}

html, body {
    font-family: $body-font-family;
    min-height: 100%;
    height: 100%;
    @include min-width(240px);
    @media #{$mobile} {
        font-size: $mobile-font-size;
        line-height: $mobile-line-height;
    }
    @media #{$small} {
        font-size: $desktop-font-size;
        line-height: $desktop-line-height;
    }
}

body {
    padding-top: 70px !important;
}

label {
    color: $body-font-color;
    cursor: pointer;
}

@for $i from 0 through 5 {
    .padding-#{$i} {
        padding: emCalc($grid-size * $i);
    }
    .padding-h-#{$i} {
        padding-left: emCalc($grid-size * $i);
        padding-right: emCalc($grid-size * $i);
    }
    .padding-v-#{$i} {
        padding-top: emCalc($grid-size * $i);
        padding-bottom: emCalc($grid-size * $i);
    }
}

nav.left-pad {
    margin-left: $left-bar-width;
}

.content.left-pad {
    position: relative;
    left: $left-bar-width;
}



.content {
    @media #{$small} {
        height: 100%;
        // margin-left:$left-bar-width;
        //   padding-top: $topbar-height;
    }
    padding: 0;
    // padding-top:$topbar-height;
}

#languages {
    @include stretch-x($offset-left: auto);
    li {
        padding: 0.5em;
        a {
            @include link-colors($normal: $negative-font-color, $hover: darken($negative-font-color, 10%), $active: darken($negative-font-color, 10%), $visited: $negative-font-color, $focus: darken($negative-font-color, 10%));
        }
    }
}

a {
    outline-style: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: color(1);
}

.section-divider {
    margin-top: 0;
}

header,
section.content,
.stream article, footer {
    display: block;
}

section.stream {
    article {
        position: relative;
        padding-top: emCalc($grid-size);
        padding-bottom: emCalc($grid-size);
        border-top: 1px solid $primary-color;
        h3 {
            margin-top: 0;
        }
        .visual {
            float: left;
            margin-right: $grid-size;
            margin-bottom: $grid-size;
            width: 3.5 * $grid-size;
        }
    }
}

section.more {
    position: relative;
    max-height: emCalc(6.5 * $grid-size);
    overflow: hidden;
    .trigger {
        @include stretch-y(auto, -0.5 * $grid-size);
        @include reset-box-model;
        background: none;
        text-align: center;
        .button {
            Background: none;
        }
    }
}

.row {
    max-width: 100%;
}

.appreciate,
.hate {
    color: color(1);
}

@import "ratings-bar";

.thumb-ups-color {
    color: #458c50;
}

.thumb-downs-color {
    color: #e2793a;
}

.button-group.ratings {
    @media #{$mobile} {
        margin: emCalc($grid-size) auto;
        margin-bottom: emCalc($grid-size * 2);
        width: 200px;
    }
    .button {
        padding-top: $button-sml - emCalc(2px);
        padding-right: $button-sml + emCalc(3px);
        padding-bottom: $button-sml - emCalc(2px);
        padding-left: $button-sml + emCalc(3px);
        border-color: #aca35e;
        &.round.connect-right {
            border-right: 1px solid;
        }
        &.round.connect-left {
            border-left: 1px solid;
        }
        i span {
            display: inline-block;
            padding-left: $button-med / 2;
            font-style: normal;
            vertical-align: top;
        }
    }
}

.user-profile-menu {
    clear: both;
    li {
        display: block;
        width: emCalc($grid-size * $menu-item-width-multiplier);
        float: left;
        a {
            padding: emCalc($grid-size);
            text-align: center;
            display: block;
            color: $body-font-color;
        }
    }
}

p {
    line-height: 27px;
}

.file-upload {
    z-index: 1;
    display: block;
    width: 100%;
    height: $button-height;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.file-upload-input {
    &::-ms-browse {
        width: 1000px;
    }
    cursor: pointer;
    height: $button-height;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    z-index: 9;
}


.image-upload-input {
    &::-ms-browse {
        width: 1000px;
    }
    cursor: pointer;
    height: $button-height;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    z-index: 9;
}

.cursor-pointer {
    cursor: pointer;
}

.x-large {
    font-size: 32px;
}

.bob {
    p {
        position: absolute;
        right: 5%;
        bottom: 40%;
        opacity: 0.5;
        width: 90%;
    }
    img {
        position: absolute;
        right: 5%;
        bottom: 30px;
        height: 40%;
        opacity: 0.2;
    }
}

.login-prompt {
    text-align: center;
    background: white;
    border: 1px solid #eee;
    padding: 20px;
    clear: both;
}

.show-on-hover {
    @include transition(opacity 1s);
    opacity: 0;
    display: block;
    @media #{$mobile} {
        display: inherit;
        opacity: 1;
    }
}

.touch .show-on-hover {
    display: inherit;
}

.listing,
.profile {
    .photo {
        position: relative;
    }
    .photo img {
        @include border-radius($global-radius);
        border: 2px solid lighten(color(3), 20%);
    }
    .followee, .follower, .friend {
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: -10px;
            width: 40px;
            height: 10px;
            @include rotate(45deg);
        }
    }
    .followee:before {
        background: #4BDB4F;
    }
    .follower:before {
        background: color(1);
    }
    .friend:before {
        background: color(1);
    }
    .wish-text,
    .rating-text {
        position: relative;
        margin-left: $listing-image-size * -1;
        padding-left: $listing-image-size + emCalc($grid-size * 1.5);
        float: left;
    }
    .wish-text, .profile-wish-text {
        .photo>img {
            @include border-radius($global-radius);
            margin-top: emCalc(2 * $grid-size);
            margin-bottom: emCalc(2 * $grid-size);
        }
    }
    .user .wish-text {
        color: #AA9B69;
        font-size: 14px;
    }
    .wish {
        cursor: pointer;
    }
    .keywords {
        & > ul > li {
            font-size: small;
            list-style-type: none;
            float: left;
            .tag-input {
                border-radius: $global-radius;
                padding: 0px 5px 0px 5px;
            }
            a {
                padding: 1px 6px 1px 6px;
                margin-right: emCalc($grid-size / 2);
                border-radius: $global-radius;
            }
        }
    }
    .keywords>ul>li a {
        background: lighten($body-border-color, 5%);
        color: $negative-font-color !important;
        &.active {
            background: $primary-button-background;
            //lighten($body-border-color, 35%);
       
        }
        &.add {
            color: color(1) !important;
            background: none;
            //darken($body-border-color, 5%);
       
        }
    }
    .wish,
    .rating {
        border-bottom: 1px dotted $primary-color;
        padding: 0;
        padding-top: emCalc($grid-size * 2);
        padding-bottom: emCalc($grid-size * 2);
        font-size: $desktop-font-size;
        .wish-bottom-bar {
            margin-top: emCalc($grid-size);
            margin-bottom: emCalc(2px);
            font-size: smaller;
        }
        .need,
        .need a,
        .negative,
        .negative a {
            color: $need-text-color;
            font-weight: bold;
        }
        .offer,
        .offer a,
        .positive,
        .positive a {
            color: $offer-text-color;
            font-weight: bold;
        }
        a.name {
            text-transform: uppercase;
            font-weight: bold;
        }
        &.user .name {
            font-size: 20px;
            color: #685B32;
        }
        &.user,
        &.user a {
            color: $user-text-color;
        }
        .smaller {
            font-size: 15px !important;
            // @todo remove important
       
        }
        .small {
            font-size: 14px !important;
            // @todo remove important
       
        }
        &.new {
            background: $listing-new-background;
        }
        @media #{$mobile} {
            font-size: $mobile-font-size;
        }
        em {
            font-weight: bold;
            font-style: normal;
        }
        &.inactive {
            background-color: desaturate(color(5), 80%);
            .offer {
                color: desaturate($offer-text-color, 80%);
            }
            a {
                color: desaturate(color(1), 80%) !important;
            }
        }
    }
    .wish-container {
        padding-left: emCalc($grid-size * 2);
        padding-right: emCalc($grid-size * 2);
        h2 {
            margin: 0;
            color: color(1);
            font-weight: bold;
        }
        &:hover:not(.expanded) {
            background: $listing-hover-background;
            a {
                color: color(1);
            }
        }
        .show-on-hover {
            display: block;
        }
        &.hoverable:hover {
            .show-on-hover {
                opacity: 1;
            }
        }
        &.hoverable:hover .wish .wish-text,
        &.expanded:hover .wish .wish-text {
            color: $listing-hover-text-color;
            a {
                color: color(1);
            }
        }
        &.expanded .wish .wish-text,&.expanded .wish .wish-text a {
            color: $listing-expanded-text-color;
        }
        &.expanded {
            background: $listing-expanded-background;
            .arrow {
                display: block;
                position: relative;
                width: 0;
                left: 100%;
                z-index: 5;
                &:after,
                &:before {
                    width: 0;
                    height: 0;
                    content: "";
                    display: block;
                    position: absolute;
                    left: 22px;
                }
                &:after {
                    border-left: 12px solid $listing-expanded-background;
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    z-index: 101;
                    margin-top: -1px;
                    margin-left: -2px;
                }
                &:before {
                    border-left: 11px solid $body-border-color;
                    border-top: 19px solid transparent;
                    border-bottom: 19px solid transparent;
                    z-index: 100;
                }
            }
        }
    }
}

.offer {
    text-decoration: underline;
    color: $offer-text-color;
}

.need {
    text-decoration: underline;
    color: $need-text-color;
}

.profile {
    h1 {
        color: color(1);
        margin-bottom: 0;
    }
    .more-notification {
        background-color: darken(color(5), 5%);
        background: linear-gradient(top, color(5), darken(color(5), 3%));
        cursor: pointer;
        position: relative;
        h1 {
            text-align: center;
            font-weight: bold;
        }
        a {
            color: darken(color(5), 15%);
            @include text-shadow(0 -1px 0 darken(color(5), 35%));
            position: absolute;
            right: 0.5em;
            top: 0.5em;
            &:hover {
                color: darken(color(5), 25%);
            }
            font-size: 2em;
        }
    }
    .profile-header,
    .profile-rate {
        @include reset-box-model;
        padding: emCalc($grid-size * 1);
        padding-bottom: 0;
        @media #{$small} {
            padding: emCalc($grid-size * 2);
            padding-bottom: 0;
        }
    }
    .profile-header {
        $margin-base: 12px;
        .avatar img {
            @include border-radius($global-radius);
            float: left;
            margin-right: emCalc($grid-size);
        }
        .action,
        .ratings-bar {
            margin-top: emCalc($margin-base);
            @media #{$small} {
                margin-top: emCalc($margin-base, $desktop-font-size);
            }
        }
        .ratings-bar {
            margin-left: emCalc($profile-image-size + $grid-size);
            @media #{$small} {
                margin-left: emCalc($profile-image-size + $grid-size, $desktop-font-size);
            }
        }
        h1.username {
            $username-font-size: 22px;
            @include reset-box-model;
            padding-top: emCalc($margin-base / 2);
            font-size: emCalc($username-font-size, $desktop-font-size);
            line-height: emCalc($desktop-line-height, $username-font-size);
        }
    }
    .desktop-about {
        margin: 0;
    }
    min-height: 100%;
    height: 100%;
    .profile-links {
        a {
            padding: emCalc($grid-size);
            display: block;
            text-align: center;
        }
        border-bottom: 1px solid color(1);
        margin-top: emCalc($grid-size * 2);
    }
    .follow-box {
        padding-left: emCalc($grid-size * 2);
        padding-right: emCalc($grid-size * 2);
        ul {
            margin-left: 0;
            li {
                float: left;
                margin: 0;
                margin-right: emCalc($grid-size);
                margin-bottom: emCalc($grid-size);
            }
        }
    }
}

.underliner {
    position: relative;
    display: inline-block;
    z-index: 0;
    &:after, &:before {
        width: 0;
        height: 0;
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        left: 45%;
    }
    &:after {
        border-bottom: 9px solid $body-alt-bg;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        z-index: 1;
        margin-top: 1px;
    }
    &:before {
        border-bottom: 10px solid color(1);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        margin-top: -1px;
        margin-left: -1px;
        z-index: -100;
    }
}

.fulltext {
    min-height: 100%;
    height: 100%;
    .search-form {
        padding: 0;
        margin-bottom: 0;
        position: relative;
        button {
            position: absolute;
            right: 0px;
            top: 0px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .text-input {
            margin-bottom: 0;
            position: relative;
        }
    }
    .profile-links a {
        padding-bottom: emCalc($grid-size * 1.5);
        div {
            margin-top: emCalc($grid-size / 2);
            @media #{$mobile} {
                display: none;
            }
        }
    }
}

@media #{$small} {
    .left-column, .right-column {
        padding: 0;
        min-height: 100%;
        form {
            padding: emCalc($grid-size * 2);
            padding-bottom: 0;
        }
    }
    .left-column {
        background: $body-alt-bg $left-column-background-pattern;
        border-right: 1px solid $body-border-color;
        h1, h2 {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: emCalc($grid-size * 2);
            margin-top: emCalc($grid-size * 4);
        }
    }

    .right-column.listing {
        padding-left: emCalc($grid-size * 3);
    }
    .alt-bg {
        background-color: $body-alt-bg;
    }
}

@media #{$medium} {
    .right-column.listing {
        padding-left: 0;
    }
}

@media #{$mobile} {
    .right-column {
        &.detail {
            position: relative;
            background-color: $body-alt-bg;
            z-index: 5000;
            @include stretch-y;
            margin-top: $topbar-height;
        }
    }
    .left-column, .right-column {
        &.columns {
            padding-left: 0;
            padding-right: 0;
        }
        form {
            padding: emCalc($grid-size * 1);
        }
    }
}

.delete-account {
    border: 2px solid color(1);
    color: red;
    background: inherit;
    &:hover {
        background-color: #f30;
        color: $negative-font-color;
    }
}

.delete-account-screen {
    div {
        color: red;
        height: 100%;
        position: relative;
        left: 0;
        top: 40%;
        text-align: center;
        font-size: 130%;
        button {
            margin: emCalc($grid-size);
        }
    }
    @media #{$small} {
        height: 100%;
    }
    @media #{$mobile} {
        padding-top: emCalc(5 * $grid-size);
        padding-bottom: emCalc(10 * $grid-size);
    }
}

.successfully-sent {
    font-size: x-large;
    text-align: center;
    color: $success-color;
}

.hr {
    border-bottom: 1px dotted $body-border-color;
    margin: 0px emCalc(2 * $grid-size) auto;
}

.typeahead {
    position: relative;
    z-index: 8;
    margin-top: emCalc($grid-size * -1);
    padding-top: emCalc($grid-size);
    & > div {
        & > div {
            padding: emCalc($grid-size);
            display: block;
            border-bottom: 1px dotted $primary-color;
            color: #7F713F;
            cursor: pointer;
        }
        &:last-child {
            @include border-bottom-right-radius($global-radius);
            @include border-bottom-left-radius($global-radius);
        }
        &.item-selected {
            color: #554923;
            background-color: #F8F2E1;
        }
    }
    border: 1px solid $body-border-color;
    border-top: 0;
    @include border-bottom-right-radius($global-radius);
    @include border-bottom-left-radius($global-radius);
    background-color: $negative-font-color;
}

// ****************************************** common buttons

button,
.button {
    @include border-radius;
    text-transform: uppercase;
    z-index: 9;
    outline: none;
    &.inactive {
        background: $body-border-color;
        padding: emCalc($grid-size * 0.8);
        z-index: 100;
    }
    &.active {
        background: $body-bg;
    }
    &.primary {
        background: $primary-button-background;
        border: 1px solid $body-border-color;
        color: white;
        &[disabled] {
            color: white;
            background-color: $body-border-color;
            &:hover {
                background-color: $body-border-color;
            }
        }
        &:hover {
            background-color: darken($primary-button-background, 10%);
        }
    }
    &.red {
        background: color(1);
        border: 1px solid color(1);
        color: white;
        &:hover {
            background-color: darken(color(1), 10%);
        }
    }
    &.green {
        border: 2px solid $primary-button-background;
        color: $primary-button-background;
        background: inherit;
        &:hover {
            background-color: $primary-button-background;
        }
    }
    &.default {
        border: 2px solid $body-border-color;
        background: inherit;
        &:hover {
            background: $body-border-color;
        }
    }
}


h1.green {
    color: $success-color;
}

.create-post-links {
    a.create-post-link {
        padding: emCalc($grid-size);
        display: inline-block;
    }
    a.muted {
        opacity: .5;
    }
}

.field-container {
    background-color: lighten($body-bg, 3%);
    color: $body-border-color;
}

.checkbox-input {
    @include border-radius($global-radius);
    border-width: 1px;
    border-style: solid;
    color: transparent;
    padding: $form-spacing / 2;
    margin-bottom: 1.25em;
}

.reply-to-ad {
    & input {
        float: left;
    }
    & label {
        display: block;
        padding-left: 28px;
    }
}

label {
    display: inline;
    font-size: 100%;
}

input[disabled].text-input {
    background: $body-bg;
}



.round,
.prefix.button.round,
.alert-box.error.round {
    @include border-radius($global-radius);
    &.connect-top {
        @include border-top-radius(0);
        border-top: 0 none;
    }
    &.connect-right {
        @include border-right-radius(0);
        border-right: 0 none;
    }
    &.connect-bottom {
        @include border-bottom-radius(0);
        border-bottom: 0 none;
    }
    &.connect-left {
        @include border-left-radius(0);
        border-left: 0 none;
    }
}

.alert-box.error {
    position: relative;
    z-index: 1;
    &.connect-top {
        margin-top: -$global-radius;
        padding-top: $alert-padding-top + emCalc($global-radius);
    }
    &.connect-bottom {
        margin-bottom: -$global-radius;
        padding-bottom: $alert-padding-bottom + emCalc($global-radius);
    }
    &.alert-error,
    &.alert-success {
        padding-top: emCalc(2 * $grid-size);
        padding-bottom: emCalc(2 * $grid-size);
    }
    &.alert-error {
        color: $alert-color;
        background: darken($body-alt-bg, 5%);
        border: 0px;
        border-bottom: 1px solid lighten($alert-color, 40%);
        &::before {
            font-family: FontAwesome;
            content: "\f057";
        }
    }
    &.alert-success {
        color: $success-color;
        background: darken($body-alt-bg, 5%);
        border: 0px;
        border-bottom: 1px solid lighten(desaturate($success-color, 50%), 40%);
        &::before {
            font-family: FontAwesome;
            content: "\f058";
        }
    }
}

.error small,
small.error {
    @include border-radius($global-radius);
    padding-left: .75em;
    padding-right: .75em;
}

.no-border-input {
    textarea {
        border-bottom: 0;
    }
    input {
        border-top: 0;
    }
}

.invitation-link {
    display: block;
    position: fixed;
    z-index: 50;
    top: $topbar-height;
    right: 0;
    height: 33px;
    background: $body-alt-bg;
    border-bottom-left-radius: $global-radius;
    border-left: 1px solid;
    border-bottom: 1px solid;
    padding: 3px 15px 15px 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.login {
    min-height: 100%;
    height: 100%;
    .padding-top {
        padding-top: emCalc($grid-size * 4);
    }
}

@import "terms";

hr {
    margin: $hr-margin / 2 0 $hr-margin / 2 - emCalc(1px);
    @media #{$small} {
        margin: $hr-margin 0 $hr-margin - emCalc(1px, $desktop-font-size);
    }
}

.cleaner {
    clear: both;
    visibility: hidden;
    overflow: hidden;
    height: 1px;
    margin-top: -1px;
    line-height: 1px;
    font-size: 1px;
}

#grid {
    @include stretch;
    background-image: image-url("grid.png");
    z-index: 1000;
    pointer-events: none;
}

.alert-box {
    display: none;
    &.visible {
        display: block;
    }
    padding: emCalc($grid-size * 2);
    margin: 0;
    border-left: 1px solid $body-border-color;
    color: $negative-font-color;
}

.reveal-modal-bg {
    z-index: 10000;
}

.reveal-modal {
    z-index: 10001;
}

.hyphenate {
    -ms-word-break: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.notification {
    &.new-community {
        position: absolute;
        top: 52px;
        left: 134px;
        padding: emCalc($grid-size);
        border-radius: $global-radius;
        border: 1px solid;
        background: $body-alt-bg;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        width: 300px;
        font-size: smaller;
        z-index: 9999;
        h5 {
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            padding-bottom: emCalc($grid-size / 2);
        }
        p {
            text-transform: lowercase;
            margin: 0;
            padding: 0;
            line-height: 150%;
        }
        .close {
            color: color(1);
            text-align: right;
            float: right;
        }
        .arrow {
            display: block;
            position: relative;
            width: 0;
            left: -42px;
            top: 18px;
            &:after,
            &:before {
                width: 0;
                height: 0;
                content: "";
                display: block;
                position: absolute;
                left: 22px;
            }
            &:after {
                border-right: 12px solid $body-alt-bg;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                z-index: 101;
                margin-top: -1px;
                margin-left: 1px;
            }
            &:before {
                border-right: 11px solid $body-border-color;
                border-top: 19px solid transparent;
                border-bottom: 19px solid transparent;
                z-index: 100;
            }
        }
    }
}

#about-container {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// tweaking input placeholders
// we want them to hide, when input has focus
input:focus,
textarea:focus {
    &::-webkit-input-placeholder {
        color: transparent;
    }
    &:-moz-placeholder {
        color: transparent;
    }
    &::-moz-placeholder {
        color: transparent;
    }
    &:-ms-input-placeholder {
        color: transparent;
    }
}


@import "unsupported";

.remove {
    position: absolute;
    top: 11px;
    right: 24px;
    color: color(1);
    cursor: pointer;
}

input + .remove {
    @include transition(color, 1s);
    color: color(3);
    &:hover {
        color: color(1);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'FontAwesome';
        src: url("#{$FontAwesomePath}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular") format("svg") !important;
        font-weight: normal;
        font-style: normal;
    }
}

.clearfix {
    @include clearfix;
}

@import "messages";
;


form[name="replyForm"] {
    position:fixed;
}*/

img.blur { 
    -webkit-filter: blur(2px); 
    -moz-filter: blur(2px); 
    -o-filter: blur(2px); 
    -ms-filter: blur(2px); 
    filter: blur(2px);
    filter: url(/app/images/blur.svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

.vis-hidden {
    visibility: hidden;
}


.hide {
    display: none;
}

.text-in-password {
    position: relative;
    .fa-eye {
        position: absolute;
        top: 0.783rem;
        right: 0.5rem;
        cursor: pointer;

        padding-left: 16px;
        padding-right: 10px;
        position: absolute;

        &:hover {
            opacity: 0.7;
        }
    }
}

.capital {
    * {
        text-transform: capitalize;
    }
}

.margin-top {
    margin-top: 10px;
}