@import "mixins/pallette-color";

//@import "variables";

$color: #fa5800, #a7bd1d, #7c766a, #f4f4f4, #1fb1e8, #26AF34;
$FontAwesomePath: "../../fonts" !default;
$defaultShadow: 1px 1px 6px gray;
$webWidth: 960px;

@import "settings";

$fontSize: rem-calc(14);

@import "compass";
// import Compass mixins
/*@import "compass/reset";
@import "compass/layout/stretching";
@import "compass/layout/grid-background";
@import "compass/utilities/general/min";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/font-face";
@import "compass/css3/shared";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/typography/links/link-colors";*/

// import parts of Foundation framework


@import "font-awesome";
@import
  "foundation/components/grid",
//  "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
//  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
//  "foundation/components/dropdown",
//  "foundation/components/dropdown-buttons",
//  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/inline-lists",
//  "foundation/components/joyride",
//  "foundation/components/keystrokes",
  "foundation/components/labels",
//  "foundation/components/magellan",
  "foundation/components/orbit",
//  "foundation/components/pagination",
//  "foundation/components/panels",
//  "foundation/components/pricing-tables",
//  "foundation/components/progress-bars",
//  "foundation/components/range-slider",
//  "foundation/components/reveal",
//  "foundation/components/side-nav",
//  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/tables",
//  "foundation/components/tabs",
//  "foundation/components/thumbs",
//  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
//  "foundation/components/offcanvas",
  "foundation/components/visibility";

@import "mixins/social";

@import "avatar";
@import "navigation";
@import "forms";
@import "item";
@import "infoBox";
@import "itemEdit";
@import "authorSelector";
@import "removePostFromCommunity";
@import "tipsy";
@import "common";
@import "buttons";
@import "tutorial";
@import "userForms";

@import "maitenancePage";
@import "angularLoadingBar";
@import "filterbar";
@import "filterStatus";
@import "filter";
@import "needOfferSelector";
@import "ngTagsInput";
@import "uiSelect";
@import "foundationDatepicker";
@import "locations";
@import "checkbox";
@import "map";
@import "fulltext";
@import "itemDetail";
@import "modal";
@import "inviteBox";
@import "profileCommon";
@import "profile";
@import "profileEditCommon";
@import "profileEdit";
@import "emailSharing";
@import "communities";
@import "communityProfile";
@import "communityEdit";
@import "404";
@import "notify";
@import "dropdown";
@import "marketplaceBanner";

body {
    background-image: inline-image("bg.jpg");
    background-color: #FAF8EB;
    background-repeat: no-repeat;
    background-position: 50% top;
    .main-container {
        display: block;
        min-width:960px;
        margin: 0px auto;
        position: relative;
        /*      
       .scrolled & {
            top: 6em;
        }
        */
        top: 6em;
    }
}


@import "hearthIcons";

meta.foundation-data-attribute-namespace {
    font-family: false;
}

img.blur { 
    -webkit-filter: blur(2px); 
    -moz-filter: blur(2px); 
    -o-filter: blur(2px); 
    -ms-filter: blur(2px); 
    filter: blur(2px);
    filter: url(/app/images/blur.svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

.vis-hidden {
    visibility: hidden;
}


.hide {
    display: none;
}

.text-in-input {
    position: relative;
    .fa {
        position: absolute;
        top: 0.783rem;
        right: 0.5rem;
        cursor: pointer;

        padding-left: 10px;
        padding-right: 10px;

        &:hover {
            opacity: 0.7;
        }
    }
}

.capital {
    * {
        text-transform: capitalize;
    }
}

.margin-top {
    margin-top: 10px;
}

.alert-box {
    transition-property: none;

    &.error {
        color: white;
    }
}

.loading {
    @extend .clearfix;
    font-size: 2rem;
    opacity: 0.7;
    height: 40px;

    .fa {
      margin-right: 0.5rem;
    }
}

.market {
    padding-bottom: 50px;
    .loading {
        position: absolute;
        left: 0;
        right: 0;
        border: 0 none;
        margin-bottom: 10px;
    }
}

.web-width {
    margin: 0 auto;
    width: 940px;
}