<div class="row profile-edit">
  <form id="profileEditForm" name="profileEditForm" ng-submit="updateProfile()" novalidate ng-show="loaded">


    <div class="right-column small-12 large-5 columns push-7" ng-cloak>
        <div file-upload-output class=""></div>
        <div file-upload file-upload-path="/users/{{ loggedUser._id }}/files" upload-name="'avatar'" on-file-upload-started="avatarUploadStarted()" on-file-upload-success="avatarUploadSucceeded($event)" on-file-upload-error="avatarUploadFailed()">
          
          <div class="avatar">
            <div class="text">
              <span class="fa fa-plus-square-o"></span>
              {{ 'CHOOSE_AVATAR_FILE' | translate}}
            </div>
          </div>
        </div>
    </div>

    <div class="left-column small-12 large-7 columns pull-5 alt-bg">
      <h1>
        <span class="fa fa-user"></span>{{ 'WHO' | translate }}</h1>
      <div class="name">
        <label>
          {{ 'NAME' | translate }} *
          <input ng-model="profile.name" class="text-input" type='text' ng-required="true">
        </label>
      </div>
      <div class="work">
        <label>
          {{ 'MY_WORK' | translate }}
          <input class="text-input" type='text' placeholder="{{'MY_WORK_EXAMPLE' | translate}}" ng-model="profile.work" name="my_work">
        </label>
      </div>
    </div>

    <div class="clear large-12">
      <br />
      <h1>
        <span class="fa fa-map-marker"></span>{{ 'WHERE' | translate }}</h1>

      <locations locations="profile.locations" error="showError.locations" limit="-1" hide-map="true"></locations>

      <h1>
        <span class="fa fa-comments"></span>{{ 'MY_LANGUAGES' | translate }}</h1>

      <div class="row languages">
        <div class="large-12 columns">
          <label ng-repeat="lang in languageList" ng-show="languageListDefault.indexOf(lang) &gt;-1 || profile.user_languages[lang]">
            <input type="checkbox" ng-model="profile.user_languages[lang]">{{ 'MY_LANG_' + lang.toUpperCase() | translate }}
          </label>

          <label data-dropdown="language-drop" class="dropdown">
            <span class="fa fa-comments"></span>{{ 'OTHER_LANG' | translate }}</label>
          <ul id="language-drop" data-dropdown-content class="f-dropdown">
            <label ng-repeat="lang in languageList" ng-hide="languageListDefault.indexOf(lang) &gt;-1 || profile.user_languages[lang]">
              <input type="checkbox" ng-model="profile.user_languages[lang]">{{ 'MY_LANG_' + lang.toUpperCase() | translate }}
            </label>
          </ul>
        </div>
      </div>

      <h1>
        <span class="fa fa-phone"></span>{{ 'CONTACTS' | translate }}</h1>
      <div class="row">
        <div class="large-6 columns">
          <label>
            {{ 'MY_EMAIL' | translate }} *
            <input ng-model="profile.email" class="text-input" type='email' ng-required="true">
          </label>
          <a ng-click="showContactMail = true || profile.contact_email !=''" ng-hide="showContactMail">
            <span class="fa fa-plus-circle"></span>{{ 'ADD' | translate }}</a>
          <div ng-show="showContactMail">
            <label>
              {{ 'MY_CONTACT_EMAIL' | translate }}
              <input ng-model="profile.contact_email" class="text-input" type='email' ng-required="false">
              <em>{{ 'MY_CONTACT_EMAIL_EXAMPLE' | translate }}</em>
            </label>
            <div>
              <a ng-click="showContactMail = false; profile.contact_email =''">
                <span class="fa fa-minus-circle"></span>{{ 'REMOVE' | translate }}</a>
            </div>
          </div>
        </div>
        <div class="large-6 columns">
          <label>
            <div class="fa fa-phone"></div>
            {{ 'MY_PHONE' | translate }}
            <input ng-model="profile.phone" class="text-input" type="text" ng-pattern="/[+]?[()/0-9. -]{9,}/">
          </label>
        </div>
      </div>

      <h1>
        <span class="fa fa-sitemap"></span>{{ 'MY_NETWORKS' | translate }}</h1>
      <div class="row">

        <div class="large-6 columns">
          <label>
            <div class="fa fa-facebook"></div>
            {{ 'MY_FACEBOOK' | translate }}
            <input placeholder="{{ 'EG' | translate }} https://www.facebook.com/profile" ng-model="profile.facebook" class="text-input" type="url" ng-blur="updateUrl($event, profile, 'facebook')">
          </label>
        </div>

        <div class="large-6 columns">
          <label>
            <div class="fa fa-twitter"></div>
            {{ 'MY_TWITTER' | translate }}
            <input placeholder="{{ 'EG' | translate }} https://twitter.com/profile" ng-model="profile.twitter" class="text-input" type="url" ng-blur="updateUrl($event, profile, 'twitter')">
          </label>
        </div>

      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            <div class="fa fa-linkedin"></div>
            {{ 'MY_LINKEDIN' | translate }}
            <input placeholder="{{ 'EG' | translate }} https://www.linkedin.com/profile" ng-model="profile.linkedin" class="text-input" type="url" ng-blur="updateUrl($event, profile, 'linkedin')">
          </label>
        </div>

        <div class="large-6 columns">
          <label>
            <div class="fa fa-google-plus"></div>
            {{ 'MY_GOOGLEPLUS' | translate }}
            <input placeholder="{{ 'EG' | translate }} https://plus.google.com/profile" ng-model="profile.googleplus" class="text-input" type="url" ng-blur="updateUrl($event, profile, 'googleplus')">
          </label>
        </div>
      </div>

      <div class="row webs">
        <div class="large-6 columns">
          <label>
            <span class="fa fa-globe"></span>
            {{ 'MY_WEB' | translate }}
          </label>
          <div ng-repeat="web in profile.webs track by $index" class="web-item">
            <input placeholder="{{ 'EG' | translate }} https://www.myweb.com" ng-model="profile.web" class="text-input" type="url" ng-required="!$first" ng-class="{top: $first && !$last, bottom:$last && !$first, middle: !($first || $last)}" ng-blur="updateUrl($event, profile.webs, $index)">
            <div class="remove" ng-hide="$first">
              <span class="fa fa-times-circle" ng-click="profile.webs.splice($index,1)"></span>
            </div>
          </div>
          <a ng-click="profile.webs.push('')">
            <span class="fa fa-plus-circle"></span>{{ 'ADD' | translate }}
          </a>
        </div>
      </div>

      <h1><span class="fa fa-heart"></span>{{ 'ABOUT_ME' | translate }}</h1>
      <div class="row">
        <div class="large-6 columns">
          <label>
            {{ 'MY_TELL_ABOUT' | translate }}
          </label>
            <textarea max-len="300" autosize-textarea placeholder="{{'MY_TELL_ABOUT_EXAMPLE' | translate }}" ng-model="profile.about"></textarea>
        </div>
        <div class="large-6 columns">
          <label>
            {{ 'MY_INTERESTS' | translate }}
          </label>
            <textarea  autosize-textarea max-len="300" class="text-input" type="text" ng-model="profile.interests" placeholder="{{'MY_INTERESTS_EXAMPLE' | translate }}"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <a ng-href="#!/profile/{{profile._id}}" class="default">
            <span class="fa fa-chevron-left"></span> {{ 'CANCEL_CHANGES' | translate }}</a>
          <button type="submit" ng-disabled="avatarUpload || profileEditForm.$invalid" class=" primary right" analytics-on analytics-event="same my description" analytics-category="My profile" analytics-value="5">{{ 'SAVE' | translate }}</button>
        </div>
      </div>
    </form>

  </div>
</div>