<div class="row profile-edit profile-edit-common" ng-show="loaded">
	<form id="profileEditForm" name="profileEditForm" ng-submit="update()" novalidate>
		<div class="right small-12 large-5 medium-12 columns" ng-cloak>
			<div image-preview files="profile.avatar" limit="5" limit-pixel-size="400" single-file="true">
				<img class="preview" ng-if="profile.avatar.file" ng-src="{{profile.avatar.file}}" resized-thumbnail-image exif-rotated/>
				<img class="preview" ng-if="!profile.avatar.file && profile.avatar.large" ng-src="{{profile.avatar.large}}" resized-thumbnail-image/>

				<div class="text">
					<span class="fa fa-plus-square-o"></span>
					<span>{{:: 'CHOOSE_AVATAR_FILE' | translate}}</span>
				</div>
			</div>
		</div>
		<div class="left small-12 large-7 medium-12 alt-bg">
			<h2 class="hide-border">
				<span class="content">
					<span class="fa fa-user"></span>{{:: 'WHO' | translate }}
				</span>
			</h2>
			<section class="who">
				<div class="name margin">
					<label>
						{{:: 'NAME' | translate }} *
						<input-max-length input-type="input" show-counter="false" min-length="2" max-length="200" required="true" placeholder="{{:: 'NAME' | translate }}" model="profile.name" name="name"></input-max-length>
						<div class="error" ng-show="profileEditForm.name.$error.required">
							<span>{{:: 'ERR_NOT_FILLED_NAME' | translate }}</span>
						</div>
					</label>
				</div>
				<div class="work margin">
					<label>
						{{:: 'MY_WORK' | translate }}
						<input class="text-input" type='text' placeholder="{{'MY_WORK_EXAMPLE' | translate}}" ng-model="profile.work" name="my_work">
					</label>
				</div>
			</section>
		</div>
		<div class="clear"></div>
		<div class="large-12 small-12 medium-12">
			<h2>
				<span class="content">
					<span class="fa fa-globe"></span>{{:: 'WHERE' | translate }}
				</span>
			</h2>
			<section class="location" ng-if="profile">
				<locations locations="profile.locations" is-required="true" show-error="showError.locations"></locations>
			</section>
			<h2>
				<span class="content">
					<span class="fa fa-comments"></span>{{:: 'MY_LANGUAGES' | translate }}
				</span>
			</h2>
			<section class="languages">
				<label ng-repeat="lang in languageList" ng-show="languageListDefault.indexOf(lang) > -1 || profile.user_languages[lang]">
					<checkbox model="profile.user_languages[lang]" type="checkbox" value="true" value-off="false">{{ 'MY_LANG.' + lang | translate }}
					</checkbox>
				</label>
				<span class="dropdown-container" dropdown="#language-drop">
					<label class="trigger">
						{{:: 'ADD_OTHER_LANG' | translate }}
					</label>
					<ul id="language-drop" class="dropdown">
						<label ng-repeat="lang in languageList" ng-hide="languageListDefault.indexOf(lang) >-1 || profile.user_languages[lang]">
							<checkbox model="profile.user_languages[lang]" type="checkbox" value="true" value-off="false">{{:: 'MY_LANG.' + lang | translate }}
							</checkbox>
						</label>
					</ul>
				</span>
			</section>
			<div class="clear"></div>
			<h2>
				<span class="content">
					<span class="fa fa-phone"></span>{{:: 'CONTACTS' | translate }}
				</span>
			</h2>
			<section class="contact">
				<!-- main EMAIL -->
				<div class="clearfix">
					<label class="large-12 small-12 medium-12 columns">
						{{:: 'MY_EMAIL' | translate }} *
					</label>

					<div class="large-6 small-12 medium-6 columns">
						<input ng-model="profile.email" ng-focus="showError.email = false" ng-blur="showError.email = true" class="text-input" type='email' name="email" ng-required="true">

						<div class="error" ng-class="{absolute: showContactMail}" ng-show="showError.email">
							<span ng-show="profileEditForm.email.$error.email">{{:: 'ERR_NOT_VALID_EMAIL' | translate }}</span>
							<span ng-show="profileEditForm.email.$error.required">{{:: 'ERR_NOT_FILLED_EMAIL' | translate }}</span>
						</div>
					</div>

					<div class="large-6 small-12 medium-6 columns">
						<privacy-selector ng-model="profile.visible_attributes.email"></privacy-selector>
					</div>

					<div class="large-12 small-12 medium-12 columns">
						<a ng-click="showContactMail = true || profile.contact_email !=''" ng-hide="showContactMail" class="controll">
							<span class="fa fa-plus-square"></span>{{:: 'ADD' | translate }}
						</a>
					</div>
				</div>

				<!-- contact email -->
				<div ng-show="showContactMail" class="contact-email clearfix">
					<label class="large-12 small-12 medium-12 columns">
						{{:: 'MY_CONTACT_EMAIL' | translate }}
					</label>
					<div class="large-6 small-12 medium-6 columns">
						<input ng-model="profile.contact_email" ng-focus="showError.contact_email = false" ng-blur="contactEmailBlur()" class="text-input" name="contact_email" type='email'>

						<div class="error" ng-show="showError.contact_email">
							<span ng-show="profileEditForm.contact_email.$error.email">{{:: 'ERR_NOT_VALID_EMAIL' | translate }}</span>
							<span ng-show="profileEditForm.contact_email.$error.required">{{:: 'ERR_NOT_FILLED_CONTACT_EMAIL' | translate }}</span>
						</div>
					</div>
					<div class="large-6 small-12 medium-6 columns">
						<privacy-selector ng-model="profile.visible_attributes.contact_email"></privacy-selector>
					</div>

					<div class="large-12 small-12 medium-12 columns">
						<em>{{:: 'MY_CONTACT_EMAIL_EXAMPLE' | translate }}</em>
					</div>

					<div class="large-12 small-12 medium-12 columns margin-top">
						<a ng-click="hideContactEmail()" class="controll">
							<span class="fa fa-minus-square"></span>{{:: 'REMOVE' | translate }}
						</a>
					</div>
				</div>

				<!-- phone -->
				<div class="margin-top clearfix">
					<label class="large-12 small-12 medium-12 columns">
						<i class="fa fa-phone"></i> {{:: 'MY_PHONE' | translate }}
					</label>

					<div class="large-6 small-12 medium-6 columns">
						<input ng-model="profile.phone" ng-focus="showError.phone = false" ng-blur="showError.phone = true" name="phone" class="text-input" type="text" ng-pattern="/((\+420|00420) ?)?\d{3}( |-)?\d{3}( |-)?\d{3}/">

						<div class="error" ng-show="showError.phone">
							<span ng-show="profileEditForm.phone.$error.pattern">{{:: 'ERR_NOT_VALID_PHONE' | translate }}</span>
						</div>
					</div>

					<div class="large-6 small-12 medium-6 columns">
						<privacy-selector ng-model="profile.visible_attributes.phone"></privacy-selector>
					</div>
				</div>
			</section>

			<div class="clear"></div>
			<h2>
				<span class="content">
					<span class="fa fa-envelope"></span>{{:: 'MY_NETWORKS' | translate }}
				</span>
			</h2>
			<section>
				<div class="margin large-6 small-12 medium-6 columns">
					<label>
						{{:: 'MY_FACEBOOK' | translate }}
						<input placeholder="{{ 'EG' | translate }} https://www.facebook.com/profile" ng-model="profile.facebook" class="text-input" type="url" ng-blur="updateUrl($event, profile, 'facebook')">
					</label>
				</div>
				<div class="margin large-6 small-12 medium-6 columns">
					<label>
						{{:: 'MY_TWITTER' | translate }}
						<input placeholder="{{ 'EG' | translate }} https://twitter.com/profile" ng-model="profile.twitter" class="text-input" type="url" ng-blur="updateUrl($event, profile, 'twitter')">
					</label>
				</div>
				<div class="margin large-6 small-12 medium-6 columns">
					<label>
						{{:: 'MY_LINKEDIN' | translate }}
						<input placeholder="{{ 'EG' | translate }} https://www.linkedin.com/profile" ng-model="profile.linkedin" class="text-input" type="url" ng-blur="updateUrl($event, profile, 'linkedin')">
					</label>
				</div>
				<div class="margin large-6 small-12 medium-6 columns">
					<label>
						{{:: 'MY_GOOGLEPLUS' | translate }}
						<input placeholder="{{ 'EG' | translate }} https://plus.google.com/profile" ng-model="profile.googleplus" class="text-input" type="url" ng-blur="updateUrl($event, profile, 'googleplus')">
					</label>
				</div>
			</section>
			<div class="clear"></div>
			<section class="webs">
				<div class="large-6 small-12 medium-6 columns">
					<label>
						<span class="fa fa-globe"></span> {{:: 'MY_WEB' | translate }}
					</label>

					<div ng-repeat="web in profile.webs track by $index" class="web-item">
						<input placeholder="{{ 'EG' | translate }} https://www.myweb.com" ng-model="profile.webs[$index]" class="text-input" type="url" ng-required="!$first" ng-blur="updateUrl($event, profile.webs, $index)">

						<div class="remove" ng-hide="$first">
							<span class="fa fa-times-circle" ng-click="profile.webs.splice($index,1)"></span>
						</div>
					</div>
					<a ng-click="profile.webs.push('')">
						<span class="fa fa-plus-square"></span>{{:: 'ADD_NEXT_WEB' | translate }}
					</a>
				</div>
				<div class="clear"></div>
			</section>
			<div class="clear"></div>
			<h2>
				<span class="content">
					<span class="fa fa-heart"></span>{{:: 'ABOUT_ME' | translate }}
				</span>
			</h2>
			<section>
				<div class="large-6 small-12 medium-6 columns small-margin-bottom">
					<label>
						{{:: 'MY_TELL_ABOUT' | translate }}
					</label>
					<input-max-length input-type="textarea" show-counter="true" min-length="0" max-length="300" placeholder="{{'MY_TELL_ABOUT_EXAMPLE' | translate }}" model="profile.about" name="about"></input-max-length>
				</div>
				<div class="large-6 small-12 medium-6 columns">
					<label>
						{{:: 'MY_INTERESTS' | translate }}
					</label>
					<input-max-length input-type="textarea" show-counter="true" min-length="0" max-length="300" placeholder="{{'MY_INTERESTS_EXAMPLE' | translate }}" model="profile.interests" name="interests"></input-max-length>
				</div>
			</section>
			<div class="clear"></div>
			<br/>
			<br/>
			<section>
				<div class="large-12 small-12 medium-12 columns">
					<a ng-href="{{ getProfileLink('User', profile._id) }}" class="revert-changes">
						<span class="fa fa-chevron-left"></span>{{:: 'CANCEL_CHANGES' | translate }}
					</a>
					<button type="submit" class="button-send right" analytics-custom analytics-event="edit my profile" analytics-category="My profile" analytics-value="5">{{:: 'SAVE' | translate }}
					</button>
					<div class="fright error down-error" ng-show="messageBottom">
						<span>{{ messageBottom | translate}}</span>
					</div>
				</div>
			</section>
		</div>
	</form>
</div>
<div loading show="!loaded"></div>