<div class="row profile-edit" ng-show="loaded">
  <form id="profileEditForm" name="profileEditForm" ng-submit="update()" novalidate ng-show="loaded">

    <div class="large-12">
      <h2>
        <span class="content">
          <span class="fa fa-comments"></span>{{ 'USER_LANGUAGE' | translate }}
        </span>
      </h2>
      <section class="change-language">

        {{ 'USING_HEARTH_IN_LANG' | translate }} <b>{{ 'HEARTH_IN_THIS_LANG' | translate }}</b> - 
        <a ng-if="lang.code == 'cs'" ng-click="switchLang('en')">{{ 'SWITCH_TO_ENGLISH' | translate }}</a>
        <a ng-if="lang.code == 'en'" ng-click="switchLang('cs')">{{ 'SWITCH_TO_CZECH' | translate }}</a>
      </section>
      <div class="clear"></div>

      <h2>
        <span class="content">
          <span class="fa fa-comments"></span>{{ 'USER_CHANGE_CREDENTIALS' | translate }}
        </span>
      </h2>
      <section class="change-pass">

        <div class="fleft large-6">
          <div class="fleft large-11">
            <label for="oldPass">Zadejte současné heslo</label>
            <input type="password" name="oldPass" id="oldPass" ng-model="pass.old" required />
            <div class="absolute error" ng-show="showError.name">
                <span ng-show="profileEditForm.name.$error.required">{{ 'ERR_NOT_FILLED_NAME' | translate }}</span>
            </div>
          </div>
        </div>

        <div class="fright large-6">
          <div class="fright large-11">
            <label for="newPass">Zadejte nové heslo</label>
            <input type="password" name="newPass" ng-model="pass.changed" id="newPass" required />
          </div>
        </div>

        <div class="clear"></div>
        <br />
        <button type="submit" class="button-send right" analytics-on analytics-event="same my description" analytics-category="My profile" analytics-value="5">{{ 'SAVE' | translate }}</button>
      </section>
      <br />
      <br />

      <h2>
        <span class="content">
          <span class="fa fa-comments"></span>{{ 'USER_DELETE_PROFILE' | translate }}
        </span>
      </h2>
      <section class="delete-account">

        <label for="text">Je nám líto, že nás opouštíte - budeme vděční, když nám povíte důvod:</label>
        <textarea ng-model="leave.reason" autosize-textarea></textarea>

        <div class="fleft large-6">
          <div class="fleft large-11">
            <label for="oldPassLeave">Zadejte vaše heslo</label>
            <input type="password" name="oldPassLeave" id="oldPassLeave" required />
          </div>
        </div>
        <div class="clear"></div>
        <button type="submit" class="button-send right" analytics-on analytics-event="same my description" analytics-category="My profile" analytics-value="5">{{ 'USER_DELETE_PROFILE' | translate }}</button>

      </section>
      <div class="clear"></div>

  </form>

  </div>
</div>