<div ng-include="'templates/profile/followingPanel.html'"></div>

<div ng-if="subPageLoaded">
	<div class="large-8 large-centered columns box text-center no-result" ng-if="mine && ! data.length">
		<p>{{ 'PROFILE.FOLLOWEES.NO_FOLLOWEES_ME' | translate }}</p>
	</div>
	<div class="large-8 large-centered columns box text-center no-result" ng-if="! mine && ! data.length">
		<p>{{ 'PROFILE.FOLLOWEES.NO_FOLLOWEES_OTHER' | translate }}</p>
	</div>

	<div class="people-listing">
		<div class="person" ng-repeat="(id, item) in data track by $index">
			<a href="#!/{{ getProfileLinkByType(item._type) }}/{{ item._id}}">
				<div class="avatar">
					<img ng-src="{{item.avatar.normal}}" ng-if="item.avatar.normal" />
				</div>
			</a>
			<div class="name">
				<h4>
					<a href="#!/{{ getProfileLinkByType(item._type) }}/{{ item._id}}">{{ item.name | ellipsis:24}}</a>
				</h4>
				<a class="mine" ng-click="confirmBox('PROFILE.REMOVE_FOLOWEESE_LABEL', 'PROFILE.REMOVE_FOLOWEESE_TEXT', removeFollower, [item._id, true], this)">{{ 'UNFOLLOW_BUTTON_CAPTION' | translate }}</a>
			</div>
		</div>
	</div>
</div>

<div loading show="!subPageLoaded"></div>
