
<div class="profile-listings">
    <div class="left-pane">
        <div class="ratings">
            <h3 class="mine">{{ 'YOUR_RATING' | translate}}</h3>
            <h3 class="others">{{ 'USERS_RATINGS' | translate}}</h3>

            <div ng-repeat="(id, item) in receivedRatings track by $index" class="rating">
                <a href="#!/{{ getProfileLinkByType(item.user_from_type) }}/{{item.user_from}} ">
                    <div class="avatar">
                        <img ng-if="item.user_from_avatar.normal" ng-src="{{item.user_from_avatar.normal}}" />
                    </div>
                </a>
                <small class="date" title="{{item.created_at | date:DATETIME_FORMATS.medium}}"><i class="fa fa-clock-o"></i>&nbsp; {{item.created_at | ago}}</small>
                <div class="rating-text">
                    {{item.text | ellipsis}}
                    <br>
                    <small class="rating-from">{{ 'SAYING' | translate }} <a href="#!/{{ getProfileLinkByType(item.user_from_type) }}/{{item.user_from}} ">{{item.user_from_full_name | ellipsis}}</a>.</small>
                </div>
            </div>
            <p class="mine" ng-if="! receivedRatings.length">{{ 'YOU_HAVE_NO_RATINGS_YET' | translate}}</p>
            <p class="others" ng-if="! receivedRatings.length">{{ 'USER_HAS_NO_RATINGS_YET' | translate}}</p>
            <div class="buttons" ng-if=" receivedRatings.length">
                <a href="#!/profile/{{info._id}}/received-ratings">
                    <button class="button-flat blue spacy"><i class="fa fa-angle-double-right"></i> {{ 'OLDER_RATINGS' | translate }}</button>
                </a>
            </div>
        </div>
        <div class="ads">
            <h3 ng-if="mine">
                <span ng-if="posts.data.length">{{ 'ACTUALLY_YOU_HAVE_ACTIVE' | translate }} {{ posts.data.length }} 
                    {{'POSTS_PL.'+pluralCat(posts.data.length) | translate }}
                </span>
                <span ng-if="! posts.data.length">{{ 'ACTIVE_POSTS' | translate}}</span>

                <a ng-if="!loggedCommunity" class="create-ad-sign" ng-click="editItem(null)" title="{{ 'AD_ADD_LABEL' | translate}}"><i class="fa fa-plus-square"></i></a>
            </h3>
            <h3 class="others">{{ 'USER_POSTS' | translate }}</h3>

            <p class="mine" ng-if="posts.data.length && loggedCommunity">{{ 'SWITCH_FROM_COMMUNITY_TO_MANAGE_POSTS' | translate }}</p>
            <p class="mine" ng-if="! posts.data.length">{{ 'YOU_HAVE_NO_POSTS_YET' | translate}}</p>
            <p class="others" ng-if="! posts.data.length">{{ 'USER_HAS_NO_POSTS_YET' | translate }}</p>

            <div ng-include="'templates/directives/itemSmall.html'" ng-repeat="(id, item) in posts.data track by $index" ng-init="hidePost = loggedCommunity"></div>

            <div class="buttons" ng-if="posts.data.length">
                <a href="#!/profile/{{info._id}}/posts">
                    <button class="button-flat blue spacy"><i class="fa fa-angle-double-right"></i> {{ 'ads-all' | translate }}</button>
                </a>
            </div>
        </div>
    </div>

    <div class="right-pane">
        <div class="user-about">
            <h3 ng-if="!mine">{{ 'MEET_USER' | translate }} {{ info.name }}</h3>
            <h3 ng-if="mine">{{ 'YOUR_PROFILE' | translate }}</h3>
            <div class="mbot line">
                <div class="descr" ng-if="info.about"><i class="fa fa-quote-right"></i> {{info.about}}</div>
                <div class="descr" ng-if="info.work"><i class="fa fa-briefcase"></i> {{info.work}}</div> 
                <div class="descr" ng-if="info.cities"><i class="fa fa-map-marker"></i> {{info.cities}}</div>
                <div class="descr" ng-if="info.interests && info.interests[0] != ''"><i class="fa fa-smile-o"></i> {{ info.interests.join(", ") }}</div>
                <div class="descr" ng-if="info.user_languages">
                    <span ng-repeat="(languageCode, enabled) in info.user_languages">
                        <i class="fa fa-comments" ng-if="$first"></i>
                        {{ 'MY_LANG_' + languageCode.toUpperCase() | translate }}<span ng-if="!$last">,</span>
                    </span>
                 </div>
             </div>
            <span class="descr reg-date fleft"><i class="fa fa-asterisk"></i> {{ 'USER_HAS_REGISTERED' | translate }} {{info.created_at | ago}}</span>
            <span class="social fright">
                <a target="_blank" ng-if="info.twitter" href="{{info.twitter}}"><i class="fa fa-twitter-square"></i></a>
                <a target="_blank" ng-if="info.facebook" href="{{info.facebook}}"><i class="fa fa-facebook-square"></i></a>
                <a target="_blank" ng-if="info.googleplus" href="{{info.googleplus}}"><i class="fa fa-google-plus-square"></i></a>
                <a target="_blank" ng-if="info.linkedin" href="{{info.linkedin}}"><i class="fa fa-linkedin"></i></a>
                <a target="_blank" class="link" ng-if="info.webs.length && info.webs[0]" href="{{info.webs[0]}}"><i class="fa fa-link"></i></a>
            </span>
        </div>
    </div>
    <div class="right-pane">
        <div class="activities">
            <h3 ng-if="mine">{{ 'YOUR_ACTIVITY' | translate }}</h3>
            <h3 ng-if="!mine">{{ 'USER_ACTIVITY' | translate }}</h3>
            
            <p ng-hide="activityLog.length">{{ 'NOTICE_EMPTY_DATA' | translate }}</p>
            <div ng-if="activityLog.length">
                <div ng-include="'templates/_activityList.html'">
                <div class="buttons">
                    <a href="#!/profile/{{info._id}}/activity-feed">
                        <button class="button-flat blue spacy"><i class="fa fa-angle-double-right"></i> {{ 'OLDER_ACTIVITY' | translate}}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>