<h4>Home - zakladni info</h4>


<section class="userInfo">
	<h3>Poznejte uživatele {{ info.name }}</h3>
	<span class="work">{{info.work}}</span>
	<span class="regDate">Uživatel se registroval {{info.created_at | ago}}</span>
	<span class="work">{{info.twitter}}</span>
</section>

<section class="ratings">
	<head>
		<h3>Vaše nové upozornění</h3>
	</head>
	<ul ng-if="receivedRatings.length">
		<li ng-repeat="(id, item) in receivedRatings track by $index">
			<span>
				{{item.user_from_full_name | ellipsis}} - {{item.text | ellipsis}} - <span class="date" title="{{item.created_at | date:'dd.MM.yyyy HH:mm:ss'}}"><span class="fa fa-clock-o"></span> {{item.created_at | ago}}</span>
			</span>
		</li>
	</ul>
</section>

<section class="activity-feed">
	<head>
		<h3 ng-show="mine">Vaše aktivity</h3>
		<h3 ng-show="!mine">Aktivity uživatele</h3>
	</head>
	<ul ng-if="activityLog.length">
		<li ng-repeat="(id, item) in activityLog track by $index">
			<span>
				<span dynamic-text="item.text" dynamic-data="item.data"></span>
				<span class="date" title="{{item.created_at | date:'dd.MM.yyyy HH:mm:ss'}}"><span class="fa fa-clock-o"></span> {{item.created_at | ago}}</span>
			</span>
		</li>
	</ul>
</section>

<section class="posts">
	<head>
		<h3 ng-show="posts.total">Momentalne mate {{posts.total}} posty</h3>
		<h3 ng-show="! posts.total">Momentalne nemate zadne posty</h3>
		<i class="fa fa-plus-square" ng-click="editItem(null)" ></i>
	</head>
	<ul ng-if="posts.total">
		<li ng-repeat="(id, item) in posts.data track by $index">
			<span>
				{{item.title | ellipsis}}
				<span ng-if="item.locations.length && item.locations[0].city"> / {{item.locations[0].city}}</span>
			</span>

			<i class="fa fa-pencil" title="{{'AD_EDIT_LABEL' | translate}}" ng-click="editItem(item)"></i>
			<i class="fa fa-play" title="{{'AD_RESUME_LABEL' | translate}}" ng-if="!item.is_active" ng-click="pauseToggle()"></i>
			<i class="fa fa-pause" title="{{'AD_PAUSE_LABEL' | translate}}" ng-if="item.is_active" data-reveal-id="confirm-pause-{{item._id}}"></i>
			<i class="fa fa-times" title="{{'AD_REMOVE_LABEL' | translate}}" data-reveal-id="confirm-delete-{{item._id}}"></i>

		    <section ng-include="'templates/modals.html'" id="modals"></section>
		</li>
		<li class="tcenter">
			<a href="#!/profile/{{info._id}}/posts">Všechny inzeráty</a>
		</li>
	</ul>

</section>
