<div ng-include="'templates/profile/subPanel.html'"></div>

<div class="large-8 large-centered columns box text-center no-result" ng-if="subPageLoaded && mine && ! data.length">
	<p>{{ 'PROFILE.POSTS.NO_RECEIVED_RATINGS_ME' | translate }}</p>
</div>

<div class="ratings-received row rating-item animate-show" id="received-rating-form" ng-show="showUserRatingForm">
	<section class="large-2 columns photo">
		<avatar src="loggedUser.avatar.normal" type="loggedUser._type" size="80"></avatar>
		<div class="name">{{ loggedUser.name}}</div>
	</section>
	<section class="large-10 columns user-rating-form">
	<div class="item rating-received">
		<div class="overlap"> </div>
		<div class="arrowbox"></div>
		<div class="arrow"></div>
		<div class="content">
			<h3>{{ 'ADD_USER_RATING' | translate }}</h3>
			<br>
			<div class="rating-notify-box"></div>
			<div class="score-select">
				<needofferselector class="fleft" model="rating.score" text-true="{{ 'NEGATIVE' | translate}}" text-false="{{ 'POSITIVE' | translate}}" icon-true="icon-rating-negative" icon-false="icon-rating-positive"></needofferselector>
				<p class="fleft">
					{{ 'USER_RATING_SCORE_SELECT_TEXT' | translate }}
				</p>
				<div class="clear"></div>
			</div>
		    <form ng-submit="sendRating(rating)" id="ratingForm" name="ratingForm" novalidate class="clearfix">
		        <label>
		            <textarea autosize-textarea rows="4" name="text" placeholder="{{'WRITE_USER_SOME_RATING' | translate }}" ng-focus="showError.text = false" ng-blur="showError.text = true;" ng-model="rating.text" ng-required="true" class="text-input" ng-minlength="3"></textarea>
					<max-len-counter max-len="300" value="rating.text"></max-len-counter>

		            <div class="moveUp error" ng-show="showError.text">
		                <span ng-show="ratingForm.text.$error.required">{{ 'ERR_NOT_FILLED_RATING' | translate }}</span>
		                <span ng-show="ratingForm.text.$error.minlength">{{ 'ERR_RATING_IS_TOO_SHORT' | translate }}</span>
		            </div>
					<div class="clear"></div>
		        </label>
		        <strong><a ng-click="closeUserRatingForm()" class="revert-change"><i class="fa fa-chevron-left"></i>&nbsp; {{ 'CANCEL' | translate }}</a></strong>
		        <button type="submit" class="button-send right">{{ 'SEND_USER_RATING' | translate }}</button>
		    </form>
	    </div>
    </div>
	</section>
</div>
<div class="clear"></div>

<div class="rating-listing ratings-received" ng-if="subPageLoaded">
	<section class="large-8 large-centered columns" ng-class="{ 'large-8': !data.length, 'large-10': data.length, 'large-centered': data.length, 'push-1': data.length}" ng-if="!mine && !showUserRatingForm && loggedUser._id">
		<div class="item rating-received-bar">
			<div class="content">
				{{ 'DO_YOU_KNOW_USER_TO_GIVE_HIM_POSITIVE_RATING' | translate:'{name: "'+info.name+'" }'}}<br /><br />
				<a href="" ng-click="openUserRatingForm(false)"><b>{{ 'THUMB_UP' | translate }}</b></a>
			</div>
		</div>
	</section>
	<div class="clear"></div>

	<article class="row rating-item rating_{{ item._id }}" ng-repeat="(id, item) in data track by $index">
		<section class="large-2 columns photo">
			<avatar href="'#!/'+getProfileLinkByType(item.user_from_type)+'/'+item.user_from" src="item.user_from_avatar.normal" type="item.user_from_type" size="80"></avatar>
			<a ng-href="#!/{{ getProfileLinkByType(item.user_from_type) }}/{{item.user_from}}">
				<div class="name">{{ item.user_from_full_name}}</div>
			</a>
		</section>
		<section class="large-10 columns">
			<div class="item rating-received" ng-class="{ 'positive': item.score == 1, 'negative': item.score < 1}">
				<div class="overlap"> </div>
				<div class="arrowbox"></div>
				<div class="arrow"></div>
				<div class="content">
					<div class="fright">
						<div class="date" title="{{item.updated_at | date:DATETIME_FORMATS.medium}}"><i class="fa fa-clock-o"></i>&nbsp; {{ item.updated_at | ago }}</div>
					</div>			
					<div class="text-container clearfix">
						<p ng-bind-html="item.text | linky:'_blank' | nl2br"></p>
					</div>
					<small>{{ 'SAYING' | translate}} <a href="#!/{{ getProfileLinkByType(item.user_from_type) }}/{{item.user_from}}">{{ item.user_from_full_name}}</a></small>				
				</div>
			</div>
		</section>
	</article>
</div>

<div loading show="! subPageLoaded"></div>