<div ng-include="'templates/profile/subPanel.html'"></div>

<div class="large-8 large-centered columns box text-center no-result" ng-if="subPageLoaded && mine && ! data.length">
	<p>{{:: 'PROFILE.POSTS.NO_GIVEN_RATINGS_ME' | translate }}</p>
</div>
<div class="large-8 large-centered columns box text-center no-result" ng-if="subPageLoaded && ! mine && ! data.length">
	<p>{{:: 'PROFILE.POSTS.NO_GIVEN_RATINGS_OTHER' | translate }}</p>
</div>

<div class="ratings-given rating-listing">
	<article class="row rating-item rating_{{ item._id }}" ng-repeat="(id, item) in data track by $index">
		<section class="large-2 columns user">
			<a ng-href="#!/{{ getProfileLinkByType(item.user_to_type) }}/{{item.user_to }}">
				<avatar src="item.user_to_avatar.normal" type="item.user_to_type"></avatar>
				<div class="name">{{ item.user_to_full_name}}</div>
			</a>
		</section>
		<section class="large-10 columns">
			<div class="item rating-received" ng-class="{ 'positive': item.score == 1, 'negative': item.score < 1}">
				<div class="content">
					<div class="fright">
						<div class="date" title="{{item.created_at | date:DATETIME_FORMATS.medium}}"><i class="fa fa-clock-o"></i>&nbsp; {{ item.created_at | ago }}</div>
					</div>			
					<div class="text-container clear clearfix">
						<p ng-bind-html="item.text | linky:'_blank' | nl2br"></p>
					</div>
					<small>
						<span ng-if="mine">{{:: 'ME_WROTE' | translate}}</span>
						<span ng-if="!mine">{{:: 'RATINGS_SAYING_FOR' | translate}}</span>
						<a href="#!/{{ getProfileLinkByType(item.user_to_type) }}/{{item.user_to}}">{{ item.user_to_full_name}}</a><span ng-if="item.post_id">&nbsp;{{:: 'RATING_TO_POST' | translate }} <a href="#!/ad/{{item.post_id}}" title="{{ item.post_title }}">{{item.post_title | ellipsis:40}}</a></span>.
					</small>
				</div>
			</div>
		</section>
	</article>
</div>
<div loading show="!subPageLoaded"></div>