<div ng-include="'templates/profile/subPanel.html'"></div>

<div class="large-8 large-centered columns box text-center no-result" ng-if="subPageLoaded && mine && ! data.length">
	<p>{{ 'PROFILE.POSTS.NO_RECEIVED_RATINGS_ME' | translate }}</p>
</div>

<div class="ratings-received row rating-item animate-show" id="received-rating-form" ng-show="showUserRatingForm">
	<section class="large-2 columns photo">
		<a>
			<div class="avatar">
				<img ng-src="{{loggedUser.avatar.normal}}" ng-if="loggedUser.avatar.normal" />
			</div>
			<div class="name">{{ item.user_from_full_name}}</div>
		</a>
	</section>
	<section class="large-10 columns user-rating-form">
	<div class="item rating-received">
		<div class="overlap"> </div>
		<div class="arrowbox"></div>
		<div class="arrow"></div>
		<div class="content">
			<h3>{{ 'ADD_USER_RATING' | translate }}</h3>
			<br>
			<div class="rating-notify-box"></div>
			<div class="score-select">
				<needofferselector class="fleft" model="rating.score" text-true="{{ 'NEGATIVE' | translate}}" text-false="{{ 'POSITIVE' | translate}}" icon-true="icon-rating-negative" icon-false="icon-rating-positive"></needofferselector>
				<p class="fleft">
					{{ 'USER_RATING_SCORE_SELECT_TEXT' | translate }}
				</p>
				<div class="clear"></div>
			</div>
		    <form ng-submit="sendRating(rating)" id="ratingForm" name="ratingForm" novalidate class="clearfix">
		        <label>
		            <textarea autosize-textarea rows="4" name="text" placeholder="{{'WRITE_USER_SOME_RATING' | translate }}" ng-focus="showError.text = false" ng-blur="showError.text = true;" ng-model="rating.text" ng-required="true" class="text-input" ng-minlength="3"></textarea>
					<max-len-counter max-len="300" value="rating.text"></max-len-counter>

		            <div class="moveUp error" ng-show="showError.text">
		                <span ng-show="ratingForm.text.$error.required">{{ 'ERR_NOT_FILLED_RATING' | translate }}</span>
		                <span ng-show="ratingForm.text.$error.minlength">{{ 'ERR_RATING_IS_TOO_SHORT' | translate }}</span>
		            </div>
					<div class="clear"></div>
		        </label>

				<span ng-if="ratingPosts.length">
					{{ 'RATING_COMMON_POSTS_TOP' | translate}}
					<br />
					{{ 'USER_RATING_JOIN_REALIZED_GIFT' | translate }}
				    <select class="select-style" id="ratingsPostsSelect" ng-model="rating.post_id">
				      <option value="0">{{ 'USER_RATING_CHOOSE_POST_TO_JOIN' | translate }}</option>
				      <option ng-repeat="post in ratingPosts" title="{{post.title}}" value="{{ post._id }}">
				      	{{ 'RATING_POST_TYPES.'+post.post_type | translate }} {{ post.title | ellipsis:10 }}
				      </option>
				    </select>
				</span>
				<div ng-if="!ratingPosts.length" class="padding-bottom">
					{{ 'RATING_NO_COMMON_POST_IN_3_MONTHS' | translate }}
				</div>
				
				<div class="clear"></div>
		        <strong><a ng-click="closeUserRatingForm()" class="revert-changes"><i class="fa fa-chevron-left"></i>&nbsp; {{ 'CANCEL' | translate }}</a></strong>
		        <button type="submit" class="button-send right">{{ 'SEND_USER_RATING' | translate }}</button>
		    </form>
	    </div>
    </div>
	</section>
</div>
<div class="clear"></div>

<div class="rating-listing ratings-received" ng-if="subPageLoaded">
	<section class="large-8 large-centered columns" ng-class="{ 'large-8': !data.length, 'large-10': data.length, 'large-centered': data.length, 'push-1': data.length}" ng-if="!mine && !showUserRatingForm && loggedUser._id">
		<div class="item rating-received-bar">
			<div class="content">
				{{ 'DO_YOU_KNOW_USER_TO_GIVE_HIM_POSITIVE_RATING' | translate:'{name: "'+info.name+'" }'}}<br /><br />
				<a href="" ng-click="openUserRatingForm(false)"><b>{{ 'THUMB_UP' | translate }}</b></a>
			</div>
		</div>
	</section>
	<div class="clear"></div>


	<article class="row rating-item rating_{{ item._id }}" ng-repeat="(id, item) in data track by $index">
		<section class="large-2 columns photo">
			<a ng-href="#!/{{ getProfileLinkByType(item.user_from_type) }}/{{item.user_from}}">
				<div class="avatar">
					<img ng-src="{{item.user_from_avatar.normal}}" ng-if="item.user_from_avatar.normal" />
				</div>
				<div class="name">{{ item.user_from_full_name}}</div>
			</a>
		</section>
		<section class="large-10 columns">
			<div class="item rating-received" ng-class="{ 'positive': item.score == 1, 'negative': item.score < 1}">
				<div class="overlap"> </div>
				<div class="arrowbox"></div>
				<div class="arrow"></div>
				<div class="content">
					<div class="fright">
						<div class="date" title="{{item.updated_at | date:DATETIME_FORMATS.medium}}"><i class="fa fa-clock-o"></i>&nbsp; {{ item.updated_at | ago }}</div>
					</div>			
					<div class="text-container clearfix">
						<p ng-bind-html="item.text | linky:'_blank' | nl2br"></p>
					</div>
					<small>
						{{ 'SAYING' | translate}}
						<a href="#!/{{ getProfileLinkByType(item.user_from_type) }}/{{item.user_from}}">{{ item.user_from_full_name}}</a><span ng-if="item.post_id"> {{ 'RATING_TO_POST' | translate }} <a href="#!/ad/{{item.post_id}}" title="{{ item.post_title }}">{{item.post_title | ellipsis:40}}</a></span>.
					</small>			
				</div>
			</div>
		</section>
	</article>
</div>

<div loading show="! subPageLoaded"></div>