<div class="profile-view profile-common" ng-show="loaded" ng-class="{'mine-profile': mine, 'others-profile': ! mine}">

    <div class="user" ng-show="! info">
        <p>{{ 'ERR_USER_NOT_FOUND' | translate }}</p>
    </div>
    <header ng-show="info">
        <div class="user-basic">
            <h1><a href="#!/profile/{{info._id}}"><span>{{ info.name }}</span></a></h1>
            <p ng-if="info.about"><span class="fa fa-quote-right"></span>{{info.about | ellipsis}}</p>
        </div>
        <div class="buttons">
            <a href="#!/profile-edit" class="mine right"><button><i class="fa fa-gears"></i> {{ 'SETTINGS' | translate}}</button></a>
            <button ng-if="!info.is_followed" class="others follow-button blue right" ng-click="toggleFollow(info._id)"><i class="fa fa-plus"></i> {{ 'FOLLOW_BUTTON_CAPTION' | translate}}</button>
            <button ng-if="info.is_followed" class="others follow-button blue right" ng-click="toggleFollow(info._id)"><i class="fa fa-times"></i> {{ 'UNFOLLOW_BUTTON_CAPTION' | translate}}</button>
            <button ng-if="mine" ng-click="openInviteBox()" class="invite-button right">
                <i class="fa fa-forward"></i> <span ng-bind-html="'INVITE_FRIENDS_TO_HEARTH' | translate"></span>
            </button>            
        </div>
        <div class="highlights">
            <a href="#!/profile/{{info._id}}" class="profile-photo">
                <img ng-src="{{info.avatar.large}}" ng-if="info.avatar.large" />
            </a>
            <a href="#!/profile/{{info._id}}/following" ng-class="{'active': (pageSegment.substr(8) == 'friends' || pageSegment.substr(8) == 'following' || pageSegment.substr(8) == 'followers_count')}" class="friends-and-follows">
                <b>{{info.followers_count}}</b>
                <br />
                <pluralize-translate count="info.followers_count" key="'HOW_MANY_PEOPLE'"></pluralize-translate>
                <span ng-if="mine">{{ 'INSPIRED_BY_ME' | translate }}</span>
                <span ng-if="!mine">{{ 'INSPIRED_BY_HIM' | translate }}</span>
                <hr>
                <strong>{{info.followees_count}}</strong> <pluralize-translate count="info.followees_count" key="'BY_PEOPLE'"></pluralize-translate>
                <br />{{ 'IS_INSPIRED' | translate }}
            </a>
            <a href="#!/profile/{{info._id}}/communities" class="communities" ng-class="{'active': (pageSegment.substr(8) == 'communities')}"><b>{{info.communities_count}}</b> 
                <pluralize-translate count="info.communities_count" key="'COMMUNITIES_PL'"></pluralize-translate>
            </a>
            <a href="#!/profile/{{info._id}}/posts" ng-class="{'active': (pageSegment.substr(8) == 'posts' || pageSegment.substr(8) == 'received' || pageSegment.substr(8) == 'given')}" class="ratings"><b>{{info.post_count}}</b><br>
                <pluralize-translate count="info.post_count" key="'GIVES_AND_WISHES'"></pluralize-translate>
            </a>
            <div class="karma-bar" ng-if="info.karma != null" title="{{ 'COUNT_OF_PLUS_POINTS' | translate }}: {{ info.up_votes }} | {{ 'COUNT_OF_MINUS_POINTS' | translate }}: {{ info.down_votes }}"><span class="positive bar" style="width:{{info.karma}}%;" ng-if="info.karma > 0">{{ info.karma }}% <i class="fa fa-sun-o"></i></span><span class="negative bar" style="width:{{100 - info.karma}}%;"  ng-if="info.karma < 100"><i class="fa fa-moon-o"></i> {{100 - info.karma}}%</span></div>
        </div>
    </header>
    <div class="clear"></div>
    <div ng-show="info" ng-cloak app-view-segment="1"></div>
</div>