<div class="profile-view" ng-show="loaded">

    <div class="user" ng-show="! info">
        <p>{{ 'ERR_USER_NOT_FOUND' | translate }}</p>
    </div>

    <header ng-show="info">
        <div class="user-basic">
            <h1><a href="#!/profile/{{info._id}}"><span>Karel Zápotocký</span></a></h1>
            <p><span class="fa fa-quote-right"></span> jen jeho jest, co všech jest</p>
        </div>
        <div class="buttons">
            <button class="invite-button blue"><span class="fa fa-forward"></span> Pozvat přátele<br> do Hearth</button>
            <a href="#!/profile-edit"><button><span class="fa fa-gears"></span> Nastavení</button></a>
        </div>
        <div class="highlights">
            <a href="#!/profile/{{info._id}}" class="profile-photo" style="background-image:url(images/index/libor.png);"></a>
            <a href="#!/profile/{{info._id}}/following" class="friends-and-follows"><b>89</b><br>lidí inspiruji<hr><strong>50</strong>ti lidmi inspirován</a>
            <a href="#!/profile/{{info._id}}/communities" class="communities"><b>8</b> komunit</a>
            <a href="#!/profile/{{info._id}}/posts" class="ratings"><b>24</b> darů a přání</a>
            <div class="karma-bar"><span class="positive" style="width:70%;">70% <i class="fa fa-sun-o"></i></span><span class="negative" style="width:30%;"><i class="fa fa-moon-o"></i> 30%</span></div>
        </div>
    </header>
    <div class="clear"></div>
    <div ng-show="info" ng-cloak app-view-segment="1"></div>
</div>
<!-- 
	<div class="user" ng-show="info">
		<br />
		<br />
		<br />
		<a href="#!/profile/{{info._id}}">Home</a>
		<br />


		<a href="#!/profile/{{info._id}}/following">Inspirován - {{ info.followees_count }} / Inspiruji - {{ info.followers_count }}</a>
		<br />
		<a href="#!/profile/{{info._id}}/invite">Invite</a>

		<hr />

</div> -->