<!-- <label class="ui-checkbox" ng-click="toggle()" ng-class="{on: checked}">
	<i class="fa" ng-class="{ 'fa-check-square': checked, 'fa-square-o': !checked}" checkbox-keypress-handler tabindex="0"></i>
	<span ng-transclude></span>
</label> -->

<div class="box box--checkbox">
	<div class="checkbox--input-wrapper">
		<span class="fa-stack" tabindex="0" checkbox-keypress-handler>
			<i class="fa fa-fw fa-stack-1x fa-square checkbox--self-bg"></i>
			<i class="fa fa-fw fa-stack-1x checkbox--self" ng-class="{ 'fa-check-square': ctrl.model, 'fa-square-o': !ctrl.model}"></i>
		</span>
		<input type="checkbox" hidden ng-model="ctrl.model" name="{{:: ctrl.name }}" ng-change="ctrl.onChange({value: ctrl.model})" ng-disabled="ctrl.disabled" ng-if="ctrl.required" required />
		<input type="checkbox" hidden ng-model="ctrl.model" name="{{:: ctrl.name }}" ng-change="ctrl.onChange({value: ctrl.model})" ng-disabled="ctrl.disabled" ng-if="!ctrl.required" />
	</div>
	<div class="checkbox--label-wrapper" ng-transclude></div>
	<div ng-bind="ctrl.model"></div>
</div>