<div ng-show="vm.content && vm.content.desc" class="banner" ng-cloak>
	<h4 class="text-center margin-bottom-small margin-top-large" translate="HEARTH.SUPPORT_US.NAVIGATION_ITEM"></h4>
	<div class="box overflow-hidden padding-none margin-bottom-medium">
		<div class="banner-image"><img ng-src="{{:: vm.content.image }}"></div>
		<p class="margin-small text-center" ng-bind-html="vm.content.desc | nl2br "></p>
		<div class="margin-top-small text-center"><a class="button margin-bottom-medium" ng-href="{{:: vm.content.link }}">{{:: vm.content.button }}</a></div>
	</div>
</div>