.button {
  margin: 0;
  font-weight: bold;
  font-family: $body-font-family;
  white-space: nowrap;
  transition: all .25s ease-out;
  font-size: 14px !important;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.3);

  @include breakpoint(medium down) {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  // PRIMARY BUTTON (BLUE)
  &, &.button.primary {
    @include button-style($primary-color, scale-color($primary-color, $lightness: -15%), $white);
  }

  // SECONDARY BUTTON (GREEN)
  &.secondary, &.need {
    @include button-style($secondary-color, scale-color($secondary-color, $lightness: -15%), $white);
    &.hollow {
      @include button-style($white, $white, $secondary-color);
      border-color: $secondary-color;
      &:focus,
      &:active,
      &:hover {
        border-color: scale-color($secondary-color, $lightness: -20%);
        color: scale-color($secondary-color, $lightness: -20%);
      }
    }
    &.disabled {
      @include button-style(scale-color($secondary-color, $lightness: 40%), scale-color($secondary-color, $lightness: 40%), $white);
    }
    &.secondary-light {
      @include button-style(#f2dfce, scale-color(#f2dfce, $lightness: -15%), #fa5801);
    }
  }

  &.fb-button {
    @include button-style(#4267b2, scale-color(#4267b2, $lightness: 15%), $white);
  }

  // TERTIARY BUTTON (ORANGE)
  &.tertiary, &.offer {
    @include button-style($tertiary-color, scale-color($tertiary-color, $lightness: -15%), $white);
    &.hollow {
      @include button-style($white, $white, $tertiary-color);
      border-color: $tertiary-color;
      &:focus,
      &:active,
      &:hover {
        border-color: scale-color($tertiary-color, $lightness: -20%);
        color: scale-color($tertiary-color, $lightness: -20%);
      }
    }
    &.disabled {
      @include button-style(scale-color($tertiary-color, $lightness: 40%), scale-color($tertiary-color, $lightness: 40%), $white);
    }
  }

  // DARK GRAY BUTTON
  &.dark-gray {
    @include button-style($dark-gray, scale-color($dark-gray, $lightness: 10%), $white);
    &.hollow {
      @include button-style($white, $white, $dark-gray);
      border-color: $dark-gray;
      &:focus,
      &:active,
      &:hover {
        border-color: scale-color($dark-gray, $lightness: -20%);
        color: scale-color($dark-gray, $lightness: -20%);
      }
    }
    &.disabled {
      @include button-style(scale-color($dark-gray, $lightness: 40%), scale-color($dark-gray, $lightness: 40%), $white);
    }
  }

  .button-group & {
    margin-bottom: 0;
  }

  .button-group.large &,
  &.large {
    padding: 1em 1em;
    @include breakpoint(small down) {
      padding:0.5em;
      margin-bottom:0.5em;
    }
  }

  &.button-white {
    height: inherit;
    min-width: inherit;
    color: #666;
    background-color: #fff;
    border: 2px solid $colorLightGray;
    &:hover {
      color: #333;
      background-color: $colorLightGray;
    }
    &:focus {
      color: #333;
      background-color: darken($colorLightGray, 10%);
    }
  }
  &.button-white.active {
    background: $primary-color;
    color: #fff;
    font-weight: bold;

    &:focus {
      background: darken($primary-color, 10%);
    }
  }
  &.button-white[disabled],
  &.button-white[disabled]:hover {
    color: $colorDarkGray;
    background: $colorLightGray;
    border: $colorDarkGray;
  }

  > i:first-child:not(:last-child) {
    margin-right: $size-small;
  }
} 

.button.rounded {
  border-radius:50%;
  width:44px;
  height:44px;
}

@include breakpoint(medium up) {
  .button:not(.rounded) {
    min-width:130px;
  }
}

// RESET underline of <a>
a.button {
  text-decoration: none;
}

/* @kamil TODO - change for $colorLightGray (.. something darker required though ..) and $colorDarkGray when available .. ability
to remove !important would be also nice .. someday */

// button.disabled,
// button[disabled],
// .button.disabled,
// .button[disabled] {
// 	//background-color: lighten($primary-color, 30%);
// 	&:hover {
// 		//background-color: lighten($primary-color, 30%);
// 	}
// }
// button.neutral,
// button.neutral:disabled{
// 	//background-color: darken($colorLightGray, 20%) !important;
// }
// button.neutral:hover,
// button.neutral:focus{
// 	//background-color: $quaternary-color !important;
// }
/* /kamil */