<div class="page-not-found medium-flex-grid">
	<div class="flex-1 text-center error404-icon">
		<img ng-src="{{:: config.imgUrl }}/tv.png">
	</div>
	<div class="flex-1 text-center margin-vertical-large">
		<h1 class="text-epic color-secondary">404</h1>
		<h2 translate="ERROR_404_SUBHEADER" class="color-secondary"></h2>
		<hr class="margin-vertical-small" />
		<h2 translate="NO_SIGNAL_ON_THIS_PAGE"></h2>
		<hr class="margin-vertical-small" />
		<br>
		<div class="flex inline-flex flex-divided-medium flex-wrap">
			<button type="button" class="button" ng-click="goToFeedback()" translate="FEEDBACK"></button>
			<button type="button" class="button" ng-click="goToMarket()" translate="GO_BACK_TO_MARKET"></button>
		</div>
	</div>
</div>