<div ng-if="vm.userHasCommunities" class="margin-top-large">
    <h4 ng-show="vm.communities.length" class="text-center" translate="COMMUNITY.MY_COMMUNITIES"></h4>
    <a href="" ui-sref="community.default({id: community._id })" ng-repeat="community in vm.communities" class="box display-block padding-small margin-bottom-medium">
        {{ community.name }}
    </a>
    <div class="text-center" ng-if="vm.hasMoreCommunities"><a ui-sref="communities" translate="COMMUNITY.ACTION_MY_COMMUNITIES"></a></div>
</div>