{
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-alert": 1,
        "no-script-url": 1,
        "no-unused-vars": 1,
        "comma-dangle": 1,
        "no-mixed-spaces-and-tabs": 1,
        "no-extra-semi": 1,
        "no-undef": 1,
        "no-console": 1,
        "no-empty": 1,
        "no-constant-condition": 1,
        "no-cond-assign": 1,
        "no-redeclare": 1
    },
    "globals": {
        "angular": true,
        "$$config": true,
        "$": true,
        "google": true
    }
}