<div class="bottom-tabs">
    <ul>
        <li>
            <a href="{{:: communityLink }}/received-ratings" ng-class="{selected: pageSegment == 'received-ratings'}">
                {{:: 'COMMUNITY.PROFILE.RECEIVED_RATINGS' | translate }}
            </a>
        </li>
        <li>
            <a href="{{:: communityLink }}/given-ratings" ng-class="{selected: pageSegment == 'given-ratings'}">
                {{:: 'COMMUNITY.PROFILE.GIVEN_RATINGS' | translate }}
            </a>
        </li>
    </ul>
</div>
<div class="clear"></div>