<div class="location-picker">
    <div class="location-input" ng-class="{disabled: disabled}">
        <div class="fright mapIcon" ng-show="!hideMap">
            <a ng-click="toggleMap()">
                <i class="fa fa-map-marker">
                    <span class="fa fa-times hidden"></span>
                </i>
                {{ 'MAP' | translate }}
            </a>
        </div>
        
        <tags-input refocus-input-on-tab display-property="name" class="tags" ng-model="locations" placeholder="{{ 'ADD_LOCATION' | translate }}" replace-spaces-with-dashes="false" add-on-enter="false" add-on-blur="false" add-on-comma="false" add-on-space="false" allowed-tags-pattern="^[a-zA-Z0-9\sĚŠČŘŽÝÁÍÉÚŮĎŤŇÓěščřžýáíéúůďťňó]+$" min-length="2" max-length="30">
        </tags-input>

        <div class="clear"></div>
        <div class="location-map hidden">
            <div class="map-container"></div>
            <div class="map-controll mapPoint" ng-show="mapPoint && mapPoint.name">
                <button type="button" class="button-send right ng-show-binding" ng-click="chooseMapLocation()">{{ 'INSERT_LOCATION' | translate }}</button>
                <span ng-if="mapPointShowName">
                    {{ mapPoint.name }}
                </span>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="controll">
        <checkbox ng-show="!required" model="disabled" value="true" value-off="false">
            {{ 'LOCATION_DOES_NOT_MATTER' | translate }}
        </checkbox>
    </div>
    <div class="error moveUp" ng-if="errorWrongPlace || showError">
        <span ng-show="errorWrongPlace">{{ 'ERR_LOCATION_UNKNOWN_PLACE' | translate }}</span>
        <span ng-show="showError">{{ errorCode | translate }}</span>
    </div>
</div>
