<div class="location-picker">
    <div class="location-input" ng-class="{disabled: disabled}">

        <label class="fleft">
            {{ 'POST_PLACE_LABEL' | translate}}
        </label>
        <div class="controll fright">
            <checkbox ng-show="!required" model="disabled" value="true" value-off="false">
                {{ 'LOCATION_DOES_NOT_MATTER' | translate }}
            </checkbox>
        </div>
        <div class="fright map-icon">
            <a ng-click="toggleMap()">
                <i class="fa fa-map-marker">
                    <span class="fa fa-times hidden"></span>
                </i>
                {{ 'MAP' | translate }}
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="location-map hidden">
            <div class="map-controll map-point" ng-show="mapPoint && mapPoint.name">
                <a class="right" ng-click="chooseMapLocation()">{{ 'INSERT_LOCATION' | translate }}</a>
                <div class="map-point-name" ng-if="mapPointShowName">
                    {{ mapPoint.name }}
                </div>
                <div class="clear"></div>
            </div>
            <div class="map-point-placeholder" ng-if="!mapPoint">
                {{ 'POSTS.CREATE.CHOOSE_PLACE_FROM_MAP' | translate }}
            </div>
            <div class="map-container"></div>
        </div>
        
        <tags-input allow-duplicate-tags="true" refocus-input-on-tab display-property="address" class="tags tags-input" ng-class="{'ng-invalid': showError && !locations.length && !disabled }" ng-model="locations" placeholder="{{ 'ADD_LOCATION' | translate }}" replace-spaces-with-dashes="false" add-on-enter="false" add-on-blur="false" add-on-comma="false" add-on-space="false" allowed-tags-pattern="^[a-zA-Z0-9\sĚŠČŘŽÝÁÍÉÚŮĎŤŇÓěščřžýáíéúůďťňó]+$" min-length="2" max-length="30" add-from-autocomplete-only="true">
        </tags-input>

    </div>
    <div class="error moveUp" ng-if="errorWrongPlace || showError">
        <span ng-show="errorWrongPlace">{{ 'ERR_LOCATION_UNKNOWN_PLACE' | translate }}</span>
        <span ng-show="showError">{{ errorCode | translate }}</span>
    </div>
</div>
