.filterbar-wrap {
   margin-bottom: $size-large;

	.filterbar-header {

		.filter-left {
			line-height: $ui-button-height;
			background-color: white;
			border-radius: 8px;
			padding: 0 25px;
			display: block;
			overflow: hidden;
			margin-right: 8px;
			box-shadow: 0 0 5px rgba(100,100,100,.5);

			a {
				color: $primary-color;
				font-weight: 600;

				&.cancelFilter {
					font-size: 12px;
					margin-left: $size-small;
				}
			}

			@include breakpoint(large up) {
				line-height: $ui-input-height;
			}
		}
	}

	.filter-container {
    transition: all .3s ease-in;

    .ui-checkbox {
      display: inline-block;
    }

    @include breakpoint(medium up) {
      padding-top: $size-medium;
    }
	}

	// WHY is this here when jQuery is there and it is definitely not going anywhere?
	.animated-hidden {
		height: 0px;
		max-height: 0px;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		overflow: hidden;
		// transition: all .3s ease-in;
	}

  .filter-label,
  .map-label,
  .next-options-label,
  .actions-dropdown a {
		color: black;

		&.filter-selected {
			color: $primary-color;
      font-weight: bold;
		}
	}
}

@include breakpoint(medium up) {
	.insert-button-container {
		padding-left: 10px;
	}
}
