.filterbar-wrap {
   margin-bottom: $size-large;

	.filterbar-header {

		.filter-left {
			line-height: $ui-button-height;
			background-color: white;
			border-radius: 8px;
			padding: 0 25px;
			display: block;
			overflow: hidden;
			margin-right: 8px;
			box-shadow: 0 0 5px rgba(100,100,100,.5);

			a {
				color: $primary-color;
				font-weight: 600;

				&.cancelFilter {
					font-size: 12px;
					margin-left: $size-small;
				}
			}

			@include breakpoint(large up) {
				line-height: $ui-input-height;
			}
		}
	}

	.filter-container {
    @include breakpoint(medium up) {
      padding-top: $size-medium;
    }
		transition: all .3s ease-in;
	}

	// WHY is this here when jQuery is there and it is definitely not going anywhere?
	.animated-hidden {
		height: 0px;
		max-height: 0px;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		overflow: hidden;
		// transition: all .3s ease-in;
	}

  // .filter-window {
  //   display: none;
  // }
  //
  // .filter-window ul {
  //   list-style: none;
  // }
  // .filter-window.is-active {
  //   position: absolute;
  //   display: flex;
  //   flex-direction: column;
  //   top: calc(100% + 7px);
  //   padding-right: $size-medium;
  //   padding-top: $size-medium;
  //   background: white;
  //   border-radius: 8px;
  //   box-shadow: 0 1px 8px rgba(0,0,0,.6);
  //   z-index: 10;
  // }
  //
  // .filter-window li {
  //   border-bottom: 1px solid #ddd;
  // }
  //
  // .filter-window li:last-child {
  //   border-bottom: none;
  // }
  //
  // .filter-window a {
  //   display: flex;
  //   align-items: center;
  //   padding: 8px 12px 8px 8px;
  //   white-space: nowrap;
  //   font-size: 16px;
  //   font-weight: 700;
  //   font-family: 'Raleway';
  //   color: #4a4a4a;
  // }
  //
  // .filter-window li:first-child a {
  //   border-top-left-radius: 5px;
  //   border-top-right-radius: 5px;
  // }
  // .filter-window li:last-child a {
  //   border-bottom-left-radius: 5px;
  //   border-bottom-right-radius: 5px;
  // }
  // .filter-window li a:hover {
  //   background: #f4f4f4;
  // }
  //
  .filter-label,
  .map-label,
  .next-options-label,
  .actions-dropdown a {
		color: black;

		&.filter-selected {
			color: $primary-color;
      font-weight: bold;
		}
	}
}

@include breakpoint(medium up) {
	.insert-button-container {
		padding-left: 10px;
	}
}
