.info-bubble {
    position: absolute;
    display: none;
    width: 330px;
    max-width: 300px;
    background: $white;
    border-radius: $global-radius;
    box-shadow: $ui-box-shadow;
    transition: opacity .1s;
    z-index: 100000000; // way over NINE THOUSAAAAAAAAND
}
.info-bubble-content {
    padding: $size-small;
}