.karma-bar--small {
    height: 8px;
    overflow: hidden;
	margin: 0px;
	border-radius: 20px;
	background: none !important;
	background-color: $primary-color !important;

	.positive {
		background: none !important;
		background-color: $karma-bar-positive !important;
		height: 100%;
	}
	&.separator .positive {
		border-right: 1px solid white;
	}

	&.empty {
		background-color: $karma-bar-empty !important;
	}
}