.timeline {

    &.box {
        padding-left: 0;
        padding-right: 0;

        p {
            margin: 0 0 0 $size-small;
        }
    }
    header {
        margin-bottom: $size-small;
    }

    // diss the item common margin that is not desired in timeline
    .item-common {
        margin-bottom: 0;
    }

}
.timeline-item {
    //   padding-left: $size-medium;
    //   padding-right: $size-medium;

    //   .timeline-item-content {
    // margin: $size-medium 0 0 0;
    // width: 100%;

    // .box {
    //   padding: 0;
    //   margin: 0;
    // }
    //   }

    .item-option-bg-type {
        margin: 0 $size-medium;
        width: 20px;
        min-width: 20px;
        height: 20px;
    }

    .item-option-bg-type > i {
        display: block;
        width: 12px;
        height: 12px;
        background-size: 12px 12px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    //   .timeline-post-text {
    //     margin: $size-medium 0;
    //     padding-bottom: $size-medium;
    //   }

    a.nostyle:link, a.nostyle:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }

    .date {
        font-size: small;
    }
}
