<article class="item-common item-banner">
	<div class="row">
    <section class="column medium-2 show-for-medium text-center v2 user padding-top-small">
			<a ng-href="support-us">
				<avatar class="show-post-arrows need" type="'User'" src="config.imgUrl + '/logo-round.png'"></avatar>
				<div class="name">Hearth.net</div>
			</a>
		</section>

		<div class="column small-12 medium-10 padding-none">
			<section class="box" ng-init="marketplace.expanded = false;">
				<h1 translate="OUR_BLOG.GET_INSPIRED"></h1>
				<div class="display-medium-flex flex-divide-medium flex-align-start">
          <div class="flex-div flex-1" ng-repeat="post in blogposts">
            <div class="blog-image block" ng-style="{'background-image': 'url(' + post.image.src + ')' }" title="{{ post.image.src }}"></div>
            <h3>
              <a ng-href="post.link" target="_blank" ng-bind="post.title"></a>
            </h3>
            <div class="hide-all-images block" ng-bind-html="post.text"></div>
            <a ng-href="post.link" target="_blank" translate="OUR_BLOG.READ_ON_BLOG"></a>
          </div>
        </div>
      </section>
    </div>
  </div>
</article>