<div>
  <div class="margin-bottom-large">
    <h3 class="text-center" translate="POST.EXEMPLARY.ABOUT"></h3>
    <item-list options="opts.topListOptions"></item-list>
  </div>

  <div class="margin-bottom-large text-center">
    <button class="button secondary" ng-click="showAllExemplaryPosts = true" ng-hide="showAllExemplaryPosts">
      <span translate="POST.EXEMPLARY.NEXT"></span>
    </button>
    <div ng-if="showAllExemplaryPosts">
      <item-list options="opts.addListOptions"></item-list>
    </div>
  </div>

  <h3 class="text-center" translate="POST.NEWEST_POSTS"></h3>
</div>
