<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:ng="//angularjs.org" id="ng-app" ng-app="hearth" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:ng="//angularjs.org" id="ng-app" ng-app="hearth" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html ng-app="hearth" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html ng-app="hearth" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1"/>
    <!-- @if DEBUG -->
      <title>HEARTH.net (debug)</title>
    <!-- @endif -->
    <title>HEARTH.net</title>

    <meta name="fragment" content="!">
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="description" content="Hearth.net - {{og_description}}">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{og_title}}" />
    <meta property="og:description" content="{{og_description}}" />
    <meta property="og:url" content="{{og_url}}" />
    <meta property="og:image" content="{{og_image}}" />
    <meta property="og:image:width" ng-if="og_image && og_image_width" content="{{og_image_width}}" />
    <meta property="og:image:height" ng-if="og_image && og_image_height" content="{{og_image_height}}" />

     <!-- build:css({.tmp,app}) /app/styles/main.css -->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <!-- endbuild -->

     <!-- @if DEBUG -->
     <link rel="stylesheet" href="/styles/palette.css">
    <!-- @endif -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/app/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/app/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/app/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/app/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/app/apple-touch-icon-144x144-precomposed.png">

     <base href="/app/"></base>

    <!-- build:js /app/scripts/config.min.js -->
      <script src="scripts/config-local.js"></script>
      <script src="scripts/config-global.js"></script>
      <script src="scripts/googleAnalytics.js"></script>
      <!-- <script src="scripts/newRelic.js"></script> -->
    <!-- endbuild -->

    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/app/vendor/ngDialog/css/ngDialog.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.2/flexslider-min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.6/css/nanoscroller.min.css" media="screen" />
    
  </head>
  <body ng-controller="BaseCtrl" ng-init="init();" ng-class="pageType" ng-keydown="escapeKey($event)">

<div class="ngdialog ngdialog-theme-default" id="maitenancePage">
  <div class="ngdialog-overlay"></div>
  <div class="ngdialog-content" ng-cloak>
      <h2 translate-cloak ng-bind-html="'SERVER_MAITENANCE_MESSAGE' | translate"></h2>
  </div>
</div>
<div loading ng-if="initFinished" class="globalLoading" show="globalLoading" delayed="1000"></div>

<div id="all">
  <div id="fb-root"></div>
  <div id="notify-top"></div>
  <script src="//connect.facebook.net/en_US/all.js"></script>
  <script type='text/javascript'>
  <!--
    // fb invite jump out from FB frame
    if (top.location!= self.location) {
      top.location = self.location;
    }

    // fb login redirects to this URL
    if (window.location.hash && window.location.hash === '#_=_') {
        window.location.hash = '';
    }

    // refresh from old URL style to new one #!/ => /
    if (!!~window.location.href.indexOf('#!/')){
       // != -1 && window.location.href.indexOf('#!') == -1
      console.log(window.location);
      window.location.href =  window.location.href.replace('#!/', '');
    }
  //-->
  </script>

  <script>
    // window.fbAsyncInit = function() {
    //     FB.init({appId: '301646633324636', status: true, cookie: true,
    //     xfbml: true});
    // };
    // (function() {
    //     var e = document.createElement('script'); e.async = true;
    //     e.src = document.location.protocol +
    //     '//connect.facebook.net/en_US/all.js';
    //     document.getElementById('fb-root').appendChild(e);
    // }());
  </script>

    <!--[if lt IE 10]>
      <div class="chromeframe">
        <div class="reason">
          <p>We are terribly sorry, but we can't serve you because you are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to use <strong>Hearth.net</strong>.</p>
        </div>
        
      </div>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="/app/vendor/es5-shim/es5-shim.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <![endif]-->
    <div class="all-visible row max-width" ng-show="initFinished">
      <section ng-include="'/app/templates/navigation.html'" id="navigation"></section>
      <div app-view-segment="0" class="main-container"></div>
      <ng-view style="position: relative;top:10em;"></ng-view>
      <div ng-click="top()" class="move2top show-for-scrolled" title="{{'move-to-top' | translate}}">
          {{topArrowText.top}}
          <span class="fa fa-caret-square-o-up"></span>
          {{topArrowText.bottom}}
      </div>
    </div>

    <script>
      EMPTY_AVATAR_URL = 'data-main="images/no-avatar.jpg"'.slice(11, -1);
      EMPTY_COMMUNITY_AVATAR_URL = 'data-main="images/no-cm-avatar.jpg"'.slice(11, -1);
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-route-segment/1.3.3/angular-route-segment.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.1.1-1/ng-tags-input.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/autosize.js/1.18.16/jquery.autosize.min.js"></script>
    <script src="//code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.11.1/select.js"></script>

    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.6/javascripts/jquery.nanoscroller.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.2/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="/app/libs/lemmon-slider.js"></script>
    <script type="text/javascript" src="/app/libs/jquery.tipsy.js"></script>

    <script src="/app/vendor/async/lib/async.js"></script>
    <script src="/app/vendor/ng-slide-down/dist/ng-slide-down.min.js"></script>
    <script src="/app/vendor/foundation-datepicker/js/foundation-datepicker.js"></script>
    <script src="/app/vendor/ngDialog/js/ngDialog.js"></script>
    <script src="/app/vendor/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
    <script src="/app/vendor/angular-flexslider/angular-flexslider.js"></script>
    <script src="/app/vendor/angular-loading-bar/build/loading-bar.js"></script>
    <script src="/app/vendor/angular-cookie/angular-cookie.min.js"></script>
    <script src="/app/vendor/jquery-waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/app/vendor/SHA-1/sha1.js"></script>
    <script src="/app/vendor/angularitics/src/angulartics-ga.js"></script>
    <script src="/app/vendor/angularitics/src/angulartics.js"></script>
    <script src="/app/vendor/angularitics/dist/angulartics-ga.min.js"></script>
    <script src="/app/vendor/fastclick/lib/fastclick.js"></script>
    <script src="/app/vendor/ng-file-upload/angular-file-upload-all.min.js"></script>
    <script src="/app/vendor/satellizer/satellizer.min.js"></script>

    <script src="/app/vendor/angular-translate/angular-translate.js"></script>
    <script src="/app/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

    <script src="/app/vendor/exif-js/exif.js"></script>

    
    <script>
      preferredLanguage = $.cookie('language') || $$config.defaultLanguage;
    </script>
    <script>
      var googleApiScriptUrl = '//maps.googleapis.com/maps/api/js?' +
          ($$config && $$config['map'] && $$config['map']['apiKey'] ? 'key=' + $$config['map']['apiKey'] + '&' : '') +
          'sensor=true&libraries=places,geometry&language=';

      document.write('<script id="google-maps-script" src="'+googleApiScriptUrl+preferredLanguage+'"><\/script>');
      
    </script>
    <script src="/app/vendor/markerclustererplus/src/markerclusterer.js"></script>

    <script>
      $(function() { 
        
        function resizeMenuBar() {
          // $('.navigation').css("width", $(".main-container").width()+"px");
        }

        $(window).scroll(function() {
          var fixedHeader = $('.navigation');

          resizeMenuBar();
          fixedHeader.css('left', -1 * $(this).scrollLeft() + "px");
          if ( $(this).scrollLeft() != 0 )
            fixedHeader.css('right', "auto");
          else
            fixedHeader.css('right', 0);
        });
       
        // $(window).resize(resizeMenuBar);
      });
    </script>


    <!-- build:js /app/scripts/scripts.min.js -->
    <script src="scripts/oms.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/routes.js"></script>


    <script src="scripts/services/resources/ChangePassword.js"></script>
    <script src="scripts/services/resources/Community.js"></script>
    <script src="scripts/services/resources/CommunityActivityLog.js"></script>
    <script src="scripts/services/resources/CommunityApplicants.js"></script>
    <script src="scripts/services/resources/CommunityDelegateAdmin.js"></script>
    <script src="scripts/services/resources/CommunityLeave.js"></script>
    <script src="scripts/services/resources/CommunityMembers.js"></script>
    <script src="scripts/services/resources/CommunityMemberships.js"></script>
    <script src="scripts/services/resources/CommunityRatings.js"></script>
    <script src="scripts/services/resources/Email.js"></script>
    <script src="scripts/services/resources/Feedback.js"></script>
    <script src="scripts/services/resources/FolloweePosts.js"></script>
    <script src="scripts/services/resources/Followees.js"></script>
    <script src="scripts/services/resources/FolloweeSearch.js"></script>
    <script src="scripts/services/resources/Followers.js"></script>
    <script src="scripts/services/resources/Friends.js"></script>
    <script src="scripts/services/resources/Fulltext.js"></script>
    <script src="scripts/services/resources/Info.js"></script>
    <script src="scripts/services/resources/Invitation.js"></script>
    <script src="scripts/services/resources/ItemDetailResource.js"></script>
    <script src="scripts/services/resources/Keywords.js"></script>
    <script src="scripts/services/resources/Password.js"></script>
    <script src="scripts/services/resources/Post.js"></script>
    <script src="scripts/services/resources/PostReplies.js"></script>
    <script src="scripts/services/resources/Session.js"></script>
    <script src="scripts/services/resources/Tutorial.js"></script>
    <script src="scripts/services/resources/User.js"></script>
    <script src="scripts/services/resources/UserLocation.js"></script>
    <script src="scripts/services/resources/UserRatings.js"></script>
    <script src="scripts/services/resources/UsersActivityLog.js"></script>
    <script src="scripts/services/resources/Conversations.js"></script>
    
    <script src="scripts/services/$feature.js"></script>
    <script src="scripts/services/$session.js"></script>
    <script src="scripts/services/ApiHealthChecker.js"></script>
    <script src="scripts/services/ApiMaintenanceInterceptor.js"></script>
    <script src="scripts/services/Auth.js"></script>
    <!-- // <script src="scripts/services/CommunityService.js"></script> -->
    <script src="scripts/services/Errors.js"></script>
    <script src="scripts/services/Facebook.js"></script>
    <script src="scripts/services/Filter.js"></script>
    <script src="scripts/services/FolloweesPostsService.js"></script>
    <script src="scripts/services/FolloweesSearchService.js"></script>
    <script src="scripts/services/FulltextService.js"></script>
    <script src="scripts/services/HearthLoginInterceptor.js"></script>
    <script src="scripts/services/Karma.js"></script>
    <script src="scripts/services/KeywordsService.js"></script>
    <script src="scripts/services/LanguageSwitch.js"></script>
    <script src="scripts/services/Notify.js"></script>
    <script src="scripts/services/OpenGraph.js"></script>
    <script src="scripts/services/PostsService.js"></script>
    <script src="scripts/services/ProfileProgress.js"></script>
    <script src="scripts/services/ResponseErrors.js"></script>
    <script src="scripts/services/SessionLanguageStorage.js"></script>
    <script src="scripts/services/Time.js"></script>
    <script src="scripts/services/timeAgoService.js"></script>
    <script src="scripts/services/UnauthReload.js"></script>
    <script src="scripts/services/UsersCommunitiesService.js"></script>
    <script src="scripts/services/UsersService.js"></script>
    <script src="scripts/services/ViewPort.js"></script>
    <script src="scripts/services/Communities.js"></script>
    <script src="scripts/services/Validators.js"></script>
    <script src="scripts/services/Messenger.js"></script>
    

     <script src="scripts/filters/filters.js"></script>

      <script src="scripts/directives/communitySelector.js"></script>
      <script src="scripts/directives/slideTrigger.js"></script>
    <script src="scripts/services/Validators.js"></script>

    
     <script src="scripts/filters/filters.js"></script>

      <script src="scripts/directives/ago.js"></script>
      <script src="scripts/directives/classIfOverflow.js"></script>
      <script src="scripts/directives/dynamicHeight.js"></script>
      <script src="scripts/directives/messageReply.js"></script>
      <script src="scripts/directives/tipsy.js"></script>
      <script src="scripts/directives/lemmonSlider.js"></script>
      <script src="scripts/directives/sharingWindow.js"></script>
      <script src="scripts/directives/invitationForm.js"></script>
      <script src="scripts/directives/activityAvatar.js"></script>
      <script src="scripts/directives/avatar.js"></script>
      <script src="scripts/directives/addressAutocomplete.js"></script>
      <script src="scripts/directives/scrollTo.js"></script>
      <script src="scripts/directives/htmlLabel.js"></script>
      <script src="scripts/directives/fileUpload.js"></script>
      <script src="scripts/directives/imageUpload.js"></script>
      <script src="scripts/directives/fileUploadOutput.js"></script>
      <script src="scripts/directives/signedOut.js"></script>
      <script src="scripts/directives/signedIn.js"></script>
      <script src="scripts/directives/social.js"></script>
      <script src="scripts/directives/datepicker.js"></script>
      <script src="scripts/directives/needOfferSelector.js"></script>
      <script src="scripts/directives/filter.js"></script>
      <script src="scripts/directives/filterbar.js"></script>
      <script src="scripts/directives/filterStatus.js"></script>
      <script src="scripts/directives/item.js"></script>
      <script src="scripts/directives/communityItem.js"></script>
      <script src="scripts/directives/radio.js"></script>
      <script src="scripts/directives/checkbox.js"></script>
      <script src="scripts/directives/ngEnter.js"></script>
      <script src="scripts/directives/imagePreview.js"></script>
      <script src="scripts/directives/resizedThumbnailImage.js"></script>
      <script src="scripts/directives/exifRotated.js"></script>
      <script src="scripts/directives/fancybox.js"></script>
      <script src="scripts/directives/refocusInputOnTab.js"></script>
      <script src="scripts/directives/autosizeTextarea.js"></script>
      <script src="scripts/directives/maxLenCounter.js"></script>
      <script src="scripts/directives/showTextInPassword.js"></script>
      <script src="scripts/directives/dynamicText.js"></script>
      <script src="scripts/directives/showIfDifferentDates.js"></script>
      <script src="scripts/directives/ngPluralize.js"></script>
      <script src="scripts/directives/communityCreateEdit.js"></script>
      <script src="scripts/directives/flexslider.js"></script>
      <script src="scripts/directives/loading.js"></script>
      <script src="scripts/directives/mapItems.js"></script>
      <script src="scripts/directives/dropdown.js"></script>
      <script src="scripts/directives/emailValidator.js"></script>
      <script src="scripts/directives/marketplaceBanner.js"></script>
      <script src="scripts/directives/userSelector.js"></script>
      <script src="scripts/directives/authorSelector.js"></script>
      <script src="scripts/directives/conversationDetail.js"></script>
      <script src="scripts/directives/conversationAdd.js"></script>
      <script src="scripts/directives/infoBox.js"></script>
      <script src="scripts/directives/customScrollbar.js"></script>

      <script src="scripts/utils/timeAgo.js"></script>
      <script src="scripts/utils/apiPrefix.js"></script>
      <script src="scripts/utils/validatedCheckbox.js"></script>
      <script src="scripts/utils/whenScrolled.js"></script>
      <script src="scripts/utils/withErrors.js"></script>
      
      <script src="scripts/geo/geo.js"></script>
      <script src="scripts/geo/locations.js"></script>
      <script src="scripts/geo/searchMap.js"></script>
      <script src="scripts/geo/map.js"></script>

      <script src="scripts/controllers/BaseCtrl.js"></script>
      <script src="scripts/controllers/SearchCtrl.js"></script>
      <script src="scripts/controllers/MarketCtrl.js"></script>
      <script src="scripts/controllers/profile/ProfileCtrl.js"></script>
      <script src="scripts/controllers/profile/ProfileSettingsCtrl.js"></script>
      <script src="scripts/controllers/profile/ProfileEditCtrl.js"></script>
      <script src="scripts/controllers/profile/ProfileInviteCtrl.js"></script>
      <script src="scripts/controllers/profile/ProfileDataFeedCtrl.js"></script>
      <script src="scripts/controllers/RegisterCtrl.js"></script>
      <script src="scripts/controllers/ConfirmEmailCtrl.js"></script>
      <script src="scripts/controllers/ForgottenPasswordCtrl.js"></script>
      <script src="scripts/controllers/ResetPwdCtrl.js"></script>
      <script src="scripts/controllers/FeedbackCtrl.js"></script>
      <script src="scripts/controllers/TermsCtrl.js"></script>
      <script src="scripts/controllers/community/CommunityProfileCtrl.js"></script>
      <script src="scripts/controllers/community/CommunityCreateCtrl.js"></script>
      <script src="scripts/controllers/community/CommunityListCtrl.js"></script>
      <script src="scripts/controllers/community/CommunityDataFeedCtrl.js"></script>
      <script src="scripts/controllers/LoginCtrl.js"></script>
      <script src="scripts/controllers/FulltextCtrl.js"></script>
      <script src="scripts/controllers/Error404Ctrl.js"></script>
      <script src="scripts/controllers/FillEmailCtrl.js"></script>
      <script src="scripts/controllers/ItemDetail.js"></script>
      <script src="scripts/controllers/ItemDetailOld.js"></script>
      <script src="scripts/controllers/TokenLoginCtrl.js"></script>
      <script src="scripts/controllers/messages/MessagesCtrl.js"></script>
      <script src="scripts/controllers/LocalizationPage.js"></script>

      <script src="scripts/controllers/modal/RemoveItemFromCommunity.js"></script>
      <script src="scripts/controllers/modal/NewMessage.js"></script>
      <script src="scripts/controllers/modal/ItemReport.js"></script>
      <script src="scripts/controllers/modal/EmailSharing.js"></script>
      <script src="scripts/controllers/modal/ItemEdit.js"></script>
      <script src="scripts/controllers/modal/ItemReply.js"></script>
      <script src="scripts/controllers/modal/Tutorial.js"></script>
      <script src="scripts/controllers/modal/InviteBox.js"></script>
      <script src="scripts/controllers/modal/ConfirmBox.js"></script>
    <!-- endbuild -->

    <script>
      $(function() { FastClick.attach(document.body);});
    </script>
    <!-- Crazy Egg tracking script -->
    <script type="text/javascript">
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/6260.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>

  </div>
  </body>
</html>
