<div class="profile-header">
    <avatar source="avatar" size="large" class="avatar" type="'User'"></avatar>
    <h1 class="username" ng-show="userNameEditable != true" ng-cloak>{{ profile.name }}</h1>
    <div ng-show="isMine" style="line-height:200%; font-size:smaller;">{{ loggedUser.email }}</div>
</div>

<form name="profileavatarform" style="clear:both;">
    <!-- path is prefixed with $$config.apiPath -->
    <div file-upload-output class=""></div>
    <div file-upload file-upload-path="/users/{{ loggedUser._id }}/files" upload-name="'avatar'" on-file-upload-started="avatarUploadStarted()" on-file-upload-success="avatarUploadSucceeded($event)" on-file-upload-error="avatarUploadFailed()" style="width:100%; position:relative;">
         <button class="green small button file-upload cursor-pointer" type="button">{{ 'CHOOSE_AVATAR_FILE' | translate}}</button>
    </div>
</form>
<div class="hr padding-v-1"></div>
<form id="profileEditForm" name="profileEditForm" ng-submit="updateProfile()" with-errors novalidate>
    
    <h1>{{ 'WHO' | translate }}</h1>
    <div>
      <label for="name">{{ 'NAME' | translate }}</label>
      <input type='text' id="name">
    </div>
    <div>
      <label for="my_work">{{ 'MY_WORK' | translate }}</label>
      <input type='text' id="my_work">
    </div>

    <h1>{{ 'WHERE' | translate }}</h1>
    <div>
      <label for="cities">{{ 'CITIES' | translate }}</label>
      <input type='text' id="cities">
    </div>

    <div>
      <label for="my_email">{{ 'MY_EMAIL' | translate }}</label>
      <input type='email' id="my_email">
    </div>

    <h1>{{ 'CONTACTS' | translate }}</h1>

    <div>
      <label for="my_phone">{{ 'MY_PHONE' | translate }}</label>
      <input type='tel' id="my_phone">
    </div>

    <div>
      <label for="my_facebook">{{ 'MY_FACEBOOK' | translate }}</label>
      <input type='text' id="my_facebook">
    </div>

    <div>
      <label for="my_googleplus">{{ 'MY_GOOGLEPLUS' | translate }}</label>
      <input type='text' id="my_googleplus">
    </div>

    <div>
      <label for="my_linkedin">{{ 'MY_LINKEDIN' | translate }}</label>
      <input type='text' id="my_linkedin">
    </div>

    <div>
      <label for="my_web">{{ 'MY_WEB' | translate }}</label>
      <input type='text' id="my_web">
    </div>

    <div>
      <label for="my_twitter">{{ 'MY_TWITTER' | translate }}</label>
      <input type='text' id="my_twitter">
    </div>

    <h1>{{ 'ABOUT_ME' | translate }}</h1>
    <div>
      <label for="my_tell_about">{{ 'MY_TELL_ABOUT' | translate }}</label>
      <textarea id="my_tell_about"></textarea>
    </div>

    <div>
      <label for="my_interests">{{ 'MY_INTERESTS' | translate }}</label>
      <textarea id="my_interests"></textarea>
    </div>

    <label>{{ 'MY_LANGUAGES' | translate }}</label>
    <input type="checkbox" id="my_lang_en"><label for="my_lang_en">{{ 'MY_LANG_EN' | translate }}</label> 
    <input type="checkbox" id="my_lang_de"><label for="my_lang_de">{{ 'MY_LANG_DE' | translate }}</label> 
    <input type="checkbox" id="my_lang_fr"><label for="my_lang_fr">{{ 'MY_LANG_FR' | translate }}</label> 
    <input type="checkbox" id="my_lang_ru"><label for="my_lang_ru">{{ 'MY_LANG_RU' | translate }}</label> 
    <input type="checkbox" id="my_lang_es"><label for="my_lang_es">{{ 'MY_LANG_ES' | translate }}</label> 

    <select>
      <option>Lang 1</option>
      <option>Lang 2</option>
    </select>


    <div class="alert-box visible alert error round connect-bottom" ng-show="errorsProfile.base">{{ errorsProfile.base | translate }}</div>

    <input type="text" ng-model="editedProfile.name" ng-class="{ 'text-input': true, 'top': true, 'error': profileErrors.errors.name }" placeholder="{{ 'YOUR_NAME' | translate }}" required>
    <textarea ng-model="editedProfile.about" ng-class="{ 'text-input': true, 'bottom': true, 'error': profileErrors.errors.about }" rows="6" placeholder="{{ 'ABOUT' | translate }}"></textarea>
    <button type="button" ng-disabled="avatarUpload" class="default button" ng-click="cancelProfileEdit()">{{ 'CANCEL' | translate }}</button>
    <button type="submit" ng-disabled="avatarUpload" class="green button right" analytics-on analytics-event="same my description" analytics-category="My profile" analytics-value="5">{{ 'SAVE' | translate }}</button>
</form>

<div class="hr padding-v-1"></div>
<div feature-enabled="deleteAccount" class="padding-2">
    <a href="" class="" analytics-on analytics-event="delete account clicked" analytics-category="My profile" analytics-value="0" ng-click="startProfileDelete(); scrollToTop();">
        <i class="icon-warning-sign"></i>&nbsp;{{ 'DELETE_ACCOUNT_BUTTON_CAPTION' | translate }}
    </a>
</div>