<div class="about-page about-page--custodians">
	<h2>Správci Hearth.net</h2>
	<p>
		Správci Hearth.net jsou společenstvím lidí, kteří pečují o obsah štědré sociální sítě a dbají na dodržování stanovených podmínek, pravidel a slušného chování. Pomáhají podle svých možností a pravomocí uživatelům Hearth řešit problematické situace, radí jim při ovládání a používání.
	</p>
	<p>Pro různé úrovně spravování jsou rozděleni do několika komunit. Jakéhokoliv správce Hearth.net je možné identifikovat tím, že je členem minimálně jedné z komunit:</p>

	<!-- panel administratori -->
	<div class="panel">
		<div class="clearfix display-flex">
			<avatar ng-if="communities.admins.data.avatar.normal" src="communities.admins.data.avatar.normal" size="small" type="'User'" class="flex-left"></avatar>
			<div class="flex-right margin-left-medium">
				<h4>Admini - <a href="/app/community/52cd60cd37b1210200000099"> „Hearth.net – interní tým“</a></h4>
			</div>
		</div>
		<p class="margin-top-medium">
			Admin je nejvyšší pozice při spravování Hearth.net, kterou zastávají pouze uživatelé z interního týmu Hearth.net, tj.&nbsp;spolku <em>Adato Paradigma, o.s.</em> a nebude nikdy delegována mimo tento okruh.
		</p>
	</div>

	<!-- panel spravci -->
	<div class="panel">
		<div class="clearfix display-flex">
			<avatar ng-if="communities.custodians.data.avatar.normal" src="communities.custodians.data.avatar.normal" size="small" type="'User'" class="flex-left"></avatar>
			<div class="flex-right margin-left-medium">
				<h4>Správci obsahu - <a href="/app/community/56b8b77fb433b4000700007a">„Hearth.net – správci obsahu“</a></h4>
			</div>
		</div>

		<p class="margin-top-medium">Každý správce obsahu vždy postupuje v souladu s platnými pravidly a podmínkami a současně podle svého nejlepšího vědomí. Činnost správce obsahu je vykonávána ze svobodné vůle uživatele pomáhat Hearth.net na dobrovolné bázi.
		</p>
		<p>Správci obsahu jsou uživatelé, kteří Hearth.net používají aktivně a splňují následující podmínky:</p>
		<div class="margin-left-medium">
			<ul>
				<li>uběhl minimálně 1 rok od jejich registrace,</li>
				<li>mají otevřeně a pravdivě vyplněný profil,</li>
				<li>jsou v osobní komunikaci s Adminy, od kterých získávají časově omezené pověření ke spravování Hearth.net,</li>
				<li>prokázali v komunikaci s Adminy svou schopnost být správcem obsahu.</li>
			</ul>
		</div>
	</div>

	<h4 class="margin-top-medium">Oprávnění a povinnosti Správců obsahu:</h4>
	<ul class="margin-left-large">
		<li>pozastavit dar nebo přání porušující pravidla a podmínky Hearth.net,</li>
		<li>komunikovat s uživateli Hearth.net ohledně porušení pravidel zejména vložením nevhodného obsahu do Hearth.net,</li>
		<li>navrhovat a společně s Adminy schvalovat změny pravidel a podmínek používání Hearth.net,</li>
		<li>komunikovat s uživateli Hearth.net, kteří se potřebují zorientovat v uživatelském prostředí a radit jim a pomáhat při používání Hearth.net.</li>
	</ul>

	<h4 class="margin-top-medium">Způsob komunikace se správci Hearth.net</h4>
	<ul class="margin-left-large">
		<li>Všichni správci Hearth.net jednají vždy jménem svým a současně jménem příslušné komunity správců.</li>
		<li><b>Správci obsahu</b> s tebou komunikují prostřednictvím Zpráv,<br><b>Admini</b> komunikují prostřednictvím tvého zaregistrovaného e-mailu nebo Zpráv.</li>
		<li>Pokud nesouhlasíš s postupem jakéhokoliv správce Hearth.net, můžeš se odvolat nebo ohradit proti jeho chování e-mailem na adresu: <a href="mailto:support@hearth.net">support@hearth.net</a>.</li>
		<li>Udělit správci Hearth.net hodnocení za jeho činnost je možné pouze na profilu příslušné komunity s tím, že do hodnocení uvedeš jméno konkrétního správce Hearth.net.</li>
	</ul>

	<h4 class="margin-top-medium">Jak se stát správcem Hearth.net?</h4>
	<p>
		Nominovat do pozice správce Hearth.net můžeš kteréhokoliv jiného uživatele, za předpokladu, že splňuje výše uvedené podmínky a stejně tak může kdokoliv jiný nominovat tebe. Správcem Hearth.net se navržený uživatel stává přijetím do příslušné komunity a jeho pověření být správcem Hearth.net končí v případě, že z komunity sám odejde nebo jeho členství v komunitě skončí z jiného důvodu.
	</p>
</div>