<div ng-init="slide = {}" class="about-page about-page--faq"></div>

<p slide-trigger="slide.q1">
	<h3>Zaregistroval(a) jsem se a nepřišel mi potvrzující e-mail. Co mám dělat?</h3>
</p>
<div class="a" ng-if="slide.q1">
	<p>
		Určitě začni nejdříve v e-mailové schránce a zkontroluj především složku týkající se nevyžádané pošty. Je možné, že žádost o autorizaci registrace bohužel vyhodnotil tvůj počítač jako SPAM a proto ti nepřišla do doručené pošty.
	</p>
	<p>
		Pokud autorizační e-mail skutečně v poště nemáš, pošli nám zprávu na <a href="mailto:support@hearth.net">support@hearth.net</a>, nejlépe z e-mailu, který jsi pro registraci v Hearth.net použil(a). 
	</p>
</div>
<p class="q" slide-trigger="slide.q2">
	Jsem zaregistrovaný(á) a jsem tu poprvé. Co mám dělat?
</p>
<div class="a" ng-if="slide.q2">
	<p>
		Dobrým začátkem je představit se. Říct o sobě pár slov a vložit svoji fotku – budeš ostatním rychleji povědomější. Mnoho uživatelů svůj profil zpočátku nevyplní, což je škoda, lidi zajímá, komu dar darují nebo od koho dar přijmou, a pak těch pár slov o tobě postrádají. Fotka navíc pomůže, když se setkávají dva lidé při předání daru a neznají se.
	</p>
	<p>
		Dál už je to jednoduché. Na horní liště oranžového menu kliknutím na „Tržiště“ získáš možnost prohlížet si dary či přání ostatních uživatelů. Vřele doporučujeme vyzkoušet menší bílou lištu s modrou funkcí „Filtrovat“ nebo se podívat na mapu, co všechno se okolo tebe děje nebo neděje a ty to můžeš změnit.
	</p>
	<p>
		Chceš-li darovat nebo si přát, klikni na modré políčko „Vložit nový dar nebo přání“ a dál pokračuj podle formuláře, který se ti otevře.
	</p>
	<p>
		V pravém horním roku obrazovky je důležitá část „O projektu“, kde najdeš odkaz do našeho blogu a další příspěvky na ostatních sociálních sítích, nebo přímé spojení na nás. A také Podmínky použití, které si určitě pročti nebo alespoň ten úvod v kostce <a href="https://www.hearth.net/app/terms">https://www.hearth.net/app/terms</a>.
	</p>
	<p>
		Pro začátek to asi jako inspirace stačí. Jen dodáme, že kdyby cokoliv nefungovalo nebo si potřeboval(a) pomoc, kdykoliv nám můžeš poslat zprávu na <a href="mailto:support@hearth.net">support@hearth.net</a> a my se ozveme zpět s radou nebo řešením.
	</p>
</div>
<p class="q" slide-trigger="slide.q3">
	Změnil(a) jsem si e-mailovou adresu, jak ji mohu vyměnit ve svém profilu nebo při přihlašování?
</p>
<div class="a" ng-if="slide.q3">
	<p>
		E-mail uvedený při registraci zatím můžeme změnit pouze my jako administrátoři. Napiš stručnou žádost o změnu e-mailem na <a href="mailto:support@hearth.net">support@hearth.net</a> a naši kolegové z IT to zařídí.
	</p>
</div>
<p class="q" slide-trigger="slide.q4">
	Jak udělit hodnocení v Hearth.net?
</p>
<div class="a" ng-if="slide.q4">
	<p>
		Hodnotit jakéhokoliv uživatele je možné na jeho (jejím) profilu kliknutím na „barevný proužek“ (zpravidla zelený nebo také šedý – pokud ještě žádné hodnocení u uživatele není) vedle profilové fotografie či ikony oranžového „avatára“. Následně vykoukne modrý odkaz „Ohodnotit“ a pak už je to snadné.
	</p>
</div>
<p class="q" slide-trigger="slide.q5">
	Udělil(a) jsem omylem jiné hodnocení, než jsem chtěl(a), jak jej mohu změnit?
</p>
<div class="a" ng-if="slide.q5">
	<p>
		Změnit udělené hodnocení můžeme pouze my jako administrátoři. Pokud se při hodnocení stala jakákoliv chyba, dej nám vědět přes e-mail <a href="mailto:support@hearth.net">support@hearth.net</a> a společně to napravíme.
	</p>
	<p>
		Pokud potřebuješ napravit svou chybu rychleji, můžeš sám vložit nové opravené hodnocení a my později jen odstraníme to chybné.
	</p>
</div>
<p class="q" slide-trigger="slide.q6">
	Jsem tu nováček a tak prosím o radu – mohu uvést u svého profilu i svůj web? Nebude to chápáno jako reklama?
</p>
<div class="a" ng-if="slide.q6">
	<p>
		Do svého profilu můžeš o sobě uvést cokoliv, co ti přijde vhodné, možné, správné, vystihující nebo je jinak autentické.
	</p>
	<p>
		Obava z „reklamy“ je na místě, opravdu se zde občas objeví, někdy i z nevědomosti. V našich Podmínkách používání <a href="https://www.hearth.net/app/terms">https://www.hearth.net/app/terms</a> to uvádíme v bodě 3.1.5.
	</p>
	<p>
		Naopak pokud kdokoliv (kdo podnikání ani nemá v profilu) nabídne nějaký dar „za protiplnění“ nebo doporučí nějakou službu za úplatu byť i se slevou, pak do toho vstupujeme s žádostí o přeformulování nebo stažení takového „nedaru“.
	</p>
</div>
<p class="q" slide-trigger="slide.q7">
	Co dělat v případě, kdy na některé dary co jsem vložil(a) – podle připojené poznámky o počtu nabídek pod inzerátem – reagovali lidé, ale ke mně se jejich reakce nedostala?
</p>
<div class="a" ng-if="slide.q7">
	<p>
		Pokud nemáš žádnou odezvu ve svém e-mailu, kdykoliv najdeš všechny reakce zájemců také v detailu vloženého inzerátu – jdi na svůj profil, klikni na kolečko s počtem darů a přání vedle své fotky a pak na „už požádali x lidí“. A kliknutím na „Přejít do konverzace“ už si s nimi píšeš zprávu.
	</p>
</div>
<p class="q"  slide-trigger="slide.q8">
	Odpovědělo mi více lidí za sebou, jak si mám vybrat, komu dar dát?
</p>
<div class="a" ng-if="slide.q8">
	<p>
		To je úplně na tobě. Obecně můžeme napsat, že každý „Hearthťan“ má úplně jiná kritéria výběru a rozhodování a je to tak správně.
	</p>
	<p>
		Někdo daruje lidem podle počtu jejich zásluh (na jejich profilu sleduje, jestli už někdy někomu něco darovali a třeba kolikrát, či zda mají pozitivní hodnocení a od koho), jiní to berou zcela jednoduše ve stylu „kdo dřív přijde...", někdo má zase kritérium osobního předání, protože chce vidět úsměv toho, komu udělá darem radost.
	</p>
	<p>
		Univerzální „radu“ máme pouze tu, že darování by mělo být radostné. Takže vybírej a daruj tomu, u koho budeš mít radost z darování i ty.
	</p>
	<p>
		Odpovědět zamítavou zprávou ostatním nevybraným žadatelům není povinnost. Myslíme si však, že je to laskavé a slušné a tak doporučujeme napsat zprávu i těm, kteří dar nedostanou a projevili o něj zájem.
	</p>
</div>
<p class="q" slide-trigger="slide.q9">
	Má smysl reagovat na nabídku či poptávku, na kterou přede mnou už někdo reagoval?
</p>
<div class="a" ng-if="slide.q9">
	<p>
		Určitě má. Nikdy nevíš, podle jakého klíče dárce nebo příjemce vybírá. Někdy je darů tolik, že se nabízí rovnou více lidem (velká úroda ze zahrádky). Stává se občas, že dohoda s prvním, kdo požádal nebo nabídl, nedopadne dobře a pak je prima, že není třeba dar znovu nabízet a jen zareagovat na další odpověď v pořadí – třeba tu tvou. 
	</p>
	<p>
		Nikdy ovšem nevíš, jestli právě náhodou TY nejsi tím, na koho dárce nebo příjemce vlastně čeká, protože teprve s tebou bude to darování a domlouvání radostné a zábavné.
	</p>
	<p>
		Reagovat se zkrátka má podle toho, zda máš o danou nabídku skutečný zájem nebo naopak, zda chceš nabídnout to, co někdo jiný potřebuje. Počet reagujících před tebou nemusí být pro další běh událostí určující. Je to jen informativní údaj.
	</p>
</div>
<p class="q" slide-trigger="slide.q10">
	Co dělat s inzeráty, když dar předám nebo když jsou věci v rezervaci apod. Mám ho pozastavit nebo smazat? A když ho smažu/pozastavím, uvidí ho dotyčný obdarovaný a může mi dát hodnocení?
</p>
<div class="a" ng-if="slide.q10">
	<p>
		Když se s někým domluvíš na předání daru, je možné dar POZASTAVIT, učiníš tak kliknutím na ikonu v šedém poli pod inzerátem. Není třeba psát, komu je dar rezervován, to není informace, kterou by kdokoli jiný kromě obdarovaného potřeboval vědět, a ten se to dozví tak, že mu odpovíš na jeho poptávku zprávou. Až si dar opravdu předáte, můžeš inzerát SMAZAT. Pokud by se předání daru z nějakého důvodu nepodařilo, obnovíš inzerát pomocí UPRAVIT a ZAKTUALIZOVAT.
	</p>
	<p>
		Hodnocení/poděkování ti může udělit kdokoli kdykoli. Hodnocení lze propojit s darem, na který jste si vzájemně reagovali, a to i u smazaného inzerátu. Hodnocení lze udělit i bez propojení s konkrétním darem. 
	</p>
</div>
