<div class="autocomplete-fulltext-input" ng-class="{'autocomplete-visible': showAutocomplete }">
    <input type="text" 
           id="searchBox" 
           placeholder="{{:: 'MARKETPLACE.FULLTEXT.QUERY_PLACEHOLDER' | translate }}" 
           ng-blur="hideAutocomplete()"
           ng-focus="showAutocompleteWithSearchPhrases()"
           ng-model="ngModel"
           ng-enter="onEnter($event); saveSearch(ngModel)"
           autocomplete="off"
           >
           <span class="search-input-submit-icon fa icon-hledat" ng-click="onEnter($event); saveSearch(ngModel)"></span>
    <div class="autocomplete-list" ng-show="showAutocomplete">
        <span ng-hide="ngModel.length">
            <h5 ng-if="autocompleted.historyReversedLimited.length">{{ 'MARKETPLACE.FILTER.AUTOCOMPLETE.HISTORY' | translate }}</h5>
            <div ng-repeat="item in autocompleted.historyReversedLimited" class="list-item list-item-history">
                <a class="close pull-right" ng-click="removeSearchFromHistory(item); undoHideAutocomplete();"><i class="fa icon-close" style="font-size:11px; margin-right:4px"></i></a>
                <a href="" ui-sref="search({query:item})">{{ item }}</a>
            </div>
        
            <h5 ng-if="autocompleted.default.length">{{ 'MARKETPLACE.FILTER.AUTOCOMPLETE.DEFAULT' | translate }}</h5>
            <div ng-repeat="item in autocompleted.default" class="list-item list-item-phrases">
                <a href="" ui-sref="search({query:item[$root.language].title})">{{ item[$root.language].title }}</a>
            </div>
        </span>
        
        <h5 ng-if="autocompleted.posts.length">{{ 'MARKETPLACE.FILTER.POST_TYPE.POSTS' | translate }}</h5>
        <div ng-repeat="item in autocompleted.posts" class="list-item list-item-posts">
            <a href="" ui-sref="post({id: item._id })"><b>{{ item.type.toUpperCase() | translate }}</b> {{ item.title }}</a>
        </div>
        <h5 ng-if="autocompleted.users.length">{{ 'MARKETPLACE.FILTER.POST_TYPE.PEOPLE' | translate }}</h5>
        <div ng-repeat="item in autocompleted.users" class="list-item list-item-with-avatar list-item-users">
            <a href="" ui-sref="profile.default({id: item._id })" class="display-flex"><avatar size="small" src="item.avatar.normal" type="User" class="margin-right-small"></avatar> <span>{{ item.name | ellipsis:50}}</span></a>
        </div>
        <h5 ng-if="autocompleted.communities.length">{{ 'MARKETPLACE.FILTER.POST_TYPE.COMMUNITY' | translate }}</h5>
        <div ng-repeat="item in autocompleted.communities" class="list-item list-item-with-avatar list-item-communities">
            <a href="" ui-sref="community.default({id: item._id })" class="display-flex"><avatar size="small" src="item.avatar.normal" type="Community" class="margin-right-small"></avatar> <span>{{ item.name | ellipsis:50 }}</span></a>
        </div>
    </div>
</div>