<div class="community-list-item">
	<a href="#!/community/{{item._id}}">
		<div class="avatar community-avatar">
			<img ng-src="{{item.avatar.normal}}" ng-if="item.avatar.normal" />
		</div>
	</a>
	<div class="community-list-item-data">
		<h4 class="small-8 fleft"><a href="#!/community/{{item._id}}">{{ item.name }}</a></h4>
		<small class="small-1 tright fright">
			<a href="#!/community/{{item._id}}/edit" ng-if="item.admin == loggedUser._id">
				{{'ADMINISTRATOR' | translate}}
			</a>
		</small>
		<a href="#!/community/{{item._id}}">
			<p>{{ item.description | ellipsis }}</p>
		</a>
	 </div>
</div>