<div class="communities">
    <a href="#!/community-create" class="fright">
        {{'CREATE_COMMUNITY' | translate}}
    </a>
    <div class="my-communities" ng-if="myCommunities.length">
        <h3 class="fleft iblock">{{ 'YOU_ARE_ADMIN_IN_X_COMMUNITIES' | translate }}</h3>
        <div class="clear"></div>
        <br />
        <div class="community-list">
            <div ng-include="'templates/community/listItem.html'" ng-repeat="(id, item) in myCommunities track by $index"></div>
        </div>
    </div>

    <div class="random-communities">
        <h3 class="fleft iblock">{{ 'SUGGESTED_COMMUNITIES' | translate }}</h3>
        <div class="clear"></div>
        <br />
        <div class="community-list">
            <div ng-include="'templates/community/listItem.html'" ng-repeat="(id, item) in randomCommunities track by $index"></div>
        </div>
    </div>
</div>