<div class="community-list-item">
	<a href="#!/community/{{item._id}}">
		<div class="avatar community-avatar">
			<img ng-src="{{item.avatar.normal}}" ng-if="item.avatar.normal" />
		</div>
	</a>
	<div class="community-list-item-data">
		<h4 class="small-8 fleft"><a href="#!/community/{{item._id}}">{{ item.name }}</a></h4>
		<small class="tright fright">
			<span ng-if="item.admin == loggedUser._id">
				{{'ADMIN' | translate}}
			</span>
		</small>
		<p>{{ item.description | ellipsis }}</p>
	 </div>
</div>