<div ng-include="'templates/community/profileMembersPanel.html'"></div>
<div class="community-applications-list">
	<div ng-repeat="(id, item) in data track by $index" ng-init="item.prevDate = ($index > 0) ? data[$index-1].followed_since : null">

		<h5 show-if-different-dates old-date="item.prevDate" new-date="item.followed_since">{{ item.followed_since | ago }}</h5>
		<div class="application">
			<div class="applications-item">
		        <a href="#!/profile/{{item._id}} ">
		            <div class="avatar">
		                <img ng-if="item.avatar.normal" ng-src="{{item.avatar.normal}}" />
		            </div>
		        </a>
		        <div class="applications-text">
		            <a href="#!/profile/{{item._id}} ">
		            	{{item.name | ellipsis}}
		            </a><br>
		            <a href="#!/profile/{{item._id}} ">
		            	<small>{{ 'SHOW_PROFILE' | translate}}</small>
		            </a>
		        </div>
		        <div class="applications-buttons">
		            <a ng-click="approveApplication(item._id)" title="{{ 'COMMUNITY_MEMBER_ACCEPT' | translate }}" class="yes"><i class="fa fa-check"></i></a>
		            <a ng-click="rejectApplication(item._id)" title="{{ 'COMMUNITY_MEMBER_REJECT' | translate }}" class="no"><i class="fa fa-times"></i></a>
		        </div>
			</div>
		</div>
	</div>
</div>

<!--

<div class="people-listing">
	<div class="person" ng-repeat="(id, item) in data track by $index">
		<div class="avatar">
			<img ng-src="{{item.avatar.normal}}" ng-if="item.avatar.normal" />
		</div>
		<div class="name">
			<h4>
				<a href="#!/profile/{{ item._id}}">{{ item.name | ellipsis:24}}</a>
			</h4>
		</div>
		<div ng-if="mine" class="community-applications-buttons.small">
				<a ng-click="approveApplication(item._id)" title="{{ 'COMMUNITY_MEMBER_ACCEPT' | translate }}" class="yes"><i class="fa fa-check"></i></a>
				<a ng-click="rejectApplication(item._id)" title="{{ 'COMMUNITY_MEMBER_REJECT' | translate }}" class="no"><i class="fa fa-times"></i></a>
		</div>
	</div>
</div>
-->
<div ng-if="! data.length">
	{{ 'COMMUNITY_HAS_NO_APPLICATIONS' | translate}}
</div>