<div loading show="!loaded"></div>

<div class="community-view profile-common" ng-if="loaded" ng-class="{'mine': mine, 'others': !mine}">
	<div class="user" ng-if="! info">
		<p>{{:: 'ERR_COMMUNITY_NOT_FOUND' | translate }}</p>
	</div>
	<header ng-if="info">
		<div class="user-basic large-12 columns">
			<div class="button-bar">
				<button ng-if="!mine" class="profile-button tall solid right" ng-click="openRatingForm(true)">
                    {{:: 'THUMB_UP' | translate }}
                </button>
				<button class="profile-button tall outline" ng-if="!mine && info.is_member" ng-click="confirmBox('COMMUNITY.CONFIRM_LEAVE.TITLE', 'COMMUNITY.CONFIRM_LEAVE.TEXT', leaveCommunity, 0, this)">
					<i class="fa fa-minus"></i> {{:: 'LEAVE_COMMUNITY' | translate}}
				</button>
				<button ng-if="!mine && !info.is_member && loggedUser._id && ! info.is_applicant" ng-click="applyForCommunity()" class="profile-button tall">
					<i class="fa fa-smile-o"></i> {{:: 'COMMUNITY_APPLY' | translate}}
				</button>
				<button ng-if="!mine && info.is_applicant" class="profile-button tall outline">
					<i class="fa fa-smile-o"></i> {{:: 'COMMUNITY_APPLICATION_SENT' | translate}}
				</button>
				<a href="{{:: communityLink }}/invite-friends" class="right" ng-if="false">
					<button class="profile-button tall"><i class="fa fa-share"></i> {{:: 'COMMUNITY_INVITE_FRIENDS' | translate}}</button>
				</a>
				<a ng-if="mine" href="{{:: communityLink }}/edit">
					<button class="profile-button button-red tall">
						<i class="fa fa-gears"></i> {{:: 'PROFILE_EDIT.HEADER' | translate}}
					</button>
				</a>
			</div>
			<h1>
				<a href="{{:: communityLink }}"><span>{{:: info.name }}</span></a>
			</h1>
			<div class="clear"></div>
		</div>
		<div class="highlights">
            <avatar size="large" class="left" src="info.avatar.large" href="basePath+'community/'+info._id" type="info._type"></avatar>
				
			<span class="shadow large">
				<a href="{{:: communityLink }}/posts" ng-class="{'active': (activePage == 'posts')}" class="bubble large">
	                <span>
	                	<b>{{ info.post_count.offers }}</b><br />
	                	{{ 'COMMUNITY.X_GIVES.'+pluralCat(info.post_count.offers) | translate }}
	                	<hr class="orange" />
	                	<b>{{ info.post_count.needs }}</b><br />
	                	{{ 'COMMUNITY.X_WISHES.'+pluralCat(info.post_count.needs) | translate }}
                	</span>
				</a>
            </span>
			<span class="shadow small">
				<a href="{{:: communityLink }}/members" class="bubble small move-down" ng-class="{'active': (activePage == 'members' || activePage == 'applications')}">
	                <span ng-if="info" ng-bind-html="'COMMUNITY.X_MEMBERS.'+pluralCat(info.member_count) | translate: '{count: '+info.member_count+'}'"></span>
	            </a>
            </span>
			<span class="shadow small">
				<a href="{{:: communityLink }}/received-ratings" class="bubble small" ng-class="{'active': (activePage == 'received-ratings' || activePage == 'given-ratings')}">
					<span>
						<b>{{ info.received_ratings_count }}</b><br />
						{{:: 'COMMUNITY_RATINGS' | translate}}
					</span>
	            </a>
            </span>
			<span class="shadow small">
				<a href="{{:: communityLink }}/about" class="bubble small move-down" ng-class="{'active': (activePage == 'about')}">
					<span>
						<b>?</b><br />
						{{:: 'COMMUNITY_ABOUT_SHORT' | translate}}
					</span>
	            </a>
            </span>

            <a href="{{:: communityLink }}/received-ratings">
                <div ng-if="info" class="karma-bar large-8 columns" title="{{:: 'COUNT_OF_PLUS_POINTS' | translate }}: {{ info.up_votes }} | {{ 'COUNT_OF_MINUS_POINTS' | translate }}: {{ info.down_votes }}">
                    <span class="positive bar" ng-style="{width: (info.karma)+'%'}" ng-class="{full: info.karma == 100}" ng-if="info.karma != null && info.karma > 0">
                        <span>{{ info.karma }}% <i class="fa icon-rating-positive"></i></span>
                    </span>
                    <span class="negative bar" ng-style="{width: (100 - info.karma)+'%'}" ng-class="{full: info.karma == 0}" ng-if="info.karma != null && info.karma < 100">
                        <span>
                            <i class="fa icon-rating-negative"></i> {{100 - info.karma}}%
                        </span>
                    </span>
                    <span class="empty" ng-if="info.karma == null && mine">
                        {{:: 'COMMUNITY_PROFILE.TOP.KARMA_NO_RATING_ME' | translate }}
                    </span>
                    <span class="empty" ng-if="info.karma == null && !mine">
                        {{:: 'COMMUNITY_PROFILE.TOP.KARMA_NO_RATING_OTHER' | translate }}
                    </span>
                </div>
            </a>
		</div>
	</header>
	<div class="clear"></div>
	<div ng-show="topLoaded" ui-view></div>
</div>