<div loading show="!loaded"></div>

<div class="community-view profile-common" ng-show="loaded" ng-class="{'mine': mine, 'others': !mine}">
	<div class="user" ng-show="! info">
		<p>{{:: 'ERR_COMMUNITY_NOT_FOUND' | translate }}</p>
	</div>
	<header ng-show="info">
		<div class="user-basic">
			<div class="button-bar text-right">
				<button class="profile-button tall outline" ng-if="!mine && info.is_member" ng-click="confirmBox('COMMUNITY.CONFIRM_LEAVE.TITLE', 'COMMUNITY.CONFIRM_LEAVE.TEXT', leaveCommunity, 0, this)">
					<i class="fa fa-minus"></i> {{:: 'LEAVE_COMMUNITY' | translate}}
				</button>
				<button ng-if="!mine && !info.is_member && loggedUser._id && ! info.is_applicant" ng-click="applyForCommunity()" class="profile-button tall">
					<i class="fa fa-smile-o"></i> {{:: 'COMMUNITY_APPLY' | translate}}
				</button>
				<button ng-if="!mine && info.is_applicant" class="profile-button tall outline">
					<i class="fa fa-smile-o"></i> {{:: 'COMMUNITY_APPLICATION_SENT' | translate}}
				</button>
				<a href="{{:: basePath }}community/{:: info._id}}/invite-friends" class="right" ng-if="false">
					<button class="profile-button tall"><i class="fa fa-share"></i> {{:: 'COMMUNITY_INVITE_FRIENDS' | translate}}</button>
				</a>
				<a ng-if="mine" href="{{:: basePath }}community/{{:: info._id}}/edit">
					<button class="profile-button button-red tall">
						<i class="fa fa-gears"></i> {{:: 'PROFILE_EDIT.HEADER' | translate}}
					</button>
				</a>
			</div>
			<h1>
				<a href="{{:: basePath }}community/{{:: info._id}}">
					{{:: info.name }}
				</a>
			</h1>
			<div class="clear"></div>
		</div>
		<div class="highlights">
            <avatar size="large" class="left" src="info.avatar.large" href="basePath+'community/'+info._id" type="info._type"></avatar>
				
			<span class="shadow large">
				<a href="{{:: basePath }}community/{{:: info._id}}/posts" ng-class="{'active': (activePage == 'posts')}" class="bubble large">
	                <span ng-if="info" ng-bind-html="'COMMUNITY.X_GIVES_AND_WISHES.'+pluralCat(info.post_count) | translate: '{count: '+info.post_count+'}'"></span>
				</a>
            </span>
			<span class="shadow small">
				<a href="{{:: basePath }}community/{{:: info._id}}/members" class="bubble small move-down" ng-class="{'active': (activePage == 'members' || activePage == 'applications')}">
	                <span ng-if="info" ng-bind-html="'COMMUNITY.X_MEMBERS.'+pluralCat(info.member_count) | translate: '{count: '+info.member_count+'}'"></span>
	            </a>
            </span>
			<span class="shadow small">
				<a href="{{:: basePath }}community/{{:: info._id}}/received-ratings" class="bubble small" ng-class="{'active': (activePage == 'received-ratings' || activePage == 'given-ratings')}">
					<span>{{:: 'COMMUNITY_RATINGS' | translate}}</span>
	            </a>
            </span>
			<span class="shadow small">
				<a href="{{:: basePath }}community/{{:: info._id}}/about" class="bubble small move-down" ng-class="{'active': (activePage == 'about')}">
					<span>{{:: 'COMMUNITY_ABOUT_SHORT' | translate}}</span>
	            </a>
            </span>
		</div>
	</header>
	<div class="clear"></div>
	<div ng-show="topLoaded" ui-view></div>
</div>