<div class="bottom-tabs">
    <ul ng-if="mine">
        <li>
            <a href="#!/community/{{info._id}}/members" ng-class="{selected: pageSegment =='community.members'}">
                <span ng-if="info" ng-bind-html="'COMMUNITY.COMMUNITY_HAS_X_MEMBERS.'+pluralCat(info.member_count) | translate: '{count: '+info.member_count+'}'"></span>
            </a>
        </li>
        <li>
            <a href="#!/community/{{info._id}}/applications" ng-class="{selected: pageSegment =='community.applications'}">
                <span ng-if="info" ng-bind-html="'COMMUNITY.APPROVE_REQUESTS.'+pluralCat(info.applicant_count) | translate: '{count: '+info.applicant_count+'}'"></span>
            </a>
        </li> 
    </ul>
</div>

<div class="clear"></div>
