<br />
<br />

<!-- two columns displayed in main page of user profile -->
<div class="profile-listings">
    <div class="left-pane">
        <!-- <div class="messages">
                <i class="fa fa-bell"></i> <a href="">Máte 3 nové odpovědi na inzerát 'Věnuji hlídání dětí'</a>
            </div> -->
        <div class="ratings" ng-if="mine">
            
            <div ng-if="!applications.length">
                <h3>{{ 'COMMUNITY_NEW_APPLICATIONS' | translate}}</h3>
                <p>{{ 'COMMUNITY_HAS_NO_APPLICATIONS' | translate}}</p>
            </div>
            <div ng-if="applications.length">

                <h3 class="small-8 fleft">{{ 'COMMUNITY_NEW_APPLICATIONS' | translate}} - {{applications.length}}</h3>
	            <a class="fright" ng-if="false">{{ 'COMMUNITY_ACCEPT_ALL' | translate}}</a>
	            <div class="clear"></div>

	            <div ng-repeat="(id, item) in applications track by $index" class="rating" ng-init="item.prevDate = ($index > 0) ? applications[$index-1].created_at : null">
	            	<h4 show-if-different-dates old-date="item.prevDate" new-date="item.created_at">{{ item.created_at | ago }}</h4>
	            	<div class="applications-item">
	                    <a href="#!/profile/{{item._id}} ">
                            <div class="avatar">
                                <img ng-if="item.user_from_avatar.normal" ng-src="{{item.user_from_avatar.normal}}" />
                            </div>
                        </a>
                        <div class="applications-text">
                            <a href="#!/profile/{{item._id}} ">
		                    	{{item.name | ellipsis}}
		                    	<br />
		                    	<small>{{ 'SHOW_PROFILE' | translate}}</small>
		                    </a>
		                </div>
		                <div class="application-buttons">
		                	<a ng-click="approveApplication(item._id)" title="{{ 'COMMUNITY_MEMBER_ACCEPT' | translate }}"><i class="fa fa-check"></i></a>
		                	<a ng-click="rejectApplication(item._id)" title="{{ 'COMMUNITY_MEMBER_REJECT' | translate }}"><i class="fa fa-times"></i></a>
		                </div>
	            	</div>
	            </div>
	            <div class="buttons">
	                <a href="#!/community/{{info._id}}/applications">
	                    <button class="button-flat blue spacy"><i class="fa fa-angle-double-right"></i> {{ 'COMMUNITY_SEE_ALL_APPLICATIONS' | translate }}</button>
	                </a>
	            </div>
	        </div>
        </div>
        <div class="ads">
            <h3 class="iblock">
                {{ 'COMMUNITY_POSTS' | translate }}
                
                <a ng-if="loggedCommunity && loggedCommunity._id == info._id" class="create-ad-sig fright" ng-click="editItem(null)" title="{{ 'AD_ADD_LABEL' | translate}}">
                    <i class="fa fa-plus-square"></i>
                </a>
            </h3>
            <div class="clear"></div>

            <p ng-if="! posts.data.length">{{ 'COMMUNITY_HAS_NO_POSTS_YET' | translate }}</p>
            <div class="ad" ng-repeat="(id, item) in posts.data track by $index">
                <i ng-if="item.type == 'need'" class="fa fa-caret-left gift-receive"></i> &nbsp;
                <i ng-if="item.type == 'offer'" class="fa fa-caret-right gift-give"></i> &nbsp;
                <span>
                    <a ng-if="item.title" href="#!/ad/{{ item._id }}">{{item.title | ellipsis:30}}</a>
                    <a ng-if="!item.title" href="#!/ad/{{ item._id }}">{{item.name | ellipsis:30}}</a>
                    <span ng-if="item.locations.length && item.locations[0].city">/ {{item.locations[0].city}}</span>
                </span>
                <div class="ad-controls" ng-if="loggedCommunity && loggedCommunity._id == info._id">
                    <i class="fa fa-pencil" title="{{'AD_EDIT_LABEL' | translate}}" ng-click="editItem(item)"></i>
                    <i class="fa fa-play" title="{{'AD_RESUME_LABEL' | translate}}" ng-if="!item.is_active" ng-click="pauseToggle()"></i>
                    <i class="fa fa-pause" title="{{'AD_PAUSE_LABEL' | translate}}" ng-if="item.is_active" data-reveal-id="confirm-pause-{{item._id}}"></i>
                    <i class="fa fa-times" title="{{'AD_REMOVE_LABEL' | translate}}" data-reveal-id="confirm-delete-{{item._id}}"></i>
                </div>
                <section ng-include="'templates/modals.html'" id="modals"></section>
            </div>
            <div class="buttons" ng-if="posts.data.length">
                <a href="#!/profile/{{info._id}}/posts">
                    <button class="button-flat blue spacy"><i class="fa fa-angle-double-right"></i> {{ 'ads-all' | translate }}</button>
                </a>
            </div>
        </div>
    </div>
    <div class="right-pane">
        <div class="activities">
            
            <h3>{{ 'COMMUNITY_ACTIVITY' | translate }}</h3>
            <p ng-hide="activityLog.length">{{ 'NOTICE_EMPTY_DATA' | translate }}</p>
            <div ng-if="activityLog.length">
                <div class="timeline-container">
                    <div class="profile-timeline"></div>

                    <div ng-repeat="(id, item) in activityLog track by $index" ng-init="item.prevDate = ($index > 0) ? activityLog[$index-1].created_at : null">
                        <h4 show-if-different-dates old-date="item.prevDate" new-date="item.created_at">{{ item.created_at | ago }}</h4>
                        <div class="activity">
                            <div class="avatar"></div>
                            <div class="activity-text" dynamic-text="item.text" dynamic-data="item.data"></div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <a href="#!/community/{{info._id}}/activity-feed">
                        <button class="button-flat blue spacy"><i class="fa fa-angle-double-right"></i> {{ 'OLDER_ACTIVITY' | translate}}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>