<div ng-include="'templates/community/profileMembersPanel.html'"></div>

<div class="people-listing">
	<div class="person" ng-repeat="(id, item) in data track by $index">
		<a href="#!/profile/{{ item._id}}">
			<div class="avatar">
				<img ng-src="{{item.avatar.normal}}" ng-if="item.avatar.normal" />
			</div>
		</a>
		<div class="name">
			<h4>
				<a href="#!/profile/{{ item._id}}">{{ item.name | ellipsis:24}}</a>
			</h4>
			<a ng-if="managing && item._id != loggedUser._id" ng-click="revealModal('confirm-remove-member-'+item._id)">{{ 'COMMUNITY_KICK_MEMBER' | translate }}</a>
			<a href="#!/community/{{info._id}}/edit" ng-if="managing && item._id == loggedUser._id">{{ 'COMMUNITY_ADMIN' | translate }}</a>
		</div>

		<div id="confirm-remove-member-{{item._id}}" class="reveal-modal tiny" data-reveal>
		  <header>
		      <h2 class="large-12">{{'COMMUNITY.REMOVE_MEMBER_LABEL' | translate}}</h2>
		  </header>
		  <article class="row">
		      <hr />
		      <p class="large-12 text-center"> {{'COMMUNITY.REMOVE_MEMBER_ARE_YOU_SURE' | translate}}</p>
		  </article>
		  <article class="row">
		      <section class="large-6 columns">
		          <button ng-click="removeMember(item._id)">{{'OK' | translate}}</button>
		      </section>
		      <section class="large-6 columns text-right">
		          <a class="link-button" ng-click="closeModal('confirm-remove-member-'+item._id)">{{'CANCEL' | translate}}</a>
		      </section>
		  </article>
		</div>

	</div>
</div>

<div loading show="!subPageLoaded" text="{{ 'COMMON.LOADING' | translate }}"></div>
