<div class="community-view profile-common" ng-show="loaded" ng-class="{'mine': mine, 'others': ! mine}">

	<div class="user" ng-show="! info">
		<p>{{ 'ERR_COMMUNITY_NOT_FOUND' | translate }}</p>
	</div>
	<header ng-show="info">
		<div class="user-basic">
			<h1>
				<a href="#!/community/{{info._id}}">
					<span>{{ info.name | ellipsis:20 }}</span>
				</a>
			</h1>
			<p ng-if="info.description">
				<span class="fa fa-quote-right"></span>{{info.description | ellipsis}}
			</p>
		</div>
		<div class="buttons">
			<a ng-if="mine" href="#!/community/{{info._id}}/edit">
				<button class="follow-button blue right">
					<i class="fa fa-plus"></i> {{ 'SETTINGS' | translate}}
				</button>
			</a>
			<button class="follow-button right" ng-if="! mine" ng-click="leaveCommunity()">
				<i class="fa fa-plus"></i> {{ 'LEAVE_COMMUNITY' | translate}}
			</button>
			<a ng-if="!mine && !info.is_member && loggedUser._id && ! info.is_applicant" ng-click="applyForCommunity()" class="right">
				<br />
				<br />
				<span class="fa fa-smile-o"></span> {{'COMMUNITY_APPLY' | translate}}
				&nbsp;
			</a>
			<span class="right" ng-if="!mine && info.is_applicant" >
				<br />
				<br />
				{{'COMMUNITY_APPLICATION_SENT' | translate}} <span class="fa fa-smile-o"></span>
			</span>

			<a href="#!/community/{{info._id}}/invite-friends" class="right" ng-if="false">
				<br />
				<br />
				<span class="fa fa-share"></span> {{'COMMUNITY_INVITE_FRIENDS' | translate}}
				&nbsp;
			</a>
		</div>
		<div class="highlights">
			<a href="#!/community/{{info._id}}" class="profile-photo">
				<img ng-if="info.avatar.large" ng-src="{{info.avatar.large}}" />
			</a>
			<a href="#!/community/{{info._id}}/posts" ng-class="{'active': (pageSegment.substr(9) == 'posts')}" class="friends-and-follows">
				<b>{{info.post_count}}</b>
				<br />
				<pluralize-translate count="info.post_count" key="'GIVES_AND_WISHES'"></pluralize-translate>
			</a>
			<a href="#!/community/{{info._id}}/members" class="communities" ng-class="{'active': (pageSegment.substr(9) == 'members')}">
				<b>{{info.member_count}}</b> 
				<br />
                <pluralize-translate count="info.member_count" key="'COMMUNITY_MEMBERS'"></pluralize-translate>
            </a>
			<a href="#!/community/{{info._id}}/about" class="ratings" ng-class="{'active': (pageSegment.substr(9) == 'about')}">
				{{ 'COMMUNITY_ABOUT_SHORT' | translate}}
            </a>
		</div>
	</header>
	<div class="clear"></div>
	<div app-view-segment="1"></div>
</div>

