<div ng-include="'templates/community/profileMembersPanel.html'"></div>

<div class="people-listing">
	<div class="person" ng-repeat="(id, item) in data track by $index">
		<avatar src="item.avatar.normal" href="'#!/profile/'+item._id" type="item.avatar._type"></avatar>
		<div class="name">
			<h4>
				<a href="/app/profile/{{ item._id}}">{{ item.name | ellipsis:24}}</a>
			</h4>
			<a ng-if="managing && item._id != loggedUser._id" ng-click="confirmBox('COMMUNITY.REMOVE_MEMBER_LABEL', 'COMMUNITY.REMOVE_MEMBER_ARE_YOU_SURE', removeMember, item._id, this)">{{ 'COMMUNITY_KICK_MEMBER' | translate }}</a>
			<span ng-if="(managing && item._id == loggedUser._id) || item.community_admin">{{ 'COMMUNITY_ADMIN' | translate }}</span>
		</div>
	</div>
</div>

<div loading show="!subPageLoaded"></div>
