<section  class="column medium-2 show-for-medium padding-top-small position-relative">
	<div class="v2 user" info-bubble=":: item.entity_to" info-bubble-type=":: item.entity_to._type">
		<a ng-href="{{:: getProfileLink(item.entity_to._type, item.entity_to._id) }}">
			<avatar src="item.entity_to.avatar.normal" type="item.entity_to._type" thanks=":: item.entity_to.up_votes" show-thanks="true" show-glow="true"></avatar>
			<div class="name">{{:: item.entity_to.name}}&nbsp;<span ng-if="item.entity_to.verified === true" class="verified-icon color-offer"><i class="fa fa-fw fa-check-circle " title="{{ 'PROFILE.IS_VERIFIED' | translate }}" tipsy></i></span>
			</div>
		</a>
	</div>
	<div class="item-option-bg-type by-avatar item-option-bg-rating">
		<span ng-if="item.score == -1" class="score-icon">⛅️</span>
		<span ng-if="item.score == 1" class="score-icon">🌞</span>
	</div>

</section>
<section class="column small-12 medium-10 padding-none position-relative" id="rating_{{item._id}}">
	
	<div class="item" ng-class="{ 'positive': item.score == 1, 'negative': item.score < 1}">
		<div class="content">
			<div class="right">
				<div class="date" title="{{:: item.created_at | date:DATETIME_FORMATS.medium}}">
					<i class="fa fa-clock-o"></i>&nbsp; {{:: item.created_at | ago }}</div>
			</div>

			<div class="ratings-small-avatar-container hide-for-medium display-flex margin-bottom-large">
				<a ng-href="{{:: getProfileLink(item.entity_to._type, item.entity_from._id) }}">
					<avatar src="item.entity_from.avatar.normal" type="item.entity_from._type" size="small"></avatar>
					<div class="name">{{:: item.entity_from.name}}&nbsp;<span ng-if="item.entity_from.verified === true" class="verified-icon color-offer"><i class="fa fa-fw fa-check-circle " title="{{ 'PROFILE.IS_VERIFIED' | translate }}" tipsy></i></span>
					</div>
				</a>
			</div>

			<div class="left">
				<h5 class="pull-left">
				<b ng-if="item.score == -1">
						<span translate="PROFILE.RATING.NEGATIVE"></span></b>
				<b ng-if="item.score == 1">
						<span translate="PROFILE.RATING.POSITIVE"></span></b>
				</h5>
				<small ng-if="item.post_id" style="display:inline-block;margin-top:4px;">
					&nbsp;<span translate="PROFILE.RATING.ON_POST"></span>
					<a href="{{:: getProfileLink('Post', item.post_id )}}" title="{{:: postTypes[item.post.author._type][item.post.exact_type][item.post.type] | translate}} {{:: item.post.title }}">
            {{:: postTypes[item.post.author._type][item.post.exact_type][item.post.type] | translate}} {{:: item.post.title | ellipsis:40}}</a>.
				</small>
			</div>
			<div class="clear"></div>
			<div class="text-container clearfix">

					
				<div class="user medium-1 columns margin-top-small" info-bubble=":: item.entity_from" info-bubble-type=":: item.entity_from._type">
					<a ng-href="{{:: getProfileLink(item.entity_from._type, item.entity_from._id) }}">
						<avatar src="item.entity_from.avatar.normal" type="item.entity_from._type" size="small"></avatar>
					</a>
				</div>
				<div class="medium-11 columns bold" style="margin-top:20px;">
					{{:: item.entity_from.name}}&nbsp;<span ng-if="item.entity_from.verified === true" class="verified-icon color-offer"><i class="fa fa-fw fa-check-circle " title="{{ 'PROFILE.IS_VERIFIED' | translate }}" tipsy></i></span>
				</div>

				<div class="medium-12 columns margin-top-medium">
					<p ng-if="!item.hidden" ng-bind-html="item.text | linky:'_blank' | nl2br"></p>
					<p ng-if="item.hidden">
						<i translate="PROFILE.RATING.REMOVED"></i>
					</p>
				</div>
			</div>

			<div class="rating-reply medium-11 medium-push-1 columns" ng-if="item.comment">
				<a href="{{:: getProfileLink(item.entity_to._type, item.entity_to._id )}}" title="{{:: item.entity_to.name }}">
					<avatar class="left margin-right-small" type="item.entity_to._type" src="item.entity_to.avatar.normal" size="small"></avatar>
				</a>
				<div class="">
					<div class="reply-top margin-bottom-tiny">
						<b>{{:: item.entity_to.name | ellipsis:40}}</b>
						<small class="date pull-right" title="{{:: item.comment.created_at | date:DATETIME_FORMATS.medium}}">&nbsp; {{:: item.comment.created_at | ago }}</small>
					</div>
					<em ng-if="!item.comment.hidden">„{{ item.comment.text }}”</em>
					<em ng-if="item.comment.hidden" translate="PROFILE.RATING.REMOVED"></em>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</section>
