<div ng-repeat="(id, item) in receivedRatings track by $index" class="rating" ng-class="{ 'positive': item.score == 1, 'negative': item.score == -1}">
	<div class="display-table">
		<div class="display-table-cell addon">
			<div info-bubble=":: item.entity_from" info-bubble-type=":: item.entity_from._type">
				<a href="{{ getProfileLink(item.entity_from._type, item.entity_from._id) }}">
					<avatar src="item.entity_from.avatar.normal" type="item.entity_from._type"></avatar>
					<div class="name">{{:: item.entity_from.name}}&nbsp;<span ng-if="item.entity_from.verified === true" class="verified-icon color-offer"><i class="fa fa-fw fa-check-circle " title="{{ 'PROFILE.IS_VERIFIED' | translate }}" tipsy></i></span>
					</div>
				</a>
			</div>
		</div>
		<div class="display-table-cell">
			<div class="rating-info">
				<div class="date" title="{{:: item.created_at | date:DATETIME_FORMATS.medium}}">
					<i class="fa fa-clock-o"></i>&nbsp; {{:: item.created_at | ago }}</div>
				<div class="clear-right"></div>
				<div class="rating-body">
					<div class="score">
						<b class="rating-score" ng-if="item.score == -1">
							<i class="score-icon fa icon-rating-negative"></i><span translate="PROFILE.RATING.NEGATIVE"></span></b>
						<b class="rating-score" ng-if="item.score == 1">
							<i class="score-icon bold fa icon-rating-positive"></i><span translate="PROFILE.RATING.POSITIVE"></span></b>
						<small ng-if="item.post_id" class="rating-relation">
							&nbsp;<span translate="PROFILE.RATING.ON_POST"></span>
							<a href="{{:: getProfileLink('Post', item.post_id )}}" title="{{:: postTypes[item.post.author._type][item.post.exact_type][item.post.type] | translate}} {{:: item.post.title }}">
                {{:: postTypes[item.post.author._type][item.post.exact_type][item.post.type] | translate}} {{:: item.post.title | ellipsis:25}}</a>.
						</small>
					</div>
					<div ng-if="!item.hidden" class="rating-text">{{:: item.text}}</div>
					<div ng-if="item.hidden" class="rating-text">
						<i translate="PROFILE.RATING.REMOVED"></i>
					</div>
					<div class="rating-reply flex flex-divided-small flex-align-start" ng-if="item.comment">
						<a href="{{:: getProfileLink(item.entity_to._type, item.entity_to._id )}}" title="{{:: item.entity_to.name }}">
							<avatar class="left" type="item.entity_to._type" src="item.entity_to.avatar.normal" size="small"></avatar>
						</a>
						<div class="margin-left-none">
							<div class="reply-top">
								<span class="text-emphasize">{{:: item.entity_to.name | ellipsis:30}}</span>
								<small class="date" title="{{:: item.comment.created_at | date:DATETIME_FORMATS.medium}}">&nbsp; {{:: item.comment.created_at | ago }}</small>
							</div>
							<i ng-if="!item.comment.hidden">„{{ item.comment.text }}”</i>
							<i ng-if="item.comment.hidden" translate="PROFILE.RATING.REMOVED"></i>
						</div>
					</div>
				</div>
				<div ng-if="!item.comment && mine">
					<a class="right reply-form-link" href="{{ getProfileLink( info._type, info._id)}}/received-ratings?reply={{item._id}}" translate="PROFILE.RATING.ACTION_ADD_COMMENT"></a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
