<div>
  <div class="flex flex-align-start flex-space-between">
    <div class="flex flex-divided-medium flex-align-start flex-space-between flex-wrap">
      <div class="box-lead-icon round left-aligned background-primary non-responsive margin-bottom-small">
        <i class="fa fa-fw fa-user"></i>
      </div>
      <div>
        <div class="flex flex-divided-medium flex-align-start flex-wrap">
          <div ng-repeat="user in vm.usersList | limitTo:vm.avatarLimit track by $index" class="margin-bottom-small">
            <div info-box="user.object" infobox-class="'on-profile'">
              <avatar type=":: 'User'" src=":: user.object.avatar.normal" size="small" href=":: getProfileLink(user.object._type, user.object._id)"></avatar>
            </div>
          </div>
          <div ng-if="vm.usersList.length > vm.avatarLimit" class="avatar avatar-small faux-avatar margin-bottom-small">
            <div class="avatar-image" ng-attr-avatar-text="{{'+' + (vm.usersList.length - vm.avatarLimit)}}"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="margin-top-tiny nowrap">
      <small class="color-dark-gray nowrap" ng-bind=":: vm.other.created_at_timeago" title="{{:: vm.other.created_at_date }}"></small>
    </div>
  </div>
  <div ng-if="vm.usersList.length > 1" users-name-list="vm.usersList"></div>
  <div ng-if="vm.usersList.length === 1" translate="USER.LIST.USER_JOINED_COMMUNITY" translate-values="{user: '<a ui-sref=\'profile.default({id: vm.usersList[0].object._id})\' ng-bind=\'vm.usersList[0].object.name\'></a>'}" translate-compile></div>
</div>