<div ng-include="'templates/profile/subviews/followingPanel.html'"></div>
<div ng-if="subPageLoaded">
	<div class="large-8 large-centered columns box text-center no-result" ng-if="mine && ! data.length">
		<p>{{:: 'PROFILE.FOLLOWERS.NO_FOLLOWERS_ME' | translate }}</p>
	</div>
	<div class="large-8 large-centered columns box text-center no-result" ng-if="! mine && ! data.length">
		<p>{{:: 'PROFILE.FOLLOWERS.NO_FOLLOWERS_OTHER' | translate }}</p>
	</div>
	<div class="people-listing" when-scrolled="loadBottom()" offset="500" loading-in-progress="loadingData">
		<div class="person" ng-repeat="(id, item) in data track by item._id">
			<div class="info-avatar" info-box="item" infobox-index="$index" infobox-class="'on-profile'">
				<avatar type="item._type" href="getProfileLink(item._type, item._id)" src="item.avatar.normal"></avatar>
			</div>
			<div class="name">
				<h4>
					<a href="{{:: getProfileLink(item._type, item._id)}}">{{:: item.name | ellipsis:24 }}</a>
				</h4>
			</div>
		</div>
	</div>
</div>
<div loading show="!subPageLoaded"></div>