<div ng-include="'templates/profile/subviews/followingPanel.html'"></div>

<div ng-if="subPageLoaded">
	<div class="large-8 large-centered columns box text-center no-result" ng-if="mine && ! data.length">
		<p>{{:: 'PROFILE.FRIENDS.NO_FRIENDS_ME' | translate }}</p>
	</div>
	<div class="large-8 large-centered columns box text-center no-result" ng-if="! mine && ! data.length">
		<p>{{:: 'PROFILE.FRIENDS.NO_FRIENDS_OTHER' | translate }}</p>
	</div>

	<div class="people-listing">
		<div class="person" ng-repeat="(id, item) in data track by $index">
			<div class="info-avatar" info-box="item" infobox-index="$index" infobox-class="'on-profile'">
				<avatar href="getProfileLink(item._type, item._id)" src="item.avatar.normal" type="item.user_type"></avatar>
			</div>
			<div class="name">
				<h4>
					<a href="{{:: getProfileLink(item._type, item._id)}}">{{:: item.name | ellipsis:24 }}</a>
				</h4>
			</div>
		</div>
	</div>
</div>

<div loading show="!subPageLoaded"></div>
