<div ng-include="'templates/profile/subviews/ratingsPanel.html'"></div>
<div class="large-8 small-12 medium-12 no-result large-centered columns text-center" ng-if="subPageLoaded && mine && ! data.length">
	<div class="item">
		<p>{{:: 'PROFILE.POSTS.NO_GIVEN_RATINGS_ME' | translate }}</p>
	</div>
</div>
<div class="large-8 small-12 medium-12 no-result large-centered columns text-center" ng-if="subPageLoaded && ! mine && ! data.length">
	<div class="item">
		<p>{{:: 'PROFILE.POSTS.NO_GIVEN_RATINGS_OTHER' | translate }}</p>
	</div>
</div>
<div class="ratings-given rating-listing" when-scrolled="loadBottom()" offset="500" loading-in-progress="loadingData">
	<article class="row rating-item" id="rating_{{ item._id }}" ng-repeat="(id, item) in data track by item._id" ng-include="'templates/directives/_itemGivenRating.html'">
	</article>
</div>
<div loading show="!subPageLoaded"></div>