<div class="content">
	<h5>{{:: 'ADD_USER_RATING' | translate }} {{info.name}}</h5>
	<div class="rating-notify-box"></div>
	<h6>{{:: 'USER_RATING_SCORE_SELECT_TEXT' | translate }}</h6>
	<author-selector id="author" author-id="rating.current_community_id" author="rating.current_community" remove="info._id"></author-selector>
	<needofferselector required-shown='rating.requiredMessageShown' model="rating.score" text-true="{{:: 'POSITIVE' | translate}}" text-false="{{:: 'NEGATIVE' | translate}}"></needofferselector>
	<div class="clear"></div>
	<form ng-submit="sendRating(rating)" id="ratingForm" name="ratingForm" novalidate class="clearfix">
		<h6>{{:: 'RATING_COMMON_POSTS_TOP' | translate}}</h6>
		<span ng-if="loadingRatingPosts">
			<i class="fa fa-spin fa-spinner"></i> {{:: 'COMMON.LOADING' | translate }}
			<br>
		</span>
		<div ng-if="ratingPosts.length && loadedRatingPosts && !loadingRatingPosts">
			<div class="padding-bottom-3">
				{{:: 'USER_RATING_JOIN_REALIZED_GIFT' | translate }}
			</div>
			<select class="full-width select-style" id="ratingsPostsSelect" ng-model="rating.post_id">
				<option value="" ng-selected="true">{{:: 'USER_RATING_CHOOSE_POST_TO_JOIN' | translate }}</option>
				<option ng-repeat="post in ratingPosts" title="{{:: post.title}}" value="{{:: post._id }}">
					{{:: 'RATING_POST_TYPES.'+post.post_type | translate }} {{:: post.title | ellipsis:40 }}
				</option>
			</select>
		</div>
		<div ng-if="!ratingPosts.length && loadedRatingPosts && !loadingRatingPosts" class="padding-bottom">
			{{:: 'RATING_NO_COMMON_POST_IN_3_MONTHS' | translate }}
		</div>
		<br />
		<label>
			<h6>{{:: 'RATINGS_LABEL_WRITE_SOME_WORD' | translate}}</h6>
		</label>
		<input-max-length input-type="textarea" show-counter="true" min-length="3" max-length="500" isrequired="yes" placeholder="{{'WRITE_USER_SOME_RATING' | translate }}" model="rating.text" name="text" id="reply-text"></input-max-length>
		<div class="fleft error clearfix" ng-show="showError.text">
			<span ng-show="ratingForm.text.$error.required">{{:: 'ERR_NOT_FILLED_RATING' | translate }}</span>
			<span ng-show="ratingForm.text.$error.minlength">{{:: 'ERR_RATING_IS_TOO_SHORT' | translate }}</span>
		</div>
		<div class="clearfix">&nbsp;</div>
		<strong>
			<a ng-click="closeUserRatingForm()" class="revert-changes">
				<i class="fa fa-chevron-left"></i>&nbsp; {{:: 'CANCEL' | translate }}</a>
		</strong>
		<button type="submit" class="button right" ng-class="{ 'positive': rating.score == true, 'negative': rating.score == false, 'neutral': isNull(rating.score)}">
			{{:: 'SEND_USER_RATING' | translate }} &nbsp;
			<i class="score-icon fa" ng-class="{'icon-rating-negative': !rating.score,'icon-rating-positive': rating.score}"></i>
		</button>
	</form>
</div>