<div ng-include="'templates/profile/subviews/postPanel.html'"></div>

<div ng-if="subPageLoaded" class="reply-list">

	<article ng-repeat="(id, item) in replies track by $index" class="reply row" id="reply_{{ item._id }}">

		<section class="large-2 columns user">
			<div info-box="item.post.author">
				<a ng-href="{{:: getProfileLink(item.post.author._type, item.post.author._id) }}">
					<avatar type="item.post.author._type" src="item.post.author.avatar.large"></avatar>
					<div class="name">{{:: item.post.author.name }}</div>
				</a>
			</div>
		</section>
		<div class="large-10 fleft columns">
			<article class="box post-detail" ng-class="item.type" ng-init="marketplace.expanded = false;">
				<span class="ad-date fright" title="{{:: item.created_at | date:DATETIME_FORMATS.medium}}">
					{{item.created_at | ago}}
				</span>

				<span class="text-container">
		        	{{:: item.message.text | ellipsis}}
			        <a ng-href="{{:: getProfileLink(item._type, item._id) }}" class="fa fa-share"></a>
				</span>

				<div class="clear"></div>
				
				<br />
				<span class="right">
					{{:: 'REPLY_TO_POST' | translate }}&nbsp;
					<a class="right" ng-href="{{:: getProfileLink('Post', item.post._id) }}">
						{{:: postTypes[item.post.author._type][item.post.type] | translate }} {{:: item.post.title | ellipsis:60 }}
					</a>
				</span>
				<div class="clear"></div>
			</article>
		</div>
	</article>
</div>

<div loading show="!subPageLoaded"></div>