<div ng-include="'templates/profile/subviews/postPanel.html'"></div>

<div ng-if="subPageLoaded" class="reply-list">
	<div ng-repeat="(id, item) in replies track by $index" class="reply">

		<div class="applications-item">
	        <!-- <avatar class="left margin-bottom-20" href="basePath+'profile/'+item._id" src="item.avatar.normal" type="item._type"></avatar>
	        <div class="applications-text">
	            <a href="{{:: basePath }}profile/{{:: item._id}} ">
	            	{{:: item.name | ellipsis}}
	            </a><br>
	            <a href="{{:: basePath }}profile/{{:: item._id}} ">
	            	<small>{{:: 'SHOW_PROFILE' | translate}}</small>
	            </a>
	        </div>
	        <div class="applications-buttons">
	            <a ng-click="approveApplication(item._id)" title="{{:: 'COMMUNITY_MEMBER_ACCEPT' | translate }}" class="yes"><i class="fa fa-check"></i></a>
	            <a ng-click="rejectApplication(item._id)" title="{{:: 'COMMUNITY_MEMBER_REJECT' | translate }}" class="no"><i class="fa fa-times"></i></a>
	        </div> -->

	        POST: 
	        <a ng-href="{{:: getProfileLink(item.post.author._type, item.post.author._id) }}">{{:: item.post.author.name}}</a>
	         - 
	        <a ng-href="{{:: getProfileLink('Post', item.post._id) }}">{{:: postTypes[item.post.author._type][item.post.type] | translate }} {{:: item.post.title}}</a>

	        <br />

	        REPLY:
	        <a ng-href="{{:: getProfileLink(item._type, item._id) }}">
	        	{{:: item.message.text | ellipsis}}
        	</a>
        	- 
	        <span title="{{:: item.created_at | date:DATETIME_FORMATS.medium}}">
				{{ item.created_at | ago}}
			</span>

			<hr />
		</div>
	</div>	
</div>

<div loading show="!subPageLoaded"></div>