<div class="large-7 columns">
<p><strong>Is Hearth giving you joy?</strong> Are you meeting nice people here? We would be happy if you could join us to help open up the hearts of other folks. </p>

<p>Hearth is free for all and <strong>with no ads</strong>. It is possible thanks to the financial support of Libor Malý and it will keep being possible if you join us!</p><br>
</div>

<div class="large-5 columns hide-for-small">
	<img src="./images/banner/corner-crowdsource.png" class="right"/>
</div>

<div class="large-12 columns i-want">
	<div class="large-3 columns center text-center">
		<img src="./images/banner/crowdsource1.jpg" width="130" height="130" class="round"/>
	</div>
	<div class="large-9 columns">
		<h3>Contribute financially</h3>
		<p>One off, recurring, or any sum on a regular basis in an amount you choose. Goodwill doesn’t have an exchange rate and we know every gift to Hearth matters.</p>
		<a class="button give-money text-center" ng-click="openModal('support-us-modal-pay');">Donate to Hearth</a>
	</div>

</div>

<hr />

<div class="large-12 columns i-want">
	<div class="large-3 columns center text-center">
		<img src="./images/banner/crowdsource2.jpg" width="130" height="130" class="round"/>
	</div>
	<div class="large-9 columns">
		<h3>Come create with us</h3>
		<p>If you know what these code names mean: Ruby, AngularJS, NoSQL MongoDB, Docker, Redis and Heroku and would like to dedicate a couple of hours of your time and experience, we would be very happy to welcome you onto our team.</p>
		<a class="button write-email" ng-click="openModal('support-us-modal-write-us');">I`m in</a>
	</div>
</div>

<hr />

<div class="large-12 columns i-want">
	<div class="large-3 columns center text-center">
		<img src="./images/banner/crowdsource3.jpg" width="130" height="130" class="round"/>
	</div>
	<div class="large-9 columns">
		<h3>Spread the word</h3>
		<div ng-include="'support-us-endorse'">
	</div>
</div>

<div class="clearfix large-12 columns text-center">
	<br><br>
	<strong>Thank you for your open heart, the world is again a little better and a more generous place because of you. </strong></p>
	<p>Your Hearth.net</p>
</div>




<script type="text/ng-template" id="support-us-modal-widget">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Add a logo to your website' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate>
			<p>Copy the HTML code and insert it into your web. <a href="feedback">Contact us for more info.</a></p>

				<div class="small-12 large-5 columns">
					<img src="images/logo-dark.png" width="200" style="padding:10px;">
				</div>
				<div class="small-12 large-7 columns">
					<textarea onclick="this.focus();this.select()" readonly="readonly"><a href="https://www.hearth.net/" target="_blank"><img src="https://hearth.net/app/images/logo-dark.png" width="150" style="background:#fff; padding:10px;"></a></textarea>
				</div>

				<div class="small-12 large-5 columns">
					<img src="images/logo-orange.png" width="200">
				</div>
				<div class="small-12 large-7 columns">
					<textarea onclick="this.focus();this.select()" readonly="readonly"><a href="https://www.hearth.net/" target="_blank"><img src="https://hearth.net/app/images/logo-orange.png" width="150"></a></textarea>
				</div>

				<div class="small-12 large-5 columns">
					<img src="images/logo.png" style="background:#7c766a; padding:10px;" width="200">
				</div>
				<div class="small-12 large-7 columns">
					<textarea onclick="this.focus();this.select()" readonly="readonly"><a href="https://www.hearth.net/" target="_blank"><img src="https://hearth.net/app/images/logo.png" width="150" style="padding:10px;"></a></textarea>
				</div>

				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>


<script type="text/ng-template" id="support-us-modal-print">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Print out a leaflet' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate autofocus>
				<!--<p>Vytiskni si leták a pochlub se jím svým přátelům. Určitě také rádi přijdou do Hearth.net.</p>-->
				<div class="small-12 large-4 columns text-center">
					<a href="https://s3-eu-west-1.amazonaws.com/hearth-net-topmonks-production-ugc/static/cs/O_Hearth.net_A4.pdf" target="_blank">
						<b>A4</b>
						<br><br>
						<i class="fa fa-file-pdf-o" style="font-size:50px;"></i>
						<br><br>
						PDF, 550 kB
						<br><br>
					</a>
				</div>
				<div class="small-12 large-4 columns text-center">
					<a href="https://s3-eu-west-1.amazonaws.com/hearth-net-topmonks-production-ugc/static/cs/O_Hearth.net_A5.pdf" target="_blank">
						<b>A5</b>
						<br><br>
						<i class="fa fa-file-pdf-o" style="font-size:50px;"></i>
						<br><br>
						PDF, 500 kB
						<br><br>
					</a>
				</div>
				<div class="small-12 large-4 columns text-center">
					<a href="https://s3-eu-west-1.amazonaws.com/hearth-net-topmonks-production-ugc/static/cs/O_Hearth.net_A6.pdf" target="_blank">
						<b>A6</b>
						<br><br>
						<i class="fa fa-file-pdf-o" style="font-size:50px;"></i>
						<br><br>
						PDF, 160 kB
						<br><br>
					</a>
				</div>
				<div class="small-12 columns">&nbsp;</div>
				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>

<script type="text/ng-template" id="support-us-modal-endorse" ng-init="modalInit('support-us-modal-endorse')">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h3>Spread the word</h3>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>
		<div ng-include="'support-us-endorse'"></div>
		<div class="clear"></div>
		<div class="display-flex flex-space-between margin-top-medium">
			<a ng-click="closeThisDialog()">{{:: 'CLOSE' | translate }}</a>
		</div>
	</div>
</script>

<script type="text/ng-template" id="support-us-endorse">
	<p>If you can introduce our generous social network to the people around you and invite them to Hearth.net, we’re happy to help out. There are three options for starters, pick the one you like most.</p>
	<div class="i-want-more">
		<div class="large-6 columns">
			<div class="panel get-badge">
				<h3>Badges and stickers</h3>
				<img src="./images/icons/hearth.svg"/>
				<a href="" ng-click="openModal('support-us-modal-badge');" class="button" style="width:180px;">Get stickers</a>
			</div>
		</div>
<!-- 			<div class="large-4 columns">
			<div class="panel print-flyer">
				<h3>Print out a leaflet</h3>
				<img src="./images/icons/print.svg"/>
				<a href="" ng-click="openModal('support-us-modal-print');" class="button">I want a leaflet</a>
			</div>
		</div> -->
		<div class="large-6 columns">
			<div class="panel get-widget">
				<h3>Add a logo to your website</h3>
				<img src="./images/icons/window2.svg"/>
				<a href="" ng-click="openModal('support-us-modal-widget');" class="button" style="width:180px;">Download a logo</a>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="support-us-modal-badge">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Badges and stickers' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div ng-show="!addressDataEmailSent">
			<form ng-submit="submitEmailWithPostalData()" id="" name="sendEmailWithPostalData" class="invite-form row" novalidate autofocus>
				<p>Thanks for helping to spread joy for Hearth. </p>

				<div class="small-12 large-3 columns">
					<label for="type">{{'I want:' | translate}}</label><br>
				</div>
				<div class="small-12 large-9 columns">
					<checkbox model="postalAddressData.badges" on-update="void()" value="true" value-off="false">Badges</checkbox>
					<input type="number" ng-model="postalAddressData.numBadges" name="num-badges" class="display-inline-block" />
					<span class="display-inline-block" style="width:25px;"></span>
					<checkbox model="postalAddressData.stickers" on-update="void()" value="true" value-off="false">Stickers</checkbox>
					<input type="number" ng-model="postalAddressData.numStickers" name="num-stickers" class="display-inline-block" />
				</div>
				<div class="small-12 large-3 columns">
					<label for="email">{{'Email:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="email" type="email" ng-model="postalAddressData.email" name="email" class="form-control text-input top" required ng-required="true" placeholder="Email" ng-pattern="emailPattern"/>
				</div>

				<div class="small-12 large-12 columns">&nbsp;</div>

				<div class="small-12 large-3 columns">
					<label for="fullname">{{'Name, surname:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="fullname" type="text" name="fullname" ng-model="postalAddressData.fullName" class="form-control text-input top" placeholder="Name"/>
				</div>

				<div class="small-12 large-3 columns">
					<label for="street">{{'Street, number:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="street" type="text" name="street" ng-model="postalAddressData.street" class="form-control text-input top" placeholder="Street"/>
				</div>

				<div class="small-12 large-3 columns">
					<label for="city">{{'City, country:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="city" type="text" name="city" ng-model="postalAddressData.city" class="form-control text-input top" placeholder="City and country"/>
				</div>

				<div class="small-12 large-3 columns">
					<label for="psc">{{'Postcode:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="psc" type="text" name="psc" ng-model="postalAddressData.psc" class="form-control text-input top" placeholder="Postcode"/>
				</div>

				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
					<button type="submit" class="button button-send" ng-disabled="sendEmailWithPostalData.$invalid"> {{ 'SEND' | translate }} </button>
				</div>
			</form>
		</div>
		<div ng-show="addressDataEmailSent">
			<p class="success">Thanks for your interest. You can look forward to a package within a couple of days.</p>
			<div class="display-flex flex-space-between margin-top-medium">
				<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</script>


<script type="text/ng-template" id="support-us-modal-write-us" ng-init="modalInit('support-us-modal-write-us')">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Create with us' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div ng-show="!contactDataEmailSent">
			<form ng-submit="submitEmailWithContactData()" id="" name="sendEmailWithContactData" class="invite-form row" novalidate autofocus>
				<p>Wow, looks like we‘re about to meet soon. Please give us few words about your skills. Front end, back end, UX…? Add couple of projects you have finished or are working on. Plus a contact and we’ll get back to you.</p>
				<div class="small-12 large-3 columns">
					<label for="message-text">{{'I can give:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<textarea id="message-text" name="text" class="form-control text-input top" required placeholder="" ng-model="contactData.text"/>
				</div>

				<div class="small-12 large-3 columns">
					<label for="email">{{'My e-mail:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="email" type="email" name="email" class="form-control text-input top" required ng-required="true" placeholder="" ng-model="contactData.email" ng-pattern="emailPattern"/>
				</div>
				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
					<button type="submit" class="button button-send" ng-disabled="sendEmailWithContactData.$invalid"> {{ 'SEND' | translate }} </button>
				</div>
			</form>
		</div>
		<div ng-show="contactDataEmailSent">
			<p class="success">Thanks for your interest, we'll respond to your e-mail soon.</p>
			<div class="display-flex flex-space-between margin-top-medium">
				<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</script>

<script type="text/ng-template" id="support-us-modal-pay" ng-init="modalInit('support-us-modal-pay')">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Contribute financially' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>
		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate autofocus>
				<p>Thank you for your decision and welcome to our Hearth.</p>
				<div>
					<iframe style="width: 300px; height: 250px; display:block; margin:0 auto; overflow: hidden; border-style: none;" src="https://www.darujme.cz/dar/widgets/widget.php?widget=928" height="250"></iframe>
				</div>
				<div>
					<br><br>
					<p class="text-center">Transparent account at FIO Banka a.s., number <a href="https://www.fio.cz/ib2/transparent?a=2600332809" target="_blank">2600332809 / 2010</a></p>
				</div>
				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>