<!-- MARKET Start -->
<div class="market row">
  <!-- MARKET FILTER Start -->
  <div class="large-3 columns" style="background-color: #fafafa;">
    <div class="filter">
      <form>
        <h4>Typ</h4>
        <label for="checkbox1"><input id="checkbox1" type="checkbox"> Dary</label>
        <label for="checkbox2"><input id="checkbox2" type="checkbox"> Přání</label>
        <label for="checkbox3"><input id="checkbox3" type="checkbox"> Všechny dary a přání</label>

        <hr/>

        <h4>Čas</h4>
        <label for="checkbox4"><input id="checkbox4" type="checkbox"> Dnes</label>
        <label for="checkbox5"><input id="checkbox5" type="checkbox"> 3 dny</label>
        <label for="checkbox6"><input id="checkbox6" type="checkbox"> Týden</label>
        <label for="checkbox7"><input id="checkbox7" type="checkbox"> Bez omezení</label>

        <hr/>

        <h4>Místo</h4>
        <input type="text" placeholder="např. Praha"/>

        <div class="row v-m-small">
          <div class="small-8 medium-11 columns">
            <div class="range-slider" data-slider data-options="display_selector: #sliderOutput3;">
              <span class="range-slider-handle" role="slider" tabindex="0"></span>
              <span class="range-slider-active-segment"></span>
            </div>
          </div>
          <div class="small-4 medium-1 columns">
            do <span id="sliderOutput3">25</span> km
          </div>
        </div>

        <hr/>

        <h4>Autor</h4>
        <label for="checkbox8"><input id="checkbox8" type="checkbox"> Jednotlivci</label>
        <label for="checkbox9"><input id="checkbox9" type="checkbox"> Komunity</label>
        <label for="checkbox10"><input id="checkbox10" type="checkbox"> Jen mí přátelé</label>

        <hr/>

        <a href="#" class="button expand">Filtrovat <b>(476)</b></a>

        <label for="checkbox11"><input id="checkbox11" type="checkbox"> Uložit filtr</label>
      </form>
    </div>
  </div>
  <!-- MARKET FILTER End -->
  <!-- MARKET POSTS Start -->
  <div class="large-9 columns" style="background-color: #ffffff;">
    <!-- MARKET POST Start -->
    <div class="post row">
      <!-- MARKET POST AVATAR Start -->
      <div class="medium-2 columns">
        <div class="row v-m-small">
          <div class="small-3 medium-12 columns">
            <div class="avatar">
              <a href="#">
                <img style="max-width: 100%;"
                     src="https://www.hearth.net/app/images/no-avatar.jpg"/>
              </a>
            </div>
            <div class="name show-for-medium-up">Lucie Gramelová</div>
          </div>
          <div class="small-3 medium-12 columns">
            <div class="progress">
              <span class="meter" style="width: 33%"></span>
            </div>
          </div>
          <div class="small-6 columns hidden-for-medium-up">
            <span>před 11 minutami</span>
          </div>
        </div>
      </div>
      <!-- MARKET POST AVATAR End -->
      <!-- MARKET POST CONTENT Start -->
      <div class="medium-10 columns">
        <div class="content">
          <div class="title clearfix">
            <h2 class="left">Věnuji kurz španělštiny</h2>
            <span class="right show-for-medium-up">před 11 minutami</span>
          </div>

          <h3 class="location"><i class="fa fa-map-marker"></i> Praha 9</h3>

          <p>Chce se ještě někdo připojit k zítřejšímu kurzu španělštiny pro začátečníky? Praha 4, 9-16. Kontakt na mě:
            Lucka Gramelová, telefon 605 275 278.</p>

          <p class="labels">
            <span class="label">Španělština</span>
            <span class="label">Kurz</span>
            <span class="label">Výuka</span>
            <span class="label">Cestování</span>
          </p>

          <div class="action row">
            <div class="medium-5 large-4 columns">
              <a href="#" class="button expand">Požádat o dar</a>
            </div>
            <div class="medium-7 large-8 columns small-only-text-center">
              Už požádal 1 člověk.
            </div>
          </div>
        </div>
      </div>
      <!-- MARKET POST CONTENT End -->
    </div>
    <hr/>
    <!-- MARKET POST End -->
    <!-- MARKET POST Start -->
    <div class="post row">
      <!-- MARKET POST AVATAR Start -->
      <div class="medium-2 columns">
        <div class="row v-m-small">
          <div class="small-3 medium-12 columns">
            <div class="avatar">
              <a href="#">
                <img style="max-width: 100%;"
                     src="https://www.hearth.net/app/images/no-avatar.jpg"/>
              </a>
            </div>
            <div class="name show-for-medium-up">Olga Vachalova</div>
          </div>
          <div class="small-3 medium-12 columns">
            <div class="progress">
              <span class="meter" style="width: 100%"></span>
            </div>
          </div>
          <div class="small-6 columns hidden-for-medium-up">
            <span>před hodinou</span>
          </div>
        </div>
      </div>
      <!-- MARKET POST AVATAR End -->
      <!-- MARKET POST CONTENT Start -->
      <div class="medium-10 columns">
        <div class="content">
          <div class="title clearfix">
            <h2 class="left">Přijmu sušičku ovoce</h2>
            <span class="right show-for-medium-up">před hodinou</span>
          </div>

          <h3 class="location"><i class="fa fa-map-marker"></i> Kladno, CZ; Praha, CZ; Příbram, CZ</h3>

          <p>pokud někdo doma má, nevyužije a rád věnuje, udělá mi radost!</p>

          <p class="thumbnails">
            <a class="th" href="#">
              <img src="http://foundation.zurb.com/docs/assets/img/examples/space-th-sm.jpg" width="163" height="122"/>
            </a>
            <a class="th" href="#">
              <img src="http://foundation.zurb.com/docs/assets/img/examples/space-th-sm.jpg" width="163" height="122"/>
            </a>
            <a class="th" href="#">
              <img src="http://foundation.zurb.com/docs/assets/img/examples/space-th-sm.jpg" width="163" height="122"/>
            </a>
          </p>

          <p class="labels">
            <span class="label">Sušička ovoce</span>
          </p>

          <div class="action row">
            <div class="medium-5 large-4 columns">
              <a href="#" class="button expand">Nabídnout dar</a>
            </div>
            <div class="medium-7 large-8 columns small-only-text-center">
              Už požádali 2 lidi.
            </div>
          </div>
        </div>
      </div>
      <!-- MARKET POST CONTENT End -->
    </div>
    <hr/>
    <!-- MARKET POST End -->
  </div>
  <!-- MARKET POSTS End -->

</div>
<!-- MARKET End -->
