.ie-only {
	display: none !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie-hide {
		display: none !important;
	}
	.ie-only {
		display: inherit !important;
	}

	.flex .flex-1{flex: 1 1 auto}
	.flex .flex-2{flex: 2 1 auto}
	.flex .flex-3{flex: 3 1 auto}
	.flex .flex-4{flex: 4 1 auto}
	.flex .flex-5{flex: 5 1 auto}
	.flex .flex-6{flex: 6 1 auto}
	.flex .flex-7{flex: 7 1 auto}
	.flex .flex-8{flex: 8 1 auto}
	.flex .flex-9{flex: 9 1 auto}
	.flex .flex-10{flex: 10 1 auto}
	.flex .flex-11{flex: 11 1 auto}
	.flex .flex-12{flex: 12 1 auto}

	div #nav-tabs,
	div .ball p,
	div .jumbo{
		flex: 1 1 auto;
	}

	.ie-3-balls {
		position: relative;
		width: 100%;
		margin: 20px 0;
	}
	.ie-3-balls > div {
		color: #fff;
		font-size: 60%;
		text-align: center;
		border-radius: 50%;
	}
}
@media all and (min-width: 1px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie-3-balls > div {
		width: 120px; height: 120px;
		padding-top: 25px;
	}
	.ie-3-balls > div:nth-child(2) {
		margin-right: -20px;
		margin-left: -20px;
	}
}
@media all and (min-width: 400px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie-3-balls > div {
		width: 160px; height: 160px;
		padding-top: 30px;
		font-size: 90%;
	}
}
@media all and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie-3-balls > div {
		width: 210px; height: 210px;
		padding-top: 30px;
		font-size: 100%;
	}
}
@media all and (min-width: 992px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie-3-balls > div {
		width: 300px; height: 300px;
		padding-top: 60px;
		font-size: 120%;
	}
}