html{
	font: 20px/1.25 'Merriweather Sans', Helvetica, Arial, sans-serif;
	scroll-behavior: smooth;
	-webkit-font-smoothing: subpixel-antialiased;
}
h1,h2,h3{
	text-align: center;
	font-weight: normal;
}
h1{
	font-size: 27px;
	margin-top: 0;
	margin-bottom: 32px;
	line-height: 64px;
}
@media (min-width: 768px){
	html{
		font: 20px/1.6 'Merriweather Sans', Helvetica, Arial, sans-serif;
	}
	h1{
		font-size: 48px;
	}
}
.faux-paragraph,
p{
	font-family: 'Raleway';
}
.hr {
	height: 1px;
	width: 100%;
	margin: 16px 0;
	background: #ccc;
}
/*******************
	JS HELPERS
*******************/
[user-not-logged], [user-logged] {display: none}
.inited[user-not-logged], .inited[user-logged] {display: inherit}

/*******************
	COLOR
*******************/
h1,h2,h3,
.color-primary{color: #fa5800}
.color-secondary{color: #a7bd1d}
.color-tertiary{color: #1fb1e8}
.background-primary{background-color: #fa5800}
.background-secondary{background-color: #a7bd1d}
.background-tertiary{background-color: #1fb1e8}
.background-alternate{background-color: #fcfbf4 !important}
a{color: #4a4a4a}
/*******************
	BUTTON
*******************/
.button{
	display: inline-block;
	padding: 8px 32px;
	color: #fff;
	background-color: #fa5800;
	border: 0px solid;
	border-radius: 30px;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	text-decoration: none;
	transition: .3s all;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
@media (min-width: 400px){
	.button{
		font-size: 20px;
	}
}
.button.small{
	padding: 8px 16px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
}
.button.color-secondary{
	background-color: #a7bd1d;
}
.button.alt{
	color: #fa5800;
	background-color: transparent;
	border: 3px solid #fa5800;
}
.button.alt.color-secondary{
	color: #a7bd1d;
	border: 3px solid #a7bd1d;
}
.button-flame{
	position: relative;
	top: 3px;
	display: inline-block;
	width: 20px; height: 20px;
	margin-right: 8px;
	background-image: url('../img/hearth-flame.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.button-flame.large{
	width: 40px; height: 40px;
	margin-bottom: 5px;
}
.alt > .button-flame{
	background-image: url('../img/hearth-flame-alt.png');
}
a.masonry-item:hover .button,
.button:hover{
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.button.special{
	padding: 4px 20px;
	border: none;
}
/*******************
	TRIBAR
*******************/
.tribar{
  position: relative;
  padding-left: 1.25em;
}
.tribar:before{
  content: '';
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
}
/*******************
	SECTION
*******************/
.section > section {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px
}
.section + .section,
.section > section + section {
	/*margin-top: 40px;*/
	padding-top: 40px;
}
.section:last-of-type{
	margin-bottom: 40px;
}
.section > section h1 {
	margin-top: 56px;
}
/*.section > section + section h1 {
	margin-top: 96px;
}*/
/*******************
	NAV
*******************/
.header-wrapper{
	position: fixed;
	top: 0;
	width: 100%; height: 70px;
	display: flex;
	/*align-items: center;*/
	align-items: stretch;
	justify-content: space-between;
	padding: 0 16px;
	background-color: rgba(255,255,255,.2);
	transition: .3s all;
	z-index: 100;
	font-size: 20px;
	-webkit-backface-visibility: hidden;
}
.header-wrapper.contracted{
	background-color: #fff;
	height: 70px;
	box-shadow: 0 2px 4px rgba(0,0,0,.4);
}
.header-wrapper .logo{
	width: 250px; height: 56px;
	margin-left: 8px;
	background-image: url('../img/logo-dark.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .3s all;
}
@media (min-width: 400px){
	.header-wrapper{
		height: 100px;
	}
}
.header-wrapper.contracted .logo{
	width: 200px;
}
.nav-item{
	padding: 8px 12px 8px 8px;
	font-weight: bold;
	white-space: nowrap;
	text-decoration: none;
	font-size: 14px;
}
@media (min-width: 400px){
	.nav-item{
		margin: 0 4px;
		font-size: 16px
	}
}
.nav-item:hover.has-hover-effect{
	text-decoration: underline;
}
.main-navigation{
	display: flex;
}
/*******************
	FLAG
*******************/
.language-wrapper{
	position: relative;
	margin-left: 0;
	padding: 4px 0 4px 4px; /* to match 12px spacing of nav-items */
}
.nav-clickable{
	margin-right: 8px;
	margin-left: 8px;
	cursor: pointer;
}
@media (min-width: 400px){
	.header-wrapper:first-child .nav-clickable{
		margin-right: 0px;
	}
	.header-wrapper:last-child .nav-clickable{
		margin-left: 0px;
	}
}
.language-panel{
	display: none;
}
.hover-window{
	display: none !important;
}
.hover-window.is-active{
	position: absolute;
	display: flex !important;
	flex-direction: column;
	align-items: flex-start;
	top: calc(100% + 7px); left: -5px;
	padding: 16px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 8px rgba(0,0,0,.6);
}
.hover-window::before{
	content: '';
	position: absolute;
	bottom: 100%; left: 25px;
	width: 0;
	height: 0;
	border: solid transparent;
	pointer-events: none;
	border-color: transparent;
	border-bottom-color: #fff;
	border-width: 8px;
	margin-left: -8px;
}
.contracted .hover-window::before{
	left: 20px;
}
.hover-window.is-active.window-align-right{
	left: inherit; right: 5px;
}
.hover-window.window-align-right::before{
	left: inherit; right: 18px;
}
.language-panel .language-option{
	font-weight: bold;
}
.language-panel .language-option .flag{
	margin-right: 8px;
}
.hover-window li,
#main-navigation li{
	border-bottom: 1px solid #ddd;
}
.hover-window li:last-child,
#main-navigation li:last-child{
	border-bottom: none;
}
.hover-window li a,
#main-navigation li a{
	display: block;
	min-width: 200px;
	margin: 0;
}
.hover-window li:first-child a,
#main-navigation li:first-child a{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.hover-window li:last-child a,
#main-navigation li:last-child a{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.hover-window li a:hover,
#main-navigation li a:hover{
	background: #f4f4f4;
}

.sub-link-list .nav-item {
	color: #999;
	font-size: 16px;
	font-weight: normal;
}
.sub-link-list .nav-item:hover {
	color: #fa5800;
}
/*@media (min-width: 1200px){
	#language-panel{
		flex-order: 4;
		display: inherit;
	}
}*/
.flag{
	display:inline-block;
	width: 30px; height: 30px;
	vertical-align: middle;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: .3s all;
}
@media (min-width: 400px){
	.flag{
		width: 40px;
		height: 40px;
	}
	.hover-window .flag {
		width: 30px;
		height: 30px;
	}
	.header-wrapper.contracted .flag{
		width: 30px; height: 30px;
	}
}
html[lang='en'] .language-toggle .flag,
.flag.flag-en{
	background-image: url('../img/flags/flag-english.svg');
}
html[lang='cs'] .language-toggle .flag,
.flag.flag-cs{
	background-image: url('../img/flags/flag-czech.svg');
}
html[lang='sk'] .language-toggle .flag,
.flag.flag-sk{
	background-image: url('../img/flags/flag-slovak.svg');
}
html[lang='cs'] #large-language-panel #language-large-cs,
html[lang='cs'] .language-panel .lang-cs,
html[lang='sk'] #large-language-panel #language-large-sk,
html[lang='sk'] .language-panel .lang-sk,
html[lang='en'] #large-language-panel #language-large-en,
html[lang='en'] .language-panel .lang-en{
	display: none;
}
/*******************
	JUMBO
*******************/
.jumbo-wrapper{
	height: 520px;
	min-height: 520px;
	background-color: #e4f8ff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 0;
}
@media (min-width: 768px){
	.jumbo-wrapper{
		height: 90vh;
	}
}
.jumbo-show{
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 0;
	transition: opacity 1s ease-in;
}
.jumbo-show + .jumbo-show{opacity: 0;}
.jumbo-wrapper .show-1{background-image: url('../img/jumbo/jumbo-1-small.jpg');}
.jumbo-wrapper .show-2{background-image: url('../img/jumbo/jumbo-2.jpg');}
.jumbo-wrapper .show-3{background-image: url('../img/jumbo/jumbo-3.jpg');}
.jumbo-wrapper .show-4{background-image: url('../img/jumbo/jumbo-4.jpg');}
.jumbo-wrapper .show-5{background-image: url('../img/jumbo/jumbo-5.jpg');}
@media (min-width: 768px){
	.jumbo-wrapper .show-1{background-image: url('../img/jumbo/jumbo-1.jpg');}
	.jumbo-wrapper .show-2{background-image: url('../img/jumbo/jumbo-2.jpg');}
}
.jumbo{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 100px 0;
}
.jumbo h1,
.jumbo h2{
	margin: 0 0 20px;
	color: #fff;
}
.jumbo h1{
	font-size: 36px;
	line-height: 1.3;
	font-weight: bold;
}
@media (min-width: 768px){
	.jumbo h1{
		font-size: 60px;
	}
}
.jumbo h1,
.jumbo h2,
.shine-only{
	text-shadow: 0 2px 4px rgba(0,0,0,.4);
}
.shine{
	text-shadow: 0 2px 4px rgba(0,0,0,.4);
	-webkit-animation: shine 2.6s forwards;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 1.3s;
}
@-webkit-keyframes shine {
	0% { text-shadow: 0 2px 4px rgba(0,0,0,.4); }
	60% { text-shadow: 0 2px 4px rgba(0,0,0,.4), 0 0 30px #fff; }
	100% { text-shadow: 0 2px 4px rgba(0,0,0,.4); }
}
@keyframes shine {
	0% { text-shadow: 0 2px 4px rgba(0,0,0,.4) }
	60% { text-shadow: 0 2px 4px rgba(0,0,0,.4), 0 0px 30px #fff; }
	100% { text-shadow: 0 2px 4px rgba(0,0,0,.4) }
}
.jumbo h2{font-size: 32px; font-weight: normal;}

/* animated slash */
.jumbo .special-underline-wrapper{
	position: relative;
}
.jumbo .special-underline,
.jumbo .special-underline::before,
.jumbo .special-underline::after{
	position: absolute;
	width: 0; height: 6px;
	bottom: -10%;
	border-radius: 3px;
	background: #fa5800;
	box-shadow: 0 2px 4px rgba(0,0,0,.4);

	-webkit-animation: slide 0.1s forwards;
	-webkit-animation-timing-function: ease-out;
	animation: slide 0.1s forwards;
	animation-timing-function: ease-out;
}
.jumbo .special-underline::before,
.jumbo .special-underline::after{
	content: '';
	width: 0;
}
.jumbo .special-underline{
	left: 0;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.jumbo .special-underline::before{
	bottom: -100%; right: 0;
	transform: rotate(-5deg);

	-webkit-animation-delay: 1.15s;
	animation-delay: 1.15s;
}
.jumbo .special-underline::after{
	bottom: -200%; left: 0;

	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

.jumbo .dotstyle-wrapper {
	position: absolute;
	bottom: 100px; left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 768px){
	.jumbo .dotstyle-wrapper {
		bottom: 140px;
	}
}

@-webkit-keyframes slide {100% { width: 100%; }}
@keyframes slide {100% { width: 100%; }}

/*******************
	AVATAR
*******************/
.avatar {
	width: 50px; height: 50px;
	border-radius: 50%;
	border: 4px solid #fff;
	transition: .3s all;
}
@media (min-width: 768px) {
	.avatar {
		width: 60px; height: 60px;
	}
}

/*******************
	DIVIDERS
*******************/
.contains-slash{
	position: relative;
	padding-bottom: 110px;
}
.contains-slash + .section > section > h1{
	margin-top: 0;
}
.slash{
	position: absolute;
	bottom: -1px; left: 0;
	width: 100%;
	overflow: hidden;
	padding-bottom: 110px;
}
.slash:before{
	content: '';
	position: absolute;
	top: 50%; left: -15%;
	width: 130%; height: 100%;
	display: block;
	transform: rotate(-6deg);
	background-color: #fff;
}
@media (min-width: 992px){
	.slash:before{
		transform: rotate(-3deg);
	}
}
.slash.background-alternate{background-color: transparent !important}
.slash.background-alternate:before{background-color: #fcfbf4 !important}
.divider-main{
	width: 100%; height: 20px;
	margin: 30px 0;
	background-image: url('../img/sketchy-lines-grey-small.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
@media (min-width: 992px){
	.divider-main{
		background-image: url('../img/sketchy-lines-grey.png');
	}
}

.decorated-circle-flame{
	position: absolute;
	bottom: 25px; left: 50%;
	width: 68px; height: 68px;
	margin-left: -34px;
	border-radius: 50%;
	background-image: url('../img/arrow-down.png');
	background-size: 28px 36px;
	background-position: 20px 16px;
	background-repeat: no-repeat;
	z-index: 10;
}
/*******************
	BALL
*******************/
.ball{
	position: relative;
	width: 30%;
	border-radius: 50%;
	color: #fff;
}
.balls-5 > .ball{
	margin: 0 8px;
}
.balls-5 > .ball,
.balls-3 > .ball{
	padding-bottom: 30px;
}
.ball > svg{
	display: block;
	width: 100%;
}
.ball-label{
	position: absolute;
	top: 95%;
	width: 100%;
	text-align: center;
	font-size:20px;
	color:#4a4a4a;
	margin-bottom: 8px;
}
.ball-background-primary > svg > g > circle{fill: #fa5800;}
.ball-background-secondary > svg > g > circle{fill: #a7bd1d;}
.ball-background-tertiary > svg > g > circle{fill: #1fb1e8;}
.ball p{
	flex: 1;
	margin: 20px;
	font-size: 10px;
}
@media (max-width: 991px){
	/* !only works with .balls-3 */
	.small-constrict-ball{margin: 0 -10%;}
	.small-constrict-ball .ball p{margin: 20px 25px;}
	.small-constrict-ball .ball:first-child{left: 10%;}
	.small-constrict-ball .ball:last-child{right: 10%;}

	.small-drop-into-lines{flex-wrap: wrap; justify-content: center}
	.small-drop-into-lines .ball{min-width: calc(50% - 20px); margin: 0 10px 60px;}
}
/*******************
	MASONRY
*******************/
@media (min-width: 992px){
	.masonry-wrapper:first-child{
		margin-left: -8px;
	}
	.masonry-wrapper:last-child{
		margin-right: -8px;
	}
	.masonry-alt .masonry-wrapper{margin:0 !important;}
}
.masonry-item{
	position: relative;
	height: 300px;
	margin: 20px 0;
	padding: 20px;
	overflow: hidden;
}
a.masonry-item{
	text-decoration: none;
}
.masonry-item .image-target{
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: rgba(100,100,255,.4);
	background-size: cover;
	background-position: center center;
}
.masonry-item:after{
	content: '';
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
	background-color: rgba(0,0,0,.2);
}
.masonry-item > div+div{
	position: relative;
	z-index: 2;
}
.masonry-item h2{
	color: #fff;
	margin: 8px 0;
	font-size: 24px;
}
.masonry-alt{
	width: inherit !important;
	max-width: inherit !important;
	margin: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*.masonry-alt .masonry-item{
	margin: 0 !important;
}*/
@media (min-width: 992px){
	.masonry-alt .masonry-item{
		margin: 0 !important;
	}
}
/*******************
	IMAGE ANIM
*******************/
.hover-zoom,
.masonry-item.masonry-hover-zoom .image-target{
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.masonry-item.masonry-hover-zoom .image-target,
.hover-zoom{
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
}
.masonry-item.masonry-hover-zoom:hover .image-target,
.hover-zoom:hover{
	-webkit-transform: scale(1.3,1.3);
	-moz-transform: scale(1.3,1.3);
	-ms-transform: scale(1.3,1.3);
	-o-transform: scale(1.3,1.3);
	transform: scale(1.3,1.3);
}
/*******************
	QUOTE
*******************/
.large-quote{
	margin-bottom: -40px;
	color: #9b9b9b;
	font-size: 144px;
	font-family:Montserrat-Regular;
	line-height: 100px;
	letter-spacing:0px;
}
/*******************
	SOCIAL
*******************/
/*.footer{
	font-size: 20px;
	line-height: 32px;
}*/
.footer .standard-p{
	font-size: inherit;
	line-height: inherit;
}
.footer a{
	text-decoration: none;
	font-family: 'Raleway';
}
.footer a:hover{
	color: #fa5800;
}
.footer .hr{
	margin: 60px;
	width: inherit;
}
@media (min-width: 768px) {
	.footer .hr{
		margin: 30px 0;
	}
}

.social-bar{
	line-height: 48px;
}
.social-bar > a{
	margin: 0 8px;
}
.social-bar .fa{
	color: #bbb;
}
.social-bar .fa:hover,
.social-bar .fa:focus{
	color: #a7bd1d;
}
/*******************
	BLOG ADS
*******************/
.blog-block,
.blog-block h3 {
	font-size: 20px;
	line-height: 32px;
}
.blog-block h3 {
	margin: 0;
	text-align: left;
	color: #444;
	font-weight: bold;
}
.blog-block p{margin: 0}

.blog-block p img{
	display: none !important;
}

.blog-block > .blog-img-wrapper {
	max-width: 200px;
	position: relative;
	padding: 20px;
	margin: 0 auto;
}
.blog-img-wrapper img {
	border-radius: 50%;
}
/*.blog-img-wrapper > .blog-img {
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding-bottom: 100%;
}*/

/*******************
	GESICHTE
*******************/
.bulletize-paragraphs > p {
	position: relative
}
.bulletize-paragraphs > p:first-of-type::before {
	content: ''
}
.bulletize-paragraphs > p::before {
	content: '\25CF  \2B24  \25CF';
	display: block;
	margin: 32px 0;
	font-family: Arial;
	font-size: .5rem;
	line-height: .5rem;
	color: #ddd;
}

/*******************
	GESICHTE
*******************/
.max-500{ max-width: 500px; margin: 0 auto; }
@media (min-width: 1200px){
	.max-500{ max-width: 900px; }
	#gesichte .tab-pane{
		text-align: center;
	}
}
.img-circle{ border-radius: 50%; }
div.img-circle{ padding-bottom: 100%; background-size: cover; }
@media (min-width: 768px){
	/*.nav-justified>li{display:table-cell;width:1%;vertical-align: top;}*/
	.nav-justified>li>a{margin-bottom:0}
}
.nav.nav-justified{
	padding: 0;
	display: flex;
}
.nav-justified>li{min-width: 25%;}
.nav-justified{
	line-height: 1.2;
}
.nav-justified a{
	text-decoration: none;
}

#nav-tabs{
	display: flex;
	flex: 1;
	flex-direction: column;
}
@media (min-width: 992px){
	#nav-tabs{
		flex-direction: row;
	}
}

.nav>li>a{position:relative;display:block;padding: 0px 8px}

.nav.nav-justified > li > a { position: relative; }
.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus { background-color: transparent; }
.nav.nav-justified > li > a .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 20px;
    height: 20px;
    background-color: #f05f40;
    border-radius: 16px;
    color: #fff;
}
.nav.nav-justified > li.active > a .quote { opacity: 1; }
.nav.nav-justified > li > a .img-circle,
.nav.nav-justified > li > a img { box-shadow: 0 0 0 5px #f05f40; }
.nav.nav-justified > li > a .img-circle,
.nav.nav-justified > li > a img {
    max-width: 100%;
    opacity: .3;
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a .img-circle,
.nav.nav-justified > li.active > a img,
.nav.nav-justified > li:hover > a .img-circle,
.nav.nav-justified > li:hover > a img,
.nav.nav-justified > li:focus > a .img-circle,
.nav.nav-justified > li:focus > a img {
    opacity: 1;
    -webkit-transform: scale(.9,.9);
            transform: scale(.9,.9);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li .text{
	opacity: .3;
	transition: .15s all;
}
.nav.nav-justified > li:hover .text,
.nav.nav-justified > li.active .text{
	opacity: 1;
}
.tab-pane .tab-inner { padding: 30px 0 20px; }

.tab-content>.tab-pane{display:none}
.tab-content>.active{display:block;}

.nav.nav-justified > li > a .quote {
	left: auto;
	top: auto;
	right: 2px;
	bottom: 2px;
}
.nav.nav-justified > li > a .quote > .fa { font-size: 8px; line-height: 8px;}
@media (min-width: 400px) {
	.nav.nav-justified > li > a .quote { width: 30px; height: 30px; right: 5px; bottom: 5px;}
	.nav.nav-justified > li > a .quote > .fa { font-size: 16px; line-height: inherit;}

}
@media (min-width: 768px) {
    .nav.nav-justified > li > a .quote { right: 0px; bottom: 2px; }
}
@media (min-width: 1200px) {
    .nav.nav-justified > li > a .quote { right: 8px; bottom: 8px; }
}

/*******************
	LANG DEPENDENT
*******************/
html[lang='en'] #from-our-blog,
html[lang='en'] #section-marketplace,
html[lang='sk'] #section-marketplace {
	display: none;
}

/*******************
	IMAGES
*******************/

/* MARKETPLACE IMAGES */
#image-mp-1 .image-target{background-image: url('../img/marketplace/knizky-s.jpg')}
#image-mp-2 .image-target{background-image: url('../img/marketplace/doprava-s.jpg')}
#image-mp-3 .image-target{background-image: url('../img/marketplace/grass-s.jpg')}
#image-mp-4 .image-target{background-image: url('../img/marketplace/kurzy-s.jpg')}
#image-mp-5 .image-target{background-image: url('../img/marketplace/obleceni-s.jpg')}
#image-mp-6 .image-target{background-image: url('../img/marketplace/preklady-s.jpg')}
@media (min-width: 768px) {
	/*#image-mp-1 .image-target{background-image: url('../img/marketplace/knizky-m.jpg')}*/
	#image-mp-2 .image-target{background-image: url('../img/marketplace/doprava-m.jpg')}
	#image-mp-3 .image-target{background-image: url('../img/marketplace/grass-m.jpg')}
	/*#image-mp-4 .image-target{background-image: url('../img/marketplace/kurzy-m.jpg')}*/
	#image-mp-5 .image-target{background-image: url('../img/marketplace/obleceni-m.jpg')}
	#image-mp-6 .image-target{background-image: url('../img/marketplace/preklady-m.jpg')}
}
@media (min-width: 1200px) {
	/*#image-mp-1 .image-target{background-image: url('../img/marketplace/knizky-l.jpg')}*/
	#image-mp-2 .image-target{background-image: url('../img/marketplace/doprava-l.jpg')}
	#image-mp-3 .image-target{background-image: url('../img/marketplace/grass-l.jpg')}
	/*#image-mp-4 .image-target{background-image: url('../img/marketplace/kurzy-l.jpg')}*/
	#image-mp-5 .image-target{background-image: url('../img/marketplace/obleceni-l.jpg')}
	#image-mp-6 .image-target{background-image: url('../img/marketplace/preklady-l.jpg')}
}

/* GESICHTE IMAGES */
#image-gesicht-barta{background-image: url('../img/people/jiri-barta.png')}
#image-gesicht-vaclavek{background-image: url('../img/people/petr-vaclavek.png')}
#image-gesicht-panek{background-image: url('../img/people/simon-panek.png')}
#image-gesicht-hajzler{background-image: url('../img/people/tomas-hajzler.png')}