.files-upload-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	max-height: 90px;
	overflow-y: auto;
}
.files-upload-preview-wrapper{
	position: relative;
	display: inline-block;
	min-width: 22px; /* width of the remover + 2*2px padding (.fa-stack-2x) */
	//max-width: 200px;
	vertical-align: top;
	width: 32.3%;
	margin-right: 1%;
	margin-bottom: $size-small;
}
.image-upload-preview{
	display: inline-block;
	background-color: $colorLightGray;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
}
img.image-upload-preview{
	object-fit: cover;
}
.image-upload-preview,
.file-upload-preview{
	height: 80px;
	box-shadow: $ui-box-shadow;
}
.file-upload-preview{
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 0 $size-small;
	text-align: center;
	color: $colorDarkGray;

	& > .fa {
		margin-bottom: $size-tiny;
		color: $primary-color;
	}
}
.file-upload-preview-filename{
	font-size: $small-font-size;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.file-remover-wrapper{
	position: absolute;
	top: 0; right: 0; left: 0;
	text-align: right;
	font-size: $size-small;
	background-color: rgba(255,255,255,.8);
	z-index: 1;
}
.file-remover{
	color: $colorDarkGray;
	margin: 2px;
}
.file-remover:hover .file-remove-background,
.file-remover:focus .file-remove-background{
	color: darken($alert-color, 20%);
}
.files-upload-label {
	display: inline-block;
	font-weight: $ui-text-weight-bolder;

	&.button-files {
		background: $colorDarkGray;
		margin-right: 20px;

		&:hover {
			background: darken($colorDarkGray, 20%);
		}
	}
}
.form-section label.files-upload-label{
	margin-bottom: $size-small !important;
}
.files-upload-label > input{
	display: none;
}
