.flag {
	display:inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background-size: cover;
	background-repeat: no-repeat;
	&.flag-en {
		background-image: url(../img/flags/flag-english.png);
	}
	&.flag-cs {
		background-image: url(../img/flags/flag-czech.png);
	}
	&.flag-sk {
		background-image: url(../img/flags/flag-slovak.png);
	}
	&.flag-rounded-corners,
	&.flag-circular{
		border-radius: 50%;
		width: 20px;
		height: 20px;
		background-position: center center;
	}
	&.flag-rounded-corners{
		vertical-align: top;
		margin-right: .5rem;
	}
}
.flag-list{
	.flag{
		margin-right: $size-small;
	}
	.flag,
	.flag + span{
		vertical-align: middle;
	}
}
.language-small-wrapper{
	position: relative;
	vertical-align: top;
	top: 1px;
	font-size: 1rem !important;

	.fa-inverse{
		color: $secondary-color;
	}
	&:hover{
		.fa-square{
			color: #ddd;
		}
		.fa-inverse{
			color: $secondary-color !important;
		}
	}
}