.label {

    &.hollow {
        background: transparent;
        border-width: 1px;
        border-style: solid;

        &.alert {
            color: $alert-color;
            border-color: $alert-color;
        }
        &.warning {
            color: $warning-color;
            border-color: $warning-color;
        }
    }
}