.support-text {
  font-style: italic;
}

.header-margin {
    margin-bottom: $header-margin-bottom
}

.text-normal,
.text-small {
    font-weight: normal;
}
.text-small {
    font-size: $small-font-size;
}
.text-normal {
    font-size: $global-font-size;
}
