<section class="large-2 small-2 medium-2 columns user">
	<div info-box="{ '_id': item.user_from, '_type': item.user_from_type }">
		<a ng-href="{{:: getProfileLink(item.user_from_type, item.user_from) }}">
			<avatar src="item.user_from_avatar.normal" type="item.user_from_type"></avatar>
			<div class="name">{{:: item.user_from_full_name}}</div>
		</a>
	</div>
</section>
<section class="large-10 small-10 medium-10 columns">
	<div class="item rating-received" ng-class="{ 'positive': item.score == 1, 'negative': item.score < 1}">
		<div class="content">
			<div class="left">
				<b ng-if="item.score == -1"><i class="score-icon fa icon-rating-negative"></i>{{:: 'NEGATIVE' | translate}}</b>
				<b ng-if="item.score == 1"><i class="score-icon bold fa icon-rating-positive"></i>{{:: 'POSITIVE' | translate}}</b>

				<small ng-if="item.post_id">
					&nbsp;{{:: 'RATING_TO_POST' | translate }} <a href="{{:: getProfileLink('Post', item.post_id )}}" title="{{:: item.post_title }}">{{:: item.post_title | ellipsis:40}}</a>.
				</small>
			</div>

			<div class="right">
				<div class="date" title="{{:: item.created_at | date:DATETIME_FORMATS.medium}}"><i class="fa fa-clock-o"></i>&nbsp; {{:: item.created_at | ago }}</div>
			</div>
			<div class="clear"></div>	
			<div class="text-container clearfix">
				<p ng-bind-html="item.text | linky:'_blank' | nl2br"></p>
			</div>
			<div ng-if="!item.formOpened">
				<a class="right reply-form-link" ng-if="!item.comment && mine" href="#" ng-click="openRatingReplyForm(item)">{{:: 'PROFILE.RATING.OPEN_REPLY_FORM' | translate }}</a>
				<div class="clear"></div>
			</div>
			<div class="reply" ng-if="item.comment">
				<a href="{{:: getProfileLink(item.comment.user._type, item.comment.user._id )}}" title="{{:: item.comment.user.name }}">
					<avatar class="left" type="item.comment.user._type" src="item.comment.user.avatar.normal" size="mini"></avatar>
				</a>
				<div class="inline-block">
					<div class="reply-top">
						{{:: item.comment.user.name | ellipsis:40}}<small class="date" title="{{:: item.comment.created_at | date:DATETIME_FORMATS.medium}}">&nbsp; {{:: item.comment.created_at | ago }}</small>
					</div>
					
					<i>„{{ item.comment.text }}”</i>
				</div>
				<div class="clear"></div>
			</div>
			<rating-reply rating="item" ng-if="item.formOpened"></rating-reply>
		</div>
	</div>
</section>