<!--<div ngf-select ng-model="filesPicker.scope.ngModel" name="file-picker" ngf-pattern="filesPicker.pattern" ngf-accept="filesPicker.pattern" ngf-max-size="20MB" ngf-multiple="filesPicker.multiple" ngf-keep="'distinct'" tabindex="0">
	{{'ATTACHMENT.ADD' | translate}}
</div>-->
<input id="file" type="file" onchange="angular.element(this).scope().uploadedFile(this)" ng-if="filesPicker.multiple" multiple />
<input id="file" type="file" onchange="angular.element(this).scope().uploadedFile(this)" ng-if="!(filesPicker.multiple)" />

<div>
	<div class="image-upload-preview-wrapper" ng-repeat="file in filesPicker.scope.ngModel">
		<img ng-if="filesPicker.isImage(file)" class="image-upload-preview" ngf-src="file" />
		<div ng-if="!(filesPicker.isImage(file))" class="file-upload-preview">
			<i class="fa fa-file"></i>
			<div ng-bind="file.name"></div>
		</div>
		<div class="file-remover-wrapper">
			<span class="file-remover fa-stack fa-sm" ng-click='filesPicker.removeFile($index)' tabindex="0">
				<i class="fa file-remove-background fa-circle fa-stack-2x"></i>
				<i class="fa fa-times fa-stack-1x fa-inverse"></i>
			</span>
		</div>
	</div>
</div>