<div ng-show="inited">
	<section class="filter-inner">
		<input type="hidden" ng-model="filter.query" value="searchQuery.query" />
		<input type="hidden" ng-model="filter.type" value="searchQuery.type" />
		<section class="radio-container type-switch-container type-post">
			<h5>{{:: 'FULLTEXT.FILTER.BY_TYPE' | translate }}</h5>
			<radio type="radio" model="filter.type" value="null">{{:: 'FULLTEXT.FILTER.TYPE.ALL' | translate}}</radio>
			<radio type="radio" model="filter.type" value="'post'">{{:: 'FULLTEXT.FILTER.TYPE.POSTS' | translate}}</radio>
			<radio type="radio" model="filter.type" value="'user'">{{:: 'FULLTEXT.FILTER.TYPE.PEOPLE' | translate}}</radio>
			<radio type="radio" model="filter.type" value="'community'">{{:: 'FULLTEXT.FILTER.TYPE.COMMUNITY' | translate}}</radio>
		</section>
		<section class="location-container type-post type-user type-community">
			<h5>{{:: 'FULLTEXT.FILTER.BY_LOCATION' | translate }}</h5>
			<div class="range-select-container large-6 small-6 medium-6" ng-show="filter.lat && filter.lon && filter.name">
				<input type="range" ng-model="filter.distance" step="25" min="25" max="100">
				<span class="distance">{{filter.distance}}&nbsp;{{:: 'MARKETPLACE.FILTER.KM' | translate }}</span>
			</div>
			<div ng-class="{'large-6 small-6 medium-6': filter.lat && filter.lon && filter.name}">
				<input type="text" id="geolocation" ng-model="filter.name" />
			</div>
		</section>
		<section class="location-container type-post type-user type-community">
			<h5>{{:: 'FULLTEXT.FILTER.BY_ACTIVITY' | translate }}</h5>
			<checkbox model="filter.inactive" value="'1'">{{:: 'FULLTEXT.FILTER.ACTIVITY' | translate}}
			</checkbox>
		</section>
	</section>
	<section class="footer row">
		<div class="large-6 column right">
			<!--a ng-click="reset()" class="link-button">{{:: 'FULLTEXT.FILTER.CLOSE_FILTER' | translate}}</a-->
			<button ng-click="applyFilter()" class="button expand" ng-disabled="!filterPostCount">
				{{:: 'MARKETPLACE.FILTER.RUN_FILTER' | translate}}
				<b ng-if="filterPostCount !== false">({{filterPostCount}})</b>
			</button>
		</div>
	</section>
</div>