<div class="filter-status fixed show-for-scrolled" ng-show="filterData">
	<dl>
		<dd ng-show="filterData.type">{{'ads' | translate}}: <b>{{filterData.type.toUpperCase() | translate}}</b> </dd>
		<dd ng-show="filterData.related">{{'author' | translate}}: <b>{{filterData.related}}</b> </dd>
		<dd ng-show="filterData.days">{{'time' | translate}}: <b>{{'day' + filterData.days | translate}}</b> </dd>
		<dd ng-show="filterData.name">{{'place' | translate}}: <b>{{filterData.name}}</b> {{'in-area' | translate}} <b>{{filterData.distance | num}} km</b></dd>
		<dd ng-show="filterData.keywords">{{'KEYWORDS' | translate}}: <b>{{filterData.keywords}}</b></b>
		</dd>
		<dd><a ng-click="resetFilter()"><i class="fa fa-times"></i> {{'cancel-filter' | translate}}</a></dd>
	</dl>
</div>