<div class="filterbar-wrap row">
	<div class="insert-button-container">
		<a ng-click="editItem(null)" ng-class="{pressed: newItemSelected}" class="button">{{::'CREATE_NEW_ADD' | translate}}</a>
	</div>
	<div class="filter-button-container">
		<a ng-click="toggleFilter()" ng-disabled="newItemSelected" ng-class="{pressed: filterSelected}" class="fleft">
			<i ng-show="filterSelected" class="fa fa-chevron-up"></i>
			<i ng-show="!filterSelected" class="fa fa-chevron-down"></i>
			<span ng-hide="filterOn">{{::'FILTER' | translate}}</span>
			<span ng-show="filterOn">{{::'FILTER_IS_ON' | translate}}</span>
		</a>
		<a ng-if="!mapSelected" ng-click="toggleMap()" class="fright">{{::'MARKETPLACE.SHOW_POSTS_ON_MAP' | translate}}</a>
		<a ng-if="mapSelected" ng-click="toggleMap()" class="fright">{{::'MARKETPLACE.SHOW_POSTS_IN_LIST' | translate}}</a>
	</div>

	<article class="filter-container" ng-if="filterSelected" >
		<filter id="filter"></filter>
	</article>
</div>