<div class="filter">
	<article class="row">
		<section class="large-12 columns" style="padding-bottom:0;padding-top:0">
			<tags-input ng-model="filter.keywords" placeholder="{{ 'ADD_KEYWORDS' | translate }}" replace-spaces-with-dashes="false" add-on-comma="true" add-on-space="false" allowed-tags-pattern="^[a-zA-Z0-9\sĚŠČŘŽÝÁÍÉÚŮĎŤŇÓěščřžýáíéúůďťňó]+$" min-length="2" max-length="20">
				<auto-complete source="queryKeywords($query)" min-length="2" debounce-delay="400" max-results-to-show="8"></auto-complete>
			</tags-input>
		</section>
	</article>

	<article class="row">
		<section class="large-12 columns" style="padding-top:0">
			<article class="row bars">
				<section class="large-3 columns">
					<header>{{'by-type' | translate}}</header>
					<checkbox type="radio" model="filter.type" value="offer">{{'ads-offer' | translate}}</checkbox>
					<checkbox type="radio" model="filter.type" value="need">{{'ads-need' | translate}}</checkbox>
					<checkbox type="radio" model="filter.type" value="">{{'ads-all' | translate}}</checkbox>
				</section>
				<section class="large-3 columns">
					<header>{{'by-author' | translate}}</header>
					<checkbox model="filter.user" value="true">{{'individuals' | translate}}</checkbox>
					<checkbox model="filter.community" value="true">{{'communities' | translate}}</checkbox>
					<checkbox ng-show="loggedUser" model="filter.my_section" value="true">{{'just-my-connection' | translate}}</checkbox>
				</section>
				<section class="large-3 columns">
					<header>{{'by-time' | translate}}</header>
					<checkbox type="radio" model="filter.days" value="1">{{'today' | translate}}</checkbox>
					<checkbox type="radio" model="filter.days" value="3">{{'3-days' | translate}}</checkbox>
					<checkbox type="radio" model="filter.days" value="7">{{'week' | translate}}</checkbox>
					<checkbox type="radio" model="filter.days" value="">{{'without-limit' | translate}}</checkbox>
				</section>
				<section class="large-3 columns">
					<header>{{'by-place' | translate}}</header>
					<input type="text" id="geolocation" ng-model="filter.name">
					<div ng-show="filter.lat && filter.lon && filter.name">
						<input type="range" ng-model="filter.distance" step="25"  min="25" max="100" >
						<div class="text-center">{{filter.distance}} km</div>
					</div>
				</section>
			</article>
		</section>
	</article>

	<div class="row footer">
		<div class="large-4 columns">
			<a ng-click="reset()" class="link-button"><span class="fa fa-angle-double-up"></span> {{'return-the-filter-to-original-settings' | translate}}</a>
		</div>
		<div class="large-4 columns">
			<checkbox signed-in model="filterSave" value="true">{{'save-the-filter-for-future-use' | translate}}</checkbox>
		</div>
		<div class="large-4 columns text-right">
			<button class="button" ng-click="applyFilter()"><span class="fa fa-filter"></span> {{'run-filter' | translate}}</button>
		</div>
	</div>

</div>