<li ng-class="{'has-dropdown': myCommunities.length}" >
     <a href=""  title="{{ loggedUser.name }}" class="show-for-small">
        {{ 'TOP_BAR_PROFILE' | translate }}
    </a>
    <a href="" ng-click="switchBack()" title="{{ loggedUser.name }}" class="show-for-medium-up">
        <div class="text">
                <div class="fa">&#xf007;</div>
            <div>{{ 'TOP_BAR_PROFILE' | translate }}</div>
        </div>
    </a>
    <ul class="dropdown" ng-if="loggedUser._id" title="{{ loggedCommunity.name || loggedUser.name }} ">
       <li ng-show="myCommunities.length">
            <a href="" ng-click="switchBack()" style="margin-right:30px;" title="{{ loggedUser.name }}">
                <avatar source="loggedUser.avatar" size="small" type="'User'"></avatar>
                {{ loggedUser.name }}
            </a>
        </li>
        <li ng-repeat="community in myCommunities">
            <a href="" ng-click="switchTo(community)" style="margin-right:30px;" title="{{ community.name }}">
             <avatar source="community.avatar" size="small" type="'Community'"></avatar>
                {{ community.name }}
            </a>
        </li>
    </ul>  
</li>