<div class="info-box">
	<div class="user-info {{ infoboxClass }}" ng-class="{'placement-left': (infoboxIndex+1) % 3 == 0}" ng-if="show">
		<div class="user-info-inner-wrapper">
			<div loading delayed="false" show="!info && !error" class="loading-bar"></div>
			<div class="text-center" ng-if="error">
				<span class="text-danger">{{:: 'INFO_BOX_LOADING_ERROR' | translate }}</span>
			</div>
			<div class="inner" ng-if="info">
				<div class="post-count">
					<div class="count_accomplished" ng-bind-html=":: ('count-of-wished-and-gifts' | translate: {value: info.post_count.needs + info.post_count.offers })"></div>
				</div>
				<div class="author-about" ng-if=":: info.motto">
					{{:: info.motto | ellipsis: 70 }}
				</div>
				<user-intel-readout entity="info" type="'informative'"></user-intel-readout>
				<div class="display-flex flex-space-between">
					<div class="social">
						<a ng-if=":: info.facebook" class="fa fa-fw fa-facebook-square" title="Facebook" href="{{:: info.facebook}}" target="_blank"></a>
						<a ng-if=":: info.googleplus" class="fa fa-fw fa-google-plus-square" title="Google+" href="{{:: info.googleplus}}" target="_blank"></a>
						<a ng-if=":: info.twitter" class="fa fa-fw fa-twitter-square " title="Twitter" href="{{:: info.twitter}}" target="_blank"></a>
						<a ng-if=":: info.linkedin" class="fa fa-fw fa-linkedin-square" title="LinkedIn" href="{{:: info.linkedin}}" target="_blank"></a>
					</div>
					<a class="link-secondary" ng-href="{{:: getProfileLink(info._type, info._id)}}">{{:: 'WHOLE_PROFILE' | translate }}</a>
				</div>
			</div>
		</div>
	</div>
	<ng-transclude></ng-transclude>
</div>