<div>
	<textarea ng-if="inputType === 'textarea'" ng-model="$parent.model" ng-attr-placeholder="{{placeholder}}" name="{{name}}" ng-minlength="minLength" ng-maxlength="maxLength" ng-model-options="{allowInvalid: true}" ng-blur="showError = true" ng-focus="showError = false"></textarea>
	<input ng-if="inputType === 'input'" type="text" ng-model="$parent.model" ng-attr-placeholder="{{placeholder}}" name="{{name}}" ng-minlength="minLength" ng-maxlength="maxLength" ng-model-options="{ allowInvalid: true }" ng-blur="showError = true" ng-focus="showError = false"
	/>

	<div ng-if="showCounter" translate="WRITTEN_FROM_ALLOWED" translate-values="{maxLen: maxLength, len: typed}" ng-class="{'error': $parent.form.{{name}}.$error === true}"></div>
	<p class="error" ng-if="!showCounter" ng-show="$parent.form.{{name}}.$error">
		<span ng-show="$parent.form.{{name}}.$error.minlength">Text je příliš krátký.</span>
		<span ng-show="$parent.form.{{name}}.$error.maxlength">Text je příliš dlouhý.</span>
	</p>
</div>