<article class="row post_{{ item._id }}" ng-class="{offer: item.type == 'offer', need: item.type == 'need', edit: edit, mineItem: mine, inactive: !isPostActive(item)}">
	<section ng-if="! hideAvatar" class="large-2 columns photo">
		<div ng-if="loggedUser._id" ng-include="'templates/_user-info.html'"></div>
		<a ng-if="loggedUser._id" ng-href="#!/{{profileLinkType[item.author._type]}}/{{ item.author._id }}">
			<div class="avatar" ng-class="{'community-avatar': item.autor._type == 'Community', 'avatar-isset': item.author.avatar.normal }">
				<img ng-src="{{item.author.avatar.normal}}" ng-if="item.author.avatar.normal" />
			</div>
			<div class="name">{{ item.author.name }}</div>
		</a>
		<div ng-if="!loggedUser._id">
			<div class="avatar" ng-class="{'community-avatar': item.autor._type == 'Community', 'avatar-isset': item.author.avatar.normal }">
				<img ng-src="{{item.author.avatar.normal}}" ng-if="item.author.avatar.normal" />
			</div>
			<div class="name">{{ item.author.name }}</div>
		</div>
		<div class="karma" ng-class="{empty: !item.karma}" title="{{ 'COUNT_OF_PLUS_POINTS' | translate }}: {{ item.author.up_votes }} | {{ 'COUNT_OF_MINUS_POINTS' | translate }}: {{ item.author.down_votes }}">
			<div class="positive" style="width:{{item.karma}}"></div>
		</div>
		<div class="timeline"></div>
	</section>
	<section class="large-10 columns">
		<div class="item" ng-class="item.type">
			<div class="overlap"> </div>
			<div class="arrowbox"></div>
			<div class="arrow"></div>
			<div class="content">
				<header>
					<div class="locations" ng-if="item.locations.length && item.locations[0].short_address">
						<span class="fa fa-map-marker"></span>
						{{ item.locations[0].short_address }}
						<a ng-if="item.locations.length > 1" data-dropdown="{{'locations' + item._id}}">{{'and-next' | translate: {value: item.locations.length - 1} }}</a>
						<div id="{{'locations' + item._id}}" class="location-dropdown content" data-dropdown-content>
							<div ng-repeat="location in item.locations track by $index">
								&nbsp;&nbsp;<span class="fa fa-map-marker"></span> {{ location.short_address }}
							</div>
						</div>
					</div>
					<div class="locations" ng-if="item.location_unlimited">
						<span class="fa fa-map-marker"></span>
						{{ 'LOCATION_UNLIMITED_MESSAGE' | translate }}
					</div>
					<span class="date" title="{{item.updated_at | date:DATETIME_FORMATS.medium}}"><span class="fa fa-clock-o"></span>{{item.updated_at | ago}}</span>
				</header>
				<h1>
					<spam ng-if="item.author._type == 'User'">
						<span ng-if="item.type == 'need'">{{ 'DOES_WISH' | translate }}</span>
						<span ng-if="item.type == 'offer'">{{ 'DOES_GIVE' | translate }}</span>
					</spam>
					<spam ng-if="item.author._type == 'Community'">
						<span ng-if="item.type == 'need'">{{ 'WE_NEED' | translate }}</span>
						<span ng-if="item.type == 'offer'">{{ 'WE_GIVE' | translate }}</span>
					</spam>
					{{item.title}}
				</h1>
				<div class="text-container">
					<div class="expandable">
						<p ng-bind-html="item.name | linky:'_blank'"></p>
						Inzerat expiruje: {{item.valid_until}}
					</div>
				</div>
				<div class="attachments" ng-if="item.attachments_attributes.length" fancybox>
					<div class="expandable">
						<a class="fancy" ng-href="{{ photo.file }}" rel="{{ item._id }}" ng-repeat="photo in item.attachments_attributes track by $index">
							<img ng-if="$index < 3" ng-src="{{ photo.normal }}">
							<img ng-if="$index >= 3" data-src="{{ photo.normal }}" class="lazyLoad">
						</a>	
					</div>
				</div>
				<div class="tags" ng-class="{'tagsActive': !inactivateTags}" ng-if="item.keywords.length">
					<ul class="tagList">
						<li ng-click="toggleTag(tag)" ng-class="{active: keywords.indexOf(tag) !== -1}" ng-repeat="tag in item.keywords">
							{{tag}}
						</li>
					</ul>
				</div>
				<a ng-if="showMore" class="show-more" ng-click="toggleCollapsed()">
					<span>{{ 'show-more' | translate }} <i class="fa fa-chevron-down"></i></span>
					<span>{{ 'show-less' | translate }} <i class="fa fa-chevron-up"></i></span>
				</a>
				<div class="clear"></div>
			</div>
			<footer>
				<a signed-out class="report-link spam fa fa-flag" ng-if="! mine" title="{{'REPORT_HARMFUL_AD' | translate}}" ng-click="showLoginBox(true)">
				</a>
				<a signed-in class="report-link spam fa fa-flag" ng-if="! mine" title="{{'REPORT_HARMFUL_AD' | translate}}" data-reveal-id="confirm-report-{{item._id}}">
				</a>
				<div class="share" ng-if="isPostActive(item)">
					<div class="fa fa-share-square-o"></div>
					<div class="sharing">
						<div>
							<a class="fa fa-facebook" title="Facebook" ng-href="{{facebook}}" target="_blank"></a>
							<a class="fa fa-google-plus" title="Google+" ng-href="{{gplus}}" target="_blank"></a>
							<a class="fa fa-twitter" title="Twitter" ng-href="{{twitter}}" target="_blank"></a>
							<a class="fa fa-envelope" ng-href="{{mail}}" title="Email"></a>
						</div>
					</div>
				</div>
				<div class="controll-buttons" ng-if="mine">
					<div class="fa fa-pencil" title="{{'AD_EDIT_LABEL' | translate}}" ng-click="edit(item)"></div>
					<div class="fa " ng-class="{'fa-refresh': item.is_expired, 'fa-play': !item.is_expired}" title="{{'AD_RESUME_LABEL' | translate}}" ng-if="!isPostActive(item)" ng-click="pauseToggle(item, 'confirm-pause-'+item._id)"></div>
					<div class="fa fa-pause" title="{{'AD_PAUSE_LABEL' | translate}}" ng-if="isPostActive(item)" data-reveal-id="confirm-pause-{{item._id}}"></div>
					<div class="fa fa-times" title="{{'AD_REMOVE_LABEL' | translate}}" data-reveal-id="confirm-delete-{{item._id}}"></div>
				</div>
				
			    <section ng-include="'templates/modals.html'" id="modals"></section>
				<button ng-if="!mine && isPostActive(item)" ng-click="replyItem()" class="small main" ng-class="{secondary: item.type == 'offer'}">
					<span ng-if="item.type == 'offer'" ng-bind-html="'WISH_GIFT' | translate"></span>
					<span ng-if="item.type == 'need'" ng-bind-html="'OFFER_GIFT' | translate"></span>
				</button>
				<span class="margin" ng-if="item.type == 'offer' &&  item.reply_count" ng-bind-html="'PEOPLE_COUNT_WISH' | translate: {value: item.reply_count}"></span>
				<span class="margin" ng-if="item.type == 'need' &&  item.reply_count" ng-bind-html="'PEOPLE_COUNT_OFFER' | translate: {value: item.reply_count}"></span>
				<span class="margin" ng-if="item.reply_count==0">{{'NO_REPLY' | translate}}</span>
				<span ng-if="!isPostActive(item)">
					&nbsp;&nbsp;&nbsp;
					<span ng-if="item.is_expired && item.valid_until">{{ 'POST_HAS_EXPIRED' | translate  }} {{ item.valid_until | date:DATETIME_FORMATS.mediumDate }}</span>
					<span ng-if="item.is_expired && !item.valid_until">{{ 'POST_HAS_ALREADY_EXPIRED' | translate  }}</span>
					<span ng-if="!item.is_expired">{{ 'POST_HAS_BEEN_DEACTIVATED' | translate }} {{ item.suspended_at | date:DATETIME_FORMATS.medium }}</span>
				</span>
				<div class="clear"></div>
			</footer>
		</div>
	</section>
</article>