<article class="row post post-on-market" id="post_{{ item._id }}" ng-class="{mineItem: mine, inactive: !isActive, 'hidden-init': delayedView, 'hiddenAvatar': hideAvatar}">
	<section ng-if="! hideAvatar" class="large-2 columns user">
		<div info-box="item.author">
			<a ng-href="#!/{{getProfileLinkByType(item.author._type)}}/{{ item.author._id }}">
				<avatar type="item.author._type" src="item.author.avatar.large"></avatar>
				<div class="name">{{ item.author.name }}</div>
			</a>
		</div>
		<div class="karma" ng-class="{empty: !item.karma}" title="{{ 'COUNT_OF_PLUS_POINTS' | translate }}: {{ item.author.up_votes }} | {{ 'COUNT_OF_MINUS_POINTS' | translate }}: {{ item.author.down_votes }}">
			<div class="positive" style="width:{{item.karma}}"></div>
		</div>
		<div class="timeline"></div>
	</section>
	<div class="large-10 fleft columns ad-detail-column">
		<article class="box post-detail" ng-class="item.type" ng-init="marketplace.expanded = false;">
			<header class="clearfix">
				<div class="large-11 columns">
					<h1>
						<a ng-href="#!/ad/{{item._id}}">
							<span data-item-type="{{ item.type }}">
								{{ postTypes[item.author._type][item.type] | translate }}
							</span>
							{{item.title}}
						</a>
					</h1>
					<span class="validity-warning" ng-if="isExpiringSoon">{{ 'POSTS.DETAIL.POST_EXPIRING_SOON' | translate }}</span>
					<span class="fa fa-lock" ng-if="item.is_private" title="{{ 'VISIBLE_FOR_FRIENDS' | translate }}"></span>
				</div>
				<div class="large-1 columns">
					<span class="ad-flag-container fright">
						<a class="action-dropdown fa fa-chevron-down" title="{{ 'POSTS.DETAIL.EXPAND_MORE_INFO' | translate }}" dropdown="#more-actions-{{ item._id }}"></a>
					</span>
					<div class="more-actions-dropdown" id="more-actions-{{ item._id }}" style="display:none;">
						{{:: 'MARKETPLACE.POST.PUBLISHED_AT' | translate }} {{item.updated_at | ago}}
						<hr>
						<b>{{:: 'MARKETPLACE.POST.SHARE_WITH' | translate }}</b><br>
						<div class="sharing">
							<a class="fa fa-envelope" title="Email" href="" ng-click="openEmailSharingBox(item)"></a>
							<a sharing-window class="fa fa-facebook" title="Facebook" ng-href="{{socialLinks.facebook+postAddress}}" target="_blank"></a>
							<a sharing-window class="fa fa-google-plus" title="Google+" ng-href="{{socialLinks.gplus+postAddress}}" target="_blank"></a>
							<a sharing-window class="fa fa-twitter" title="Twitter" ng-href="{{socialLinks.twitter+postAddress}}" target="_blank"></a>
						</div>
						<hr>
						<a ng-if="! mine && loggedUser._id && item.spam_reported" title="{{ 'REPORT_HARMFUL_AD_ONLY_ONCE' | translate}}" tipsy disabled>{{:: 'MARKETPLACE.POST.FLAG_POST' | translate }}</a>
						<a ng-if="! mine && loggedUser._id && !item.spam_reported" title="{{ 'REPORT_HARMFUL_AD' | translate}}" ng-click="openReportBox(item)">{{:: 'MARKETPLACE.POST.FLAG_POST' | translate }}</a>
					</div>
				</div>
				<div ng-if="item.location_unlimited" class="large-12 columns clearfix">
					<i class="fa fa-map-marker"></i> {{:: 'MARKETPLACE.POST.LOCATION_ANYWHERE_HEADING' | translate }}
				</div>
				<div ng-if="!item.location_unlimited" class="large-12 columns clearfix">
					<span ng-repeat="(locationId, location) in item.locations" ng-if="location.address">
						<i class="fa fa-map-marker" ng-if="$first"></i> {{ location.short_address }}<span ng-if="!$last">;</span>
					</span>
				</div>
			</header>
			<div class="text-container" ng-if="item.name.length < 100 || marketplace.expanded == true">
				<p ng-bind-html="item.name | linky:'_blank' | nl2br"></p>
			</div>
			<div class="text-container" ng-if="item.name.length >= 100 && !marketplace.expanded">
				<p><span ng-bind-html="item.name | ellipsis:200 | linky:'_blank'"></span> <span><a ng-click="marketplace.expanded = true">{{:: 'MARKETPLACE.POST.CLICK_TO_EXPAND' | translate }}</a></p>
			</div>			

			<ul lemmon-slider fancybox ng-if="item.attachments_attributes.length">
				<li ng-repeat="photo in item.attachments_attributes track by $index">
					<a class="fancy" ng-href="{{ photo.large }}" rel="{{ item._id }}"><img ng-src="{{photo.normal}}"></a>
				</li>
			</ul>

			<div class="tags" ng-class="{'tagsActive': !inactivateTags}" ng-if="item.keywords.length">
				<ul class="tagList">
					<li ng-click="toggleTag(tag)" ng-class="{active: keywords.indexOf(tag) !== -1}" ng-repeat="tag in item.keywords">
						{{tag}}
					</li>
				</ul>
			</div>

			<footer class="clearfix">
 				<div class="sharing fright">
					<a class="fa fa-envelope" title="Email" href="" ng-click="openEmailSharingBox(item)"></a>
					<a sharing-window class="fa fa-facebook" title="Facebook" ng-href="{{socialLinks.facebook+postAddress}}" target="_blank"></a>
					<a sharing-window class="fa fa-google-plus" title="Google+" ng-href="{{socialLinks.gplus+postAddress}}" target="_blank"></a>
					<a sharing-window class="fa fa-twitter" title="Twitter" ng-href="{{socialLinks.twitter+postAddress}}" target="_blank"></a>
				</div>
				<div class="post-edit-buttons-container fleft" ng-if="mine">
					<div class="controll-buttons">
						<a title="{{'AD_EDIT_LABEL' | translate}}" ng-click="edit(item)"><i class="fa fa-pencil"></i></a>
						<a title="{{'AD_RESUME_LABEL' | translate}}" ng-if="!isActive" ng-click="pauseToggle(item, 'confirm-pause-'+item._id)"><i class="fa " ng-class="{'fa-refresh': item.state == 'expired', 'fa-play': item.state == 'suspended'}"></i></a>
						<a title="{{'AD_PAUSE_LABEL' | translate}}" ng-if="isActive" ng-click="confirmBox('AD_PAUSE_LABEL', 'AD_PAUSE_ARE_YOU_SURE', pauseToggle, item, this)"><i class="fa fa-pause"></i></a>
						<a title="{{'AD_REMOVE_LABEL' | translate}}" ng-click="confirmBox('AD_REMOVE_LABEL', 'AD_REMOVE_ARE_YOU_SURE', deleteItem, item, this)"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="reply-button-container fleft">
					<button ng-if="!item.is_replied && !mine" ng-click="replyItem(item)" class="reply-button" data-item-type="{{ item.type }}" ng-bind-html="replyLabel[item.type] | translate"></button>
					<div ng-if="item.is_replied">
						{{ 'YOU_HAVE_ALREADY_REPLIED_TO_THIS_POST' | translate }}
					</div>
				</div>
				<div class="reply-count-container fleft">
					<div ng-if="item.reply_count" ng-bind-html="replyCountTexts[item.type]+'.'+pluralCat(item.reply_count) | translate:{value: item.reply_count}"></div>

					<div ng-if="!item.reply_count">{{'NO_REPLY' | translate}}</div>
				</div>

			</footer>
		</article>
	</div>
</article>