<section class="" ng-if="!closed">
	<div class="columns">
		<div class="large-10 push-2 box marketplace-banner">
			<!-- banner content -->
			<p class="margin-0 padding-top">
				<a class="close" ng-click="close()">×</a>
				<a title="Světýlka radosti - pohádka o darování, radosti a štědrosti" href="http://www.svetylkaradosti.cz/" target="_blank">
					<span class="cta">Otevřít <i class="fa fa-chevron-circle-right"></i></span>
					<span class="hero">Světýlka radosti</span>
					<span class="smaller" >Dárek pro vás: Pohádka o darování a radosti</span>
				</a>
			</p>
			<!-- // banner content -->
		</div>
	</div>
</section>