<section id="navigation">
	<aside class="left-off-canvas-menu">
		<ul class="off-canvas-list">
			<li>
				<label class="first">Menu</label>
			</li>
			<li>
				<a ng-click="reloadToMarketplace()" ng-class="{active: pageName == 'market'}" title="{{:: 'HOMEPAGE_MARKET' | translate }}">
					<i class="fa icon-marketplace"></i> {{ 'HOMEPAGE_MARKET' | translate }} </a>
			</li>
			<li>
				<a ng-if="loggedUser._id" ng-href="{{:: basePath }}communities" ng-class="{active: pageName.slice(0,11) == 'communities'}" title="{{:: 'COMMUNITIES' | translate }}">
					<i class="fa icon-community"></i> {{ 'COMMUNITIES' | translate }} </a>
			</li>
			<li>
				<a id="unreaded-messages-counter" ng-if="loggedUser._id" ng-href="{{ basePath }}messages" ng-class="{active: pageName.slice(0,8) == 'messages'}" title="{{ 'TOP_BAR_MESSAGES' | translate }}">
					<span class="messages-icon"></span>
					{{ 'TOP_BAR_MESSAGES' | translate }}
					<span ng-if="messagesCounters.unread > 0" class="right round label">{{ messagesCounters.unread | minMax:1:99:'+':1 }}</span>
				</a>
			</li>
			<li ng-show="!loggedUser.name">
				<a ng-class="{active: pageName == 'login'}" ng-href="{{:: basePath }}login">{{:: 'LOG_IN' | translate}}</a>
			</li>
			<li ng-show="!loggedUser.name">
				<a ng-class="{active: pageName == 'reg'}" ng-href="{{ basePath }}register">{{ 'SIGNUP' | translate }}</a>
			</li>
		</ul>
		<ul class="off-canvas-list" ng-show="loggedUser._id">
			<li>
				<label class="first">{{ loggedUser.name | ellipsis:15}}</label>
			</li>
			<li>
				<a ng-href="{{:: getProfileLink('User', loggedUser._id) }}">
					<i class="fa fa-user"></i> {{ 'MY_PROFILE'| translate }}</a>
			</li>
			<li>
				<a ng-href="{{:: basePath }}profile-edit">
					<i class="fa fa-edit"></i> {{ 'PROFILE_EDIT.HEADER'| translate }}</a>
			</li>
			<li>
				<a ng-href="{{:: basePath }}profile-settings">
					<i class="fa fa-cog"></i> {{ 'SETTINGS'| translate }}</a>
			</li>
			<li class="divider" ng-if="myAdminCommunities.length"></li>
			<li ng-repeat="item in myAdminCommunities">
				<a class="user-switch-item" ng-href="{{:: getProfileLink('Community', item._id) }}" title="{{ item.name}}">
					<avatar size="mini" class="img community" src="item.avatar.normal" type="'Community'"></avatar>
					<span class="name">{{ item.name | ellipsis:12}}</span>
				</a>
			</li>
			<li class="divider" ng-if="myAdminCommunities.length"></li>
			<li>
				<a href="" class="logout-link" ng-click="logout()">
					<i class="fa fa-sign-out"></i> {{ 'LOGOUT'| translate }}</a>
			</li>
		</ul>
		<ul class="off-canvas-list">
			<li>
				<label> {{'TOP_BAR_ABOUT' | translate}} </label>
			</li>
			<li>
				<a ng-href="{{ basePath }}terms">{{ 'MENU.TERMS' | translate}}</a>
			</li>
			<li>
				<a ng-href="{{ basePath }}faq">{{ 'MENU.FAQ' | translate}}</a>
			</li>
			<li>
				<a ng-href="{{ basePath }}feedback">{{ 'WRITE_US' | translate}}</a>
			</li>
			<li>
				<a href="http://blog.hearth.net" target="_blank">{{ 'BLOG' | translate}}</a>
			</li>
			<li ng-if="language == 'cs'">
				<a ng-href="{{ basePath }}taxes">{{ 'MENU.TAXES' | translate}}</a>
			</li>
		</ul>
		<ul class="off-canvas-list socials">
			<li>
				<label> {{ 'SOCIAL_NETWORKS' | translate}} </label>
			</li>
			<li>
				<a href="https://twitter.com/hearth_net" target="_blank">
					<span class="fa fa-twitter"></span> Twitter</a>
			</li>
			<li>
				<a href="https://www.facebook.com/Hearthnet.Ceska.republika.a.Slovensko" target="_blank">
					<span class="fa fa-facebook"></span> Facebook</a>
			</li>
			<li>
				<a href="https://plus.google.com/105519310550753411853" target="_blank">
					<span class="fa fa-google-plus"></span> Google+</a>
			</li>
			<li>
				<a href="http://www.youtube.com/user/hearthnetcrsr" target="_blank">
					<span class="fa fa-youtube"></span> Youtube</a>
			</li>
		</ul>
	</aside>
	<div class="header">

		<div id="new-version-notify" ng-class="{'active': showNewVersionNotify}">
			<div>
				<p>
					<i class="fa fa-exclamation-circle"></i> {{ 'NEW_VERSION_NOTIFICATION' | translate }}
				</p>
				<span ng-click="refreshToPath()" class="left">{{ 'RELOAD' | translate }}</span>
				<span ng-click="closeMaintenanceNotify();" class="right">{{ 'CLOSE' | translate }}</span>
				<div class="clear"></div>
			</div>
		</div>

		<div id="notify-top"></div>

		<nav class="column tab-bar tab-bar-closed hide-for-large-up">
			<a class="left-off-canvas-toggle menu-icon sidebar-button">
				<i class="fa fa-bars"></i>
			</a>
			<a ng-click="reloadToMarketplace()" class="menuItem logo" analytics-on analytics-event="marketplace" analytics-category="menu" id="nav-title">
				<img class="zurb-logo-mobile" src="/app/images/logo.png" width="150"> </a>
			<span class="small-icons">
				<i class="fa fa-plus-square" ng-click="editItem(null)" title="{{:: 'TOP_BAR.ADD_NEW_POST' | translate }}"></i>
				<i id="searchIcon" class="fa fa-search" ng-class="{active: isSearchBarShown()}" ng-click="toggleSearchBar()"></i>
			</span>

			<div class="clear"></div>
		</nav>

		<div id="searchContainer" class="mobile-top-search-bar-container hidden-for-large-up hidden">
			<!-- this is search bar for mobile, expanded after click on search buton on topbar -->

			<div class="center padding-1">
				<div class="column large-3 show-for-large-up">
					<a ng-click="reloadToMarketplace()" class="logo" analytics-on analytics-event="marketplace" analytics-category="menu" id="nav-title">
						<img class="zurb-logo-mobile" src="/app/images/logo.png" width="200">
					</a>
				</div>
				<div class="hide-for-large-up small-search column small-12 medium-12">
					<form ng-submit="search(searchQuery)">
						<span class="search-button-container">
							<a class="search-submit button" ng-click="search(searchQuery)">{{ 'SEARCH' | translate }}</a>
						</span>
						<div class="desktop-search-input-container">
							<input type="text" id="search" ng-model="searchQuery.query" name="search" ng-attr-placeholder="{{::'TELL_ME_WHAT_ARE_YOU_LOOKING_FOR' | translate }}" />
						</div>
					</form>
				</div>
				<div class="column large-3 show-for-large-up text-right">
					<a href="#" class="button-send" ng-click="editItem(null)"> {{:: 'TOP_BAR.ADD_NEW_POST' | translate }} </a>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<nav class="top-bar show-for-large-up" data-topbar ng-cloak>
			<!-- this is desktop topbar, visible all the time -->

			<section class="bar-columns logo-column">
				<a ng-click="reloadToMarketplace()" class="logo" analytics-custom analytics-event="marketplace" analytics-category="menu" id="nav-title">
					<img class="zurb-logo-mobile" src="/app/images/logo.png" width="150"> </a>
			</section>

			<section class="bar-columns searchbox-column">
				<input type="text" id="searchBox" placeholder="{{ 'TELL_ME_WHAT_ARE_YOU_LOOKING_FOR' | translate }}" ng-model="searchQuery.query" ng-enter="search(searchQuery)">
				<span class="search-input-submit-icon fa fa-search" ng-click="search(searchQuery)"></span>
			</section>

			<section class="bar-columns icons-column">
				<a ng-click="reloadToMarketplace()" ng-class="{active: segment == 'market'}" title="{{ 'HOMEPAGE_MARKET' | translate }}">
					<div class="fa icon-marketplace"></div>
					<label>{{ 'HOMEPAGE_MARKET' | translate }}</label>
				</a>

				<a ng-if="loggedUser._id" href="{{:: basePath }}communities" ng-class="{active: ['communities', 'community'].indexOf(segment.split('.')[0]) > -1}" title="{{ 'COMMUNITIES' | translate }}">
					<div class="fa icon-community"></div>
					<label>{{ 'COMMUNITIES' | translate }}</label>
				</a>

				<div class="top-bar-separator"></div>

				<span class="top-bar-messages">
					<a id="unreaded-messages-counter" ng-if="loggedUser._id" ng-href="{{ basePath }}messages" ng-class="{active: segment.slice(0,8) == 'messages'}" title="{{ 'TOP_BAR_MESSAGES' | translate }}">
						<span class="messages-icon">{{ messagesCounters.unread | minMax:1:99:'+':1 }}</span>
						<label>{{ 'TOP_BAR_MESSAGES' | translate }}</label>
					</a>
				</span>

				<span class="dropdown-container">
					<a ng-if="loggedUser._id" ng-show="loggedUser.name" class="logged-user-dropdown" ng-class="{active: segment.slice(0,7) == 'profile'}" hover="true" dropdown="#profile-drop" title="{{ loggedUser.name}}">
						<avatar class="img" size="mini" src="loggedUser.avatar.normal" type="'User'"></avatar>
						<label>{{ loggedUser.name | ellipsis:9}}</label>
					</a>
					<ul class="dropdown user-dropdown" id="profile-drop" title="{{ loggedUser.name }} ">
						<li>
							<a ng-href="{{:: getProfileLink('User', loggedUser._id) }}">
								<i class="fa fa-user"></i> {{ 'MY_PROFILE'| translate }}</a>
						</li>
						<li>
							<a ng-href="{{:: basePath }}profile-edit">
								<i class="fa fa-edit"></i> {{ 'PROFILE_EDIT.HEADER'| translate }}</a>
						</li>
						<li>
							<a ng-href="{{:: basePath }}profile-settings" class="user-settings-link">
								<i class="fa fa-cog"></i> {{ 'SETTINGS'| translate }}</a>
						</li>

						<li class="divider" ng-if="myAdminCommunities.length"></li>
						<li ng-repeat="item in myAdminCommunities">
							<a class="user-switch-item" ng-href="{{:: getProfileLink('Community', item._id) }}" title="{{ item.name}}">
								<avatar size="mini" class="img community" src="item.avatar.normal" type="'Community'"></avatar>
								<span class="name">{{ item.name | ellipsis:12}}</span>
							</a>
						</li>
						<li class="divider" ng-if="myAdminCommunities.length"></li>
						<li>
							<a href="" class="logout-link" ng-click="logout()">
								<i class="fa fa-sign-out"></i>{{ 'LOGOUT'| translate }}</a>
						</li>
					</ul>
				</span>

				<span class="dropdown-container">
					<a title="{{'TOP_BAR_ABOUT' | translate }}" ng-class="{active: ['faq', 'taxes', 'terms', 'feedback'].indexOf(segment) > -1}" analytics-custom analytics-event="about page open" dropdown="#about-drop" hover="true" analytics-category="About" id="nav-about">
						<div class="fa fa-question-circle"></div>
						<label>{{'TOP_BAR_ABOUT' | translate}}</label>
					</a>
					<ul class="dropdown" id="about-drop">
						<li>
							<a ng-href="{{ basePath }}terms">{{ 'MENU.TERMS' | translate}}</a>
						</li>
						<li>
							<a ng-href="{{ basePath }}faq">{{ 'MENU.FAQ' | translate}}</a>
						</li>
						<li>
							<a ng-href="{{ basePath }}feedback">{{ 'WRITE_US' | translate}}</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="http://blog.hearth.net" target="_blank">{{ 'BLOG' | translate}}</a>
						</li>
						<li ng-if="language == 'cs'">
							<a ng-href="{{ basePath }}taxes">{{ 'MENU.TAXES' | translate}}</a>
						</li>
						<li class="divider"></li>
						<li class="no-hover">
							<span>{{ 'SOCIAL_NETWORKS' | translate}}</span>
						</li>
						<li class="no-hover">
							<ul class="social-menu">
								<li>
									<a href="https://twitter.com/hearth_net" target="_blank">
										<span class="fa fa-twitter"></span>
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/Hearthnet.Ceska.republika.a.Slovensko" target="_blank">
										<span class="fa fa-facebook"></span>
									</a>
								</li>
								<li>
									<a href="https://plus.google.com/105519310550753411853" target="_blank">
										<span class="fa fa-google-plus"></span>
									</a>
								</li>
								<li>
									<a href="http://www.youtube.com/user/hearthnetcrsr" target="_blank">
										<span class="fa fa-youtube"></span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</span>

				<a ng-if="!loggedUser._id" href="{{:: basePath }}login" analytics-custom analytics-event="sign-in" analytics-category="menu" id="nav-login">
					<div class="text">
						<div class="fa fa-sign-in"></div>
						<label>{{'TOP_BAR_SIGN_IN' | translate }}</label>
					</div>
				</a>
			</section>
			<div class="clear"></div>
		</nav>
	</div>
</section>