<div class="needOfferSelector">
	<ul class="button-group radius">
		<li>
			<a class="small button left" ng-class="{pressed: !needSelected}" ng-click="toggleNeed()"> 
				<div ng-if="community">
					<span>{{ 'WE_NEED' | translate }}</span>
				</div>
				<div ng-if="!community">
					<span>{{ 'NEED' | translate }}</span>
				</div>
			</a>
		</li>
		<li>
			<a class="small button right" ng-class="{pressed: needSelected}" ng-click="toggleNeed()">
				<div ng-if="community">
					<span>{{ 'WE_GIVE' | translate }}</span>
				</div>
				<div ng-if="!community">
					<span>{{ 'OFFER' | translate }}</span>
				</div>
			</a>
		</li>
	</ul>
</div>