<div class="ratingReply">
	<form class="formStyle" ng-submit="sendReply(rating.reply_text)" name="ratingReplyForm" novalidate="">
		<label for="reply-text">
			<div class="author-info">
				<div>{{:: 'PROFILE.RATING.REPLY_TO_USER' | translate}}
					<a href="{{:: getProfileLink(rating.entity_from._type, rating.entity_from._id)}}">{{:: rating.entity_from.name}}</a>
					<span ng-if="rating.post_id">&nbsp;{{:: 'RATING_TO_POST' | translate }}
						<a href="{{:: basePath }}post/{{:: rating.post_id}}" title="{{:: rating.post_title }}">{{:: rating.post_title | ellipsis:40}}</a>
					</span>:
				</div>
			</div>
		</label>
		<input-max-length input-type="textarea" show-counter="true" min-length="3" max-length="500" required="true" placeholder="{{ 'RATINGS.REPLY.TEXT_PLACEHOLDER' | translate }}" model="rating.reply_text" name="text" id="reply-text"></input-max-length>
		<div class="clearfix">&nbsp;</div>
		<div class="clearfix">
			<a class="left cancel-reply" ng-click="closeReply(rating)">
				{{:: 'CANCEL' | translate }}
			</a>
			<button type="submit" ng-disabled="ratingReplyForm.text.$invalid" class="margin-0 button-send right ng-binding">
				{{:: 'SEND' | translate }}
			</button>
		</div>
	</form>
</div>