<div class="display-table table-with-icons" ng-init="init(entity)">
	<div class="display-table-row" ng-if="entity.motto && (typeMatch.indexOf('motto') > -1)">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-quote-right"></i>
		</div>
		<div class='display-table-cell' ng-bind="entity.motto"></div>
	</div>
	<div class="display-table-row" ng-if="entity.about && (typeMatch.indexOf('about') > -1)">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-quote-right"></i>
		</div>
		<div class='display-table-cell' ng-bind="entity.about"></div>
	</div>
	<div class="display-table-row" ng-if="(typeMatch.indexOf('about_shortened') > -1 && getShorterDescription())">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-quote-right"></i>
		</div>
		<div class='display-table-cell' ng-bind="entity.about_shortened"></div>
	</div>
	<div class="display-table-row" ng-if="entity.interests.length && entity.interests[0] != '' && (typeMatch.indexOf('interests') > -1)">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-smile-o"></i>
		</div>
		<div class="display-table-cell" ng-bind="entity.interests.join(',\u00A0')"></div>
	</div>
	<div class="display-table-row" ng-if="entity.work && (typeMatch.indexOf('work') > -1)">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-briefcase"></i>
		</div>
		<div class="display-table-cell" ng-bind="entity.work"></div>
	</div>
	<div class="display-table-row" ng-if="entity.locations.length && entity.locations[0].short_address && (typeMatch.indexOf('locations') > -1)">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-map-marker"></i>
		</div>
		<div class="display-table-cell">
			{{:: 'you-will-find-me' | translate }}
			<span ng-repeat="location in entity.locations" ng-if="location.short_address" ng-bind="location.short_address + ($last ? '.' : ',\u00A0')"></span>
		</div>
	</div>
	<div class="display-table-row" ng-if="!(isEmpty(entity.user_languages)) && (typeMatch.indexOf('languages') > -1)">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-comments"></i>
		</div>
		<div class="display-table-cell">
			<span ng-repeat="(languageCode, enabled) in entity.user_languages" ng-bind="('MY_LANG.' + languageCode | translate) + ($last ? '.' : ',\u00A0')"></span>
		</div>
	</div>
	<div class="display-table-row" ng-if="(entity.email || entity.contact_email) && (typeMatch.indexOf('email') > -1)">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-envelope"></i>
		</div>
		<div class="display-table-cell">
			<div ng-if="entity.email">
				<a href="mailto:{{ entity.email }}" ng-bind="entity.email"></a>
			</div>
			<div ng-if="entity.contact_email">
				<a href="mailto:{{ entity.contact_email }}" ng-bind="entity.contact_email"></a>
			</div>
		</div>
	</div>
	<div class="display-table-row" ng-if="entity.phone && (typeMatch.indexOf('phone') > -1)">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-phone"></i>
		</div>
		<div class="display-table-cell" ng-bind="entity.phone"></div>
	</div>
	<div class="display-table-row" ng-if="entity.webs.length && entity.webs[0] && (typeMatch.indexOf('webs') > -1)">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-link"></i>
		</div>
		<div class='display-table-cell'>
			<span ng-repeat="web in entity.webs">
				<a target="_blank" ng-href="{{ web }}" ng-bind="web | protocolfree | ellipsis:20"></a>
				<span ng-bind="($last ? '' : ',\u00A0')"></span>
			</span>
		</div>
	</div>
</div>