.static-page-container {
	a:not(.button) {
		color: $primary-color;
	}

	section.heading {
		h1,
		h2 {
			text-align: center;
		}
		hr {
			border: none;
			border-bottom: 1px solid #ddd;
			margin-top: 15px;
			margin-bottom: 25px;
		}
	}
	section.situation {
		border-bottom: 1px solid #ddd;
		padding-bottom: 15px;
		margin-bottom: 25px;
		background: #f3f3fa;
		padding: 15px;
		border-radius: 4px;
	}
	font-size:14px;
	h1 {
		font-size: $ui-title-font-size;
		margin-top: 15px;
		margin-bottom: 5px;
		font-weight: 700;
	}
	h2,
	h3,
	h4 {
		font-size: $ui-text-font-size;
		font-weight: 600;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	h3,
	h4 {
		text-align: center;
		font-weight: 600;
	}
	p,
	li,
	dl,
	dd,
	dt {
		font-size: $ui-text-font-size;
		margin-bottom: 5px;
	}
	dt {
		margin-top: 15px;
		font-weight: 700;
	}
	//dd { text-indent:5px;}
	p {
		&.type {
			font-size: $ui-title-font-size;
			font-weight: bold;
		}
	}
	.type,
	.who {
		text-align: center;
	}
	.info {
		margin-top: 25px;
		margin-bottom: 25px;
		background: #dedede;
		padding: 15px;
		border-radius: 4px;
	}
	abbr {
		font-size: 100%;
		font-variant: italic;
	}
}

.static-page-container .faq {
	.q {
		margin-top: 25px;
		margin-bottom: 15px;
		font-weight: 700;
	}
	.a {
		margin-bottom: 15px;
		margin-left: 15px;
	}
}

.v2.static-page-container h3, .v2.static-page-container h4 {
	font-size:$ui-text-font-size;
}

.static-page-container h3.new-terms {
	background: $colorLightGray;
	padding: 25px;
}

.static-page-container div.new-terms {
	li { list-style-type:none;}
	dd {
		margin-left:15px;
		ul { margin-top: 10px; }
	}
}


.static-page-container .abstract {
	margin-left: 0;
	margin-right: 0;
	border: 1px solid #d7d7d7;
	border-left: 5px solid #a7bd1d;
	border-radius: 4px;
	background-color: #fff;
	padding:25px 50px;
	h2 {
		text-align:center
	}
	h3 {
		margin-bottom:25px;
	}
	h4 {
		text-align:left;
		margin:15px 0 10px 0;
	}
	p {
		margin-left:10px;

	}
}

.static-page-container {
	.support-us {
		&>div.columns {
			padding:0;
		}
		.i-want, .ng {
			margin-top: 6 * $ui-small-grid-size;
			margin-bottom: 6 * $ui-small-grid-size;
			clear:both;
			a.button {
				float: right;
				width: 190px;
			}
			&>img {
				float:left;
				margin-left: 40px;
				margin-right: 40px;
			}
			img.round {
				border-radius:50%;
				width:130px;
				height:130px;
			}
			&>.indent {
				margin-left:160px;
			}
			&>.no-indent {
				margin-left:25px;
			}

			h3 {
				margin-top: 0;
				margin-bottom: 0.5em;
				font-size: 125%;
				text-align:left;
			}

			p {
				margin-bottom: 3 * $ui-small-grid-size;
			}

			@include breakpoint(small down) {
				text-align:center;
				&>img {
					float:none;

					margin-top:0 !important;
				}
				&>.indent, &>.no-indent {
					margin-left:0;
				}
				a.button {
					float:none;
					width:100%;
				}
				h3 {
					text-align:center;
					margin-left:0;
				}
			}
		}
	}
}

.i-want-more {
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;

	.panel {
		margin-bottom:2 * $ui-small-grid-size;
		margin-top:2 * $ui-small-grid-size;
		background: $colorLightGray;
		background-size: 100% !important;
		border-radius: $global-radius;
		padding: 4 * $ui-small-grid-size;
		text-align: center !important;

		h2, h3 {
			margin-bottom:4 * $ui-small-grid-size;
			text-align: center !important;
			height:60px;
		}
		h3 {
			font-size: 1.25rem !important;
		}

		.button {
			margin-top:4 * $ui-small-grid-size;
			float: unset !important;
			width: 150px !important;
		}
		img {
			max-height:50px;
			display:block;
			margin-left:auto;
			margin-right:auto;
		}
	}
	.xpanel.get-badge {
		background:url(http://colorlisa.com/pictures/4_1.jpg) no-repeat;
	}
	.xpanel.print-flyer {
		background:url(http://colorlisa.com/pictures/14_1.jpg) no-repeat;
	}
	.xpanel.get-widget {
		background:url(http://colorlisa.com/pictures/6_1.jpg) no-repeat;
	}
}

.support-us-modal {
	label {
		margin-top: 2 * $ui-small-grid-size;
	}
	.columns>label:not(.ui-checkbox) {
		float:right;
		text-align:right;
	}
	@include breakpoint(medium down) {
		label {
			margin-top:0;
		}
		.columns>label:not(.ui-checkbox) {
			float:none;
		}
	}
	input[type="number"] {
		width:10 * $ui-small-grid-size;
		margin-left:$ui-small-grid-size;
	}
	p.success {
		color: $success-color;
	}
}

.static-page-container .custodians {
	.avatar-like {
		width:80px;
		border-radius:50%;
		float:left;
		margin-right:20px;
	}
	@include breakpoint(medium up) {
		dd.pad-left {
			margin-left:100px;
		}
		dl.pad-left {
			margin-left:100px;
		}
	}
	.pad-left ul, .pad-left-none ul {
		margin-top:15px;
		margin-left:30px;
	}
	.margin-bottom-larger {
		margin-bottom:40px;
	}
}


.timeline-page {
	display:block; 

	h2 { color: $dark-gray; }

	.timeline {
		width:50%;
		clear:both;
		&::before {
			content:'';
			display:block;
			width:20px;
			height:20px;
			border-radius:50%;
			background:$secondary-color;
			box-shadow: 0px 0px 0px 3px #fff;
			//border:2px solid $tertiary-color;
			margin-top:10px;
			top:30px;
			position:relative;
			margin-left:-51px;
		}

		&:nth-child(odd) {
			padding-right:40px;
			border-right:2px solid $medium-gray;
			margin-left:2px;
			float:left;
			h2, h3, p {
				text-align: right;
			}
			&::before {
				left:100%;
				margin-left:31px;
			}
		}
		&:nth-child(even) {
			padding-left:40px;
			border-left:2px solid $medium-gray;
			float:right;
		}

		@include breakpoint(small down) {
			width:100%;
			h2 { font-weight:bold; text-align: center;}
			h3 { text-align: center; }
			&::before {
				display:none;
			}
			&:nth-child(odd) {
				padding-right:0;
				float:none;
				border:none;
				margin-left:0;
				p {
					text-align:unset;
				}
				h2, h3 { text-align:center;}
			}
			&:nth-child(even) {
				padding-left:0;
				border:none;
				float:none;
			}
		}

	}


	&>p {
		clear:both;
	}
}

.contacts-page {
	.hero {
		font-size:large;
	}
	.address {
		text-align:center;
		display:inline-block;
		background: $light-gray;
		border-radius:$global-radius;
		padding:$size-medium;
		line-height:initial;
		font-size:medium;
		margin-top:$size-medium;
		margin-bottom:$size-large;
	}
	h2 {
		clear:both;
		display:table;
		border-bottom:1px solid $primary-color;
		margin: $size-medium auto;
	}
	.profile {
		width:50%;
		@include breakpoint(small down) {
			width:100%;
		}
		float:left;
		padding:10px;
		h3>small {
			display: block;
			line-height: 100%;
			font-size:70%;
			color:$dark-gray;
		}
		&.profile-full {
			width:100%;
		}
		&:nth-child(even) {
			clear:both;
		}
	}
}