<div class="filterbar-wrap block">
	<div class="box display-flex flex-space-between">
		<div class="small-12 medium-10 large-7 display-flex">

      <!-- Post type filter-->
      <div class="hide-for-small-only padding-right-medium">
        Dary i přání
        <ul>
          <li><a ng-click="addFilter('post_type',null)">Všechny dary i přání</a></li>
          <li><a ng-click="addFilter('post_type','offer')">Jen dary</a>
            <ul>
              <li><a href="#">Jen přijmu</a></li>
              <li><a href="#">Jen půjčím</a></li>
            </ul>
          </li>
          <li><a ng-click="addFilter('post_type','need')">Jen přání</a>
            <ul>
              <li><a href="#">Jen půjčím si</a></li>
              <li><a href="#">Jen přijmu</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Character filter-->
      <div class="hide-for-small-only padding-right-medium">
        Povaha
        <ul>
          <li><a ng-click="addFilter('character',null)">Nezávisle na povaze</a></li>
          <li><a ng-click="addFilter('character','energy')">Jen Energie</a></li>
          <li><a ng-click="addFilter('character','mass')">Jen Hmota</a></li>
          <li><a ng-click="addFilter('character','information')">Jen Informace</a></li>
        </ul>
      </div>

      <!-- Time filter-->
      <div class="hide-for-small-only padding-right-medium">
        Čas přidání
        <ul>
          <li><a ng-click="addFilter('days',null)">Nezávisle na čase přidání</a></li>
          <li><a ng-click="addFilter('days',1)">Dnes</a></li>
          <li><a ng-click="addFilter('days',3)">3 dny</a></li>
          <li><a ng-click="addFilter('days',7)">Týden</a></li>
        </ul>
      </div>

      <!-- Dalsi moznosti-->
      <a ng-class="{pressed: filterSelected}" ng-click="toggleFilter()">
					<i ng-show="filterSelected" class="fa fa-chevron-up"></i>
					<i ng-show="!filterSelected" class="fa fa-chevron-down"></i>
					<span>{{::'MARKETPLACE.FILTER.TITLE' | translate}}</span>
					<a ng-show="filterOn" class="cancelFilter" ng-click="cancelFilter()">
						{{::'MARKETPLACE.FILTER.CANCEL_FILTER_BAR' | translate | lowercase}}
					</a>
				</a>
		</div>
    <div class="">
					<a test-beacon="filterbar-show-posts-on-map" ng-if="!mapSelected" href="{{:: basePath }}map{{ searchParams }}">{{::'MARKETPLACE.SHOW_POSTS_ON_MAP' | translate}}</a>
					<a test-beacon="filterbar-show-posts-on-map" ng-if="mapSelected" href="{{:: basePath }}{{ searchParams }}">{{::'MARKETPLACE.SHOW_POSTS_IN_LIST' | translate}}</a>
    </div>
    <div class="small-12 large-3 show-for-large">
      <a ng-click="editItem(null)" ng-class="{pressed: newItemSelected}" class="button display-block">
        {{::'MARKETPLACE.CREATE_NEW_ADD' | translate}}
      </a>
    </div>

  </div>
	<article class="filter-container medium-push-2 medium-10 animated-hidden" ng-class="{ 'animated-hidden': !filterSelected }">
    <!--<filter id="filter" class="filter" filter-shown="filterSelected" filter-selected="filterType"></filter>-->
    <div ng-show="inited">
      <section class="filter-inner">
        <input type="hidden" ng-model="filter.query" value="searchQuery.query" />
        <input type="hidden" ng-model="filter.type" value="searchQuery.type" />
        <div class="medium-display-table cells-padded-horizontal rows-separated cells-padded-vertical">
          <div ng-show="configOptionsShow.keywords" class="medium-display-table-row keywords-container" ng-if="inited">
            <h5 class="medium-display-table-cell padding-bottom-small vertical-align-middle nowrap-addon">{{:: 'MARKETPLACE.FILTER.BY_KEYWORDS' | translate }}</h5>
            <div class="medium-display-table-cell padding-bottom-small">
              <tags-input ng-model="filter.keywords" placeholder="{{:: 'ADD_KEYWORDS' | translate }}" replace-spaces-with-dashes="false" add-on-comma="true" add-on-space="false" allowed-tags-pattern="^[a-zA-Z0-9\sĚŠČŘŽÝÁÍÉÚŮĎŤŇÓěščřžýáíéúůďťňó\.]+$" min-length="3"
                          max-length="20">
                <auto-complete class="autocomplete-dropdown" source="queryKeywords($query)" load-on-empty="true" load-on-focus="true" load-on-down-arrow="true" debounce-delay="200" max-results-to-show="8" min-length="1"></auto-complete>
              </tags-input>
            </div>
          </div>
          <div ng-show="configOptionsShow.character" class="medium-display-table-row show-for-small-only">
            <h5 class="medium-display-table-cell nowrap-addon">{{:: 'MARKETPLACE.FILTER.BY_CHARACTER' | translate }}</h5>
            <div class="radio-container medium-display-table-cell">
              <div class="display-inline-block margin-right-large" ng-repeat="character in postCharacter">
                <checkbox model="filter[character.name]" value="true" class="margin-right-none">
                  <span translate="{{:: character.translate }}"></span>
                </checkbox>
                <i class="fa fa-question-circle color-dark-gray" aria-hidden="true" tipsy tipsy-on-show="logCharInfoShown" title="{{character.translateText | translate}}"></i>
              </div>
            </div>
          </div>
          <div ng-show="configOptionsShow.postType" class="medium-display-table-row show-for-small-only">
            <h5 class="medium-display-table-cell nowrap-addon">{{:: 'MARKETPLACE.FILTER.BY_TYPE' | translate }}</h5>
            <div class="radio-container medium-display-table-cell">
              <radio ng-type="radio" model="filter.post_type" value="'offer'">
                <span ng-bind-html=":: 'MARKETPLACE.FILTER.ADS_OFFER' | translate"></span>
              </radio>
              <radio ng-type="radio" model="filter.post_type" value="'need'">
                <span ng-bind-html=":: 'MARKETPLACE.FILTER.ADS_NEED' | translate"></span>
              </radio>
              <radio ng-type="radio" model="filter.post_type" value="null">
                <span ng-bind-html=":: 'MARKETPLACE.FILTER.ADS_ALL' | translate"></span>
              </radio>
            </div>
          </div>
          <div ng-show="configOptionsShow.entityType" class="medium-display-table-row">
            <h5 class="medium-display-table-cell nowrap-addon">{{:: 'FULLTEXT.FILTER.BY_TYPE' | translate }}</h5>
            <div class="radio-container medium-display-table-cell">
              <radio ng-type="radio" model="filter.type" value="null">{{:: 'FULLTEXT.FILTER.TYPE.ALL' | translate}}</radio>
              <radio ng-type="radio" model="filter.type" value="'post'">{{:: 'FULLTEXT.FILTER.TYPE.POSTS' | translate}}</radio>
              <radio ng-type="radio" model="filter.type" value="'user'">{{:: 'FULLTEXT.FILTER.TYPE.PEOPLE' | translate}}</radio>
              <radio ng-type="radio" model="filter.type" value="'community'">{{:: 'FULLTEXT.FILTER.TYPE.COMMUNITY' | translate}}</radio>
            </div>
          </div>
          <div ng-show="configOptionsShow.postTime" class="medium-display-table-row show-for-small-only">
            <h5 class="medium-display-table-cell nowrap-addon">{{:: 'MARKETPLACE.FILTER.BY_TIME' | translate }}</h5>
            <div class="radio-container medium-display-table-cell">
              <radio ng-type="radio" model="filter.days" value="'1'">{{:: 'MARKETPLACE.FILTER.TODAY' | translate}}</radio>
              <radio ng-type="radio" model="filter.days" value="'3'">{{:: 'MARKETPLACE.FILTER.3_DAYS' | translate}}</radio>
              <radio ng-type="radio" model="filter.days" value="'7'">{{:: 'MARKETPLACE.FILTER.WEEK' | translate}}</radio>
              <radio ng-type="radio" model="filter.days" value="null">{{:: 'MARKETPLACE.FILTER.WITHOUT_LIMIT' | translate}}</radio>
            </div>
          </div>
          <div ng-show="configOptionsShow.author" class="medium-display-table-row">
            <h5 class="medium-display-table-cell nowrap-addon">{{:: 'MARKETPLACE.FILTER.BY_AUTHOR' | translate }}</h5>
            <div class="radio-container medium-display-table-cell">
              <checkbox model="filter.user" value="true">{{:: 'MARKETPLACE.FILTER.INDIVIDUALS' | translate}}</checkbox>
              <checkbox model="filter.community" value="true">{{:: 'MARKETPLACE.FILTER.COMMUNITIES' | translate}}</checkbox>
              <checkbox ng-show="loggedUser" model="filter.my_section" value="true">{{:: 'MARKETPLACE.FILTER.MY_CONNECTIONS' | translate}}
              </checkbox>
            </div>
          </div>
          <div ng-show="configOptionsShow.location" class="medium-display-table-row location-container">
            <h5 class="medium-display-table-cell padding-bottom-small vertical-align-middle nowrap-addon">{{:: 'MARKETPLACE.FILTER.BY_LOCATION' | translate }}</h5>
            <div class="medium-display-table-cell padding-bottom-small">
              <div class="row">
                <div class="column" ng-class="{'small-7 medium-8': filter.lat && filter.lon && filter.name}">
                  <input class="bottom-line-input" type="text" id="geolocation" ng-model="filter.name" />
                </div>
                <div class="column small-5 medium-4 range-select-container" ng-show="filter.lat && filter.lon && filter.name">
                  <input type="range" ng-model="filter.distance" step="25" min="25" max="100">
                  <span class="distance">{{filter.distance}}&nbsp;{{:: 'MARKETPLACE.FILTER.KM' | translate }}</span>
                </div>
              </div>
            </div>
          </div>
          <div ng-show="configOptionsShow.postLanguage" class="medium-display-table-row language-container">
            <h5 class="medium-display-table-cell nowrap-addon padding-bottom-small">{{:: 'FULLTEXT.FILTER.BY_LANGUAGE' | translate }}</h5>
            <div class="radio-container medium-display-table-cell">
              <radio ng-type="radio" model="filter.post_language" value="'all'">{{:: 'FULLTEXT.FILTER.LANGUAGE.ALL' | translate}}</radio>
              <radio ng-type="radio" model="filter.post_language" value="'my'">{{:: 'FULLTEXT.FILTER.LANGUAGE.MY_LANGUAGES' | translate}}</radio>
              <radio ng-type="radio" model="filter.post_language" value="'other'">{{:: 'FULLTEXT.FILTER.LANGUAGE.OTHER' | translate}}</radio>
              <div class="autocomplete-container" ng-show="filter.post_language == 'other'">
                <tags-input ng-model="filter.post_language_other" display-property="name" key-property="code" placeholder="{{:: 'ADD_OTHER_LANG' | translate}}" replace-spaces-with-dashes="false" add-from-autocomplete-only="true">
                  <auto-complete source="queryLanguages($query)" min-length="0" load-on-focus="true" load-on-empty="true" max-results-to-show="32" highlight-matched-text="true"></auto-complete>
                </tags-input>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer display-flex">
        <div class="large-6">
          <button ng-click="applyFilter()" class="button expanded" ng-disabled="!filterCount">{{:: 'MARKETPLACE.FILTER.RUN_FILTER' | translate}}
            <b ng-if="filterCount !== false">({{filterCount}})</b>
          </button>
        </div>
        <div ng-if='loggedUser' ng-show="configOptionsShow.saveFilter" class="margin-left-large">
          <checkbox model="filterSave" on-update="toggleSaveFilter(value)" value="true">{{:: 'MARKETPLACE.FILTER.SAVE_FILTER' | translate}}</checkbox>
        </div>
      </section>
    </div>

  </article>
	<div class="clear"></div>
</div>
