<div when-scrolled="loadNext()">
  <div class="timeline" ng-repeat="(id, item) in timelineItems track by item.created_at">
    <div ng-if="item.verb == 'community_new_post' || item.verb == 'new_post'">
      <div post-small item="item.object" type="condensed" class="box"></div>
    </div>

    <div ng-if="item.verb == 'new_rating_received' || item.verb == 'new_rating'">
        <div rating item="item" class="box"></div>
    </div>

    <div class="box" ng-if="item.type == 'community_accepted_user' || item.verb == 'community_accepted_user'" ng-init="ul = (item.objects || [item])" users-list="ul" other="item"></div>

  </div>
</div>