/* COLOR SETTINGS */
$color-blue: #1fb1e8;
$color-orange: #fa5800;
$color-green: #a7bd1d;
$color-dark-gray: #7c766a;
$color-light-gray: #f4f4f4;
$color-green-alt: #26AF34;
$color-light-blue: #ebf5f7;
$color-red: red;
$color-yellow: #fcc000;

.ha-bg-blue {
  background-color: $color-blue;
}

.ha-bg-orange {
  background-color: $color-orange;
}

.ha-bg-green {
  background-color: $color-green;
}

.ha-bg-dark-gray {
  background-color: $color-dark-gray;
}

.ha-bg-light-gray {
  background-color: $color-light-gray;
}

.ha-bg-green-alt {
  background-color: $color-green-alt;
}

.ha-bg-light-blue {
  background-color: $color-light-blue;
}

.ha-bg-red {
  background-color: $color-red;
}

.ha-bg-yellow {
  background-color: $color-yellow;
}
