/* primary-color and secondary-color are used in _settings.scss, because they overrides Foundation settings  */
$primary-color: #1fb1e8;
$secondary-color: #fa5800;
$tertiary-color: #a7bd1d;
$quaternary-color: #7c766a;

// temporary
$colorLightGray: #f4f4f4;

.ha-bg-primary {
  background-color: $primary-color;
}

.ha-bg-secondary {
  background-color: $secondary-color;
}

.ha-bg-tertiary {
  background-color: $tertiary-color;
}

.ha-bg-quaternary {
  background-color: $quaternary-color;
}



