<div ng-if="! data.length" class="bottom-tabs"></div>
<div ng-if="! data.length" class="clear"></div>
<div ng-if="subPageLoaded">
	<div class="large-8 small-12 medium-12 no-result large-centered columns text-center" ng-if="mine && ! data.length">
		<div class="item">
			<p translate="PROFILE.COMMUNITIES.NO_COMMUNITIES_ME"></p>
		</div>
	</div>
	<div class="large-8 small-12 medium-12 no-result large-centered columns text-center" ng-if="! mine && ! data.length">
		<div class="item">
			<p translate="PROFILE.COMMUNITIES.NO_COMMUNITIES_OTHER"></p>
		</div>
	</div>
	<div ng-if="data.length" class="bottom-tabs">
		<h2 ng-if="mine">
			{{:: 'PROFILE.YOU_ARE_MEMBER' | translate}} {{ 'PROFILE.OF_X_COMMUNITIES.'+pluralCat(data.length) | translate:'{count:'+data.length+'}' }}
			<span ng-if="myAdminCommunities.length">
				{{:: 'PROFILE.YOU_ARE_ADMIN' | translate }} {{ 'PROFILE.OF_X_COMMUNITIES.'+pluralCat(myAdminCommunities.length) | translate:'{count:'+myAdminCommunities.length+'}' }}.
			</span>
		</h2>
		<h2 ng-if="! mine">
			{{:: 'PROFILE.USER_IS_MEMBER' | translate}} {{ 'PROFILE.OF_X_COMMUNITIES.'+pluralCat(data.length) | translate:'{count:'+data.length+'}' }}
		</h2>
	</div>
	<div class="clear"></div>
	<div class="communities">
		<div class="community-list">
      <div ng-repeat="(id, item) in data track by item._id">
        <community-item class="box block height-small" item="item" user="mine && info"></community-item>
      </div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div loading show="!subPageLoaded"></div>
