<div class="row" ng-cloak ng-controller="ChangePwdCtrl" style="padding:30px">
    <h2>{{ 'CHANGE_PASSWORD' | translate }}</h2>
    <form name="changePwdForm">
        <ul ng-show="errors.length" class="large-9 columns large-centered visible alert-box alert">
            <li ng-repeat="error in errors">{{ error.msg | translate}}</li>
        </ul>
        <input type="password" ng-model="password1" required placeholder="{{ 'PASSWORD' | translate }}">
        <input type="password" ng-model="password2" required placeholder="{{ 'PASSWORD_CHECK' | translate }}">
        <button ng-click="save()">{{ 'SAVE' | translate }}</button>
    </form>
</div>
