<div class="register-login-dialog">
    <div class="head">
        <h2>{{ 'FILL_EMAIL_TO_COMPLETE_REGISTRATION' | translate }}</h2>
    </div>
    <hr />
    <div class="fill-email-notify-container"></div>
    <form ng-submit="fillEmail()" name="fillEmailForm" novalidate class="register-login-form">
        <span ng-bind-html="'FILL_EMAIL_FOR_TWITTER_LOGIN' | translate"></span>
        <input type="email" class="fg_email" name="email" ng-model="data.email" ng-blur="validateEmail(data)" ng-focus="showError.email = false;" required placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" class="form-control text-input top">
        <div class="moveUp error" ng-show="showError.email">
            <span ng-show="fillEmailForm.email.$error.email">{{ 'SIGNUP_ERR_BAD_EMAIL_FORMAT' | translate }}</span>
            <span ng-show="fillEmailForm.email.$error.required">{{ 'ERR_NOT_FILLED_EMAIL' | translate }}</span>
            <span ng-show="fillEmailForm.email.$error.used">{{ 'ALREADY_USED_EMAIL' | translate }}</span>
        </div>
        <hr />
        <div class="bottom">
            <button class="primary button-send pointer center" type="submit"><i class="fa fa-sign-in"></i> {{ 'COMPLETE' | translate }}</button>
        </div>
    </form>
    <div class="register-successful success">
            <p ng-bind-html="'SIGNUP_WAS_SUCCESSFUL' | translate"></p>
        </div>
</div>