<div class="register-login-dialog">
    <div class="head">
        <h2>{{ 'HAVE_YOU_FORGOT_PASS' | translate }}</h2>
    </div>
    <hr />
    <div class="forgot-pass-notify-container"></div>
    <form ng-show="!sent" ng-submit="resetPassword()" name="resetPasswordForm" novalidate class="register-login-form">
        <p>{{ 'FILL_EMAIL_TO_RESET_PASSWORD' | translate }}</p>
        <input type="email" class="fg_email" name="email" ng-model="data.email" ng-blur="validateEmail(data)" ng-focus="resetPasswordForm.email.$error.unknown = false; showError.email = false" required placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" class="form-control text-input top">
        <div class="moveUp error" ng-show="showError.email">
            <span ng-show="resetPasswordForm.email.$error.email">{{ 'SIGNUP_ERR_BAD_EMAIL_FORMAT' | translate }}</span>
            <span ng-show="resetPasswordForm.email.$error.required">{{ 'ERR_NOT_FILLED_EMAIL' | translate }}</span>
            <span ng-show="resetPasswordForm.email.$error.unknown">{{ 'UNKNOWN_EMAIL' | translate }}</span>
        </div>
        <hr />
        <div class="bottom">
            <button class="primary button-send pointer center" type="submit"><i class="fa fa-sign-in"></i> {{ 'CONTINUE' | translate }}</button>
            <p>{{ 'HAVE_YOU_REMEMBERED_PASS' | translate }} <a ng-click="closeModal()" href="#!/register">{{ 'LETS_LOGIN' | translate }}</a></p>
        </div>
    </form>
</div>