<div class="register-login-dialog">
    <div class="headMessage error">
    </div>
    <div class="head">
        <h2>{{ 'LOGIN_HEADING' | translate }}</h2>
        <span ng-click="closeThisDialog()" class="close fa fa-times"></span>
    </div>
    <hr />
    <form ng-submit="login(data)" name="loginForm" novalidate class="register-login-form login-form">
        <div ng-if="showMsgOnlyLogged">
            <div class="alert-box alert radius" style=""><i class="fa fa-exclamation-triangle"></i>{{ 'LOGIN_REQUIRED' | translate }}</div>
        </div>
        <p ng-show="showError.badCredentials" class="error">{{ 'LOGIN_BAD_CREDENTIALS' | translate }}</p>
        <input type="text" name="username" class="login_name" ng-model="data.username" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" class="form-control text-input top">
        <input type="password" class="login_password" name="password" ng-model="data.password" placeholder="{{ 'PASS_PLACEHOLDER' | translate }}" class="form-control text-input top">
        <p><a ng-click="closeModal()" href="#!/forgotten-password">{{ 'HAVE_YOU_FORGOT_PASS' | translate }}</a></p>
        <div class="clear"></div>
        <hr />
        <div class="social-login">
            <a ng-href="{{ '/users/auth/facebook' | apiPrefix }}" class="fa fa-facebook"></a>
            <a ng-href="{{ '/users/auth/twitter' | apiPrefix }}" class="fa fa-twitter"></a>
            <a ng-href="{{ '/users/auth/google_oauth2' | apiPrefix }}" class="fa fa-google"></a>
        </div>
        <hr />
        <div class="bottom">
            <button class="primary button-send pointer center" type="submit"><i class="fa fa-sign-in"></i> {{ 'LOGIN_BUTTON' | translate }}</button>
            <p>{{ 'DONT_HAVE_ACCOUNT_YET' | translate }} <a ng-click="closeModal()" href="#!/register">{{ 'SIGNUP' | translate }}</a></p>
        </div>
    </form>
</div>