<div class="register-form" ng-class="{ 'shifted-left': showTerms && ! sent}" ng-cloak>
    <div class="register-login-dialog">
        <div class="headMessage error">
        </div>
        <div class="head">
            <h2>{{ 'SIGNUP_HEADING' | translate }}</h2>
        </div>
        <hr />
        <form ng-cloak ng-submit="register(user)" name="registerForm" novalidate class="register-login-form" ng-show="! sent">
            <div class="register-notify-area"></div>
            
            <p>{{ 'SIGNUP_HEADING_TEXT' | translate }}</p>
            <input type="text" class="register_name" name="name" ng-model="user.name" ng-focus="showError.name = false" ng-blur="showError.name = true" placeholder="{{ 'NAME_PLACEHOLDER' | translate }}" class="form-control text-input top" required />
            <div class="moveUp error" ng-show="showError.name">
                <span ng-show="registerForm.name.$error.required">{{ 'ERR_NOT_FILLED_NAME' | translate }}</span>
                <span ng-show="registerForm.name.$error.used">{{ 'SIGNUP_ERR_BAD_NAME' | translate }}</span>
            </div>
            <input type="email" name="email" ng-model="user.email" ng-focus="showError.email = false" ng-blur="checkEmailExists(user.email, 'registerForm', 'email'); showError.email = true" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" class="form-control text-input top" required />
            <div class="moveUp error" ng-show="showError.email">
                <span ng-show="registerForm.email.$error.required">{{ 'ERR_NOT_FILLED_EMAIL' | translate }}</span>
                <span ng-show="registerForm.email.$error.used">{{ 'ERR_EMAIL_EXISTS' | translate }}</span>
                <span ng-show="registerForm.email.$error.email">{{ 'SIGNUP_ERR_BAD_EMAIL_FORMAT' | translate }}</span>
                <span ng-show="apiErrors.email">{{ apiErrors.email | translate }}</span>
            </div>

            <show-text-in-password>
                <input type="password" name="password" ng-model="user.password" ng-focus="showError.password = false" ng-blur="showError.password = true" placeholder="{{ 'PASS_PLACEHOLDER' | translate }}" class="form-control text-input top" required ng-minlength="5" />
            </show-text-in-password>
            <div class="moveUp error" ng-show="showError.password">
                <span ng-show="registerForm.password.$error.required">{{ 'SIGNUP_ERR_NO_PASSWORD' | translate }}</span>
                <span ng-show="registerForm.password.$error.minlength">{{ 'SIGNUP_ERR_SHORT_PASSWORD' | translate }}</span>
            </div>

            <div class="text-center">
                <button class="primary button-send pointer" type="submit"><i class="fa fa-user"></i> {{ 'SIGNUP_BUTTON' | translate }}</button>
            </div>

            <div class="clear"></div>
            <hr />
            <div class="social-login">
                <p>{{ 'ACCOUNT.REGISTER.VIA_SOCIAL_NETWORKS' | translate }}</p>
                <a ng-href="{{ '/users/auth/facebook' | apiPrefix }}" class="fa fa-facebook"></a> <a ng-href="{{ '/users/auth/twitter' | apiPrefix }}" class="fa fa-twitter"></a> <a ng-href="{{ '/users/auth/google_oauth2' | apiPrefix }}" class="fa fa-google"></a>
            </div>
            <hr />
            <div class="bottom">
                <p>{{ 'YOU_ARE_ACCEPTING_TERMS' | translate }} <a href="" ng-click="showTerms = !showTerms">{{ 'WITH_TERMS_OF_USE' | translate }}</a></p>
                <p>{{ 'ALREADY_HAVE_AN_ACCOUNT' | translate }} <a href="#!/login">{{ 'LOGIN_TO_HEARTH' | translate }}</a></p>
            </div>
            <div class="terms" ng-show="showTerms && ! sent">
                <ng-include src="termsPath"></ng-include>
            </div>
        </form>
        <div class="register-successful success">
            <p>{{ 'SIGNUP_WAS_SUCCESSFUL' | translate }}</p>
        </div>
    </div>
</div>