<div class="register-login-dialog" ng-show="tokenVerified">
    <div class="headMessage error"></div>
    <div class="head">
        <h2>{{ 'RESET_PASSWORD' | translate }}</h2>
    </div>
    <hr />
    <p class="error" ng-if="! token || token == ''" ng-bind-html="'RESET_PASSWORD_BROKEN_LINK' | translate"></p>
    <div class="reset-pass-notify-container"></div>
    
    <form ng-cloak ng-show="token" ng-submit="resetPassword(data)" name="resetPasswordForm" novalidate class="register-login-form">
        <p class="error" ng-if="showError.topError">{{ 'RESET_PASSWORD_API_ERROR' | translate }}</p>
        <p>{{ 'RESET_PASSWORD_TEXT' | translate }}</p>

        <input type="password" ng-model="data.password" name="password" ng-minlength="5" class="text-input top" ng-focus="showError.password = false" placeholder="{{ 'PASSWORD' | translate }}" required />
        <div class="moveUp error" ng-show="showError.password">
            <span ng-show="resetPasswordForm.password.$error.required">{{ 'PASSWORD_NOT_FILLED' | translate }}</span>
            <span ng-show="resetPasswordForm.password.$error.minlength">{{ 'SIGNUP_ERR_SHORT_PASSWORD' | translate }}</span>
        </div>

        <input type="password" name="password2" ng-focus="showError.password2 = false; showError.passwordMatch = false;" class="text-input" ng-model="data.password2" placeholder="{{ 'PASSWORD_CHECK' | translate }}" required />
        <div class="moveUp error" ng-show="showError.password2">
            <span ng-show="resetPasswordForm.password2.$error.required">{{ 'PASSWORD_CHECK_NOT_FILLED' | translate }}</span>
            <span ng-show="showError.passwordMatch">{{ 'SIGNUP_PASSWORD_DOES_NOT_MATCH' | translate }}</span>
        </div>
        <div class="text-center">
            <button class="primary button-send pointer center" type="submit"><i class="fa fa-sign-in"></i> {{ 'USER_CHANGE_CREDENTIALS' | translate }}</button>
        </div>
    </form>
</div>