<div class="register-login-dialog">
    <div class="headMessage error">
    </div>
    <div class="head">
        <h2>{{ 'RESET_PASSWORD' | translate }}</h2>
        <span class="close fa fa-times"></span>
    </div>
    <hr />
    <p class="error" ng-if="! validLink" ng-bind-html="'RESET_PASSWORD_BROKEN_LINK' | translate"></p>
    <p class="success" ng-if="validLink && sent">Hurá! Vaše heslo bylo úspěšně změněno, nyní se můžete přihlásit</p>
    <form ng-if="validLink && ! sent" ng-submit="resetPassword()" name="resetPasswordForm" novalidate class="register-login-form">
        <p></p>
        <input type="password" id="password" ng-minlength="5" class="text-input top" ng-model="password1" placeholder="{{ 'PASSWORD' | translate }}" required>
        <div class="moveUp error">
            <span>Toto heslo je příliš krátké.</span>
        </div>
        <input type="password" ng-minlength="4" pw-check="password" class="text-input bottom" ng-model="password2" placeholder="{{ 'PASSWORD_CHECK' | translate }}" required>
        <div class="moveUp error">
            <span>Hesla nesouhlasí.</span>
        </div>
        <hr />
        <div class="bottom">
            <button class="primary button-send pointer center" type="submit"><i class="fa fa-sign-in"></i> Změnit heslo</button>
        </div>
    </form>
</div>
<!-- <div class="login" ng-init="init()">
    <div class="left-column small-12 large-6 columns alt-bg row">
        <form name="resetPwdForm" ng-submit="resetPwd()" class="large-7 large-centered columns" with-errors novalidate>
            <h2 translate>PASSWORD_RESET_TITLE</h2>
            <p translate>PASSWORD_RESET_TEXT</p>
            <div class="alert-box visible alert error round connect-bottom" ng-show="errors.base">{{ errors.base | translate }}</div>
            <div class="alert-box visible alert error round connect-bottom" ng-show="resetPwdForm.$error.pwcheck">{{'ERR_PASSWORDS_DONT_MATCH' | translate}}</div>
            <div class="alert-box visible alert error round connect-bottom" ng-show="resetPwdForm.$error.minlength">{{'ERR_WRONG_PASSWORD' | translate}}</div>
            
            <div style="position:relative; z-index:11;">
                <div>
                    <input type="password" id="password" ng-minlength="4" class="text-input top" ng-model="password1" placeholder="{{ 'PASSWORD' | translate }}" ng-required="true">
                </div>
                <div >
                    <input type="password" ng-minlength="4" pw-check="password" class="text-input bottom" ng-model="password2" placeholder="{{ 'PASSWORD_CHECK' | translate }}" ng-required="true">
                </div>
                <div class="">
                    <button class="primary controls button" type="submit" ng-disabled="sending || resetPwdForm.$invalid" style="width:100%;" translate>CONFIRM</button>
                </div>
            </div>
            <br><br>
            <a ng-href="#!/login" style="padding-left:0;" translate>BACK_TO_LOGIN</a>
        </form>
    </div>
</div>
 -->