<div class="modal">
	<header class="text-center">
		<span class="controlls">
			<span ng-click="close()" class="close fa fa-times"></span>
		</span>
	</header>
	<section class="tutorial">
		<article class="opening text-center" ng-if="! slider">
			<h3>{{:: 'TUTORIAL_HEADER' | translate }}</h3>
			<br />
			<button ng-click="showMeMagic()">{{:: 'TUTORIAL_SHOW_NEW_FUNCTIONS' | translate }}</button>
		</article>
		<section class="slider" ng-if="slider">
			<div class="flexslider" flexslider ng-if="loaded">
				<ul class="slides">
					<li class="slider-item" ng-repeat="item in tutorials">
						<header>
							<i class="fa {{ item.icon }}"></i>
							<p>{{ item.text }}</p>
							<div class="clear"></div>
						</header>
						<div class="slider-image">
							<img ng-src="{{ item.image }}" title="{{ item.text }}" />
						</div>
					</li>
				</ul>
			</div>
			<span class="controlls">
				<i ng-if="tutorials.length > 1" class="leftButton fa fa-angle-left" ng-click="prev()"></i>
				<i ng-if="tutorials.length > 1" class="rightButton fa fa-angle-right" ng-click="next()"></i>
			</span>
		</section>
	</section>
	<footer>
		<span ng-if="!slider">
			<a ng-click="closeAll()">{{:: 'TUTORIAL_DONT_SHOW_ANYTHING' | translate }}</a>
		</span>
		<div ng-if="slider" class="text-center closeAll">
			<a ng-click="closeAll()">{{:: 'TUTORIAL_DONT_SHOW_ANYTHING_BELOW_SLIDE' | translate }}</a>
		</div>
	</footer>
</div>