html{
	font: 16px/1.5 tahoma, arial, 'Hiragino Sans GB', \5FAE\8F6F\96C5\9ED1, sans-serif;
	scroll-behavior: smooth;
}
h1,h2,h3{
	text-align: center;
}
h1{
	font-size: 40px;
	margin-top: 0;
}
/*******************
	COLOR
*******************/
h1,h2,h3,
.color-primary{color: #fa5800}
.color-secondary{color: #a7bd1d}
.color-tertiary{color: #1fb1e8}
.background-primary{background-color: #fa5800}
.background-secondary{background-color: #a7bd1d}
.background-tertiary{background-color: #1fb1e8}
.background-alternate{background-color: #fcfbf4 !important}
a{color: #4a4a4a}
/*******************
	BUTTON
*******************/
.button{
	display: inline-block;
	padding: 16px 32px;
	color: #fff;
	background-color: #fa5800;
	border: 0px solid;
	border-radius: 30px;
	font-size: 18px;
	font-weight: bold;
	white-space: nowrap;
	text-decoration: none;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.button.small{
	padding: 8px 16px;
	font-size: 12px;
	text-transform: uppercase;
}
.button.color-secondary{
	background-color: #a7bd1d;
}
.button.alt{
	color: #fa5800;
	background-color: transparent;
	border: 3px solid #fa5800;
}
.button.alt.color-secondary{
	color: #a7bd1d;
	border: 3px solid #a7bd1d;
}
.button-flame{
	position: relative;
	top: 3px;
	display: inline-block;
	width: 20px; height: 20px;
	margin-right: 10px;
	background-image: url('../img/hearth-flame.png');
	background-size: contain;
	background-repeat: no-repeat;

}
.alt > .button-flame{
	background-image: url('../img/hearth-flame-alt.png');
}
/*******************
	TRIBAR
*******************/
.tribar{
  position: relative;
  padding-left: 1.25em;
}
.tribar:before{
  content: '';
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
}
/*******************
	SECTION
*******************/
.section > section{
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px
}
.section + .section,
.section > section + section{
	/*margin-top: 40px;*/
	padding-top: 40px;
}
.section:last-of-type{
	margin-bottom: 40px;
}
/*******************
	NAV
*******************/
.header-wrapper{
	position: fixed;
	top: 0;
	width: 100%; height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	background-color: #fff;
	z-index: 100;
}
.header-wrapper .logo{
	width: 270px; height: 56px;
	background-image: url('../img/logo-dark.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.nav-item{
	padding: 8px;
	margin: 0 4px;
	font-weight: bold;
	white-space: nowrap;
	text-decoration: none;
}
.main-navigation{
	display: flex;
}
.hamburger{
	margin: 0 10px 0 0;
}
/*******************
	FLAG
*******************/
.language-wrapper{
	position: relative;
}
#language-panel{
	display: none;
}
.hover-window{
	display: none;
}
@media (max-width: 1199px){
	.hover-window.is-active{
		position: absolute;
		display: flex !important;
		flex-direction: column;
		align-items: flex-start;
		top: calc(100% + 10px); left: -16px;
		padding: 16px;
		background: #fff;
		border-radius: 30px;
		box-shadow: 0 1px 2px rgba(0,0,0,.4);
	}
	#language-panel .language-option{
		margin-bottom: 10px;
		font-weight: bold;
	}
	#language-panel .language-option .flag{
		margin-right: 10px;
	}
	#language-panel .language-option:last-child{
		margin-bottom: 0px;
	}
	#main-navigation.is-active{
		left: -5px;
	}
	#main-navigation li{
		border-bottom: 1px solid #ddd;
	}
	#main-navigation li:last-child{
		border-bottom: none;
	}
	#main-navigation li a{
		display: block;
		min-width: 200px;
		margin: 0;
	}
	#main-navigation li:first-child a{
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
	#main-navigation li:last-child a{
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	#main-navigation li a:hover{
		background: #f4f4f4;
	}
}
@media (min-width: 1200px){
	#language-panel{
		flex-order: 4;
		display: inherit;
	}
}
.flag{
	display:inline-block;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
html[lang='en'] #language-toggle .flag,
.flag.flag-en{
	background-image: url(../img/flags/flag-english.svg);
}
html[lang='cs'] #language-toggle .flag,
.flag.flag-cs{
	background-image: url(../img/flags/flag-czech.svg);
}
html[lang='sk'] #language-toggle .flag,
.flag.flag-sk{
	background-image: url(../img/flags/flag-slovak.svg);
}
html[lang='cs'] #large-language-panel #language-large-cs,
html[lang='sk'] #large-language-panel #language-large-sk,
html[lang='en'] #large-language-panel #language-large-en{
	display: none;
}
/*******************
	JUMBO
*******************/
.jumbo-wrapper{
	height: 90vh;
	background-image: url('../img/jumbo-1-small.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 0;
}
@media (min-width: 768px){
	.jumbo-wrapper{
		background-image: url('../img/jumbo-1.png');
	}
}
.jumbo{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 100px 0;
}
.jumbo h1,
.jumbo h2{
	margin: 0 0 20px;
	color: #fff;
}
.jumbo h1{font-size: 60px;}
.jumbo h2{font-size: 24px; font-weight: normal;}

/* animated slash */
.jumbo .special-underline-wrapper{
	position: relative;
}
.jumbo .special-underline,
.jumbo .special-underline::before,
.jumbo .special-underline::after{
	position: absolute;
	width: 0; height: 6px;
	bottom: -10%;
	border-radius: 3px;
	background: #fa5800;

	-webkit-animation: slide 0.1s forwards;
	-webkit-animation-timing-function: ease-out;
	animation: slide 0.1s forwards;
	animation-timing-function: ease-out;
}
.jumbo .special-underline{
	left: 0;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.jumbo .special-underline::before,
.jumbo .special-underline::after{
	content: '';
	width: 0;
}
.jumbo .special-underline::before{
	bottom: -100%; right: 0;
	transform: rotate(-5deg);
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s;
}
.jumbo .special-underline::after{
	bottom: -200%; left: 0;
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
}

@-webkit-keyframes slide {100% { width: 100%; }}
@keyframes slide {100% { width: 100%; }}

/*******************
	DIVIDERS
*******************/
.contains-slash{
	position: relative;
	padding-bottom: 110px;
}
.slash{
	position: absolute;
	bottom: -1px; left: 0;
	width: 100%;
	overflow: hidden;
	padding-bottom: 110px;
}
.slash:before{
	content: '';
	position: absolute;
	top: 50%; left: -15%;
	width: 130%; height: 100%;
	display: block;
	transform: rotate(-6deg);
	background-color: #fff;
}
@media (min-width: 992px){
	.slash:before{
		transform: rotate(-3deg);
	}
}
.slash.background-alternate{background-color: transparent !important}
.slash.background-alternate:before{background-color: #fcfbf4 !important}
.divider-main{
	width: 100%; height: 20px;
	margin: 30px 0;
	background-image: url('../img/sketchy-lines-grey-small.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
@media (min-width: 992px){
	.divider-main{
		background-image: url('../img/sketchy-lines-grey.png');
	}
}

.decorated-circle-flame{
	position: absolute;
	bottom: 25px; left: 50%;
	width: 68px; height: 68px;
	margin-left: -34px;
	border-radius: 50%;
	background-image: url('../img/logo-shape.png');
	background-size: 28px 36px;
	background-position: 20px 16px;
	background-repeat: no-repeat;
	z-index: 10;
}
/*******************
	BALL
*******************/
.ball{
	position: relative;
	width: 30%;
	border-radius: 50%;
	color: #fff;
}
.balls-5 > .ball{
	padding-bottom: 20%;
	margin: 0 10px;
}
.balls-3 > .ball{
	padding-bottom: 30%;
}
.ball > svg{
	position: absolute;
	display: block;
	width: 100%;
}
.ball-label{
	position: absolute;
	top: 95%;
	width: 100%;
	text-align: center;
	font-size:20px;
	color:#4a4a4a;
	margin-bottom: 10px;
}
.ball-background-primary > svg > circle{fill: #fa5800;}
.ball-background-secondary > svg > circle{fill: #a7bd1d;}
.ball-background-tertiary > svg > circle{fill: #1fb1e8;}
.ball p{
	flex: 1;
	margin: 20px;
	font-size: 10px;
}
@media (max-width: 991px){
	/* !only works with .balls-3 */
	.small-constrict-ball{margin: 0 -10%;}
	.small-constrict-ball .ball p{margin: 20px 25px;}
	.small-constrict-ball .ball:first-child{left: 10%;}
	.small-constrict-ball .ball:last-child{right: 10%;}

	.small-drop-into-lines{flex-wrap: wrap; justify-content: center}
	.small-drop-into-lines .ball{min-width: calc(50% - 20px); padding-bottom: calc(50% + 10px); margin: 0 10px 60px;}
}
/*******************
	MASONRY
*******************/
@media (min-width: 992px){
	.masonry-wrapper:first-child{
		margin-left: -10px;
	}
	.masonry-wrapper:last-child{
		margin-right: -10px;
	}
}
.masonry-item{
	position: relative;
	height: 300px;
	margin: 10px;
	background-color: rgba(100,100,255,.4);
	background-size: cover;
	background-position: center center;
}
.masonry-item:after{
	content: '';
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
	background-color: rgba(0,0,0,.2);
}
.masonry-item > div{
	position: relative;
	z-index: 2;
}
.masonry-item h2{
	color: #fff;
	margin: 10px 0;
}
/*******************
	QUOTE
*******************/
.large-quote{
	margin-bottom: -40px;
	color: #9b9b9b;
	font-size: 144px;
	font-family:Montserrat-Regular;
	line-height: 100px;
	letter-spacing:0px;
}
/*******************
	SOCIAL
*******************/
.social-bar > a{
	margin: 0 10px;
}
.social-bar .fa{
	color: #bbb;
}
.social-bar .fa:hover{
	color: #f4f4f4;
}
/*******************
	BLOG ADS
*******************/
.blog-block h3{
	margin: 0;
	font-size: 17px;
	text-align: left;
	color: #444;
}
.blog-block p{margin: 0}
.blog-block > .blog-img-wrapper{
	max-width: 200px;
	position: relative;
	padding: 20px;
}
.blog-img-wrapper > .blog-img{
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding-bottom: 100%;
}
/*******************
	GESICHTE
*******************/
.max-500{ max-width: 500px; margin: 0 auto; }
@media (min-width: 1208px){
	.max-500{ max-width: 900px; }
}
.img-circle{ border-radius: 50%; }
@media (min-width: 768px){
	/*.nav-justified>li{display:table-cell;width:1%;vertical-align: top;}*/
	.nav-justified>li>a{margin-bottom:0}
}
.nav.nav-justified{
	padding: 0;
	display: flex;
}
.nav-justified>li{min-width: 25%;}
.nav-justified{
	line-height: 1.2;
}
.nav-justified a{
	text-decoration: none;
}

#nav-tabs{
	display: flex;
	flex: 1;
	flex-direction: column;
}
@media (min-width: 992px){
	#nav-tabs{
		flex-direction: row;
	}
}

.nav>li>a{position:relative;display:block;padding: 0px 10px}

.nav.nav-justified > li > a { position: relative; }
.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus { background-color: transparent; }
.nav.nav-justified > li > a .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px 0 5px 7px;
    background-color: #f05f40;
    border-radius: 15px;
    color: #fff;
}
.nav.nav-justified > li.active > a .quote { opacity: 1; }
.nav.nav-justified > li > a img { box-shadow: 0 0 0 5px #f05f40; }
.nav.nav-justified > li > a img {
    max-width: 100%;
    opacity: .3;
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a img,
.nav.nav-justified > li:hover > a img,
.nav.nav-justified > li:focus > a img {
    opacity: 1;
    -webkit-transform: scale(.9,.9);
            transform: scale(.9,.9);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; }

.tab-content>.tab-pane{display:none}
.tab-content>.active{display:block;}

.nav.nav-justified > li > a .quote {
	left: auto;
	top: auto;
	right: 40px;
	bottom: 20px;
}
@media (min-width: 768px) {
    .nav.nav-justified > li > a .quote { right: 20px; bottom: 0px; }
}

/*******************
	AD HOC IMAGES
*******************/
#image-mp-1{background-image: url('../img/temp/mp-1.png')}
#image-mp-2{background-image: url('../img/temp/mp-2.png')}
#image-mp-3{background-image: url('../img/temp/mp-3.png')}
#image-mp-4{background-image: url('../img/temp/mp-4.png')}
#image-mp-5{background-image: url('../img/temp/mp-5.png')}

#image-blog-1{background-image: url('../img/temp/blog-1.png')}
#image-blog-2{background-image: url('../img/temp/blog-2.png')}
#image-blog-3{background-image: url('../img/temp/blog-3.png')}