<!-- private community info when not member-->
<header class="margin-bottom-large">
    <h1 class="text-center">
        {{:: info.name }}
    </h1>
    <h4 class="large-6 large-push-3 margin-top-large padding-top-large text-center" 
        translate="COMMUNITY.PRIVACY.PRIVATE_FULL_DESCRIPTION">
    </h4>
    <div class="large-6 large-push-3 margin-top-large padding-top-large text-center">
            <button ng-click="applyForCommunity()" class="button large" ng-if="loggedUser._id && !info.is_applicant">
                <span translate="COMMUNITY.ACTION_APPLY_FOR_MEMBERSHIP"></span>
            </button>
            <div ng-if="info.is_applicant" class="box display-flex flex-space-between text-left padding-right-small">
                <i class="padding-right-medium" style="font-size:50px; color:#159700;">✓</i>
                <span translate="COMMUNITY.APPLY_FOR_PRIVATE_MEMBERSHIP_SENT"></span>
            </div>
    </div>
    <div class="text-center margin-top-large">
        <img src="/app/assets/img/flame.svg">
    </div>
    <div ng-if="!info.is_applicant">
        <h4 class="large-4 large-push-4 margin-top-large margin-bottom-large padding-top-large text-center text-muted" ng-bind-html=":: 'HEARTH.WHAT_IS_HEARTH_FOR' | translate">
        </h4>
        <div class="text-center margin-top-large">
            <button ng-click="applyForCommunity()" class="button" ng-if="loggedUser._id && !info.is_applicant">
                <span translate="COMMUNITY.ACTION_APPLY_FOR_MEMBERSHIP"></span>
            </button>
        </div>
    </div>
    <div ng-if="info.is_applicant">
        <h4 class="large-4 large-push-4 margin-top-large margin-bottom-large padding-top-large text-center text-muted" ng-bind-html=":: 'HEARTH.MARKETPLACE_PROMO' | translate">
        </h4>
        <div class="text-center margin-top-large">
            <button ui-sref="market" class="button">
                <span translate="HEARTH.ACTION_GO_TO_MARKET"></span>
            </button>
        </div>
    </div>
</header>