<div loading show="!profileLoaded"></div>

<div ng-if="info && info.is_private && !info.is_member && !mine" ng-include="'assets/pages/community/private.html'">
	<!-- included from private.html -->
</div>


<div class="community-view profile-common" ng-if="profileLoaded && (!info.is_private || info.is_member || mine)" ng-class="{'mine': mine, 'others': !mine}">
	<div class="user" ng-if="! info">
		<p>{{:: 'COMMUNITY.NOTIFY.ERROR_NOT_FOUND' | translate }}</p>
	</div>
	<header ng-if="info && showHeader">
		<div class="user-basic large-12 columns margin-bottom-small">
			<div class="row">
				<h1 class="large-6 small-12 pull-left">
					<a dont-jump-top href="{{:: communityLink }}">
						<span>{{:: info.name }}</span>
					</a>
				</h1>
				<div class="large-12 hide-for-medium hide-for-large text-center">
					<span class="text-muted" ng-if="info.is_private" translate="COMMUNITY.TYPE_PRIVATE"></span>
					<span class="text-muted" ng-if="info.is_public" translate="COMMUNITY.TYPE_PUBLIC"></span>
					<span class="text-danger" ng-if="mine">&bull;</span>
					<span class="text-danger" ng-if="mine" translate="COMMUNITY.I_AM_ADMIN"></span>
				</div>
				<div class="large-6 small-12 pull-right text-right">
					<div class="pull-right display-flex profile-action-buttons">
						<div ng-if="!mine && !info.is_member && !info.is_applicant">
							<!-- i am NOT a member or applicant of the community -->
							<button ng-if=":: loggedUser._id && !info.is_applicant" ng-click="applyForCommunity()" class="large button">
								<i class="fa fa-plus"></i>
								<span ng-if="!info.is_public" translate="COMMUNITY.ACTION_APPLY_FOR_MEMBERSHIP"></span>
								<span ng-if="info.is_public" translate="COMMUNITY.ACTION_BECOME_MEMBER"></span>
							</button>
						</div>

						<div ng-if="mine || (!mine && info.is_member && !info.is_applicant)">
							<!-- i am an admin of the community -->
							<!-- OR -->
							<!-- i am a member of the community -->
							<button ng-click="addItem()" class="large button margin-right-small margin-bottom-none">
								<span translate="MARKETPLACE.ACTION_CREATE_POST"></span>
							</button>

							<button ng-click="addQuickPost()" class="large button margin-left-none hide-for-small-only">
								<span translate="MARKETPLACE.ACTION_CREATE_QUICKPOST"></span>
							</button>
						</div>

						<div ng-if="!mine && info.is_applicant" class="alert-box success margin-bottom-none text-left">
							<!-- i am an applicant of the community -->
							<i class="fa fa-info-circle"></i> <span translate="COMMUNITY.APPLY_FOR_MEMBERSHIP_SENT"></span>
						</div>

						<div class="margin-left-small position-relative">
							<button href="" dropdown="#community-menu" class="button rounded">
								<i class="fa fa-chevron-down"></i>
							</button>
	
							<ul class="dropdown-menu margin-top-medium text-left" id="community-menu" style="display: none; ">
								<!-- <li ng-if="!mine"><a href="" ng-click="openUserRatingForm()" translate="PROFILE.ACTION_FEEDBACK "></a></li> -->
								<li class="hide-for-large hide-for-medium"><a ng-click="addQuickPost()" translate="MARKETPLACE.ACTION_CREATE_QUICKPOST"></a></li>
								<li ng-if="info.is_member"><a href="" ng-click="addMembersModal()" translate="COMMUNITY.ACTION_ADD_MEMBERS"></a></li>
								<li ng-if="!communityService.isMyCommunity(info, {checkIfIAmAdmin: true})"><a href="" ng-click="sendMessage(info)" translate="COMMUNITY.ACTION_SEND_MESSAGE_TO_ADMIN" translate-values="{actionAttrs: '', recipientAttrs: ''}"></a></li>
								<!-- <li ng-if="communityService.isMyCommunity(info, {checkIfIAmAdmin: true}) || (!communityService.isMyCommunity(info, {checkIfIAmAdmin: true}) && communityService.isMyCommunity(info) && info.allow_message_to_members)"><a href="" ng-click="sendMessage(info, {toAllMembers: true})" translate="COMMUNITY.ACTION_SEND_MESSAGE_TO_ALL_MEMBERS" translate-values="{actionAttrs: '', recipientAttrs: ''}"></a></li> -->
								<li ng-if="mine"><a href="{{:: communityLink }}/edit" translate="COMMUNITY.PROFILE.ACTION_EDIT"></a></li>
								<li ng-show="(!mine && info.is_member) && !mine"><hr/></li>
								<li ng-if="!mine && info.is_member"><a href="" class="elevated-authority-function" ng-click="confirmBox({title: 'COMMUNITY.CONFIRM_LEAVE.TITLE', text: 'COMMUNITY.CONFIRM_LEAVE.TEXT', callback: leaveCommunity, callbackScope: this})" translate="COMMUNITY.ACTION_LEAVE_COMMUNITY"></a></li>
							</ul>
						</div>
					</div>

					
				</div>
			</div>
			<div class="large-12 hide-for-small-only">
				<span class="text-muted" ng-if="info.is_private" translate="COMMUNITY.TYPE_PRIVATE"></span>
				<span class="text-muted" ng-if="info.is_public" translate="COMMUNITY.TYPE_PUBLIC"></span>
				<span class="text-danger" ng-if="mine">&bull;</span>
				<span class="text-danger" ng-if="mine" translate="COMMUNITY.I_AM_ADMIN"></span>
			</div>
		</div>
	</header>
	<div ng-show="topLoaded" ui-view></div>
</div>
		
