<div loading show="!profileLoaded"></div>
<div class="community-view profile-common" ng-if="profileLoaded" ng-class="{'mine': mine, 'others': !mine}">
	<div class="user" ng-if="! info">
		<p>{{:: 'COMMUNITY.NOTIFY.ERROR_NOT_FOUND' | translate }}</p>
	</div>
	<header ng-if="info" class="margin-bottom-large">
		<div class="user-basic large-12 columns">
      <div class="display-medium-flex flex-space-between">
        <h1>
          <a dont-jump-top href="{{:: communityLink }}">
          	<span>{{:: info.name }}</span>
          </a>
        </h1>
        <div class="display-inline-flex">
					<div class="button-bar">

						<div ng-if="!mine && !info.is_member && !info.is_applicant">
							<!-- i am NOT a member or applicant of the community -->
							<button ng-if=":: loggedUser._id && !info.is_applicant" ng-click="applyForCommunity()" class="large button">
								<i class="fa fa-plus"></i>
								<span translate="COMMUNITY.ACTION_APPLY_FOR_MEMBERSHIP"></span>
							</button>
						</div>

						<div ng-if="mine || (!mine && info.is_member && !info.is_applicant)">
							<!-- i am an admin of the community -->
							<!-- OR -->
							<!-- i am a member of the community -->
							<button ng-click="addItem()" class="large button margin-right-small">
								<span translate="MARKETPLACE.ACTION_CREATE_POST"></span>
							</button>

							<button ng-click="addQuickPost()" class="large button margin-left-none">
									<span translate="MARKETPLACE.ACTION_CREATE_QUICKPOST"></span>
								</button>
						</div>

						<div ng-if="!mine && info.is_applicant" class="alert-box success margin-bottom-none text-left">
							<!-- i am an applicant of the community -->
							<i class="fa fa-info-circle"></i> <span translate="COMMUNITY.APPLY_FOR_MEMBERSHIP_SENT"></span>
						</div>

					</div>

					<div class="margin-left-small position-relative">
						<button href="" dropdown="#community-menu" class="button rounded">
								<i class="fa fa-chevron-down"></i>
						</button>

						<ul class="dropdown-menu margin-top-medium" id="community-menu" style="display: none; ">
							<li ng-if="!mine"><a href="" ng-click="openUserRatingForm()" translate="PROFILE.ACTION_FEEDBACK "></a></li>
							<li ng-if="!communityService.isMyCommunity(info, {checkIfIAmAdmin: true})"><a href="" ng-click="sendMessage(info)" translate="COMMUNITY.ACTION_SEND_MESSAGE_TO_ADMIN" translate-values="{actionAttrs: '', recipientAttrs: ''}"></a></li>
							<li ng-if="communityService.isMyCommunity(info, {checkIfIAmAdmin: true}) || (!communityService.isMyCommunity(info, {checkIfIAmAdmin: true}) && communityService.isMyCommunity(info) && info.allow_message_to_members)"><a href="" ng-click="sendMessage(info, {toAllMembers: true})" translate="COMMUNITY.ACTION_SEND_MESSAGE_TO_ALL_MEMBERS" translate-values="{actionAttrs: '', recipientAttrs: ''}"></a></li>
							<li ng-show="(!mine && info.is_member) || mine"><hr/></li>
							<li ng-if="!mine && info.is_member"><a href="" class="elevated-authority-function" ng-click="confirmBox({title: 'COMMUNITY.CONFIRM_LEAVE.TITLE', text: 'COMMUNITY.CONFIRM_LEAVE.TEXT', callback: leaveCommunity, callbackScope: this})" translate="COMMUNITY.ACTION_LEAVE_COMMUNITY"></a></li>
							<li ng-if="mine"><a href="{{:: communityLink }}/edit" translate="PROFILE.ACTION_EDIT"></a></li>
						</ul>

					</div>







        </div>
      </div>
			<div class="short-about" ng-if="info.motto">
				<i class="fa fa-quote-right"></i> {{:: info.motto }}
			</div>
		</div>
		<div class="highlights">
			<avatar dont-jump-top size="large" class="left" src="info.avatar.large" href=":: basePath+'community/'+info._id" type="info._type"  thanks=":: info.up_votes" show-glow="true"></avatar>
			<span class="shadow large">
				<a dont-jump-top href="{{:: communityLink }}/posts" ng-class="{'active': (activePage == 'posts')}" class="bubble large">
					<span>
						<b>{{ info.post_count.offers }}</b>
						<br /> {{ 'COMMUNITY.X_GIVES.'+pluralCat(info.post_count.offers) | translate }}
						<hr class="orange" />
						<b>{{ info.post_count.needs }}</b>
						<br /> {{ 'COMMUNITY.X_WISHES.'+pluralCat(info.post_count.needs) | translate }}
					</span>
				</a>
			</span>
			<span class="shadow small">
				<a dont-jump-top href="{{:: communityLink }}/members" class="bubble small move-down" ng-class="{'active': (activePage == 'members' || activePage == 'applications')}">
					<span ng-if="info" ng-bind-html="'COMMUNITY.X_MEMBERS.'+pluralCat(info.member_count) | translate: '{count: '+info.member_count+'}'"></span>
				</a>
			</span>
			<span class="shadow large">
				<a dont-jump-top href="{{:: communityLink }}/received-ratings" ng-class="{'active': (activePage == 'received-ratings' || activePage == 'given-ratings')}" class="bubble medium">
					<span>
						<b class="avatar-thanks">{{info.up_votes}}</b>
						<br>
						<span translate="PROFILE.RATING.COUNT.few"></span>
						<hr class="orange" />
						<strong>{{info.down_votes}}</strong>×
						<span translate="PROFILE.RATING.NEGATIVE" class="text-smaller"></span>
					</span>
				</a>
			</span>
			<span class="shadow small">
				<a dont-jump-top href="{{:: communityLink }}/about" class="bubble small move-down" ng-class="{'active': (activePage == 'about')}">
					<span>
						<b>?</b>
						<br />
						<span translate="COMMUNITY.PROFILE.SHORT_ABOUT"></span>
					</span>
				</a>
			</span>
		</div>
		<div class="clear"></div>
	</header>
	<div ng-show="topLoaded" ui-view></div>
</div>




<script type="text/ng-template" id="add-quick-gift-modal">
	<!-- template for add new "quick gift" modal -->
	<div class="formStyle itemEdit modal quick-modal">
		<div class="head">
			<h2>TT Dotaz nebo tip</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>
		
		<!-- LOADING -->
		<div class="margin-top-small" loading show="!ctrl.draftLoaded"></div>

		<!-- DIALOG CONTENT -->
		<form class="margin-top-small" ng-show="ctrl.draftLoaded">
			<label>{{ :: 'TT S čím chceš poradit nebo inspirovat ostatní?'}}
				<input type="text" name="title" ng-model="ctrl.post.title">
			</label>
			<label class="margin-top-small">{{ :: 'TT Podrobnosti:'}}
				<textarea name="text" ng-model="ctrl.post.text"></textarea>
			</label>
		</form>
		
		<div class="display-flex flex-space-between margin-top-medium">
			<div class="files">
				<ul class="fileList" ng-if="ctrl.post.attachments_attributes.length">
					<li id="image-preview-{{$index}}" ng-if="! file._id || ! file.deleted" class="text-center margin-right-tiny" ng-class="{active: ! file._id || ! file.deleted}" ng-repeat="file in ctrl.post.attachments_attributes track by $index">
						<div class="overlay"></div>
						<a ng-click="ctrl.removeImage($index)" title="{{:: 'POST.CREATE.REMOVE_PHOTO_LABEL' | translate }}">
							<i class="fa fa-times"></i>
						</a>
						<img exif-rotated resized-thumbnail-image ng-src="{{ file.normal || file.public_url }}" title='file' />
					</li>
					<li class="file-upload text-left margin-top-medium" ng-if="ctrl.post.attachments_attributes.length > 0">
						<div image-preview-direct-upload options="ctrl.imageUploadOptions" result="ctrl.post.attachments_attributes">
							<i class="fa fa-plus"></i>
							<i class="fa fa-spinner fa-spin"></i>
						</div>
					</li>
				</ul>
				<div class="file-upload text-left margin-top-small" ng-if="ctrl.post.attachments_attributes.length == 0">
					<div image-preview-direct-upload options="ctrl.imageUploadOptions" result="ctrl.post.attachments_attributes">
						<a href="">TT Přidat obrázek</a>
					</div>
				</div>
				<div class="clear form-error" ng-if="ctrl.showError.files">
					<span ng-if="ctrl.showError.files.badFormat" translate="COMMON.NOTIFY.ERROR_BAD_IMAGE_FORMAT" translate-values="{formats: 'JPG, JPEG, PNG, GIF'}"></span>
					<span ng-if="ctrl.showError.files.badMaxSize" translate="COMMON.NOTIFY.ERROR_BAD_IMAGE_SIZE" translate-values="{maxSize:ctrl.imageUploadOptions.limitMb}"></span>
					<span ng-if="ctrl.showError.files.badSizeAll" translate="COMMON.NOTIFY.ERROR_FILES_TOO_BIG" translate-values="{maxSize:ctrl.imageUploadOptions.limitMb}"></span>
					<span ng-if="ctrl.showError.files.badMinSizePx" translate="COMMON.NOTIFY.ERROR_BAD_IMAGE_SIZE_PX" translate-values="{minSize:ctrl.imageUploadOptions.minSize}"></span>
					<span ng-if="ctrl.showError.files.uploadError" translate="COMMON.NOTIFY.ERROR_UPLOADING"></span>
				</div>
			</div>
			<div>
				<a href="" ng-click="closeThisDialog()" translate="{{ 'COMMON.ACTION_CLOSE' }}" class="margin-right-medium"></a>
				<button class="button" ng-click="ctrl.save()" translate="{{ 'COMMON.ACTION_SAVE' }}"></button>
			</div>
		</div>
	</div>
</script>
		
