<div loading show="!profileLoaded"></div>

<div ng-if="info && info.is_private && !info.is_member && !mine">
		<!-- private community info-->
		<header class="margin-bottom-large">
			<div class="user-basic large-12 columns">
				<h1>
					<span>{{:: info.name }}</span>
				</h1>
			</div>
			<div class="large-4 large-push-4 margin-top-large padding-top-large text-center text-large">
				TT Toto je skupina přístupná pouze pro členy
			</div>
			<div class="large-4 large-push-4 margin-top-large padding-top-large text-center">
					<button ng-click="applyForCommunity()" class="button large" ng-if="loggedUser._id && !info.is_applicant">
						<span translate="COMMUNITY.ACTION_APPLY_FOR_MEMBERSHIP"></span>
					</button>
					<span translate="COMMUNITY.APPLY_FOR_MEMBERSHIP_SENT" ng-if="info.is_applicant"></span>
			</div>
			<div class="large-4 large-push-4 margin-top-large padding-top-large text-center text-large text-muted">
				TT Na Hearth.net si lidé vzájemně pomáhají, dávají dary a komunikují spolu.<br><br>
				A někdy se stanou i zázraky.
			</div>
		</header>
	</div>


<div class="community-view profile-common" ng-if="profileLoaded && (!info.is_private || info.is_member || mine)" ng-class="{'mine': mine, 'others': !mine}">
	<div class="user" ng-if="! info">
		<p>{{:: 'COMMUNITY.NOTIFY.ERROR_NOT_FOUND' | translate }}</p>
	</div>
	<header ng-if="info">
		<div class="user-basic large-12 columns margin-bottom-small">
			<div class="display-medium-flex flex-space-between">
				<h1>
					<a dont-jump-top href="{{:: communityLink }}">
						<span>{{:: info.name }}</span>
					</a>
				</h1>
				<div class="display-inline-flex">
					<div class="button-bar">

						<div ng-if="!mine && !info.is_member && !info.is_applicant">
							<!-- i am NOT a member or applicant of the community -->
							<button ng-if=":: loggedUser._id && !info.is_applicant" ng-click="applyForCommunity()" class="large button">
								<i class="fa fa-plus"></i>
								<span ng-if="!info.is_public" translate="COMMUNITY.ACTION_APPLY_FOR_MEMBERSHIP"></span>
								<span ng-if="info.is_public" translate="COMMUNITY.ACTION_BECOME_MEMBER"></span>
							</button>
						</div>

						<div ng-if="mine || (!mine && info.is_member && !info.is_applicant)">
							<!-- i am an admin of the community -->
							<!-- OR -->
							<!-- i am a member of the community -->
							<button ng-click="addItem()" class="large button margin-right-small">
								<span translate="MARKETPLACE.ACTION_CREATE_POST"></span>
							</button>

							<button ng-click="addQuickPost()" class="large button margin-left-none">
									<span translate="MARKETPLACE.ACTION_CREATE_QUICKPOST"></span>
								</button>
						</div>

						<div ng-if="!mine && info.is_applicant" class="alert-box success margin-bottom-none text-left">
							<!-- i am an applicant of the community -->
							<i class="fa fa-info-circle"></i> <span translate="COMMUNITY.APPLY_FOR_MEMBERSHIP_SENT"></span>
						</div>

					</div>

					<div class="margin-left-small position-relative">
						<button href="" dropdown="#community-menu" class="button rounded">
								<i class="fa fa-chevron-down"></i>
						</button>

						<ul class="dropdown-menu margin-top-medium" id="community-menu" style="display: none; ">
							<li ng-if="!mine"><a href="" ng-click="openUserRatingForm()" translate="PROFILE.ACTION_FEEDBACK "></a></li>
							<li ng-if="!communityService.isMyCommunity(info, {checkIfIAmAdmin: true})"><a href="" ng-click="sendMessage(info)" translate="COMMUNITY.ACTION_SEND_MESSAGE_TO_ADMIN" translate-values="{actionAttrs: '', recipientAttrs: ''}"></a></li>
							<li ng-if="communityService.isMyCommunity(info, {checkIfIAmAdmin: true}) || (!communityService.isMyCommunity(info, {checkIfIAmAdmin: true}) && communityService.isMyCommunity(info) && info.allow_message_to_members)"><a href="" ng-click="sendMessage(info, {toAllMembers: true})" translate="COMMUNITY.ACTION_SEND_MESSAGE_TO_ALL_MEMBERS" translate-values="{actionAttrs: '', recipientAttrs: ''}"></a></li>
							<li ng-show="(!mine && info.is_member) || mine"><hr/></li>
							<li ng-if="!mine && info.is_member"><a href="" class="elevated-authority-function" ng-click="confirmBox({title: 'COMMUNITY.CONFIRM_LEAVE.TITLE', text: 'COMMUNITY.CONFIRM_LEAVE.TEXT', callback: leaveCommunity, callbackScope: this})" translate="COMMUNITY.ACTION_LEAVE_COMMUNITY"></a></li>
							<li ng-if="mine"><a href="{{:: communityLink }}/edit" translate="COMMUNITY.PROFILE.ACTION_EDIT"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div>
				<span class="text-muted" ng-if="info.is_private">TT Soukromá skupina</span>
				<span class="text-muted" ng-if="info.is_public">TT Veřejná skupina</span>
				<span class="text-danger" ng-if="mine || (info.is_private || info.is_public)">&bull;</span>
				<span class="text-danger" ng-if="mine">TT Jsem správce</span>
			</div>
		</div>
	</header>
	<div ng-show="topLoaded" ui-view></div>
</div>
		
