<div class="box" ng-show="loaded">
	<form id="profileEditForm" name="profileEditForm" ng-submit="update()" novalidate test-beacon="profile-edit-form">

		<div class="block medium-flex-grid">
			<div class="flex-5 medium-order-last" ng-cloak>
				<div image-preview-direct-upload class="big position-relative" result="profile.avatar" options="avatarUploadOpts">
					<img class="preview" ng-if="profile.avatar.public_avatar_url" ng-src="{{ profile.avatar.public_avatar_url }}" resized-thumbnail-image exif-rotated/>
					<img class="preview" ng-if="!profile.avatar.file && profile.avatar.large" ng-src="{{ profile.avatar.large }}" resized-thumbnail-image/>
					<div class="text">
						<i class="fa fa-plus-square-o"></i>
						<span translate="PROFILE.EDIT.UPLOAD_AVATAR_IMAGE"></span>
					</div>
				</div>
			</div>
			<div class="flex-7 flex flex-divided-large flex-align-start">
				<div>
					<!-- <span class="fa-stack fa-2x block--leading-icon">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-stack-1x fa-user"></i>
					</span> -->
					<i class="fa fa-fw fa-2x block--leading-icon fa-user"></i>
				</div>
				<div class="flex-1">
					<h2 translate="PROFILE.EDIT.ME_TITLE"></h2>
					<div class="medium-flex-grid">
						<label for="first_name" class="block flex-1">
							<span translate="PROFILE.EDIT.FIRST_NAME"></span> *
							<input-max-length input-type="input" show-counter="false" min-length="2" max-length="200" required="true" placeholder="{{:: 'PROFILE.EDIT.FIRST_NAME' | translate }}" model="profile.first_name" name="first_name" id="first_name"></input-max-length>
							<div class="form-error" ng-show="profileEditForm.first_name.$error.required" translate="PROFILE.EDIT.NOTIFY.ERROR_NOT_FILLED_FIRST_NAME"></div>
						</label>
						<label for="last_name" class="block flex-1">
							<span translate="PROFILE.EDIT.LAST_NAME"></span>
							<input type="text" name="last_name" placeholder="{{:: 'PROFILE.EDIT.LAST_NAME' | translate }}" ng-model="profile.last_name" id="last_name" />
						</label>
					</div>
					<div>
						<label>
							<span translate="PROFILE.EDIT.MY_WORK"></span>
							<input type='text' placeholder="{{:: 'PROFILE.EDIT.MY_WORK_EXAMPLE' | translate }}" ng-model="profile.work" name="my_work">
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="flex-grid block">
			<div>
				<i class="fa fa-fw fa-2x block--leading-icon fa-heart"></i>
			</div>
			<div class="flex-1">
				<h2 translate="PROFILE.EDIT.ABOUT_ME_TITLE"></h2>
				<div class="medium-flex-grid">
					<label class="flex-1 large-6">
						<span translate="PROFILE.EDIT.ABOUT_ME_LABEL"></span>
						<input-max-length input-type="textarea" show-counter="true" min-length="0" max-length="300" placeholder="{{'PROFILE.EDIT.ABOUT_ME_EXAMPLE' | translate }}" model="profile.about" name="about"></input-max-length>
					</label>
					<label class="flex-1 large-6">
						<span translate="PROFILE.EDIT.MY_INTERESTS"></span>
						<tags-input id="interests" test-beacon="interests-tags-input" class="textarea-height" ng-model="profile.interests" name="interests" display-property="term" placeholder="{{'PROFILE.EDIT.MY_INTERESTS_EXAMPLE' | translate }}" replace-spaces-with-dashes="false">
							<auto-complete source="loadInterests($query)" min-length="0" load-on-focus="true" load-on-empty="true" max-results-to-show="20" highlight-matched-text="true" debounce-delay="200"></auto-complete>
						</tags-input>
					</label>
				</div>
			</div>
		</div>

		<div class="flex-grid block">
			<div>
				<i class="fa fa-fw fa-2x block--leading-icon fa-globe"></i>
			</div>
			<div class="flex-1">
				<h2 translate="PROFILE.EDIT.LOCATIONS_TITLE"></h2>
				<!-- TODO this was wrapped in ng-if="profile" .. WHY? -->
				<locations locations="profile.locations" is-required="true" show-error="showError.locations"></locations>
			</div>
		</div>

		<div class="flex-grid block">
			<div>
				<i class="fa fa-fw fa-2x block--leading-icon fa-comments"></i>
			</div>
			<div class="flex-1" test-beacon="language-section">
				<h2 translate="PROFILE.EDIT.MY_LANGUAGES_TITLE"></h2>
				<label class="ui-select-scope-wrapper">
					<ui-select multiple id="userLanguage" ng-model="$parent.userLanguage" theme="select2" ng-required>
						<ui-select-match placeholder="{{:: 'PROFILE.EDIT.ADD_OTHER_LANG' | translate }}">{{$item.name}}</ui-select-match>
						<ui-select-choices group-by="'group'" group-filter="[('COMMON.LANGUAGES.MAIN' | translate), ('COMMON.LANGUAGES.OTHER' | translate)]" repeat="item as item in languageList | filter: {name: $select.search} track by item.code">
							<div ng-bind-html="item.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</label>

				<div class="form-error" ng-show="showError.user_language" translate="PROFILE.EDIT.NOTIFY.ERROR_NOT_FILLED_LANGUAGES"></div>
			</div>
		</div>

		<div class="flex-grid block">
			<div>
				<i class="fa fa-fw fa-2x block--leading-icon fa-phone"></i>
			</div>
			<div class="flex-1" test-beacon="language-section">
				<h2 translate="PROFILE.EDIT.CONTACTS_TITLE"></h2>

				<div class="block">
					<div class="block">
						<div class="medium-flex-grid">
							<!-- main email -->
							<div class="flex-1">
								<label>
									<span translate="PROFILE.EDIT.EMAIL"></span> *
									<input ng-model="profile.email" ng-focus="showError.email = false" ng-blur="showError.email = true" type='email' name="email" ng-required="true" mailgun-validator="1" ng-model-options="{ updateOn: 'blur' }">
									<span ng-show="profileEditForm.$pending.mailgun" class="fa fa-spin fa-spinner"></span>
									<div class="form-error" ng-show="showError.email">
										<span ng-show="profileEditForm.email.$error.email" translate="PROFILE.EDIT.NOTIFY.ERROR_NOT_VALID_EMAIL"></span>
										<span ng-show="profileEditForm.email.$error.required" translate="PROFILE.EDIT.NOTIFY.ERROR_NOT_FILLED_EMAIL"></span>
										<span ng-show="profileEditForm.email.$error.mailgun" ng-bind-html=":: 'AUTH.NOTIFY.ERROR_MAILGUN_NOT_VALID_EMAIL' | translate"></span>
									</div>
								</label>
								<!-- <span mailgun-validator-did-you-mean id="1" target="profile.email"></span> -->
							</div>
							<div class="flex-1">
								<label translate="PROFILE.EDIT.WHO_CAN_SEE_IT"></label>
								<privacy-selector ng-model="profile.visible_attributes.email"></privacy-selector>
							</div>
						</div>

						<div ng-hide="showContactMail">
							<a ng-click="showContactMail = true || profile.contact_email">
								<i class="fa fa-plus-square"></i>&nbsp;<span translate="COMMON.ACTION_ADD"></span>
							</a>
						</div>
					</div>

					<div ng-show="showContactMail" class="block background-light-gray padding-small round">
						<!-- contact email -->
						<div class="medium-flex-grid">
							<div class="flex-1">
								<label>
									<span translate="PROFILE.EDIT.MY_CONTACT_EMAIL"></span>
									<input ng-model="profile.contact_email" ng-focus="contactEmailFocus()" ng-blur="contactEmailBlur()" name="contact_email" type='email' mailgun-validator="2" ng-model-options="{ updateOn: 'blur' }">
									<div class="help-text" translate="PROFILE.EDIT.MY_CONTACT_EMAIL_EXAMPLE"></div>
									<div class="form-error" ng-show="showError.contact_email">
										<span ng-show="profileEditForm.contact_email.$error.email" translate="PROFILE.EDIT.NOTIFY.ERROR_NOT_VALID_EMAIL"></span>
										<span ng-show="profileEditForm.contact_email.$error.mailgun" translate="AUTH.NOTIFY.ERROR_MAILGUN_NOT_VALID_EMAIL"></span>
									</div>
								</label>
								<span ng-show="profileEditForm.$pending.mailgun" class="fa fa-spin fa-spinner"></span>

								<!-- <span mailgun-validator-did-you-mean id="2" target="profile.contact_email"></span> -->
							</div>
							<div class="flex-1">
								<label>
									<span translate="PROFILE.EDIT.WHO_CAN_SEE_IT"></span>
									<privacy-selector ng-model="profile.visible_attributes.contact_email"></privacy-selector>
								</label>
							</div>
						</div>
						<div>
							<a ng-click="hideContactEmail()">
								<span class="fa fa-minus-square"></span>&nbsp;<span translate="COMMON.ACTION_REMOVE"></span>
							</a>
						</div>
					</div>
				</div>

				<div class="medium-flex-grid">
					<!-- phone -->
					<div class="flex-1">
						<label>
							<i class="fa fa-phone"></i>&nbsp;<span translate="PROFILE.EDIT.PHONE"></span>
							<input type="tel" ng-focus="showError.phone = false" ng-blur="validatePhone($event)" name="phone" international-phone-number default-country="cz" national-mode="false" ng-model="profile.phone">
							<div ng-show="showError.phone">
								<span class="form-error" ng-show="profileEditForm.phone.$error.internationalPhoneNumber" translate="PROFILE.EDIT.NOTIFY.ERROR_NOT_VALID_PHONE"></span>
							</div>
						</label>
					</div>
					<div class="flex-1">
						<label>
							<span translate="PROFILE.EDIT.WHO_CAN_SEE_IT"></span>
							<privacy-selector ng-model="profile.visible_attributes.phone" related-model="{{profile.phone}}" ng-disabled="!profileEditForm.phone.$viewValue || profileEditForm.phone.$error.internationalPhoneNumber"></privacy-selector>
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="flex-grid block">
			<div>
				<i class="fa fa-fw fa-2x block--leading-icon fa-envelope"></i>
			</div>
			<div class="flex-1" test-beacon="language-section">
				<h2 translate="PROFILE.EDIT.NETWORKS_TITLE"></h2>
				<div class="medium-flex-grid">
					<div class="block flex-1">
						<label>
							<span translate="PROFILE.EDIT.MY_FACEBOOK"></span>
							<input placeholder="{{ 'COMMON.EG' | translate }} https://www.facebook.com/profile" ng-model="profile.facebook" type="url" ng-blur="updateUrl($event, profile, 'facebook')" test-beacon="social-fb">
							<div class="form-error" ng-show="showError.social_networks['facebook']" translate="PROFILE.EDIT.NOTIFY.ERROR_SOCIAL_NETWORK_NAME"></div>
						</label>
					</div>
					<div class="block flex-1">
						<label>
							<span translate="PROFILE.EDIT.MY_TWITTER"></span>
							<input placeholder="{{ 'COMMON.EG' | translate }} https://twitter.com/profile" ng-model="profile.twitter" type="url" ng-blur="updateUrl($event, profile, 'twitter')" test-beacon="social-twitter">
							<div class="form-error" ng-show="showError.social_networks['twitter']" translate="PROFILE.EDIT.NOTIFY.ERROR_SOCIAL_NETWORK_NAME"></div>
						</label>
					</div>
				</div>
				<div class="medium-flex-grid">
					<div class="block flex-1">
						<label>
							<span translate="PROFILE.EDIT.MY_LINKEDIN"></span>
							<input placeholder="{{ 'COMMON.EG' | translate }} https://www.linkedin.com/profile" ng-model="profile.linkedin" type="url" ng-blur="updateUrl($event, profile, 'linkedin')" test-beacon="social-linkedin">
							<div class="form-error" ng-show="showError.social_networks['linkedin']" translate="PROFILE.EDIT.NOTIFY.ERROR_SOCIAL_NETWORK_NAME"></div>
						</label>
					</div>
					<div class="block flex-1">
						<label>
							<span translate="PROFILE.EDIT.MY_GOOGLEPLUS"></span>
							<input placeholder="{{ 'COMMON.EG' | translate }} https://plus.google.com/profile" ng-model="profile.googleplus" type="url" ng-blur="updateUrl($event, profile, 'googleplus')" test-beacon="social-gplus">
							<div class="form-error" ng-show="showError.social_networks['googleplus']" translate="PROFILE.EDIT.NOTIFY.ERROR_SOCIAL_NETWORK_NAME"></div>
						</label>
					</div>
				</div>
				<div class="medium-flex-grid">
					<div class="block flex-1">
						<label>
							<i class="fa fa-globe"></i>&nbsp;<span translate="PROFILE.EDIT.MY_WEB"></span>
							<div ng-repeat="web in profile.webs track by $index" class="block flex flex-align-start">
								<input placeholder="{{ 'COMMON.EG' | translate }} https://www.myweb.com" ng-model="profile.webs[$index]" type="url" ng-required="!$first" ng-blur="updateUrl($event, profile.webs, $index)" test-beacon="web-input">
								<button ng-hide="$first" type="button" class="touchable" ng-click="profile.webs.splice($index,1)">
									<i class="fa fa-times-circle"></i>
								</button>
							</div>
							<div class="form-error" ng-show="showError.social_networks['webs']" translate="PROFILE.EDIT.NOTIFY.ERROR_INVALID_URL"></div>
							<div>
								<a ng-click="profile.webs.push('')" test-beacon="web-adder">
									<i class="fa fa-plus-square"></i>&nbsp;<span translate="PROFILE.EDIT.ACTION_ADD_NEXT_WEB"></span>
								</a>
							</div>
						</label>
					</div>
					<div class="flex-1"></div>
				</div>
			</div>
		</div>
		<div class="display-flex flex-reverse flex-space-between block">
			<button type="submit" class="button" analytics-custom analytics-event="edit my profile" analytics-category="My profile" analytics-value="5" translate="COMMON.ACTION_SAVE"></button>
			<a ui-sref="profile.default({id: loggedUser._id})" class="revert-changes" translate="COMMON.ACTION_CANCEL_CHANGES"></a>
		</div>
	</form>
</div>
<div loading show="!loaded"></div>
