<div class="box" ng-show="loaded" test-beacon="profile-settings">
	<div>

		<div class="block flex-grid">
			<div>
				<i class="fa fa-fw fa-2x block--leading-icon fa-language"></i>
			</div>
			<div class="flex-1">
				<h2 translate="SETTINGS.LANGUAGE_AND_COUNTRY"></h2>
				<label class="block ui-select-scope-wrapper">
					<span translate="SETTINGS.USING_HEARTH_IN_LANG"></span> <strong translate="SETTINGS.IN_THIS_LANG"></strong>. <span translate="SETTINGS.CHOOSE_LANGUAGE"></span>
					<ui-select id="post-language" ng-model="$parent.lang" theme="select2" search-enabled="false" on-select="switchLang($item, $model)">
						<ui-select-match placeholder="">{{ ('MY_LANG.' + $select.selected | translate) }}</ui-select-match>
						<ui-select-choices repeat="item in languages">
				      <div translate="{{ 'MY_LANG.' + item }}"></div>
				    </ui-select-choices>
					</ui-select>
				</label>
				<label class="block ui-select-scope-wrapper">
					<span translate="SETTINGS.USING_HEARTH_FROM_COUNTRY"></span>
					<ui-select id="man_country_code" ng-model="$parent.man_country_code" theme="select2" on-select="updateCountry($item, $model)">
						<ui-select-match placeholder="">{{$select.selected.localizedName}}</ui-select-match>
						<ui-select-choices repeat="item.alpha_2_code as item in countryList | filter: {localizedName: $select.search}">
				      <div ng-bind-html="item.localizedName | highlight: $select.search"></div>
				    </ui-select-choices>
					</ui-select>
				</label>
			</div>
		</div>

		<div class="flex-grid block">
			<div>
				<i class="fa fa-fw fa-2x block--leading-icon fa-bell"></i>
			</div>
			<div class="flex-1">
				<h2 translate="SETTINGS.NOTIFICATIONS.TITLE"></h2>
				<form ng-submit="saveNotificationSettings(notify)" name="notificationSettingsForm" id="notificationSettingsForm">
          <label class="block" ng-if="userHasRight('post.suspend')">
            <h5 translate="SETTINGS.NOTIFICATIONS.FREQUENCY.HOW_OFTEN"></h5>
            <select ng-model="notify.send_emails.frequency" ng-options="item.value as item.title for item in selectFrequencies"></select>
          </label>
          <div class="block">
            <h5 translate="SETTINGS.NOTIFICATIONS.WHICH"></h5>
					</div>
					<div class="medium-flex-grid">

						<div class="flex-1 block">
							<h6 translate="SETTINGS.NOTIFICATIONS.GIFTS_WISHES"></h6>
							<div class="box box--checkbox-list">
					      <label>
									<checkbox class="box box--checkbox" model="notify.send_emails.expiring" name="emailPostExpiring">
										<span translate="SETTINGS.NOTIFICATIONS.ALERT_EXPIRING_POSTS"></span>
									</checkbox>
								</label>
								<label>
									<checkbox class="box box--checkbox" model="notify.send_emails.expired" name="emailPostExpired">
										<span translate="SETTINGS.NOTIFICATIONS.ALERT_EXPIRED_POSTS"></span>
									</checkbox>
								</label>
							</div>
						</div>

						<div class="flex-1 block">
							<h6 translate="SETTINGS.NOTIFICATIONS.CONVERSATIONS"></h6>
							<div class="box box--checkbox-list">
								<label>
									<checkbox class="box box--checkbox" model="notify.send_emails.new_conversation" name="conversationNew">
										<span translate="SETTINGS.NOTIFICATIONS.ALERT_NEW_CONVERSATION"></span>
									</checkbox>
								</label>
								<label>
									<checkbox class="box box--checkbox" model="notify.send_emails.new_message" name="conversationUpdate">
										<span translate="SETTINGS.NOTIFICATIONS.ALERT_NEW_MESSAGES_IN_CONVERSATION"></span>
									</checkbox>
								</label>
							</div>
						</div>
					</div>
					<div class="flex flex-reverse">
						<button type="submit" class="button" analytics-custom analytics-event="configure notifications" analytics-category="Configure notifications" analytics-value="1" translate="COMMON.ACTION_SAVE"></button>
					</div>
				</form>
			</div>
		</div>

		<div class="flex-grid block">
			<div>
				<i class="fa fa-fw fa-2x block--leading-icon fa-envelope"></i>
			</div>
			<div class="flex-1">
				<h2 translate="SETTINGS.MESSAGES"></h2>
				<form ng-submit="saveNotificationSettings(notify)" name="messageSettingsForm" id="messageSettingsForm">
					<div>
						<checkbox model="notify.get_messages.only_replies">
							<span translate="SETTINGS.NOTIFICATIONS.MESSAGES_ALLOW_ONLY_POST_REPLIES"></span>
						</checkbox>
					</div>
					<div class="flex flex-reverse">
						<button type="submit" class="button" analytics-custom analytics-event="configure notifications" analytics-category="Configure notifications" analytics-value="1" translate="COMMON.ACTION_SAVE"></button>
					</div>
				</form>
			</div>
		</div>

		<div class="flex-grid block">
			<div>
				<i class="fa fa-fw fa-2x block--leading-icon fa-unlock-alt"></i>
			</div>
			<div class="flex-1">
				<h2 translate="SETTINGS.PASSWORD.TITLE"></h2>
				<form ng-submit="changePassword(pass)" novalidate id="profileSettingsForm" name="profileSettingsForm">
					<div ng-if="!presentPassword" translate="SETTINGS.PASSWORD.WARNING_OMNIAUTH"></div>
					<div ng-if="presentPassword" class="medium-flex-grid">
						<div class="block flex-1">
							<label>
								<span translate="SETTINGS.PASSWORD.CURRENT"></span>
								<input type="password" ng-focus="showError.oldPass = false;" ng-blur="showError.oldPass = true; testOldPassword(pass.old, 'profileSettingsForm', 'oldPass')" name="oldPass" id="oldPass" ng-model="pass.old" required />
								<div class="form-error" ng-show="showError.oldPass">
									<span ng-show="profileSettingsForm.oldPass.$error.required" translate="SETTINGS.NOTIFY.ERROR_NOT_FILLED_OLD_PASS"></span>
									<span ng-show="profileSettingsForm.oldPass.$error.notValid" translate="SETTINGS.NOTIFY.ERROR_OLD_PASS_IS_NOT_VALID"></span>
								</div>
							</label>
						</div>
						<div class="block flex-1">
							<label>
								<span translate="SETTINGS.PASSWORD.NEW"></span>
								<show-text-in-password>
									<input type="password" ng-focus="showError.newPass = false" ng-blur="showError.newPass = true" name="newPass" ng-model="pass.changed" id="newPass" test-beacon="new-password" required ng-minlength="5" />
								</show-text-in-password>
								<div class="form-error" ng-show="showError.newPass">
									<span ng-show="profileSettingsForm.newPass.$error.required" translate="SETTINGS.NOTIFY.ERROR_NOT_FILLED_NEW_PASS"></span>
									<span ng-show="profileSettingsForm.newPass.$error.minlength" translate="SETTINGS.NOTIFY.ERROR_TOO_SHORT_NEW_PASS"></span>
								</div>
							</label>
						</div>
					</div>
					<div class="flex flex-reverse">
						<button type="submit" class="button" analytics-custom analytics-event="edit password" analytics-category="Profile settings" analytics-value="1" translate="COMMON.ACTION_SAVE"></button>
					</div>
				</form>
			</div>
		</div>

		<div class="flex-grid block">
			<div>
				<i class="fa fa-fw fa-2x block--leading-icon fa-times"></i>
			</div>
			<div class="flex-1">
				<h2 translate="SETTINGS.DELETE_PROFILE.TITLE"></h2>
				<form id="profileDeleteForm" name="profileDeleteForm" ng-submit="deleteAccount(leave)" novalidate test-beacon="profile-delete-form">
					<div class="notify-container-delete-user"></div>

					<label class="block">
						<span translate="SETTINGS.DELETE_PROFILE.DONT_LEAVE"></span>
						<textarea ng-model="leave.reason" autosize-textarea test-beacon="user-delete-reason"></textarea>
					</label>

					<label class="block">
						<span translate="SETTINGS.PASSWORD.CURRENT"></span>
						<input type="password" test-beacon="user-delete-password" ng-focus="showError.oldPassLeave = false; profileDeleteForm.oldPassLeave.$error.notValid = false;" ng-blur="showError.oldPassLeave = true; testOldPassword(leave.pass, 'profileDeleteForm', 'oldPassLeave')" name="oldPassLeave" ng-model="leave.pass" id="oldPassLeave" required />
						<div class="form-error" ng-show="showError.oldPassLeave" test-beacon="user-delete-errors">
							<span ng-show="profileDeleteForm.oldPassLeave.$error.required" translate="SETTINGS.NOTIFY.ERROR_NOT_FILLED_OLD_PASS"></span>
							<span ng-show="profileDeleteForm.oldPassLeave.$error.notValid" translate="SETTINGS.NOTIFY.ERROR_OLD_PASS_IS_NOT_VALID"></span>
						</div>
					</label>

					<div class="flex flex-reverse">
						<button type="submit" test-beacon="delete-account-button" class="button" analytics-custom analytics-event="delete user account" analytics-category="Profile settings" analytics-value="1" translate="SETTINGS.DELETE_PROFILE.ACTION_DELETE"></button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>
