<div loading show="!profileLoaded"></div>
<div class="profile-view profile-common" ng-show="profileLoaded" ng-class="{'mine-profile': mine, 'others-profile': ! mine}">
	<div class="user" ng-show="!info && !isDeactivated">
		<p translate="PROFILE.NOTIFY.ERROR_USER_NOT_FOUND"></p>
	</div>
	<div class="" ng-if="isDeactivated" ng-include="'assets/pages/profile/deactivated.html'">

	</div>
	<header ng-if="info && !isDeactivated" class="margin-bottom-large">
		<div class="user-basic large-12 columns">
			<div class="display-medium-flex flex-space-between">
				<h1>
					<a dont-jump-top href="{{:: profileLink }}">
						<span>{{info.name}}</span>
						<span ng-if="info.verified === true" class="verified-icon "><i class="fa fa-fw fa-check-circle " title="{{ 'PROFILE.IS_VERIFIED' | translate }}" tipsy></i></span>
					</a>
				</h1>

				<div class="button-group large">
					<button class="button others" ng-click="openUserRatingForm()" test-beacon="profile-rating-button" translate="PROFILE.ACTION_FEEDBACK"></button>
					<button ng-if="!info.is_followed" class="hollow button others" ng-click="toggleFollow(info._id)">
						<i class="fa fa-plus"></i> <span translate="PROFILE.ACTION_FOLLOW"></span>
					</button>
					<button ng-if="info.is_followed" class="hollow button" ng-click="toggleFollow(info._id)">
						<i class="fa fa-times"></i> <span translate="PROFILE.ACTION_UNFOLLOW"></span>
					</button>
					<button ng-if="mine" ng-click="openInviteBox()" class="button">
						<i class="fa fa-forward"></i>
						<span ng-bind-html=":: 'PROFILE.ACTION_INVITE_FRIENDS' | translate"></span>
					</button>
					<a href="{{:: basePath }}profile-edit" class="mine">
						<button class="button secondary">
							<i class="fa fa-edit"></i> <span translate="PROFILE.ACTION_EDIT"></span>
						</button>
					</a>
				</div>
			</div>
			<div class="short-about" ng-if="info.motto">
				<i class="fa fa-quote-right"></i> {{:: info.motto }}
			</div>
		</div>
		<div class="highlights opacity-50">
			<avatar ng-if="info.avatar" dont-jump-top size="large" class="left" src="info.avatar.large" href="getProfileLink('User', info._id)" type="info._type" thanks=":: info.up_votes" show-glow="true"></avatar>
			<span class="shadow large">
				<a dont-jump-top href="{{:: profileLink }}/posts" ng-class="{'active': (activePage == 'posts' || activePage == 'bookmarks' || activePage == 'replies')}" class="bubble large">
					<span>
						<b>{{info.post_count.offers}}</b>
						<br> {{ 'PROFILE.GIVES_COUNT.'+pluralCat(info.post_count.offers) | translate }}
						<hr class="orange" />
						<b>{{info.post_count.needs}}</b>
						<br> {{ 'PROFILE.WISHES_COUNT.'+pluralCat(info.post_count.needs) | translate }}
					</span>
				</a>
			</span>
			<span class="shadow large">
				<a dont-jump-top href="{{:: profileLink }}/received-ratings" ng-class="{'active': (activePage == 'received-ratings' || activePage == 'given-ratings')}" class="move-down bubble medium">
					<span>
						<b class="avatar-thanks">{{info.up_votes}}</b>
						<br>
						<span translate="PROFILE.RATING.COUNT.few"></span>
						<hr class="orange" />
						<strong>{{info.down_votes}}</strong>×
						<span translate="PROFILE.RATING.NEGATIVE" class="text-smaller"></span>
					</span>
				</a>
			</span>
			<span class="shadow small">
				<a dont-jump-top href="{{:: profileLink }}/followers" ng-class="{'active': (activePage == 'friends' || activePage == 'following' || activePage == 'followers')}" class="bubble medium">
					<span>
						<span ng-if="mine && info" ng-bind-html="'PROFILE.X_PEOPLE_INSPIRED_BY_ME.'+pluralCat(info.followers_count) | translate: '{count: '+info.followers_count+'}'"></span>
						<span ng-if="!mine && info" ng-bind-html="'PROFILE.X_PEOPLE_INSPIRED_BY_HIM.'+pluralCat(info.followers_count) | translate: '{count: '+info.followers_count+'}'"></span>
						<hr class="blue" />
						<span ng-if="mine && info" ng-bind-html="'PROFILE.X_PEOPLE_INSPIRING_ME.'+pluralCat(info.followees_count) | translate: '{count: '+info.followees_count+'}'"></span>
						<span ng-if="!mine && info" ng-bind-html="'PROFILE.X_PEOPLE_INSPIRING_HIM.'+pluralCat(info.followees_count) | translate: '{count: '+info.followees_count+'}'"></span>
					</span>
				</a>
			</span>
			<span class="shadow small">
				<a dont-jump-top href="{{:: profileLink }}/communities" class="bubble small move-down" ng-class="{'active': activePage == 'communities'}">
					<span>
						<b>{{info.communities_count}}</b>
						<br />
						<span translate="{{'PROFILE.X_COMMUNITIES.'+pluralCat(info.communities_count)}}"></span>
					</span>
				</a>
			</span>
		</div>
		<div class="clear"></div>
	</header>
	<div class="clear"></div>
	<div class="profile-pages-container" ng-if="info && !isDeactivated" ui-view></div>
</div>
