<div class="row">
	<div class="large-6 columns"><img src="images/"</div>
	<div class="large-6 columns">
		<h1><big>404</big> - page not found - </h1>
		<hr/>
		<h2>No signal on this page</h2>
		<hr/>
		<button class="button-flat blue">{{ 'GO_BACK' | translate }}</button>
	</div>
</div>

<!--
<div class="container login">
    <div class="right-column large-12 columns">
        <div class="padding-v-5" style="margin-left:15%;">
            <h1>{{ '404_NOT_FOUND_TITLE' | translate }}</h1>
            <div>{{ '404_NOT_FOUND_TEXT' | translate }}</div>
        </div>
        <img class="hide-for-small" src="images/bee_keeper.svg" style="position:absolute; height:50%; bottom:40px; left:40px; margin-left:14%; max-height:500px;">
    </div>
</div>
-->