<div class="user-info">
	<article class="row">
		<section class="">
			<div class="count_accomplished" ng-bind-html="'count-of-wished-and-gifts' | translate: {value: item.author.post_count}"></div>
			<!-- <div class="summary">
				<div ng-if="item.author.up_votes" ng-bind-html="'evaluation-cool' | translate: {value: item.author.up_votes}"></div>
				<div ng-if="item.author.down_votes" ng-bind-html="'evaluation-bad' | translate: {value: item.author.down_votes}"></div>
			</div> -->
		</section>
		<section class="columns">
			<div class="author-about" ng-if="item.author.about">
				<div>{{item.author.about | ellipsis:100}}</div>
			</div>
			<div ng-if="item.author.interests.length"><i class="fa fa-heart"></i> {{item.author.interests.join(', ')}}</div>
			<div ng-if="item.author.work"><i class="fa fa-suitcase"></i> {{item.author.work}}</div>
			<div ng-if="item.author.locations.length">
				<i class="fa fa-map-marker"></i> {{'you-will-find-me' | translate}} 
				<span ng-repeat="location in item.author.locations">{{location.name}}</span>.
			</div>
		</section>
		<div class="cleaner"></div>
		<section class="columns large-5 links">
			<div ng-if="item.author.facebook || item.author.googleplus || item.author.twitter || item.author.linkedin">
				<span class="social">
					<a ng-if="item.author.facebook" class="fa fa-facebook-square" title="Facebook" href="{{item.author.facebook}}" target="_blank" ></a>
					<a ng-if="item.author.googleplus" class="fa fa-google-plus-square" title="Google+" href="{{item.author.googleplus}}" target="_blank"></a>
					<a ng-if="item.author.twitter" class="fa fa-twitter-square " title="Twitter" href="{{item.author.twitter}}" target="_blank"></a>
					<a ng-if="item.author.linkedin" class="fa fa-linkedin-square" title="LinkedIn" href="{{item.author.linkedin}}" target="_blank"></a>
					<a ng-if="item.author.webs[0]" class="fa fa-link" title="Webpage" href="{{item.author.webs[0]}}" target="_blank"></a>
				</span>
			<div>
		</section>
		<section class="columns large-5">
			<div class="profil-link text-right"><a ng-href="#!/profile/{{item.author._id}}">Celý profil</a></div>
		</section>
	</article>
</div>