<div class="container detail">
		<div class="left-column small-12 large-7 columns alt-bg"  style="padding:1em;">
			<div class="row">
				<div class="large-7 columns">
					<h1>
						<span ng-show="item.type == 'need'" class="need">
							{{ 'DOES_WISH' | translate }}
						</span>
						<span ng-show="item.type == 'offer'" class="offer">
							{{ 'DOES_GIVE' | translate }}
						</span>
						<span ng-show="item.title">{{item.title}}</span>
					</h1>
				</div>
				<div class="large-5 columns text-right">
					<div time-ago from-time="item.updatedAt || item.createdAt"></div>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<span ng-bind-html="item.name | linky"></span>
						
					<div ng-if="item.locations" class="locations"  ng-repeat="location in item.locations">
						<span class="fa fa-map-marker"></span> {{ location.name }}
					</div>

					<div ng-if="item.attachments.length" class="photo">
						<img ng-repeat="photo in item.attachments" ng-src="{{ photo.origin }}">
					</div>
				</div>
			</div>

			<div ng-if="item.replies" class="row">
				<div class="large-12 columns">
					<hr>
					<div ng-repeat="reply in item.replies" class="reply">
						<div class="row">
							<div class="large-12 columns">
								<div class="right" time-ago from-time="reply.updated_at || reply.created_at"></div>
								<avatar ng-if="reply.author._type == 'Community'" source="reply.author.avatar" size="normal" relation="" click="go('community', reply.author._id, reply.author._id)" class="left photo" type="'Community'"></avatar>
								<avatar ng-if="reply.author._type != 'Community'" source="reply.author.avatar" size="normal" relation="reply.author.relation" click="go('profile', reply.author._id, reply.author._id)" class="left photo" type="'User'"></avatar>
								<a class="smaller name" ng-show="reply.author._type != 'Community'" ng-href="#/profile/{{ reply.author._id }}">{{ reply.author.name }}</a>
								<a class="smaller name" ng-show="reply.author._type == 'Community'" ng-href="#/community/{{ reply.author._id }}">{{ reply.author.name }}</a> &nbsp;
								<div ng-bind-html="reply.message | linky"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="large-6 columns">
					<div style="margin-bottom:1em;">
						<!--a href="" ng-click="startEditingAd($event, item);" ng-show="profile._id == loggedCommunity._id || profile._id == loggedUser._id">
							<i class="fa fa-edit"></i>&nbsp;{{ 'EDIT_BUTTON_CAPTION' | translate }}
						</a-->
						<a href="" ng-hide="profile._id == loggedCommunity._id || profile._id == loggedUser._id" ng-click="replyDisplayed=true">
							<i class="hearthicon-reply"></i>&nbsp;{{ 'REPLY_BUTTON_CAPTION' | translate }}
						</a>
					</div>
				</div>
				<div class="large-6 columns">
					<social item="item._id"></social>
				</div>
			</div>

			<div signed-in class="row" ng-if="replyDisplayed">
				<form ng-submit="replyToAd(item)" name="replyForm">
					<div class="large-12 columns">
						<div ng-cloak ng-hide="replyToAdSubmitting">
							<div class="alert-box visible alert error round connect-bottom" ng-show="errors.base">{{ errors.base | translate }}</div>
							<textarea ng-model="reply.message" class="text-input" tabindex="1" rows="6" placeholder="{{ 'AD_REPLY_PLACEHOLDER' | translate }}" ng-cloak ng-required="true" ng-minlength="3"></textarea>
							<div class="row">
								<div class="padding-h-0 small-12 medium-12 large-4 large-push-8 columns right">
									<button class="right primary button" type="submit" tabindex="2" analytics-on analytics-event="send message" analytics-category="Marketplace" analytics-value="15" ng-cloak>
										{{'SUBMIT' | translate}}
									</button>
								</div>
								<div class="padding-h-0 small-12 medium-12 large-8 columns left checkbox-input reply-to-ad" validated-checkbox>
									<input type="checkbox" id="reply" name="reply" ng-required="true" ng-model="reply.agreed">
									<label for="reply">{{ 'REPLY_PUBLISH_EMAIL_AGREE' | translate:agreeTranslationData }}</label>
								</div>
							</div>
						</div>

						<div ng-show="replyToAdSubmitting" ng-cloak class="clearfix padding-2">
							{{ 'SENDING_MESSAGE_IN_PROGRESS' | translate }}
						</div>
						<div ng-show="replyToAdSubmitted" ng-cloak>
							<div class="clearfix padding-2 successfully-sent">
								{{ 'SENDING_MESSAGE_SUCCESS' | translate }}
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>

		<div class="right-column large-5 columns">
			 <div class="profile" ng-include src="'templates/profilePane.html'"></div>
		</div>
</div>