<div class="container">
	<div class="row">
		<div class="left-column small-12 large-7 columns alt-bg"  style="padding:1em;">
			<div time-ago from-time="item.updatedAt || item.createdAt"></div>
			<avatar ng-if="item.author._type == 'Community'" source="item.author.avatar" size="normal" relation="" click="go('community', item.author._id, item.author._id)" class="left photo" type="'Community'"></avatar>
			<avatar ng-if="item.author._type != 'Community'" source="item.author.avatar" size="normal" relation="item.author.relation" click="go('profile', item.author._id, item.author._id)" class="left photo" type="'User'"></avatar>

			<a class="smaller name" ng-show="item.author._type != 'Community'" ng-href="#/profile/{{ item.author._id }}">{{ item.author.name }}</a>
			<a class="smaller name" ng-show="item.author._type == 'Community'" ng-href="#/community/{{ item.author._id }}">{{ item.author.name }}</a>
			<h1>
				<span ng-show="item.type == 'need'" class="need">
					{{ 'DOES_WISH' | translate }}
				</span>
				<span ng-show="item.type == 'offer'" class="offer">
					{{ 'DOES_GIVE' | translate }}
				</span>
				<span ng-show="item.title">{{item.title}}</span>
			</h1>
			{{item.name}}

			<div  ng-show="item.distance >= 0">{{ item.distance }} {{ 'KM_FROM_YOU' | translate }}</div>
			
			<div ng-if="item.locations"  ng-repeat="location in item.locations">
				{{ location.name }}
			</div>

			<div ng-if="item.attachments.length" class="photo">
				<img ng-repeat="photo in item.attachments" ng-src="{{ photo.origin }}">
			</div>			
		</div>

		<div class="right-column large-5 columns">
		</div>
	</div>
</div>