<div ng-controller="CreatePostCtrl" ng-init="setDefaultPost(item)">
  <div class="round login-prompt" signed-out ng-cloak translate>
      LOG_IN_TO_POST_NEW_WISHES
  </div>
  <form ng-submit="post.save()" signed-in name="createAdForm" with-errors novalidate class="create-ad" style="margin:0; padding:0;">
      <div class="alert-box visible alert error round connect-bottom" ng-show="errors.base">{{ errors.base | translate }}</div>
      <div style="position:relative">
          <div create-ad-select class="create-ad-select" ng-show="isCreatingAd() || isEditingAd()">
              <!-- directive -->
          </div>
          <input type=="text" style="padding-left: 120px" placeholder="{{'TELL_WHAT' | translate}}" ng-model="post.title" class="text-input top" ng-required>
          <textarea placeholder="{{ 'WHAT_YOU_NEED_OR_OFFER_PLACEHOLDER' | translate }}" ng-model="post.name" name="name" required ng-class="{ 'offset-text focused top': isCreatingAd() || isEditingAd(), 'error': errors.name }" ng-keydown="escapeKey($event)" ng-focus="startCreatingAd()" ng-cloak class="create-ad-textarea text-input middle"></textarea>
          <div ng-show="isCreatingAd() || isEditingAd()" class="text-input middle">
              <i class="fa fa-tags" style="float:left; padding:5px; padding-left:0px;"></i>
              <tags-input ng-model="post.keywords" placeholder="{{ 'ADD_KEYWORDS' | translate }}" replace-spaces-with-dashes="false" add-on-comma="true" add-on-space="false" allowed-tags-pattern="^[a-zA-Z0-9\sĚŠČŘŽÝÁÍÉÚŮĎŤŇÓěščřžýáíéúůďťňó]+$" max-length="20">
                  <auto-complete source="queryKeywords($query)" min-length="2" debounce-delay="400" max-results-to-show="8"></auto-complete>
              </tags-input>   
          </div>
          <div class="text-input middle" ng-show="isCreatingAd() || isEditingAd()">
              <div file-upload upload-name="'temp_upload'" file-upload-path="/files" on-file-upload-started="post.attachments.enabled = true" on-file-upload-success="photoUploadSuccessful($event)" on-file-upload-error="post.attachments.enabled = true" style="position:relative; display:inline-block; float:left; padding-left:2px;">
                  <a class="create-post-link" ng-hide="post.attachments.length" ng-click="post.attachmentsEnabled = true">
                      <i class="fa fa-camera-retro" style="padding-right:5px;"></i> {{ 'ATTACH_PHOTO_LINK' | translate }}
                  </a>
              </div>
              <div class="cleaner"></div>
              <div ng-show="post.attachments.length">
                <ul>
                  <li class="text-center" ng-repeat="file in post.attachments" style="position:relative;">
                        <img ng-src="{{ file.origin }}" class="padding-1">
                        <a ng-click="post.attachments = []" title="{{ 'CLICK_TO_REMOVE_PHOTO_HINT' | translate }}">
                          <i class="hearthicon-remove"></i>
                        </a>
                    </li>
                </ul>
              </div>
              <div file-upload-output class="text-center"></div>
          </div>

          <div style="position:relative;" ng-show="isCreatingAd() || isEditingAd()">
              <address-autocomplete placeholders="'LOCATION_INPUT_PLACEHOLDER'" location="post.location" style="padding-left:40px; margin-bottom:0;" class="bottom" focus="x.enabled = true" blur="x.enabled = false"></address-autocomplete>
              <a href="" ng-click="autodetectPosition(); x.enabled = false" class="fa fa-map-marker" style="position:absolute; left:20px; top:13px;;"></a>
              <div ng-show="x.enabled" class="typeahead" style="z-index:1; position:absolute; width:100%;">
                  <div><div ng-click="autodetectPosition(); x.enabled = false"><a href="" id="user-location-detect"
                     analytics-on analytics-event="click on Use actual location" analytics-category="Locations"><i class="hearthicon-locate" style="padding-left:4px;padding-right:4px;"></i> {{ 'USE_MY_CURRENT_LOCATION_LINK' | translate }}</a></div>
                  </div>
              </div>
              <br>
          </div>
      </div>
      <div class="container" ng-show="isCreatingAd() || isEditingAd()">
          <div class="small-12 columns left padding-h-0 create-post-links">
              <a class="create-post-link" ng-click="post.isPrivate = !post.isPrivate">
                  <i ng-class="{ 'icon-unlock-alt': !post.isPrivate, 'icon-lock': post.isPrivate }" style="margin-left:7px; margin-right:8px;"></i>
                  <span ng-show="!post.isPrivate"><span class="fa fa-unlock"></span> {{ 'VISIBLE_FOR_ALL' | translate }}</span>
                  <span ng-show="post.isPrivate && !loggedCommunity._id"><span class="fa fa-lock"></span> {{ 'VISIBLE_FOR_FRIENDS' | translate }}</span>
                  <span ng-show="post.isPrivate && loggedCommunity._id"><span class="fa fa-lock"></span> {{ 'VISIBLE_FOR_MEMBERS' | translate }}</span>
              </a>
              <button class="primary right button" type="submit" ng-disabled="sending" translate>SUBMIT</button>
          </div>
      </div>
  </form>
</div>