<div ng-controller="CreatePostCtrl" ng-init="setDefaultPost(item)">
	
	<div class="round login-prompt" signed-out ng-cloak translate>
			LOG_IN_TO_POST_NEW_WISHES
	</div>

	<form ng-submit="post.save()" signed-in name="createAdForm" with-errors novalidate class="create-ad" style="margin:0; padding:0;">
		<div class="alert-box visible alert error round connect-bottom" ng-show="errors.base">{{ errors.base | translate }}</div>

		<div style="position:relative;z-index: 11;">
			<div create-ad-select class="create-ad-select" ng-show="isCreatingAd() || isEditingAd()"></div>
			
			<input type=="text" style="padding-left: 120px" placeholder="{{'TELL_WHAT' | translate}}" ng-model="post.title" class="text-input top" ng-required="true">
			
			<textarea placeholder="{{ 'WHAT_YOU_NEED_OR_OFFER_PLACEHOLDER' | translate }}" ng-model="post.name" name="name" ng-class="{ 'offset-text focused top': isCreatingAd() || isEditingAd()}" ng-keydown="escapeKey($event)" ng-focus="startCreatingAd()" ng-cloak class="create-ad-textarea text-input middle"></textarea>
			
			<div ng-show="isCreatingAd() || isEditingAd()" class="text-input middle field-container">
				<i class="fa fa-tags" style="float:left; padding:5px; padding-left:0px;"></i>
				<tags-input ng-model="post.keywords" placeholder="{{ 'ADD_KEYWORDS' | translate }}" replace-spaces-with-dashes="false" add-on-comma="true" add-on-space="false" allowed-tags-pattern="^[a-zA-Z0-9\sĚŠČŘŽÝÁÍÉÚŮĎŤŇÓěščřžýáíéúůďťňó]+$" max-length="20">
					<auto-complete source="queryKeywords($query)" min-length="2" debounce-delay="400" max-results-to-show="8"></auto-complete>
				</tags-input>
			</div>
			
			<div class="text-input middle">
				<label>{{ 'EXPIRATION_DATE' | translate}}
				<input type="text" datepicker="{{languageCode.code}}"  style="border:0" ng-model="post.date" placeholder="{{'UNLIMITED' | translate}}">
				</label>
			</div>

			<div class="text-input middle field-container" ng-show="isCreatingAd() || isEditingAd()">
				<locations locations="post.locations"></locations>
			</div>
			
			<div class="text-input middle field-container" ng-show="isCreatingAd() || isEditingAd()">
				<div file-upload upload-name="'temp_upload'" file-upload-path="/files" on-file-upload-started="post.attachments.enabled = true" on-file-upload-success="photoUploadSuccessful($event)" on-file-upload-error="post.attachments.enabled = true" style="position:relative; display:inline-block; float:left; padding-left:2px;">
					<a class="create-post-link" ng-hide="post.attachments.length" ng-click="post.attachmentsEnabled = true">
							<i class="fa fa-camera-retro" style="padding-right:5px;"></i> {{ 'ATTACH_PHOTO_LINK' | translate }}
					</a>
				</div>
				<div class="cleaner"></div>
				<div ng-show="post.attachments.length">
					<ul>
						<li class="text-center" ng-repeat="file in post.attachments" style="position:relative;">
							<img ng-src="{{ file.origin }}" class="padding-1">
							<a ng-click="post.attachments = []" title="{{ 'CLICK_TO_REMOVE_PHOTO_HINT' | translate }}">
								<i class="hearthicon-remove"></i>
							</a>
						</li>
					</ul>
				</div>
				<div file-upload-output class="text-center"></div>
			</div>

			<div class="text-input bottom field-container panel  clearfix" ng-show="isCreatingAd() || isEditingAd()">
				<a class="create-post-link left" style="line-height:46px" ng-click="post.isPrivate = !post.isPrivate">
					
					<span ng-show="!post.isPrivate"><span class="fa fa-unlock"></span> {{ 'VISIBLE_FOR_ALL' | translate }}</span>
					<span ng-show="post.isPrivate && !loggedCommunity._id"><span class="fa fa-lock"></span> {{ 'VISIBLE_FOR_FRIENDS' | translate }}</span>
					<span ng-show="post.isPrivate && loggedCommunity._id"><span class="fa fa-lock"></span> {{ 'VISIBLE_FOR_MEMBERS' | translate }}</span>
				</a>
				<button class="primary button right" type="submit" ng-disabled="sending || createAdForm.$invalid" translate>SUBMIT</button>
			</div>
	</form>
</div>