<div class="row page-not-found">
	<div class="large-6 columns text-center"><img ng-src="{{ basePath }}images/tv.png"></div>
	<div class="large-6 columns text-center">
		<h1><big>404</big><br>{{:: 'ERROR_404_SUBHEADER' | translate }}</h1>
		<h2>{{::('NO_SIGNAL_ON_THIS_PAGE' | translate)}}</h2>
		<br>
		<button class="button-flat blue" ng-click="goToFeedback()">{{:: 'FEEDBACK' | translate }}</button> &nbsp; <button class="button-flat blue" ng-click="goToMarket()">{{:: 'GO_BACK_TO_MARKET' | translate }}</button>
	</div>
</div>
