<section>
	<article>
		<section class="left-column small-12 padding-top large-12 small-12 medium-12 columns box">
			<form name="feedbackForm" ng-submit="submit($event)" ng-show="!sent" with-errors novalidate>
				<div ng-show="fromAccountDelete" class="clearfix padding-2 successfully-sent">
					{{ 'USER_HAS_BEEN_DELETED' | translate }}
				</div>
				<h3 style="font-size:x-large; text-align:center;" ng-hide="fromAccountDelete">{{ 'GIVE_US_FEEDBACK' | translate }}</h3>
				<p>{{ 'FEEDBACK_FORM_SPEECH_BUBBLE' | translate}}</p>
				<h5 ng-show="fromAccountDelete" style="margin:0;">
					{{ 'WE_WILL_MISS_YOU__TELL_US_WHY_YOU_LEAVE' | translate }}
				</h5>
				<div class="hr" style="margin:0;"></div>
				<br>
				<div class="alert-box visible alert error round connect-bottom" ng-show="errors.base">{{ errors.base | translate }}</div>
				<article class="row">
					<section class="small-12 columns">
						<textarea class="text-input top" name="feedback[text]" rows="10" ng-attr-placeholder="{{ 'FEEDBACK_TEXT_PLACEHOLDER' | translate }}" ng-model="feedback.text" ng-required="true"></textarea>
					</section>
				</article>
				<article class="row">
					<section class="small-12 columns">
						<input type="file" name="feedback[attachments_attributes][][multipart]" onchange="angular.element(this).scope().uploadedFile(this)" />
					</section>
				</article>
				<article class="row">
					<section class="small-12 columns">
						<input class="text-input bottom round connect-right" name="email" type="email" autocorrect="off" autocapitalize="off" placeholder="{{ 'USERNAME_INPUT_PLACEHOLDER' | translate }}" ng-focus="showError.email = false" ng-blur="showError.email = true" ng-model="feedback.email"
						ng-required="true">
						<div class="error" ng-show="showError.email">
							<span ng-show="feedbackForm.email.$error.email">{{ 'ERR_NOT_VALID_EMAIL' | translate }}</span>
							<span ng-show="feedbackForm.email.$error.required">{{ 'ERR_NOT_FILLED_EMAIL' | translate }}</span>
						</div>
					</section>
				</article>
				<article class="row">
					<section class="small-12 columns text-center">
						<button type="submit" ng-disabled="sending || feedbackForm.$invalid" class="button-send">{{'SUBMIT' | translate}}</button>
					</section>
				</article>
			</form>
			<div ng-show="sent">
				<div class="clearfix text-center successfully-sent">
					{{ 'SENDING_FEEDBACK_SUCCESS' | translate }}
				</div>
				<br />
				<div style="text-align:center;">
					<a href="" ng-click="init()" analytics-custom analytics-event="feedback form sent" analytics-category="Feedback" analytics-value="4">{{ 'SEND_ANOTHER_FEEDBACK' | translate }}</a>
				</div>
			</div>
		</section>
	</article>
</section>