<div class="filter" class="box" ng-class="{collapsed: !filterExpanded}" >
	<div class="row">
		<div class="large-12 columns">
			<h1 ng-click="filterExpanded = !filterExpanded"><span class="fa fa-filter"></span>Filtrovat inzeráty</h1> 
			<hr>
			<dl class="sub-nav">
				<dt>Podle typu:</dt>
				<dd class="active">
					<label><input type="radio" name="filterAdType" ng-model="filter.type" ng-value="'offer'">Věnuji</label>
				</dd>
				<dd>
					<label><input type="radio" name="filterAdType" ng-model="filter.type" ng-value="'need'">Přijmu</label>
				</dd>
				<dd>
					<label><input type="radio" name="filterAdType" ng-model="filter.type" ng-value="''">Všechny</label>
				</dd>
			</dl>
			<dl class="sub-nav">
				<dt>Podle autora:</dt>
				<dd>
					<label><input type="checkbox">Jednotlivci</label>
				</dd>
				<dd>
					<label><input type="checkbox">Komunity</label>
				</dd>
				<dd>
					<label><input type="checkbox">Projekty</label>
				</dd>
				<dd>
					<label><input type="checkbox">Jen moje spojení</label>
				</dd>
			</dl>
			<dl class="sub-nav">
				<dt>Podle času:</dt>
				<dd>
					<label><input type="radio" name="adDate" ng-model="filter.date" ng-value="1">Dnes</label>
				</dd>
				<dd>
					<label><input type="radio" name="adDate" ng-model="filter.date" ng-value="3">3 dny</label>
				</dd>
				<dd>
					<label><input type="radio" name="adDate" ng-model="filter.date" ng-value="7">Týden</label>
				</dd>
				<dd>
					<!--label><input type="radio" name="adDate">Od: <input type="text" datepicker="{{languageCode.code}}" > Do: <input type="text" datepicker="{{languageCode.code}}" ></label-->
				</dd>

			</dl>
			<dl class="sub-nav">
				<dt>Podle místa:</dt>
				<dd style="width:76%"><input type="text" id="geolocation" class="text-input"></dd>
			</dl>
			<dl class="sub-nav">
				<dt></dt>
				<dd>a v okruhu</dd>
				<dd>
					<label><input type="radio" name="filter" ng-model="filter.distance" ng-value="'10km'">10 km</label>
				</dd>
				<dd>
					<label><input type="radio" name="adPlace" ng-model="filter.distance"ng-value="'25km'">25 km</label>
				</dd>
				<dd>
					<label><input type="radio" name="adPlace" ng-model="filter.distance" ng-value="'100km'">100 km</label>
				</dd>
			</dl>
			<dl class="sub-nav">
				<dt>Podle klíčového slova:</dt>
				<dd class="active">
					<input type="text">
				</dd>
			</dl>
		</div>
		<hr>
	</div>

	<div class="row">
		<div class="large-3 columns">
			<a ng-click="filterExpanded = false">Zavřít filtr</a>
		</div>
		<div class="large-5 columns">
			<!--label><input type="checkbox">Uložit filtr pro další použití</label-->
		</div>
		<div class="large-4 columns text-right">
			<button class="button" ng-click="search()"><span class="fa fa-filter"></span> Filtrovat</button>
		</div>
	</div>

</div>