<div class="filter">
	<article class="row">
		<section class="large-3 columns">
			<header>Podle typu</header>
			<checkbox model="filter.type" value="'offer'">Věnuji</checkbox>
			<checkbox model="filter.type" value="'need'">Přijmu</checkbox>
		</section>
		<section class="large-3 columns">
			<header>Podle autora</header>
			<checkbox model="filter.type" value="'need'">Jednotlivci</checkbox>
			<checkbox model="filter.type" value="'need'">Komunity</checkbox>
			<checkbox model="filter.type" value="'need'">Projekty</checkbox>
			<checkbox model="filter.type" value="'need'">Jen moje spojení</checkbox>
		</section>
		<section class="large-3 columns">
			<header>Podle casu</header>
			<label><input type="radio" name="adDate" ng-model="filter.date" ng-value="1">Dnes</label>
			<label><input type="radio" name="adDate" ng-model="filter.date" ng-value="3">3 dny</label>
			<label><input type="radio" name="adDate" ng-model="filter.date" ng-value="7">Týden</label>

		</section>
		<section class="large-3 columns">
			<header>Podle místa</header>
			<input type="text" id="geolocation" class="text-input">
			<label><input type="radio" name="filter" ng-model="filter.distance" ng-value="'10km'">10 km</label>
			<label><input type="radio" name="adPlace" ng-model="filter.distance"ng-value="'25km'">25 km</label>
			<label><input type="radio" name="adPlace" ng-model="filter.distance" ng-value="'100km'">100 km</label>
		</section>
	</article>

	<hr>
	
	<div class="row">
		<div class="large-3 columns">
			<a ng-click="close()"  class="link-button"><span class="fa fa-angle-double-up"></span> {{'CLOSE' | translate}}</a>
		</div>
		<div class="large-5 columns">
			<label><input type="checkbox">Uložit filtr pro další použití</label>
		</div>
		<div class="large-4 columns text-right">
			<button class="button" ng-click="search()"><span class="fa fa-filter"></span> Filtrovat</button>
		</div>
	</div>

</div>