<div class="filterbar-wrap">
	<article class="row">
		<section class="large-10  push-2 columns">
			<article class="row filterbar">
				<section class="large-8  columns">
					<article class="row filterbar-section">
						<section class="large-5 columns">
							<a ng-click="toggleFilter()" class="button" ng-class="{pressed: filterSelected}"><span class="fa fa-filter"></span> {{'FILTER' | translate}}</a>
						</section>
						<section class="large-6 columns">
							<ul class="button-group radius">
								<li>
									<a class="small button left" ng-class="{pressed: !mapSelected}" ng-click="toggleMap()"><span class="fa fa-list-ul"></span> {{'LIST' | translate}}</a>
								</li>
								<li>
									<a class="small button right" ng-class="{pressed: mapSelected}" ng-click="toggleMap()"><span class="fa fa-map-marker"></span> {{'MAP' | translate}}</a>
								</li>
							</ul>
						</section>
						<section class="large-1 columns"></section>
					</article>
				</section>
				<section class="large-4 columns text-right insert-button-container">
					<a  ng-click="toggleNewItem()" ng-class="{pressed: newItemSelected}" class="button"><span class="fa fa-pencil"></span> {{'CREATE_NEW_ADD' | translate}}</a>
				</section>
			</article>
		</section>
	</article>

	<article class="row">
		<section class="large-10  push-2 columns">
			<div ng-show="filterSelected" class="animate-show">
				<filter data="filter" class="filterbar-container"></filter>
			</div>
			<div ng-show="newItemSelected" class="animate-show">
				<editad class="filterbar-container"></editad>
			</div>
		</section>
	</article>
</div>