<div class="container login">
    <div class="left-column small-12 large-7 columns alt-bg row">
        <form name="forgottenPasswordForm" ng-submit="requestPasswordReset()" class="large-7 large-centered columns" with-errors novalidate>
            <h2 translate>FORGOTTEN_PASSWORD_TITLE</h2>
            <p translate>FORGOTTEN_PASSWORD_TEXT</p>

            <div class="alert-box visible alert error round connect-bottom" ng-show="errors.base">{{ errors.base | translate }}</div>
            <div class="row collapse">
                <div class="small-9 columns">
                    <input type="email" name="email" class="text-input round connect-right" ng-model="passwordResetRequest.email" placeholder="{{ 'EMAIL_INPUT_PLACEHOLDER' | translate }}" autocorrect="off" autocapitalize="off" ng-required="true">
                </div>
                <div class="small-3 columns">
                    <button type="submit" ng-disabled="sending" class="primary button prefix round connect-left" translate>SEND</button>
                </div>
            </div>

            <div class="">
                <a class="left padding" ng-href="#/login" style="padding-left:0;">{{ 'BACK_TO_LOGIN' | translate }}</a>
            </div>
        </form>
    </div>
</div>
