<form ng-submit="refreshSearch(); a.focused = false" class="search-form">
	<button class="prefix primary button connect-left round padding-1" type="submit" style="width:10%; height:100%;" ng-click="srch.type = null;"><i class="fa fa-search"></i></button>
	<input type="text" ng-click="a.focused = !a.focused" ng-init="a.focused = false" ng-keydown="moveCursor($event)" ng-model="srch.query" placeholder="{{ \'TYPE_IN_WHAT_YOU_SEARCH_FOR\' | translate }}" style="width:90%;" class="text-input round connect-right">
	<div class="typeahead" ng-show="srch.query && a.focused">
		<div ng-repeat="filter in srch.filters" ng-mouseenter="setSel($index)" ng-mouseleave="setSel(srch.filters.length)" ng-class="{ \'item-selected\': sel == $index}">
			<div ng-click="setSearchType(filter.type); a.focused = false;refreshSearch();">
				{{ srch.query }} <b>{{ \'FULLTEXT_SEARCH_IN\' | translate }} {{ filter.name | translate }}</b>
			</div>
		</div>
	</div>
</form>