<div class="ngdialog ngdialog-theme-default" id="maitenancePage">
	<div class="ngdialog-overlay"></div>
	<div class="ngdialog-content" ng-cloak>
		<h2 ng-if="isMaintenanceMode" translate-cloak ng-bind-html="'SERVER_MAITENANCE_MESSAGE' | translate"></h2>
	</div>
</div>
<div class="offline-dialog" id="offlineNotify" ng-class="{display: isOfflineMode}" ng-cloak>
	<div class="content" ng-cloak>
		<span ng-bind-html="'YOU_ARE_OFFLINE' | translate"></span> &nbsp;&nbsp;
		<button class="others profile-button solid dontDisable" ng-click="checkOnlineState()">{{ 'RELOAD_PAGE' | translate }}
			<i class="fa fa-spinner fa-spin" ng-if="offlineHealthCheckInProgress"></i>
		</button>
	</div>
</div>
<div loading ng-if="initFinished" class="globalLoading" show="globalLoading" delayed="1000"></div>

<div class="off-canvas-wrap" ng-class='{"move-right": leftSidebarShown}'>
	<div class="fixed off-canvas-fixed">
		<navigation ng-if="initFinished"></navigation>
		<a class="exit-off-canvas" ng-click='toggleSidebar(false)'></a>
	</div>

	<div id='language-panel' class='padding-small-horizontal padding-medium-vertical' style='display: none'>
		<ul class='styled-list' ng-controller='LanguageChangeCtrl as languageChange'>
			<li class='list-item' ng-if='languageChange.currentLanguage != "cs"'>
				<a ng-click='languageChange.switchLang("cs")'>
					<i class='flag flag-cs'></i>
					<span translate='LANGUAGE.CZECH'></span>
				</a>
			</li>
			<li class='list-item' ng-if='languageChange.currentLanguage != "en"'>
				<a ng-click='languageChange.switchLang("en")'>
					<i class='flag flag-en'></i>
					<span translate='LANGUAGE.ENGLISH'></span>
				</a>
			</li>
			<li class='list-item' ng-if='languageChange.currentLanguage != "sk"'>
				<a ng-click='languageChange.switchLang("sk")'>
					<i class='flag flag-sk'></i>
					<span translate='LANGUAGE.SLOVAK'></span>
				</a>
			</li>
		</ul>
	</div>

	<div class="inner-wrap">
		<section id="homepage-hero">
			<div id="notify-offset-container"></div>
			<div class="all-visible max-width">
				<div ui-view class="main-container" ng-class="{ 'with-search-bar': isSearchBarShown() }"></div>
				<div ng-click="top(); mixpanelTrackMoveToTop()" class="move2top show-for-scrolled show-for-large-up" title="{{'move-to-top' | translate}}">
					<span ng-bind-html="topArrowText.top"></span>
					<span class="fa fa-caret-square-o-up"></span>
					<span ng-bind-html="topArrowText.bottom"></span>
				</div>
			</div>
		</section>
	</div>
</div>
</div>