<div ng-show="status.visible && loggedUser._id">
	<div ng-show="!status.sentOk" class="invitation-form">
		<form name="sendInvitationForm" id="sendInvitationForm" novalidate ng-submit="sendInvitation()">
			<h4 translate>HEARTH_INVITATION</h4>
			<p translate>HEARTH_INVITATION_TEXT</p>
			
				<div class="row">
					 <div class="large-12 columns ">
					 	<div class="alert-box alert error round connect-bottom visible" ng-show="sendInvitationForm.email.$error.email">{{'VALIDATION_EMAIL' | translate}}</div>
						<div style="position:relative;z-index:11">
							<div class="alert error round connect-bottom" ng-show="status.sentError">{{ status.sentError.base | translate }}</div>
							<input type="email" name="email" class="text-input top" ng-model="invitation.toEmail" required>
							<textarea class="text-input bottom" ng-model="invitation.message"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					 <div class="large-6 columns ">
						<a href="" ng-click="cancel()" translate>CANCEL</a>
					</div>
					<div class="large-6 columns">
						<button type="submit" class="primary button right" ng-disabled="status.sending" analytics-on analytics-event="sending invitation" analytics-category="Invitations" >
							<span class="fa fa-envelope"></span> {{'SEND' | translate}}
						</button>
					</div>
				</div>
			
		</form>
	</div>
	<div ng-show="status.sentOk" class="clearfix padding-2 padding-v-4 successfully-sent">
		  {{ 'INVITATION_SENDING_SUCCESS' | translate }}
	</div>
</div>