<div ng-show="status.visible && loggedUser._id">
	<div ng-show="!status.sentOk" class="invitation-form">
		<form name="sendInvitationForm" id="sendInvitationForm" novalidate ng-submit="sendInvitation()">
			
			<div class="row">
				<div class="large-12 columns ">
					<h2>{{'HEARTH_INVITATION' | translate}}</h2>
					<hr>
					<h3>{{'HEARTH_INVITATION_BY_EMAIL' | translate}}</h3>
					<p >{{'HEARTH_INVITATION_TEXT' | translate}}</p>
				</div>
			</div>
		
			<div class="row">
				 <div class="large-12 columns ">
				 	<div class="alert-box alert error round connect-bottom visible" ng-show="sendInvitationForm.email.$error.emails">{{'VALIDATION_EMAIL' | translate}}</div>
				 	<div class="alert-box alert error round connect-bottom visible" ng-show="sendInvitationForm.message.$error.maxlength">{{'VALIDATION_MAX_LENGTH' | translate}}</div>
					<div style="position:relative;z-index:11"> 
						<div class="alert error round connect-bottom" ng-show="status.sentError">{{ status.sentError.base | translate }}</div>
						<input type="emails" name="email" placeholder="{{'EMAIL_INPUT_PLACEHOLDER' | translate}}" class="text-input top" ng-model="invitation.toEmail" required>
						<textarea class="text-input bottom" name="message" ng-maxlength="500" monk-placeholder="EMAIL_TEXT_PLACEHOLDER" ng-model="invitation.message"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				 <div class="large-6 columns ">
					<a href="" ng-click="cancel()" translate>CANCEL</a>
				</div>
				<div class="large-6 columns">
					<button type="submit" class="primary button right" ng-disabled="status.sending || sendInvitationForm.$invalid" analytics-on analytics-event="sending invitation" analytics-category="Invitations" >
						<span class="fa fa-envelope"></span> {{'SEND' | translate}}
					</button>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="large-12 columns ">
					<h3>{{'HEARTH_INVITATION_SOCIAL' | translate}}</h3>
					<social item=""></social>
				</div>
			</div>
		</form>
	</div>
	<div ng-show="status.sentOk" class="clearfix padding-2 padding-v-4 successfully-sent">
		  {{ 'INVITATION_SENDING_SUCCESS' | translate }}
	</div>
</div>