<article id="item-detail" class="item-common item-detail-page web-width">
	<div loading show="!loaded"></div>
	<div class="row" ng-if=" loaded">
		<section ng-show="item && !isMine && item.state === 'suspended'" class="ad-not-found box large-6 small-6 medium-6 margin-auto text-center">
			<p class="margin-0">{{ 'POST_WAS_SUSPENDED' | translate }}</p>
		</section>
		<section ng-show="!itemDeleted && item === false" class="ad-not-found box large-6 small-6 medium-6 margin-auto text-center">
			<p class="margin-0">{{ 'POST_NOT_FOUND' | translate }}</p>
		</section>
		<section ng-show="itemDeleted" class="ad-not-found box large-6 small-6 medium-6 margin-auto text-center">
			<p class="margin-0">{{ 'POST_WAS_DELETED' | translate }}</p>
		</section>
		<section ng-if="! itemDeleted && item && item.text" class="large-12 small-12 medium-12 content row" id="item_container_{{ item._id }}">
			<div ng-if="!isActive" class="large-8 medium-12 left columns item-status-bar">
				<span ng-if="item.state == 'expired'">
					<span ng-if="item.valid_until">{{ 'POST_HAS_EXPIRED' | translate }} {{ item.valid_until | date:DATETIME_FORMATS.mediumDate }}</span>
					<span ng-if="!item.valid_until">{{ 'POST_HAS_ALREADY_EXPIRED' | translate }}</span>
				</span>
				<span ng-if="item.state == 'suspended'">{{ 'POST_WAS_SUSPENDED' | translate }}</span>
			</div>
			<div class="large-8 medium-12 small-12 left columns ad-detail-column" ng-init="local.showMap = false">
				<article class="box post-detail row">
					<header class="clearfix">
						<div class="large-8 small-8 medium-8 columns">
							<h1>
								<span data-item-type="{{ item.type }}">
									{{ postTypes[item.author._type][item.type] | translate }}
								</span>
								{{item.title}}
							</h1>
							<div class="clearfix" style="height:5px;" ng-if="item.title.length > 15">&nbsp;</div>
							<span class="validity-warning" ng-if="isExpiringSoon">{{ 'POSTS.DETAIL.POST_EXPIRING_SOON' | translate }}</span>
							<!-- TODO!!! add ngif and data -->
							<span class="fa fa-lock" ng-if="item.is_private" title="{{ 'VISIBLE_FOR_FRIENDS' | translate }}"></span>
						</div>
						<div class="large-4 small-4 medium-4 columns">
							<!-- <span class="fright ad-flag-container">
								<a class="report-link spam fa fa-flag" ng-if="! isMine && loggedUser._id && item.spam_reported" tipsy title="{{'REPORT_HARMFUL_AD_ONLY_ONCE' | translate}}" ng-click="openReportBox(item)"></a>
								<a class="report-link spam fa fa-flag not-reported" ng-if="! isMine && loggedUser._id && !item.spam_reported" title="{{'REPORT_HARMFUL_AD' | translate}}" ng-click="openReportBox(item)"></a>
							</span> -->
							<span class="ad-flag-container fright" ng-if="!mine">
								<a class="action-dropdown fa fa-chevron-down" title="{{ 'POSTS.DETAIL.EXPAND_MORE_INFO' | translate }}" dropdown="#more-actions-{{ item._id }}"></a>
							</span>
							<div class="more-actions-dropdown" id="more-actions-{{ item._id }}" style="display:none;">
								<a ng-if="! mine && item.spam_reported" title="{{ 'REPORT_HARMFUL_AD_ONLY_ONCE' | translate}}" tipsy disabled>{{:: 'MARKETPLACE.POST.FLAG_POST' | translate }}</a>
								<a ng-if="! mine && !item.spam_reported" title="{{ 'REPORT_HARMFUL_AD' | translate}}" ng-click="openReportBox(item)">{{:: 'MARKETPLACE.POST.FLAG_POST' | translate }}</a>
								<a ng-if="! mine && item.admin_communities.length" title="{{ 'MARKETPLACE.POST.REMOVE_FROM_COMMUNITY' | translate}}" ng-click="removeItemFromCommunity(item)">{{:: 'MARKETPLACE.POST.REMOVE_FROM_COMMUNITY' | translate }}</a>
							</div>
							<span class="date fright" title="{{item.updated_at | date:DATETIME_FORMATS.medium}}">
								{{item.updated_at | ago}}
							</span>
						</div>
					</header>
					<div class="text-container">
						<p ng-bind-html="item.text | linky:'_blank' | nl2br"></p>
					</div>
					<ul lemmon-slider fancybox ng-if="item.attachments_attributes.length">
						<li ng-repeat="photo in item.attachments_attributes track by $index">
							<a class="fancy" ng-href="{{ photo.large }}" rel="{{ item._id }}">
								<img ng-src="{{photo.normal}}">
							</a>
						</li>
					</ul>
					<div ng-if="!item.location_unlimited">
						<div class="map-expand-toggle" ng-if="item.locations.length && !item.location_unlimited" ng-init="local.showMap = !isMine && item.locations && item.locations.length && !item.location_unlimited">
							<a ng-show="!local.showMap" ng-click="local.showMap = true">{{ 'POSTS.DETAIL.SHOW_MAP' | translate }}
								<i class="fa fa-chevron-down"></i>
							</a>
							<a ng-show="local.showMap" ng-click="local.showMap = false">{{ 'POSTS.DETAIL.HIDE_MAP' | translate }}
								<i class="fa fa-chevron-up"></i>
							</a>
						</div>
						<h4>{{ 'POSTS.DETAIL.LOCATION_HEADING' | translate }}</h4>
						<ul class="address clearfix">
							<li ng-if="item.location_unlimited" class="location-anywhere">{{ 'POSTS.DETAIL.LOCATION_ANYWHERE' | translate }}</li>
							<li ng-repeat="(locationId, location) in item.locations">
								{{ location.address }}
							</li>
						</ul>
						<mapitems ng-if="local.showMap" class="map" style="height:300px;" items="item.locations" zoom-on-scroll="false"></mapitems>
					</div>
					<h4 ng-if="item.location_unlimited" class="address-unlimited">{{ 'POSTS.DETAIL.LOCATION_ANYWHERE_HEADING' | translate }}</h4>
					<div class="tags" ng-if="item.keywords.length">
						<ul class="tagList">
							<li ng-repeat="tag in item.keywords">{{tag}}</li>
						</ul>
					</div>
					<footer class="clearfix">
						<div class="sharing fright">
							<a analytics-custom analytics-event="Share" analytics-category="Email" analytics-label="Share post by email" class="fa fa-envelope" title="Email" href="" ng-click="openEmailSharingBox(item)"></a>
							<a analytics-custom analytics-event="Share" analytics-category="Facebook" analytics-label="Share post on facebook" sharing-window class="fa fa-facebook" title="Facebook" ng-href="{{socialLinks.facebook+postAddress}}" target="_blank"></a>
							<a analytics-custom analytics-event="Share" analytics-category="Google+" analytics-label="Share post on google+" sharing-window class="fa fa-google-plus" title="Google+" ng-href="{{socialLinks.gplus+postAddress}}" target="_blank"></a>
							<a analytics-custom analytics-event="Share" analytics-category="Twitter" analytics-label="Share post on twitter" sharing-window class="fa fa-twitter" title="Twitter" ng-href="{{socialLinks.twitter+postAddress}}" target="_blank"></a>
						</div>
						<div class="post-edit-buttons-container fleft" ng-if="isMine">
							<div class="controll-buttons">
								<a title="{{'AD_EDIT_LABEL' | translate}}" ng-click="editItem(item)">
									<i class="fa fa-pencil"></i>
								</a>
								<a title="{{'AD_RESUME_LABEL' | translate}}" ng-if="!isActive" ng-click="pauseToggle(item, 'confirm-pause-'+item._id)">
									<i class="fa " ng-class="{'fa-refresh': item.state == 'expired', 'fa-play': item.state == 'suspended'}"></i>
								</a>
								<a title="{{'AD_PAUSE_LABEL' | translate}}" ng-if="isActive" ng-click="confirmBox('AD_PAUSE_LABEL', 'AD_PAUSE_ARE_YOU_SURE', pauseToggle, item, this)">
									<i class="fa fa-pause"></i>
								</a>
								<a title="{{'AD_REMOVE_LABEL' | translate}}" ng-click="confirmBox('AD_REMOVE_LABEL', 'AD_REMOVE_ARE_YOU_SURE', deleteItem, item, this)">
									<i class="fa fa-times"></i>
								</a>
							</div>
						</div>
						<div class="reply-button-container fleft">
							<button ng-if="!item.is_replied && !isMine" ng-click="replyItem(item)" class="button" data-item-type="{{ item.type }}" ng-bind-html="replyLabel[item.type] | translate"></button>
							<div ng-if="item.is_replied">
								{{ 'YOU_HAVE_ALREADY_REPLIED_TO_THIS_POST' | translate }}
							</div>
						</div>
						<div class="reply-count-container fleft">
							<div ng-if="item.reply_count" ng-bind-html="replyCountTexts[item.type]+'.'+pluralCat(item.reply_count) | translate:{value: item.reply_count}"></div>
							<div ng-if="!item.reply_count">{{'NO_REPLY' | translate}}</div>
						</div>
					</footer>
				</article>
				<div class="box post-replies row" ng-if="isMine" scroll-to-view-on-hash="replies">
					<h4 ng-if="replies.length">{{ 'POSTS.DETAIL.REPLIES' | translate }}</h4>
					<div class="large-12 small-12 medium-12 large-centered columns text-center no-result" ng-if="!replies.length">
						<p>{{'POSTS.DETAIL.NO_REPLY' | translate}}</p>
					</div>
					<article class="row reply-item reply_{{ item._id }}" ng-repeat="(id, item) in replies track by item._id">
						<section class='display-table'>
							<div class='display-table-cell addon user'>
								<div info-box="item.message.author" infobox-index="$index" infobox-class="'on-item-detail'">
									<avatar src="item.message.author.avatar.normal" type="item.message.author._type" href="getProfileLink(item.message.author._type, item.message.author._id)"></avatar>
								</div>
							</div>
							<div class='display-table-cell'>
								<div class="content">
									<div class="fright">
										<div class="date" title="{{item.created_at | date:DATETIME_FORMATS.medium}}">
											<i class="fa fa-clock-o"></i>&nbsp; {{ item.created_at | ago }}</div>
									</div>
									<div class="text-container clearfix">
										<span class="reply-author">{{ item.message.author.name }}</span>
										<p ng-bind-html="item.message.text | linky:'_blank' | nl2br"></p>
									</div>
									<a ng-href="{{:: getProfileLink(item._type, item._id) }}" class="reply-contact fright">
										<p>
											{{:: 'PROFILE.REPLIES.GO_TO_CONVERSATION' | translate }}
											<i class="fa fa-comments-o"></i>
										</p>
									</a>
								</div>
							</div>
						</section>
					</article>
				</div>
			</div>
			<div class="large-4 small-12 medium-12 ad-author-column text-center right small-push-12">
				<div class="box">
					<div class="detail-avatar">
						<avatar type="item.author._type" src="item.author.avatar.large" size="large" href="getProfileLink(item.author._type, item.author._id)" /></avatar>
					</div>
					<div class="detail-name">
						<a ng-href="{{:: getProfileLink(item.author._type, item.author._id)}}">
							<h2>{{ item.author.name}}</h2>
						</a>
						<a ng-href="{{:: getProfileLink(item.author._type, item.author._id)}}" class="v2">
							<karma-bar for="item.author"></karma-bar>
						</a>
					</div>
					<div class="text-left" ng-if="profile">
						<div class="line">
							<div class="descr" ng-if="profile.about">
								<i class="fa fa-quote-right"></i> {{profile.about|ellipsis}}</div>
							<div class="descr" ng-if="profile.work">
								<i class="fa fa-briefcase"></i> {{profile.work|ellipsis}}</div>
							<div class="descr" ng-if="profile.locations.length && profile.locations[0].short_address">
								<i class="fa fa-map-marker"></i> {{'you-will-find-me' | translate}}
								<span ng-repeat="(locationId, location) in profile.locations">
									<span ng-if="location.short_address">{{location.short_address}}
										<span ng-if="!$last">;&nbsp;</span>
									</span>
								</span>
							</div>
							<div class="descr" ng-if="profile.interests && profile.interests[0] != ''">
								<i class="fa fa-smile-o"></i> {{ profile.interests.join(", ") }}</div>
							<div class="descr" ng-if="profile.user_languages">
								<span ng-repeat="(languageCode, enabled) in profile.user_languages">
									<i class="fa fa-comments" ng-if="$first"></i>
									{{ 'MY_LANG.' + languageCode | translate }}
									<span ng-if="!$last">,&nbsp;</span>
								</span>
							</div>
							<div class="descr" ng-if="profile.webs.length && profile.webs[0]">
								<i class="fa fa-link"></i>
								<span ng-repeat="(code, web) in profile.webs">
									<a target="_blank" class="link" ng-href="{{ web }}">{{ web | protocolfree | ellipsis:20 }}</a>
									<span ng-if="!$last">,&nbsp;</span>
								</span>
							</div>
						</div>
						<div class="line">
							<div class="social fleft">
								<a target="_blank" ng-if="item.author.twitter" href="{{item.author.twitter}}">
									<i class="fa fa-twitter-square"></i>
								</a>
								<a target="_blank" ng-if="item.author.facebook" href="{{item.author.facebook}}">
									<i class="fa fa-facebook-square"></i>
								</a>
								<a target="_blank" ng-if="item.author.googleplus" href="{{item.author.googleplus}}">
									<i class="fa fa-google-plus-square"></i>
								</a>
								<a target="_blank" ng-if="item.author.linkedin" href="{{item.author.linkedin}}">
									<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="right">
								<a class="profile-link" ng-href="{{:: getProfileLink(item.author._type, item.author._id)}}">{{ 'WHOLE_PROFILE' | translate }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</article>