<article  class="row" ng-class="{offer: item.type == 'offer', need: item.type == 'need', edit: edit}">
	<section class="large-2 columns photo">
		<div class="img"></div>
		<div class="name">{{ item.author.name }}</div>
		<!--div class="progress"><span class="meter"></span></div-->
	</section>
	<section class="large-10 columns">
		<div class="item" ng-class="item.type">
			<div class="overlap"> </div>
			<div class="arrowbox"></div>
			<div class="arrow"></div>
			<div class="content">
				<header>
					<span ng-if="item.locations" ng-repeat="location in item.locations">
						<span ng-if="location.name" class="fa fa-map-marker"></span> {{ location.name }}
					</span>	
					<span><span class="fa fa-clock-o"></span>{{item.updatedAt | ago}}</span>
				</header>
				<h1>
					<span ng-if="item.type == 'need'">{{ 'DOES_WISH' | translate }}</span>
					<span ng-if="item.type == 'offer'">{{ 'DOES_GIVE' | translate }}</span>
					{{item.title}}
				</h1>
				<p ng-bind-html="item.name | linky:'_blank'"></p>
			</div>
			<footer>
				<button ng-click="edit=true" ng-disabled="edit"  class="small" ng-class="{secondary: item.type == 'offer'}">
					<span ng-if="item.type == 'offer'"><b>Požádat</b> o dar</span>
					<span ng-if="item.type == 'need'"><b>Nabídnout</b> dar</span>
				</button>
				uz pozadalo <b>6 lidi</b>
				<div class="share">
					<div class="fa fa-share-square-o"></div>
					<div class="sharing">
						<div>
							<a class="fa fa-facebook" title="Facebook" ng-href="{{facebook}}" target="_blank"></a>
							<a class="fa fa-google-plus" title="Google+" ng-href="{{gplus}}" target="_blank"></a>
							<a class="fa fa-twitter" title="Twitter" ng-href="{{twitter}}" target="_blank"></a>
							<a class="fa fa-envelope" ng-href="{{mail}}" title="Email"></a>
							<a class="fa fa-flag" ng-click="report()" title="Nahlasit skodlivy inzerat"></a>
						</div>
					</div>
				</div>
			</footer>

			<article class="row animate-show" ng-show="reported">
				<section class="large-12 columns">
					<div class="radius alert-box warning" >
						<span>Děkujeme za udání, tento příspěvek prověříme.</span>
						 <a class="close" ng-click="reported=false" >&times;</a>
					</div>
				</section>
			</article>

			<div signed-in class="reply-box animate-show" ng-show="edit">
				<article class="row">
					<section class="large-12 columns">
						<form name="replyForm">
							<div class="animate-show" ng-show="replyForm.$invalid && replyForm.$dirty">
								<div class="alert-box radius " >
									<div ng-show="replyForm.message.$error.minlength">{{ 'ERR_AD_NAME_MIN_LEN' | translate }}</div>
									<div ng-show="replyForm.message.$error.maxlength">{{ 'ERR_AD_NAME_LEN' | translate }}</div>
									<div ng-show="replyForm.message.$error.required">{{ 'ERR_REPLY_EMPTY_MESSAGE' | translate }}</div>
									<div ng-show="replyForm.agree.$error.required">{{ 'ERR_REPLY_PLEASE_AGREE' | translate }}</div>
								</div>
							</div>
							<div class="animate-show" ng-show="submited">
								<div class="alert-box info radius" >
									{{ 'SENDING_MESSAGE_SUCCESS' | translate }}
								</div>
							</div>
							<textarea name="message" ng-model="message" ng-minlength="3" ng-maxlength="500" ng-required="true"></textarea>
							<label>
								<input type="checkbox" name="agree" ng-required="true" ng-model="agree">
							 	{{ 'REPLY_PUBLISH_EMAIL_AGREE' | translate:agreeTranslationData }}
							</label>
						</form>
					</section>
				</article>
				<article class="row">
					<section class="large-8 columns">
						<a ng-click="cancelEdit()" class="link-button">Zrušit</a>
					</section>
					<section class="large-4 columns text-right">
						<button ng-click="sendReply()" ng-disabled="replyForm.$invalid" ng-class="{secondary: item.type == 'offer'}">
							<span class="fa fa-envelope"></span>
							Odeslat
						</button>
					</section>
				</article>
			</div>
			<div signed-out class="not-logged-container animate-show" ng-show="edit">
				<article class="row">
					<section  class="large-12 columns">
						<div class="radius alert-box info" signed-out ng-cloak >
							<span translate>LOG_IN_TO_POST_NEW_WISHES</span>
							 <a class="close" ng-click="edit = false" >&times;</a>
						</div>
					</section>
				</article>
			</div>
		</div>
	</section>
</article>