<div class="container login">
	<article class="row">
		<section class="large-8 large-centered columns">
			<article class="row">
				<section class=" large-4 columns large-centered text-center" style="margin-bottom:2em">
					<div class="logo round"></div>
					<div>{{ 'LOGIN_TO_HEARTH' | translate }}</div>
				</section>
			</article>
			<article class="row">
				<section class=" large-7 columns">
					<form method="post" action="{{ '/login' | apiPrefix }}" name="loginForm" autocomplete="on" class="row collapse" with-errors novalidate>
						<input  autocomplete="on" class="text-input top" type="email" name="username"  ng-model="credentials.username" placeholder="{{ 'USERNAME_INPUT_PLACEHOLDER' | translate }}"  autocorrect="off" autocapitalize="off" ng-required="true">
						<a class="padding" ng-href="#/forgotten-password" tabindex="-1">{{ 'FORGOTTEN_PASSWORD_LINK' | translate }}</a>
						<input  autocomplete="on" type="password" name="password" ng-model="credentials.password"  placeholder="{{ 'PASSWORD_INPUT_PLACEHOLDER' | translate }}"  ng-required="true">
						<button type="submit" ng-disabled="sending" style="width:100%;" analytics-on analytics-event="login with email" analytics-category="Login" analytics-label="login page" analytics-value="2">{{ 'LOG_IN' | translate }}</button>
					</form>
				</section>
				<section class=" large-5 columns">
					<a ng-href="{{ '/users/auth/facebook' | apiPrefix }}" class="button secondary small" style="width:100%;" ng-cloak analytics-on analytics-event="login through FB" analytics-category="Login" analytics-label="login page" analytics-value="2"><span class="fa">&#xf09a;</span> {{ 'SIGN_UP_WITH_FACEBOOK' | translate }}</a><br><br>
					<a ng-href="{{ '/users/auth/google_oauth2' | apiPrefix }}" class="button secondary small" style="width:100%;" ng-cloak analytics-on analytics-event="login through Google" analytics-category="Login" analytics-label="login page" analytics-value="2"><span class="fa">&#xf0d5;</span> {{ 'SIGN_UP_WITH_GOOGLE' | translate }}</a>
				</section>
				<article class="row">
					<section class=" large-12 columns">
						<span style="margin-top:1em;margin-left:1em;">{{ 'CREATE_NEW' | translate }}</span>
						<a ng-href="#/register" analytics-on analytics-event="click on Create account link" analytics-category="registration" analytics-label="front page" analytics-value="3" style="width:100%;"> {{ 'CREATE_ACCOUNT_LINK_CAPTION' | translate }}</a>
					</section>
				</article>
			</article>
		</section>
	</article>
</div>
