<div id="notify-container-market"></div>
<div>
	<filter-status></filter-status>
	<filterbar filter=filter></filterbar>
	<div loading show="!loaded"></div>
	
	<div class="large-12 columns" ng-hide="showMap">
		<div when-scrolled="load()" class="wish-list">
			<div ng-show="!items.length && loaded && filterIsOn" class="row">
				<div class="large-8 large-centered columns box text-center" style="padding:1em">
					<p translate class="padding-2">MARKETPLACE.FILTER_NOT_FOUND</p>
					<div class="large-6 columns text-center">
						<a ng-click="toggleFilter()">{{ "MARKETPLACE.EDIT_FILTER" | translate}}</a>
					</div>
					<div  class="large-6 columns text-center">
						<a ng-click="resetFilter()">{{ "MARKETPLACE.RESET_FILTER" | translate}}</a>
					</div>
				</div>
			</div>
			<div ng-show="!items.length && loaded && !filterIsOn" class="row">
				<div class="large-8 large-centered columns box text-center" style="padding:1em">
					<p translate class="padding-2">MARKETPLACE.NOTHING_FOUND</p>
				</div>
			</div>
			<item keywords-active="keywordsActive" item="item" ng-repeat="(id, item) in items track by $index" user="user" community="loggedCommunity"></item>
		</div>
	</div>
	<div class="large-12 columns" ng-if="showMap">
		<search-map show-map="showMap" location="myLocation" logged-user="loggedUser" set-location-fn="updateLocation(location)"></search-map>
	</div>
</div>