<div class="container" ng-controller="ListViewStateCtrl">
	
	<filterbar></filterbar>

	<div class="large-12 columns " ng-class="{ 'hide-for-small' : isReplyingAd() }">
		<div ng-if="orderBy == 'location' && !isCreatingAd()">
			<search-map  class="padding-2" style="text-align:center;" location="myLocation" logged-user="loggedUser" set-location-fn="updateLocation(location)"></search-map>
		</div>
		<div ng-show="orderBy == 'relevance' && !isCreatingAd()">
			<article class="row">
				<section class="small-12 columns padding-2">
					<fulltext-typeahead></fulltext-typeahead>
				</section>
			</article>
		</div>
		<div ng-if="orderBy != 'location' || isCreatingAd()" >
			<div class="container" ng-include="'templates/searchResults.html'"></div>   
		</div>
	</div>
</div>