<!-- ======================= DEPRECATED ==================== -->
<!-- <div id="confirm-delete-{{item._id}}" class="reveal-modal tiny" data-reveal>
    <header>
        <h2 class="large-12">{{'AD_REMOVE_LABEL' | translate}}</h2>
    </header>
    <article class="row">
        <hr />
        <p class="large-12 text-center"> {{'AD_REMOVE_ARE_YOU_SURE' | translate}}</p>
    </article>
    <article class="row">
        <section class="large-6 columns">
            <button ng-click="deleteItem(item, 'confirm-delete-'+item._id, deleteItemCallback)">{{'OK' | translate}}</button>
        </section>
        <section class="large-6 columns text-right">
            <a class="link-button" ng-click="closeModal('confirm-delete-'+item._id)">{{'CANCEL' | translate}}</a>
        </section>
    </article>
</div>
<div id="confirm-pause-{{item._id}}" class="reveal-modal tiny" data-reveal>
    <header>
        <h2 class="large-12">{{'AD_PAUSE_LABEL' | translate}}</h2>
    </header>
    <article class="row">
        <hr />
        <p class="large-12 text-center"> {{'AD_PAUSE_ARE_YOU_SURE' | translate}}</p>
    </article>
    <article class="row">
        <section class="large-6 columns">
            <button ng-click="pauseToggle(item, 'confirm-pause-'+item._id, setPostActiveStateCallback)">{{'OK' | translate}}</button>
        </section>
        <section class="large-6 columns text-right">
            <a class="link-button" ng-click="closeModal('confirm-pause-'+item._id)">{{'CANCEL' | translate}}</a>
        </section>
    </article>
</div>

<div id="confirm-report-{{item._id}}" class="reveal-modal tiny" data-reveal>
    <header>
        <h2 class="large-12">{{'AD_REPORT_CONFIRM' | translate}}</h2>
    </header>
    <article class="row">
        <hr />
        <p class="large-12 text-center"> {{'AD_REPORT_ARE_YOU_SURE' | translate}}</p>
    </article>
    <article class="row">
        <section class="large-6 columns">
            <button ng-click="reportItem(item, 'confirm-report-'+item._id)">{{'OK' | translate}}</button>
        </section>
        <section class="large-6 columns text-right">
            <a class="link-button" ng-click="closeModal('confirm-report-'+item._id)">{{'CANCEL' | translate}}</a>
        </section>
    </article>
</div> -->