<div class="container fulltext profile" ng-init="isFromFulltext = true; x = { editing: 0}; page = {}; page.inviteFriendsClicked = false;" ng-controller="ListViewStateCtrl">
    <header class="right-column small-12 large-5 columns push-7"
            ng-hide="isReplyingAd() || isCreatingAd()">

        <div class="invitation-link" signed-in>
            <a href="" ng-click="page.inviteFriendsClicked = 1;">
                <i class="fa fa-arrow-right"></i> {{ 'INVITE_LINK_CAPTION' | translate }}
            </a>
        </div>
        <a name="top"></a>
        <invitation-form visible="page.inviteFriendsClicked" logged-user="loggedUser"></invitation-form>
        
        <div class="hide-for-medium-down bob">
            <p>{{'MY_HEARTH_BOB' | translate:info}}</p>
            <img src="images/hitchhiking.svg">
        </div>
    </header>
    <header class="right-column small-12 large-5 columns push-7"
            ng-show="isCreatingAd()">
        <div class="hide-for-medium-down bob">
            <p>{{'CREATE_YOUR_NEW_NEED_AND_BE_HAPPY' | translate}}</p>
            <img src="images/hitchhiking.svg">
        </div>
    </header>

    <header class="right-column small-12 large-5 columns push-7 detail slide-in"
            ng-cloak ng-show="isReplyingAd()">
        <span  ng-include="'templates/replyToAd.html'"></span>
        <!-- content from partial templates/replyToAd.html -->
    </header>

    <div class="left-column small-12 large-7 columns pull-5 alt-bg listing"
         ng-class="{ 'hide-for-small' : isReplyingAd() }">
        <div class="padding-h-2">
            <div class="row profile-links">
                <div class="small-3 columns left padding-h-0">
                    <a href=""
                       analytics-on analytics-event="sort by date" analytics-category="My Hearth" analytics-label="lists"
                       ng-class="{ 'underliner': orderBy == 'time' && !isCreatingAd() }"
                       ng-click="setOrderBy('time')"><i class="fa fa-clock-o x-large"></i><div>{{ 'NEWEST' | translate }}</div></a>
                </div>
                <div class="small-3 columns left padding-h-0">
                    <a href=""
                       analytics-on analytics-event="sort by proximity" analytics-category="My Hearth" analytics-label="lists"
                       ng-class="{ 'underliner': orderBy == 'location' && !isCreatingAd() }"
                       ng-click="setOrderBy('location')"><i class="fa fa-map-marker x-large"></i><div>{{ 'NEAREST' | translate }}</div></a>
                </div>
                <div class="small-3 columns left padding-h-0">
                    <a href=""
                       analytics-on analytics-event="sort by relevance" analytics-category="My Hearth" analytics-label="lists"
                       ng-class="{ 'underliner': orderBy == 'relevance' && !isCreatingAd() }"
                       ng-click="setOrderBy('relevance')"><i class="fa fa-search x-large"></i><div>{{ 'SEARCH_LINK' | translate }}</div></a>
                </div>
                <div class="small-3 columns left padding-h-0">
                    <a href=""
                       analytics-on analytics-event="click on create post" analytics-category="My Hearth" analytics-label="NP"
                       ng-class="{ 'underliner': isCreatingAd() }"
                       ng-click="startCreatingAd()"><i class="fa fa-pencil x-large"></i><div>{{ 'CREATE_POST' | translate }}</div></a>
                </div>
            </div>
        </div>
        <div ng-show="orderBy == 'location' && !isCreatingAd()">
            <search-map  class="padding-2" style="text-align:center;" location="myLocation" logged-user="loggedUser" set-location-fn="updateLocation(location)">
            </search-map>
            <div class="hr"></div>
        </div>
        <div ng-show="orderBy == 'relevance' && !isCreatingAd()">
            <div class="row">
                <div class="small-12 columns padding-2">
                    <fulltext-typeahead></fulltext-typeahead>
                </div>
            </div>
            <div class="hr"></div>
        </div>

        <div ng-include="'templates/searchResults.html'"></div>
    </div>
</div>