<div class="fixed navigation">
	<article class="row">
		<section class="large-2 columns text-right">
			<a ng-click="refreshToMarketPlace()" class="logo" analytics-on analytics-event="marketplace" analytics-category="menu" id="nav-title"></a>
		</section>
		<section class="large-3 columns show-for-scrolled">
			<a ng-click="showUI('filter')"><span class="fa fa-filter"></span> {{'filter-ads' | translate}}</a>
		</section>
		<section class="large-4 columns show-for-scrolled text-center">
			<a ng-click="showUI('map')"><span class="fa fa-map-marker"></span> {{'show-ads-on-map' | translate}}</a>
		</section>
		<section class="large-3 columns show-for-scrolled text-right">
			<a ng-click="editItem(null)" signed-in ><span class="fa fa-edit"></span> {{'create-new-ad' | translate}}</a>
		</section>
		<section class="large-4 columns hide-for-scrolled">
			<input type="text" id="searchBox" placeholder="{{ 'TELL_ME_WHAT_ARE_YOU_LOOKING_FOR' | translate }}" ng-model="searchText" ng-enter="search(searchText)">
			<span class="search-button fa fa-search" ng-click="search(searchText)"></span>
		</section>
		
		<section class="large-6 columns text-right hide-for-scrolled">
			<a href="#!/" ng-class="{active: segment == 'market'}" title="{{ 'HOMEPAGE_MARKET' | translate }}">
				<div class="fa fa-recycle"></div>
				<label>{{ 'HOMEPAGE_MARKET' | translate }}</label>
			</a>

			<a href="#!/communities" ng-class="{active: segment == 'communities'}" title="{{ 'HOMEPAGE_MARKET' | translate }}">
				<div class="fa fa-users"></div>
				<label>{{ 'COMMUNITIES' | translate }}</label>
			</a>

			<div class="separator"></div>
			
			<a signed-in ng-show="loggedUser.name && ! loggedCommunity._id" ng-class="{active: segment.slice(0,7) == 'profile'}" data-dropdown="profile-drop" title="{{ 'TOP_BAR_PROFILE' | translate }}">
	            <div class="img">
	            	<img data-dropdown="profile-drop" ng-src="{{loggedUser.avatar.normal}}" ng-if="loggedUser.avatar.normal" />
	            </div>
	            <label>{{ loggedUser.name }}</label>
		    </a>
			<a signed-in ng-show="loggedCommunity._id" ng-class="{active: segment.slice(0,9) == 'community'}" data-dropdown="profile-drop" title="{{ 'TOP_BAR_PROFILE' | translate }}">
	            <div class="img">
	            	<img data-dropdown="profile-drop" ng-src="{{loggedCommunity.avatar.normal}}" ng-if="loggedCommunity.avatar.normal" />
	            </div>
	            <label>{{ loggedCommunity.name }}</label>
		    </a>
		    <ul class="f-dropdown user-dropdown" data-dropdown-content id="profile-drop" title="{{ loggedCommunity.name || loggedUser.name }} ">
		       
		       <li ng-if="! loggedCommunity._id"><a ng-click="closeDropdown('profile-drop')" ng-href="#!/profile/{{ loggedUser._id }}"><i class="fa fa-user"></i> {{ 'MY_PROFILE'| translate }}</a></li>
		       <li ng-if="! loggedCommunity._id"><a ng-click="closeDropdown('profile-drop')" ng-href="#!/profile-edit"><i class="fa fa-edit"></i> {{ 'PROFILE_EDIT'| translate }}</a></li>
		       <li ng-if="! loggedCommunity._id"><a ng-click="closeDropdown('profile-drop')" ng-href="#!/profile-settings"><i class="fa fa-cog"></i> {{ 'SETTINGS'| translate }}</a></li>
		       
		       <li ng-if="loggedCommunity._id"><a ng-click="closeDropdown('profile-drop')" ng-href="#!/community/{{ loggedCommunity._id }}"><i class="fa fa-users"></i> {{ 'TOP_BAR_COMMUNITY_PROFILE'| translate }}</a></li>
		       <li ng-if="loggedCommunity._id"><a ng-click="closeDropdown('profile-drop')" ng-href="#!/community/{{ loggedCommunity._id }}/edit"><i class="fa fa-edit"></i> {{ 'PROFILE_EDIT'| translate }}</a></li>
		       <li class="no-hover"><p class="heading"><i class="fa fa-share"></i> {{ 'SWITCH_TO' | translate }}:</p></li>
		       <li ng-if="loggedCommunity._id">
					<a class="user-switch-item" ng-click="leaveIdentity(loggedUser._id); closeDropdown('profile-drop')">
						<div class="av-img">
							<img ng-src="{{loggedUser.avatar.normal}}" ng-if="loggedUser.avatar.normal" title="{{ loggedUser.name }}" />
						</div>
						<span>{{ loggedUser.name | ellipsis}}</span>
					</a>
		       </li>
		       <li ng-repeat="item in myAdminCommunities" ng-if="loggedCommunity._id != item._id">
					<a class="user-switch-item" ng-click="switchIdentity(item._id); closeDropdown('profile-drop')">
						<div class="av-img community">
							<img ng-src="{{item.avatar.normal}}" ng-if="item.avatar.normal" title="{{ item.normal }}" />
						</div>
						<span>{{ item.name | ellipsis}}</span>
					</a>
		       </li>
		       <li><a href="" ng-click="closeDropdown('profile-drop'); logout()"><i class="fa fa-sign-out"></i>{{ 'LOGOUT'| translate }}</a></li>
		    </ul> 

			<a data-dropdown="about-drop"  title="{{ 'TOP_BAR_ABOUT' | translate }}" analytics-on analytics-event="about page open" analytics-category="About" id="nav-about">
				<div class="fa fa-question-circle"></div>
				<label>{{'TOP_BAR_ABOUT' | translate}}</label>
			</a>
	
	        <ul id="about-drop" data-dropdown-content class="f-dropdown">
	          <li><a ng-click="closeDropdown('about-drop')" href="http://blog.hearth.net" target="_blank">{{'BLOG' | translate}}</a></li>
	          <li><a ng-click="closeDropdown('about-drop')" ng-href="#!/feedback">{{'WRITE_US' | translate}}</a></li>
	          <li><a ng-click="closeDropdown('about-drop')" ng-href="#!/terms">{{'TERMS' | translate}}</a></li>
	          <li class="divider"></li>
	          <li><a href="https://twitter.com/hearth_net" target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li>
	          <li><a href="https://www.facebook.com/Hearthnet.Ceska.republika.a.Slovensko" target="_blank"><span class="fa fa-facebook"></span> Facebook</a></li>
	          <li><a href="https://plus.google.com/105519310550753411853" target="_blank"><span class="fa fa-google-plus"></span> Google Plus</a> </li>
	          <li><a href="http://www.youtube.com/user/hearthnetcrsr" target="_blank"><span class="fa fa-youtube"></span> Youtube</a></li>
	          <li><a href="http://instagram.com/artofhearth" target="_blank"><span class="fa fa-instagram"></span> Instagram</a></li>
	        </ul>
		     
			<a signed-out href="#!/login" analytics-on analytics-event="sign-in" analytics-category="menu" id="nav-login">
				<div class="text">
		            <div class="fa fa-sign-in"></div>
		            <label>{{ 'TOP_BAR_SIGN_IN' | translate }}</label>
		        </div>
			</a>

		</section>
	</article>
</div>