<div class="fixed navigation">
	<article class="row">
		<section class="large-2 columns text-right">
			<a href="#/" class="logo" analytics-on analytics-event="marketplace" analytics-category="menu" id="nav-title"></a>
		</section>
		<section class="large-3 columns show-for-scrolled">
			<a ng-click="showUI('filter')"><span class="fa fa-filter"></span> {{'filter-ads' | translate}}</a>
		</section>
		<section class="large-4 columns show-for-scrolled text-center">
			<a ng-click="showUI('map')"><span class="fa fa-map-marker"></span> {{'show-ads-on-map' | translate}}</a>
		</section>
		<section class="large-3 columns show-for-scrolled text-right">
			<a ng-click="showUI('newAd')" signed-in ><span class="fa fa-edit"></span> {{'create-new-ad' | translate}}</a>
		</section>
		<section class="large-4 columns hide-for-scrolled">
			<input type="text" ng-model="searchText" ng-enter="search(searchText)">
			<span class="search-button fa fa-search" ng-click="search(searchText)"></span>
		</section>
		
		<section class="large-6 columns text-right hide-for-scrolled">
			<a href="#/" title="{{ 'HOMEPAGE_MARKET' | translate }}">
				<div class="fa fa-recycle"></div>
				<label>{{ 'HOMEPAGE_MARKET' | translate }}</label>
			</a>

			<a href="#/communities" title="{{ 'HOMEPAGE_MARKET' | translate }}">
				<div class="fa fa-users"></div>
				<label>{{ 'communities' | translate }}</label>
			</a>

			<div class="separator"></div>
			
			<a signed-in ng-click="switchBack()" data-dropdown="profile-drop" title="{{ 'TOP_BAR_PROFILE' | translate }}">
	            <div class="img" ng-style="avatarExtraStyle"></div>
	            <label>{{ loggedUser.name }}</label>
		    </a>
		    <ul class="f-dropdown" data-dropdown-content id="profile-drop" title="{{ loggedCommunity.name || loggedUser.name }} ">
		       <li><a ng-href="#/profile/{{ loggedUser._id }}"><i class="fa fa-user"></i> Můj profil</a></li>
		       <li><a ng-href="#/profile/{{ loggedUser._id }}"><i class="fa fa-cog"></i> Nastavení</a></li>
		       <li><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i>Odhlásit se</a></li>
		    </ul> 

			<a data-dropdown="about-drop"  title="{{ 'TOP_BAR_ABOUT' | translate }}" analytics-on analytics-event="about page open" analytics-category="About" id="nav-about">
				<div class="fa fa-question-circle"></div>
				<label>{{'TOP_BAR_ABOUT' | translate}}</label>
			</a>
	
	        <ul id="about-drop" data-dropdown-content class="f-dropdown">
	          <li><a href="http://blog.hearth.net" target="_blank">{{'BLOG' | translate}}</a></li>
	          <li><a ng-href="#/feedback">{{'WRITE_US' | translate}}</a></li>
	          <li><a ng-href="#/terms">{{'TERMS' | translate}}</a></li>
	          <li class="divider"></li>
	          <li><a href="https://twitter.com/hearth_net" target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li>
	          <li><a href="https://www.facebook.com/Hearthnet.Ceska.republika.a.Slovensko" target="_blank"><span class="fa fa-facebook"></span> Facebook</a></li>
	          <li><a href="https://plus.google.com/105519310550753411853" target="_blank"><span class="fa fa-google-plus"></span> Google Plus</a> </li>
	          <li><a href="http://www.youtube.com/user/hearthnetcrsr" target="_blank"><span class="fa fa-youtube"></span> Youtube</a></li>
	          <li><a href="http://instagram.com/artofhearth" target="_blank"><span class="fa fa-instagram"></span> Instagram</a></li>
	        </ul>

		     
			<a signed-out href="#/login" analytics-on analytics-event="sign-in" analytics-category="menu" id="nav-login">
				<div class="text">
		            <div class="fa fa-sign-in"></div>
		            <label>{{ 'TOP_BAR_SIGN_IN' | translate }}</label>
		        </div>
			</a>

		</section>
	</article>
</div>