<div class="row profile-edit">
  <div class="right-column small-12 large-5 columns push-7" ng-cloak>
    <div class="profile-header">
      <span ng-include src="'templates/profileProgress.html'"></span>
      <avatar source="avatar" size="large" class="avatar" type="'User'"></avatar>
      <h1 class="username" ng-show="userNameEditable != true" ng-cloak>{{ profile.name }}</h1>
      <div ng-show="isMine" style="line-height:200%; font-size:smaller;">{{ loggedUser.email }}</div>
    </div>
    <form name="profileavatarform" style="clear:both;">
      <!-- path is prefixed with $$config.apiPath -->
      <div file-upload-output class=""></div>
      <div file-upload file-upload-path="/users/{{ loggedUser._id }}/files" upload-name="'avatar'" on-file-upload-started="avatarUploadStarted()" on-file-upload-success="avatarUploadSucceeded($event)" on-file-upload-error="avatarUploadFailed()" style="width:100%; position:relative;">
           <button class="green small button file-upload cursor-pointer" type="button">{{ 'CHOOSE_AVATAR_FILE' | translate}}</button>
      </div>
    </form>

    <div feature-enabled="deleteAccount" class="padding-2">
      <a href="" class="" analytics-on analytics-event="delete account clicked" analytics-category="My profile" analytics-value="0" ng-click="startProfileDelete(); scrollToTop();">
          <i class="fa fa-warning-sign"></i>&nbsp;{{ 'DELETE_ACCOUNT_BUTTON_CAPTION' | translate }}
      </a>
    </div>
  </div>

  <div class="left-column small-12 large-7 columns pull-5 alt-bg">
   
  <form id="profileEditForm" name="profileEditForm" ng-submit="updateProfile()" with-errors novalidate>
      <h1><span class="fa fa-user"></span> {{ 'WHO' | translate }}</h1>
      <div class="row">
         <div class="large-6 columns">
          <label>
            {{ 'NAME' | translate }}
            <input ng-model="editedProfile.name" class="text-input" type='text'>
          </label>
        </div>
        <div class="large-6 columns">
            <label>
              {{ 'MY_WORK' | translate }}
              <input ng-model="editedProfile.work"  class="text-input" type='text' name="my_work">
              <em>{{'MY_WORK_EXAMPLE' | translate}}</em>
            </label>
        </div>
      </div>

      <h1><span class="fa fa-compass"></span> {{ 'WHERE' | translate }}</h1>
      <div class="row">
        <div class="large-6 columns">
          <label>
            {{ 'MY_PLACES' | translate }}
            <input  ng-model="editedProfile.location" class="text-input" type='text' name="location">
             <em>{{'MY_PLACES_EXAMPLE' | translate}}</em>
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            {{ 'MY_COUNTRY' | translate }}
            <input  ng-model="editedProfile.country" class="text-input" type='email' name="my_email">
          </label>
        </div>
      </div>

       <h1><span class="fa fa-comments"></span> {{ 'MY_LANGUAGES' | translate }}</h1>
      <div class="row">
        <div class="large-2 columns">
          <label><input type="checkbox" ng-model="editedProfile.user_languages.en" >{{ 'MY_LANG_EN' | translate }}</label> 
        </div>
        <div class="large-2 columns">
          <label><input type="checkbox" ng-model="editedProfile.user_languages.de" >{{ 'MY_LANG_DE' | translate }}</label> 
        </div>
        <div class="large-2 columns">
          <label><input type="checkbox" ng-model="editedProfile.user_languages.fr">{{ 'MY_LANG_FR' | translate }}</label> 
        </div>
        <div class="large-2 columns">
          <label><input type="checkbox" ng-model="editedProfile.user_languages.ru">{{ 'MY_LANG_RU' | translate }}</label> 
        </div>
        <div class="large-2 columns">
          <label><input type="checkbox" ng-model="editedProfile.user_languages.es">{{ 'MY_LANG_ES' | translate }}</label> 
        </div>
        <div class="large-2 columns">
         <a data-reveal-id="myModal"><span class="fa fa-comments"></span> {{ 'OTHER_LANG' | translate }}</a>
         <div id="myModal" class="reveal-modal" data-reveal>
            <div><label><input type="checkbox" ng-model="editedProfile.user_languages.cs">{{ 'MY_LANG_CS' | translate }}</label></div>
            <div><label><input type="checkbox" ng-model="editedProfile.user_languages.pt">{{ 'MY_LANG_PT' | translate }}</label></div>
            <div><label><input type="checkbox" ng-model="editedProfile.user_languages.ja">{{ 'MY_LANG_JA' | translate }}</label></div>
            <div><label><input type="checkbox" ng-model="editedProfile.user_languages.tr">{{ 'MY_LANG_TR' | translate }}</label></div>
            <div><label><input type="checkbox" ng-model="editedProfile.user_languages.it">{{ 'MY_LANG_IT' | translate }}</label></div>
            <div><label><input type="checkbox" ng-model="editedProfile.user_languages.uk">{{ 'MY_LANG_UK' | translate }}</label></div>
            <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>
      </div>

      <h1><span class="fa fa-mobile-phone"></span> {{ 'CONTACTS' | translate }}</h1>
      <div class="row">
        <div class="large-6 columns">
          <label>
            {{ 'MY_EMAIL' | translate }}
            <input  ng-model="editedProfile.email" class="text-input" type='email' name="my_email">
          </label>
           <a ng-click="showContactMail = true" ng-hide="showContactMail"><span class="fa fa-plus-circle"></span> {{ 'ADD' | translate }}</a>
           <div ng-show="showContactMail">
              <label>
                {{ 'MY_CONTACT_EMAIL' | translate }}
              <input ng-model="editedProfile.contact_email" class="text-input" type='email'>
               <em>{{ 'MY_CONTACT_EMAIL_EXAMPLE' | translate }}</em>
              </label>
              <div>
                <a ng-click="showContactMail = false; editedProfile.contact_email =''" ><span class="fa fa-minus-circle"></span> {{ 'REMOVE' | translate }} </a>
              </div>
           </div>
        </div>
        <div class="large-6 columns">
          <label>
            <div class="fa fa-phone"></div>
           {{ 'MY_PHONE' | translate }}
            <input  ng-model="editedProfile.phone" class="text-input" type='text' name="my_phone">
          </label>
        </div>
      </div>

     <h1><span class="fa fa-code-fork"></span> {{ 'MY_NETWORKS' | translate }}</h1>
      <div class="row">

         <div class="large-6 columns">
          <label>
            <div class="fa fa-facebook"></div>
            {{ 'MY_FACEBOOK' | translate }}
            <input  ng-model="editedProfile.facebook" class="text-input" type='text' name="my_facebook">
            <em>{{ 'EG' | translate }} https://www.facebook.com/asociaceux</em>
          </label>
        </div>

        <div class="large-6 columns">
          <label>
            <div class="fa fa-twitter"></div>
            {{ 'MY_TWITTER' | translate }}
            <input ng-model="editedProfile.twitter"  class="text-input" type='text' name="my_twitter">
            <em>{{ 'EG' | translate }} https://twitter.com/asociaceux</em>
          </label>
        </div>

      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            <div class="fa fa-linkedin"></div>
            {{ 'MY_LINKEDIN' | translate }}
            <input  ng-model="editedProfile.linkedin"  class="text-input" type='text' name="my_linkedin">
            <em>{{ 'EG' | translate }} https://www.linkedin.com/profile</em>
          </label>
        </div>

         <div class="large-6 columns">
          <label>
            <div class="fa fa-google-plus"></div>
            {{ 'MY_GOOGLEPLUS' | translate }}
            <input ng-model="editedProfile.googleplus"  class="text-input" type='text' name="my_googleplus">
            <em>{{ 'EG' | translate }} https://plus.google.com/profile</em>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            <div class="fa fa-globe"></div>
            {{ 'MY_WEB' | translate }}
            <div  ng-repeat="web in editedProfile.webs track by $index">
               <input  ng-model="editedProfile.webs[$index]"  class="text-input" type='text' name="my_web">
               <em>{{ 'EG' | translate }} https://www.myweb.com</em>
            </div>
            <a ng-click="addWeb()"><span class="fa fa-plus-circle"></span> {{ 'ADD' | translate }}</a>
          </label>
        </div>
      </div>


       <h1><span class="fa fa-heart"></span> {{ 'ABOUT_ME' | translate }}</h1>
       <div class="row">

       <div class="large-12 columns">
          <label>
            {{ 'MY_INTERESTS' | translate }}
            <input class="text-input" ng-model="editedProfile.interests" name="interests">
            <em>{{'MY_INTERESTS_EXAMPLE' | translate}}</em>
          </label>
        </div>
      </div>
      <div class="row">

        <div class="large-12 columns">
          <label>
            {{ 'MY_TELL_ABOUT' | translate }}
            <textarea placeholder="{{'MY_TELL_ABOUT_EXAMPLE' | translate}}"  ng-model="editedProfile.about" class="text-input" name="about"></textarea>
          </label>
        </div>
        
      </div>
   
      <div class="alert-box visible alert error round connect-bottom" ng-show="errorsProfile.base">{{ errorsProfile.base | translate }}</div>

    <!--
      <input type="text" ng-model="editedProfile.name" ng-class="{ 'text-input': true, 'top': true, 'error': profileErrors.errors.name }" placeholder="{{ 'YOUR_NAME' | translate }}" required>
      <textarea ng-model="editedProfile.about" ng-class="{ 'text-input': true, 'bottom': true, 'error': profileErrors.errors.about }" rows="6" placeholder="{{ 'ABOUT' | translate }}"></textarea>
      -->
      <div class="row">
        <div class="large-12 columns">
          <hr>
          <button type="button" ng-disabled="avatarUpload" class="default button" ng-click="cancelProfileEdit()">{{ 'CANCEL' | translate }}</button>
          <button type="submit" ng-disabled="avatarUpload" class="green button right" analytics-on analytics-event="same my description" analytics-category="My profile" analytics-value="5">{{ 'SAVE' | translate }}</button>
        </div>
      </div>
  </form>
 
  </div>
</div>

