<div class="profile-header">
    
    <div style="display:block; width:110px; height:100px; float:left;">
        <avatar source="profile.avatar" size="large" class="left photo" relation="profile.relation" style="margin-right:10px;" type="'User'"></avatar></div>
        
        <h1 ng-show="userNameEditable != true" class="username" style="display:inline-block;" ng-cloak>
            {{ profile.name }}
        </h1>

        <div ng-show="isMine" style="line-height:200%; font-size:small;">{{ profile.email }}</div>
        <div style="clear:both;" ng-include src="'templates/profileProgress.html'" ng-show="isMine"></div>

        <div ng-show="loggedUser._id && isMine && !profile.notification_disabled && progress<100" ng-click="startProfileEdit()" class="more-notification">
           <h1>{{'TELL_MORE_ABOUT' | translate}}</h1>
           <ul>
                <li ng-repeat="item in missingItems">
                    <span class="fa fa-check-circle"></span> {{ item | translate }}
                </li>
            </ul>
            <a title="{{'DONT_SHOW_ANYMORE' | translate}}" ng-click="disableMoreNotificaton($event)"><span class="fa fa-times"></span></a>
         </div>
        
        <div class="action">
            <button ng-show="loggedUser._id && isMine" type="button" class="button primary" id="nav-edit-profile" ng-click="startProfileEdit()" ng-cloak analytics-event="click on edit" analytics-category="Profile">
                <i class="fa fa-user"></i> {{ 'EDIT_PROFILE' | translate }}
            </button>
            <div ng-switch on="profile.relation == 'followee' || profile.relation == 'friend'" ng-hide="isMine || loggedCommunity._id || !loggedUser._id">
                <button ng-switch-when="true" type="button" class="small primary button" ng-click="follow(profile._id, true)" ng-init="dl = 'FOLLOWING_BUTTON_CAPTION'; l = dl" ng-mouseenter="dl = 'UNFOLLOW_BUTTON_CAPTION'" ng-mouseleave="dl = l">
                    <i class="hearthicon-follow"></i>&nbsp; {{ dl | translate }}
                </button>
                <button ng-switch-when="false" type="button" class="small primary button" ng-click="follow(profile._id, false)">
                    <i class="hearthicon-follow"></i>&nbsp; {{ 'FOLLOW_BUTTON_CAPTION' | translate }}
                </button>
            </div>
        </div>
        
        <div class="cleaner"></div>

    </div>

   <hr ng-show="profile.about">
    <div class="padding-2">
        <div ng-show="profile.about">{{profile.about}}</div>
        <div ng-show="profile.interests.length > 0 && profile.interests[0]">
            <h1 ng-show="isMine"> {{ 'MY_INTERESTS' | translate }}</h1>
            <h1 ng-hide="isMine"> {{ 'INTERESTS' | translate }}</h1>
            <div>{{profile.interests.join(', ')}}</div>
        </div>
        <div ng-show="profile.locations.length > 0 && profile.locations[0].name">
            <h1>{{ 'WHERE' | translate }}</h1>
            <div ng-repeat="location in profile.locations">
                {{location.name}}
            </div>
        </div>
        <div ng-show="profile.webs.length > 0 && profile.webs[0]">
            <h1>{{ 'MY_WEB' | translate }}</h1>
            <div ng-repeat="web in profile.webs track by $index">
                <a href="{{web}}" target="_blank">{{web}}</a>
            </div>
        </div>

        <div class="social" style="text-align: left;">
            <a href="{{profile.facebook}}" class="fa fa-facebook" ng-show="profile.facebook" target="_blank"></a>
            <a href="{{profile.twitter}}" class="fa fa-twitter" ng-show="profile.twitter" target="_blank"></a>
            <a href="{{profile.linkedin}}" class="fa fa-linkedin" ng-show="profile.linkedin" target="_blank"></a>
            <a href="{{profile.googleplus}}" class="fa fa-google-plus" ng-show="profile.googleplus" target="_blank"></a>
        </div>
    </div>

    <div class="follow-box" >
        <hr ng-show="(relations.friends.length || relations.followees.length || relations.followers.length) && showFollow">
        <div ng-show="relations.friends.length && showFollow">
            <h5>{{ 'FRIENDS_LABEL' | translate }}</h5>
            <ul>
                <li ng-repeat="friend in relations.friends">
                    <a ng-href="#/profile/{{ friend.userId }}" title="{{ friend.userFullname }}">
                        <avatar source="friend.userAvatar" size="follow" class="left photo" type="'User'"></avatar>
                    </a>
                </li>
            </ul>
            <div class="cleaner"></div>
        </div>

        <div ng-show="relations.followees.length && isMine && showFollow">

            <h5>{{ 'FOLLOWEES_LABEL' | translate }}</h5>
            <ul>
                <li ng-repeat="followee in relations.followees">
                    <a ng-href="#/profile/{{ followee.userId }}" title="{{ followee.userFullname }}">
                        <avatar source="followee.userAvatar" size="follow" class="left photo" type="'User'"></avatar>
                    </a>
                </li>
            </ul>
            <div class="cleaner"></div>
        </div>

        <div ng-show="relations.followers.length && isMine && showFollow">
            <h5>{{ 'FOLLOWERS_LABEL' | translate }}</h5>
            <ul>
                <li ng-repeat="follower in relations.followers">
                    <a ng-href="#/profile/{{ follower.userId }}" title="{{ follower.userFullname }}">
                        <avatar source="follower.userAvatar" size="follow" class="left photo" type="'User'"></avatar>
                    </a>
                </li>
            </ul>
            <div class="cleaner"></div>
        </div>

        <div ng-show="relations.mnaberOfCommunities.length">
            <h5>{{ 'MEMBER_OF_COMMUNITIES_LABEL' | translate }}</h5>
            <ul>
                <li ng-repeat="member in relations.memberOfCommunities">
                    <a ng-href="#/community/{{ member.userId }}" title="{{ member.userFullname }}">
                        <avatar source="member.userAvatar" size="follow" class="left photo" type="'Community'"></avatar>
                    </a>
                </li>
            </ul>
            <div class="cleaner"></div>
        </div>
    </div>
</div>
