<div class="row profile-edit">
  <div class="right-column small-12 large-5 columns push-7" ng-cloak>

    
    <div class="profile-header">
      <avatar source="avatar" size="large" class="avatar" type="'User'"></avatar>
      <h1 class="username" ng-show="userNameEditable != true" ng-cloak>{{ profile.name }}</h1>
      <div ng-show="isMine" style="line-height:200%; font-size:smaller;">{{ loggedUser.email }}</div>
    </div>
    

    <form name="profileavatarform" novalidate style="clear:both;">
      <span ng-include src="'templates/profileProgress.html'"></span>
      <!-- path is prefixed with $$config.apiPath -->
      <div file-upload-output class=""></div>
      <div file-upload file-upload-path="/users/{{ loggedUser._id }}/files" upload-name="'avatar'" on-file-upload-started="avatarUploadStarted()" on-file-upload-success="avatarUploadSucceeded($event)" on-file-upload-error="avatarUploadFailed()" style="width:200px; position:relative;">
           <button class="primary small button file-upload cursor-pointer" type="button">{{ 'CHOOSE_AVATAR_FILE' | translate}}</button>
      </div>
    </form>

    <div feature-enabled="deleteAccount " class="padding-2" ng-hide="relations.adminOfCommunities.length > 0">
      <a href="" class="right" analytics-on analytics-event="delete account clicked" analytics-category="My profile" analytics-value="0" ng-click="startProfileDelete(); scrollToTop();">
          <i class="fa fa-exclamation-triangle"></i>&nbsp;{{ 'DELETE_ACCOUNT_BUTTON_CAPTION' | translate }}
      </a>
    </div>
  </div>

  <div class="left-column small-12 large-7 columns pull-5 alt-bg">
   
  <form id="profileEditForm" name="profileEditForm" ng-submit="updateProfile()" with-errors novalidate>
      <h1><span class="fa fa-user"></span> {{ 'WHO' | translate }}</h1>
      <div class="row">
         <div class="large-6 columns">
          <label>
            {{ 'NAME' | translate }} *
            <input ng-model="editedProfile.name" class="text-input" type='text' ng-required="true">
          </label>
        </div>
        <div class="large-6 columns">
            <label>
              {{ 'MY_WORK' | translate }}
              <input ng-model="editedProfile.work"  class="text-input" type='text' name="my_work">
              <em>{{'MY_WORK_EXAMPLE' | translate}}</em>
            </label>
        </div>
      </div>

      <h1><span class="fa fa-map-marker"></span> {{ 'WHERE' | translate }}</h1>
      <locations locations="editedProfile.locations"></locations>

       <h1><span class="fa fa-comments"></span> {{ 'MY_LANGUAGES' | translate }}</h1>
      <div class="row languages">
        <div class="large-12 columns">
          <label ng-repeat="lang in languageList" ng-show="languageListDefault.indexOf(lang) &gt;-1 || editedProfile.user_languages[lang]">
            <input type="checkbox" ng-model="editedProfile.user_languages[lang]">
            {{ 'MY_LANG_' + lang.toUpperCase() | translate }}
          </label> 

          <label data-dropdown="language-drop" class="dropdown"><span class="fa fa-comments"></span> {{ 'OTHER_LANG' | translate }}</label>
          <ul id="language-drop" data-dropdown-content class="f-dropdown">
            <label ng-repeat="lang in languageList" ng-hide="languageListDefault.indexOf(lang) &gt;-1 || editedProfile.user_languages[lang]">
              <input type="checkbox" ng-model="editedProfile.user_languages[lang]">
              {{ 'MY_LANG_' + lang.toUpperCase() | translate }}
            </label>
          </ul>
        </div>
      </div>

      <h1><span class="fa fa-phone"></span> {{ 'CONTACTS' | translate }}</h1>
      <div class="row">
        <div class="large-6 columns">
          <label>
            {{ 'MY_EMAIL' | translate }}  *
            <input  ng-model="editedProfile.email" class="text-input" type='email' ng-required="true">
          </label>
           <a ng-click="showContactMail = true" ng-hide="showContactMail"><span class="fa fa-plus-circle"></span> {{ 'ADD' | translate }}</a>
           <div ng-show="showContactMail">
              <label>
                {{ 'MY_CONTACT_EMAIL' | translate }}
              <input ng-model="editedProfile.contact_email" class="text-input" type='email' ng-required="false">
               <em>{{ 'MY_CONTACT_EMAIL_EXAMPLE' | translate }}</em>
              </label>
              <div>
                <a ng-click="showContactMail = false; editedProfile.contact_email =''" ><span class="fa fa-minus-circle"></span> {{ 'REMOVE' | translate }} </a>
              </div>
           </div>
        </div>
        <div class="large-6 columns">
          <label>
            <div class="fa fa-phone"></div>
           {{ 'MY_PHONE' | translate }}
            <input  ng-model="editedProfile.phone" class="text-input" type="text" ng-pattern="/[+]?[()/0-9. -]{9,}/">
          </label>
        </div>
      </div>

     <h1><span class="fa fa-sitemap"></span> {{ 'MY_NETWORKS' | translate }}</h1>
      <div class="row">

         <div class="large-6 columns">
          <label>
            <div class="fa fa-facebook"></div>
            {{ 'MY_FACEBOOK' | translate }}
            <input  ng-model="editedProfile.facebook" class="text-input" type="url" ng-blur="updateUrl($event, editedProfile, 'facebook')">
            <em>{{ 'EG' | translate }} https://www.facebook.com/profile</em>
          </label>
        </div>

        <div class="large-6 columns">
          <label>
            <div class="fa fa-twitter"></div>
            {{ 'MY_TWITTER' | translate }}
            <input ng-model="editedProfile.twitter"  class="text-input" type="url" ng-blur="updateUrl($event, editedProfile, 'twitter')">
            <em>{{ 'EG' | translate }} https://twitter.com/profile</em>
          </label>
        </div>

      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            <div class="fa fa-linkedin"></div>
            {{ 'MY_LINKEDIN' | translate }}
            <input  ng-model="editedProfile.linkedin"  class="text-input" type="url" ng-blur="updateUrl($event, editedProfile, 'linkedin')">
            <em>{{ 'EG' | translate }} https://www.linkedin.com/profile</em>
          </label>
        </div>

         <div class="large-6 columns">
          <label>
            <div class="fa fa-google-plus"></div>
            {{ 'MY_GOOGLEPLUS' | translate }}
            <input ng-model="editedProfile.googleplus"  class="text-input" type="url" ng-blur="updateUrl($event, editedProfile, 'googleplus')">
            <em>{{ 'EG' | translate }} https://plus.google.com/profile</em>
          </label>
        </div>
      </div>

      <div class="row urls">
        <div class="large-6 columns">
          <label>
            <div class="fa fa-globe"></div>
            {{ 'MY_WEB' | translate }}
              <div class="row" ng-repeat="web in editedProfile.webs track by $index">
                 <div class="large-12 columns">
                  <input ng-model="editedProfile.webs[$index]" class="text-input" type="url" ng-required="!$first || editedProfile.webs.length > 1" ng-class="{top: $first && !$last, bottom:$last && !$first, middle: !($first || $last)}" ng-click="focusWebInput($event)" ng-blur="updateUrl($event, editedProfile.webs, $index)" />
                  <div class="remove" ng-hide="$first">
                    <span class="fa fa-times-circle" ng-click="editedProfile.webs.splice($index,1)"></span>
                  </div>
                 </div>
              </div>
            <div><em>{{ 'EG' | translate }} https://www.myweb.com</em></div>
            <a ng-click="addWeb()" ng-hide="editedProfile.webs.length > 0 && !editedProfile.webs[editedProfile.webs.length-1]">
              <span class="fa fa-plus-circle"></span> {{ 'ADD' | translate }}
            </a>
          </label>
        </div>
      </div>

       <h1><span class="fa fa-heart"></span> {{ 'ABOUT_ME' | translate }}</h1>
       <div class="row">

       <div class="large-12 columns">
          <label>
            {{ 'MY_INTERESTS' | translate }}
            <input class="text-input" type="text" ng-model="editedProfile.interests" monk-placeholder="MY_INTERESTS_EXAMPLE">
          </label>
        </div>
      </div>  
      <div class="row">

        <div class="large-12 columns">
          <label>
            {{ 'MY_TELL_ABOUT' | translate }}
            <div class="alert-box visible alert error round connect-bottom" ng-show="errorsProfile.base">{{ errorsProfile.base | translate }}</div>
            <textarea style="z-index:11;position:relative;" monk-placeholder="MY_TELL_ABOUT_EXAMPLE"  ng-model="editedProfile.about" class="text-input"></textarea>
          </label>
        </div>
        
      </div>
   
      <div class="row">
        <div class="large-12 columns">
          <hr>
          <a ng-disabled="avatarUpload" class="default " ng-click="cancelProfileEdit()">{{ 'CANCEL_CHANGES' | translate }}</a>
          <button type="submit" ng-disabled="avatarUpload || profileEditForm.$invalid" class=" primary right" analytics-on analytics-event="same my description" analytics-category="My profile" analytics-value="5" >{{ 'SAVE' | translate }}</button>
        </div>
      </div>
  </form>
 
  </div>
</div>

