===================== DEPRECATED =====================

<!-- <div class="profile" ng-controller="ListViewStateCtrl">

    <header class="right-column small-12 large-5 columns push-7 detail slide-in" ng-cloak ng-show="isReplyingAd()">
        <span ng-include="'templates/replyToAd.html'"></span>
    </header>

    <header class="right-column small-12 large-5 columns push-7" ng-cloak ng-show="!isReplyingAd() && !profileDeleting && !profileEditing && profile">
        <div ng-include src="'templates/profilePane.html'"></div>
    </header>

    <header class="right-column small-12 large-12 columns" ng-cloak ng-show="profileEditing == true">
        <span ng-include src="'templates/profileEdit.html'"></span>
    </header>

    <header class="right-column small-12 large-5 columns push-7" ng-cloak ng-show="profileDeleting == true" style="height:100%; z-index:1000;">
        <span ng-include src="'templates/profileDelete.html'"></span>
    </header>

    <div class="left-column small-12 large-7 columns pull-5 alt-bg" style="padding-bottom: 80em;" ng-hide="profileEditing == true">

        <div class="padding-h-2">
            <div class="row profile-links" ng-cloak>
                <div class="small-4 columns">
                    <a href="" ng-class="{ 'underliner': profilePageType == 'ads'}" ng-click="go('ads')" translate>WISHES_LINK</a>
                </div>
                <div class="small-4 columns">
                    <a href="" ng-class="{ 'underliner': profilePageType == 'feedback'}" ng-click="go('feedback')" translate>FEEDBACK_LINK</a>
                </div>
                <div class="small-4 columns hide-for-medium-up">
                    <a href="" ng-class="{ 'underliner': profilePageType == 'about'}" ng-click="go('about')" translate>ABOUT_LINK</a>
                </div>
            </div>
        </div>

        <div ng-show="profilePageType == 'ads'" ng-cloak ng-class="{ 'hide-for-small' : isReplyingAd() }"
             analytics-on analytics-event="click on Activities" analytics-category="Other profile" analytics-label="lists">
            <span ng-include="'templates/profileList.html'"></span>
        </div>

        <div ng-show="profilePageType == 'feedback'" ng-cloak
             analytics-on analytics-event="click on Ratings" analytics-category="Other profile" analytics-label="lists">
            <span ng-include="'templates/profileRatings.html'" ></span>
        </div>

        <div ng-show="profilePageType == 'about'" ng-cloak>
            <p ng-show="profile.about" class="padding-2">{{ profile.about }}</p>
        </div>
    </div>
</div>
 -->