<div class="row profile-edit">
  <div class="right-column small-12 large-5 columns push-7" ng-cloak>
    
    <div class="profile-header">
      <avatar source="avatar" size="large" class="avatar" type="'User'"></avatar>
      <h1 class="username" ng-show="userNameEditable != true" ng-cloak>{{ profile.name }}</h1>
      <div ng-show="isMine" style="line-height:200%; font-size:smaller;">{{ loggedUser.email }}</div>
    </div>
    

    <form name="profileavatarform" novalidate style="clear:both;">
      <span ng-include src="'templates/profileProgress.html'"></span>
      <!-- path is prefixed with $$config.apiPath -->
      <div file-upload-output class=""></div>
      <div file-upload file-upload-path="/users/{{ loggedUser._id }}/files" upload-name="'avatar'" on-file-upload-started="avatarUploadStarted()" on-file-upload-success="avatarUploadSucceeded($event)" on-file-upload-error="avatarUploadFailed()" style="width:200px; position:relative;">
           <button class="primary small button file-upload cursor-pointer" type="button">{{ 'CHOOSE_AVATAR_FILE' | translate}}</button>
      </div>
    </form>


    <div feature-enabled="deleteAccount" class="padding-2">
      <a href="" class="" analytics-on analytics-event="delete account clicked" analytics-category="My profile" analytics-value="0" ng-click="startProfileDelete(); scrollToTop();">
          <i class="fa fa-exclamation-triangle"></i>&nbsp;{{ 'DELETE_ACCOUNT_BUTTON_CAPTION' | translate }}
      </a>
    </div>
  </div>

  <div class="left-column small-12 large-7 columns pull-5 alt-bg">
   
  <form id="profileEditForm" name="profileEditForm" ng-submit="updateProfile()" with-errors novalidate>
      <h1><span class="fa fa-user"></span> {{ 'WHO' | translate }}</h1>
      <div class="row">
         <div class="large-6 columns">
          <label>
            {{ 'NAME' | translate }} *
            <input ng-model="editedProfile.name" class="text-input" type='text' required>
          </label>
        </div>
        <div class="large-6 columns">
            <label>
              {{ 'MY_WORK' | translate }}
              <input ng-model="editedProfile.work"  class="text-input" type='te xt' name="my_work">
              <em>{{'MY_WORK_EXAMPLE' | translate}}</em>
            </label>
        </div>
      </div>

      <h1><span class="fa fa-map-marker"></span> {{ 'WHERE' | translate }}</h1>

       <div class="locations">
        <div class="row" ng-repeat="location in editedProfile.locations track by $index">
          <div class="large-12 columns">
              <input placeholder="{{ 'MY_PLACE' | translate}}" ng-click="editLocation($index)" readonly  ng-model="editedProfile.locations[$index].name" class="text-input" ng-class="{top: $first && !$last, bottom:$last && !$first, middle: !($first || $last)}" type='text'>
          </div>
        </div>
        <location position="0,0" locations="editedProfile.locations"></location>
        <a ng-click="editedProfile.locations.push({name:''})"><span class="fa fa-plus-circle"></span> {{ 'ADD' | translate }}</a>
      </div>   

       <h1><span class="fa fa-comments"></span> {{ 'MY_LANGUAGES' | translate }}</h1>
      <div class="row languages">
        <div class="large-12 columns">
          <label><input type="checkbox" ng-model="editedProfile.user_languages.en" >{{ 'MY_LANG_EN' | translate }}</label> 
          <label><input type="checkbox" ng-model="editedProfile.user_languages.de" >{{ 'MY_LANG_DE' | translate }}</label> 
          <label><input type="checkbox" ng-model="editedProfile.user_languages.fr">{{ 'MY_LANG_FR' | translate }}</label> 
          <label><input type="checkbox" ng-model="editedProfile.user_languages.ru">{{ 'MY_LANG_RU' | translate }}</label> 
          <label><input type="checkbox" ng-model="editedProfile.user_languages.es">{{ 'MY_LANG_ES' | translate }}</label> 
          <label data-dropdown="language-drop" class="dropdown"><span class="fa fa-comments"></span> {{ 'OTHER_LANG' | translate }}</label>
          <ul id="language-drop" data-dropdown-content class="f-dropdown">
            <li><label><input type="checkbox" ng-model="editedProfile.user_languages.cs">{{ 'MY_LANG_CS' | translate }}</label></li>
            <li><label><input type="checkbox" ng-model="editedProfile.user_languages.pt">{{ 'MY_LANG_PT' | translate }}</label></li>
            <li><label><input type="checkbox" ng-model="editedProfile.user_languages.ja">{{ 'MY_LANG_JA' | translate }}</label></li>
            <li><label><input type="checkbox" ng-model="editedProfile.user_languages.tr">{{ 'MY_LANG_TR' | translate }}</label></li>
            <li><label><input type="checkbox" ng-model="editedProfile.user_languages.it">{{ 'MY_LANG_IT' | translate }}</label></li>
            <li><label><input type="checkbox" ng-model="editedProfile.user_languages.uk">{{ 'MY_LANG_UK' | translate }}</label></li>
          </ul>
        </div>
      </div>

      <h1><span class="fa fa-phone"></span> {{ 'CONTACTS' | translate }}</h1>
      <div class="row">
        <div class="large-6 columns">
          <label>
            {{ 'MY_EMAIL' | translate }}  *
            <input  ng-model="editedProfile.email" class="text-input" type='email' required>
          </label>
           <a ng-click="showContactMail = true" ng-hide="showContactMail"><span class="fa fa-plus-circle"></span> {{ 'ADD' | translate }}</a>
           <div ng-show="showContactMail">
              <label>
                {{ 'MY_CONTACT_EMAIL' | translate }}
              <input ng-model="editedProfile.contact_email" class="text-input" type='email' ng-required="false">
               <em>{{ 'MY_CONTACT_EMAIL_EXAMPLE' | translate }}</em>
              </label>
              <div>
                <a ng-click="showContactMail = false; editedProfile.contact_email =''" ><span class="fa fa-minus-circle"></span> {{ 'REMOVE' | translate }} </a>
              </div>
           </div>
        </div>
        <div class="large-6 columns">
          <label>
            <div class="fa fa-phone"></div>
           {{ 'MY_PHONE' | translate }}
            <input  ng-model="editedProfile.phone" class="text-input" type="text" ng-pattern="/[+]?[()/0-9. -]{9,}/">
          </label>
        </div>
      </div>

     <h1><span class="fa fa-sitemap"></span> {{ 'MY_NETWORKS' | translate }}</h1>
      <div class="row">

         <div class="large-6 columns">
          <label>
            <div class="fa fa-facebook"></div>
            {{ 'MY_FACEBOOK' | translate }}
            <input  ng-model="editedProfile.facebook" class="text-input" type="url">
            <em>{{ 'EG' | translate }} https://www.facebook.com/asociaceux</em>
          </label>
        </div>

        <div class="large-6 columns">
          <label>
            <div class="fa fa-twitter"></div>
            {{ 'MY_TWITTER' | translate }}
            <input ng-model="editedProfile.twitter"  class="text-input" type="url">
            <em>{{ 'EG' | translate }} https://twitter.com/asociaceux</em>
          </label>
        </div>

      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            <div class="fa fa-linkedin"></div>
            {{ 'MY_LINKEDIN' | translate }}
            <input  ng-model="editedProfile.linkedin"  class="text-input" type="url">
            <em>{{ 'EG' | translate }} https://www.linkedin.com/profile</em>
          </label>
        </div>

         <div class="large-6 columns">
          <label>
            <div class="fa fa-google-plus"></div>
            {{ 'MY_GOOGLEPLUS' | translate }}
            <input ng-model="editedProfile.googleplus"  class="text-input" type="url">
            <em>{{ 'EG' | translate }} https://plus.google.com/profile</em>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            <div class="fa fa-globe"></div>
            {{ 'MY_WEB' | translate }}
               <input ng-repeat="web in editedProfile.webs track by $index" ng-model="editedProfile.webs[$index]"  class="text-input" type="url" ng-class="{top: $first && !$last, bottom:$last && !$first, middle: !($first || $last)}">

            <div><em>{{ 'EG' | translate }} https://www.myweb.com</em></div>
            <a ng-click="editedProfile.webs.push('')"><span class="fa fa-plus-circle"></span> {{ 'ADD' | translate }}</a>
          </label>
        </div>
      </div>


       <h1><span class="fa fa-heart"></span> {{ 'ABOUT_ME' | translate }}</h1>
       <div class="row">

       <div class="large-12 columns">
          <label>
            {{ 'MY_INTERESTS' | translate }}
            <input class="text-input" type="text" ng-model="editedProfile.interests">
            <em>{{'MY_INTERESTS_EXAMPLE' | translate}}</em>
          </label>
        </div>
      </div>  
      <div class="row">

        <div class="large-12 columns">
          <label>
            {{ 'MY_TELL_ABOUT' | translate }}
            <textarea placeholder="{{'MY_TELL_ABOUT_EXAMPLE' | translate}}"  ng-model="editedProfile.about" class="text-input"></textarea>
          </label>
        </div>
        
      </div>
   
      <div class="alert-box visible alert error round connect-bottom" ng-show="errorsProfile.base">{{ errorsProfile.base | translate }}</div>

      <div class="row">
        <div class="large-12 columns">
          <hr>
          <a ng-disabled="avatarUpload" class="default " ng-click="cancelProfileEdit()">{{ 'CANCEL' | translate }}</a>
          <button type="submit" ng-disabled="avatarUpload || profileEditForm.$invalid" class=" primary right" analytics-on analytics-event="same my description" analytics-category="My profile" analytics-value="5" >{{ 'SAVE' | translate }}</button>
        </div>
      </div>
  </form>
 
  </div>
</div>

