<span class="social">
	<a class="fa fa-facebook" title="Facebook" href="{{facebook}}&p[title]={{title}}" target="_blank"></a>
	<a class="fa fa-facebook" title="Facebook" href="http://www.facebook.com/sharer.php?s=100&p[title]={{item.title}}&p[url]={{item.url}}}&p[summary]={{item.name}}" target="_blank"></a>

	
    
	<a class="fa fa-google-plus" title="Google+" href="{{gplus}}" target="_blank"></a>
	<a class="fa fa-twitter" title="Twitter" href="{{twitter}}" target="_blank"></a>
	<a class="fa fa-linkedin" title="LinkedIn" href="{{linkedin}}" target="_blank"></a>
</span>
