<div>	
	<div ng-cloak style="position:relative;">
		<address-autocomplete style="padding-left:40px; margin-bottom:0; position:relative;" connections="right" placeholders="'LOCATION_INPUT_PLACEHOLDER'" location="location" on-empty="emptyFocusFn()"></address-autocomplete>
		<a href="" class="fa fa-map-marker" ng-click="autodetectMyLocation()" style="position:absolute; left:15px; top:13px;"></a>
		<button type="button" ng-click="search()" class="primary button prefix round connect-left" id="user-location-save"  style="width:10%; position:absolute; right:0px; top:0px;padding-left: 18px;" analytics-on analytics-event="saving specific location" analytics-category="Locations">
			<i class="fa fa-search"></i>
		</button>
	</div>
</div>