<div class="large-7 columns">
<p><strong>Prináša ti Hearth radosť?</strong> Spoznávaš tu fajn ľudí? Budeme štastní, ak sa k nám pridáš a pomôžeš ďaľším ľuďom otvoriť svoje srdce.</p>

<p>Hearth je pre všetkých <strong>zdarma a bez reklám</strong>. Je to možné vďaka finančnej podpore Libora Malého a bude to možné, keď sa k nám pridáš aj Ty!</p>

</div>
<div class="large-5 columns hide-for-small">
	<img src="/app/assets/img/banner/corner-crowdsource.png" class="right"/>
</div>

<div class="large-12 columns i-want">
	<div class="large-3 columns center text-center">
		<img src="/app/assets/img/banner/crowdsource1.jpg" width="130" height="130" class="round"/>
	</div>
	<div class="large-9 columns">
		<h3>Prispej finančne</h3>
		<p>Jednorázovo, opakovane, alebo pravideľne v akejkoľvek výške, ktorú si určíš. Dobro nie je možné prepočítavať na eurá, no aj napriek tomu vieme, že každý dar pre Hearth má veľkú hodnotu.</p>
		<a class="button give-money text-center" ng-click="openModal('support-us-modal-pay');">Darujem pre Hearth</a>
	</div>
</div>

<hr />

<div class="large-12 columns i-want">
	<div class="large-3 columns center text-center">
		<img src="/app/assets/img/banner/crowdsource2.jpg" width="130" height="130" class="round"/>
	</div>
	<div class="large-9 columns">
		<h3>Vytváraj s nami</h3>
		<p>Pokiaľ sa vyznáš v týchto šifrách:  Ruby, AngularJS, NoSQL MongoDB, Docker, Redis a Heroku a chceš nám dať hoc aj pár hodín svojho času a skúseností, radi ťa privítame v našom tíme.</p>
		<a class="button write-email" ng-click="openModal('support-us-modal-write-us');">Idem na to</a>
	</div>
</div>

<hr />

<div class="large-12 columns i-want">
	<div class="large-3 columns center text-center">
		<img src="/app/assets/img/banner/crowdsource3.jpg" width="130" height="130" class="round"/>
	</div>
	<div class="large-9 columns">
		<h3>Daj o nás vedieť</h3>
		<div ng-include="'support-us-endorse'">
	</div>
</div>

<div style="clear: both;" class="large-12 columns text-center">
	<br><br>
	<strong>Ďakujem, že spolu s nami robíš svet zase o kúsok lepším a láskavejším. </strong></p>
	<p>Tvoj Hearth.net</p>
</div>








<!--- modals ------>
<script type="text/ng-template" id="support-us-modal-widget">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Pridaj logo na svoju stránku' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate>
			<p>Skopíruj uvedený HTML kód a vlož ho na svoj web. <a href="feedback">Pre viac informácií nás kontaktuj.</a></p>

				<div class="small-12 large-5 columns">
					<a href='https://www.hearth.net/' target='_blank'>
						<img src="{{ config.imgUrl }}/logo-dark.png" width="200" style="padding:10px;">
					</a>
				</div>
				<div class="small-12 large-7 columns block">
					<textarea onclick="this.focus();this.select()" readonly="readonly">{{ getLogo(0); }}</textarea>
				</div>

				<div class="small-12 large-5 columns">
					<a href='https://www.hearth.net/' target='_blank'>
						<img src="{{ config.imgUrl }}/logo-orange.png" width="200">
					</a>
				</div>
				<div class="small-12 large-7 columns block">
					<textarea onclick="this.focus();this.select()" readonly="readonly">{{ getLogo(1); }}</textarea>
				</div>

				<div class="small-12 large-5 columns">
					<a href='https://www.hearth.net/' target='_blank'>
						<img src="{{ config.imgUrl }}/logo.png" style="background:#7c766a; padding:10px;" width="200">
					</a>
				</div>
				<div class="small-12 large-7 columns block">
					<textarea onclick="this.focus();this.select()" readonly="readonly">{{ getLogo(2); }}</textarea>
				</div>

				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()" translate="COMMON.ACTION_CLOSE"></a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>


<script type="text/ng-template" id="support-us-modal-print">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Vytlač si leták' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate autofocus>
				<div class="small-12 large-4 columns text-center">
					<a href="https://s3-eu-west-1.amazonaws.com/hearth-net-topmonks-production-ugc/static/cs/O_Hearth.net_A4.pdf" target="_blank">
						<b>A4</b>
						<br><br>
						<i class="fa fa-file-pdf-o" style="font-size:50px;"></i>
						<br><br>
						PDF, 550 kB
						<br><br>
					</a>
				</div>
				<div class="small-12 large-4 columns text-center">
					<a href="https://s3-eu-west-1.amazonaws.com/hearth-net-topmonks-production-ugc/static/cs/O_Hearth.net_A5.pdf" target="_blank">
						<b>A5</b>
						<br><br>
						<i class="fa fa-file-pdf-o" style="font-size:50px;"></i>
						<br><br>
						PDF, 500 kB
						<br><br>
					</a>
				</div>
				<div class="small-12 large-4 columns text-center">
					<a href="https://s3-eu-west-1.amazonaws.com/hearth-net-topmonks-production-ugc/static/cs/O_Hearth.net_A6.pdf" target="_blank">
						<b>A6</b>
						<br><br>
						<i class="fa fa-file-pdf-o" style="font-size:50px;"></i>
						<br><br>
						PDF, 160 kB
						<br><br>
					</a>
				</div>
				<div class="small-12 columns">&nbsp;</div>
				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()" translate="COMMON.ACTION_CLOSE"></a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>

<script type="text/ng-template" id="support-us-modal-endorse" ng-init="modalInit('support-us-modal-endorse')">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>Dej o nás vědět</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>
		<div ng-include="'support-us-endorse'"></div>
		<div class="clear"></div>
		<div class="display-flex flex-space-between margin-top-medium">
			<a ng-click="closeThisDialog()" translate="COMMON.ACTION_CLOSE"></a>
		</div>
	</div>
</script>

<script type="text/ng-template" id="support-us-endorse">
	<p>Ak máš možnosť predstaviť štedrú sociálnu sieť ľuďom okolo seba a pozvať ich do Hearth.net, radi ti s tým pomôžeme. Na začiatok máme tri možnosti. Vyber si, ktorou začneš.</p>
	<div class="i-want-more">
		<div class="large-4 columns">
			<div class="panel print-flyer">
				<h3 class="xinverse">Vytlač si leták</h3>
				<p style="position:relative;top:-55px;margin-bottom:-22px;">(len po česky)</p>
				<img src="/app/assets/img/icons/print.svg"/>
				<a href="" ng-click="openModal('support-us-modal-print');" class="button">Vyvesím leták</a>
				<br style="clear:both">
			</div>
		</div>
		<div class="large-4 columns">
			<div class="panel get-widget">
				<h3>Pridaj logo na svoju stránku</h3>
				<img src="/app/assets/img/icons/window2.svg"/>
				<a href="" ng-click="openModal('support-us-modal-widget');" class="button">Stiahnem logo</a>
				<br style="clear:both">
			</div>
		</div>
		<div class="large-4 columns">
			<div class="panel get-badge">
				<h3 class="xinverse">Napíš si o placky a samolepky</h3>
				<img src="/app/assets/img/icons/hearth.svg"/>
				<a href="" ng-click="openModal('support-us-modal-badge');" class="button">Chcem&nbsp;placky</a>
				<br style="clear:both">
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="support-us-modal-badge">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Napíš si o placky a samolepky' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div ng-show="!addressDataEmailSent">
			<form ng-submit="submitEmailWithPostalData()" id="" name="sendEmailWithPostalData" class="invite-form row" novalidate autofocus>
				<p>Vďaka, že Hearthu pomáhaš šíriť radosť ďalej.</p>

				<div class="small-12 large-3 columns">
					<label for="type">{{'Čo chcem:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns block">
					<div class="flex flex-divided-large flex-wrap">
						<div class="flex flex-divided-large">
							<checkbox model="postalAddressData.badges">Placky</checkbox>
							<input type="number" ng-model="postalAddressData.numBadges" name="num-badges" class="display-inline-block" />
						</div>
						<div class="flex flex-divided-large">
							<!-- <span class="display-inline-block" style="width:25px;"></span> -->
							<checkbox model="postalAddressData.stickers">Samolepky</checkbox>
							<input type="number" ng-model="postalAddressData.numStickers" name="num-stickers" class="display-inline-block" />
						</div>
					</div>
				</div>
				<div></div>

				<div class="small-12 large-3 columns">
					<label for="email">{{'Email:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns block">
					<input id="email" type="email"  ng-model="postalAddressData.email" name="email" class="form-control text-input top" required ng-required="true" placeholder="Email" ng-pattern="emailPattern"/>
				</div>

				<div class="small-12 large-12 columns">&nbsp;</div>

				<div class="small-12 large-3 columns">
					<label for="fullname">{{'Meno, priezvisko:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns block">
					<input id="fullname" type="text" name="fullname" ng-model="postalAddressData.fullName" class="form-control text-input top" placeholder="Meno"/>
				</div>

				<div class="small-12 large-3 columns">
					<label for="street">{{'Ulica, číslo:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns block">
					<input id="street" type="text" name="street" ng-model="postalAddressData.street" class="form-control text-input top" placeholder="Ulica"/>
				</div>

				<div class="small-12 large-3 columns">
					<label for="city">{{'Mesto:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns block">
					<input id="city" type="text" name="city" ng-model="postalAddressData.city" class="form-control text-input top" placeholder="Mesto"/>
				</div>

				<div class="small-12 large-3 columns">
					<label for="psc">{{'PSČ:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns block">
					<input id="psc" type="text" name="psc" ng-model="postalAddressData.psc" class="form-control text-input top" placeholder="PSČ"/>
				</div>

				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()" translate="COMMON.ACTION_CLOSE"></a>
					<button type="submit" class="button" ng-disabled="sendEmailWithPostalData.$invalid" translate="COMMON.ACTION_SUBMIT"></button>
				</div>
			</form>
		</div>
		<div ng-show="addressDataEmailSent">
			<p class="success">Vďaka za záujem. V priebehu niekoľkých dní sa môžeš tešiť na balíček.</p>
			<div class="display-flex flex-space-between margin-top-medium">
				<a ng-click="closeThisDialog()" translate="COMMON.ACTION_CLOSE"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</script>


<script type="text/ng-template" id="support-us-modal-write-us" ng-init="modalInit('support-us-modal-write-us')">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Vytváraj s nami' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div ng-show="!contactDataEmailSent">
			<form ng-submit="submitEmailWithContactData()" id="" name="sendEmailWithContactData" class="invite-form" novalidate autofocus>
				<p>Skvelé, vyzerá to tak, že sa čoskoro uvidíme. Napíš nám, prosím, pár riadkov o tom, čo dokážeš. Frontend, backend, UX…? Pridaj aj zopár projektov, na ktorých pracuješ, alebo máš za sebou. A taktiež kontakt a my sa ti obratom ozveme.</p>
				<div class="block row">
					<div class="small-12 large-3 columns">
						<label for="message-text">{{'Môžem darovať:' | translate}}</label>
					</div>
					<div class="small-12 large-9 columns block">
						<textarea id="message-text" name="text" class="form-control text-input top" required placeholder="" ng-model="contactData.text"/>
					</div>
				</div>

				<div class="block row">
					<div class="small-12 large-3 columns">
						<label for="email">{{'E-mail na mňa:' | translate}}</label>
					</div>
					<div class="small-12 large-9 columns block">
						<input id="email" type="email" name="email" class="form-control text-input top" required ng-required="true" placeholder="" ng-model="contactData.email" ng-pattern="emailPattern" />
					</div>
				</div>

				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()" translate="COMMON.ACTION_CLOSE"></a>
					<button type="submit" class="button button-send" ng-disabled="sendEmailWithContactData.$invalid" translate="COMMON.ACTION_SUBMIT"></button>
				</div>
			</form>
		</div>
		<div ng-show="contactDataEmailSent">
			<p class="success">Vďaka za záujem, čoskoro sa Ti ozveme na uvedený e-mail.</p>
			<div class="display-flex flex-space-between margin-top-medium">
				<a ng-click="closeThisDialog()" translate="COMMON.ACTION_CLOSE"></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</script>

<script type="text/ng-template" id="support-us-modal-pay" ng-init="modalInit('support-us-modal-pay')">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Prispej finančne' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>
		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate autofocus>
				<p>Ďakujeme za tvoje rozhodnutie a vítame ťa u nášho krbu.</p>
				<div>
					<iframe style="width: 400px; height: 300px; display:block; margin:0 auto; overflow: hidden; border-style: none;" src="https://www.darujme.cz/dar/widgets/widget.php?widget=930" height="250"></iframe>
				</div>
				<div>
					<p class="text-center">Transparentný účet u FIO Banka a.s. číslo <a href="https://www.fio.cz/ib2/transparent?a=2600332809" target="_blank">2600332809 / 2010</a></p>
				</div>
				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()" translate="COMMON.ACTION_CLOSE"></a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>
