<div class="footer-item-bordered" id="comments">
  <div ng-if="vm.showMoreCommentsLink" class="footer-item background-light-gray">
    <a ng-href="{{:: $root.getProfileLink('Post', vm.postId) + '#comments' }}" translate="POST.COMMENTS.ACTION_VIEW_ALL" class="color-primary"></a>
  </div>
  <div ng-repeat="item in vm.model" class="footer-item background-light-gray" id="comment-{{ item._id }}">
    <div class="medium-flex flex-space-between">
      <div class="flex flex-divided-medium margin-right-tiny flex-align-start">
        <avatar src="item.user.avatar.normal" size="small"></avatar>
        <div class="flex-grid flex-column">
          <div class="margin-bottom-tiny margin-left-none">
            <span class="text-emphasize" ng-bind="item.user.name"></span> · 
            <span class="color-dark-gray text-small" ng-bind="item.created_at_timeago"></span>
          </div>
          
          <div class="text-container word-wrap margin-left-none">
              <p class="margin-none" ng-if="item.text.length < 270 || vm.expanded == true" ng-bind-html=":: item.text_parsed"></p>
              <p class="margin-none" ng-if="item.text.length >= 270 && !vm.expanded">
                <span ng-bind-html=":: item.text_short_parsed"></span>
                <a ng-click="vm.expanded = true;" class="color-primary" translate="POST.ACTION_SHOW_MORE"></a>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <form name="postCommentForm" ng-submit="vm.submit(vm.message)" class="footer-item background-light-gray">
    <div class="block margin-bottom-small flex flex-divided-medium flex-align-start">
      <avatar src="vm.loggedUser.avatar.normal" size="small"></avatar>
      <div style="width:100%;">
        <textarea class="textarea-one-line margin-bottom-tiny margin-top-tiny"
          comments-focusser autosize-textarea ctrl-enter-submit 
          ng-focus="vm.submitShown = true; vm.showError = false" 
          ng-blur="vm.showError = true" 
          ng-model="vm.message" 
          ng-maxlength="500" ng-minlength="2"
          translate-attr=":: {placeholder: item.user._id === vm.loggedUser._id ? 'POST.COMMENT.YOUR_ANSWER' : 'POST.COMMENT.YOUR_COMMENT'}">s
        </textarea>
        <div class="error margin-top-small margin-bottom-small" ng-show="postCommentForm.$invalid && vm.showError">
          <span ng-show="postCommentForm.$error.maxlength" translate="COMMON.NOTIFY.ERROR_TEXT_TOO_LONG"></span>
        </div>
        <button type="submit" class="button">
          <span translate="COMMON.ACTION_SUBMIT"></span>
          <i class="fa fa-fw margin-left-tiny" ng-class="{'fa-spinner fa-spin': vm.sending, 'fa-check': vm.success, 'fa-times': vm.error, 'fa-send': !(vm.sending || vm.success || vm.error)}"></i>
        </button>
      </div>
    </div>

  </div>
</div>