<div class="invite-box formStyle itemEdit modal">
	<div class="head">
		<h2>{{:: 'INVITE_YOUR_FRIENDS_TO_HEARTH' | translate }}
			<span ng-if="showEmailForm">- {{:: 'INVITE_EMAIL' | translate }}</span>
		</h2>
		<span ng-click="close()" class="close fa fa-times"></span>
		<hr />
	</div>

	<div class="social" ng-if="!showEmailForm">
		<ul>
			<li>
				<a ng-click="fbInvite()">
					<i class="fa fa-facebook"></i> {{:: 'INVITE_FACEBOOK' | translate }}
				</a>
			</li>
			<li>
				<a target="_blank" ng-href="{{endpoints.twitter + url}}">
					<i class="fa fa-twitter"></i> {{:: 'INVITE_TWITTER' | translate }}
				</a>
			</li>
			<li>
				<a target="_blank" ng-href="{{endpoints.gplus + url}}">
					<i class="fa fa-google"></i> {{:: 'INVITE_GOOGLE' | translate }}
				</a>
			</li>
			<li>
				<a target="_blank" ng-href="{{endpoints.linkedin + urlLinkedin}}">
					<i class="fa fa-linkedin"></i> {{:: 'INVITE_LINKEDIN' | translate }}
				</a>
			</li>
			<li>
				<a ng-click="toggleEmailForm()">
					<i class="fa fa-envelope"></i> {{:: 'INVITE_EMAIL' | translate }}
				</a>
			</li>
		</ul>
	</div>
	<div ng-show="showEmailForm">
		<form ng-submit="sendEmailInvitation(inv)" id="inviteForm" name="inviteForm" class="emailForm invite-form" novalidate>
			<div>
				<label>{{:: 'PROFILE.INVITATION.ADDRESSES' | translate }}</label>
				<tags-input name="to_email" ng-model="inv.to_email" placeholder="{{'INVITATION_EMAILS_PLACEHOLDER' | translate }}" replace-spaces-with-dashes="false" add-on-comma="true" add-on-space="false" type="email" min-tags="1" ng-focus="showError.to_email = false"
				ng-blur="showError.to_email = true" ng-required="required" allowed-tags-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"></tags-input>
				<div class="error" ng-show="showError.to_email">
					<span ng-show="inviteForm.to_email.$error.minTags">{{:: 'ERR_NOT_FILLED_INVITE_ADDRS' | translate }}</span>
					<span ng-show="inviteForm.to_email.$error.format">{{:: 'ERR_INVITE_EMAIL_INVALID' | translate }}</span>
				</div>
			</div>
			<div>
				<label>{{:: 'PROFILE.INVITATION.MESSAGE' | translate }}</label>
				<input-max-length input-type="textarea" show-counter="true" min-length="3" max-length="300" required="true" placeholder="{{'WRITE_INVITATION_BY_EMAIL_TO_YOUR_FRIENDS' | translate }}" model="inv.message" name="message"></input-max-length>
				<div class="error" ng-show="showError.message">
					<span ng-show="inviteForm.message.$error.required">{{:: 'ERR_NOT_FILLED_INVITE_TEXT' | translate }}</span>
				</div>
			</div>

			<div class="bottom clearfix">
				<a ng-click="toggleEmailForm()" class="fleft close"> {{ 'CLOSE' | translate }} </a>
				<button class="primary button-send fright pointer" type="submit" analytics-custom analytics-event="send email invitation" analytics-category="General" analytics-value="1">{{:: 'PROFILE.INVITATION.SEND_EMAIL_INVITATION' | translate }}</button>
			</div>
		</form>
		<div class="invite-form success hidden">
			<h3>{{:: 'FRIEND_INVITATION' | translate }}</h3>
			<span>{{:: 'SEND_INVITE_SUCCESS' | translate }}</span>
			<br />
			<br />
			<button class="primary button-send fright pointer" ng-click="closeThisDialog()" translate>CLOSE</button>
		</div>
	</div>
	<div class="clear"></div>
	<div class="invite-box-notify"></div>
</div>