<div class="itemReport itemEdit modal">
    <div class="head">
        <h2>
            {{ 'POST_REPORT.HEADING' | translate}}
        </h2>
        <span ng-click="closeThisDialog()" class="close fa fa-times"></span>
    </div>
    <hr />
    <form ng-submit="sendReport()" name="reportForm" novalidate class="report-ad">
        <div class="notify-report-container"></div>
        <div>
            <span ng-bind-html="'POST_REPORT.REPORT_INFO' | translate"></span>
            <textarea autosize-textarea required ng-focus="showErrors.message = false" ng-blur="showErrors.message = true" placeholder="{{ 'POST_REPORT.REASON_PLACEHOLDER' | translate }}" ng-minlength="3" ng-maxlength="2500" ng-model="message" name="message" ng-keydown="escapeKey($event)" class="report-reason-textarea text-input middle"></textarea>
            <div class="moveUp error" ng-show="showErrors.message">
                <span ng-show="reportForm.message.$error.required">{{ 'ERR_AD_TEXT_MIN_LEN' | translate }}</span>
                <span ng-show="reportForm.message.$error.minlength">{{ 'ERR_AD_TEXT_MIN_LEN' | translate }}</span>
                <span ng-show="reportForm.message.$error.maxlength">{{ 'ERR_AD_TEXT_LEN' | translate }}</span>
            </div>
            <hr />
            <div class="bottom">
                <a href="" ng-click="closeThisDialog()" class="fleft close">
                    {{ 'CLOSE' | translate }}
                </a>
                <button class="primary button-send fright pointer" type="submit" translate>REPORT</button>
            </div>
        </div>
    </form>
    <div class="report-ad success success-msg hidden">
        <p>{{ 'POST_REPORT.SUCCESS_MESSAGE' | translate }}</p>
        <button class="primary button-send fright pointer" ng-click="closeThisDialog()" translate>CLOSE</button>
    </div>
</div>