<div class="itemReply itemEdit modal">
    <div class="head">
        <h2>
            <span ng-if="post.type =='offer'" ng-bind-html="'WISH_GIFT' | translate"></span>
            <span ng-if="post.type == 'need'" ng-bind-html="'OFFER_GIFT' | translate"></span>
        </h2>
        <span ng-click="closeThisDialog()" class="close fa fa-times"></span>
    </div>
    <hr />
    <form ng-submit="save()" name="replyForm" novalidate class="reply-ad">
        <div>
            <textarea required placeholder="{{ 'AD_REPLY_PLACEHOLDER' | translate }}" ng-minlength="3" ng-maxlength="2500" ng-model="reply.text" name="text" ng-class="{ 'offset-text focused top': isCreatingAd() || isEditingAd()}" ng-keydown="escapeKey($event)" ng-focus="" ng-cloak class="reply-ad-textarea text-input middle"></textarea>
            <div class="moveUp error" ng-show="replyForm.text.$dirty && replyForm.text.$invalid && showErrors">
                <span ng-show="replyForm.text.$error.required">{{ 'ERR_AD_TEXT_MIN_LEN' | translate }}</span>
                <span ng-show="replyForm.text.$error.minlength">{{ 'ERR_AD_TEXT_MIN_LEN' | translate }}</span>
                <span ng-show="replyForm.text.$error.maxlength">{{ 'ERR_AD_TEXT_LEN' | translate }}</span>
            </div>
            <div class="mail">
                <checkbox model="reply.agree" on-update="toggleMail()" value="true">{{ 'REPLY_PUBLISH_EMAIL_AGREE' | translate:translationData }}</checkbox>
            </div>
            <hr />
            <div class="bottom">
                <a href="" ng-click="closeThisDialog()" class="fleft close">
                    {{ 'CLOSE' | translate }}
                </a>
                <button class="primary button fright pointer" type="submit" analytics-event="click on send" ng-click="sendReply()" analytics-category="Add" analytics-label="NP" translate>SUBMIT</button>
            </div>
        </div>
    </form>
</div>