<div class="itemReply formStyle modal">
	<div class="head">
		<div class="display-flex flex-space-between">
			<h2>
				<span ng-if="post.type =='offer'" ng-bind-html=":: 'WISH_GIFT' | translate"></span>
				<span ng-if="post.type == 'need'" ng-bind-html=":: 'OFFER_GIFT' | translate"></span>
			</h2>
			<span ng-click="close()" class="fa fa-times" tabindex="0"></span>
		</div>
		<hr />
	</div>
	<form ng-submit="sendReply()" name="replyForm" novalidate class="reply-ad">
		<div class="notify-reply-container"></div>
		<div>
			<div class="form-section">
				<author-selector id="author" author-id="reply.current_community_id" remove="post.author._id"></author-selector>
			</div>
			<div class="form-section">
				<label class="display-block">
					<textarea autosize-textarea required autofocus ng-focus="showErrors.message = false" ng-blur="showErrors.message = true" ng-attr-placeholder="{{:: 'AD_REPLY_PLACEHOLDER' | translate }}" ng-minlength="3" ng-maxlength="2500" ng-model="reply.message" name="message"
					ng-class="{ 'offset-text focused top': isCreatingAd() || isEditingAd()}" ng-keydown="escapeKey($event)" ng-cloak class="reply-ad-textarea text-input middle"></textarea>
				</label>
				<div class="error" ng-show="showErrors.message && replyForm.$dirty">
					<span ng-show="replyForm.message.$error.required">{{:: 'ERR_AD_TEXT_MIN_LEN' | translate }}</span>
					<span ng-show="replyForm.message.$error.minlength">{{:: 'ERR_AD_TEXT_MIN_LEN' | translate }}</span>
					<span ng-show="replyForm.message.$error.maxlength">{{:: 'ERR_AD_TEXT_LEN' | translate }}</span>
				</div>
				<div class="error" ng-show="! reply.agreed && showErrors.agreed">
					<span ng-show="! reply.agreed">{{:: 'ERR_AD_REPLY_NOT_AGREE' | translate }}</span>
				</div>
			</div>
			<div class="bottom display-flex flex-reverse flex-space-between">
				<button class="button-send" type="submit" analytics-event="click on send" analytics-category="Add" analytics-label="NP">{{:: 'SUBMIT' | translate }}</button>
				<a ng-click="close()" tabindex="0">{{:: 'CLOSE' | translate }}</a>
			</div>
		</div>
	</form>
	<div class="reply-ad success success-msg hidden">
		<p>{{:: 'SEND_REPLY_SUCCESS' | translate }}</p>
		<section class="bottom display-flex flex-reverse flex-space-between">
			<button class="button-send" ng-click="close()">{{:: 'CLOSE' | translate }}</button>
		</section>
	</div>
</div>