<div class="itemEdit modal">
    <div class="head">
        <h2 class="fa fa-pencil">
            <span ng-if="post.id">{{ 'EDIT_POST' | translate }}</span>
            <span ng-if="! post.id">{{ 'CREATE_POST' | translate }}</span>
        </h2>
        <span ng-click="closeThisDialog()" class="close fa fa-times"></span>
    </div>
    <hr />
    <form ng-submit="post.save()" name="createAdForm" with-errors novalidate class="create-ad" style="margin:0; padding:0;">
        <!-- 		<div class="alert-box visible alert error round connect-bottom" ng-show="errors.base">{{ errors.base | translate }}</div>
		<div class="alert-box visible alert error round connect-bottom" ng-show="createAdForm.$error.minlength">{{ 'ERR_AD_NAME_MIN_LEN' | translate }}</div>
		<div class="alert-box visible alert error round connect-bottom" ng-show="createAdForm.$error.maxlength">{{ 'ERR_AD_NAME_LEN' | translate }}</div> -->

        <div>
            <needofferselector class="fleft" ng-model="post.type" community="loggedCommunity._id!==undefined"></needofferselector>

            <input type="text" class="name" placeholder="{{'TELL_WHAT' | translate}}" ng-model="post.title" class="text-input top" ng-required="true">
            <div class="clear"></div>

            <textarea placeholder="{{ 'WHAT_YOU_NEED_OR_OFFER_PLACEHOLDER' | translate }}" ng-minlength="3" ng-maxlength="2500" ng-model="post.name" name="name" ng-class="{ 'offset-text focused top': isCreatingAd() || isEditingAd()}" ng-keydown="escapeKey($event)" ng-focus="startCreatingAd()" ng-cloak class="create-ad-textarea text-input middle"></textarea>

            <div class="text-input middle field-container">
                <label>
                    <i class="fa fa-tags" style="float:left; padding:5px; padding-left:0px;"></i> {{'KEYWORDS' | translate }}
                </label>

                <tags-input class="tags" ng-model="post.keywords" placeholder="{{ 'ADD_KEYWORDS' | translate }}" replace-spaces-with-dashes="false" add-on-comma="true" add-on-space="false" allowed-tags-pattern="^[a-zA-Z0-9\sĚŠČŘŽÝÁÍÉÚŮĎŤŇÓěščřžýáíéúůďťňó]+$" min-length="2" max-length="20">
                    <auto-complete source="queryKeywords($query)" min-length="2" debounce-delay="400" max-results-to-show="8"></auto-complete>
                </tags-input>
            </div>

            <div class="text-input middle field-container">
                <label>
                    <i class="fa fa-map-marker " style="float:left; padding:5px; padding-left:0px;"></i> {{ 'place' | translate}}
                </label>
                <locations locations="post.locations" limit="post.location_unlimited"></locations>
            </div>

            <div class="date">
                <label>
                    <i class="fa fa-clock-o" style="float:left; padding:5px; padding-left:0px;"></i> {{ 'EXPIRATION_DATE' | translate}}
                </label>
                <div ng-class="{disabled: post.date_unlimited == true}">
                    <input type="text" ng-disabled="post.date_unlimited == true" class="date" datepicker="{{languageCode.code}}" ng-model="post.date" placeholder="{{'UNLIMITED' | translate}}">
                </div>
                <a href="" ng-click="dateUnlimitedToggle()">{{ 'UNLIMITED' | translate }}</a>
            </div>
            <hr />
            <div class="files">
                <!-- <div file-upload upload-name="'temp_upload'" file-upload-path="/files" on-file-upload-started="post.attachments.enabled = true" on-file-upload-success="photoUploadSuccessful($event)" on-file-upload-error="post.attachments.enabled = true" style="position:relative; display:inline-block; float:left; padding-left:2px;">
					<a ng-hide="post.attachments.length" ng-click="post.attachmentsEnabled = true">
						<i class="fa fa-picture-o" style="padding-right:5px;"></i> {{ 'ATTACH_PHOTO_LINK' | translate }}
					</a>
				</div> -->

                <div image-preview class="file-upload" files="post.attachments_attributes" limit="5">
                    <a class="create-post-link" ng-click="post.attachmentsEnabled = true">
                        <i class="fa fa-picture-o" style="padding-right:5px;"></i> {{ 'ATTACH_PHOTO_LINK' | translate }}
                    </a>
                </div>

                <div ng-show="post.attachments_attributes.length">
                    <ul>
                        <li class="text-center" ng-repeat="file in post.attachments_attributes" style="position:relative;display: inline-block;">
                            <img ng-src="{{ file.file }}" class="padding-1" style="max-width: 197px; max-height: 128px">
                            <br />
                            <a ng-click="post.attachments_attributes = []" title="{{ 'CLICK_TO_REMOVE_PHOTO_HINT' | translate }}">
                                <i class="hearthicon-remove"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div file-upload-output class="text-center"></div>
            </div>
            <div class="lock">
                <a class="create-post-link left" ng-click="post.is_private = !post.is_private">
                    <span ng-show="!post.is_private">
                        <span class="fa fa-unlock"></span>{{ 'VISIBLE_FOR_ALL' | translate }}</span>
                    <span ng-show="post.is_private && !loggedCommunity._id">
                        <span class="fa fa-lock"></span>{{ 'VISIBLE_FOR_FRIENDS' | translate }}</span>
                    <span ng-show="post.is_private && loggedCommunity._id">
                        <span class="fa fa-lock"></span>{{ 'VISIBLE_FOR_MEMBERS' | translate }}</span>
                </a>
            </div>

            <hr />

            <div class="bottom">
                <a href="" ng-click="closeThisDialog()" class="fleft close">
					{{ 'CLOSE' | translate }}
				</a>
                <button class="primary button fright pointer" type="submit" analytics-event="click on send" analytics-category="Add" analytics-label="NP" ng-disabled="sending || createAdForm.$invalid" translate>SUBMIT</button>
                <a href="" class="fright deleteLink " ng-if="post.id" ng-click="delete()">
					{{ 'DELETE' | translate }}
				</a>
            </div>
    </form>
    </div>