<div class="itemEdit modal">
    <div class="head">
        <h2 class="fa fa-pencil">
            <span ng-if="post._id">
                {{ 'EDIT_POST' | translate }}
                <small ng-if="loggedCommunity">({{ 'DOING_AS_COMMUNITY' | translate }} <b>{{ loggedCommunity.name | ellipsis:30 }})</b></small>
            </span>
            <span ng-if="! post._id">
                {{ 'CREATE_POST' | translate }}
                <small ng-if="loggedCommunity">({{ 'DOING_AS_COMMUNITY' | translate }} <b>{{ loggedCommunity.name | ellipsis:30 }})</b></small>
            </span>
        </h2>
        <span ng-click="closeThisDialog()" class="close fa fa-times"></span>
    </div>
    <hr />
    <form ng-submit="save(post)" name="createAdForm" novalidate class="create-ad">
        <div>
            <div class="edit-post-notify-container"></div>
            <p class="error" ng-if="showInvalidPostMessage">{{ 'ERR_ACTION_FAILED_DUE_TO_ERRORS' | translate  }}</p>
            <div class="messageBox" ng-if="!isPostActive(post)">
                <span ng-if="post.state == 'expired' && post.dateOrig">{{ 'POST_HAS_EXPIRED' | translate  }} {{ post.valid_until | date:DATETIME_FORMATS.mediumDate }}</span>
                <span ng-if="post.state == 'expired' && !post.dateOrig ">{{ 'POST_HAS_ALREADY_EXPIRED' | translate  }}</span>
                <span ng-if="post.state == 'suspended'">{{ 'POST_HAS_BEEN_DEACTIVATED' | translate }} {{ post.suspended_at | date:DATETIME_FORMATS.medium }}</span>
            </div>

            <div class="author">
                <author-selector class="fleft" id="author" author="post.current_community_id"></author-selector>
                <needofferselector class="fleft" model="post.type" text-true="{{ 'NEED' | translate }}" text-false="{{ 'OFFER' | translate }}"></needofferselector>
            
                <div class="clear"></div>
            </div>
                
            <label for="title">Sdělte stručně co*:</label>
            <div class="name">
                <input type="text" name="title" class="form-control" ng-minlength="3" ng-maxlength="100" placeholder="{{'TELL_WHAT' | translate}}" ng-model="post.title" class="text-input top" required ng-blur="showError.title = true" ng-focus="showError.title = false">

                <div class="moveUp error" ng-show="createAdForm.title.$invalid && showError.title">
                    <span ng-show="createAdForm.title.$error.required">{{ 'ERR_AD_TITLE_MIN_LEN' | translate }}</span>
                    <span ng-show="createAdForm.title.$error.minlength">{{ 'ERR_AD_TITLE_MIN_LEN' | translate }}</span>
                    <span ng-show="createAdForm.title.$error.maxlength">{{ 'ERR_AD_TITLE_LEN' | translate }}</span>
                </div>
            </div>

            <label for="text">Popište co věnujete, nebo přijmete*:</label>
            <textarea autosize-textarea ng-focus="showError.text = false" ng-blur="showError.text = true" required placeholder="{{ 'WHAT_YOU_NEED_OR_OFFER_PLACEHOLDER' | translate }}" ng-minlength="3" ng-maxlength="2500" ng-model="post.name" name="text" ng-class="{ 'offset-text focused top': isCreatingAd() || isEditingAd()}" ng-keydown="escapeKey($event)" ng-focus="startCreatingAd()" ng-cloak class="create-ad-textarea text-input middle"></textarea>
            <div class="moveUp error" ng-show="createAdForm.text.$invalid && showError.text">
                <span ng-show="createAdForm.text.$error.required">{{ 'ERR_AD_TEXT_MIN_LEN' | translate }}</span>
                <span ng-show="createAdForm.text.$error.minlength">{{ 'ERR_AD_TEXT_MIN_LEN' | translate }}</span>
                <span ng-show="createAdForm.text.$error.maxlength">{{ 'ERR_AD_TEXT_LEN' | translate }}</span>
            </div>

            <div class="text-input keywords field-container">
                <label class="moveBot">
                    <i class="fa fa-tags"></i> {{'KEYWORDS' | translate }}
                </label>

                <tags-input refocus-input-on-tab class="tags" ng-model="post.keywords" placeholder="{{ 'ADD_KEYWORDS' | translate }}" replace-spaces-with-dashes="false" add-on-comma="true" add-on-space="false" allowed-tags-pattern="^[a-zA-Z0-9\sĚŠČŘŽÝÁÍÉÚŮĎŤŇÓěščřžýáíéúůďťňó]+$" min-length="2" max-length="20">
                    <auto-complete source="queryKeywords($query)" min-length="2" debounce-delay="400" max-results-to-show="8"></auto-complete>
                </tags-input>
            </div>

            <div class="text-input middle field-container">
                <label>
                    <i class="fa fa-map-marker"></i> {{ 'place' | translate}}
                </label>
                <locations locations="post.locations" base="#ngdialog1" limit="post.location_unlimited" show-error="showError.locations" error-code="LOCATIONS_ARE_EMPTY"></locations>
            </div>
            <div class="date">
                <label>
                    <i class="fa fa-clock-o"></i> {{ 'EXPIRATION_DATE' | translate}}
                </label>
                <div ng-class="{disabled: post.valid_until_unlimited == true}">
                    <input type="text" ng-focus="focusDate(post.valid_until)" ng-blur="blurDate(post.valid_until)" name="valid_until" ng-disabled="post.valid_until_unlimited == true" class="date" datepicker="{{language}}" datepicker-format="{{dateFormat}}" ng-model="post.valid_until" placeholder="{{'UNLIMITED' | translate}}" required>
                    <checkbox model="post.valid_until_unlimited" on-update="dateUnlimitedToggle()" value="true">{{ 'UNLIMITED' | translate }}</checkbox>
                    <div class="clear error" ng-show="showError.valid_until">
                        <span ng-show="createAdForm.valid_until.$error.required">{{ 'DATE_IS_EMPTY' | translate }}</span>
                        <span ng-show="createAdForm.valid_until.$error.invalid">{{ 'ERR_DATE_IS_OLD' | translate }}</span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="files" ng-class="{withFiles: showFiles}">

                <div image-preview no-encoding="true" class="file-upload" limit-pixel-size="200" files="post.attachments_attributes" limit="5">
                    <a class="create-post-link" ng-click="post.attachmentsEnabled = true">
                        <i class="fa fa-picture-o" style="padding-right:5px;"></i> {{ 'ATTACH_PHOTO_LINK' | translate }}
                    </a>
                </div>
                <div class="fileList" ng-show="showFiles">
                    <ul>
                        <li id="image-preview-{{$index}}" ng-if="! file._id || ! file.deleted" class="text-center" ng-class="{active: ! file._id || ! file.deleted}" ng-repeat="file in post.attachments_attributes track by $index">
                            <div class="overlay"></div>
                            <a ng-click="removeImage($index)" title="{{ 'CLICK_TO_REMOVE_PHOTO_HINT' | translate }}">
                                <i class="fa fa-times"></i>
                            </a>
                            <img resized-thumbnail-image ng-src="{{ file.file || file.normal }}" class="padding-1">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="lock" ng-class="{withFiles: showFiles}">
                <a class="create-post-link left" ng-click="post.is_private = !post.is_private">
                    <span ng-show="!post.is_private">
                        <span class="fa fa-unlock"></span>{{ 'VISIBLE_FOR_ALL' | translate }}</span>
                    <span ng-show="post.is_private && !loggedCommunity._id">
                        <span class="fa fa-lock"></span>{{ 'VISIBLE_FOR_FRIENDS' | translate }}</span>
                    <span ng-show="post.is_private && loggedCommunity._id">
                        <span class="fa fa-lock"></span>{{ 'VISIBLE_FOR_MEMBERS' | translate }}</span>
                </a>
            </div>
            <hr />
            <div class="bottom">
                <a href="" ng-click="closeEdit()" class="fleft close">
                    {{ 'CLOSE' | translate }}
                </a>
                <button ng-if="post.state == 'suspended' || post.state == 'expired'" class="primary button-send fright pointer margin-left-10" type="button" ng-click="save(post, true)" analytics-event="click on send" analytics-category="Add" analytics-label="NP" translate>SAVE_AND_ACTIVATE</button>

                <button class="primary button-send fright pointer" type="submit" analytics-event="click on send" analytics-category="Add" analytics-label="NP" translate>SAVE</button>

                <a class="fright deleteLink" ng-if="post._id" ng-click="confirmBox('AD_REMOVE_LABEL', 'AD_REMOVE_ARE_YOU_SURE', deleteItem, post)">
                    <i class="fa fa-times"></i>{{ 'DELETE' | translate }}
                </a>
            </div>
        </div>
    </form>
</div>