<div class='modal styled-modal'>
	<header>
		<h2 translate='LANGUAGE.SELECTION'></h2>
	</header>
	<ul class='styled-list'>
		<li class='list-item' ng-if='languageChange.currentLanguage != "cs"'>
			<a ng-click='languageChange.switchLang("cs")'>
				<i class='flag flag-cs'></i>
				<span translate='LANGUAGE.CZECH'></span>
			</a>
		</li>
		<li class='list-item' ng-if='languageChange.currentLanguage != "en"'>
			<a ng-click='languageChange.switchLang("en")'>
				<i class='flag flag-en'></i>
				<span translate='LANGUAGE.ENGLISH'></span>
			</a>
		</li>
		<li class='list-item' ng-if='languageChange.currentLanguage != "sk"'>
			<a ng-click='languageChange.switchLang("sk")'>
				<i class='flag flag-sk'></i>
				<span translate='LANGUAGE.SLOVAK'></span>
			</a>
		</li>
	</ul>
</div>