<div class="padding-small">
	<header>
		<h2>
			{{ 'POST.SUSPEND.LABEL' | translate}}
		</h2>
		<hr />
	</header>
	<form ng-submit="suspend(data)" name="suspendform">
		<div class="notify-report-container"></div>
		<div>
			<label>{{:: 'POST.SUSPEND.ARE_YOU_SURE' | translate }}</label>
			<textarea autofocus rows="4" autosize-textarea ng-if="userHasRight('post.suspend') && ngDialogData.author._id !== loggedUser._id" required ng-focus="showErrors.message = false" ng-blur="showErrors.message = true" ng-attr-placeholder="{{ 'POST.SUSPEND.CONNECTED_MESSAGE_PLACEHOLDER' | translate }}"
							ng-maxlength="500" ng-model="data.suspendMessage" name="message" ng-keydown="escapeKey($event)" class="margin-vertical-medium"></textarea>
			<!--<div class="moveUp error" ng-show="showErrors.message">
				<span ng-show="suspendForm.message.$error.required">{{ 'ERR_REPORT_TEXT_MIN_LEN' | translate }}</span>
				<span ng-show="suspendForm.message.$error.minlength">{{ 'ERR_REPORT_TEXT_MIN_LEN' | translate }}</span>
				<span ng-show="suspendForm.message.$error.maxlength">{{ 'ERR_REPORT_TEXT_MAX_LEN' | translate }}</span>
			</div>-->
			<div class="display-flex flex-space-between margin-top-medium">
				<a href="" ng-click="close()" class="">
					{{ 'CLOSE' | translate }}
				</a>
				<button class="primary" type="submit">{{:: 'REPORT' | translate }}</button>
			</div>
		</div>
	</form>
</div>