<div class="itemReport formStyle itemEdit modal">
	<div class="head">
		<h2 translate="COMMON.REALLY"></h2>
		<span ng-click="confirm(false)" class="close fa fa-times"></span>
		<hr />
	</div>
	<form novalidate>
		<div>
            <div translate="COMMUNITY.PRIVACY.CHANGE_MODAL_TEXT"></div>
			<div class="display-flex flex-reverse flex-space-between margin-top-medium">
				<button class="button danger" type="button" ng-click="confirm(true)" translate="COMMON.ACTION_CONTINUE_ANYWAY"></button>
				<a ng-click="confirm(false)" translate="COMMON.ACTION_CANCEL"></a>
			</div>
		</div>
	</form>
</div>