<div class="itemShare formStyle itemEdit modal">
	<div class="head">
		<h2 translate="POST.SHARE.BY_EMAIL.HEADER"></h2>
		<span ng-click="close()" class="close fa fa-times"></span>
		<hr />
	</div>
	<form ng-submit="send()" name="emailForm" novalidate class="email-sharing">
		<div class="notify-report-container"></div>
		<div>
			<label translate="POST.SHARE.BY_EMAIL.ADDRESS_LABEL"></label>
			<br />
			<input type="text" ng-focus="showErrors.emails = false" ng-blur="showErrors.emails = true; testEmailsFormat(sharing.emails)" placeholder="{{ 'POST.SHARE.BY_EMAIL.ADDRESS_PLACEHOLDER' | translate }}" ng-model="sharing.emails" name="emails" required />
			<div class="moveUp error" ng-show="showErrors.emails && emailForm.$dirty">
				<span ng-show="emailForm.emails.$error.required" translate="POST.SHARE.BY_EMAIL.NOTIFY.ERROR_NO_ADDRESS"></span>
				<span ng-show="emailForm.emails.$error.format" translate="POST.SHARE.BY_EMAIL.NOTIFY.ERROR_ADDRESS_INVALID"></span>
			</div>
			<label translate="POST.SHARE.BY_EMAIL.TEXT_LABEL"></label>
			<textarea autosize-textarea required ng-focus="showErrors.message = false" ng-blur="showErrors.message = true" ng-attr-placeholder="{{ 'POST.SHARE.BY_EMAIL.TEXT_PLACEHOLDER' | translate }}" ng-minlength="3" ng-maxlength="2500" ng-model="sharing.message" name="message"
							class="report-reason-textarea text-input middle"></textarea>
			<div class="moveUp error" ng-show="showErrors.message">
				<span ng-show="emailForm.message.$error.required" translate="COMMON.NOTIFY.ERROR_TEXT_TOO_SHORT"></span>
				<span ng-show="emailForm.message.$error.minlength" translate="COMMON.NOTIFY.ERROR_TEXT_TOO_SHORT"></span>
				<span ng-show="emailForm.message.$error.maxlength" translate="COMMON.NOTIFY.ERROR_TEXT_TOO_LONG"></span>
			</div>
			<div class="bottom clearfix">
				<a href="" ng-click="close()" class="fleft close" translate="COMMON.ACTION_CLOSE"></a>
				<button class="button fright" type="submit" translate="COMMON.ACTION_SEND"></button>
			</div>
		</div>
	</form>
	<div class="email-sharing success success-msg hidden">
		<p translate="POST.SHARE.BY_EMAIL.NOTIFY.SUCCESS_SENT"></p>
		<button class="button fright" ng-click="close()" translate="COMMON.ACTION_CLOSE"></button>
		<div class="clear"></div>
	</div>
</div>