<div class="invite-box formStyle itemEdit modal">
	<div class="head">
		<h2>
			<span translate="HEARTH.INVITE.TITLE"></span> 
			<span ng-if="showEmailForm" translate="HEARTH.INVITE.BY_EMAIL"></span>
		</h2>
		<span ng-click="close()" class="close fa fa-times"></span>
		<hr />
	</div>

	<div class="social" ng-if="!showEmailForm">
		<ul class="text-center">
			<li>
				<!-- <a ng-click="fbInvite()"> -->
				<a href="" ng-click="fbInvite()">
					<i class="fa fa-facebook"></i> 
					<span translate="HEARTH.INVITE.BY_FACEBOOK"></span>
				</a>
			</li>
			<li>
				<a target="_blank" ng-href="{{endpoints.twitter + url}}">
					<i class="fa fa-twitter"></i> 
					<span translate="HEARTH.INVITE.BY_TWITTER"></span>
				</a>
			</li>
			<li>
				<a target="_blank" ng-href="{{endpoints.linkedin + urlLinkedin}}">
					<i class="fa fa-linkedin"></i> 
					<span translate="HEARTH.INVITE.BY_LINKEDIN"></span>
				</a>
			</li>
			<li>
				<a ng-click="toggleEmailForm()">
					<i class="fa fa-envelope"></i> 
					<span translate="HEARTH.INVITE.BY_EMAIL"></span>
				</a>
			</li>
		</ul>
	</div>
	<div ng-show="showEmailForm">
		<form ng-submit="sendEmailInvitation(inv)" id="inviteForm" name="inviteForm" class="emailForm invite-form" novalidate>

			<div class="block">
				<div>
					<label translate="HEARTH.INVITE.ADDRESSES_LABEL"></label>
					<tags-input name="to_email" ng-model="inv.to_email" placeholder="{{'HEARTH.INVITE.ADDRESSES_PLACEHOLDER' | translate }}" replace-spaces-with-dashes="false" add-on-comma="true" add-on-space="false" type="email" min-tags="1" ng-focus="showError.to_email = false"
									ng-blur="showError.to_email = true" ng-required="required" allowed-tags-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" on-tag-added="validateEmailAddress($tag)" on-tag-removed="removeFromInvitationsStatus($tag, invitationsStatus)"></tags-input>
					<div class="form-error" ng-show="showError.to_email">
						<span ng-show="inviteForm.to_email.$error.minTags" translate="HEARTH.INVITE.NOTIFY.ERROR_NOT_FILLED_ADDRESS"></span>
						<span ng-show="inviteForm.to_email.$error.format" translate="HEARTH.INVITE.NOTIFY.ERROR_EMAIL_INVALID"></span>
					</div>
				</div>

				<div ng-show="invitationsStatus.length">
					<ul class="list margin-bottom-none margin-top-small">
						<li ng-repeat="item in invitationsStatus" class="small-text-left">
							<i ng-class="itemStatusIconVocabulary[item.status]"></i>
							<span ng-bind-html="item.text | translate:{email: item.email}"></span>
							<a ng-href="{{:: getProfileLink(item.existing._type, item.existing._id)}}" target="_blank">{{item.existing.name}}</a>.
						</li>
					</ul>
				</div>
			</div>

			<div class="block">
				<label translate="HEARTH.INVITE.TEXT_LABEL"></label>
				<input-max-length input-type="textarea" show-counter="true" min-length="3" max-length="300" required="true" placeholder="{{'HEARTH.INVITE.TEXT_PLACEHOLDER' | translate }}" model="inv.message" name="message"></input-max-length>
				<div class="form-error" ng-show="showError.message">
					<span ng-show="inviteForm.message.$error.required" translate="HEARTH.INVITE.NOTIFY.ERROR_TEXT_NOT_FILLED"></span>
				</div>
			</div>

			<div class="display-flex flex-reverse flex-space-between">
				<button class="button" type="submit" analytics-custom analytics-event="send email invitation" analytics-category="General" analytics-value="1" translate="COMMON.ACTION_SUBMIT"></button>
				<a ng-click="toggleEmailForm()" translate="COMMON.ACTION_CLOSE"></a>
			</div>

		</form>
		<div class="invite-form success hidden">
			<h3 translate="HEARTH.INVITE.TITLE_AFTER_SEND"></h3>
			<span translate="HEARTH.INVITE.NOTIFY.SUCCESS_INVITE_SEND"></span>

			<div ng-show="invitationsStatus.length">
				<ul class="list margin-bottom-none margin-top-small">
					<li ng-repeat="item in invitationsStatus" class="small-text-left">
						<div class="display-table">
							<div class="display-table-cell addon padding-right-small">
								<i ng-class="itemStatusIconVocabulary[item.status]"></i>
							</div>
							<div class="display-table-cell">
								<span translate="{{item.text}}" translate-values="{email: item.email}"></span>
								<a ng-if="item.existing.name" ng-href="{{:: getProfileLink(item.existing._type, item.existing._id)}}" target="_blank">{{item.existing.name}}</a>.
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="display-flex flex-reverse margin-top-medium">
				<button class="button" ng-click="closeThisDialog()" translate="COMMON.ACTION_CLOSE"></button>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="invite-box-notify"></div>