<div class="new-message itemEdit formStyle modal">
	<div class="head">
		<h2>
			{{ (params.for_all_members ? 'COMMUNITY.ACTION_SEND_MESSAGE_TO_ALL_MEMBERS' : (user._type === "Community" ? 'COMMUNITY.ACTION_SEND_MESSAGE_TO_ADMIN' : 'MESSAGING.ACTION_CREATE_MESSAGE')) | translate}}
		</h2>
		<span ng-click="close()" class="close fa fa-times"></span>
		<hr />
	</div>
	<div class="toggle-content">
		<div class="notify-new-message-container"></div>
		<conversation-add close="close" on-success="onSuccess" recipient="user" params="params"></conversation-add>
	</div>
	<div class="toggle-content success success-msg hidden">
		<p translate="MESSAGING.NOTIFY.SUCCESS_MESSAGE_SEND"></p>
		<button class="button fright" ng-click="close()" translate translate="COMMON.ACTION_CLOSE"></button>
	</div>
	<div class="clear"></div>
</div>