<div class="itemReply formStyle modal">
	<div class="head">
		<div class="display-flex flex-space-between">
			<h2>
				<span ng-if="post.type =='offer'" ng-bind-html=":: 'POST.ACTION_ASK_FOR_GIFT' | translate"></span>
				<span ng-if="post.type == 'need'" ng-bind-html=":: 'POST.ACTION_OFFER_GIFT' | translate"></span>
			</h2>
			<span ng-click="close()" class="close fa fa-times" tabindex="0"></span>
		</div>
		<hr />
	</div>
	<div ng-if="showTrustedProfileNotify">
		<p>{{:: 'PROFILE.TRUST.BEFORE_REPLY_MODAL' | translate }} <a ui-sref="profileEdit" class="bold color-primary">{{:: 'PROFILE.TRUST.ACTION_PLEASE_FILL_PROFILE' | translate }}</a></p>
		<div class="display-flex flex-space-between margin-top-medium">
			<a ng-click="closeThisDialog()" translate="COMMON.ACTION_CLOSE"></a>
			<button ng-click="nextStep()" class="button button-send" translate="COMMON.ACTION_CONTINUE_ANYWAY"></button>
		</div>
	</div>

	<form ng-submit="sendReply()" name="replyForm" novalidate class="reply-ad" ng-if="showTrustedProfileNotify == false">
		<div class="notify-reply-container"></div>

		<div class="block">
			<author-selector id="author" author-id="reply.current_community_id" remove="post.author._id"></author-selector>
		</div>

		<div class="block">
			<label>
				<textarea ctrl-enter-submit required autofocus 
					ng-focus="showErrors.message = false" ng-blur="showErrors.message = true" 
					ng-attr-placeholder="{{:: 'POST.REPLY.TEXT_PLACEHOLDER_' + post.type.toUpperCase() | translate }}" 
					ng-minlength="3" ng-maxlength="2500" ng-model="reply.message" 
					name="message" class="reply-ad-textarea text-input middle"></textarea>
				<div class="form-error" ng-show="showErrors.message && replyForm.$dirty">
					<span ng-show="replyForm.message.$error.required" translate="COMMON.NOTIFY.ERROR_TEXT_TOO_SHORT"></span>
					<span ng-show="replyForm.message.$error.minlength" translate="COMMON.NOTIFY.ERROR_TEXT_TOO_SHORT"></span>
					<span ng-show="replyForm.message.$error.maxlength" translate="COMMON.NOTIFY.ERROR_TEXT_TOO_LONG"></span>
				</div>
			</label>
		</div>

		<div class="display-flex flex-reverse flex-space-between">
			<button class="button" type="submit" analytics-event="click on send" analytics-category="Add" analytics-label="NP" translate="COMMON.ACTION_SUBMIT"></button>
			<a ng-click="close()" class="revert-changes" tabindex="0" translate="COMMON.ACTION_CANCEL"></a>
		</div>
	</form>

	<div class="reply-ad success success-msg hidden">
		<p translate="POST.REPLY.NOTIFY.SUCCESS_SEND_REPLY"></p>
		<section class="bottom display-flex flex-reverse flex-space-between">
			<button class="button" ng-click="close()" translate="COMMON.ACTION_CLOSE"></button>
		</section>
	</div>
</div>