<div class="itemEdit formStyle modal">
	<div class="head">
		<a ng-click="closeThisDialog()" class="fright close-dialog  close fa fa-times"></a>
		<h2>
			<span ng-if="!isDraft" translate="POST.CREATE.TITLE_EDIT"></span>
			<span ng-if="isDraft" translate="POST.CREATE.TITLE"></span>
		</h2>
		<hr>
		<div ng-if="!isPostActive(post)">
			<ul class="message-line">
				<li ng-if="post.state == 'expired' && post.dateOrig">
					<span translate="POST.NOTIFY.EXPIRED_AT"></span> 
					{{ post.valid_until | date:DATETIME_FORMATS.mediumDate }}
				</li>
				<li ng-if="post.state == 'expired' && !post.dateOrig" 
					translate="POST.NOTIFY.EXPIRED">
				</li>
				<li ng-if="post.state == 'suspended'">
					<span translate="POST.NOTIFY.SUSPENDED"></span> 
					{{ post.suspended_at | date:DATETIME_FORMATS.medium }}
				</li>
			</ul>
		</div>
	</div>

	<form ng-submit="save(post)" name="createAdForm" novalidate class="create-ad">
		<div class="edit-post-notify-container"></div>
		<div class="form-error" ng-if="showInvalidPostMessage" translate="POST.NOTIFY.ERROR_THERE_ARE_ERRORS"></div>

		<div class="first-step-container">
			<p ng-bind-html=":: 'POST.CREATE.BORROW_LEND_TEXT' | translate" ng-show="isDraft" ng-class="{'faa-fade-out margin-none' : twoStepForm.step2}"></p>
			<div id="type-switch-container" class="display-flex overload-for-overload-for-overload-for-yet-another-guess-what-you-guessed-it-overload">
				<div class="display-medium-flex flex-divide-medium flex-div flex-1" ng-repeat="itemOptionGroup in itemTypeOptions">
					<div title="{{ ((post.reply_count) ? 'POST.NOTIFY.TYPE_CHANGE_IS_DISABLED': '' ) | translate }}" tipsy class="display-flex form-section flex-div flex-medium-divide flex-1 margin-horizontal-small" ng-repeat="itemOption in itemOptionGroup">
						<button type="button" ng-disabled="post.reply_count && ((post.type == 'offer' && (itemOption == 'borrow' || itemOption == 'need')) || (post.type == 'need' && (itemOption == 'offer' || itemOption == 'lend')))" class="flex-1 button button-white full-width flex-div padding-vertical-small padding-horizontal-tiny faa-parent animated-hover display-flex button-type-switch"
										ng-click="setItemTypeActive({itemType: itemOption, post: post})" ng-class="{active: (post.type == itemOption && (post.exact_type == 'any' || post.exact_type == 'gift')) || ((post.exact_type == 'loan' || post.exact_type == 'any') && ((post.type == 'offer' && itemOption == 'lend') || (post.type == 'need' && itemOption == 'borrow'))),
											inactive: ((post.type == 'offer' && (itemOption == 'borrow' || itemOption == 'need')) || (post.type == 'need' && (itemOption == 'offer' || itemOption == 'lend')))}">
							<div class="margin-right-tiny padding-horizontal-small">
								<div class="item-option-bg-type" ng-class="'item-option-bg-' + itemOption">
									<!-- <i class="faa-pulse" ng-class="itemOptionIcons[itemOption]"></i> -->
									<i class="faa-pulse"></i>
								</div>
							</div>
							<div translate="{{ (post.current_community_id ? 'WE_' : '') + itemOption.toUpperCase() }}"></div>
						</button>
					</div>
				</div>
			</div>
			<div class="display-flex flex-space-between flex-reverse" ng-if="isDraft && !twoStepForm.step2">
				<!-- show only for "create item" where post.type and exact_type are not choosen -->
				<div class="nowrap">
					<button ng-disabled="!post.exact_type || !post.type" class="button" type="button" ng-click="twoStepForm.step2 = true" translate="COMMON.ACTION_CONTINUE"></button>
				</div>
				<a href="" ng-click="closeEdit()" class="revert-changes" translate="COMMON.ACTION_CANCEL"></a>
			</div>
		</div>

		<div class="second-step-container" ng-if="twoStepForm.step2 || !isDraft" ng-class="{ 'faa-fade-in': isDraft }">

			<!-- show either for editform, or for step2 of insert form -->
			<section class="author display-flex flex-wrap">
				<div class="form-section column small-12 medium-6" ng-show="authorList.length > 1">
					<author-selector ng-disabled="post.reply_count" id="author" author-id="post.current_community_id" author="post.current_community" title="{{ ((post.reply_count) ? 'POST.NOTIFY.AUTHOR_SELECT_IS_DISABLED': '' ) | translate }}" tipsy author-list='authorList'></author-selector>
					<div class="position-relative">
						<div class="tipsy-overlay" ng-if="post.reply_count"></div>
					</div>
				</div>
			</section>

			<div class="block">
				<label>
					<span translate="POST.CREATE.TITLE_LABEL"></span>
					<div>
						<div class="field-group margin-bottom-none">
							<span title="{{ ((post.reply_count) ? 'POST.NOTIFY.TYPE_CHANGE_IS_DISABLED' : '' ) | translate }}" tipsy class="left-radius green bold" ng-if="post.type == 'offer'" ng-click="togglePostType()">{{ postTypes[post.current_community._type][post.exact_type][post.type] | translate }}</span>
							<span title="{{ ((post.reply_count) ? 'POST.NOTIFY.TYPE_CHANGE_IS_DISABLED' : '' ) | translate }}" tipsy class="left-radius red bold" ng-if="post.type == 'need'" ng-click="togglePostType()">{{ postTypes[post.current_community._type][post.exact_type][post.type] | translate }}</span>
							<input type="text" name="title" class="no-left-radius form-control" ng-minlength="3" ng-maxlength="70" placeholder="{{:: 'POST.CREATE.TITLE_PLACEHOLDER' | translate }}" ng-model="post.title" class="text-input top" required ng-blur="showError.title = true" ng-focus="showError.title = false">
						</div>
						<div class="form-error" ng-show="createAdForm.title.$invalid && showError.title && createAdForm.$dirty">
							<span ng-show="createAdForm.title.$error.required" translate="POST.CREATE.NOTIFY.ERROR_TITLE_TOO_SHORT"></span>
							<span ng-show="createAdForm.title.$error.minlength" translate="POST.CREATE.NOTIFY.ERROR_TITLE_TOO_SHORT"></span>
							<span ng-show="createAdForm.title.$error.maxlength" translate="POST.CREATE.NOTIFY.ERROR_TITLE_TOO_LONG"></span>
						</div>
						<check-capitals model="post.title" ng-if="showError.title" class="form-error warning"></check-capitals>
					</div>
				</label>
			</div>

			<div class="block">
				<label>
					<span translate="POST.CREATE.TEXT_LABEL"></span>
					<textarea id="text" autosize-textarea ng-focus="showError.text = false" ng-blur="showError.text = true" required ng-attr-placeholder="{{ 'POST.CREATE.TEXT_PLACEHOLDER' | translate }}" ng-minlength="3" ng-maxlength="2500" ng-model="post.text" name="text" class="create-ad-textarea text-input middle"></textarea>
					<div class="form-error" ng-show="createAdForm.text.$invalid && showError.text">
						<span ng-show="createAdForm.text.$error.required" translate="COMMON.NOTIFY.ERROR_TEXT_TOO_SHORT"></span>
						<span ng-show="createAdForm.text.$error.minlength" translate="COMMON.NOTIFY.ERROR_TEXT_TOO_SHORT"></span>
						<span ng-show="createAdForm.text.$error.maxlength" translate="COMMON.NOTIFY.ERROR_TEXT_TOO_LONG"></span>
					</div>
					<check-capitals model="post.text" ng-if="showError.text" class="form-error warning"></check-capitals>
				</label>
			</div>

			<div class="block files">
				<label>
					<span ng-if="!imagesCount" translate="POST.CREATE.IMAGES_LABEL"></span>
					<span ng-if="imagesCount"><span translate="COMMON.IMAGES"></span> ({{ post.attachments_attributes.length || 0 }})</span>
				</label>
				<div>
					<ul class="fileList">
						<li id="image-preview-{{$index}}" ng-if="! file._id || ! file.deleted" class="text-center" ng-class="{active: ! file._id || ! file.deleted}" ng-repeat="file in post.attachments_attributes track by $index">
							<div class="overlay"></div>
							<a ng-click="removeImage($index)" title="{{:: 'POST.CREATE.REMOVE_PHOTO_LABEL' | translate }}">
								<i class="fa fa-times"></i>
							</a>
							<img exif-rotated resized-thumbnail-image ng-src="{{ file.normal || file.public_url }}" title='file' />
						</li>
						<li class="file-upload">
							<div image-preview-direct-upload options="imageUploadOptions" result="post.attachments_attributes">
								<i class="fa fa-plus"></i>
								<i class="fa fa-spinner fa-spin"></i>
							</div>
						</li>
					</ul>
					<div class="clear"></div>
					<div class="clear form-error" ng-show="showError.files">
						<span ng-if="showError.files.badFormat" translate="COMMON.NOTIFY.ERROR_BAD_IMAGE_FORMAT" translate-values="{formats: 'JPG, JPEG, PNG, GIF'}"></span>
						<span ng-if="showError.files.badMaxSize" translate="COMMON.NOTIFY.ERROR_BAD_IMAGE_SIZE" translate-values="{maxSize:limitMb}"></span>
						<span ng-if="showError.files.badSizeAll" translate="COMMON.NOTIFY.ERROR_FILES_TOO_BIG" translate-values="{maxSize:maxImageSizeLimit}"></span>
						<span ng-if="showError.files.badMinSizePx" translate="COMMON.NOTIFY.ERROR_BAD_IMAGE_SIZE_PX" translate-values="{minSize:limitPixelSize}"></span>
						<span ng-if="showError.files.uploadError" translate="COMMON.NOTIFY.ERROR_UPLOADING"></span>
					</div>
				</div>
			</div>

			<div class="block">
				<label class="ui-select-scope-wrapper">
					<span translate='POST.CREATE.LANGUAGE_LABEL'></span>:
					<ui-select id="post-language" ng-model="post.language" theme="select2">
						<ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices group-by="'group'" group-filter="[('POST.CREATE.LANGUAGES_MAIN' | translate), ('POST.CREATE.LANGUAGES_OTHER' | translate)]" repeat="item.code as item in languageList | filter: {name: $select.search}">
				      <div ng-bind-html="item.name | highlight: $select.search"></div>
				    </ui-select-choices>
					</ui-select>
				</label>
			</div>

			<div class="block position-relative">
				<div bubble-placeholder="marketplace-item-mood"></div>
				<label class="headline">
					<span translate="POST.CREATE.CATEGORY_LABEL"></span>
				</label>
				<div class="flex button-group margin-bottom-none">
					<label ng-repeat="character in character" class="button flex-1" ng-class="post.character.indexOf(character.name) > -1 ? '' : 'button-white'">
						<span translate="{{:: character.translate }}"></span>
						<input hidden type="checkbox" checklist-model="post.character" checklist-value="character.name" ng-click="setCharacter(character)" name="character" />
					</label>
				</div>
				<div class="form-error" ng-show="createAdForm.character.$invalid">
					<span ng-show="createAdForm.character.$error.required" translate="POST.CREATE.NOTIFY.ERROR_NO_CATEGORY"></span>
					<span ng-show="createAdForm.character.$error.max" translate="POST.CREATE.NOTIFY.ERROR_MAX_ONE_CATEGORY"></span>
				</div>
			</div>

			<div class="block">
				<label>
					<span translate="POST.CREATE.KEYWORDS_LABEL"></span>
					<tags-input refocus-input-on-tab class="tags" ng-model="post.keywords" placeholder="{{:: 'COMMON.KEYWORDS' | translate }}" replace-spaces-with-dashes="false" add-on-comma="true" add-on-space="false" allowed-tags-pattern="^[a-zA-Z0-9\sĚŠČŘŽÝÁÍÉÚŮĎŤŇÓěščřžýáíéúůďťňó\.]+$" min-length="2" max-length="20">
						<auto-complete source="queryKeywords($query)" min-length="2" debounce-delay="400" max-results-to-show="8"></auto-complete>
					</tags-input>
				</label>
			</div>

			<div class="block">
				<locations locations="post.locations" base="#ngdialog1" limit="post.location_unlimited" show-error="showError.locations" error-code="POST.CREATE.NOTIFY.ERROR_NO_LOCATIONS"></locations>
			</div>

			<div class="block collapse" ng-class="{ 'collapse-expanded': slide.date }">
				<label slide-trigger="slide.date">
					<span translate="POST.CREATE.EXPIRY_DATE_LABEL"></span>
					<span ng-if="!slide.date">
						<span ng-if="!post.valid_until_unlimited && !post.valid_until" translate="COMMON.NOT_FILLED"></span>
						<span ng-if="!post.valid_until_unlimited && post.valid_until">
							({{'COMMON.UNTIL' | translate }} {{ post.valid_until | date }})
						</span>
						<span ng-if="post.valid_until_unlimited" class="lowercase" translate="COMMON.UNLIMITED"></span>
					</span>
				</label>
				<div ng-slide-down="slide.date" lazy-render duration="0.3" ng-class="{disabled: post.valid_until_unlimited == true}">
					<div class="form-section">
						<div class="display-flex">
							<label class="flex-1">
								<input type="text" ng-focus="focusDate(post.valid_until)" ng-blur="blurDate(post.valid_until)" name="valid_until" ng-disabled="post.valid_until_unlimited==true" class="date full-width" datepicker="{{language}}" datepicker-format="{{dateFormat}}" ng-model="post.valid_until" required>
							</label>
							<div class="flex-1">
								<checkbox class="margin-left-large" model="post.valid_until_unlimited" on-update="dateUnlimitedToggle()">
									<span translate="COMMON.UNLIMITED"></span>
								</checkbox>
							</div>
						</div>
						<div class="form-error" ng-show="!post.valid_until_unlimited && showError.valid_until">
							<span ng-show="!post.valid_until.trim()" translate="POST.CREATE.NOTIFY.ERROR_DATE_IS_EMPTY"></span>
							<span ng-show="post.valid_until.trim()" translate="POST.CREATE.NOTIFY.ERROR_DATE_IS_IN_PAST"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="collapse community-selector" ng-if="myCommunities.length" ng-slide-down="!post.current_community_id" lazy-render duration="0.5">
				<div class="block">
					<label class="collapse-trigger" slide-trigger="slide.communities">
						<span translate="POST.CREATE.COMMUNITIES_LABEL"></span>
						<span ng-if="post.related_communities.length" ng-bind="' (' + post.related_communities.length + ')'"></span>
					</label>
					<div ng-slide-down="slide.communities" lazy-render duration="0.5">
						<div ng-if="!post.related_communities.length && post.is_private">
							<community-selector disable="true" tipsy title="{{:: 'POST.CREATE.NOTIFY.NO_COMMUNITIES_WHEN_PRIVATE' | translate }}" communities="post.related_communities"></community-selector>
						</div>
						<div ng-if="post.related_communities.length || !post.is_private">
							<community-selector communities="post.related_communities"></community-selector>
						</div>
					</div>
				</div>
			</div>

			<div class="collapse lock" ng-show="enableLockField">
				<div class="block">
					<label slide-trigger="slide.lock" for="lock">
						<span translate="POST.CREATE.PRIVACY_LABEL"></span>
						<span ng-if="!slide.lock">
							<span ng-if="!post.is_private">(<span translate="POST.CREATE.PRIVACY_SHOW_TO_ALL"></span>)</span>
							<span ng-if="post.is_private && !post.current_community_id && !post.related_communities.length">(<span translate="POST.CREATE.PRIVACY_SHOW_TO_FRIENDS"></span>)</span>
							<span ng-if="post.is_private && (post.current_community_id || post.related_communities.length)">(<span translate="POST.CREATE.PRIVACY_SHOW_TO_COMMUNITY"></span>)</span>
						</span>
					</label>
					<ul ng-slide-down="slide.lock" lazy-render duration="0.5">
						<li>
							<radio model="post.is_private" type="checkbox" value="false" value-off="true" checked="!post.is_private">
								<span translate="POST.CREATE.PRIVACY_VISIBLE_FOR_ALL"></span>
							</radio>
						</li>
						<li>
							<radio model="post.is_private" type="checkbox" value="true" value-off="false" checked="post.is_private">
								<span ng-if="!post.current_community_id && !post.related_communities.length" translate="POST.CREATE.PRIVACY_SHOW_TO_FRIENDS"></span>
								<span ng-if="(post.current_community_id || post.related_communities.length)" translate="POST.CREATE.PRIVACY_VISIBLE_FOR_MEMBERS"></span>
							</radio>
						</li>
					</ul>
				</div>
			</div>

			<div class="display-flex flex-space-between flex-reverse">
				<div class="nowrap">
					<button ng-if="post.state == 'suspended' || post.state == 'expired'" class="button" ng-disabled="sending" type="button" ng-click="save(post, true)" analytics-event="click on send" analytics-category="Add" analytics-label="NP" translate="POST.CREATE.ACTION_SAVE_AND_ACTIVATE"></button>
					<button class="button" ng-disabled="sending" type="submit" analytics-event="click on send" analytics-category="Add" analytics-label="NP" translate="COMMON.ACTION_SAVE"></button>
				</div>
				<a href="" ng-click="closeEdit()" translate="COMMON.ACTION_CLOSE"></a>
			</div>

		</div>
	</form>
</div>