<div class="itemReport formStyle itemEdit modal">
	<div class="head">
		<h2>
			{{:: 'POST.SUSPEND.LABEL' | translate}}
		</h2>
		<span ng-click="close()" class="close fa fa-times"></span>
		<hr />
	</div>
	<form ng-submit="suspend(data)" name="suspendForm" novalidate>
		<div class="notify-report-container"></div>
		<div>
			<label>{{:: 'POST.SUSPEND.ARE_YOU_SURE' | translate }}</label>
			<textarea autofocus rows="4" autosize-textarea ng-if="userHasRight('post.suspend') && ngDialogData.author._id !== loggedUser._id" required ng-focus="showErrors.message = false" ng-blur="showErrors.message = true" ng-attr-placeholder="{{ 'POST.SUSPEND.CONNECTED_MESSAGE_PLACEHOLDER' | translate }}" ng-maxlength="10000" ng-model="data.suspendMessage" name="message" class="margin-vertical-medium suspend-textarea"></textarea>
			<div class="moveUp error" ng-show="showErrors.message || suspendForm.message.$error.maxlength">
				<span ng-show="suspendForm.message.$error.required">{{:: 'required' | translate }}</span>
				<span ng-show="suspendForm.message.$error.maxlength" translate='VALIDATION_MAX_LENGTH'></span>
			</div>
			<div class="display-flex flex-reverse flex-space-between margin-top-medium">
				<button class="button" type="submit">{{:: 'REPORT' | translate }}</button>
				<a href="" ng-click="close()" class="">
					{{ 'CLOSE' | translate }}
				</a>
			</div>
		</div>
	</form>
</div>