<div class="ad post_{{item._id}} display-flex flex-space-between" id="post_{{item._id}}">
	<div>
		<span>{{:: postTypes[item.author._type][item.exact_type][item.type] | translate }}</span>
		<a href="{{ basePath }}post/{{ item._id }}" ng-bind="item[item.title ? 'title' : 'text'] | ellipsis:30"></a>

		<span ng-if="showAuthorName && item.author._type === 'User'" title="{{item.author.name}}" ng-bind="'(' + (item.author.name | ellipsis:9) + ')'"></span>
	</div>

	<div class="display-flex" ng-if="item.owner_id === loggedUser._id">
		<button type="button" class="touchable" title="{{'POST.ACTION_RESUME' | translate}}" ng-if="!isPostActive(item)" ng-click="pauseToggle(item)">
			<i class="fa" ng-class="{'fa-refresh': item.state == 'expired', 'fa-play': item.state == 'suspended'}"></i>
		</button>
		<button type="button" class="touchable" title="{{'POST.ACTION_SUSPEND' | translate}}" ng-if="isPostActive(item)" ng-click="confirmBox({title: 'POST.SUSPEND.LABEL', text: 'POST.SUSPEND.ARE_YOU_SURE', callback: pauseToggle, params: item, callbackScope: this})">
			<i class="fa fa-pause"></i>
		</button>
		<button type="button" class="touchable" title="{{'POST.REMOVE.LABEL' | translate}}" ng-click="confirmBox({title: 'POST.REMOVE.LABEL', text: 'POST.REMOVE.ARE_YOU_SURE', callback: deleteItem, params: item, callbackScope: this})">
			<i class="fa fa-times"></i>
		</button>
	</div>

</div>
