<div class="dropdown-wrapper">
  <div class="display-inline-block touchable-wrapper margin-left-none position-relative" ng-if=":: !mine">
    <div bubble-placeholder="bookmark-reminder"></div>
    <div bubble-placeholder="hide-post"></div>
    <span ng-click="removeReminder({event: $event, type: 'hide_post', reason: 'dropdown-arrow-click'}); removeReminder({event: $event, type: 'bookmark', reason: 'dropdown-arrow-click'}); analytics('Dropdown clicked');" class="action-dropdown touchable touchable-small  padding-vertical-none margin-left-medium round gray"
            title="{{:: 'POSTS.DETAIL.EXPAND_MORE_INFO' | translate }}" dropdown="#more-actions-{{:: item._id}}" test-beacon="marketplace-item-dropdown-toggle">
      <i class="fa fa-fw fa-chevron-down"></i>
    </span>
  </div>
  <ul class="actions-dropdown text-left" id="more-actions-{{:: item._id }}" style="display:none;">
    <li>
      <!-- bookmark post -->
      <a ng-if="! mine && item.is_bookmarked" ng-click="ItemAux.removeItemFromBookmarks(item);  analytics('Unbookmark clicked');" test-beacon="marketplace-item-remove-bookmark">{{:: 'MARKETPLACE.POST.UNBOOKMARK_POST' | translate }}</a>
      <a ng-if="! mine && !item.is_bookmarked " ng-click="ItemAux.addItemToBookmarks(item); analytics( 'Bookmark clicked');" test-beacon="marketplace-item-add-bookmark">{{:: 'MARKETPLACE.POST.BOOKMARK_POST' | translate }}</a>
      <!-- /bookmark post -->
    </li>
    <li>
      <!-- flag post -->
      <a ng-if="! mine && item.spam_reported" title="{{:: 'REPORT_HARMFUL_AD_ONLY_ONCE' | translate}}" tipsy disabled>{{:: 'MARKETPLACE.POST.FLAG_POST' | translate }}</a>
      <a ng-if="! mine && !item.spam_reported" title="{{:: 'REPORT_HARMFUL_AD' | translate}}" ng-click="openReportBox(item)" test-beacon="marketplace-item-flag">{{:: 'MARKETPLACE.POST.FLAG_POST' | translate }}</a>
      <!-- /flag post -->
    </li>
    <li>
      <!-- hide post -->
      <a ng-if="!mine && !item.is_hidden" title="{{:: 'HIDE_AD' | translate}}" ng-click="confirmBox('POST.HIDE.LABEL', 'POST.HIDE.ARE_YOU_SURE', ItemAux.hideItem, item, this)">{{:: 'MARKETPLACE.POST.HIDE_POST' | translate }}</a>
      <!-- /hide post -->
    </li>
    <li>
      <a ng-if=":: ! mine && item.admin_communities.length" title="{{:: 'MARKETPLACE.POST.REMOVE_FROM_COMMUNITY' | translate}}" ng-click="removeItemFromCommunity(item)">{{:: 'MARKETPLACE.POST.REMOVE_FROM_COMMUNITY' | translate }}</a>
    </li>

    <!-- admin only -->
    <li ng-if=':: userHasRight("post.suspend") && isActive'>
      <hr />
    </li>
    <li ng-if=':: userHasRight("post.suspend") && isActive'>
      <a class='elevated-authority-function' ng-click="(isActive ? ItemAux.confirmSuspend(item, this) : pauseToggle(item, 'confirm-pause-' + item._id))">
        <span ng-if="isActive">{{:: "POST.SUSPEND.LABEL" | translate }}</span>
        <span ng-if="!isActive">{{:: "POST.RESUME.LABEL" | translate }}</span>
      </a>
    </li>
    <!-- TODO: in future there will be another user privilegs then post.suspend -->
    <li ng-if=':: userHasRight("post.suspend")'>
      <a ng-if=":: !item.is_followed" class="elevated-authority-function" ng-click="followItem(item)">{{:: "POST.FOLLOW.LABEL" | translate}}</a>
      <a ng-if=":: item.is_followed" class="elevated-authority-function" ng-click="unfollowItem(item)">{{:: "POST.UNFOLLOW.LABEL" | translate}}</a>
    </li>
    <li ng-if=':: userHasRight("post.suspend")'>
      <hr />
      <span>{{:: "CHARACTER" | translate}}:
         <span ng-repeat="itemEntry in item.character">
            <span ng-repeat="postCharEntry in postCharacter | filter : { name:itemEntry }">{{ postCharEntry.translate | translate }}</span>
         </span>
      </span>
    </li>
    <li ng-if=':: userHasRight("post.suspend")'>
      <span>{{:: "USER_LANGUAGE" | translate}}: {{:: postLanguage}} </span>
    </li>
    <!-- /admin only -->
  </ul>
</div>