<div>
  <div class="flex-grid info-bubble-content">
    <!-- <avatar type="vm.model._type" src="vm.avatar.large"></avatar> -->
    <i class="fa fa-3x fa-map-marker error"></i>
    <div>
      <h1 class="header-6 margin-bottom-none" ng-bind="vm.model.short_address"></h1>
      <span class="text-muted" ng-bind="vm.model.country"></span>
    </div>
  </div>
  <hr class="margin-none" />
  <div class="flex flex-space-between info-bubble-content">
    <a ng-if="(vm.model.post_count.offers + vm.model.post_count.needs)" ui-sref="search({location: vm.model.short_address})" class="button tertiary" translate="POST.GIFT_WISH_COUNT.{{ vm.pluralCat(vm.model.post_count.offers + vm.model.post_count.needs) }}" translate-values="{count: (vm.model.post_count.offers + vm.model.post_count.needs)}"></a>
  </div>
  <div class="flex flex-align-top">
    <a ng-repeat="item in vm.model.infoBubble.recent_images | limitTo:5" ng-if="item.post_id" ui-sref="post({id: item.post_id})">
      <img class="info-bubble-img" ng-src="{{:: item.normal }}" onerror="this.style.display='none'" />
    </a>
  </div>
</div>