<div>
  <div class="flex-grid info-bubble-content">
    <avatar type="vm.model._type" src="vm.model.avatar.normal"></avatar>
    <div>
      <div class="block">
        <h1 class="header-6 margin-bottom-none">{{vm.model.name}}</h1>
        <div class="text-muted text-small">
          <!-- <span translate="PROFILE.RATING.COUNT.{{ vm.pluralCat(vm.model.down_votes + vm.model.up_votes) }}" translate-values="{count: (vm.model.down_votes + vm.model.up_votes)}"></span> -->
          <a ui-sref="community.subview({id: vm.model._id, page: 'members'})" class="nowrap" ng-if="vm.model.infoBubble" translate="COMMUNITY.MEMBERS.{{ vm.pluralCat(vm.model.infoBubble.member_count) }}" translate-values="{count: vm.model.infoBubble.member_count}"></a>
          <span ng-show="vm.model.infoBubble.locations.length">
            <span>&bull;</span>
            <span ng-bind="vm.model.infoBubble.locations[0].short_address"></span>
          </span>
          <span ng-if="vm.model.infoBubble.is_private === true">
              <span>&bull;</span>
              <i class="fa fa-lock" title="{{'COMMUNITY.PRIVACY.FOR_MEMBERS_ONLY' | translate }}"></i>
            </span>
        </div>
      </div>
      <p  >
          
      </p>
      <div ng-bind="vm.model.infoBubble.about_shortened">
      </div>
    </div>
  </div>

  <div ng-if="!vm.detailLoaded" class="info-bubble-content text-center">
    <i class="text-muted fa fa-spin fa-spinner"></i>
  </div>
  <div ng-if="vm.moreAvailable">
    <hr class="margin-none" />
    <div class="info-bubble-content">
      <div class="flex flex-space-between flex-divided-medium">
        <div>
          <button ng-if="vm.model.infoBubble.post_count.offers || vm.model.infoBubble.post_count.needs" ui-sref="community.subview({id: vm.model._id, page: 'posts'})" class="button tertiary" translate="POST.GIFT_WISH_COUNT.{{ vm.pluralCat(vm.model.infoBubble.post_count.offers + vm.model.infoBubble.post_count.needs) }}" translate-values="{count: (vm.model.infoBubble.post_count.offers + vm.model.infoBubble.post_count.needs)}"></button>
        </div>
        <div>
          <a href="" ng-if="!vm.model.infoBubble.is_member && !vm.model.infoBubble.is_applicant" translate="COMMUNITY.ACTION_APPLY_FOR_MEMBERSHIP" ng-click="vm.join({communityId: vm.model._id})"></a>
          <span ng-if="vm.model.infoBubble.is_applicant" translate="COMMUNITY.APPLY_FOR_MEMBERSHIP_SENT"></span>
          <span ng-if="vm.model.infoBubble.is_member" translate="PROFILE.YOU_ARE_MEMBER"></span>

          <i ng-if="vm.sendingFollowRequest" class="fa fa-spin fa-spinner"></i>
          <span>&bull;</span>
          <a ui-sref="community.default({id: vm.model._id})" translate="PROFILE.ACTION_PROFILE"></a>
        </div>
      </div>
      <div class="flex flex-align-top">
        <a ng-repeat="item in vm.model.infoBubble.recent_images | limitTo:5" ng-if="item.post_id" ui-sref="post({id: item.post_id})">
          <img class="info-bubble-img" ng-src="{{:: item.normal }}" onerror="this.style.display='none'" />
        </a>
      </div>
    </div>
  </div>
</div>
