<div ng-include="'assets/pages/community/subviews/membersPanel.html'"></div>
<div class="large-8 small-12 medium-12 no-result large-centered columns text-center" ng-if="subPageLoaded && ! data.length">
	<p translate="COMMUNITY.MEMBERS.NO_APPLICATIONS"></p>
</div>
<div class="community-applications-list" ng-if="subPageLoaded" when-scrolled="loadBottom()" offset="500" loading-in-progress="loadingData">
	<div ng-repeat="(id, item) in data track by item._id" ng-init="item.prevDate = ($index > 0) ? data[$index-1].followed_since : null">
		<div class="application small-12 medium-12 large-6 columns" ng-class="{'end': $last, 'large-12': data.length === 1}">
			<div class="position-relative">
				<div info-bubble=":: item" info-bubble-type="'User'">
					<avatar class="left block" href="getProfileLink(item._type,item._id)" src="item.avatar.normal" type="item._type"></avatar>
				</div>
				<div class="applications-text">
					<a href="{{:: getProfileLink('User', item._id) }}">
						{{:: item.name | ellipsis}}
						<br>
						<small translate="COMMON.SHOW_PROFILE"></small>
					</a>
				</div>
				<div class="applications-buttons">
					<a ng-click="approveApplication(item._id)" title="{{:: 'COMMUNITY.MEMBERS.ACTION_ACCEPT' | translate }}" class="yes">
						<i class="fa fa-check"></i>
					</a>
					<a ng-click="rejectApplication(item._id)" title="{{:: 'COMMUNITY.MEMBERS.ACTION_REJECT' | translate }}" class="no">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div loading show="!subPageLoaded"></div>
