<div class="medium-flex-grid community-listings" ng-if="subPageLoaded">

	<div class="flex-4" style="order: 2">

		<div class="user-about box block">
			<div class="display-flex flex-align-start">
				<h3><span translate="COMMUNITY.MEET_COMMUNITY"></span> {{ info.name }}</h3>
				<div class="show-for-small-only margin-left-medium">
					<button class="touchable" type="button" ng-click="aboutShown = !aboutShown">
					  <i class="fa" ng-class="aboutShown ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
          </button>
				</div>
			</div>

			<div ng-class="aboutShown ? '' : 'show-for-medium'">
				<div class="block">
					<user-intel-readout entity="info"></user-intel-readout>
					<div class="descr reg-date">
						<i class="fa fa-asterisk"></i>
						<span translate="COMMUNITY.PROFILE.HAS_BEEN_REGISTERED"></span> {{ info.created_at | ago }}
					</div>
				</div>
				<div class="display-flex flex-space-between">
					<div class="display-flex">
						<div>
							<a tabindex="0" class="bold" ng-if="!communityService.isMyCommunity(info, {checkIfIAmAdmin: true})" ng-click="sendMessage(info)" translate="COMMUNITY.ACTION_SEND_MESSAGE_TO_ADMIN"></a>
						</div>
						<div class="margin-top-small">
							<a tabindex="0" class="bold" ng-if="communityService.isMyCommunity(info, {checkIfIAmAdmin: true}) || (!communityService.isMyCommunity(info, {checkIfIAmAdmin: true}) && communityService.isMyCommunity(info) && info.allow_message_to_members)" ng-click="sendMessage(info, {toAllMembers: true})" translate="COMMUNITY.ACTION_SEND_MESSAGE_TO_ALL_MEMBERS"></a>
						</div>
					</div>
					<div class="social">
						<a target="_blank" ng-if="info.twitter" href="{{:: info.twitter}}">
							<i class="fa fa-twitter-square"></i>
						</a>
						<a target="_blank" ng-if="info.facebook" href="{{:: info.facebook}}">
							<i class="fa fa-facebook-square"></i>
						</a>
						<a target="_blank" ng-if="info.googleplus" href="{{:: info.googleplus}}">
							<i class="fa fa-google-plus-square"></i>
						</a>
						<a target="_blank" ng-if="info.linkedin" href="{{:: info.linkedin}}">
							<i class="fa fa-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

    <div class="box block show-for-medium">
      <h3>
        <span translate="COMMUNITY.POSTS.TITLE"></span>
        <a ng-if="mine || info.is_member" class="create-ad-sig fright" ng-click="addItem()" title="{{:: 'MARKETPLACE.ACTION_CREATE_POST' | translate}}">
          <i class="fa fa-plus-square"></i>
        </a>
      </h3>

      <div class="clear"></div>
      <div ng-if="mine">
        <div ng-if="!posts.data.length && !info.post_total" translate="COMMUNITY.POSTS.NO_POSTS_YET"></div>
        <div ng-if="!posts.data.length && info.post_total > 0" translate="COMMUNITY.POSTS.INACTIVE_POSTS_ONLY"></div>
      </div>
      <div ng-if="!mine">
        <p ng-if="!posts.data.length" translate="COMMUNITY.POSTS.NO_POSTS_YET"></p>
      </div>
      <div class="margin-bottom-small" ng-include="'assets/components/item/itemSmall.html'" ng-repeat="(id, item) in posts.data track by item._id" ng-init="hidePost = !mine; showAuthorName = true"></div>
      <div class="buttons" ng-if="posts.data.length > 0 || (info.post_total > 0 && mine)">
        <a href="{{:: communityLink }}/posts">
          <button class="button">
            <i class="fa fa-angle-double-right"></i> 
            <span translate="PROFILE.POSTS.ALL">
          </button>
        </a>
      </div>
    </div>

	</div>

	<div class="flex-6 timeline-wrapper-max-width">

		<div class="box applications block" ng-if="mine && applications.length">
			<div>
				<h3 class="small-8 fleft" translate="COMMUNITY.MEMBERS.NEW_APPLICATIONS"></h3>
				<div class="clear"></div>
				<div ng-repeat="(id, item) in applications track by item._id" class="application" ng-init="item.prevDate = ($index > 0) ? applications[$index-1].followed_since : null">
					<div class="position-relative">
						<div info-box="item" infobox-class="'on-profile'">
							<avatar class="left block" href="getProfileLink(item._type, item._id)" src="item.avatar.normal" type="item._type"></avatar>
						</div>
						<div class="applications-text">
							<a href="{{:: getProfileLink('User', item._id)}} ">
								{{:: item.name | ellipsis}}
							</a>
							<br>
							<a href="{{:: getProfileLink('User', item._id)}} ">
								<small translate="COMMON.SHOW_PROFILE"></small>
							</a>
						</div>
						<div class="applications-buttons">
							<a ng-click="approveApplication(item._id)" title="{{:: 'COMMUNITY.MEMBERS.ACTION_ACCEPT' | translate }}" class="yes">
								<i class="fa fa-check"></i>
							</a>
							<a ng-click="rejectApplication(item._id)" title="{{:: 'COMMUNITY.MEMBERS.ACTION_REJECT' | translate }}" class="no">
								<i class="fa fa-times"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="margin-top-small">
					<a href="{{:: communityLink }}/applications">
						<button class="button">
							<i class="fa fa-angle-double-right"></i> 
							<span translate="COMMUNITY.MEMBERS.SHOW_ALL_APPLICATIONS"></span>
						</button>
					</a>
				</div>
			</div>
		</div>

		<div class="box block" ng-if="!info.is_member && info.terms">
			<h3 translate="COMMUNITY.PROFILE.TERMS"></h3>
			<p ng-bind-html="info.terms | linky:'_blank':{rel: 'nofollow'} | nl2br"></p>
		</div>

    <div class="box block">
      <h3 translate="COMMUNITY.ACTIVITY.TITLE"></h3>
      <p ng-if="mine && ! activityLog.length" translate="COMMUNITY.ACTIVITY.NO_ACTIVITY_ME"></p>
      <p ng-if="! mine && ! activityLog.length" translate="COMMUNITY.ACTIVITY.NO_ACTIVITY_OTHER"></p>

      <div ng-if="activityLog.length">
        <timeline timeline-items="activityLog" load-next="loadCommunityActivities()"></timeline>
				<div loading show="activityLogFetchRunning" class="margin-top-large"></div>
      </div>
    </div>

	</div>

</div>
<div loading show="!subPageLoaded"></div>
