<div class="bottom-tabs"></div>
<div class="clear"></div>
<div ng-show="subPageLoaded" ng-init="manualInit()">


	<div class="large-8 small-12 medium-12 no-result large-centered columns text-center" ng-if="loaded && mine && ! communityPostCount.active && ! communityPostCount.inactive">
		<div class="item">
			<p translate="COMMUNITY.POSTS.NO_POSTS_ADMIN"></p>
			<p>
				<a ng-if="mine" class="create-ad-sign" ng-click="editItem(null)">
					<b translate="MARKETPLACE.ACTION_CREATE_POST"></b>
				</a>
			</p>
		</div>
	</div>

	<div class="large-8 small-12 medium-12 no-result large-centered columns text-center" ng-if="loaded && ! mine && !communityPostCount.active">
		<div class="item">
			<p translate="COMMUNITY.POSTS.NO_POSTS_OTHER"></p>
		</div>
	</div>
	<item-list options="communityPostListActiveOptions"></item-list>

	<div ng-if="mine && communityPostCount.inactive" class="ads-listing inactive">
		<h3 translate="PROFILE.POSTS.INACTIVE_TITLE"></h3>
	</div>
	<item-list options="communityPostListInactiveOptions"></item-list>

</div>
<div loading show="!subPageLoaded"></div>
