<div class="overlap"> </div>
<div class="arrowbox"></div>
<div class="arrow"></div>
<div class="content">
	<form ng-submit="sendRating(rating, ratingForm)" id="ratingForm" name="ratingForm" novalidate class="clearfix">
		<h3 translate="PROFILE.RATING.RATE_COMMUNITY"></h3>
		<div class="rating-notify-box"></div>
		<h5 translate="PROFILE.RATING.TITLE"></h5>

		<div class="block">
			<author-selector id="author" author-id="rating.current_community_id" author="rating.current_community" remove="info._id"></author-selector>
		</div>

		<div class="block">
			<needofferselector required-shown='rating.requiredMessageShown' model="rating.score" text-true="{{:: 'PROFILE.RATING.POSITIVE' | translate}}" text-false="{{:: 'PROFILE.RATING.NEGATIVE' | translate}}" icon-true="icon-rating-positive" icon-false="icon-rating-negative"></needofferselector>
		</div>

		<h6 translate="PROFILE.RATING.SELECT_POST.TITLE"></h6>
		<span ng-if="loadingRatingPosts">
			<i class="fa fa-spin fa-spinner"></i> <span translate="COMMON.LOADING"></span>
			<br>
		</span>

		<div class="block">
			<div class="padding-bottom-small" translate="PROFILE.RATING.SELECT_POST.DESCRIPTION"></div>
			<select id="ratingsPostsSelect" ng-model="rating.post_id">
				<option value="" ng-selected="true" translate="PROFILE.RATING.SELECT_POST.DEFAULT"></option>
				<optgroup ng-if="ratingPosts.length && loadedRatingPosts && !loadingRatingPosts" label="{{:: 'PROFILE.RATING.SELECT_POST.COMMON_POSTS' | translate }}">
					<option ng-repeat="post in ratingPosts" title="{{:: post.title}}" value="{{:: post._id }}">
						{{:: postTypes[rating.current_community._id != loggedUser._id ? "Community" : "User"][post.exact_type][post.type] | translate }} {{:: post.title | ellipsis:40 }} ({{post.owner_id === loggedUser._id ? loggedUser.name : info.name}})
					</option>
				</optgroup>
				<optgroup ng-if="ratingActivePosts.length && loadedRatingPosts && !loadingRatingPosts" label="{{:: 'PROFILE.RATING.SELECT_POST.ACTIVE_POSTS' | translate }}">
					<option ng-repeat="post in ratingActivePosts | orderBy: '-updated_at'" title="{{:: post.title}}" value="{{:: post._id }}">
						{{:: postTypes[post.author._type][post.type] | translate }} {{:: post.title | ellipsis:40 }} ({{post.author.name}})
					</option>
				</optgroup>
			</select>
		</div>

		<div class="block" ng-if="(!ratingPosts.length && loadedRatingPosts && !loadingRatingPosts) && (!ratingActivePosts.length && loadedRatingPosts && !loadingRatingPosts)" translate="PROFILE.RATING.SELECT_POST.NO_POSTS"></div>

		<label class="block clearfix">
			<span translate="PROFILE.RATING.WRITE_RATING"></span>
			<textarea autosize-textarea rows="4" style="height: 120px;" name="text" ng-attr-placeholder="{{:: 'PROFILE.RATING.WRITE_RATING_COMMUNITY_PLACEHOLDER' | translate }}" ng-focus="showError.text = false" ng-blur="showError.text = true;" ng-model="rating.text" required class="text-input" ng-minlength="3"></textarea>
			<div class="flex flex-space-between flex-wrap flex-reverse">
				<max-len-counter max-len="300" value="rating.text"></max-len-counter>
				<div class="form-error" ng-show="showError.text">
					<span ng-show="ratingForm.text.$error.required" translate="PROFILE.RATING.NOTIFY.ERROR_NO_FILLED_RATING"></span>
					<span ng-show="ratingForm.text.$error.minlength" translate="PROFILE.RATING.NOTIFY.ERROR_RATING_TOO_SHORT"></span>
				</div>
			</div>
		</label>

		<div class="flex flex-space-between flex-reverse">
			<button type="submit" class="button" ng-class="{ 'positive': rating.score == true, 'negative': rating.score == false, 'neutral': isNull(rating.score)}">
				<span translate="PROFILE.RATING.ACTION_SUBMIT"></span> &nbsp;
				<i class="score-icon fa" ng-hide="isNull(rating.score)" ng-class="{'icon-rating-negative':!rating.score,'icon-rating-positive':rating.score}"></i>
			</button>
			<a ng-click="closeUserRatingForm()" tabindex="0" class="revert-changes" translate="COMMON.ACTION_CANCEL"></a>
		</div>
	</form>
</div>