<div>
  <div>
    <div class="row">
      <div class="column medium-10 medium-push-2" ng-if="opts.found.posts">
        <h3 class="text-center" translate="MARKETPLACE.EXEMPLARY_POSTS"></h3>
      </div>
    </div>
    <item-list options="opts.topListOptions"></item-list>
  </div>

  <!-- <div class="margin-bottom-large" ng-if="!opts.addListOptions.isEmpty">
    <div class="row">
      <div class="column medium-10 medium-push-2">
        <div class="text-center">
          <button class="button secondary" ng-click="showAllExemplaryPosts = true"
                  ng-hide="showAllExemplaryPosts">
            <span translate="POST.EXEMPLARY.NEXT"></span>
          </button>
        </div>
      </div>
    </div>
    <div ng-if="showAllExemplaryPosts">
      <item-list options="opts.addListOptions"></item-list>
    </div>
  </div> -->
</div>

