<article suspendable action-when-visible="logViewActivity({item: item, meta: viewActivityMeta, state: stateName})" class="item-common item-post bubbled" id="post_{{:: item._id }}" ng-class=":: {inactive: !isActive, 'hidden-init': delayedView, 'hiddenAvatar': hideAvatar}" ng-show="!item.is_hidden">
	<div class="row">
		<section ng-if=":: !hideAvatar" class="column medium-2 show-for-medium padding-top-small position-relative">
				<div class="v2 user text-center" info-bubble=":: item.author" info-bubble-type=":: item.author._type">
					<a ng-href="{{:: getProfileLink(item.author._type, item.author._id)}}" history-param-pusher="item._id" class="display-block">
						<avatar class="" type=":: item.author._type" src=":: item.author.avatar.large" thanks=":: item.author.up_votes" show-thanks="true" show-glow="true"></avatar>
					</a>
				</div>
			<!-- </div> -->
			<!-- <div class="item-option-bg-type by-avatar" ng-class="'item-option-bg-' + item.type">
				<i class="fa fa-fw" ng-class="(item.exact_type == 'loan' ? 'fa-clock-o' : 'fa-heart')"></i>
			</div> -->

			<div class="item-option-bg-type by-avatar" ng-if=":: !isInfoGift" ng-class=":: 'item-option-bg-' + (item.exact_type == 'gift' ? item.type : (item.type == 'offer' ? 'lend' : 'borrow'))">
				<i></i>
			</div>
			<div class="item-option-bg-type by-avatar item-option-bg-infogift" ng-if=":: isInfoGift">
				<i class="fa icon-info"></i>				
			</div>
			<div class="v2 user text-center">
				<div class="name" test-beacon="marketplace-item-author-name">{{:: item.author.name}}
					<span ng-if=":: item.author.verified === true" class="verified-icon "><i class="fa fa-fw icon-verified " title="{{ 'PROFILE.IS_VERIFIED' | translate }}" tipsy></i></span>
				</div>
			</div>
		</section>
		<div class="column small-12 medium-10 padding-none position-relative" ng-class=":: {'medium-push-1': hideAvatar}">
			<div class="sharing-container ng-hide" ng-show="showSharing" ng-click="showSharing = false">
				<div class="sharing-container-form">
					<a class="fa touchable fa-times close" ng-click="showSharing = false"></a>
					<h3 translate="POST.SHARE.LINK_TITLE"></h3>
					<div class="input-container medium-display-table">
						<div class="medium-display-table-cell addon">
							<i class="fa fa-link"></i>
						</div>
						<div class="medium-display-table-cell">
							<input type="text" readonly select-on-focus value="{{:: getProfileLink('Post', item._id, true) }}" ng-click="$event.stopPropagation()" />
						</div>
					</div>
					<ul class="no-list">
						<li>
							<a analytics-custom analytics-event="Share" analytics-category="Email" analytics-label="Share post by email" class="fa fa-envelope" title="Email" ng-click="openEmailSharingBox(item)"></a>
						</li>
						<li>
							<a analytics-custom analytics-event="Share" analytics-category="Facebook" analytics-label="Share post on facebook" sharing-window class="fa fa-facebook" title="Facebook" ng-href="{{:: socialLinks.facebook+postAddress}}" target="_blank"></a>
						</li>
						<li>
							<a analytics-custom analytics-event="Share" analytics-category="Twitter" analytics-label="Share post on twitter" sharing-window class="fa fa-twitter" title="Twitter" ng-href="{{:: socialLinks.twitter+postAddress}}" target="_blank"></a>
						</li>
					</ul>
				</div>
			</div>
			<section class="box padding-none" ng-init="marketplace.expanded = false;">
				<div class="box-content">
					<header class="item-section row">
						<div class="column small-8 small-push-4 medium-5 medium-push-7 large-4 large-push-8 text-right nowrap">
							<span class="color-dark-gray" title="{{:: item.updated_at_date }}" tipsy>{{:: item.updated_at_timeago}}</span>
							<div class="display-inline-block" post-dropdown="item"></div>
						</div>
						<div class="column small-4 small-pull-8 hide-for-medium">
							<a ng-if="! hideAvatar" ng-href="{{:: getProfileLink(item.author._type, item.author._id)}}" class="display-inline-block position-relative">
								<avatar class="" type=":: item.author._type" src=":: item.author.avatar.normal" size="small"></avatar>
								<div class="item-option-bg-type by-avatar" ng-class=":: 'item-option-bg-' + item.type">
									<i class="fa fa-fw" ng-class=":: (item.exact_type == 'loan' ? 'fa-clock-o' : 'fa-heart')"></i>
								</div>
							</a>
						</div>
						<div class="column small-12 medium-7 medium-pull-5 large-8 large-pull-4">
							<h1>
								<a ng-href="{{:: getProfileLink('Post', item._id)}}" history-param-pusher='item._id'>
									<span ng-class=":: 'color-' + (isInfoGift ? 'primary' : item.type)" translate="{{:: postTypes[item.author._type][item.exact_type][item.type] }}"></span>
									<span ng-bind=":: item.title" test-beacon="marketplace-item-post-title"></span>
								</a>
							</h1>
							<span class="nowrap text-muted" ng-if=":: isExpiringSoon" translate="POST.STATE.EXPIRING_SOON"></span>
							<div ng-if=":: item.edited_by_admin && userHasRight('post.suspend_any') && !isActive" class="error" translate="POST.STATE.SUSPENDED_BY_ADMIN"></div>
							<span class="fa fa-lock hide-for-community-detail" ng-if=":: item.is_private && (!item.related_communities || !item.related_communities.length)" title="{{:: 'POST.ONLY_FOR_FRIENDS' | translate }}"></span>
						</div>

						<div class="column small-12">
							<div class="pull-left margin-right-tiny hide-for-community-detail" ng-if=":: item.related_communities && item.related_communities.length">
								<span class="fa fa-lock hide-for-community-detail margin-right-tiny" ng-if=":: item.is_private" title="{{:: 'POST.ONLY_FOR_FRIENDS' | translate }}"></span>
								{{:: 'COMMUNITY.COMMUNITY' | translate }} 
								<a ui-sref="community.default({id: item.related_communities[0]._id })" info-bubble=":: item.related_communities[0]" info-bubble-type="::'Community'">{{:: item.related_communities[0].name }}</a> <span ng-if=":: !isInfoGift || !item.location_unlimited" class="hide-for-community-detail">&bull;</span>
							</div>
							<div ng-if="item.location_unlimited && !isInfoGift" class="hide-for-community">
								<i class="fa icon-spendlik"></i>&nbsp;
								<span translate="POST.LOCATION.ANYWHERE"></span>
							</div>
							<div ng-if=":: !item.location_unlimited && !isInfoGift">
								<span ng-repeat="(locationId, location) in :: item.locations track by $index">
									<span ng-if=":: location.short_address">
										<i class="fa icon-spendlik" ng-if=":: $first"></i>&nbsp;{{:: location.short_address }}
										<span ng-if=":: !$last">;</span>
									</span>
								</span>
							</div>
						</div>
					</header>

					<div class="item-section text-container word-wrap">
						<p class="margin-none" ng-if="item.text.length < 270 || marketplace.expanded == true" ng-bind-html=":: item.text_parsed" test-beacon="marketplace-item-text"></p>
						<p class="margin-none" ng-if="item.text.length >= 270 && !marketplace.expanded">
							<span ng-bind-html=":: item.text_short_parsed"></span>
							<a ng-click="marketplace.expanded = true; logPostTextToggle({action: 'expanded', post: item})">
								<b ng-class="'color-' + item.type" translate="POST.ACTION_SHOW_MORE"></b>
							</a>
						</p>
					</div>
					<ul lemmon-slider fancybox="{{:: item._id}}" ng-if="item.attachments_attributes.length" class="item-section">
						<li ng-repeat="photo in :: item.attachments_attributes track by $index">
							<a class="fancy" ng-href="{{:: photo.large }}" rel="{{:: item._id}}">
								<img class="post-image" data-src="{{:: photo.normal}}" event-emitter="{event: 'initLemmonSlider', data: {isLast: $last}, waitFor: 'load'}" lazy-render/>
							</a>
						</li>
					</ul>
        			<div class="item-section tags" ng-class="{'tagsActive': !inactivateTags}" ng-if=":: item.keywords.length">
						<ul class="tagList">
							<li ng-click="toggleTag(tag)" ng-class=":: {active: keywords.indexOf(tag) !== -1}" ng-repeat="tag in :: item.keywords track by $index" ng-bind=":: tag" test-beacon="marketplace-keywords"></li>
						</ul>
					</div>

					<div class="item-section tags" ng-if=":: item.categories.length > 0 && userHasRight('post.suspend_any')">
						<ul class="tagList color-dark-gray">
							<li ng-repeat="category in :: item.categories track by $index" ng-bind=":: category"></li>
						</ul>
					</div>
				</div>
				<footer>
					<div class="medium-flex flex-space-between footer-item footer-item-bordered">
						<div class="a-display-table-cell vertical-align-middle">
							<div class="display-flex flex-wrap">
								<div class="padding-right-large" ng-if=":: mine">
									<div class="touchable-wrapper">
										<a class="touchable" title="{{:: 'POST.ACTION_EDIT' | translate}}" ng-click="edit(item)" tipsy>
											<i class="fa fa-fw fa-pencil"></i>
										</a>
										<a class="touchable" title="{{:: 'POST.ACTION_RESUME' | translate}}" ng-if=":: !isActive" ng-click="pauseToggle(item, 'confirm-pause-'+item._id)" tipsy>
											<i class="fa fa-fw" ng-class=":: {'fa-refresh': item.state == 'expired', 'fa-play': item.state == 'suspended'}"></i>
										</a>
										<a class="touchable" title="{{:: 'POST.ACTION_SUSPEND' | translate}}" ng-if="isActive" ng-click="confirmBox({title: 'POST.SUSPEND.LABEL', text: 'POST.SUSPEND.ARE_YOU_SURE', callback: pauseToggle, params: item, callbackScope: this})" tipsy>
											<i class="fa fa-fw fa-pause"></i>
										</a>
										<a class="touchable" title="{{:: 'COMMON.ACTION_REMOVE' | translate}}" ng-click="confirmBox({title: 'POST.REMOVE.LABEL', text: 'POST.REMOVE.ARE_YOU_SURE', callback: deleteItem, params: item, callbackScope: this})" tipsy>
											<i class="fa fa-fw fa-times"></i>
										</a>
										<a class="touchable show-on-profile-only hide-for-community" title="{{:: (item.is_pinned ? 'POST.ACTION_UNPIN' : 'POST.ACTION_PIN') | translate}}" ng-click="PostAux.togglePinPost(item)" tipsy>
											<i class="fa fa-fw icon-spendlik" ng-class="{ 'color-primary': item.is_pinned }"></i>
										</a>
									</div>
								</div>
								<div class="padding-right-large" ng-if="!isInfoGift && ((!item.is_replied && !mine) || (item.is_replied))">
									<button ng-if="!item.is_replied && !mine" ng-click="PostAux.replyItem(item); analytics('Reply clicked');" class="button" ng-class=":: item.type" ng-bind-html=":: replyLabel[item.type] | translate"></button>
									<span ng-if="item.is_replied" translate="POST.NOTIFY.YOU_ALREADY_REPLIED"></span>
								</div>
								<div class="padding-right-large" ng-if="isInfoGift && !mine">
									<button ng-click="item.commentsShown = true; PostAux.focus('#post_' + item._id + ' [comments-focusser]')" class="button" ng-bind-html="'POST.COMMENT.ACTION_ADD' | translate"></button>
								</div>
								<div>
									<div ng-if="item.reply_count && mine">
										<a class="text-decoration-underline" ng-href="{{getProfileLink('Post', item._id) }}#replies" ng-bind-html="item.replied_by_string"></a>
									</div>
									<!-- experiment: if date is unlimited, show reply count -->
									<div ng-if="item.valid_until == 'unlimited' && item.reply_count && !mine && !isInfoGift" ng-bind-html="item.replied_by_string"></div>
									<!-- end of experiment -->
									<!-- <div ng-if="!item.reply_count && mine" test-beacon="marketplace-reply" translate="POST.DETAIL.NO_REPLY"></div> -->
								</div>
							</div>
						</div>
						<div class="a-display-table-cell addon vertical-align-top text-align-right" id="open-sharing-options">
							<div class="flex flex-divided-medium">
								<div class="flex">
									<a href="" class="touchable" ng-class="{'touchable-blue': max(item.comments.length, item.comments_count) > 0 }" ng-click="item.commentsShown = !item.commentsShown; focus('#post_' + item._id + ' [comments-focusser]')" translate-attr="{title: 'POST.COMMENTS.ACTION_TOGGLE'}">
										<i class="fa fa-fw icon-bublina-out" ng-if="max(item.comments.length, item.comments_count) == 0"></i>
										<i class="fa fa-fw icon-bublina" ng-if="max(item.comments.length, item.comments_count) > 0"></i>
									</a>
									<span ng-class="{'touchable-blue bold': max(item.comments.length, item.comments_count) > 0}" ng-show="max(item.comments.length, item.comments_count) > 0" ng-bind="max(item.comments.length, item.comments_count)"></span>
								</div>
								<a class="touchable" ng-click="showSharing = !showSharing; scrollToElement('#post_' + item._id + '.sharing-container-form', null, 140); analytics('Sharing clicked');" title="{{ 'POST.SHARE.LINK_TITLE' | translate }}">
									<i class="fa fa-fw icon-sdilet"></i>
								</a>
								<div heart item="item"></div>
							</div>
						</div>
					</div>

					<div ng-if="item.commentsShown">
						<p class="margin-medium margin-left-large" translate="AUTH.NOTIFY.LOGIN_REQUIRED" ng-if="!loggedUser._id"></p>
						<post-comments model="item.comments" post-id="item._id" limit-comments="5" ng-if="loggedUser._id"></post-comments>
					</div>

				</footer>
			</section>
		</div>
	</div>
</article>