
<div class="large-8 columns">
<p><strong>Dělá ti Hearth radost?</strong> Poznáváš tu fajn lidi? Máš dobrý pocit z každé vydařené „štědroviny“? Tak ho podpoř a pošli radost dál!</p>

<p>Hearth je pro všechny <strong>zdarma a bez reklam</strong>. Je to možné jen díky finanční podpoře Libora Malého. Postupně se k němu přidávají uživatelé. A teď můžeš i Ty.</p>
</div>
<div class="large-4 columns">
LOGO
</div>

<div class="large-12 columns i-want">
	<img src="./images/icons/money.svg" width="60" style="float: right;" />
	<div class="indent" style="margin-right: 0; margin-left: 0;">
		<h3 style="margin-bottom: 0.5em; font-size: 125%;">Přispěj finančně</h3>
		<p>Pošli nám jednorázový příspěvek nebo si nastav pravidelnou platbu. V jaké výši? To je na tobě. Jakákoliv podpora se počítá a jediné měřítko může být třeba dobrý pocit v břiše.</p>
		<a class="button give-money" style="text-align: center; float: none; width: 150px;" ng-click="openModal('support-us-modal-pay');">Chci přispět</a>
	</div>
	
</div>

<hr />

<div class="large-12 columns i-want">
	<img src="./images/icons/handshake.svg" width="60" style="float: right;" />
	<div class="indent" style="margin-right: 160px; margin-left: 0;">
		<h3 style="margin-bottom: 0.5em; font-size: 125%;">Přidej ruku k dílu</h3>
		<p>Teda spíš hlavu. Vývoj webu je běh na dlouhou trať. Ze všeho nejvíc proto potřebujeme dobrovolníky, co se vyznají v těchto šifrách: Ruby, AngularJS, NoSQL MongoDB, Redis a Heroku. </p>
		<a class="button write-email" style="float: left; width: 150px;" ng-click="openModal('support-us-modal-write-us');">Jdu do toho</a>
	</div>
</div>

<hr />

<div class="large-12 columns i-want">
	<div class="no-indent">
		<h3 style="margin-bottom: 0.5em; font-size: 125%;">Dej o nás vědět</h3>
		<p>Že máš k IT daleko? Nevadí. Určitě máš kolem sebe lidi, kteří o Hearthu ještě nevědí. Představ jim myšlenku sdílení, pozvi je do Hearthu a pošli radost dál.</p>
	</div>
</div>

<div class="i-want-more">
	<div class="large-4 columns">
		<div class="panel get-badge">
			<h3>Napiš si o placky a samolepky</h3>
			<img src="./images/icons/hearth.svg"/>
			<a href="" ng-click="openModal('support-us-modal-badge');" class="button">Chci samolepky</a>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel print-flyer">
			<h3>Vytiskni si leták</h3>
			<img src="./images/icons/print.svg"/>
			<a href="" ng-click="openModal('support-us-modal-print');" class="button">Chci leták</a>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel get-widget">
			<h3>Přidej logo do své stránky</h3>
			<img src="./images/icons/window.svg"/>
			<a href="" ng-click="openModal('support-us-modal-widget');" class="button">Chci odkaz</a>
		</div>
	</div>
</div>


<div style="clear: both;">
	<br><br>
	<strong>Děkuji, že spolu s námi děláš svět zase o kousek lepší a laskavější. </strong></p>
	<p>Tvůj Hearth.net</p>
</div>




<script type="text/ng-template" id="support-us-modal-widget">
	<div class="support-us-modal-widget formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Přidej logo do své stránky' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate>
			<p>Zkopíruj uvedený HTML kód a vlož jej do svého webu. <a href="feedback">Pro více informací nás kontaktuj.</a></p>

				<div class="small-5 columns">
					<img src="images/logo-dark.png">
				</div>
				<div class="small-7 columns">
					<textarea><img src="https://hearth.net/app/images/logo-dark.png" width="150"></textarea>
				</div>
				<p>Přidat ještě oranžové logo.</p>
				<div class="small-5 columns">
					<img src="images/logo.png" style="background:#7c766a; padding:5px;">
				</div>
				<div class="small-7 columns">
					<textarea><img src="https://hearth.net/app/images/logo.png" width="150"></textarea>
				</div>

				<br style="clear:both;">
				<div class="display-flex flex-reverse flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>


<script type="text/ng-template" id="support-us-modal-print">
	<div class="support-us-modal-print formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Vytiskni si leták' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate autofocus>
				<p>Vytiskni si leták a pochlub se jím svým přátelům. Určitě také rádi přijdou do Hearth.net.</p>
				<div class="small-6 columns text-center">
					<a href="" target="_blank">
						<b>A4</b>
						<br><br>
						<i class="fa fa-file-pdf-o" style="font-size:50px;"></i>
						<br><br>
						PDF, 930 kB
					</a>
				</div>
				<div class="small-6 columns text-center">
					<a href="" target="_blank">
						<b>A6</b>
						<br><br>
						<i class="fa fa-file-pdf-o" style="font-size:50px;"></i>
						<br><br>
						PDF, 650 kB
					</a>
				</div>
				<br style="clear:both;">
				<div class="display-flex flex-reverse flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>

<script type="text/ng-template" id="support-us-modal-badge">
	<div class="support-us-modal-badge formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Napiš si o placky a samolepky' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate autofocus>
				<p>Díky, že Hearthu pomáháš šířit radost dál.</p>
				<p>Doplnit počet kusů u placek a samolepek, doplnit e-mail. Srazit na jeden řádek.</p>
				
				<label for="fullname">{{'Jméno' | translate}}</label>
				<input id="fullname" type="text" name="fullname" class="" class="form-control text-input top" required placeholder="Jméno"/>
				<label for="street">{{'Ulice a číslo' | translate}}</label>
				<input id="street" type="text" name="street" class="" class="form-control text-input top" required placeholder="Ulice"/>
				<label for="city">{{'Město' | translate}}</label>
				<input id="city" type="text" name="city" class="" class="form-control text-input top" required placeholder="Město"/>
				<label for="psc">{{'PSČ' | translate}}</label>
				<input id="psc" type="text" name="psc" class="" class="form-control text-input top" required placeholder="PSČ"/>
				<label for="type">{{'Co chci:' | translate}}</label>
				<span style="display:inline-block; width:25px;"></span>
				<checkbox model="type" on-update="void()" value="placky">Placky</checkbox>
				<span style="display:inline-block; width:25px;"></span>
				<checkbox model="type" on-update="void()" value="samolepky">Samolepky</checkbox>
				<br>

				<br style="clear:both;">
				<div class="display-flex flex-reverse flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>


<script type="text/ng-template" id="support-us-modal-write-us">
	<div class="support-us-modal-write-us formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Přidej ruku k dílu' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate autofocus>
				<p>Moc děkujem, že chceš Hearthu pomoct. Nech nám svůj kontakt a my se ti ozveme.</p>
				<textarea placeholder="Tvůj tajný vzkaz..."></textarea>
				<input placeholder="Tvůj e-mail" />
				<br style="clear:both;">
				<div class="display-flex flex-reverse flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>

<script type="text/ng-template" id="support-us-modal-pay">
	<div class="support-us-modal-pay formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Přispěj finančně' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate autofocus>
				<p>Pošli love. S láskou a díky. Tvůj Hearth. :)</p>
				<br style="clear:both;">
				<div class="display-flex flex-reverse flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>