<div class="large-7 columns">
<p><strong>Dělá ti Hearth radost?</strong> Poznáváš tu fajn lidi? Budeme šťastní, pokud se k nám přidáš a pomůžeš dalším lidem otevřít jejich srdce.</p>

<p>Hearth je pro všechny <strong>zdarma a bez reklam</strong>. Je to možné díky finanční podpoře Libora Malého a bude to možné, když se k nám přidáš i Ty!</p>
</div>

<div class="large-5 columns hide-for-small">
	<img src="./images/banner/corner-crowdsource.png" class="right"/>
</div>

<div class="large-12 columns i-want">
	<div class="large-3 columns center text-center">
		<img src="./images/banner/crowdsource1.jpg" width="130" height="130" class="round"/>
	</div>
	<div class="large-9 columns">
		<h3>Přispěj finančně</h3>
		<p>Jednorázově, opakovaně nebo pravidelně v jakékoliv výši, kterou si sám zvolíš.<br>Dobro nelze přepočítat na koruny, přesto víme, že každý dar pro Hearth má velkou hodnotu.</p>
		<a class="button give-money text-center" ng-click="openModal('support-us-modal-pay');">Daruji pro Hearth</a>
	</div>
	
</div>

<hr />

<div class="large-12 columns i-want">
	<div class="large-3 columns center text-center">
		<img src="./images/banner/crowdsource2.jpg" width="130" height="130" class="round"/>
	</div>
	<div class="large-9 columns">
		<h3>Vytvářej s námi</h3>
		<p>Jestli se vyznáš v těchto šifrách: Ruby, AngularJS, NoSQL MongoDB, Docker, Redis a Heroku a chceš nám dát třeba i pár hodin svého času a zkušeností, rádi tě přivítáme do našeho týmu. </p>
		<a class="button write-email" ng-click="openModal('support-us-modal-write-us');">Jdu do toho</a>
	</div>
</div>

<hr />

<div class="large-12 columns i-want">
	<div class="large-3 columns center text-center">
		<img src="./images/banner/crowdsource3.jpg" width="130" height="130" class="round"/>
	</div>
	<div class="large-9 columns">
		<h3>Dej o nás vědět</h3>
		<p>Pokud máš možnost představit štědrou sociální síť lidem okolo sebe a pozvat je do Hearth.net, rádi ti s tím pomůžeme. Pro začátek máme tři možnosti a vyber si, kterou začneš.</p>
		<div class="i-want-more">
			<div class="large-4 columns">
				<div class="panel print-flyer">
					<h3>Vytiskni leták</h3>
					<img src="./images/icons/print.svg"/>
					<a href="" ng-click="openModal('support-us-modal-print');" class="button">Stáhnu leták</a>
					<br style="clear:both">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="panel get-widget">
					<h3>Přidej logo do své stránky</h3>
					<img src="./images/icons/window2.svg"/>
					<a href="" ng-click="openModal('support-us-modal-widget');" class="button">Stáhnu logo</a>
					<br style="clear:both">
				</div>
			</div>
			<div class="large-4 columns">
				<div class="panel get-badge">
					<h3>Napiš si o placky a samolepky</h3>
					<img src="./images/icons/hearth.svg"/>
					<a href="" ng-click="openModal('support-us-modal-badge');" class="button">Chci placky</a>
					<br style="clear:both">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clearfix large-12 columns text-center">
	<br><br>
	<strong>Děkuji za tvé otevřené srdce, díky němu je svět kolem zas o kousek lepší a laskavější.</strong></p>
	<p>Tvůj Hearth.net</p>
</div>








<!--- modals ------>
<script type="text/ng-template" id="support-us-modal-widget">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Přidej logo do své stránky' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate>
			<p>Zkopíruj uvedený HTML kód a vlož jej do svého webu. <a href="feedback">Pro více informací nás kontaktuj.</a></p>

				<div class="small-12 large-5 columns">
					<img src="images/logo-dark.png" width="200" style="padding:10px;">
				</div>
				<div class="small-12 large-7 columns">
					<textarea onclick="this.focus();this.select()" readonly="readonly"><a href="https://www.hearth.net/" target="_blank"><img src="https://hearth.net/app/images/logo-dark.png" width="150" style="background:#fff; padding:10px;"></a></textarea>
				</div>

				<div class="small-12 large-5 columns">
					<img src="images/logo-orange.png" width="200">
				</div>
				<div class="small-12 large-7 columns">
					<textarea onclick="this.focus();this.select()" readonly="readonly"><a href="https://www.hearth.net/" target="_blank"><img src="https://hearth.net/app/images/logo-orange.png" width="150"></a></textarea>
				</div>

				<div class="small-12 large-5 columns">
					<img src="images/logo.png" style="background:#7c766a; padding:10px;" width="200">
				</div>
				<div class="small-12 large-7 columns">
					<textarea onclick="this.focus();this.select()" readonly="readonly"><a href="https://www.hearth.net/" target="_blank"><img src="https://hearth.net/app/images/logo.png" width="150" style="padding:10px;"></a></textarea>
				</div>

				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>


<script type="text/ng-template" id="support-us-modal-print">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Vytiskni si leták' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate autofocus>
				<p>Vytiskni si leták a pochlub se jím svým přátelům. Určitě také rádi přijdou do Hearth.net.</p>
				<div class="small-12 large-4 columns text-center">
					<a href="https://s3-eu-west-1.amazonaws.com/hearth-net-topmonks-production-ugc/static/cs/O_Hearth.net_A4.pdf" target="_blank">
						<b>A4</b>
						<br><br>
						<i class="fa fa-file-pdf-o" style="font-size:50px;"></i>
						<br><br>
						PDF, 550 kB
						<br><br>
					</a>
				</div>
				<div class="small-12 large-4 columns text-center">
					<a href="https://s3-eu-west-1.amazonaws.com/hearth-net-topmonks-production-ugc/static/cs/O_Hearth.net_A5.pdf" target="_blank">
						<b>A5</b>
						<br><br>
						<i class="fa fa-file-pdf-o" style="font-size:50px;"></i>
						<br><br>
						PDF, 500 kB
						<br><br>
					</a>
				</div>
				<div class="small-12 large-4 columns text-center">
					<a href="https://s3-eu-west-1.amazonaws.com/hearth-net-topmonks-production-ugc/static/cs/O_Hearth.net_A6.pdf" target="_blank">
						<b>A6</b>
						<br><br>
						<i class="fa fa-file-pdf-o" style="font-size:50px;"></i>
						<br><br>
						PDF, 160 kB
						<br><br>
					</a>
				</div>
				<div class="small-12 columns">&nbsp;</div>
				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>

<script type="text/ng-template" id="support-us-modal-badge">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Napiš si o placky a samolepky' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div ng-show="!addressDataEmailSent">
			<form ng-submit="submitEmailWithPostalData()" id="" name="sendEmailWithPostalData" class="invite-form row" novalidate autofocus>
				<p>Díky, že Hearthu pomáháš šířit radost dál.</p>

				<div class="small-12 large-3 columns">
					<label for="type">{{'Co chci:' | translate}}</label><br>
				</div>
				<div class="small-12 large-9 columns">
					<checkbox model="postalAddressData.badges" on-update="void()" value="true" value-off="false">Placky</checkbox>
					<input type="number" ng-model="postalAddressData.numBadges" name="num-badges" class="display-inline-block" />
					<span class="display-inline-block" style="width:25px;"></span>
					<checkbox model="postalAddressData.stickers" on-update="void()" value="true" value-off="false">Samolepky</checkbox>
					<input type="number" ng-model="postalAddressData.numStickers" name="num-stickers" class="display-inline-block" />
				</div>
				<div class="small-12 large-3 columns">
					<label for="email">{{'E-mail:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="email" type="email"  ng-model="postalAddressData.email" name="email" class="form-control text-input top" required ng-required="true" placeholder="Email"/>
				</div>

				<div class="small-12 large-12 columns">&nbsp;</div>

				<div class="small-12 large-3 columns">
					<label for="fullname">{{'Jméno a příjmení:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="fullname" type="text" name="fullname" ng-model="postalAddressData.fullName" class="form-control text-input top" placeholder="Jméno"/>
				</div>

				<div class="small-12 large-3 columns">
					<label for="street">{{'Ulice a číslo:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="street" type="text" name="street" ng-model="postalAddressData.street" class="form-control text-input top" placeholder="Ulice"/>
				</div>

				<div class="small-12 large-3 columns">
					<label for="city">{{'Město:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="city" type="text" name="city" ng-model="postalAddressData.city" class="form-control text-input top" placeholder="Město"/>
				</div>

				<div class="small-12 large-3 columns">
					<label for="psc">{{'PSČ:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="psc" type="text" name="psc" ng-model="postalAddressData.psc" class="form-control text-input top" placeholder="PSČ"/>
				</div>

				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
					<button type="submit" class="button button-send" ng-disabled="sendEmailWithPostalData.$invalid"> {{ 'SEND' | translate }} </button>
				</div>
			</form>
		</div>
		<div ng-show="addressDataEmailSent">
			<p class="success">Díky za zájem. Během několika dní se můžeš těšit na balíček.</p>
			<div class="display-flex flex-space-between margin-top-medium">
				<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</script>


<script type="text/ng-template" id="support-us-modal-write-us">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Vytvářej s námi' | translate }}</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>

		<div ng-show="!contactDataEmailSent">
			<form ng-submit="submitEmailWithContactData()" id="" name="sendEmailWithContactData" class="invite-form row" novalidate autofocus>
				<p>Páni, vypadá to, že se brzy potkáme. Napiš, prosím, pár řádek o tom, co umíš. Frontend, backend, UX…? Přidej i pár projektů, na kterých pracuješ nebo máš za sebou. A taky kontakt a my se ti obratem ozveme.</p>
				<div class="small-12 large-3 columns">
					<label for="message-text">{{'Mohu darovat:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<textarea id="message-text" name="text" class="form-control text-input top" required placeholder="" ng-model="contactData.text"/>
				</div>

				<div class="small-12 large-3 columns">
					<label for="email">{{'Můj e-mail:' | translate}}</label>
				</div>
				<div class="small-12 large-9 columns">
					<input id="email" type="email" name="email" class="form-control text-input top" required ng-required="true" placeholder="" ng-model="contactData.email"/>
				</div>	
				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
					<button type="submit" class="button button-send" ng-disabled="sendEmailWithContactData.$invalid"> {{ 'SEND' | translate }} </button>
				</div>
			</form>
		</div>
		<div ng-show="contactDataEmailSent">
			<p class="success">Díky za zájem, brzy se Ti ozveme na uvedený e-mail.</p>
			<div class="display-flex flex-space-between margin-top-medium">
				<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</script>

<script type="text/ng-template" id="support-us-modal-pay">
	<div class="support-us-modal formStyle itemEdit modal">
		<div class="head">
			<h2>{{:: 'Přispěj finančně' | translate }}
			</h2>
			<span ng-click="closeThisDialog()" class="close fa fa-times"></span>
			<hr />
		</div>
		<div>
			<form ng-submit="" id="" name="" class="invite-form row" novalidate autofocus>
				<p class="text-center">Děkujeme za tvé rozhodnutí a vítáme tě u našeho krbu.</p>
				<div>
					<iframe style="width: 300px; height: 300px; display:block; margin:0 auto; overflow: hidden; border-style: none;" src="https://www.darujme.cz/dar/widgets/widget.php?widget=927" height="250"></iframe>
				</div>
				<div>
					<p class="text-center">Transparentní účet u FIO Banka a.s. číslo <a href="https://www.fio.cz/ib2/transparent?a=2600332809" target="_blank">2600332809 / 2010</a></p>
				</div>
				<br style="clear:both;">
				<div class="display-flex flex-space-between margin-top-medium">
					<a ng-click="closeThisDialog()"> {{ 'CLOSE' | translate }} </a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</script>