<article class="_item {{item.type}} _type_user row" id="post_{{:: item._id }}">

  <!-- MARKET ITEM POST Start -->
  <div class="medium-2 columns item-top">
    <!-- MARKET ITEM POST AVATAR Start -->
    <div class="row v-m-small">
      <div class="_avatar small-2 medium-12 column">
        <div class="_photo">
          <a ng-href="{{:: getProfileLink(item._type, item._id) }}">
            <img ng-src="{{item.avatar.large}}" alt="{{item.name}}"/>
          </a>
        </div>
        <div class="_name show-for-medium-up">
          <a ng-href="{{:: getProfileLink(item._type, item._id) }}">{{ item.name }}</a>
        </div>
      </div>
      <div class="_karma small-3 medium-12 columns">
        <div class="karma" ng-class="{empty: !item.karma, separator: item.up_votes && item.down_votes}"
             title="{{:: 'COUNT_OF_PLUS_POINTS' | translate }}: {{:: item.up_votes }} | {{:: 'COUNT_OF_MINUS_POINTS' | translate }}: {{:: item.down_votes }}">
          <div class="positive" style="width:{{:: item.karma}}"></div>
        </div>
      </div>
      <div class="_time small-6 columns hidden-for-medium-up">
        <span>{{item.created_at | ago}}</span>
      </div>
    </div>
  </div>
  <!-- MARKET ITEM POST AVATAR End -->
  <!-- MARKET ITEM POST CONTENT Start -->
  <div class="medium-10 columns">
    <div class="_content">
      <div class="_title clearfix">
        <h2 class="left">
          <a ng-href="{{:: getProfileLink(item._type, item._id)}}">
            {{item.name}}
          </a>
        </h2>

        <div class="_time right show-for-medium-up">
          {{item.created_at | ago}}
        </div>
      </div>
      <div class="location row" ng-if="item.locations.length">
        <i class="fa fa-map-marker"></i>
        <ul>
          <li ng-if="!item.location_unlimited" ng-repeat="(locationId, location) in item.locations"
              ng-if="location.short_address" ng-class="{delimiter: !$last}">{{ location.short_address }}
          </li>
        </ul>
      </div>

      <div class="text">
        <p>
          <span ng-bind-html="item.about | linky:'_blank'"></span>
        </p>
      </div>
    </div>
    <!-- MARKET ITEM POST CONTENT End -->
  </div>
  <!-- MARKET ITEM POST End -->
</article>
