<article class="_item row" id="user_{{:: item._id }}">
	<!-- MARKET ITEM POST Start -->
	<div class="medium-2 columns item-top">
		<!-- MARKET ITEM POST AVATAR Start -->
		<div class="row v-m-small">
			<div info-box="item">
				<avatar class="_avatar small-2 medium-12 column" href="getProfileLink(item._type, item._id)" src="item.avatar.normal" type="item._type"></avatar>
				<div class="_name show-for-medium-up">
					<a ng-href="{{:: getProfileLink(item._type, item._id) }}">{{item.name}}</a>
				</div>
			</div>
			<div class="_karma small-3 medium-12 columns">
				<karma-bar for="item"></karma-bar>
			</div>
			<div class="time small-6 columns hidden-for-medium-up">
				<span>{{item.created_at | ago}}</span>
			</div>
		</div>
	</div>
	<!-- MARKET ITEM POST AVATAR End -->
	<!-- MARKET ITEM POST CONTENT Start -->
	<div class="medium-10 columns item-body">
		<div class="_content">
			<div class="_title clearfix">
				<div class="time right show-for-medium-up">
					{{item.created_at | ago}}
				</div>
				<h2>
					<a ng-href="{{:: getProfileLink(item._type, item._id) }}">{{item.name}}</a>
				</h2>
			</div>
			<div class="location row" ng-if="item.locations.length">
				<i class="fa fa-map-marker"></i>
				<ul>
					<li ng-repeat="(locationId, location) in item.locations" ng-if="location.short_address" ng-class="{delimiter: !$last}">{{ location.short_address }}
					</li>
				</ul>
			</div>
			<div class="text">
				<p ng-if="item.about" ng-bind-html="item.about | linky:'_blank' | nl2br"></p>
				<p ng-if="!item.about" ng-bind-html="'MARKETPLACE.USER.INFO_NOT_FILLED' | translate"></p>
			</div>
		</div>
		<!-- MARKET ITEM POST CONTENT End -->
	</div>
	<!-- MARKET ITEM POST End -->
</article>