<article class="_item {{item.type}} row" id="post_{{:: item._id }}">

  <div class="medium-2 columns">
    <div class="row v-m-small">
      <div class="_avatar small-3 medium-12 columns">
        <div class="_photo">
          <a ng-href="{{:: getProfileLink(item._type, item._id) }}">
            <avatar type="item.type" src="item.avatar.normal" size="medium" alt="{{item.name}}"></avatar>
          </a>
        </div>
        <div class="_name show-for-medium-up">
          <a ng-href="{{:: getProfileLink(item._type, item._id) }}">{{ item.name }}</a>
        </div>
      </div>
      <div class="_karma small-3 medium-12 columns">
        <div class="karma" ng-class="{empty: !item.karma}"
             title="{{:: 'COUNT_OF_PLUS_POINTS' | translate }}: {{:: item.up_votes }} | {{:: 'COUNT_OF_MINUS_POINTS' | translate }}: {{:: item.down_votes }}">
          <div class="positive" style="width:{{:: item.karma}}"></div>
        </div>
      </div>
      <div class="_time small-6 columns hidden-for-medium-up">
        <span>{{item.created_at | ago}}</span>
      </div>
    </div>
  </div>
  <!-- MARKET ITEM AVATAR End -->
  <!-- MARKET ITEM CONTENT Start -->
  <div class="medium-10 columns">
    <div class="_content">
      <div class="_title clearfix">
        <h2 class="left">
          <a ng-href="{{:: getProfileLink(item.type, item._id)}}">
            {{item.name}}
          </a>
        </h2>

        <div class="_time right show-for-medium-up">
          {{item.created_at | ago}}
        </div>
      </div>

      <p class="location" ng-if="item.locations.length">
      	<i class="fa fa-map-marker"></i>
        <span>
          <span ng-repeat="(locationId, location) in item.locations" ng-if="location.address">
						{{ location.short_address }}<span ng-if="!$last">;</span>
					</span>
        </span>
      </p>

      <div>
        <p ng-bind-html="(item.about ? item.about : '') | linky:'_blank' | nl2br"></p>
      </div>

      <div class="_action row">
        <div class="medium-5 large-4 columns">
          <a ng-if="!item.is_replied && !mine" ng-click="replyItem(item)" data-item-type="{{ item.type }}"
             class="button expand button-{{item.type}}" ng-bind-html="replyLabel[item.type] | translate">
          </a>
<!-- 
          <div class="sharing">
            <a analytics-custom analytics-event="Share" analytics-category="Email" analytics-label="Share post by email"
               class="fa fa-envelope" title="Email" href="" ng-click="openEmailSharingBox(item)"></a>
            <a analytics-custom analytics-event="Share" analytics-category="Facebook"
               analytics-label="Share post on facebook" sharing-window class="fa fa-facebook" title="Facebook"
               ng-href="{{:: socialLinks.facebook+postAddress}}" target="_blank"></a>
            <a analytics-custom analytics-event="Share" analytics-category="Google+"
               analytics-label="Share post on google+" haring-window class="fa fa-google-plus" title="Google+"
               ng-href="{{:: socialLinks.gplus+postAddress}}" target="_blank"></a>
            <a analytics-custom analytics-event="Share" analytics-category="Twitter"
               analytics-label="Share post on twitter" sharing-window class="fa fa-twitter" title="Twitter"
               ng-href="{{:: socialLinks.twitter+postAddress}}" target="_blank"></a>
          </div>
          <div class="post-edit-buttons-container left" ng-if="mine">
            <div class="controll-buttons">
              <a title="{{:: 'AD_EDIT_LABEL' | translate}}" ng-click="edit(item)"><i class="fa fa-pencil"></i></a>
              <a title="{{:: 'AD_RESUME_LABEL' | translate}}" ng-if="!isActive"
                 ng-click="pauseToggle(item, 'confirm-pause-'+item._id)"><i class="fa "
                                                                            ng-class="{'fa-refresh': item.state == 'expired', 'fa-play': item.state == 'suspended'}"></i></a>
              <a title="{{:: 'AD_PAUSE_LABEL' | translate}}" ng-if="isActive"
                 ng-click="confirmBox('AD_PAUSE_LABEL', 'AD_PAUSE_ARE_YOU_SURE', pauseToggle, item, this)"><i
                class="fa fa-pause"></i></a>
              <a title="{{:: 'AD_REMOVE_LABEL' | translate}}"
                 ng-click="confirmBox('AD_REMOVE_LABEL', 'AD_REMOVE_ARE_YOU_SURE', deleteItem, item, this)"><i
                class="fa fa-times"></i></a>
            </div>
          </div>
 -->

        </div>
      </div>
    </div>
    <!-- MARKET ITEM CONTENT End -->
  </div>
  <!-- MARKET ITEM End -->
</article>
