<div loading show="!loaded"></div>

<div class="messages" ng-if="loaded" dynamic-height offset="140" min-height="400" ng-class="{ 'message-detail-displayed': detail || showNewMessageForm}">
	<h1 class="text-center">{{'h1.messages' | translate}}</h1>

	<div class="messages-top formStyle">
		<!-- <form class="search" method="POST" ng-submit="searchConversation()">
			<div class="slide-show" ng-class="{'width-auto': showFulltext}">
				<input type="text" ng-model="filter.query" placeholder="{{ 'MESSAGES.CONVERSATION_SEARCH_PLACEHOLDER' | translate}}">
			</div>
			<button class="button-icon fa fa-search"></button>
		</form> -->
		<select class="messages-filter" ng-model="filter.type" ng-change="applyFilter(filter)">
			<option value="" ng-selected="filter.type == ''">{{:: 'MESSAGES.FILTER.ALL' | translate }}</option>
			<option value="as_replies" ng-selected="filter.type == 'as_replies'">{{:: 'MESSAGES.FILTER.POST_REPLIES' | translate }}</option>
			<option value="as_replies_post:{{post._id}}" ng-repeat="post in postConversations.posts" ng-selected="filter.post_id === post._id">&ndash; {{ post.type | uppercase | translate }} {{post.title}}</option>
			<!-- <option value="" disabled>———————————————————————</option> -->
			<!-- <option value="users_posts" ng-selected="filter.type == 'users_posts'">{{ 'MESSAGES.FILTER.USERS_POSTS' | translate }}</option> -->
			<!-- <option value="from_community" ng-selected="filter.type == 'from_community'">{{ 'MESSAGES.FILTER.COMMUNITIES_POSTS' | translate }}</option> -->
			<option value="archived" ng-selected="filter.type == 'archived'">{{:: 'MESSAGES.FILTER.ARCHIVE' | translate }}</option>
		</select>
		<a class="button-send right" ng-click="toggleAddForm()">{{:: 'MESSAGES.ADD_NEW_MESSAGE' | translate }}</a>

		<div class="clear"></div>
		<div loading show="!conversations"></div>
	</div>
	<div class="messages-container" ng-if="conversations" dynamic-height offset="70" container=".messages" min-height="340">
		<div id="about" class="collumn left conversations" ng-if="conversations" class-if-overflow="shadow-bottom" outer=".nano" inner=".nano-content-inner">
			<div class="nano" custom-scrollbar>
				<div class="nano-content" when-scrolled="loadBottom()" loading-in-progress="loadingBottom" inner-scrolling="true">
					<div class="nano-content-inner">
						<div class="border-bottom" ng-class="{'active-bottom': conversations.length && conversations[0]._id == detail._id}"></div>
						<div class="text-center no-result" ng-if="!conversations.length">
							{{:: 'MESSAGES.LIST.NO_RESULT' | translate }}
						</div>
						<div class="conversation" ng-class="{unreaded: !item.read, active: detail._id == item._id, 'active-bottom': conversations[$index+1] && conversations[$index+1]._id == detail._id}" ng-repeat="item in conversations" ng-click="showConversation(item, $index, false, true)">
							<div class="avatars">
								<avatar ng-if="item.participants.length == 1" src="person.avatar.normal" size="normal" type="person._type" ng-repeat="person in item.participants"></avatar>
								<avatar ng-if="item.participants.length > 1" src="person.avatar.normal" size="small" type="person._type" ng-repeat="person in item.participants | limitTo: item.maxAvatarCount">{{ $index}}</avatar>
								<div class="avatar-participants-count" ng-if="item.participants_count > 4">+{{ (item.participants_count - 3) | minMax:0:999 }}</div>
								<div class="avatar-no-participants" ng-if="!item.participants.length"></div>
							</div>
							<div class="conversation-info">
								<h2 ng-if="item.title">
									<div>
										<span ng-if="item.post">{{ item.post.type_code | translate }}</span> {{ item.title | ellipsis:45 }}
									</div>
									<i ng-if="item.titlePersons" class="left" title="{{item.titlePersons}}"> {{ item.titlePersons | ellipsis:28 }}
										<span ng-if="item.participants_count > 2">{{:: 'MESSAGES.LIST.PARTICIPANTS_AND_MORE' | translate }}</span>
									</i>

									<div class="clear"></div>
								</h2>
								<h2 ng-if="!item.title && item.titlePersons" title="{{item.titlePersons}}">{{ item.titlePersons }}
									<span ng-if="item.participants_count > 2">{{:: 'MESSAGES.LIST.PARTICIPANTS_AND_MORE' | translate }}</span>
								</h2>

								<h2 ng-if="!item.title && !item.titlePersons">
									{{:: 'MESSAGES.LIST.CONVERSATION_IS_EMPTY' | translate }}
								</h2>
								<span class="unreaded-count" ng-if="!item.read"></span>

								<div class="clear"></div>
								<p ng-if="item.message.text">
									<span ng-if="item.message.owner._id == loggedUser._id" ng-bind=":: 'MESSAGES.YOU' | translate"></span>
									<span ng-if="item.message.owner._id != loggedUser._id" ng-bind="item.message.owner.name"></span>: {{ item.message.text | ellipsis:60 }}
								</p>
								<i class="fright" ng-if="item.last_message_time" title="{{:: item.last_message_time | date:DATETIME_FORMATS.medium }}" ago="item.last_message_time"></i>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="collumn box right conversation-not-found-container show-for-large-up" ng-if="!conversations.length && !showNewMessageForm">
			<div class="text-center no-result">
				<br/>
				<img src="images/fireplace.jpeg" title="{{:: 'MESSAGES.DETAIL.EMPTY_HEADER' | translate}}" class="responsive-height" />
				<br/>
				<br/>
				<h4>{{:: 'MESSAGES.DETAIL.EMPTY_HEADER' | translate}}</h4>
				<span>{{:: 'MESSAGES.DETAIL.EMPTY_TEXT' | translate}}</span>
			</div>
		</div>

		<div class="collumn box right conversation-detail-container" ng-if="!showNewMessageForm && notFound">
			<p ng-bind-html="'MESSAGES.DETAIL.EMPTY' | translate"></p>
			<div class="bottom">
				<a class="left link hide-for-large-up" ng-href="messages">
					{{ 'CLOSE' | translate }}
				</a>
			</div>
		</div>

		<div class="collumn box right conversation-detail-container" ng-if="!showNewMessageForm && detail">
			<conversation-detail info="detail"></conversation-detail>
		</div>

		<div class="collumn box right conversation-detail-container" ng-if="showNewMessageForm">
			<conversation-add close="toggleAddForm"></conversation-add>
		</div>
		<div class="clear"></div>
	</div>
</div>