<div class="box messages" dynamic-height>
	<div class="messages-filer left" ng-if="conversationsCounters">
		<a ng-click="loadConversations({type:'inbox'})">Inbox</a>		
		<a ng-click="loadConversations({type:'archive'})">Archive</a>		
		<a ng-click="loadConversations({type:'all'})">All</a>		
	</div>
	<a ng-href="#!/messages/new" class="button-send right">{{ 'MESSAGES.ADD_NEW_MESSAGE' | translate }}</a>
	<div class="clear"></div>
	<div loading show="!conversations"></div>
	<div class="text-center" ng-if="conversations && !conversations.length">
		{{ 'MESSAGES.LIST.NO_RESULT' | translate }}
	</div>
	<div class="collumn left large-3 conversation-list">
		<div class="message-conversation" ng-repeat="item in conversations" ng-click="showConversation(item._id)">
			<h5 ng-if="item.title">{{ item.title  }}</h5>
			<h4 ng-if="!item.title"><i>{{ 'MESSAGES.LIST.CONVERSATION_HAS_NO_TITLE' | translate }}</i></h4>
			<span ng-if="item.last_message_text">{{ item.last_message_text | ellipsis:40 }}</span>
			<!-- <i ng-if="item.last_message_time">{{ item.last_message_time | date:mediumTime }}</i> -->
			<br />
			<br />
			<hr />
		</div>

	</div>
	<div class="collumn right large-8 conversation-detail" ng-if="conversations.length">
		<div>
			<div loading show="!detail"></div>
			<div ng-if="detail">
				<article class="message" ng-repeat="item in detail.messages" ng-init="item.show = $last">
					<div class="message-head" ng-click="item.show = !item.show">
						<span class="left large-10">
							<avatar class="left" src="detail.participants[item.author_id].avatar.normal" size="small"></avatar>
							<h4>{{ detail.participants[item.author_id].name }}</h4>
						</span>
						<span class="right" title="{{ item.created_at | date:DATETIME_FORMATS.medium}}">{{ item.created_at | ago }}</span>
						<div class="clear"></div>
					</div>
					<p ng-slide-down="item.show" lazy-render duration="0.5">
						<span ng-bind-html="item.text | linky:'_blank' | nl2br"></span>
					</p>
				</article>
				<message-reply conversation-id="1"></message-reply>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
