<div ng-controller="Messages" class="messages" class="container">

	<div class="row">
		<div class="large-10 push-2 columns">
			<h1><span class="fa fa-envelope"></span> {{'MESSAGES' | translate}} ({{unreadCount}})</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-2 columns">
			<ul class="menu">
				<li ng-click="newMessage()"><span class="fa fa-plus"></span> {{'MESSAGES_NEW' | translate}} </li>
				<li><span class="fa fa-envelope"></span> {{'MESSAGES_INBOX' | translate}} </li>
				<li><span class="fa fa-paper-plane"></span> {{'MESSAGES_SEND' | translate}} </li>
				<li><span class="fa fa-archive"></span> {{'MESSAGES_ARCHIVE' | translate}} </li>
			</ul>
		</div>

		<div class="large-10 columns" ng-show="editedMessage">
			<div class="row">
				<div class="large-10 columns">
					<form>
						<input type="text" class="text-input top">
						<input type="text" class="text-input middle">
						<textarea name="" class="text-input bottom"></textarea>
						<div class="row">
							<div class="large-10 columns">
								<a ng-click="cancelMessage()">{{'CANCEL' | translate}}</a>
							</div>
							<div class="large-2 columns">
								<button class="primary button">{{'SEND' | translate}}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="large-10 columns" ng-hide="editedMessage">
			<nav class="top-bar" data-topbar>
				<section class="top-bar-section">
					<ul class="right">
						<li><a href="#">1-10 z 50 zpráv</a></li>
					  	<li><a><span class="fa fa-chevron-left"></span></a></li>
						<li><a><span class="fa fa-chevron-right"></span></a></li>
					</ul>
					<ul class="left">
						<li class="active">
					  		<input type="checkbox" ng-model="checkAllValue" ng-change="checkAll()">
						</li>
					  	<li>
					  		<a><span class="fa fa-archive"></span> {{'MESSAGES_ARCHIVE_MESSAGE' | translate}}</a>
					  	</li>
					  	<li>
					  		<a><span class="fa fa-trash-o"></span> {{'MESSAGES_DELETE' | translate}}</a>
					  	</li>
					</ul>
				</section>
			</nav>
			<table>
				<tr	ng-repeat="message in messages" ng-class="{read:message.read}">
					<td>
						<input type="checkbox" ng-model="message.checked">
					</td>
					<td>
						<span class="icon fa fa-reply" ng-show="message.type=='need'"></span>
						<span class="icon fa fa-share" ng-show="message.type=='offer'"></span>
						<span class="icon fa fa-envelope" ng-show="message.type=='message'"></span>
					</td>
					<td>
						{{message.subject}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>