.communities {
	margin: 0 auto;
	padding: 0;
	.avatar {
		margin-left: 3*$ui-small-grid-size;
	}
	h5 {
		font-size: $global-font-size;
	}
	.community-list-add-form {
		transition: opacity 0.4s ease-in-out;
	}
	.community-list {
		h3 {
			a {
				color: $black;
				&:hover {
					color: $primary-color;
				}
			}
		}
		.community-item {
      padding: $size-medium;
      height: 8rem;
			word-wrap: break-word;
      overflow: hidden;
      width: 100%;
      &.height-small {
        height: 8rem;
      }
      p {
        margin-bottom: 0;
      }
      .content {
				margin-left: 5*$ui-grid-size;
        height: 10.6rem;
        overflow: hidden;
        word-wrap: break-word;
			}
      .fadeout {
        position: relative;
        bottom: 4rem;
        height: 4rem;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
      }

		}
	}
	// RESPONSIVE
	// duplicates, how to solve this?
	@include breakpoint(medium only) {
		.community-list.small .community-item {
			margin: 1.5*$ui-small-grid-size 0;
			height: 8rem;
		}
	}
}
