/* CSS to ease-up on JS hiding/showing */
.mine-profile .others {display: none}
.others-profile .mine {display: none}

.item.rating-received {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: -13px;
		top: 26px;
		transform: rotate(45deg);
		box-shadow: -2px 2px 4px rgba(100, 100, 100, 0.2);
		width: 25px;
		height: 25px;
		background: white;

		@include breakpoint(small only) {
			display: none;
		}
	}
}

.rating-listing {
	.ratings-small-avatar-container {
		.name {
			margin-left:50px;
			margin-top:-34px;
		}
	}
	.rating-received-bar {
		min-height: 50px;
		text-align: center;
	}
	.rating-call-to-action {
		margin-bottom: $ui-grid-size;
		padding-left: 3*$ui-small-grid-size;
		padding-right: 3*$ui-small-grid-size;
	}
	.text-container {
		p {
			margin-bottom: 10px;
			line-height: 1.4;
		}
	}
	.reply-form-link {
		font-size: 13px;
		font-weight: bold;
		margin-top: 5px;
	}
	.item {
		position: relative;
		small {
			font-size: smaller;
		}
	}
	.item,
	.item:after {
		transition: background 1.5s ease-out;
	}
	.rating-item {
		margin-top: 0rem;
		margin-bottom: $ui-grid-size;
		i {
			position: relative;
			right: 4px;
			line-height: 1.4;
		}
		i.icon-rating-positive:before {
			font-weight: bold;
		}
		.text-container {
			margin-top: 10px;
		}
		.date {
			font-size: .8rem;
		}
		// RESPONSIVE //
		@include breakpoint(small only) {
			.rating-score,
			.rating-relation {
				margin: $ui-small-grid-size 3 * $ui-small-grid-size;
				display: inline-block;
			}
			.rating-score {
				display: inline;
				line-height: 230%;
			}
		}
	}
	.blink-rating {
		.item {
			transition: background .5s ease-out;
			background: #FFB697;
			&:after {
				transition: background .5s ease-out;
				background: #FFB697;
			}
		}
	}
}