.profile-common {
	.error {
		color: red;
	}
	article.row {
		margin-left: 0;
		margin-right: 0;
	}
	.button-group,
	.button-group .button {
    	margin-bottom: 0;
	}
	
	header {
		.user-basic {
			padding: 0 0 1rem 0;
			h1 {
				overflow: hidden;
				display: inline;
				word-wrap: break-word;
				line-height: 1.5;
				text-shadow: 1px 1px 8px rgba(50, 50, 50, 0.3);
				a {
					color: darken($quaternary-color, 40%);
				}
			}
			div.short-about {
				margin-left: 30px;
				margin-top: 10px;
				margin-bottom: 15px;
				word-wrap: break-word;
				line-height: 1.5;
				.fa {
					display: inline-block;
					margin-right: 10px;
					color: $secondary-color;
					margin-left: -27px;
					float: left;
				}
			}
		}
		// RESPONSIVE //
		@include breakpoint(medium only) {
			.highlights {
				zoom: .7;
			}
		}
		.button-bar {
			margin-left: 1rem;
			float: right;
			text-align: right;
			padding-left: 0px;
			padding-right: 0px;
		}
		.highlights {
			display: block;
			min-height: 320px;
			padding: 1rem 0;
			.avatar {
				box-shadow: 1px 0 16px 0 #fff;
				margin-right: 25px;
			}
			.bubble {
				position: relative;
				display: table;
				//margin: 5px;
				padding: 10px 20px;
				line-height: 1;
				border: none;
				border-radius: 50%;
				color: $colorLightGray;
				background: $quaternary-color;
				text-align: center;
				box-shadow: inset 0px -1px 50px 30px rgba(50, 50, 50, 0.75);
				text-shadow: 0px 0px 13px rgba(50, 50, 50, 1);

				p {
					margin:0;
					line-height:100%;
				}
				& > span {
					display: table-cell;
					vertical-align: middle;
				}
				b,
				{
					font-size: 26px;
					font-weight: bold;
					display: inline-block;
					margin-top:-5px;
					margin-bottom: 5px;
				}
				hr {
					margin: 10px auto;
					&.orange {
						border-color: lighten($secondary-color, 40);
					}
					&.blue {
						border-color: lighten($primary-color, 30);
					}
				}
				&.vertical-center {
					display: table;
					span {
						display: table-cell;
						vertical-align: middle;
					}
				}
				&.move-down {
					top: 100px;
				}
				&.active,
				&:hover {
					background: mix(darken($secondary-color, 20%), darken($quaternary-color, 10%));
					border: 8px solid lighten($secondary-color, 20%);
					box-shadow: none;
					padding: 10px;
					transition:border-width 0.4s;
				}
				&.large {
					width: 160px;
					height: 160px;
				}
				&.small {
					width: 124px;
					height: 124px;
					p {
						margin-bottom: 0px;
					}
				}
				&.medium {
					width: 150px;
					height: 150px;
				}
			}
			.shadow {
				background-image: url("../img/profile_shadow_small.png");
				background-position: center bottom 5px;
				background-repeat: no-repeat;
				display: inline-block;
				float: left;
				height: 290px;
				&.large {
					background-image: image-url("profile_shadow_large.png");
					background-position: center bottom 0px;
				}
			}
			// RESPONSIVE //
			@include breakpoint(small only) {
				.bubble {
					margin: 0 !important;

					&.move-down {
						top: 15px;
						left: 15px;
					}
				}
				.shadow,
				.shadow.large {
					background: none;
					height: 160px;
				}
			}
		}
	}
	.clearfix {
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	.gift-receive {
		font-size: 170%;
		color: $secondary-color;
	}
	.gift-give {
		font-size: 170%;
		color: $tertiary-color;
	}
	.rating-reply,
	.ratingReply {
		.avatar {
			margin-right: 10px;
			position: relative;
			top: -3px;
		}
		margin-top: 10px;
		&>div {
			margin-left: 50px;
		}
	}
	.rating-reply {
		.reply-top {
			margin-bottom: $ui-small-grid-size;
			margin-top: $ui-small-grid-size;
			small {
				color: #999999;
			}
		}
		i {
			line-height: 1.4;
		}
	}
	.home-ratings {
		.score {
			margin-top: 5px;
			position: relative;
			left: -4px;
		}
		// .infobox-avatar-wrapper {
		// 	position: relative;
		// }
		.rating-reply > div {
			margin-left: 30px;
		}
		.name {
			text-align: center;
			color: #383838;
			margin-top: 10px;
			width: 80px;
			word-wrap: break-word;
		}
		.rating-reply {
			margin-top: 20px;
			.date {
				float: none !important;
			}
		}
	}
	.ratings-received {
		// .author-selector {
		// 	float: left;
		// }
		button {
			&.positive {
				background-color: #58af08;
			}
		}
		.profile-edit-common {
			h3 {
				position: relative;
				top: -20px;
			}
		}
		.ratingReply {
			.formStyle {
				width: 100%;

				.cancel-reply {
					font-weight: bold;
					position: relative;
					top: 5px;
					font-size: 14px;
				}
				textarea {
					overflow: hidden;
					word-wrap: break-word;
					height: 50px;
				}
				.error {
					margin-top: 7px;
				}
			}
			.reply {
				line-height: 1.3;
				margin-top: 20px;
				.avatar {
					margin-right: 20px;
				}
				i {
					display: block;
					float: left;
					max-width: 676px;
				}
			}
		}
	}
	.rating-form {
		@extend .item-box-forms;
		// overflow: visible !important;
		// margin: auto;
		//
		// h5 {
		// 	font-weight: 600;
		// }
		// label {
		// 	// margin-bottom: 15px;
		// 	// font-size: $ui-text-font-size;
		// 	// margin-right: $ui-grid-size;
		// }

		.need-offer-selector  {
			label {
				display: inline-block;
			}
		}

		textarea {
			min-height: 120px;
		}
		.need-offer-selector {
			display: inline-block;
			// margin-top: 18px;
			margin-top: $size-tiny;
			margin-left: $size-small;
		}
		.author-selector {
			margin-right: 0px;
			width: 48%;
			@include breakpoint(small only) {
				width: initial;
			}
		}
	}
}

.profile-listings-v1 {
	@extend .clearfix;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	width: 100%;
	.grey {
		color: darken($colorLightGray, 30%);
	}

	// @kamil - this needs to be cleared to use one global box style
	.box {
		background: lighten($colorLightGray, 10%);
    margin-bottom: $size-medium;
    padding: 0 0 15px;

		// @kamil - only disable top and horizontal paddings to not destroy the design, yet let the bottom padding to be applied from global styles
		// padding: 0 0 1px 0;
		// padding-top: 0;
		// padding-right: 0;
		// padding-left: 0;
		// /@kamil

		// border-radius: $global-radius;
		// box-shadow: -1px 3px 8px 0px rgba(150, 150, 150, 0.44);
		// margin: 3*$ui-small-grid-size 0;
		// overflow-y: visible;
		h3 {
			font-size: 120%;
			color: $quaternary-color;
			margin: 0;
			padding: $size-small $size-large;
		}
		.buttons {
			text-align: center;
			margin-top: $size-medium;
		}
		p {
			margin: $size-small $size-large 0;
		}
	}
	.left-pane {
		width: 60%;
		padding-right: 3*$ui-small-grid-size;
		.messages {
			text-align: center;
			font-size: 130%;
			border: 2px solid $primary-color;
			padding: {
				left: 30px;
				top: 20px;
				right: 30px;
				bottom: 20px;
			}
			.fa {
				color: $primary-color;
				border-radius: 50%;
				border: 2px solid lighten($primary-color, 30%);
				padding: 8px;
				display: inline-block;
				margin-right: 15px;
			}
		}
		.ratings {
			.rating {
				@extend .clearfix;
				margin-bottom: 5px;
				padding: {
					top: 20px;
					bottom: 20px;
					left: 20px;
					right: 20px;
				}
				&.positive {
					background: #FFF09C; //lighten($tertiary-color, 45%);
				}
				&.negative {
					background: lighten($primary-color, 45%);
				}
				small {
					font-size: 0.85rem;
					line-height: 125%;
				}
				.rating-info {
					.score {
						margin-bottom: 5px;
					}
					.rating-body {
						margin-left: 10px;
						line-height: 150%;
					}
					margin: {
						top: 5px;
						bottom: 10px;
						// left: 100px;
						left: 20px;
					}
					.rating-from {
						display: inline-block;
						margin-top: 10px;
					}
				}
				.date {
					float: right;
				}
			}
		}
		.ads {
			a.create-ad-sign {
				float: right;
				display: block;
				transition: all 0.5s ease 0s;
				&:hover {
					color: darken($primary-color, 20%);
				}
			}
			.ad {
				font-size: 110%;
				font-weight: bold;
				margin: {
					left: 25px;
					right: 25px;
					top: 10px;
				}
				;
				& > span {
					vertical-align: super;
				}
				.ad-controls {
					color: $primary-color;
					cursor: pointer;
					float: right;
					.fa {
						padding-left: 10px;
					}
					transition: all 0.5s ease 0s;
					.fa:hover {
						color: darken($primary-color, 20%);
					}
				}
			}
		}
	}

	.right-pane {
		width: 39%;
		padding: 0;
		.user-about {
			.line {
				margin-left: $size-large;
				margin-right: $size-large;
				div.descr {
					word-wrap: break-word;
					margin-top: $ui-small-grid-size;
					margin-bottom: $ui-small-grid-size;
					margin-left: 27px;
					line-height: 140%;
					clear: both;
					.fa {
						margin-left: -27px;
						float: left;
						margin-top: 3px;
					}
				}
			}
			.descr {
				.fa {
					width: 8px;
					color: $secondary-color;
					margin-right: 15px;
				}
			}
			.social {
				font-size: 1.5rem;
				.fa {
					color: $primary-color;
					margin: 0 1px;
				}
				.fa:hover {
					opacity: 0.7;
				}
				.link {
					i {
						font-size: 21px;
						height: 20px;
						margin-left: 0;
						width: 19px;
					}
				}
			}
			.reg-date {
				font-size: 14px;
			}
		}
		.activities {
			h4 {
				margin-left: 30px;
				font-size: 1.2rem;
				font-weight: bold;
				position: relative;
				background-color: white;
			}
			.activity {
				margin-left: 30px;
				margin-top: 10px;
				position: relative;
				background-color: white;
				.avatar {
					margin: 5px 10px;
				}
				.activity-text {
					@extend .clearfix;
					padding-right: 20px;
					/* padding-top:10px; */
					display: table-cell;
					height: 55px;
					;
					max-width: 300px;
					word-wrap: break-word;
					vertical-align: middle;
					p {
						margin: 0px !important;
					}
				}
			}
			.timeline-container {
				overflow: hidden;
				position: relative;
				padding-right: 20px;
				padding-bottom: 1px;
				h4 {
					margin-top: 0;
					text-transform: uppercase;
				}
				.profile-timeline {
					position: absolute;
					left: 60px;
					top: 0px;
					bottom: 0px;
					height: 100%;
					background-color: #cacaca;
					width: 5px;
					margin-top: -20px;
				}
			}
		}
    .ads {
      a.create-ad-sign {
        float: right;
        display: block;
        transition: all 0.5s ease 0s;
        &:hover {
          color: darken($primary-color, 20%);
        }
      }
      .ad {
        font-size: 110%;
        font-weight: bold;
        margin: {
          left: 20px;
          right: 20px;
          top: 10px;
        }
      ;
        & > span {
          vertical-align: super;
        }
        .ad-controls {
          color: $primary-color;
          cursor: pointer;
          float: right;
          .fa {
            padding-left: 10px;
          }
          transition: all 0.5s ease 0s;
          .fa:hover {
            color: darken($primary-color, 20%);
          }
        }
      }
    }
	}
	// RESPONSIVE //
	@include breakpoint(small only) {
		.left-pane,
		.right-pane {
			width: 100%;
			padding: 0;
		}
	}
}

.bottom-tabs {
	text-align: center;
	font-weight: bold;
	margin: {
		top: 30px;
		bottom: 30px;
	}
	h2 {
		color: #F95800;
		font-size: 20px;
	}
	ul {
		margin: 0 3*$ui-small-grid-size;
		li {
			display: inline-block;
			margin: {
				left: $ui-small-grid-size;
				right: $ui-small-grid-size;
				top: $ui-small-grid-size;
				bottom: 0;
			}
			& > a {
				position: relative;
				top: -3px;
				width: initial;
				background: darken($colorLightGray, 30%);
				color: lighten($colorLightGray, 20%);
				border-top: 2px solid darken($colorLightGray, 20%);
				text-shadow: 1px 1px 8px rgba(50, 50, 50, 0.3);
				min-width: 250px;
				font-size: 1rem;
				padding: {
					left: $ui-grid-size;
					right: $ui-grid-size;
					top: $ui-small-grid-size;
					bottom: $ui-small-grid-size;
				}
				border-top-left-radius: $global-radius / 2;
				border-top-right-radius: $global-radius / 2;
				&:hover {
					border-top: 2px solid darken($colorLightGray, 30%);
					background: darken($colorLightGray, 40%);
				}
				&.selected {
					background: $secondary-color;
					border-top: 2px solid lighten($secondary-color, 20%);
				}
			}
		}
	}
	// RESPONSIVE //
	@include breakpoint(small only) {
		ul>li {
			margin-left: 0;
			margin-right: 0;
			width: 100%;
			&>a {
				width: 100%;
				display: block;
			}
		}
	}
	&:after {
		content: " ";
		display: block;
		border-bottom: 4px solid $secondary-color;
		width: 100%;
	}
}

.people-listing {
	@extend .clearfix;
	.person {
		height: 115px;
		word-wrap: break-word;
		//@extend .large-4, .columns;
		padding: 0;
		.info-avatar {
			display: block;
			float: left;
			padding-left: 15px;
			padding-right: 15px;
		}
		// @kamil TODO: markup refactor would be better, but atm this is used on four places, so
		// 		I'm just making the selector more specific
		.info-avatar > .avatar {
			margin-top: 20px;
		}
		// a {
		// 	color: darken($quaternary-color, 20%);
		// 	&:hover {
		// 		color: $primary-color;
		// 	}
		// }
		.name {
			margin-left: 110px;
		}
		h4 {
			line-height: 28px;
			margin-top: 30px;
		}
	}
}

.ads-listing {
	.large-10 {
		float: none;
		margin: 0px auto;
		.columns {
			padding-left: 0;
			padding-right: 0;
		}
	}
	& > article.hiddenAvatar > section {
		@extend .large-centered;
	}
	h3 {
		text-align: center;
		margin: 20px;
	}
	.post-detail.offer:before, .post-detail.need:before {
		display:none !important;
	}
}

.reply-list {
	.reply {
		margin-bottom: 20px;
		.user .name {
			margin-top: 0.4rem;
		}
		p {
			font-size: 14px;
		}
		.ad-date {
			display: inline-block;
			margin: 3*$ui-small-grid-size 0;
		}
		.ad-date::first-letter {
			text-transform: uppercase;
		}
	}
}

.no-result {
	margin-bottom: $ui-grid-size;
}

.ratings {
	.rating {
		@extend .clearfix;
		margin-bottom: 5px;
		padding: {
			top: 20px;
			bottom: 20px;
			left: 20px;
			right: 20px;
		}
		&.positive {
			background: lighten($tertiary-color, 45%);
		}
		&.negative {
			background: lighten($primary-color, 45%);
		}
		small {
			font-size: 0.85rem;
			line-height: 125%;
		}
		.rating-info {
			.score {
				margin-bottom: 5px;
			}
			.rating-body {
				margin-left: 10px;
				line-height: 150%;
			}
			margin: {
				top: 5px;
				bottom: 10px;
				// left: 100px;
				left: 20px;
			}
			.rating-from {
				display: inline-block;
				margin-top: 10px;
			}
		}
		.date {
			float: right;
		}
	}
}
.user-about {
	.line {
		margin-left: 20px;
		margin-right: 20px;
		div.descr {
			word-wrap: break-word;
			margin-top: $ui-small-grid-size;
			margin-bottom: $ui-small-grid-size;
			margin-left: 27px;
			line-height: 140%;
			clear: both;
			.fa {
				margin-left: -27px;
				float: left;
				margin-top: 3px;
			}
		}
	}
	.descr {
		.fa {
			width: 8px;
			color: $secondary-color;
			margin-right: 15px;
		}
	}
	.social {
		font-size: 1.5rem;
		.fa {
			color: $primary-color;
			margin: 0 1px;
		}
		.fa:hover {
			opacity: 0.7;
		}
		.link {
			i {
				font-size: 21px;
				height: 20px;
				margin-left: 0;
				width: 19px;
			}
		}
	}
	.reg-date {
		font-size: 14px;
	}
}

.main-button-dropdown {
	position: absolute;
	right:10px;
    min-width: 12.5rem;
    min-height: 25px;
    margin: 0;
    padding: 5px 0;
    list-style: none;
    background: #fefefe;
    box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.5);
    border-radius: 0.5714rem;
    z-index: 1000;
}
