$terms-width: 32em;
$max-modal-window-width:32em;

.register-login-dialog {
	// background: none repeat scroll 0 0 #fff;
	// border-radius: $global-radius;
	// font-size: 1.1em;
	// line-height: 1.5em;
	margin: 0 auto;
	// margin-top: 0px;
	// position: relative;
	// padding: .5rem;

	@include social;

	// h2 {
	// 	margin: 0;
	// 	font-size: 25px;
	// 	font-weight: normal;
	// 	text-align: center;
	// }
	// hr {
	// 	margin-bottom: .5rem;
	// 	margin-top: 0px;
	// }
	.success {
		color: $success-color;
	}
	p {
		text-align: center;
	}
	a,
	a:visited {
		color: $primary-color;
	}
	.register-successful {
		display: none;
	}
	// .register-login-form {
		// padding: {
		// 	left: 0.9rem;
		// 	right: 0.9rem;
		// 	top: .5rem;
		// 	bottom: 0px;
		// }
		// .error {
		// 	text-align: left;
		// 	&.moveUp {
		// 		position: relative;
		// 		top: -15px;
		// 	}
		// }
	// }
	.alert-box {
		a,
		a:visited {
			color: $white;
		}
	}
	.social-login {
		text-align: center;
		padding: 10px;
		padding-bottom: 1rem;
		a {
			border: 2px solid $primary-color;
			border-radius: 50%;
			padding: 8px;
			font-size: 150%;
			line-height: 150%;
			margin-left: 10px;
			margin-right: 10px;
			color: $primary-color;
			display: inline-block;
			width: 55px;
			height: 55px;
			transition: background-color .5s;
		}
		a:hover {
			background: lighten($primary-color, 30%);
		}
		a:visited {
			color: $primary-color;
		}
	}
	// button {
	// 	text-transform: none;
	// 	i.fa {
	// 		margin-right: 0.5rem;
	// 	}
	// }
	// p,
	// button {
	// 	margin-bottom: 1rem;
	// }
	// .bottom {
	// 	p {
	// 		margin-bottom: .2rem;
	// 	}
	// }

	// OMG THIS IS STUPID
	.head {
		span.close {
			top: -3.5rem;
			right: 0.9rem;
			@include breakpoint(small only) {
				top: -3.2rem;
			}
		}
	}

	.head,
	.bottom {
		text-align: center;
	}
	.close {
		display: none;
	}

	.oauth-error {
		padding: 2 * $ui-small-grid-size;
		border-radius: $global-radius;
		border: 1px solid $tertiary-color;
		opacity: 1;
	}
}

.ngdialog {
	.register-login-dialog {
		// for displaying in page, not modal
		position: initial;
		overflow: initial;

		// .ngdialog-content {
		// 	margin-top: -3rem;
		// }
		span.close {
			// hide close button?
			display: inline-block;
		}
	}
}

@include breakpoint(large up) {
	.register-login-dialog {
		max-width: $max-modal-window-width;
	}
}

.ngdialog .register-login-dialog.box {
	padding: 0;
	box-shadow: none;
}