<footer>
	<div class="row">
		<div class="large-7 small-12 columns">
			<img src="/app/assets/img/logo-inverse.svg" style="position:relative; top:-10px;">
			<p translate="HEARTH.STORY.ABOUT"></p>
			<div ng-if="showNewsletterForm" class="margin-top-large">
				<!-- newsletter signup form -->
				<form action="https://hearth.us6.list-manage.com/subscribe/post?u=9942e5c6cd804e4d1a39e3e31&amp;id=8f925ed349" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<input type="email" value="" name="EMAIL" class="required email footer-input" id="mce-EMAIL">
					<div style="position: absolute; left: -5000px;" aria-hidden="true">
						<input type="text" name="b_9942e5c6cd804e4d1a39e3e31_8f925ed349" tabindex="-1" value="">
					</div>
					<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="footer-submit" translate="HEARTH.NEWSLETTER.ACTION_SUBSCRIBE"></button>
				</form>
			</div>
		</div>
		<div class="large-2 large-push-1 small-6 columns">
			<h4>Hearth.net</h4>
			<div><a href="/app/our-story" translate="HEARTH.STORY.NAVIGATION_ITEM"></a></div>
			<div><a href="/app/contacts" translate="HEARTH.CONTACTS.NAVIGATION_ITEM"></a></div>
			<div><a href="/app/about/ambassadors" translate="HEARTH.AMBASSADORS.NAVIGATION_ITEM"></a></div>
			<div><a href="/app/about/custodians" translate="HEARTH.CUSTODIANS.NAVIGATION_ITEM"></a></div>
			<div><a href="/app/support-us" translate="HEARTH.SUPPORT_US.NAVIGATION_ITEM"></a></div>
		</div>
		<div class="large-2 large-push-1 small-6 columns">
			<h4>&nbsp;</h4>
			<div><a href="/app/events" translate="HEARTH.CALENDAR.NAVIGATION_ITEM"></a></div>
			<div><a href="/app/faq" translate="HEARTH.FAQ.NAVIGATION_ITEM"></a></div>
		</div>
		<div class="large-12 small-12 columns margin-top-medium">
			<hr size="1">
		</div>
		<div class="large-8 small-12 columns margin-between-links">
			<a href="https://adato.org">&copy;&nbsp;2018&nbsp;Adato&nbsp;Paradigma&nbsp;z.ú.</a>
			<a href="/app/about-us" translate="HEARTH.ABOUT_US.NAVIGATION_ITEM"></a>
			<a href="/app/feedback" translate="HEARTH.CONTACT_US.NAVIGATION_ITEM"></a>
			<a href="/app/terms" translate="HEARTH.TERMS.NAVIGATION_ITEM"></a>
			<a href="/app/taxes" translate="HEARTH.TAXES.NAVIGATION_ITEM"></a>
		</div>
		<div class="hide-for-large small-12">&nbsp;</div>
		<div class="large-4 small-12 columns large-pull-right underline-links margin-between-links">
			<a href="https://www.facebook.com/Hearth.network/" target="_blank">facebook</a>
			<a href="//instagram.com/hearth.network" target="_blank">instagram</a>
			<a href="https://twitter.com/hearth_net" target="_blank">twitter</a>
			<a href="https://www.youtube.com/user/hearthnetcrsr" target="_blank">youtube</a>
		</div>
		<div class="large-12 small-12 columns">&nbsp;</div>
	</div>
</footer>