<footer>
	<div class="row">
		<div class="large-7 small-12 columns">
			<img src="/app/assets/img/logo.png" style="position:relative; top:-15px;">
			<p>
				HEARTH.net is generosity social network with vision of better world, where people are helping eachother by natural. Because this is our nature behaviour, but time where we are living now is talking something different. So we are here to bring out old behaviour back under sun.  
			</p>
			<div ng-if="showNewsletterForm">
				NEWSLETTER SUBSCRIPTION
			</div>
		</div>
		<div class="large-2 large-push-1 small-6 columns">
			<h4>Hearth.net</h4>
			<div><a href='/app/about-us' t='LANDING_PAGE.SECTION.CONTACT.ABOUT_US'>O nás</a></div>
			<div><a href='/app/our-story' t='LANDING_PAGE.SECTION.CONTACT.STORY'>Příběh</a></div>
			<div><a href='/app/contacts' t='LANDING_PAGE.SECTION.CONTACT.PEOPLE_IN_ADATO'>Lidé v Adato</a></div>
		</div>
		<div class="large-2 large-push-1 small-6 columns">
			<h4>Zkratkou</h4>
			<div><a href='/app/about-us'>Kalendář akcí</a></div>
			<div><a href='/app/'>Časté dotazy</a></div>
		</div>
		<div class="large-12 small-12 columns">
			<hr size="1">
		</div>

		<div class="large-12 small-12 columns pull-left display-flex flex-space-between margin-bottom-medium">
			<div>&copy; 2018 Adato Paradigma z.ú.</div>
			<div>O nás</div>
			<div>Kontakt</div>
			<div>Podmínky použití</div>
			<div>Darování a daně</div>

			<div>facebook</div>
			<div>instagram</div>
			<div>twitter</div>
			<div>youtube</div>
		</div>
	</div>
</footer>