<div class="display-table table-with-icons">
	<div class="display-table-row" ng-if="canShow('verified') && entity.verified === true">
		<div class="display-table-cell addon color-offer">
			<i class="fa fa-fw fa-check-circle "></i>
		</div>
		<div class="display-table-cell" ng-if="entity.verified === true">OVERENY UZIVATEL</div>
	</div>	

	<div class="display-table-row" ng-if="canShow('motto')">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-quote-right"></i>
		</div>
		<div class="display-table-cell" ng-bind="entity.motto"></div>
	</div>

	<div class="display-table-row" ng-if="canShow('about')">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-quote-right"></i>
		</div>
		<div class="display-table-cell" ng-if="!entity.community_about_shortened" ng-bind-html="entity.about | linky:'_blank':{rel: 'nofollow'} | nl2br"></div>
		<div class="display-table-cell" ng-if="entity.community_about_shortened">
			<span ng-bind-html="entity.community_about_shortened | linky:'_blank':{rel: 'nofollow'} | nl2br"></span>
			<a ng-href="community/{{ entity._id }}/about" class="bold">
				{{:: 'COMMUNITY.PROFILE.CLICK_TO_EXPAND' | translate }}
			</a>
		</div>
	</div>

	<div class="display-table-row" ng-if="canShow('about_shortened')">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-quote-right"></i>
		</div>
		<div class="display-table-cell" ng-bind="entity.about_shortened"></div>
	</div>

	<div class="display-table-row" ng-if="canShow('interests') && entity.interests.length && entity.interests[0] != ''">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-smile-o"></i>
		</div>
		<div class="display-table-cell" ng-bind="entity.interests.join(',\u0020')"></div>
	</div>

	<div class="display-table-row" ng-if="canShow('work')">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-briefcase"></i>
		</div>
		<div class="display-table-cell" ng-bind="entity.work"></div>
	</div>

	<div class="display-table-row" ng-if="canShow('locations') && entity.locations.length && entity.locations[0].short_address">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-map-marker"></i>
		</div>
		<div class="display-table-cell">
			<span translate="PROFILE.MY_LOCATION"></span>
			<span ng-repeat="location in entity.locations" ng-if="location.short_address" ng-bind="location.short_address + ($last ? '.' : ',\u00A0')"></span>
		</div>
	</div>

	<div class="display-table-row" ng-if="canShow('languages')">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-comments"></i>
		</div>
		<div class="display-table-cell">
			<span ng-repeat="(languageCode, enabled) in entity.user_languages" ng-bind="('MY_LANG.' + languageCode | translate) + ($last ? '.' : ',\u00A0')"></span>
		</div>
	</div>

	<div class="display-table-row" ng-if="(entity.email || entity.contact_email) && canShow('email')">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-envelope"></i>
		</div>
		<div class="display-table-cell">
			<div ng-if="entity.email">
				<a href="mailto:{{ entity.email }}" ng-bind="entity.email"></a>
			</div>
			<div ng-if="entity.contact_email">
				<a href="mailto:{{ entity.contact_email }}" ng-bind="entity.contact_email"></a>
			</div>
		</div>
	</div>

	<div class="display-table-row" ng-if="entity.formatted_phone && canShow('phone')">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-phone"></i>
		</div>
		<div class="display-table-cell" ng-bind="entity.formatted_phone"></div>
	</div>

	<div class="display-table-row" ng-if="canShow('webs') && entity.webs.length && entity.webs[0]">
		<div class="display-table-cell addon">
			<i class="fa fa-fw fa-link"></i>
		</div>
		<div class="display-table-cell">
			<span ng-repeat="web in entity.webs">
				<a target="_blank" ng-href="{{ web }}" ng-bind="web | protocolfree | ellipsis:20"></a>
				<span ng-bind="($last ? '' : ',\u00A0')"></span>
			</span>
		</div>
	</div>

</div>