<h1 class="text-center" translate="AUTH.FORGOTTEN_PASSWORD.TITLE"></h1>

<div class="box register-login-dialog">
	<div class="forgot-pass-notify-container"></div>
	<form ng-submit="resetPassword()" name="resetPasswordForm" novalidate class="register-login-form">
		<div class="block">
			<p translate="AUTH.FORGOTTEN_PASSWORD.TEXT"></p>
			<input type="email" class="fg_email" name="email" ng-model="data.email" ng-blur="validateEmail(data)" ng-focus="resetPasswordForm.email.$error.unknown = false; showError.email = false" required placeholder="{{ 'AUTH.EMAIL_PLACEHOLDER' | translate }}" class="form-control text-input top">
			<p ng-show="showError.inactiveAccount" class="error" translate="AUTH.NOTIFY.ERROR_ACCOUNT_NOT_ACTIVATED" translate-compile translate-values="{'attrs': 'ng-click=\'resendActivationEmail()\''}"></p>
			<div class="form-error" ng-show="showError.email">
				<span ng-show="resetPasswordForm.email.$error.email" translate="AUTH.NOTIFY.ERROR_BAD_EMAIL_FORMAT"></span>
				<span ng-show="resetPasswordForm.email.$error.required" translate="AUTH.NOTIFY.ERROR_NOT_FILLED_EMAIL"></span>
				<span ng-show="resetPasswordForm.email.$error.unknown" translate="AUTH.NOTIFY.ERROR_UNKNOWN_EMAIL"></span>
			</div>
		</div>

		<div class="block text-center">
			<button class="button" type="submit">
				<i class="fa fa-sign-in"></i>
				<span translate="COMMON.ACTION_CONTINUE"></span>
			</button>
		</div>

		<hr />

		<div class="bottom">
			<div>
				<span translate="AUTH.FORGOTTEN_PASSWORD.REMEMBERED_TEXT"></span>
				<a href="{{ basePath }}login" translate="AUTH.FORGOTTEN_PASSWORD.REMEMBERED_LOGIN_LINK"></a>
			</div>
		</div>
	</form>
</div>