<h1 class="text-center" translate="AUTH.RESET_PASSWORD.TITLE"></h1>

<div class="box register-login-dialog" ng-show="tokenVerified">
	<div class="headMessage error"></div>
	<p class="error" ng-if="! token || token == ''" ng-bind-html="'AUTH.NOTIFY.ERROR_BROKEN_LINK' | translate"></p>
	<div class="reset-pass-notify-container"></div>

	<form ng-cloak ng-show="token" ng-submit="resetPassword(data)" name="resetPasswordForm" novalidate class="register-login-form">
		<p class="error" ng-if="showError.topError" translate="AUTH.NOTIFY.ERROR_API_RESET_PASSWORD"></p>

		<label class="block">
			<span translate="AUTH.RESET_PASSWORD.TEXT"></span>
			<input type="password" ng-model="data.password" name="password" ng-minlength="5" class="text-input top" ng-focus="showError.password = false" placeholder="{{ 'AUTH.PASSWORD' | translate }}" required />
			<div class="form-error" ng-show="showError.password">
				<span ng-show="resetPasswordForm.password.$error.required" translate="AUTH.NOTIFY.ERROR_PASSWORD_NOT_FILLED"></span>
				<span ng-show="resetPasswordForm.password.$error.minlength" translate="AUTH.NOTIFY.ERROR_SHORT_PASSWORD"></span>
			</div>
		</label>

		<label class="block">
			<input type="password" name="password2" ng-focus="showError.password2 = false; showError.passwordMatch = false;" class="text-input" ng-model="data.password2" placeholder="{{ 'AUTH.PASSWORD_AGAIN' | translate }}" required />
			<div class="form-error" ng-show="showError.password2">
				<span ng-show="resetPasswordForm.password2.$error.required" translate="AUTH.NOTIFY.ERROR_PASSWORD_AGAIN_NOT_FILLED"></span>
				<span ng-show="showError.passwordMatch" translate="AUTH.NOTIFY.ERROR_PASSWORD_DOES_NOT_MATCH"></span>
			</div>
		</label>

		<div class="block text-center">
			<button class="button" type="submit">
				<i class="fa fa-sign-in"></i> <span translate="AUTH.ACTION_CHANGE_PASSWORD"></span>
			</button>
		</div>

	</form>

</div>