<div class="box">
	<div ng-if="errorLoading == 404" class="text-center padding-small" translate="COMMUNITY_WAS_NOT_FOUND"></div>
	<div class="row margin-bottom-20 profile-edit-common" ng-show="loaded">

		<div class="communities-notify-area"></div>

		<form ng-submit="save()" id="communityForm" name="communityForm" novalidate>
			<div class="medium-flex-grid block">
				<div class="flex-5 medium-order-last" ng-cloak>
					<div image-preview-direct-upload result="community.avatar" options="avatarUploadOpts">
						<img class="preview" ng-if="community.avatar.public_avatar_url" ng-src="{{ community.avatar.public_avatar_url }}" resized-thumbnail-image exif-rotated />
						<img class="preview" ng-if="!community.avatar.public_avatar_url && community.avatar.large" ng-src="{{ community.avatar.large }}" resized-thumbnail-image />
						<div class="text">
							<span class="fa fa-plus-square-o"></span>
							<span translate="CHOOSE_AVATAR_FILE"></span>
						</div>
					</div>
				</div>
				<div class="flex-7 flex-grid">
					<div>
						<i class="fa fa-fw fa-2x block--leading-icon fa-users"></i>
					</div>
					<div class="flex-1">
						<h2 translate="{{:: community._id ? 'COMMUNITY_EDIT' : 'COMMUNITY_ADD' }}"></h2>
						<label>
							<span translate="COMMUNITY_NAME"></span>
							<input type="text" name="name" ng-focus="showError.name = false" ng-blur="showError.name = true" ng-model="community.name" ng-required="true" ng-maxlength="75" />
							<div class="form-error" ng-show="showError.name">
								<span ng-show="communityForm.name.$error.required" translate="ERR_COMMUNITY_NAME_NOT_FILLED"></span>
								<span ng-show="communityForm.name.$error.maxlength" translate="ERR_COMMUNITY_NAME_MAX_LENGTH"></span>
							</div>
						</label>
						<label>
							<span translate="COMMUNITY_MOTTO"></span>
							<input type="text" name="motto" ng-model="community.motto" maxlength="{{parameters.MAX_MOTTO_LENGTH}}" ng-maxlength="parameters.MAX_MOTTO_LENGTH" ng-focus="showError.motto = false" ng-blur="showError.motto = true" placeholder="{{:: 'COMMUNITY_MOTTO_EXAMPLE' | translate }}" />
							<div class="form-error" ng-show="showError.motto">
								<span ng-show="communityForm.motto.$error.maxlength" translate="ERR_COMMUNITY_MOTTO_MAX_LENGTH"></span>
							</div>
						</label>
					</div>
				</div>
			</div>

			<div class="flex-grid block">
				<div>
					<i class="fa fa-fw fa-2x block--leading-icon fa-info"></i>
				</div>
				<div class="flex-1">
					<h2 translate="COMMUNITY_ABOUT"></h2>
					<div class="medium-flex-grid">
						<label class="flex-1">
							<span translate="COMMUNITY_DESCRIPTION"></span>
							<input-max-length input-type="textarea" show-counter="true" min-length="0" max-length="5000" placeholder="{{:: 'COMMUNITY_RESTRICTIONS_PLACEHOLDER' | translate }}" model="community.description" name="description" required></input-max-length>
							<div class="form-error" ng-show="communityForm.description.$error.required" translate="ERR_COMMUNITY_ABOUT_NOT_FILLED"></div>
						</label>
						<label class="flex-1">
							<span translate="COMMUNITY_RESTRICTIONS"></span>
							<input-max-length input-type="textarea" show-counter="true" min-length="0" max-length="500" placeholder="{{::'COMMUNITY_RESTRICTIONS_PLACEHOLDER' | translate }}" model="community.terms" name="terms"></input-max-length>
						</label>
					</div>

					<div ng-if="community._id">
						<label>
							<span translate="COMMUNITY_INTERESTS"></span>
							<tags-input class='interests-input' refocus-input-on-tab class="tags" ng-model="community.interests" placeholder="{{:: 'COMMUNITY_INTERESTS_EXAMPLE' | translate }}" replace-spaces-with-dashes="false" add-on-comma="true" add-on-space="false" allowed-tags-pattern="^[a-zA-Z0-9\sĚŠČŘŽÝÁÍÉÚŮĎŤŇÓěščřžýáíéúůďťňó\.]+$" min-length="0" max-length="500">
								<auto-complete source="queryKeywords($query)" min-length="2" debounce-delay="400" max-results-to-show="8"></auto-complete>
							</tags-input>
						</label>
					</div>
				</div>
			</div>

			<div class="flex-grid block">
				<div>
					<i class="fa fa-fw fa-2x block--leading-icon fa-globe"></i>
				</div>
				<div class="flex-1">
					<h2 translate="COMMUNITY_PLACE"></h2>
					<div>
						<locations locations="community.locations" is-required="true" error-code="COMMUNITY_LOCATIONS_IS_EMPTY_STRICT" show-error="showError.locations"></locations>
					</div>
				</div>
			</div>

			<div class="flex-grid block" ng-if="community._id">
				<div>
					<i class="fa fa-fw fa-2x block--leading-icon fa-envelope"></i>
				</div>
				<div class="flex-1">
					<h2 translate="OUR_NETWORKS"></h2>
					<div class="medium-flex-grid">
						<label class="flex-1">
							<span translate="OUR_FACEBOOK"></span>
							<input placeholder="{{ 'EG' | translate }} https://www.facebook.com/profile" ng-model="community.facebook" type="url" ng-blur="updateUrl($event, community, 'facebook')" />
							<div class="form-error" ng-show="showError.social_networks['facebook']" translate="ERR_SOCIAL_NETWORK_NAME"></div>
						</label>
						<label class="flex-1">
							<span translate="OUR_TWITTER"></span>
							<input placeholder="{{ 'EG' | translate }} https://twitter.com/profile" ng-model="community.twitter" type="url" ng-blur="updateUrl($event, community, 'twitter')" />
							<div class="form-error" ng-show="showError.social_networks['twitter']" translate="ERR_SOCIAL_NETWORK_NAME"></div>
						</label>
					</div>
					<div class="medium-flex-grid">
						<label class="flex-1">
							<span translate="OUR_LINKEDIN"></span>
							<input placeholder="{{ 'EG' | translate }} https://www.linkedin.com/profile" ng-model="community.linkedin" type="url" ng-blur="updateUrl($event, community, 'linkedin')" />
							<div class="form-error" ng-show="showError.social_networks['linkedin']" translate="ERR_SOCIAL_NETWORK_NAME"></div>
						</label>
						<label class="flex-1">
							<span translate="OUR_GOOGLEPLUS"></span>
							<input placeholder="{{ 'EG' | translate }} https://plus.google.com/profile" ng-model="community.googleplus" type="url" ng-blur="updateUrl($event, community, 'googleplus')" />
							<div class="form-error" ng-show="showError.social_networks['googleplus']" translate="ERR_SOCIAL_NETWORK_NAME"></div>
						</label>
					</div>
					<div class="medium-flex-grid">
						<div class="flex-1">
							<label>
								<i class="fa fa-globe"></i>&nbsp;<span translate="OUR_WEB"></span>
							</label>
							<div ng-repeat="web in community.webs track by $index">
								<input placeholder="{{ 'EG' | translate }} https://www.myweb.com" ng-model="community.webs[$index]" type="url" ng-required="!$first" ng-blur="updateUrl($event, community.webs, $index)" />
								<div class="remove" ng-if="!$first" class="touchable" ng-click="community.webs.splice($index,1)">
									<i class="fa fa-times-circle"></i>
								</div>
							</div>
							<div class="form-error" ng-show="showError.social_networks['webs']" translate="ERR_INVALID_URL"></div>
							<div>
								<a ng-click="community.webs.push('')">
									<i class="fa fa-plus-square"></i>&nbsp;<span translate="ADD_NEXT_WEB"></span>
								</a>
							</div>
						</div>
						<div class="flex-1"></div>
					</div>
				</div>
			</div>

			<div class="display-flex flex-reverse flex-space-between">
				<button type="submit" class="button right" analytics-custom analytics-event="save profile" analytics-category="My community" analytics-value="5" translate="SAVE"></button>
				<a ng-if="!community._id" tabindex="0" ng-click="close()" class="revert-changes" translate="CANCEL_ADD_COMMUNITY"></a>
				<a ng-if="community._id" ui-sref="community.default({id: community._id})" class="revert-changes" translate="CANCEL_CHANGES"></a>
			</div>

		</form>

		<div ng-if="community._id">
			<hr />

			<!-- ==================================== Change message settings ================================== -->
			<div class="flex-grid block">
				<div>
					<i class="fa fa-fw fa-2x block--leading-icon fa-envelope"></i>
				</div>
				<div class="flex-1">
					<h2 translate="MESSAGES.0"></h2>
					<div class="medium-flex-grid">
						<form ng-submit="saveCommunityConversationSettings(messageSettings)" name="communityConversationSettings" class="flex-1">
							<div class="display-medium-flex flex-space-between flex-wrap flex-divided-large">
								<checkbox id="allowSendingToMembers" name="allowSendingToMembers" model="community.allow_message_to_members" value="true" value-off="false">
									<span translate="CONVERSATION.SETTINGS.ALLOW_SENDING_TO_MEMBERS"></span>
								</checkbox>
							</div>
							<div class="display-flex flex-reverse flex-space-between">
								<button type="submit" class="button" translate="SAVE"></button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<hr />
			<!-- ==================================== Change admin in community ================================ -->
			<div class="flex-grid block">
				<div>
					<i class="fa fa-fw fa-2x block--leading-icon fa-share"></i>
				</div>
				<div class="flex-1">
					<h2 translate="COMMUNITY_CHANGE_ADMIN"></h2>
					<div class="medium-flex-grid" ng-if="community.member_count > 1">
						<form ng-submit="confirmBox('COMMUNITY.DELEGATE_ADMIN_LABEL', 'COMMUNITY.DELEGATE_ADMIN_ARE_YOU_SURE', change, adminChangeId, this)" name="delegateForm" class="flex-1">
							<label>
								<span translate="COMMUNITY_SELECT_PERSON_TO_PASS_ADMIN"></span> &nbsp;
								<select ng-change="changeSelectValue(adminChangeId)" class="pass-admin-select select-style" ng-model="adminChangeId" ng-options="c._id as c.name for c in communityMembers"></select>
							</label>
							<div class="flex flex-reverse">
								<button type="submit" class="button" analytics-custom analytics-event="delegate admin community" analytics-category="My community" analytics-value="5" translate="COMMUNITY_CHANGE_ADMIN_BUTTON"></button>
							</div>
						</form>
					</div>
					<div ng-if="community.member_count == 1" translate="COMMUNITY_PASS_ADMIN_ONLY_WHEN_MORE_MEMBERS"></div>
				</div>
			</div>

			<hr />
			<!-- ==================================== Delete community ================================ -->
			<div class="flex-grid block">
				<div>
					<i class="fa fa-fw fa-2x block--leading-icon fa-minus-circle"></i>
				</div>
				<div class="flex-1">
					<h2 translate="COMMUNITY_DELETE"></h2>
					<div ng-if="community.member_count > 1">
						{{ 'COMMUNITY.COMMUNITY_HAS_X_MEMBERS.' + pluralCat(community.member_count) | translate:'{count: '+community.member_count+'}' }}, <span translate="COMMUNITY_DELETE_ANYWAY"></span>
					</div>
					<div ng-if="community.member_count == 1" translate="COMMUNITY_HAS_NO_OTHER_MEMBERS_BUT_DELETE"></div>
					<div class="flex flex-reverse">
						<button ng-click="confirmBox('COMMUNITY.COMMUNITY_REMOVE_LABEL', 'COMMUNITY.COMMUNITY_REMOVE_ARE_YOU_SURE', delete, null, this)" class="button right" translate="COMMUNITY_DELETE_BUTTON_ANYWAY"></button>
					</div>
				</div>
			</div>

		</div>

	</div>
	<div loading show="!loaded && !errorLoading"></div>
</div>