<div class="map">
	<article class="row">
		<section class="small-12 columns box" style="padding-top: 1em;">
			<div ng-cloak style="position:relative;">
				<input type="text" id="mapsearch" style="padding-left:2em;">
				<a class="fa fa-map-marker" ng-click="autodetectMyLocation()" title="{{'MARKETPLACE.MAP.GO_TO_CURRENT_LOCATION' | translate}}" style="position:absolute; left:15px; top:13px;"></a>
			</div>
			<map class="map-canvas" center="center" center-to="centerTo" ads="mapItems"></map>
		</section>
	</article>
</div>