<div class="social ">

	<!-- facebook -->
	<a class="foundicon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank"></a>

	<!-- Google Plus -->

	<a class="foundicon-google-plus" href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>

	<!-- twitter -->	
	<a href="https://twitter.com/share" class="foundicon-twitter" data-url="http://url" data-text="text" data-via="hearthnet" data-lang="cs" data-count="none"></a>
	<script>!function(d,s,id){
		var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	<!-- linkedin -->	
	<a class="foundicon-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A//developer.linkedin.com&title=LinkedIn%20Developer%20Network&summary=My%20favorite%20developer%20program&source=LinkedIn"></a>
</div>