input,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="file"],
select,
textarea,
button,
.button {
	border-radius: $new-border-radius;
	resize: none;
	margin-bottom: 0;
}

:not(form).ng-invalid:not(.ng-pristine),
:not(form).ng-invalid:not(.ng-pristine):focus {
	border: 2px solid $alert-color !important;
}

input[type="email"] {
	&.ng-invalid-email,
	&.ng-invalid-email_used {
		border-color: $ui-input-error-color !important;
	}
}

input[type="password"] {
	&.ng-invalid-minlength {
		border-color: $ui-input-error-color !important;
	}
}

textarea, input {
	&.ng-invalid-minlength, &.ng-invalid-maxlength {
		border-color: $ui-input-error-color !important;
	}
}

tags-input > div > .tags > input.input {
	border-width:0 !important;
	box-shadow: none !important;
}

/// all inputs except searchbox
input:not(#searchBox),
textarea,
tags-input > div > .tags,
.select2-container,
select {
	&:not(.input):not(.select2-input) {
		box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
		border: solid 1px $new-color-border !important;
		border-radius:$new-border-radius;
	}
	background-color: $new-color-input-bg !important;
	color: $new-color-darkgray !important;
	font-size: 14px;
	font-weight: 500 !important;
	min-height:40px !important;
}


/// all inputs focused
input:focus:not(#searchBox),
textarea:focus,
select:focus,
tags-input > div > .tags.focused,
.select2-container.select2-container-active {
	&:not(.input):not(.select2-input) {
		border: 1px solid $new-color-border !important;
		box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
	}
	background-color: $white !important;
	font-weight: 600 !important;
	color: $new-color-text !important;
}



select {
	// foundation triangle background position fix
	background-position: right -.5rem center;
}

// label,
.intl-tel-input {
	display: block
}
input,
textarea,
tags-input {
	width: 100%;
}
textarea{
	max-height: 200px;
}
.textarea-one-line {
	min-height: inherit;
	height: 24px;
}

// temp from profile edit
textarea,
tags-input.textarea-height > div > .tags {
	min-height: 100px !important;
}


.form-section {
	margin-bottom: $size-medium;

	.error {
		// 'block' makes sure we apply the margin all-right
		display: block;
		margin-top: $size-tiny;
	}

	// all possible form elements margin-bottom removal
	// label{margin-bottom: 0 !important;}
	input,
	select,
	textarea,
	.select2-container {
		margin-bottom: 0;
	}
}

.field-group {
	display: table;
	width: 100%;
	margin-bottom: 1rem;
	& > * {
		display: table-cell !important;
		margin-bottom: 0px !important;
	}
	.no-left-radius {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
	& > span {
		white-space: nowrap;
		border: 1px solid #dddddd;
		background-color: #f2f3f3;
		width: 1px;
		padding-left: 10px;
		padding-right: 10px;
		&.left-radius {
			border-right-width: 0px;
			border-bottom-left-radius: $global-radius;
			border-top-left-radius: $global-radius;
		}
	}
}

/// common form items, included as @extend
.item-box-forms {
	div.error {
		font-size: $ui-text-font-size;
		/*top: -2 * $ui-small-grid-size;*/
		margin-bottom: $ui-small-grid-size * 2;
	}
	// end fix stuff
	.head {
		top: 0;
		h1,
		h2 {
			font-size: $ui-title-font-size;
			font-weight: 700;
			word-wrap: break-word;
			margin: 0;
			padding: 0;
			line-height: $ui-title-font-size;
			height: $ui-title-font-size;
			text-align: left;
		}
		ul.message-line {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				color: $ui-color-disabled;
				margin-bottom: $ui-small-grid-size * 2;
				border-bottom: $ui-border-style;
				padding-bottom: $ui-small-grid-size * 2;
				font-size: 14px;
			}
		}
	}
}

.cancel-changes,
.cancel-changes:focus {
	color: $primary-color;
	font-weight: bold;
	&::before{
		content: '\f00d';
		display: inline-block;
		padding-right: $size-tiny;
		font: normal normal normal 14px/1 FontAwesome;
	}
}

.revert-changes,
.revert-changes:focus {
	color: $primary-color;
	font-weight: bold;
	&::before{
		content: '\f053';
		display: inline-block;
		padding-right: $size-tiny;
		font: normal normal normal 14px/1 FontAwesome;
	}
}

.help-text,
.form-error {
	margin-top: 0;
}


/* CUSTOM ALTERATIONS */
.suspend-textarea {
	max-height: 230px;
}