<article class="item-common temp-padding bubbled">
	<div loading show="!loaded"></div>
	<div class="row" ng-if="loaded">
		<section class="item-status-bar box small-12 margin-auto text-center" ng-if='(item && !isMine && (item.state === "suspended" && !item.title)) || (!itemDeleted && item === false) || (itemDeleted)'>
			<p class="margin-none" ng-show="item && !item.title && !isMine && item.state === 'suspended'">{{:: 'POST_WAS_SUSPENDED' | translate }}</p>
			<p class="margin-none" ng-show="!itemDeleted && item === false">{{:: 'POST_NOT_FOUND' | translate }}</p>
			<p class="margin-none" ng-show="itemDeleted">{{:: 'POST_WAS_DELETED' | translate }}</p>
		</section>
		<section ng-if="! itemDeleted && item && item.text" class="column small-12 padding-none" id="item_container_{{ item._id }}">
			<div class='row'>
				<div ng-if="!isActive" class="column small-12 large-8">
					<div class='item-status-bar' ng-if="item.state == 'expired'">
						<span ng-if="item.valid_until">{{:: 'POST_HAS_EXPIRED' | translate }} {{ item.valid_until | date:DATETIME_FORMATS.mediumDate }}</span>
						<span ng-if="!item.valid_until">{{:: 'POST_HAS_ALREADY_EXPIRED' | translate }}</span>
					</div>
					<div class="item-status-bar" ng-if="(!userHasRight('post.suspend')) && item.state === 'suspended'">
						<span>{{:: 'POST_WAS_SUSPENDED' | translate }}</span>
					</div>
				</div>
				<div class="column small-12 large-8" ng-init="local.showMap = false">
					<section class="box padding-none margin-bottom-large">
						<div class="box-content">
							<header class="item-section row">
								<div class="column small-8 small-push-4 medium-4 medium-push-8 text-right nowrap">
									<span class="color-dark-gray" title="{{item.updated_at | date:DATETIME_FORMATS.medium}}">{{item.updated_at | ago}}</span>

									<div class="dropdown-wrapper">
										<div class="display-inline-block touchable-wrapper margin-left-none position-relative" ng-if="!isMine">
											<div bubble-placeholder="bookmark-reminder"></div>
											<div bubble-placeholder="hide-post"></div>
											<span ng-click="removeReminder({event: $event, type: 'hide_post', reason: 'dropdown-arrow-click'}); removeReminder({event: $event, type: 'bookmark', reason: 'dropdown-arrow-click'})" class="action-dropdown touchable touchable-small touchable-match-line-height padding-vertical-none margin-left-medium round gray"
															title="{{:: 'POSTS.DETAIL.EXPAND_MORE_INFO' | translate }}" dropdown="#more-actions-{{ item._id }}" test-beacon="marketplace-item-dropdown-toggle">

												<!-- variant = 0 nebo 1, name = pojmenovani testu -->
												<ab-test variant="0" name="'sipka'">
													<i class="fa fa-fw fa-chevron-down"></i>
												</ab-test>

												<ab-test variant="1" name="'trojtecka'">
													<i class="fa fa-fw fa-ellipsis-v"></i>
												</ab-test>

											</span>
										</div>
										<ul class="actions-dropdown text-left" id="more-actions-{{ item._id }}" style="display:none;">
											<li>
												<!-- bookmark post -->
												<a ng-if="! isMine && item.is_bookmarked" ng-click="removeItemFromBookmarks(item)" test-beacon="marketplace-item-remove-bookmark">{{:: 'MARKETPLACE.POST.UNBOOKMARK_POST' | translate }}</a>
												<a ng-if="! isMine && !item.is_bookmarked" ng-click="addItemToBookmarks(item)" test-beacon="marketplace-item-add-bookmark">{{:: 'MARKETPLACE.POST.BOOKMARK_POST' | translate }}</a>
												<!-- bookmark post -->
											</li>
											<li>
												<!-- flag post -->
												<a ng-if="! isMine && item.spam_reported" title="{{:: 'REPORT_HARMFUL_AD_ONLY_ONCE' | translate}}" tipsy disabled>{{:: 'MARKETPLACE.POST.FLAG_POST' | translate }}</a>
												<a ng-if="! isMine && !item.spam_reported" title="{{:: 'REPORT_HARMFUL_AD' | translate}}" ng-click="openReportBox(item)">{{:: 'MARKETPLACE.POST.FLAG_POST' | translate }}</a>
												<!-- flag post -->
											</li>
											<li>
												<!-- hide post -->
												<a ng-if="! isMine && !item.is_hidden" title="{{:: 'HIDE_AD' | translate}}" ng-click="confirmBox('POST.SUSPEND.LABEL', 'POST.SUSPEND.ARE_YOU_SURE', hideItem, item, this)">{{:: 'MARKETPLACE.POST.HIDE_POST' | translate }}</a>
												<!-- /hide post -->
											</li>
											<li>
												<a ng-if="! isMine && item.admin_communities.length" title="{{:: 'MARKETPLACE.POST.REMOVE_FROM_COMMUNITY' | translate}}" ng-click="removeItemFromCommunity(item)">{{:: 'MARKETPLACE.POST.REMOVE_FROM_COMMUNITY' | translate }}</a>
											</li>

											<!-- admin only -->
											<li ng-if="userHasRight('post.suspend') && isActive">
												<hr />
											</li>
											<li ng-if="userHasRight('post.suspend') && isActive">
												<a class="elevated-authority-function" ng-click="(isActive ? ItemAux.confirmSuspend(item, this) : pauseToggle(item, 'confirm-pause-' + item._id))">{{ (isActive ? ("POST.SUSPEND.LABEL" | translate) : ("POST.RESUME.LABEL" | translate)) }}</a>
											</li>
											<!-- TODO: in future there will be another user privilegs then post.suspend -->
											<li ng-if='userHasRight("post.suspend")'>
												<a ng-if="!item.is_followed" class="elevated-authority-function" ng-click="followItem(item)">{{:: "POST.FOLLOW.LABEL" | translate}}</a>
												<a ng-if="item.is_followed" class="elevated-authority-function" ng-click="unfollowItem(item)">{{:: "POST.UNFOLLOW.LABEL" | translate}}</a>
											</li>
											<!-- /admin only -->
										</ul>
									</div>
								</div>
								<div class="column small-4 medium-8 small-pull-8 medium-pull-4 hide-for-large-up margin-bottom-small">
									<a ng-if="! hideAvatar" ng-href="{{:: getProfileLink(item.author._type, item.author._id) }}" class="display-inline-block position-relative">
										<avatar class="small-avatar-small" type="item.author._type" src="item.author.avatar.normal" size="normal"></avatar>
										<div class="item-option-bg-type by-avatar" ng-class="'item-option-bg-' + item.type">
											<i class="fa fa-fw" ng-class="(item.exact_type == 'loan' ? 'fa-clock-o' : 'fa-heart')"></i>
										</div>
									</a>
								</div>
								<div class="column small-12 medium-8 medium-pull-4">
									<h1 class='display-inline-block margin-right-medium'>
										<!-- <span ng-class='"color-" + item.type' translate='{{:: postTypes[item.author._type][item.type] }}'></span> -->
										<span ng-class="'color-' + item.type" translate="{{:: (item.exact_type != 'loan' ? postTypes[item.author._type][item.type] : (item.type == 'offer' ? 'LEND' : 'BORROW')) }}"></span>
										{{:: item.title}}
									</h1>
									<div class="clearfix" style="height:5px;" ng-if="item.title.length > 15">&nbsp;</div>
									<span class="validity-warning" ng-if="isExpiringSoon">{{:: 'POSTS.DETAIL.POST_EXPIRING_SOON' | translate }}</span>
									<div ng-if="item.edited_by_admin && userHasRight('post.suspend') && !isActive" class="error">{{:: 'POST.SUSPENDED_BY_ADMIN' | translate }}</div>
									<!-- TODO!!! add ngif and data -->
									<span class="fa fa-lock" ng-if="item.is_private" title="{{:: 'VISIBLE_FOR_FRIENDS' | translate }}"></span>
								</div>
							</header>
							<div class="item-section text-container word-break">
								<p class="margin-none" ng-bind-html="item.text | linky:'_blank' | nl2br"></p>
							</div>
							<ul lemmon-slider fancybox ng-if="item.attachments_attributes.length" class="item-section">
								<li ng-repeat="photo in item.attachments_attributes track by $index">
									<a class="fancy" ng-href="{{ photo.large }}" rel="{{ item._id }}">
										<img ng-src="{{photo.normal}}" />
									</a>
								</li>
							</ul>
							<div class="item-section">
								<div ng-if="!item.location_unlimited">
									<div class='display-flex flex-space-between flex-wrap'>
										<div>
											<span class='text-emphasize'>{{:: 'POSTS.DETAIL.LOCATION_HEADING' | translate }}</span>
										</div>
										<div class="map-expand-toggle" ng-if="item.locations.length && !item.location_unlimited" ng-init="local.showMap = !isMine && item.locations && item.locations.length && !item.location_unlimited">
											<a ng-show="!local.showMap" ng-click="local.showMap = true">{{:: 'POSTS.DETAIL.SHOW_MAP' | translate }}
												<i class="fa fa-chevron-down"></i>
											</a>
											<a ng-show="local.showMap" ng-click="local.showMap = false">{{:: 'POSTS.DETAIL.HIDE_MAP' | translate }}
												<i class="fa fa-chevron-up"></i>
											</a>
										</div>
									</div>
									<div class='margin-bottom-small'>
										<ul class="no-list">
											<li ng-if="item.location_unlimited">{{:: 'POSTS.DETAIL.LOCATION_ANYWHERE' | translate }}</li>
											<li ng-repeat="location in item.locations track by $index">
												{{ location.address }}
											</li>
										</ul>
									</div>
									<map-items ng-if="local.showMap" class="map" style="height:300px;" items="item.locations" zoom-on-scroll="false"></map-items>
								</div>
								<div class="text-emphasize" ng-if="item.location_unlimited">{{:: 'POSTS.DETAIL.LOCATION_ANYWHERE_HEADING' | translate }}</div>
							</div>
							<div class="item-section tags" ng-if="item.keywords.length">
								<ul class="tagList">
									<li ng-repeat="tag in item.keywords">{{tag}}</li>
								</ul>
							</div>
						</div>
						<footer>
							<div class='display-flex flex-wrap flex-space-between'>
								<div class=''>
									<div class='display-flex flex-wrap'>
										<div class='padding-right-small' ng-if="isMine">
											<div class="touchable-wrapper">
												<a class='touchable' title="{{:: 'POST.EDIT.LABEL' | translate }}" ng-click="editItem(item)">
													<i class="fa fa-fw fa-pencil"></i>
												</a>
												<a class='touchable' title="{{:: 'POST.RESUME.LABEL' | translate }}" ng-if="!isActive" ng-click="pauseToggle(item, 'confirm-pause-'+item._id)">
													<i class="fa fa-fw " ng-class="{'fa-refresh': item.state == 'expired', 'fa-play': item.state == 'suspended'}"></i>
												</a>
												<a class='touchable' title="{{:: 'POST.SUSPEND.LABEL' | translate }}" ng-if="isActive" ng-click="confirmBox('POST.SUSPEND.LABEL', 'POST.SUSPEND.ARE_YOU_SURE', pauseToggle, item, this)">
													<i class="fa fa-fw fa-pause"></i>
												</a>
												<a class='touchable' title="{{:: 'POST.REMOVE.LABEL' | translate }}" ng-click="confirmBox('POST.REMOVE.LABEL', 'POST.REMOVE.ARE_YOU_SURE', deleteItem, item, this)">
													<i class="fa fa-fw fa-times"></i>
												</a>
											</div>
										</div>
										<div class='padding-right-large'>
											<button ng-if="!item.is_replied && !isMine" ng-click="replyItem(item)" class="button" ng-class=':: "background-" + item.type' ng-bind-html="replyLabel[item.type] | translate"></button>
											<span ng-if="item.is_replied">
												{{:: 'YOU_HAVE_ALREADY_REPLIED_TO_THIS_POST' | translate }}
											</span>
										</div>
										<div class=''>
											<div ng-if="item.reply_count" ng-bind-html="replyCountTexts[item.type]+'.'+pluralCat(item.reply_count) | translate:{value: item.reply_count}"></div>
											<div ng-if="!item.reply_count">{{:: 'NO_REPLY' | translate }}</div>
										</div>
									</div>
								</div>
								<div class=''>
									<div class='touchable-wrapper touchable-inverted-round'>
										<a analytics-custom analytics-event="Share" analytics-category="Link" class='touchable' analytics-label="Share post link" title="Link" href="" ng-click="openLinkSharingBox(item)">
											<span class="fa-stack">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-link fa-stack-1x fa-inverse"></i>
											</span>
										</a>
										<a analytics-custom analytics-event="Share" analytics-category="Email" class='touchable' analytics-label="Share post by email" title="Email" href="" ng-click="openEmailSharingBox(item)">
											<span class="fa-stack">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
											</span>
										</a>
										<a analytics-custom analytics-event="Share" analytics-category="Facebook" class='touchable' analytics-label="Share post on facebook" sharing-window title="Facebook" ng-href="{{socialLinks.facebook+postAddress}}" target="_blank">
											<span class="fa-stack">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
											</span>
										</a>
										<a analytics-custom analytics-event="Share" analytics-category="Google+" class='touchable' analytics-label="Share post on google+" sharing-window title="Google+" ng-href="{{socialLinks.gplus+postAddress}}" target="_blank">
											<span class="fa-stack">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
											</span>
										</a>
										<a analytics-custom analytics-event="Share" analytics-category="Twitter" class='touchable' analytics-label="Share post on twitter" sharing-window title="Twitter" ng-href="{{socialLinks.twitter+postAddress}}" target="_blank">
											<span class="fa-stack">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
											</span>
										</a>
									</div>
								</div>
							</div>
						</footer>
					</section>
					<section class="box sectioned-box" ng-if="isMine" scroll-to-view-on-hash="replies">
						<header>
							<h1 ng-if="replies.length">{{:: 'POSTS.DETAIL.REPLIES' | translate }}</h1>
							<div class="text-center margin-top-small" ng-if="!replies.length">{{:: 'POSTS.DETAIL.NO_REPLY' | translate }}</div>
						</header>
						<article ng-repeat="(id, item) in replies track by item._id" class='box-section'>
							<section class='display-table'>
								<div class='display-table-cell addon user'>
									<div info-box="item.message.author" infobox-index="$index" infobox-class="'on-item-detail'">
										<avatar src="item.message.author.avatar.normal" type="item.message.author._type" href="getProfileLink(item.message.author._type, item.message.author._id)"></avatar>
									</div>
								</div>
								<div class='display-table-cell'>
									<div class="row">
										<div class="column small-12 medium-display-table margin-bottom-small">
											<div class='medium-display-table-cell'>
												<span class="text-emphasize">{{ item.message.author.name }}</span>
											</div>
											<div class="medium-display-table-cell addon nowrap date" title="{{item.created_at | date:DATETIME_FORMATS.medium}}">
												<i class="fa fa-clock-o"></i>&nbsp;{{ item.created_at | ago }}
											</div>
										</div>
										<div class="column small-12">
											<p class='word-break' ng-bind-html="item.message.text | linky:'_blank' | nl2br"></p>
										</div>
										<div class="column small-12 text-right">
											<a ng-href="{{:: getProfileLink(item._type, item._id) }}">
												{{:: 'PROFILE.REPLIES.GO_TO_CONVERSATION' | translate }}&nbsp;
												<i class="fa fa-comments-o"></i>
											</a>
										</div>
									</div>
								</div>
							</section>
						</article>
					</section>
				</div>

				<div class="column large-3 end has-delimiter show-for-large-up">
					<div class='text-center margin-bottom-medium'>
						<a ng-href="{{ getProfileLink(item.author._type, item.author._id) }}" class='user v2 position-relative display-block'>
							<avatar class='margin-top-medium ' type="item.author._type" src="item.author.avatar.large" size="medium"></avatar>
							<div class='text-emphasize margin-vertical-small'>{{ item.author.name }}</div>
							<karma-bar for="item.author"></karma-bar>
							<div class="item-option-bg-type by-avatar" ng-class="'item-option-bg-' + item.type">
								<i class="fa fa-fw" ng-class="(item.exact_type == 'loan' ? 'fa-clock-o' : 'fa-heart')"></i>
							</div>
						</a>
					</div>
					<div ng-if="profile">
						<user-intel-readout entity="profile" type="'informative'"></user-intel-readout>
						<div class="line">
							<div class="social fleft">
								<a target="_blank" ng-if="item.author.twitter" href="{{item.author.twitter}}">
									<i class="fa fa-twitter-square"></i>
								</a>
								<a target="_blank" ng-if="item.author.facebook" href="{{item.author.facebook}}">
									<i class="fa fa-facebook-square"></i>
								</a>
								<a target="_blank" ng-if="item.author.googleplus" href="{{item.author.googleplus}}">
									<i class="fa fa-google-plus-square"></i>
								</a>
								<a target="_blank" ng-if="item.author.linkedin" href="{{item.author.linkedin}}">
									<i class="fa fa-linkedin"></i>
								</a>
							</div>
							<div class="text-right">
								<a class="profile-link" ng-href="{{:: getProfileLink(item.author._type, item.author._id)}}">{{:: 'WHOLE_PROFILE' | translate }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<article class="fulltext" ng-if="showRelated">
			<section ng-class="{'large-8 small-12': item && item.text, 'large-12 small-12': item && !item.text}" class="column box margin-bottom-20">
				<header>
					<p>{{:: 'POSTS_RELATED_QUESTION' | translate }}</p>
				</header>

				<article ng-repeat="item in items" class="row search-item" ng-switch="item._type">
					<section class="large-2 small-3 medium-2 columns text-center">
						<div info-box="item.author || item">
							<avatar src="item.avatar.normal" href="getProfileLink(item.author._type || item._type, item.author._id || item._id)" type="item.item_type"></avatar>
						</div>
					</section>
					<section class="large-10 small-9 medium-10 columns">
						<div>
							<div class="row headline">
								<div class="title columns" ng-class="{'small-12 medium-8 large-8': item._type === 'Post'}">
									<i ng-switch-when="Post">
										<img ng-if="item.type === 'offer'" ng-src="/app/images/arrow-give.svg" width="20" />
										<img ng-if="item.type === 'need'" ng-src="/app/images/arrow-receive.svg" width="20" />
									</i>

									<i class="fa" ng-class="{'fa-user': item._type === 'User', 'fa-group': item._type === 'Community'}" ng-if="item._type != 'Post'"></i>
									<a class="title" ng-href="{{getProfileLink(item._type, item._id)}}">
										<span ng-switch-when="Post" ng-bind-html=":: postTypes['User'][item.type] | translate"></span>
										<span ng-if="item.title && !item.highlight.title[0]" ng-bind-html="item.title"></span>
										<span ng-if="item.title && item.highlight.title[0]" ng-bind-html="item.highlight.title[0] | to_trusted"></span>
										<span ng-if="!item.title && !item.highlight.first_name[0]" ng-bind-html="item.first_name"></span>
										<span ng-if="!item.title && item.highlight.first_name[0]" ng-bind-html="item.highlight.first_name[0] | to_trusted"></span>
										<span ng-if="!item.title && !item.highlight.last_name[0]" ng-bind-html="item.last_name"></span>
										<span ng-if="!item.title && item.highlight.last_name[0]" ng-bind-html="item.highlight.last_name[0] | to_trusted"></span>
										<span ng-if="item._type == 'Community' && item.name && !item.highlight.name[0]" ng-bind-html="item.name"></span>
										<span ng-if="item._type == 'Community' && item.name && item.highlight.name[0]" ng-bind-html="item.highlight.name[0] | to_trusted"></span>
									</a>
									<span ng-if="item.author.name" class="author">({{item.author.name}})</span>
								</div>
								<div ng-switch-when="Post" class="date small-12 medium-4 large-4 columns" title="{{item.updated_at | date:DATETIME_FORMATS.medium}}">
									<i class="fa fa-clock-o"></i> {{item.updated_at | ago}}
								</div>
							</div>
							<div ng-if="item.edited_by_admin && userHasRight('post.suspend') && !item.isActive" class="error margin-top-small margin-bottom-small">{{:: 'POST.SUSPENDED_BY_ADMIN' | translate }}</div>

							<div class="info">
								<div class="location">
									<span ng-if="item.location_unlimited">
										<i class="fa fa-map-marker"></i>&nbsp;{{:: 'MARKETPLACE.POST.LOCATION_ANYWHERE_HEADING' | translate }}
									</span>
									<span ng-if="!item.location_unlimited || item.locations.length">
										<span ng-repeat="(locationId, location) in item.locations" ng-if="location.short_address">
											<i class="fa fa-map-marker" ng-if="$first"></i>&nbsp;{{ location.short_address }}
											<span ng-if="!$last">;</span>
										</span>
									</span>
								</div>
							</div>
						</div>

						<p ng-switch-when="Post">
							<span ng-if="item.text && !item.highlight.text[0]">{{item.text | ellipsis: 150}}</span>
							<span ng-if="item.text && item.highlight.text[0]" ng-bind-html="item.highlight.text[0] | to_trusted"></span>
						</p>
						<p ng-switch-when="User">
							<span ng-if="item.about && !item.highlight.about[0]">{{item.about | ellipsis: 150}}</span>
							<span ng-if="item.about && item.highlight.about[0]" ng-bind-html="item.highlight.about[0] | to_trusted"></span>
						</p>
						<p ng-switch-when="Community">
							<span ng-if="item.description && !item.highlight.description[0]">{{item.description | ellipsis: 150}}</span>
							<span ng-if="item.description && item.highlight.description[0]" ng-bind-html="item.highlight.description[0] | to_trusted"></span>
						</p>
					</section>
				</article>
			</section>
		</article>

	</div>
</article>